[2022-03-26 19:21] sourabh1007 commented on #3058
1. Makes Sense
2. `db.cosmosdb.account ` yes example should be `sourabhjaintemp `.
3. Cosmosdb doesn't make any network call to a particular URL (it makes call to different URL on the basis of metadata information) , I don't think `net.peer.name` makes sense here. If it is something which is mandatory, then may be we can decide some workaround (or most close value to have).
4. Content Length are h

[2022-03-28 11:42] j82w commented on #3099
The diagnostics would still always collect everything. The ToString() logic would simply do the filtering to remove traces that are to small to have any impact on the latency so they don't help and just create noise.

[2022-03-28 16:15] j82w commented on #3099
The number of store responses should be limited to the first 10 and last 5. There are scenarios for 404/1002 that can be retried hundreds of times causing the diagnostics to be massive. All the store responses in the middle are not needed because looking at the first and last gives a good enough understanding of the scenario. Limiting the count will reduce the string size without impacting trouble

[2022-03-28 19:28] ealsur opened #3117 "Performance: Reduce Array (byte[]) allocations for TCP connections"
Current design allocates one buffer (byte[]) per each TCP connection established.

For every Microsoft.Azure.Documents.Rntbd.Connection object present, there is one buffer (represented by byte[]). In scenarios where the volume of connections is high (for example, accounts with a large number of partitions), the number of allocations increases.

Ideally this can be avoided by sharing the same buffe

[2022-03-28 19:56] sourabh1007 opened #3118 "AI Integration: Different Telemetry Levels"
Add different Levels to emit telemetry data:
1) Basic : only cosmosDb calls with relevant attributes  (By default)
2) Enhanced : CosmosDb calls with corresponding HTTP/TCP calls
3) Full : Show whole lifecycle of a request

[2022-03-29 07:21] Kek5chen commented on #3056
Since there were no more response since last month i pulled the repo and fixed the bug myself.

[2022-03-29 07:21] #3056 closed

[2022-03-29 17:42] ealsur commented on #3056
@Kek5chen can you share what exactly was the bug fix and which files were changed?

[2022-03-29 17:50] rsciriano commented on #3116
You can reproduce the error with `pkNumber = 77000500011179641`

I think the problem could be in the conversion from long type to PartitionKey type (or the internal use that is made of this value)

![image](https://user-images.githubusercontent.com/2356403/160673433-042370c7-7017-49a5-9317-508d66c5438c.png)

[2022-03-29 19:49] lmolkova commented on #3058
Can we use a full hostname like `sourabhjaintemp.documents.azure.com`? Could be important for non-global, non-public clouds.

Also, is there ever a case where non-default port is used on client side? E.g. from behind a proxy?

[2022-03-30 07:42] Djangoum commented on #3116
Hi! No, my partitionKey is only my /clientId field, as @rsciriano commented out there is an example of a partitionKey value of our database and how is passed to the PartitionKey struct.

[2022-03-30 09:43] Djangoum commented on #3116
Hi all,

We've been browsing through SDK source code and making many tests and we realised that the conversion from big long values as  @rsciriano pointed out to double is the root cause of the problem.

We've been using these partitionKey values since 2 years ago and as we had no "Query" statements or "Get" (point operations) with these partitionKey values (everything was retrieved using Query sp

[2022-03-30 11:11] FabianMeiswinkel commented on #3058
@lmolkova  we intentionally used an identifier which can't be resolved into a real hostname/port. The traces above are logical requests (they might end-up hitting x endpoints). net.peer.name and net.peer.port form the name (and semantic usage of how other databases are using it) indicates that this would be a physical network endpoint. You mentioned that an identifier that can be used to identify

[2022-03-30 17:57] lmolkova commented on #3058
@FabianMeiswinkel, thanks for the context and it makes total sense. My only worry is that  `sourabhjaintemp` does not include any identifier of the cloud. We can leave it there for now and later come up with a cross-service attribute for the cloud that can be omitted for a global one to save some bandwidth.

[2022-03-31 05:06] lmolkova commented on #3058
Been playing with attributes, a few more points:
- `db.cosmosdb.machine_id` - all APM tolls usually have some unique instance id. AzureMonitor has it too, there is no need to define your own attribute.
- `db.cosmosdb.service_endpoints_contacted` - should it be an event attribute? Do you expect any special treatment for this property?
- `db.cosmosdb.regions_contacted` - what data you expect to be t

[2022-04-01 08:49] admo-1 opened #3126 "No way to detect empty results using GetItemQueryIterator"
**Is your feature request related to a problem? Please describe.**
As of now, it seems that there is no elegant solution to know whether `GetItemQueryIterator` returned an empty result or not, since it contains results.

**Describe the solution you'd like**
It would be interesting to add a property to the `FeedIterator` class, something like `IsEmpty`.

**Describe alternatives you've considered**

[2022-04-01 12:59] j82w commented on #3126
Hi @admo-1 ,

Is there any reason the Count property on the FeedResponse doesn't work?
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/ad2e47a0c882c797bf40d256629a2a334a8314d3/Microsoft.Azure.Cosmos/src/Query/v3Query/FeedResponse.cs#L43

[code]

[2022-04-01 13:43] lommez opened #3128 "ReadNextAsync returns null value for first iteration"
Hi,

I'm executing a query without using the partition key, but using some properties as a key to bring just one document.

For the first call of the ReadNextAsync, the resource is null.
Is that a bug even querying a specific document that exists?  Or I need to use "while" instead of just checking the iterator property "HasMoreResults" ?

Here is the evidence showing my cenario:

![CosmosDB ReadNe

[2022-04-01 14:18] j82w commented on #3128
1. Empty pages are expected. It's explained here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-query-performance#common-sdk-issues
2. It should use while(iterator.HasMoreResults) to full drain the query. https://github.com/Azure/azure-cosmos-dotnet-v3/blob/0aa04564674584ca75d2f287864a3abc3b8b7f3a/Microsoft.Azure.Cosmos.Samples/Usage/Queries/Program.cs#L197
3. If possible speci

[2022-04-01 17:07] hemantbajpai4 opened #3129 "Aggregate queries not taking concurrency and working sequentially"
Hi,

We used v3 sdk to perform aggregate query in an account and it took more than 30 minutes to execute. Account had more than 256 partitions and 11 tb of data. Based on discussion on this icm https://portal.microsofticm.com/imp/v3/incidents/details/297760314/home it seems query was executed sequentially instead of using concurrency provided in the input. Please provide fix of this issue.

Thanks

[2022-04-01 17:48] j82w commented on #3129
@timsander1 and/or @neildsh can you please take a look?

[2022-04-01 18:22] lommez commented on #3128
Thanks @j82w !!

[2022-04-01 18:36] #3128 closed

[2022-04-04 12:47] sourabh1007 opened #3130 "Client Telemetry: Record Failed replica information in telemetry"
Plan is store failed replica information using client telemetry.

Few ways to store this information:
1.  Replicaid  with corresponding stats related to failures,
e.g.
<4325536774>s => 10 Failures

[2022-04-04 16:54] sourabh1007 opened #3132 "Client Telemetry: Record TCP connection latency"
This issue is created to populate TCP connection latency for new channel same as Java.

https://github.com/Azure/azure-sdk-for-java/pull/26393

[2022-04-04 21:43] sourabh1007 commented on #3058
1.` db.cosmosdb.machine_id `: we can remove it..if we are able to filter and identify if failures are coming from same machine or different machine.
2. ` db.cosmosdb.regions_contacted` :  CosmosDb call can failover to mutiple regions. This value can help us to identify if problem is in some particular region. So cover those scenarios where we are expecting/not expecting failovers.
We would need an

[2022-04-04 21:52] FabianMeiswinkel commented on #3058
`db.cosmosdb.machine_id` - the captured machine Id if available will be the "Azure VM Unique ID" (https://azure.microsoft.com/en-us/blog/accessing-and-using-azure-vm-unique-id/) - main purpose to try to capture this identifier is to simplify getting the containerId and/or nodeId which are required to start any Network Investigation (via aka.ms/netvma or when you try to engage the CloudNet teams).

[2022-04-04 22:20] lmolkova commented on #3058
Azure Monitor supports reading Azure-service specific identifiers (on Functions, AppServices, Azure VMs) and falls back to machine name, which in container environments, I believe, is container id. There is no need to replicate this complicated logic.

[2022-04-04 22:32] FabianMeiswinkel commented on #3058
Agreed as long as there is really an easy way to get containerId/nodeId from what is getting logged. I can just tell form past experience that neither on Azure Functions (automatic logging) nor App Services (manual logging) there has been an easy way for customers to find this info when they logged to AppInsights.
I am happy to test this if someone from AzureMonitor can provide the Kust query or s

[2022-04-06 13:34] #2956 closed

[2022-04-06 23:58] cosmosdbnotebooks commented on #3106
The performance of StartsWith should always be the same or better than LIKE. Could you share an example query and activityId (if possible)?

[2022-04-06 23:59] timsander1 commented on #3106
The performance of StartsWith should always be the same or better than LIKE. Could you share an example query and activityId (if possible)?

[2022-04-07 14:18] j82w commented on #3114
This is likely a failure in the collection. How about adding a new array to log any exception that occurs when collecting the telemetry?

[2022-04-07 21:56] #2931 closed

[2022-04-08 08:28] masonyc opened #3136 "Resource not found when reading item with PartitionKey.None"
**Describe the bug**
When calling container.ReadItemAsync with PartitionKey.None, cosmos sdk throws item not found with 404 status code. However, I can retrieve the item when providing the correct partition key.

**To Reproduce**
Create a cosmos document with partition key, call container.ReadItemAsync with  PartitionKey.None.

**Expected behavior**
Item should be retrieved from cosmos when Partit

[2022-04-08 11:41] j82w commented on #3136
Specifying the wrong partition key value will cause a not found exception. Cosmos uses the id and partition key value to uniquely identify an item stored in Cosmos. The partition key is used to determine which partition is needs to be routed to and the id tells which item in that partition. The PartitionKey.None is used when the item does not have the partition key defined.

[2022-04-08 11:41] #3136 closed

[2022-04-08 13:24] HMoen commented on #2963
Hello @j82w , actual behavior described above remains in package version 3.26.1. Any updates?

[2022-04-08 14:16] j82w commented on #2963
@timsander1 can you please give an update?

[2022-04-08 14:48] HMoen commented on #2386
@ivancavlek , even adding the JsonConverter as a property level attribute does not work for me using 3.26.1.

Not ideal, but this works:
[code]

[2022-04-08 18:43] mattmsft commented on #1910
I have hit this issue as well

.net v3 SDK version 3.25.0
Repro:
[code]

How can we parse the response body, or some other exception field to get the true syntax error? My output:
[code]
there's much more in the stack trace, truncated for readability

[2022-04-08 21:41] topagarwal commented on #3014
We are still this issue. Now it is coming even for simple reads. Client times out at 2 seconds and hence the cancellation token. Wondering why should read take over 2 seconds. Can you please provide a fix for this? This is impacting our Prod services.
Increasing timeout on read queries is not possible for our Production environment as it will lead to our SLO violations.

`The operation was cancele

[2022-04-08 21:44] ealsur commented on #1910
The issue seems to be related to:
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Query/Core/QueryPlan/QueryPlanRetriever.cs#L77-L81

The innerException is not getting populated when creating the BadRequest exception on the query plan.

[2022-04-09 00:35] j82w opened #3138 "Diagnostics: Contacted replicas duplicates"
The contacted replicas are not deduplicating causing the diagnostics to be to large.

https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3014#issuecomment-1093381933
Example:

[code]

[2022-04-09 00:38] j82w commented on #3014
Please [contact support](https://aka.ms/azure-support) for help with the above issue. This looks like issue in the service causing the SDK to retry multiple times.

[2022-04-11 08:14] Mortana89 commented on #3092
Small update here from AZ Support;
[code]

[2022-04-11 17:06] ealsur commented on #3014
To give a bit more details on what the issue is:

[code]

This means the delay is coming from 285 calls meant to confirm consistency. Either the account is on Strong or Bounded Staleness consistency, the SDK after performing the operation verifies the quorum, and it's waiting on quorum to be achieved. That high number of quorum calls means something is not right on the service, for some reason, qu

[2022-04-11 18:28] trojanpie commented on #2821
@ernesto1596 is somebody working on this issue ?

[2022-04-11 19:18] ealsur opened #3139 "Query: Avoid layering of TryCatch/Monads"
Current TryCatch/Monad design can lead to a scenario like https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3137, where the components invoking TryCatch generate one layer after another of TryCatch wrapping.

[code]

In the end, the only way to discover the real exception or error is unwrapping the whole TryCatch stack.

It would be better if the TryCatch design could simply allow the original

[2022-04-11 19:49] j82w opened #3140 "Availability: Adaptive connection timeout"
Currently the create connection timeout is a hard coded value. This is often significantly higher than necessary and can impact latency. This is necessary because if a customer is talking to a local region vs a region that is across the globe has a different minimum timeout. The current default supports the slower scenario where it is connecting across the globe.

The solution:
Adaptive timeout ba

[2022-04-11 22:27] #1910 closed

[2022-04-12 16:00] DmitryKhilyai commented on #2067
Is it possible to update Azure Function [trigger](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/dev/src/WebJobs.Extensions.CosmosDB/CosmosDBAttribute.cs) with FeedMode setting?

[2022-04-12 17:21] kirankumarkolli commented on #3140
Any level to cover for highly sensitive P99?
In other words is P99 get revisited on failures? (ex: exponential/reset)?

[2022-04-12 17:48] j82w commented on #3140
Thinking about error scenarios it would be better to add a buffer to avoid causing unnecessary failures. P99 + 5% to give some room for error on new connections.

Ideally in this scenario the replica should be marked as unhealthy, and the SDK start a background task that refreshes the cache. Then it tries to connect to the replica again. If it succeeds then the P99 would be updated using the new c

[2022-04-12 17:48] sourabh1007 commented on #3140
It will be an overhead to have it in SDK. SDK generally runs on memory/CPU sensitive environment, To have this kind of calculation is really an overhead (already we are going to add overhead with client telemetry and open telemetry). I would avoid any such calculation in SDK.
Instead of that, we can check if ApplicationRegion and Cosmosdb region is same, then some hardcoded timeout value else some

[2022-04-12 17:52] j82w commented on #3140
@sourabh1007 calculating this value will not add any significant overhead to the SDK, and the improvement to the latency will be significant.

[2022-04-12 18:02] kirankumarkolli commented on #3140
Another alternative is #count of global timeouts and adjust the timeout accordingly?

[2022-04-12 18:24] j82w commented on #3140
@sourabh1007
1. Application region by Azure instance is not reliable and not guaranteed. This makes the perf and reliability inconsistent.
2. This is connection create time which averages closer to 200ms which would be 210ms. This is only on connection create operations so it should not be updated after initialization unless there are upgrades and/or failover.
@kirankumarkolli
I agree that there s

[2022-04-12 21:09] ealsur commented on #2067
@DmitryKhilyai, Full Fidelity is still in private preview. When the feature GAs we will certainly add Functions support, it is part of the roadmap.

[2022-04-13 12:12] WuZiHong opened #3143 "How to compare 2 IndexingPolicy"
Hey guys,

I'm using the .net core cosmos DB sdk and have a small question: How to compare 2 cosmos container CompositeIndexes? I saw that the SDK already contains the [CompositeIndexesEqualityComparer ](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/3c6d747326c893eb17c31645282e536938c563af/Microsoft.Azure.Cosmos/src/Resource/Settings/IndexingPolicy.cs#:~:text=private%20sealed%20class%20Comp

[2022-04-14 13:55] festivus opened #3144 "ChangeFeedStartFrom confusion"
I'm confused by the change feed. I was hoping to be able to cycle through all the changes to a single document in a container from the beginning of the container, but it seems only the latest change is ever returned. So my question is what is the point of setting the ChangeFeedStartFrom when you only ever get the latest change?

[2022-04-14 14:12] bartelink commented on #3144
The changefeed presents all the documents/items in the container.
Within a given logical partition, you're guaranteed to see the oldest updates first.
If you see a give document along the journey, but it's updated after you saw it, you'll see it again.
That lets you maintain syncing of the latest state of everything.

The start point defines how far back in history you want to start from.

For ins

[2022-04-14 14:31] festivus commented on #3144
So, for me, when I see this comment "For instance, if you want to only sync stuff that's been inserted/updated in the last year, you can filter out older stuff using this mechanism.", i read that as i will see all updates. Should that really read "inserted/last updated"??

The documentation is confusing to me. I see things that lead me to believe that I can go back through a container item's histo

[2022-04-14 14:51] bartelink commented on #3144
If you obtained it from the changefeed 2s ago, and you update it in reaction to seeing it, you will see it again a second later.

Another observer may only see only the final state. I was seeking to convey that you are guaranteed to observe the final state.

I'd suggest raising issues on the doc site regarding anything that confuses you. It's definitely counterintuitive - the name does not help co

[2022-04-14 15:12] bartelink commented on #3144
OK but for avoidance of doubt, you can still miss updates. There's a loop polling the start of the thing. Any time an item is updated, it will move 'past your cursor', and you will see it again. But if you do two updates, and you don't move read and process the first one before it jumps ahead of your cursor again, you won't even be aware it had 2 updates. (Note also that you are only guaranteed to

[2022-04-14 15:19] festivus commented on #3144
Excellent explanation, thank you.

[2022-04-14 15:19] #3144 closed

[2022-04-14 16:12] j82w commented on #2821
@timsander1 can you please take?

[2022-04-14 18:26] topagarwal commented on #3014
To confirm we have Strong consistency.

[2022-04-14 19:05] ealsur commented on #3143
Given that the IndexingPolicy is serializable to JSON, have you tried simply serializing and comparing the strings? Or do you need to identify which indexes are different?

[2022-04-14 19:14] topagarwal commented on #3014
I've opened a support ticket using Azure portal. Will update this thread as it goes.

[2022-04-14 22:38] hkuadithya opened #3147 "Please support upgrading from Manual to Autoscale throughput via .NET SDK"
To be very honest, I've found working with CosmosDB SDK very frustrating. I speak as a Microsoft employee working on one of the Azure services.

It looks like the SDK supports only a subset of features supported on Portal. I was trying to upgrade the throughput to Autoscale for our prod CosmosDB containers using .NET SDK. It looks like changing the throughput type to autoscale is only supported in

[2022-04-15 15:00] #3143 closed

[2022-04-15 15:00] WuZiHong commented on #3143
Thank you ealsur, it works. I just need to know if the two CompositeIndexes are equal. 😁

[2022-04-19 23:56] aluty opened #3149 "Latest release of Microsoft.EntityFrameworkCore.Cosmos 6.0.4 has dependency Microsoft.Azure.Cosmos >= 3.21.0 which is less than minimum recommended version 3.25.0."
**Describe the bug**
Latest release of Microsoft.EntityFrameworkCore.Cosmos 6.0.4 has dependency Microsoft.Azure.Cosmos >= 3.21.0 which is less than minimum recommended version 3.25.0.

**To Reproduce**
Dependency shown under https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Cosmos
If referencing from a project,
    <PackageReference Include="Microsoft.EntityFrameworkCore.Cosmos" Versio

[2022-04-20 10:20] andersson09 opened #3150 "[Azure Function Isolated] Cosmos change feed listener starts before CreateContainerIfNotExistsAsync"
For isolated azure functions, I believe that the cosmos change feed tries to listen before containers have been created. Either that or I'm doing something wrong?

Thanks

**Setup:**

[code]

[code]

**Error message on local machine:**

The listener for function 'DoSomething' was unable to start. Microsoft.Azure.WebJobs.Extensions.CosmosDB: Either the source collection 'container' (in database 'db

[2022-04-20 11:28] j82w commented on #3149
Hi @aluty,

The Cosmos SDK team does not own that project. It seems like they already migrated to latest Cosmos version: https://github.com/dotnet/efcore/pull/27680. I'm going to transfer it to the correct repository so they can follow up with a release schedule.

[2022-04-20 11:29] #3149 closed

[2022-04-20 11:38] j82w commented on #3147
Why does your application need this?

The reason it is not supported is this usually points to an antipattern.
1. Switching to autoscale should be a 1 time operation. Putting a 1 time operation inside the application seems like a bad design because that will need to be cleaned up after it is ran, and unnecessarily complicates the application. The better model would be to have a one time script tha

[2022-04-20 14:24] ealsur commented on #3150
You might need to reach to Azure Functions. The Cosmos DB SDK does not dictate the order of how Azure Functions decides to load Functions or the Host and on which order.

[2022-04-20 14:27] ealsur commented on #3150
Closing as out of the scope of this repo. https://github.com/Azure/azure-functions-host might be a good candidate to ask how you can execute code before the runtime loads the declared Functions.

[2022-04-20 14:39] andersson09 commented on #3150
After some digging might be this repo: https://github.com/Azure/azure-webjobs-sdk-extensions?

[2022-04-20 17:08] hkuadithya commented on #3147
@j82w The reason for this is because your V2 CosmosDB SDK didn't support autoscale. Therefore, all our older databases provisioned using V2 SDK are using manual throughput.

I don't agree with your point about autoscale setting being used in Application code. You can easily retrieve the `Container` object and check if Autoscale is enabled. If it's not enabled, then you can write code in applicatio

[2022-04-20 18:04] ealsur commented on #3150
@andersson09 that repo just contains the bindings and extension definitions but it does not govern the runtime initialization order. Extension only scope to what happens when the Extension initializes, but what you are trying to do is execute some code *before* they initialize. That would mean interacting with the Host lifecycle.

[2022-04-20 18:09] andersson09 commented on #3150
@ealsur The error message is here https://github.com/Azure/azure-webjobs-sdk-extensions/blob/0683d1bd08a16680c70f982ad00c940b7e9c1fce/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerListener.cs#L140

[2022-04-20 18:17] j82w commented on #3147
The problem with the model above with large scale services how does it decide which instance will actually update the container? If this happens during an upgrade then it's possible hundreds or even thousands of requests are sent to that container as each one of the individual apps are restarted. This can cause metadata throttling which could negatively impact other apps that are restarting from t

[2022-04-20 20:10] ealsur commented on #3150
@andersson09 - Correct, but that error message is just the Extension saying that it cannot find the container, it has nothing to do with your intent to create the container before the Function is initialized. The Extensions start when the Host/Runtime tell them to start, they do not have control over when that happens.

What is happening is that you have some code that you want to run before the H

[2022-04-21 06:06] ivancavlek commented on #2386
@j82w, @sboshra, please reopen this issue.

[2022-04-21 12:02] j82w commented on #2386
@timsanders1 can you please take a look.

[2022-04-21 12:25] #3138 closed

[2022-04-21 12:28] j82w commented on #3052
Closing because almost all SDK caches have moved to nonblocking implementation which does not have this issue.

[2022-04-21 12:28] #3052 closed

[2022-04-21 12:50] atsapura opened #3151 "Expose connection string constructors for DocumentClient"
`DocumentClient` has multiple public constructors which take various forms of endpoints and auth keys, but none that consumes a connection string. It brings inconsistency in usage with e.g. `CosmosDb(Trigger)` attributes.

This becomes especially painful when you use centralized configuration, e.g. Azure App Configuration, because you can't just have separate values for auth key and endpoint, sinc

[2022-04-21 14:46] j82w opened #3152 "QueryDefinition.WithParameterStream causes System.ArgumentException: Stream was not readable."
The query definition holds the memory stream passed in by the user. That stream is then read and disposed of to send the query over the wire. The issue is the query plan will be serialized multiple times for cross partition queries and for scenarios where the query plan can not be generated locally. Reserializing the query plan seems to be by design because the query plan can rewrite the query.

T

[2022-04-21 15:05] j82w opened #3153 "Query: Missing results with custom serializer or streams in query definition"
The custom serializer is not applied when the query plan is generated locally. This can cause it to not generate the correct query plan which could target the wrong partition if the query is filtered by the partition value.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/1ee228cf6b38c0288d0592eb72ba632c4b7ccfa7/Microsoft.Azure.Cosmos/src/Query/Core/QueryPlan/QueryPartitionProvider.cs#L169

[2022-04-21 18:16] j82w commented on #3151
CosmosClient does have a public constructor that takes in the connection string.
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/1ee228cf6b38c0288d0592eb72ba632c4b7ccfa7/Microsoft.Azure.Cosmos/src/CosmosClient.cs#L176

[2022-04-21 18:16] #3151 closed

[2022-04-21 22:16] atsapura commented on #3151
The issue is about `DocumentClient`, not `CosmosClient`. Why did you close it?

[2022-04-21 23:37] j82w commented on #3151
This GitHub repo is for the .NET v3 Cosmos DB SDK. The DocumentClient is the v2 SDK is in the process of being deprecated. The[ v2 SDK github repo is here](https://github.com/Azure/azure-cosmos-dotnet-v2), but only critical bug fixes are being done.  Why are you asking for a feature to be back ported to the older SDK?

[2022-04-22 11:46] atsapura commented on #3151
There's [DocumentClient](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/DocumentClient.cs) in this repository as well. Can you add the discussed constructor in it?

[2022-04-22 16:31] j82w commented on #3151
The DocumentClient is left over from the v3 refactoring. You will notice the file is internal.

Is there any reason you are not migrating the v3 CosmosClient which has the API you want?

[2022-04-22 18:59] #2847 closed

[2022-04-22 20:27] johngallardo opened #3156 "Allow creation of Containers without partition keys in the SDK"
**Is your feature request related to a problem? Please describe.**
My scenario is that I am using the CosmosDB Emulator in a local test environment. I need the Emulator to be configured for Gremlin connectivity. This creates a constraint whereby I cannot create a partitioned container on the "id" key (this is apparently a limitation of Gremlin API CosmosDB). My test scenario *also* requires me to

[2022-04-22 21:24] ealsur commented on #3156
CFP works with Gremlin containers: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2491

[2022-04-22 21:24] #3156 closed

[2022-04-25 07:25] AleksuKey commented on #3116
Hi @j82w @ealsur, did you have the change to check last @Djangoum and @rsciriano comments? Thanks!

[2022-04-25 09:08] sourabh1007 opened #3157 "Client Telemetry: Stop telemetry job after few number of failures"
With current design, Telemetry job will keep running in background even it is failing continuously.

So, idea is to stop this job after certain number of failures.

[2022-04-25 11:18] j82w opened #3158 "Update documentation on consistency layer"
The documentation in the code needs to be updated to match the current logic. It seems it was never updated with the multi-master changes so it does not include GCLSN.

https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB?path=%2FProduct%2FMicrosoft.Azure.Documents%2FSharedFiles%2FConsistencyReader.cs&_a=contents&version=GBmaster

[2022-04-25 14:43] FabianMeiswinkel commented on #3157
This is relevant across both Java and .Net

[2022-04-25 16:39] j82w commented on #3116
Please contact support via: https://aka.ms/azure-support . From what I can tell via testing this limitation seems to be based on a JSON spec as part of the service and not something specific to the .NET SDK.

[2022-04-25 19:47] j82w opened #3160 "UserAgent: Remove direct version"
The direct version should not be included in the .NET v3 user agent. The direct is not done via a nuget reference so it is not necessary. This has caused a lot of confusion for customers and has not been used in any scenarios.

Current example:
`cosmos-netstandard-sdk/3.26.1|3.27.2|1|X64|Microsoft Windows 10.0.22000|.NET 6.0.4|N|`

The 3.27.1 should be removed. This can also be figured out from th

[2022-04-26 15:48] FabianMeiswinkel opened #3162 "Client Telemetry: Have client telemetry uploader be a singleton (single thread/task) per process vs. per client instance."
Relevant for java and .Net

[2022-04-27 17:56] sourabh1007 commented on #2933
With Offline Discussion with @kirankumarkolli and @FabianMeiswinkel , we decided not to proceed further with this change as of now, we might reiterate in future if we see failures in future.
Right now, to debug any failure in Client Telemetry, Customer has to enable the traces and then they should see the exception logs.

[2022-04-27 17:56] #2933 closed

[2022-04-27 18:05] sourabh1007 opened #3164 "AI Integration: Do not log Request diagnostics for some failure scenarios"
This issue is related to this https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3135#discussion_r858698499 comment.

There can be specific list of status code for which we wouldn't want to log diagnostics.
e.g.
404 with substatuscode 0 and others.

Decide the exhaustive list of status code and substatuscodes?

Why do we want it?
Generating request diagnostics is costly process and storing it in

[2022-04-28 12:42] admo-1 opened #3166 "Group By queries return results in a different order than the online query editor"
I do not understand why that is. When the same query that uses `GROUP BY` is executed against the same collection, `GetItemQueryIterator` returns the results in the opposite order than the online query editor.
Is there a logical reason that explains this behaviour?

[2022-04-28 13:47] j82w commented on #3166
@timsander1 can you please take a look?

[2022-04-28 14:51] timsander1 commented on #3166
Hi @admo-1, could you share an example? Some of GROUP BY logic is in the SDK so my suspicion is that there's slight different logic in the .NET SDK and JavaScript SDK (which the Data Explorer uses) that impacts the ordering of results. Assuming they include all the query results, these are both correct results since there isn't a defined ordering of GROUP BY query. That being said, I agree that it

[2022-04-28 15:55] #3157 closed

[2022-04-29 00:25] #3152 closed

[2022-05-02 21:29] xinlian12 opened #3167 "[Diagnostics]Add ContinuationToken for pkRanges request in Diagnostics"
Add PkRanges request CT for pkRanges in the diagnostics to help investigate the following exceptions/scenarios.

Request failed at:
[code]

Request flow is:
[code]

Due to few informations missing in the current diagnostics, we are not able to reason about what were the updates to the pkranges cache in client side, why we are getting NotModified from gateway team and why SDK has tried to get addre

[2022-05-03 14:54] #3153 closed

[2022-05-03 20:37] j82w commented on #3160
Needs to be removed from: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/UserAgentContainer.cs

[2022-05-03 22:05] keystroke opened #3170 "All releases after 3.24.0 broken with Azure? Getting "Invalid API version. Ensure a valid x-ms-version header value is passed.""
**Describe the bug**

We are using the latest release of the nuget 3.26.1, it sets a version header:

x-ms-version: 2019-10-14

This works with the emulator but when using a newly-created cosmos account from Azure, it fails with an error:

exited with exit code: -532462766 Unhandled exception.
Microsoft.Azure.Cosmos.CosmosException : Response status code does not indicate success: BadRequest (400)

[2022-05-03 22:18] keystroke commented on #3170
I am seeing all the recent releases of the SDK are using this version, so not sure why it's being rejected by Azure cosmos DB we just created. Is there some configuration somewhere that sets the allowed version?

[2022-05-03 22:25] keystroke commented on #3170
I see this commit is what introduced the change?

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3015

[2022-05-03 22:28] keystroke commented on #3170
I have confirmed that release 3.24.0 is working with Azure! It sets the version header as "x-ms-version: 2018-12-31" which is working!

[2022-05-03 22:34] keystroke commented on #3170
This was tested against a newly-created cosmosDB in Azure. Is there something to configure to allow it to support the newer "2019-10-14" version?

[2022-05-04 01:26] keystroke commented on #3170
Investigating more, "x-ms-version: 2019-10-14" should be working with Azure. Likely issue with stale binaries / config routing to emulator that was rejecting the newer version. Will re-open if repro.

[2022-05-04 01:26] #3170 closed

[2022-05-05 03:34] xiejiams commented on #3074
I am having the same issue. Any update on this?

[2022-05-05 13:43] onionhammer commented on #2931
This should still be open, not closed. There are hacky workarounds for now, commented above

[2022-05-05 14:07] j82w commented on #2931
Github automatically closes the issue when the PR is merged. A new version should be released hopefully by tomorrow with the fix.

[2022-05-05 14:34] #3113 closed

[2022-05-05 14:56] trevortirrell opened #3171 ".Net Maui iOS project crashes"
**Describe the bug**
My .Net Maui iOS app crashes when navigating to the code that uses the Microsoft.Azure.Cosmos package. It works great with Android. Should I try the Azure.Cosmos 4.0.0-preview3?

**To Reproduce**
Add Microsoft.Azure.Cosmos package to project. iOS crashes on this line `FeedResponse<MyObject> currentResultSet = await queryResultSetIterator.ReadNextAsync();`

I'm only able to bui

[2022-05-05 16:47] pmatthews05 opened #3174 "Question: Can you add/insert/upsert JSON string instead of an object class to Cosmos DB?"
**Describe the bug**
Not sure if a bug, or just not understanding, so asking as a question.

Is it possible to add/insert/upsert JSON string instead of an object class?

I'm using Durable Azure Functions V4, but the value to be read in from an API and inserted into Cosmos could be of different types. You cannot use generics in Azure Durable Functions, so my option is to read in as a JSON String to

[2022-05-05 17:51] ealsur commented on #3174
If the content you have is coming as a Stream, you can use the Stream APIs directly: https://github.com/ealsur/ondotnet-cosmosdb/tree/master/src/episode1/streams#streams

You could also pass a `dynamic` to the methods or just use `JObject`:

[code]

In your gist you are creating a new client on each Create call, please avoid that and follow the Singleton pattern recommendations: https://docs.micro

[2022-05-05 18:23] pmatthews05 commented on #3174
@ealsur Thank you so much!

The JObject.Parse will work for what I'm trying to do. Although I have a API stream to begin with, I don't want to store all the values, and I also needed to add extra values depending on the initial class type.

I understand my "demo example" doesn't follow best practices. It was just a quick way to put the code together in a Gist. In my Azure Function I'm using single

[2022-05-05 18:48] onionhammer commented on #2931
Not fixed in 3.26.2

[2022-05-05 18:53] pmatthews05 commented on #3174
I think I've found my own answer on System.Text.Json. I'll test it out next time I'm at work.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/SystemTextJson/CosmosSystemTextJsonSerializer.cs

[2022-05-05 18:53] #3174 closed

[2022-05-05 18:58] j82w commented on #2931
Sorry about the confusion. The fix is going out in 3.27.0 which can be tracked here: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3172
The 3.27 release is waiting on this fix: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3168
3.26.2 is a hotfix to unblock a customer hitting an issue in production which is why it only has 3 required changes cherry picked.

[2022-05-05 19:16] ealsur commented on #3171
Please do not use 4.0.0 for production applications.

What is the error you are getting? Also, why are you running the SDK in a client device? That poses a security risk, ideally the architecture should look like: https://docs.microsoft.com/en-in/azure/architecture/solution-ideas/articles/gaming-using-cosmos-db

[2022-05-05 19:19] trevortirrell commented on #3171
It works fine in Debug. But crashes in Release. So, no error. I'm still trying to troubleshoot. I'll upload my sample code in a few minutes.

[2022-05-05 19:47] #3160 closed

[2022-05-06 19:28] xinlian12 opened #3178 "[Diagnostics]Log pkRanges change"
Add PkRanges request CT for pkRanges in the diagnostics to help investigate the following exceptions/scenarios.

Request failed at:
[code]

Request flow is:
[code]

Due to few informations missing in the current diagnostics, we are not able to reason about what were the updates to the pkranges cache in client side, why we are getting NotModified from gateway team and why SDK has tried to get addre

[2022-05-06 22:18] j82w commented on #2931
@onionhammer please try the latest SDK release 3.27.0 https://github.com/Azure/azure-cosmos-dotnet-v3/releases/tag/3.27.0

[2022-05-06 23:00] onionhammer commented on #2931
Yep, thanks, that fixes it

[2022-05-09 06:01] ivpadim commented on #1202
Cant wait for this feature to ship!

[2022-05-09 08:01] Amethi opened #3181 "Method not found (set_LastPartitionAddressInformationHashCode) exception after upgrading Microsoft.Azure.Cosmos.Direct to 3.28.0"
Upgrading Microsoft.Azure.Cosmos.Direct Nuget package from 3.27.3 to **3.28.0** results in the following unhandled exception:

[code]

Microsoft.Azure.Cosmos Nuget package upgraded fine to 3.27.0.

Stacktrace:

[code]

This is happening in a class library in a .NET Core 3.1 project. [Project info here](https://github.com/londonbikers/PhotoGalleries/blob/master/LB.PhotoGalleries.Application/LB.Phot

[2022-05-09 11:35] j82w commented on #3181
@Amethi why are you directly referencing Microsoft.Azure.Cosmos.Direct? You should only need the refence to Microsoft.Azure.Cosmos.

[2022-05-09 12:47] Amethi commented on #3181
I have no idea, I don't remember adding it, I thought the main package added it as a dependency. I've removed it and all is good. Thanks!

[2022-05-09 12:54] #3181 closed

[2022-05-09 21:58] #3107 closed

[2022-05-10 19:21] j82w opened #3183 "Latest emulator changed error message causing ItemRequestOptionAccessConditionTest to fail."
Failed ItemRequestOptionAccessConditionTest [3 s]
  Error Message:
   Assert.AreEqual failed. Expected:<
Errors : [
  "One of the specified pre-condition is not met"
]

Errors : [
  "One of the specified pre-condition is not met. Learn more: [https://aka.ms/CosmosDB/sql/errors/precondition-failed"](https://aka.ms/CosmosDB/sql/errors/precondition-failed%22)
]

  Stack Trace:
     at Microsoft.Azure

[2022-05-10 20:55] #3183 closed

[2022-05-11 14:20] j82w opened #3185 "Possible hang on client create for .NET framework with synchronization context"
An internal project hit a hang. This is the internal PR with the fix to unblock the project.

https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/803618

This seems to be a regression from the following PR:
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3027

The issue is caused by this line here. The task is getting created without the Task inline helper which can cause it to

[2022-05-11 23:59] j82w opened #3187 "Availability: Optimize EnableTcpConnectionEndpointRediscovery with nonblocking cache"
EnableTcpConnectionEndpointRediscovery  causes an Address cache refresh when the TCP connection is closed.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/70b1b4a71216d4437229ae7a4f35b5a686c4950a/Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs#L494

This uses the direct ConnectionStateListner:
https://msdata.visualstudio.com/_git/CosmosDB?path=/Product/Microsoft.Azure.Documents/SharedFiles

[2022-05-12 06:09] lifeglam opened #3188 "Version 3.27.0: CosmosLinqExtensions.ToFeedIterator() throw NullReferenceException when query predict has inline static member"
Version 3.27.0: CosmosLinqExtensions.ToFeedIterator() throw NullReferenceException when query predict has inline static member.

**To Reproduce**
Below code DOES NOT work on 3.27.0 (but works on 3.26.2):

                Expression<Func<T, bool>> predict = (x => x.CreationTime < DateTime.UtcNow);
                var query = queryable.Where(predict);
                var iterator = query.ToFeedItera

[2022-05-12 11:14] j82w commented on #3188
@notheotherben and @khdang can you take a look?

[2022-05-12 11:16] j82w commented on #3188
@lifeglam can you provide the stack trace of the null ref?

[2022-05-12 13:24] notheotherben commented on #3188
Was able to reproduce and fix this, you'll find the associated change in #3190 and please let me know if you'd like to see anything else covered there.

[2022-05-12 17:18] #3188 closed

[2022-05-12 21:38] djj0809 opened #3191 "Invalid JSON produced by Cosmos Diagnostics"
**Describe the bug**
JSON format is not correct produced by Cosmos Diagnostics:

[code]

[code]

**To Reproduce**
I believe it always repro as long as you use the latest SDK.

**Expected behavior**
JSON should be valid and able to be formatted.

**Actual behavior**
[code]

**Environment summary**
SDK Version: 3.27.0
OS Version: Linux

**Additional context**

[2022-05-12 21:42] djj0809 commented on #3191
There's an another issue in the Diagnostics, when running in MacOS Apple Silicone, CPU usage value is shown as NaN without quote around it. It is also causing format error in MacOS.
One example:
[code]

[2022-05-12 22:13] shekarc commented on #1202
Do you know of the anticipated release date for this feature?

[2022-05-13 11:54] j82w commented on #3191
Looking at the JSON you provided it seems like it is missing a closing } after each object in the StoreResponseStatistics array. This is interesting because I just checked and it is producing the valid JSON for me on Windows.

[code]

[2022-05-13 15:54] admo-1 commented on #3166
Hello, sorry I have been off for some time.
Please find attached to this comment the Json file to upload in your container, and the query/code I use that produces this bug.
I also added the result I get when I run the same query on the online query editor.
I put them in a zip since JSON and CS files are not supported.
[json+code.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/8689179/js

[2022-05-13 16:19] #3167 closed

[2022-05-13 19:29] j82w commented on #3187
One concern with this approach is it could cause throttling because of the number of refreshes that would occur at the same time.

[2022-05-13 21:55] djj0809 commented on #3191
@j82w we are not trying to parse it, we try to log the diagnostics once slow query happens and format the json to diagnose the root cause. It is not easy for us to read it in this case.

[2022-05-14 11:47] mcmorry opened #3193 "Unknown failing requests 429 to GET /logs"
**Describe the bug**
Application Insights Failures panel of the App Service shows GET requests to /logs that are failing with error 429
The request appears to be as http://169.254.129.2:50051/logs?durationSeconds=-1

**To Reproduce**
I have a .NET 6 Web API project on Azure App Service that accesses Cosmos DB upon user requests.
After upgrading the package from 3.26.1 to 3.27.0 I started getting f

[2022-05-15 18:33] j82w commented on #3193
Make sure to log the exception message and stack trace. This is necessary to understand most issues. The error message should have a link to this page which explains 429s: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-request-rate-too-large?tabs=resource-specific

Please make sure to follow all the best practices: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/best-practi

[2022-05-16 05:58] DyByronWu commented on #1732
any updates? still have this problem in v3

[2022-05-16 14:17] ealsur commented on #3193
GET /logs isn't the API endpoint on your application's end? What code gets executed on that action? We need the exception details to confirm it is coming from the Cosmos SDK and exactly what it's going on.

[2022-05-16 16:20] IsaacUser opened #3195 "ReadContainerAsync throws aggregate exception "Name or service not known""
A service hosted in AKS periodically calls the `ReadContainerAsync` function on a container. This works fine most of the time, but after some time it will begin to throw a seemingly DNS-related exception. In some cases, this persists until the service is restarted. My suspicion is that something goes awry with the address caching.

The issue started occurring sometime after [v3.24.0](https://githu

[2022-05-16 17:48] s-t-a-r-s-h-i-p opened #3196 "UpsertItemAsync creates duplicate entries when upserting items initially created with the bulk executor library"
**Describe the bug**

After initially populating items in a Cosmos database using the older BulkExecutor library, subsequent UpsertItemsAsync calls create duplicate entries. This has been replicated in both eastus2 and canada regions thus far.

**To Reproduce**

Create a new Cosmos database and container and populate with an initial set of items using the BulkExecutor library. Then, using the Azur

[2022-05-17 04:36] abhijitpai opened #3198 "Diagnostics: Log ApplicationRegion in ClientConfiguration trace"
Log ApplicationRegion in ClientConfiguration trace to help debugging. We currently log preferred regions in the diagnostics trace only when ApplicationPreferredRegions is set.

[2022-05-17 05:55] Mortana89 opened #3199 "TransactionalBatch => 0 operations on 429 retries"
Have 365 documents in a transaction, split across batches of 50 item updates each.
Client has following config:
 var masterClient = new CosmosClient(masterDbNamespace, new DefaultAzureCredential(), new CosmosClientOptions()
            {
                Serializer = new CustomCosmosSerializer(jsonSerializerOptions),
                ApplicationName = applicationName,
                ConnectionMode

[2022-05-17 16:19] j82w commented on #3199
Can you provide the full exception to string which includes diagnostics?

[2022-05-17 16:23] BrandonWilliamsCS commented on #1782
@j82w I must insist that this issue is NOT solved. The linked PR provides a workaround, not a solution. Further, it's not even an *obvious* or even *well-documented* workaround! The documentation acts as if the new argument is there to *override* options, but the truth is that (when using a custom Serializer) we must use this argument to provide any options whatsoever.

As @kipusoep mentioned, wha

[2022-05-17 16:37] j82w commented on #3196
@s-t-a-r-s-h-i-p are you assuming it is a duplicated item because the rid values are different?

[2022-05-17 16:43] j82w commented on #3195
@IsaacUser are you recreating the CosmosClient? It should be a singleton and the above code path is only called on creation. The SDK has multiple caches so recreating it is not recommended. Make sure to follow the best practices.
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/best-practice-dotnet

[2022-05-17 16:43] #3195 closed

[2022-05-17 16:45] IsaacBoy commented on #3195
No it's a singleton. Can you please reopen the bug?

[2022-05-17 16:57] j82w commented on #3198
The diagnostics log only the preferred region. It should also log application region.
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Tracing/TraceData/ConsistencyConfig.cs#L27

[2022-05-17 19:13] oiqwrwer1 opened #3201 "Clearer documentation of CosmosClient Dispose API contract"
This issue is to request that the conditions under which one should call CosmosClient.cs > Dispose() be documented in the API comments.
Context is that I am instantiating a new CosmosClient per rotated CosmosDB key/token but am not sure if it's fine to rely on GC to clean up the old CosmosClients or I need to call Dispose() explicitly.

I am not using the Singleton pattern which lets .NET handle C

[2022-05-17 20:03] ealsur commented on #3196
Are you seeing these 2 documents in the same collection at the same time? If the Partition Key is `/_partitionKey` and these 2 documents exist at the same time in the same collection, then this has nothing to do with the SDK. The SDK does not perform any validation nor identity verification on an Upsert operation. It is rather odd though, I have never seen 2 documents with the same identity (same

[2022-05-17 20:28] oiqwrwer1 commented on #3201
Relatedly, I'm confused about why the[ performance best practices doc](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips-dotnet-sdk-v3-sql?tabs=trace-net-core) recommends using CosmoClient as a singleton b/c CosmosDB key/token rotation seems like a security best practice and that necessitates a CosmosClient per key/token.

[2022-05-17 20:54] kipusoep commented on #1782
Yes, what @BrandonWilliamsCS says.

[2022-05-18 09:27] Mortana89 commented on #3199
I can't seem to get those diagnostics from the exception message itsself.
I do have a debug snapshot from AI that I could share with you?

[2022-05-18 14:21] ealsur commented on #3199
The error with the batch (batch being empty) is probably due to your Polly policy retrying the call to transactionalBatch.ExecuteAsync instead of recreating the TransactionalBatch object on each retry.

[2022-05-18 14:40] ealsur commented on #3199
To confirm the SDK is not retrying on the 429 and simply bubbling it to your Polly Handler, could you attach/share one of the exceptions (CosmosException) being handled by your Polly code? The ToString or Diagnostics of the CosmosException (429) would show if the SDK retried and how many times.

This information is crucial to be able to assist.

[2022-05-19 14:42] ealsur commented on #3201
As a general guidance, any class implementing IDisposable needs to be disposed when no longer user, if your application, for whatever reason, no longer needs the CosmosClient instance, then you can dispose it.

Why you would no longer need the CosmosClient? That's up to your business logic.

Ideally yes, you would have a Singleton instance for the lifetime of the application, if you use MSI authen

[2022-05-19 15:57] microsoft-github-policy-service[bot] opened #3204 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 17:08] j82w opened #3205 "Bump c# lang version to 10"
Bump the c# lang version to get the performance gains of the new string interpolation and other features.

https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-10

https://devblogs.microsoft.com/dotnet/string-interpolation-in-c-10-and-net-6/

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/17e9f7b55d5f60061325ddb036c802d4111d800d/Directory.Build.props#L13

[2022-05-19 17:45] #3204 closed

[2022-05-19 18:29] #3198 closed

[2022-05-19 19:03] BrandonWilliamsCS opened #3207 "Calling `GetItemLinqQueryable` uses default serializer for user-provided values"
**Describe the bug**
I have provided a custom `CosmosSerializer` to my `CosmosClient` via `CosmosClientOptions`, but it is not used when serializing user-provided values (e.g., `new Entity(idValue)`) while generating a `QueryDefinition` after calling `GetItemLinqQueryable`. Instead, the default/internal serializer is used to serialize those values.

**To Reproduce**
Given `public record Entity(str

[2022-05-19 19:16] BrandonWilliamsCS commented on #3207
A strongly related but ultimately distinct issue: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2685
That issue is about how *access to the document being queried* is serialized, whereas this is about how *user-provide values that are independent of the document being queried* are serialized.

One simple request shakes out of both issues, plus some others I've seen lately: **please respec

[2022-05-19 20:49] #3205 closed

[2022-05-20 03:50] vidhyasagarreddy opened #3208 "Query definition breaks when the query values are captured from "static readonly" strings, but works constants, general strings etc."
[code]

[2022-05-20 11:36] RamenTurismo commented on #2240
@[ealsur](https://github.com/ealsur) I have a hard time to follow. I cannot find this options with the package `Microsoft.Azure.Cosmos` version `3.27.0`.

Has this been implemented or do we still have to use reflection ?

Also has any implementation with `Microsoft.Extensions.Logging.ILoggerFactory` and `Microsoft.Extensions.Logging.ILogger` are planned ? I think this SDK is used a lot in WebServi

[2022-05-20 14:27] ealsur commented on #3014
"NumberOfClientsCreated":3` - Looking back at these diagnostics, it looks like you have more than 1 client created or you are creating new clients or disposing them on runtime. If the application is only working with 1 cosmos account, make sure you are following the Singleton pattern. 1 client can work with all databases and containers in an account. Reference: https://docs.microsoft.com/en-us/azu

[2022-05-20 14:27] ealsur commented on #3208
Can you share how it breaks? What is the exception?

[2022-05-20 14:28] #3201 closed

[2022-05-20 14:44] ealsur commented on #2240
@RamenTurismo not implemented. The team is working on AI (Application Insights) and Open Telemetry integration, PRs for that are in progress.

[2022-05-20 15:35] j82w commented on #3208
It's likely related to this issue which has been fixed but not released yet: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3188

[2022-05-20 17:23] andersson09 opened #3209 "Pass func into container.CreateItemAsync() to get access to _ts field."
Hey,

I'm not sure if this is already possible or not but I would like to set a Create Date which is exactly equal to the last modified time stamp, _ts. Maybe if we could pass a Func into container.CreateItemAsync()?

I would also like to add a Create Date to UpsertItemAsync, only if it is an insert. Here we could do the same as above but in addition, get access to a bool to know if it is insert o

[2022-05-20 19:06] asgoe commented on #1079
Hi @kirankumarkolli/@j82w ,

We can into this issue recently in our production environment (see error stack below).  The Sql Query Engine on-call engineer  (@khdang) advised to re-open this issue, since the call stack is similar. Can someone take a look and advice? This impacted our customers so we have to rollback the V3 SDK code. This is blocking rolling out the V3 code.

SDK version: 3.25.0 ver

[2022-05-20 19:31] asgoe opened #3210 "Null stream causing ArgumentNullException during serialization while running query"
**Describe the bug**
We have recently moved to using the CosmosDb V3 SDK. For one our services we received ArgumentNullExceptions when running SQL queries. Looking at the call stack it seems that the server is passing a null stream to the custom serializer. This is not happening for all queries but only a certain subset of them. We opened an ICM to the Sql Query team and they pointed to this issue

[2022-05-20 19:33] asgoe commented on #3210
Tagging the people from the previous issue: @kirankumarkolli/[j82w](https://github.com/j82w)

[2022-05-20 20:34] andersson09 commented on #3209
Just spoke to Mark on twitter and this method is impossible since _ts is set way later. However he gave some useful info on pre triggers. Can close this.

[2022-05-20 20:34] #3209 closed

[2022-05-20 21:07] ealsur commented on #3210
@asgoe the error points to https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/CosmosSqlQuerySpecJsonConverter.cs#L52

Which means the value of the QuerySpec parameter is null and your `Microsoft.Intune.CloudStorage.Common.Serializer` implementation is not handling this case and throwing.

The exception comes from your `Microsoft.Intune.CloudStorage.Common.Serial

[2022-05-20 21:32] #3210 closed

[2022-05-21 00:27] trevortirrell commented on #3171
I'm still unsuccessful at getting Microsoft.Azure.Cosmos to work with iOS in Release mode. Works just fine in Debug. This is the error I'm getting.

C:\Program Files\dotnet\packs\Microsoft.iOS.Sdk\15.4.300-rc.3.83\targets\Xamarin.Shared.Sdk.targets(747,3): error : ILStrip failed for C:/Users/ttirr/.nuget/packages/microsoft.azure.
cosmos/3.27.0/runtimes/win-x64/native/Microsoft.Azure.Cosmos.Service

[2022-05-21 00:38] trevortirrell commented on #3171
I'm using Microsoft documentation (See links below). I have used it successfully in Xamarin.Forms apps in the past. Just won't work with .Net Maui.
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-get-started
https://www.youtube.com/watch?v=R_Fi59j6BMo

The link you gave me seems more complex that what I need.

[2022-05-22 20:58] j82w commented on #1079
@asgoe as the ICM incident explained this is an issue with the custom serializer "Microsoft.Intune.CloudStorage.Common.Serializer.ToStream[T](T input)" which you can see in the call stack. The custom serializer needs to be able to handle null values instead of throwing a null ref argument.

[2022-05-23 14:46] ealsur commented on #3171
@trevortirrell The gist of the other link (while complex) tries to show that for Mobile applications, the ideal architecture is having the SDK running in a Web API/service and the mobile devices contacting this Web API/service. Don't create the mobile application that talks to the Cosmos DB endpoint, because you are baking your account key inside a mobile application that can be decompiled. Once a

[2022-05-23 14:52] trevortirrell commented on #3171
@ealsur Is there a walkthrough / tutorial that shows how to get that to work? For my current application it is only used for a leader board with scores, I don't care about security for this particular app.

And regardless it doesn't answer the question as to why it wont compile. That is still an issue that needs addressed / fixed.

[2022-05-23 18:18] asgoe commented on #3210
One question, do we need to handle the case of a null stream being passed to the custom serializer as well?

[2022-05-23 19:00] sourabh1007 opened #3212 "[Last PR] AI Integration: Make sure OpenTelemetry Function in not null"
As part of this issue, we aretracking that we need to make opentelemetry fucntion Mandatory here and remove the null assignment

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/99753bc9d6c8dc872f5915a3ee403eeda28412d8/Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs#L231

![image](https://user-images.githubusercontent.com/6362382/169888102-1bd7cc51-7ede-4f0c-9a3b-906988482199.png)

[2022-05-23 19:06] ealsur commented on #3210
In this case, there won't be a null stream because the query parameters are always values, ToStream is called when converting from a value to a Stream.

FromStream, the stream ideally is never null, it would be used when converting a service response to your types. @j82w do you know any scenario where the Stream would be null on FromStream? I personally don't recall any, our implementation does no

[2022-05-24 09:18] bengabayAtM opened #3215 "Unequal Distribution among multiple instances"
**Describe the bug**
I have a service that uses ChangeFeedProcessor to listen to changes in an extensive collection in cosmos DB.
The ChangeFeedProcessor is being built this way:
[code]
where InstaceName is unique for each instance:
`InstanceName = $"GlobalProfileSynchronizer-{GenRandomInt()}";`
ProcessorName is the name for each instance:
`public static readonly string ProcessorName = "GlobalProf

[2022-05-24 11:49] pawel87 opened #3216 "Null reference is thrown when calling GetItemLinqQueryable with expression containing Guid.Empty condition check"
**Describe the bug**
When calling 'Where' method with expression on GetItemLinqQueryable - "Null reference exception" is thrown when Guid.Empty condition is a part of expression passed to Where method.

**To Reproduce**

`
var items= await GetItemsAsync(p => p.Id != Guid.Empty);
`
`
public async Task<IEnumerable<T>> GetItemsAsync(Expression<Func<T, bool>> predicate, string partitionKey = null)
{

[2022-05-24 11:56] j82w commented on #3216
It likely fixed by this change: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3210 I'll start working on a release which should hopefully be done by end of the week.

[2022-05-24 14:35] ealsur commented on #3215
Lease distribution has nothing to do with load distribution.

You can verify the distribution of leases by going to the Leases container and checking the Owner property on the leases, if there are more machines than leases, the machines that are extra will sit idle (that is expected) but otherwise the distribution should be somehow average (60 leases among 30 machines should yield 2 leases per Own

[2022-05-24 14:40] ealsur commented on #3215
For thread starvation analysis, that's mainly on your code. Make sure you are following the async best practices https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md, if you have code blocking on a async operations you are bound to hit thread issues.

We do not recommend running the Estimator on the same machine as the Processor:

![image](https://user-images.git

[2022-05-24 19:59] #3216 closed

[2022-05-25 00:44] asgoe commented on #3210
For the ToStream code path when a QuerySpec parameter is null, would just returning the null field of stream work? (https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.null?view=net-6.0)

[2022-05-25 13:42] j82w commented on #3208
Please upgrade to 3.27.1 https://github.com/Azure/azure-cosmos-dotnet-v3/releases/tag/3.27.1

[2022-05-25 13:42] #3208 closed

[2022-05-25 14:17] j82w commented on #3216
@pawel87 please try the latest SDK 3.27.1

[2022-05-25 22:00] ealsur opened #3220 "Client Telemetry: Initialization of Azure VM information"
Part of the Telemetry initialization looks for gathering environment information in the cases where the client runs in Azure:

Reference: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/87f86f86b1204370bc93929ab53c943ed77812d7/Microsoft.Azure.Cosmos/src/Telemetry/VmMetadataApiHandler.cs#L49

When the client does not run in Azure, the SDK emits a trace that in the eyes of the user, looks like

[2022-05-26 05:35] pawel87 commented on #3216
It works now as expected! Thanks a lot for quick fix :)

[2022-05-26 13:14] j82w opened #3221 "ChangeFeedAsync test failure"
This needs to be investigated. It seems like it could be a race condition since it has only happened once so far from what I can tell.

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3200/checks?check_run_id=6604803931

https://cosmos-db-sdk-public.visualstudio.com/cosmos-db-sdk-public/_build/results?buildId=41761&view=logs&jobId=a5e00f2a-e596-5064-edf3-1da4375679ea&j=a5e00f2a-e596-5064-edf3

[2022-05-26 13:22] ccurrens opened #3222 "SDK modifies values passed to custom JsonConverters in LINQ queries"
**Describe the bug**
A UTC `DateTime` is converted to a local `DateTime` before being passed to custom `JsonConverters` inside of `ExpressionToSql.ApplyCustomConverters`.

**To Reproduce**
[code]

_Output:_
[code]
It works as expected for local `DateTime`, but fails for UTC.

**Expected behavior**
The same value passed into the query is passed into the custom `JsonConverter`.

**Actual behavior**

[2022-05-26 14:53] ccurrens commented on #3222
Actually, I think this could be solved if `DateTime.Parse` requested `DateTimeStyles.RoundtripKind`:

[code]

Since `DateTimeStyles.RoundtripKind` is meant to preserve kind when it was serialized with "o" or "r" formatters. Presumably this always happens with `JsonConvert.SerializeObject(someDate)`:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/470d6de30cef16501cbd715147ee218b4e84b934/Micr

[2022-05-26 15:01] #3092 closed

[2022-05-26 15:34] #3221 closed

[2022-05-26 21:09] ealsur opened #3225 "Design: Query ServiceInterop dependency fallback"
Currently the V3 SDK, when running on Windows x64, will attempt to use the ServiceInterop.DLL (reference https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips-query-sdk?tabs=v3&pivots=programming-language-csharp#use-local-query-plan-generation).

If the DLL is not present or one of its dependencies, the SDK throws:

[code]

This would normally be fixed by making sure the deployment

[2022-05-26 21:33] sourabh1007 commented on #3225
1) IMO, automatic fallback is better way. We can catch this exception and add a message saying "Hence falling back to gateway" and along with it, we can have a flag somewhere is diagnostics where it will say if this fallback happened or not.

2) We can leave it as it is, have a proper documentation which will say what all dependencies are required in order to use _**serviceInterop**_ and catch and

[2022-05-26 21:39] ealsur commented on #3225
The problem is, some customers have solutions that run on Windows x64 and cannot add the ServiceInterop DLL (for whatever reason), in those cases, throwing and pointing to documentation does not help them.

[2022-05-26 21:50] sourabh1007 commented on #3225
I don't know if it makes sense or not...Can we identify during client initialization if service interop is available or not (may be by running some metadata query). and then set a flag in SDK which will say, don't even try to load serviceinterop...and in request diagnostics client configuration will say this instance is running without serviceinterop library.
Like this, we won't need this failover

[2022-05-26 21:51] ealsur commented on #3225
Exactly the solution 1. In that case, we detect the ServiceInterop is not available before hand, and we don't even attempt to use it, and we fall back to Gateway (automatic fallback) but leave a "stamp" on Diagnostics to explain why.

[2022-05-26 23:16] mcmorry commented on #3193
Correct. It's not my endpoint.

None, I have no idea where it comes from. I'm not executing any background code, nor calling any endpoint, and still, the failure was happening regularly every minute.

I don't have a stack trace as it's not my code. Looking again at those errors this is all I can find:
![Request](https://user-images.githubusercontent.com/1020257/170594132-677cf001-cd1a-4289-8b84-7c

[2022-05-27 11:33] j82w commented on #3225
I believe the explicit model is the better customer solution.
1. Implicit model is what the v2 SDK had. It caused a lot of CRIs because people did not know they should copy the service interop and other dlls. It would fail silently in the background and cause high latency CRIs. That is the reason v3 SDK always verifies it exists. Reverting back to the implicit model is going cause those CRIs in th

[2022-05-27 14:11] ealsur commented on #3225
There are scenarios where this configuration option might not be viable to take. Integrations like Logic Apps where the customer simply has no access to them or Functions.

Adding an option where the default is the current behavior could potentially break those customers without a workaround.

This is mainly because we did not expose any information about what was going on + V2 SDK had multiple bu

[2022-05-27 16:05] onionhammer commented on #2153
This is still an issue

[2022-05-27 16:11] onionhammer commented on #1253
This is still an issue. Any update?

[2022-05-27 16:48] j-rewerts commented on #2387
Was this ever fixed?

[2022-05-27 18:18] j82w opened #3228 "System info failures log to diagnostics"
There has been several instance where the diagnostics does not have the CPU history, and in some scenarios it's missing entries. The history is every 10 seconds, but then one is missing.

To understand why the CPU is not collected the exception message should be logged to the diagnostics to help troubleshoot this issue.

https://msdata.visualstudio.com/_git/CosmosDB?path=/Product/Microsoft.Azure.D

[2022-05-27 19:26] sourabh1007 opened #3229 "Client Telemetry: Allow proxy"
ref https://github.com/Azure/azure-sdk-for-java/pull/29022

[2022-05-27 21:05] j82w opened #3230 "Add connection mode to diagnostics"
The diagnostics should add the connection mode to match Java version. This will make it easier for troubleshooting.

"clientCfgs": {
"id": 1,
"machineId": "uuid:45783147-df2c-47c4-9163-dcff3ecea556",
"connectionMode": "DIRECT",
"numberOfClients": 1,
"connCfg": {
"rntbd": "(cto:PT5S, nrto:PT5S, icto:PT0S, ieto:PT1H, mcpe:130, mrpc:30, cer:true)",
"gw": "(cps:1000, nrto:PT1M, icto:PT1M, p:false)",
"

[2022-05-27 21:07] j82w commented on #3229
This should already be supported because .NET uses a single http client. If the user defines one for the client then client telemetry will also use it.

[2022-05-30 09:05] bengabayAtM commented on #3047
Hi @ealsur. So I have simplified this service a lot. and nothing helps. (we also use ChangeFeedEstimatorRequestOptions.MaxItemCount = null, if this is what you meant by changing the page size to 1).
this service used to have 2 instances running. now it only has 1. the way it works is that. we get 2 different changeFeedEstimators (1 for every collection, we have 2 collections we are monitoring in t

[2022-05-30 15:29] ealsur commented on #3047
The exception you are sharing just shows a CancellationToken cancelling:

[code]

The code is not showing what `m_changeFeedEstimatorRequestOptions` contains, but are you setting the `MaxItemCount` to 1 (not `null`)?

It's impossible to know why your CPU is a 100% while inside `GetChangeFeedEstimationForSingleCollectionAsync` by looking at the code, you should take a dump and do CPU analysis to un

[2022-05-30 18:26] sourabh1007 commented on #3229
I didn't really look into it. If you are sure, then we can close this issue. I created it for tracking purpose.

[2022-05-31 14:12] j82w commented on #3225
I'm in favor of automatic fall back with the option to change the behavior for the additional flexibility. It gives customers the ability to verify it's loading correctly without bloating/parsing the diagnostics.

[2022-05-31 14:21] ealsur commented on #3225
But even on automatic fallback scenario (if the customer does not change the option) how do they discover why they went to GW? In V2 we had to ask Customers to enable tracing to find out, why not leverage the Diagnostics?

[2022-05-31 15:09] #3220 closed

[2022-05-31 15:24] ealsur commented on #2987
Closing as question has been answered

[2022-05-31 15:24] #2987 closed

[2022-05-31 15:27] ealsur commented on #2946
Work completed. On deployment path

[2022-05-31 15:27] #2946 closed

[2022-05-31 15:31] ealsur commented on #2695
This has been GAed in 3.26.0

[2022-05-31 15:31] #2695 closed

[2022-05-31 17:14] ealsur commented on #3225
I agree, I wouldn't expect them to parse the diagnostics either. But the intent is the same as any other scenario where we use the Diagnostics: If the customer is experiencing higher than expected latency, they share the Diagnostics, we analyze and can say (like the cases where the problem is network latency), by looking at the extra Datum, if they are failing to load the DLL and that is the cause

[2022-05-31 17:21] imanvt commented on #3051
Closed via Internal PR

[2022-05-31 17:21] imanvt commented on #3098
Closed via Internal PR

[2022-05-31 18:14] Mortana89 commented on #3199
Hi @ealsur, sorry for not responding earlier.
It's really difficult to provide what you are asking for, seeing I can only provide the AI snapshot debug.
We've worked around now by recreating the transactional batch completely when it pops up in Polly, which is, to my humble opinion, still only possible on a 429 as this is the only one being catched by this policy, but I'm afraid I can't help anymo

[2022-05-31 20:11] j82w commented on #3228
Example of the diagnostics missing entries. Notice it's still being collected at 10 second interval, but some are missing. This points to a possible bug that is getting only logged to traces. It should be added to the diagnostics so the problem can be root caused and fixed.

[code]

[2022-05-31 22:12] ealsur commented on #3199
Just trying to help with the statement that the SDK is not retrying on 429. The only way would be to confirm with Diagnostics (you could I guess disabled/remove the Polly Retry temporarily, get one of the 429 exceptions and capture the ToString or Diagnostics to confirm).

[2022-05-31 23:15] ealsur commented on #3193
There is no code in the SDK that performs a GET on some address that is `/logs`, the route the request goes to is an HTTP (not HTTPS) address:

![image](https://user-images.githubusercontent.com/1633401/171298007-3e227892-99a6-4936-87eb-d588a59c0b16.png)

The IP address in the screenshot does not belong to any Cosmos DB SDK endpoint. It looks like a Private IP.

The Category is "Microsoft.Diagnost

[2022-05-31 23:33] ealsur opened #3235 "Diagnostics: CPU info is NaN on Mac"
According to https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3191, on MacOS with Apple chip, the CPU measurements are NaN but are incorrectly printed and breaking the JSON.

Reference file: https://msdata.visualstudio.com/_git/CosmosDB?path=/Product/Microsoft.Azure.Documents/SharedFiles/Rntbd2/SystemUsageLoad.cs&version=GBmaster&line=36&lineEnd=37&lineStartColumn=1&lineEndColumn=1&lineStyle

[2022-06-01 17:12] #3039 closed

[2022-06-01 17:54] ealsur opened #3237 "Telemetry: VM metadata throwing Null"
[code]

Looking at VmMetadataApiHandler.GetMachineId:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/ab6a3629a9e749b3faa5689cb798902b8d8f4adb/Microsoft.Azure.Cosmos/src/Telemetry/VmMetadataApiHandler.cs#L104-L112

It looks like the only potential scenario is if `VmMetadataApiHandler.azMetadata.Compute` is null for whatever reason.

We should also check if `VmMetadataApiHandler.azMetadata.Co

[2022-06-01 18:23] ealsur opened #3238 "Telemetry: VM Metadata is async and initialization of the client is sync"
VMMetadata is initialized using a Fire-And-Forget async call: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/ab6a3629a9e749b3faa5689cb798902b8d8f4adb/Microsoft.Azure.Cosmos/src/Telemetry/VmMetadataApiHandler.cs#L48

Client initialization creates the Diagnostics datum during creation: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/releases/3.27.1/Microsoft.Azure.Cosmos/src/CosmosClient.

[2022-06-01 19:09] j82w opened #3239 "CosmosDiagnostics - Add GetSuggestions() API"
There are a lot of known issues that cause latency and other issues. Instead of requiring the diagnostics to be parsed and investigated for these known scenario a method should be added to the CosmosDiagnostics to allow customer to get clear suggestions. The output should be simple text that is easy to understand.

Known scenario examples that could be included:
1. High CPU
2. Blocking calls (Syst

[2022-06-01 19:54] #3225 closed

[2022-06-01 20:08] josdeweger opened #3240 "CosmosDb Migration Runner - should it be open source?"
At a client we are currently working on a CosmosDb Migration Runner inspired by [Fluent Migrator](https://fluentmigrator.github.io/), since Fluent Migrator does not support NoSql databases. The language is c#, the Target Framework netstandard2.0. Very early stages, not properly battle tested yet. The basic idea is that per collection / document type combination you can migrate documents up to a ne

[2022-06-02 13:53] #3237 closed

[2022-06-02 15:24] onionhammer opened #3245 "Long calls to GET /metadata/instance timing out"
![image](https://user-images.githubusercontent.com/969938/171663748-49d526e2-f117-40a8-bc32-321d05f0f4bb.png)

I'm seeing long calls to GET /metadata/instance timing out in the cosmos SDK, and wondering if thats why it takes basically forever for my apps to start when running locally. What's the deal with this?

**Describe the bug**
App has always been taking a long time to start (mainly cosmos cl

[2022-06-02 17:06] j82w commented on #3245
That meta data call should not block the SDK initialization. It should be a background task that is used in the diagnostics. Are you sure it's blocking the SDK from completing operations?

[2022-06-02 17:56] ealsur commented on #3245
The graphic does not show that the red request is sequential. The below request that runs in parallel is the Microsoft AAD DefaultAzureCredential is what is taking long.

[2022-06-02 18:16] imanvt commented on #3235
Closed via Internal PR

[2022-06-02 18:34] j82w opened #3247 "Diagnostics: Add VM region to client config"
The SDK adds the VM id to the Diagnostics currently. This is getting the VM info if it's an Azure VM. This can be used to determine what region the Application/VM is being hosted in. This would be helpful in determining if a customer is doing cross region calls.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/87f5cbc62d57d2cd83f2e8848de9cc436c351063/Microsoft.Azure.Cosmos/src/Telemetry/VmMet

[2022-06-02 20:18] imanvt commented on #3235
reopening until direct package version gets updated

[2022-06-02 20:18] imanvt commented on #3051
reopening until direct package version gets updated

[2022-06-02 20:18] imanvt commented on #3098
reopening until direct package version gets updated

[2022-06-02 22:32] ealsur opened #3248 "CosmosOperationCanceledException: Closure on token"
Reference: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3234#discussion_r888388902

Because we capture the token in the closure, the `IsCancellationRequested ` is evaluated only when the Message/ToString is called.

We should capture the `token.IsCancellationRequested` when creating the Lazy and pass the bool instead.

[2022-06-02 22:51] onionhammer commented on #3245
@j82w you are right, it's not blocking. It showed up in my debug console as a timeout as my app was hanging so I figured  they were related, but the issue was unrelated.

[2022-06-02 22:51] #3245 closed

[2022-06-03 06:29] nomurayoshuak opened #3249 "System.TypeInitializationException: on Android 11 some devices"
**Describe the bug**
I'm using Xamarin.Forms to develop mobile apps and I'm facing the same issue as the issue #1394.
CosmosClient was not generated and `System.TypeInitializationException` occurs.
And this problem only occurs on some devices (currently known is AQUOS sense3 plus, ZTE Libero 5G). Both are Android 11.
Works fine on other devices.

This is a stack trace of the problem.
[code]

Acces

[2022-06-03 09:24] bartelink commented on #3240
Absolutely go for it - it's great to be able to publicly reference what you are doing when asking questions of the Cosmos team too, as I often do re https://github.com/jet/equinox/tree/master/src/Equinox.CosmosStore etc

Whether or not you get contributors is of course a hit and miss thing - the massive majority will always be people who silently use things. You'll regularly wonder, why am I doing

[2022-06-03 11:12] josdeweger commented on #3240
Thanks for your very constructive answer @bartelink, much appreciated!

[2022-06-03 11:45] j82w commented on #3249
Why are you running the SDK in a client device? That poses a security risk, ideally the architecture should look like: https://docs.microsoft.com/en-in/azure/architecture/solution-ideas/articles/gaming-using-cosmos-db

[2022-06-03 12:26] j82w opened #3250 "LINQ: Add support for System.Text.Json attributes"
If you follow this sample and use the System.Text.Json as the default serializer LINQ will not translate the attribute so the incorrect query will be generated. This will cause the query to return no or incorrect results.

Follow the sample listed here: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/SystemTextJson/CosmosSystemTextJsonSerializer.cs

[2022-06-03 16:22] ealsur commented on #3249
See https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3171#issuecomment-1134771448

We can track this workitem to allow a gracious fallback as you mentioned, but this does not negate the problem you will face with your current architecture, you are potentially exposing a security risk on your account.

[2022-06-03 16:28] ealsur commented on #3249
@imanvt To address this issue, we can simply wrap https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB?path=/Product/SDK/.net/Microsoft.Azure.Documents.Client/LegacyXPlatform/CustomTypeExtensions.cs&version=GBmaster&line=193&lineEnd=194&lineStartColumn=1&lineEndColumn=1&lineStyle=plain&_a=contents in a try statement, and use a default value when it cannot be obtained.

[2022-06-03 19:07] #3248 closed

[2022-06-03 20:09] #3238 closed

[2022-06-06 03:55] nomurayoshuak commented on #3249
@j82w @ealsur

Thank you for the advice.

We are aware of security risks and plan to change to access methods using resource tokens:
https://docs.microsoft.com/en-us/azure/cosmos-db/secure-access-to-data?tabs=using-primary-key#resource-tokens
or back-end APIs in the future.
I understand that the access method using resource tokens is based on the assumption that Cosmos DB is operated from the clie

[2022-06-06 11:34] j82w commented on #3249
The other issue besides security is scaling. Every time the SDK initializes it requires account and other metadata information which has it's own limitations that do not scale.
https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#metadata-request-limits

[2022-06-06 16:20] ealsur commented on #3240
@josdeweger I guess whether or not open sourcing the library or if it will be useful will be up to your user base.

The only thing we can share in this repo is that open sourcing will obviously bring you benefits, but you have to define clear expectations on support and how are you going to handle the load when people start to create Issues on your repository.

Maybe the conversation would be more

[2022-06-06 16:44] #3222 closed

[2022-06-06 19:02] josdeweger commented on #3240
Hi @ealsur , appreciate the answer/feedback. This was the first repo that came to mind where I might find a target audience that could indicate whether this is interesting for them (or not). I opened an issue in the Fluent Migrator repo as well: https://github.com/fluentmigrator/fluentmigrator/discussions/1608. If you feel this issue should not be in this repo, of course feel free to close it. Oth

[2022-06-06 22:03] #3247 closed

[2022-06-07 17:42] ealsur commented on #3215
Closing due to inactivity. Please share more information in case this is still an issue.

[2022-06-07 17:42] #3215 closed

[2022-06-07 17:42] ealsur commented on #3196
Closing due to inactivity. Please share more information in case this is still an issue.

[2022-06-07 17:42] #3196 closed

[2022-06-07 17:42] #3193 closed

[2022-06-07 17:43] ealsur commented on #3171
Closing due to inactivity. Please share more information in case this is still an issue.

[2022-06-07 17:43] #3171 closed

[2022-06-07 17:55] ealsur commented on #2951
Closed by https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3226. Released in 3.27.2

[2022-06-07 17:55] #2951 closed

[2022-06-08 18:28] vmachacek commented on #3250
You can supply `linqSerializerOptions` param and set its `PropertyNamingPolicy` to `CamelCase`. But since you set the custom serializer you cannot do it globally unfortunately, you would have to supply it with each invocation (that works for me).

[2022-06-08 19:17] vmachacek opened #3258 "LINQ: PropertyNamingPolicy set to CamelCase generates wrong query"
**Describe the bug**
given this query `queryable.Where(r => r.Type == "fooBar" && !r.DeletedAt.HasValue || r.DeletedAt == null).Take(1)` when i set `PropertyNamingPolicy` to `CamelCase`

the query is generated as follows:
`SELECT TOP 1 VALUE root FROM root WHERE (((root["type"] = "fooBar") AND (NOT root["deletedAt"]["hasValue"])) OR (root["deletedAt"] = null))`

and without the param specified is

[2022-06-09 17:55] #3042 closed

[2022-06-09 19:18] #3051 closed

[2022-06-09 19:18] #3098 closed

[2022-06-09 19:18] #3235 closed

[2022-06-09 19:18] #3249 closed

[2022-06-09 19:18] #3074 closed

[2022-06-09 19:32] ealsur opened #3259 "CosmosClient - ObjectDisposed on background refresh"
Related to https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2619#issuecomment-998058425

When creating and disposing a client instance without performing operations (or not waiting for the operation to complete and disposing quickly), the initialization or background worker task that refreshes/gets the account information still tries to complete one execution and fails finding the HttpClient

[2022-06-13 07:09] giladl99-eng opened #3263 "System.ObjectDisposedException: Cannot access a closed Stream"
Following our migration to cosmos SDK v3 and usage of feed range API, we started to see this exception occasionally in our traces:

Error while copying content to a stream. ---> System.ObjectDisposedException: Cannot access a closed Stream.
   at System.IO.Stream.CopyToAsync(Stream destination, Int32 bufferSize, CancellationToken cancellationToken)
   at System.Net.Http.DelegatingStream.CopyToAsyn

[2022-06-13 07:20] FabianMeiswinkel commented on #3263
Looks like you forgot to attach the full callstack (the one in the bug description doesn't show what API on container is called and from where). Can you please attach the full callstack?

[2022-06-13 07:32] giladl99-eng commented on #3263
[docdb sdkv3 stack trace.txt](https://github.com/Azure/azure-cosmos-dotnet-v3/files/8888955/docdb.sdkv3.stack.trace.txt)

[2022-06-13 14:14] ealsur commented on #3263
[code]

Looks like the issue is related to System.Net.Http. In this flow, the application received the HTTP response and our SDK code is asking the HttpResponseMessage to copy the Stream content to a MemoryStream:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/8154849cdf441b3c9669550b64344be7e4c84ad3/Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs#L228-L239

The ownership of the source Str

[2022-06-13 14:16] ealsur commented on #3263
Which .NET Framework / NET Standard implementation version are you running on?

[2022-06-13 15:17] giladl99-eng commented on #3263
.NET 4.6.2

From: Matias Quaranta ***@***.***>
Sent: Monday, June 13, 2022 5:17 PM
To: Azure/azure-cosmos-dotnet-v3 ***@***.***>
Cc: Gilad Levy ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/azure-cosmos-dotnet-v3] System.ObjectDisposedException: Cannot access a closed Stream (Issue #3263)

Which .NET Framework / NET Standard implementation version are you running on?

-
Reply to this email

[2022-06-13 16:20] ealsur commented on #3263
@giladl99-eng What is the lifetime of your CosmosClient? Are there any events that would call its Dispose? The only relationship I can see if, when the CosmosClient is disposed the HttpClient is disposed. I wonder if this occurs while a response Content is being accessed, if this might the reason.

[2022-06-13 17:43] ealsur commented on #3074
@devlie based on the linked PR, this will release in 3.28.0. The BadRequest exception will contain a SubStatusCode of 20007

[2022-06-13 17:47] devlie commented on #3074
Thank you very much, @ealsur!

[2022-06-13 17:51] imanvt commented on #3074
@xiejiams Please see above comment as well.

[2022-06-13 18:16] giladl99-eng commented on #3263
Hi Matias,

We use cosmos client as singleton, dispose happens when our service shuts down. We saw those exceptions frequently with no correlation to process termination.

From: Matias Quaranta ***@***.***>
Sent: Monday, June 13, 2022 7:20 PM
To: Azure/azure-cosmos-dotnet-v3 ***@***.***>
Cc: Gilad Levy ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cosmos-dotnet-v3] System.ObjectDisp

[2022-06-14 16:54] kedzior-io opened #3267 "Response status code does not indicate success: RequestTimeout (408)"
Similar issue to this [issue ](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1610) but in our case seems like CPU ramps up to 97% but I can't understand why.

Our Cosmos DB is set to auto scale and we haven't crossed 50% of the max RU consumption in the last 7 days.

The update is requested from Azure Function v4 (linux, net6.0, isolated process) on Premium Plan.

I followed this document

[2022-06-14 18:36] ealsur commented on #3267
Please update the SDK to a newer version and share the updated diagnostics. The version you are using does not include diagnostics for timeouts (added on 3.24 https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/changelog.md#-3240---2022-01-31).

The only thing we can see is that there seems to be 2 clients: `"NumberOfClientsCreated":2,`

We cannot tell you why your CPU is high, CPU analysi

[2022-06-15 20:01] #2466 closed

[2022-06-16 09:56] kedzior-io commented on #3267
Most likely this is related to the function code. I will keep this open to post my findings.

Interestingly I don't see our app service plan (for our azure functions) ever go above 80% when previous diagnostics shows 97% and the one I posted below 82%.

<img width="881" alt="image" src="https://user-images.githubusercontent.com/40808369/174045006-5ce0a32c-bac7-4101-8c9c-da82f1edc798.png">

Here is

[2022-06-16 10:05] ekjuanrejon commented on #1253
any update on this bug?

[2022-06-16 13:18] ccurrens opened #3272 "Constant evaluation of `Nullable<T>.HasValue` fails with `System.Reflection.TargetException: Non-static method requires a target` when `null`."
**Describe the bug**
Constant evaluation of `Nullable<T>.HasValue` fails with `System.Reflection.TargetException: Non-static method requires a target` when `null`.

**To Reproduce**
Create a linq query with a `Nullable<T>` closure whose value is `null`, with a call to `HasValue` in it.

[code]

**Expected behavior**
The query would output `true` if the constant was non-null or `false`, if it was n

[2022-06-16 14:56] onionhammer commented on #1253
@sboshra @j82w I'd be happy to look into this issue and contribute a PR if this is within reach for a new contributor?

[2022-06-16 16:25] ealsur commented on #3267
[code]

There are still 2 clients being created and active, is this what you expect?

[code]

This is a timeout, there are 2 potential issues:

[code]

You have high Transit Time, meaning, something is not entirely right in the network (2 seconds for a request is massive).

Very high time on Received: This means the response is sitting there waiting ~8 seconds to be consumed. This points to thread

[2022-06-16 20:55] kirankumarkolli opened #3274 "Port Auth improvements from msdata repo"
https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/commit/b5172d69cea3abfb94f4238011fabe0487bc2a66?refName=refs/heads/master&path=/Product/Microsoft.Azure.Documents/SharedFiles/AuthorizationHelper.cs

Also take a look at other applicable changes from this PR.

[2022-06-16 20:56] kirankumarkolli commented on #3274
Also please add micro benchmark as well.

[2022-06-16 21:02] kirankumarkolli commented on #3274
https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/commit/2df5165b8d6c55fba01ab822519ef429448d7898?refName=refs/heads/master

[2022-06-16 21:02] kirankumarkolli commented on #3274
https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/commit/d1c61ef3a261f9366c27f56f4c17092803adddad?refName=refs/heads/master&path=/Product/Microsoft.Azure.Documents/SharedFiles/PartitionKeyRangeIdentity.cs

[2022-06-16 22:34] DarknessChen opened #3275 "Cannot connect to the Cosmos DB Emulator via a proxy and encounter Unauthorized (401)"
**Describe the bug**
We are trying to do some local developments and use a proxy in-between the application under test and the Cosmos DB emulator. However, we cannot connect to the Cosmos DB emulator successfully and always encounter this problem:
[code]

We infer the problem may be related to SSL validation, so we modified the application by following https://github.com/Azure/azure-cosmos-dotnet-

[2022-06-17 16:17] kedzior-io commented on #3267
Thanks for the info.

Yes, azure functions automatically spins a second instance which would have a new client.

My Azure Function is in the same region as Cosmos. Insights do not report anything unusual related to the network.

I went through all recommended docs. Thanks!
My function is the simplest thing there is and I'm not sure where it can be blocking threads.

[code]

What I have noticed is

[2022-06-18 18:37] kedzior-io commented on #3267
I haven't received 408 since yesterday but I modified the code to log what's happening and I'm still loosing some updates.

It commits some updates but randomly loses some.

[code]

My `LogStock` method logs this:

[code]

Querying that product a minute later with Cosmos DB Explorer returns an old value:

[code]

My azure function doesn't throw any exception.

[2022-06-19 22:38] onionhammer commented on #1253
Looking over the code it looks like this needs to be enhanced to support the serializer settings

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/11b774459a894657dcca8cbf89b945b42e008a86/Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs#L529

[2022-06-20 10:29] YipingRuan commented on #3250
With `linqSerializerOptions`, projection in LinQ with upper case seems not working for me:
`.Select(x => new { A = 55, b = 1.5, id = x.Id })`

Note the value of `A` and `id`

`PropertyNamingPolicy  = CamelCase`
![image](https://user-images.githubusercontent.com/5492274/174582343-c5876e62-6dae-49fb-b22f-5278f83f5a0e.png)

`default`
![image](https://user-images.githubusercontent.com/5492274/17458257

[2022-06-20 15:09] ealsur commented on #3275
This is not related to SSL, SSL errors are different. This is the Emulator returning 401, it's not a mis-behavior or error on the SDK.

Why is the Emulator returning 401 is outside of this repo's expertise, but check the date/time on the error message to understand if there isn't a clock skew on the machines.

[2022-06-20 22:57] ealsur opened #3279 "CancellationToken: User provided CT not flowing for initialization related requests"
When the client is initialized (first request) it fetches the Collection and Routing information (reference https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-sdk-connection-modes#routing).

These operations are Gateway/HTTP requests.

When Gateway operations flow, they execute `ProcessMessageAsync`: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Gatew

[2022-06-21 09:42] kedzior-io commented on #3267
Just updating the issue. I had no timeout issues since 3 days (even with higher payload).

As for missing updates it all indicates some problem with `Microsoft.EntityFrameworkCore.Cosmos`.

I switched from using EF Provider for Cosmos:

[code]

to patching the document:

[code]
No single lost document update since then. Seems like EF Provider has issues updating larger documents.
I will try to rep

[2022-06-21 09:42] #3267 closed

[2022-06-21 10:45] kskem opened #3280 "Custom serializer breaks query"
**Describe the bug**
The options exposed for the built-in serializer are limited only to changing the name. Additional changes requires a custom serializer. However, any modifications in the custom serializer are not used when performing a query, making the option mostly useless.

**To Reproduce**
- Implement a [custom serializer using example code](https://ankitvijay.net/2021/06/20/custom-json-se

[2022-06-21 10:52] kskem opened #3281 "Add option to query to treat `null == undefined`"
**Is your feature request related to a problem? Please describe.**
When storing the documents, I would like them to be as concise as possible, which means not storing elements that are not set.

When upgrading the client-side data model, any new fields will be `undefined` on the stored documents. Any queries that evaluate these fields will then only perform a null check (either ` == null` or `!= n

[2022-06-21 15:09] ealsur commented on #3275
Closing as out of scope of this repository, for Emulator related issues please look at the support link in https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-local-emulator

If removing the Proxy solves the issue, it could be a misconfiguration on the proxy itself (unsure if Mockserver requires any extra configuration, the IWebProxy interface is available in CosmosClientOptions).

Based

[2022-06-21 16:24] WestDiscGolf commented on #651
*bump*

The ability for the client to handle multiple different connections in a multi tenant system is an important functional requirement. If data has to be separated by database going through a single code base then the connection string, db name, containers etc. have to be per request and resolved at runtime depending on claims etc. Due to this it appears to go against the "cosmos client shoul

[2022-06-21 18:36] imanvt opened #3283 "ChangeFeed: Possible flooding of timer queue"
**Describe the bug**
In the timeout check via Task.WhenAny in the Change Feed processing, the Task.Delay timer will not be cancelled, which could cause the time queue to be flooded.
[https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/FeedProcessing/FeedProcessorCore.cs#L52-58](url)

**Expected behavior**
A CancellationTokenSource should be ad

[2022-06-21 21:34] #3259 closed

[2022-06-21 21:34] #2619 closed

[2022-06-22 02:06] YipingRuan commented on #2533
Maybe
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3282

[2022-06-22 18:57] #3283 closed

[2022-06-23 09:07] JamieTemple opened #3304 "Question - Where to raise issues with CosmosDB Emulator?"
Sorry - probably not the right place for this, but I cannot find where to raise an issue with running the emulator.

Could someone please point me to the right place?

In short, the emulator simply refuses to start, throwing a "Failed loading emulator secrets certificate" message.

I've only found limited help, none of which has resolved the problem. (It runs fine if I spin it up inside Docker)

T

[2022-06-23 17:41] justinbhopper commented on #2808
This may be by design, as @j82w [mentioned in this ticket](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/990#issuecomment-563415971) that the ORDER BY clause will cause the query to roll across all partitions to get results.

If this database has many partitions, it will call each partition, order the results, and then return the final ordered result.

[2022-06-23 21:33] #3304 closed

[2022-06-28 13:07] patspaeth opened #3312 "Vulnerable NewtonSoft.Json version is used"
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/39675a5348d8c37a890d266b6cfb13afa8f6fc82/Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj#L115

[2022-06-28 13:08] patspaeth commented on #3312
Is it possible to update to 13.0.1?

[2022-06-28 21:36] #3312 closed

[2022-06-28 22:37] ealsur opened #3314 "OperationCanceledException - Stack Trace and diagnostics"
When generating the serialization of an OperationCanceledException, we are adding the OriginalException as part of a Datum:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosOperationCanceledException.cs#L53

Because this is added on the beginning of the trace, when the exception is serialized and the Diagnostics are printed, th

[2022-06-28 22:37] ealsur commented on #3314
[log_with_truncated_diag.txt](https://github.com/Azure/azure-cosmos-dotnet-v3/files/9005841/log_with_truncated_diag.txt)

[2022-06-29 01:20] asgoe commented on #3210
@ealsur starting working on the fix for this. Instead of just changing our serializer, I am trying to understand the expectation that the CosmosSqlQuerySpecJsonConverter.cs has if a null value needs to be passed. For a query like below, what should the SqlParameter value be set to if we want to match on null? I have tried passing in "" and "null" but neither of them return the correct result. Are

[2022-06-29 18:32] sourabh1007 opened #3315 "AI Integration: Emit request diagnostics as a separate Activity and split in into parts if exceeding the limit"
Request Diagnostics can go as big as 12000+ characters and AppInsight attributes value is limit is around 8000 characters, so split request diagnostics to avoid truncate.

[2022-06-29 18:39] divega opened #3316 "Consider accepting string.Empty as a valid continuationToken equivalent to null"
This is related to https://github.com/Azure/azure-sdk-for-net/issues/29056 which talks about documenting whether to expect the `ContinuationToken` property will contain `string.Empty` or `null` when there are no additional results. I am arguing there that the issue should be extended to document what value to pass to methods that accept the continuation token as an argument in the initial query. A

[2022-06-29 19:53] ealsur commented on #3047
Closing due to lack of activity. Please re-open with more information or insights if needed.

[2022-06-29 19:53] #3047 closed

[2022-06-29 20:18] sourabh1007 opened #3317 "AI Integration: Get Request size from request diagnostics and optimize logic to get Response Size"
1. Expose an API in CosmosTraceDiagnostics to get request size out of diagnostics and use it in open telemetry.
2. Right now, We are getting response size from stream or header content length. We should find a way to get response size in all the cases irrespective of availability of it in stream and header. ref https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3277#discussion_r910406456

[2022-06-30 04:13] YipingRuan commented on #3280
Maybe a small fix here will do?

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/dfa0b7c28402ad627a6c11ecf245074a117741e8/Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs#L653

[2022-06-30 04:23] YipingRuan commented on #3280
Seems the `Expression` is already using `int` before the `SqlTranslator.TranslateExpression`..
![image](https://user-images.githubusercontent.com/5492274/176592274-ce77384f-39cc-4d27-b480-124e508fd111.png)

[2022-06-30 15:11] #3314 closed

[2022-06-30 15:12] ealsur commented on #3263
We were able to root cause and find the source of this problem, it was affecting only Bounded Staleness/Strong accounts and it was related to the handling of quorum responses.

[2022-06-30 15:41] ealsur commented on #3263
Incorrect linking. This is not the case that was fixed and found. This Issue's stack trace and error is not related to the issue found and fixed.

The issue we found and fixed was related to Bounded Staleness/Strong barrier requests on the TCP stack, this stack trace is for an HTTP operation obtaining metadata information and the disposing is tied to the HttpClient Stream management.

[2022-06-30 16:52] vmachacek opened #3321 "support get_item in JsonObject"
I have a migrations for which i describe query in a form of `Expression<Func<JsonObject, bool>>` and this expression will get translated to SQL and sent to cosmos and than the migration run on subset of database. So far so good. Now i have migrated most of the codebase to the System.Text.Json I want to make this work with JsonObject instead of JObject

Now  something like this wont work because ex

[2022-06-30 19:20] ealsur commented on #3240
Closing as out of the scope of this repo and had no activity in more than 20 days.

[2022-06-30 19:20] #3240 closed

[2022-06-30 19:22] ealsur commented on #3014
Closing - No evident SDK issue (behavior is expected on Strong consistency)

[2022-06-30 19:22] #3014 closed

[2022-06-30 20:33] gagwithgaffer commented on #2931
Using Microsoft.Azure.Cosmos 3.28 and i dont see any fix? will have to resort to the above said workaround from [rvdvelden](https://github.com/rvdvelden)

[2022-07-04 09:32] sourabh1007 opened #3323 "AI Integration: For bulk operation, it is not emitting attributes"
Check OtelAttributes in baseline test. Following operation is not emitting Otel Attributes:
1. Bulk Operations
2. Miscellaneous Operation (1 test case)
3. Point Operation Exception Async

[2022-07-04 09:34] sourabh1007 opened #3324 "AI integration: Add Client Information"
Client Information needs to be added as mentioned in #3058

and verify if we are missing any attribute to emit.

[2022-07-04 09:36] sourabh1007 opened #3325 "AI Integration: Add test cases to verify attribute values"
Right Now,  baseline tests are added which confirms number of activities and attribute keys but we need to verify if values are not coming as expected. Add unit/integration tests for the same.

[2022-07-04 11:44] sourabh1007 opened #3326 "AI Integration: Add retry count information"
Retry count information is missing right now. needs to be added as mentioned in https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3058

[2022-07-05 01:06] AraHaan commented on #2533
Oh btw any plans to update the Newtonsoft dependency to the latest version to avoid possibly getting a version of that in the v3 that is prone to security issues? I think v10 is prone but v13 is not (that we know of so far).

[2022-07-05 20:00] #3274 closed

[2022-07-06 12:44] sebader commented on #2330
@ealsur any updates on this one? This is still a major hurdle in many automation scenarios

[2022-07-06 18:36] sourabh1007 opened #3328 "AI Integration: Sampling option at source"
Need to explore this.

Idea is to have "Sampling" option for customer at source (i.e. cosmosdb sdk)

[2022-07-08 17:07] sourabh1007 opened #3333 "AI Integration: Set Operation Type in db.operation"
This is something which is open for discussion, if it makes sense to have operation type or operation name here.

Operation type :
        Invalid = -1,
        Create = 0,
        Patch = 1,
        Read = 2,
        ReadFeed = 3,
        Delete = 4,
        Replace = 5,
        Execute = 9,
        BatchApply = 13,
        SqlQuery = 14,
        Query = 0xF,
        Head = 18,
        HeadFeed =

[2022-07-09 17:22] rmajid2 commented on #1202
Any updates on Group By Improvements  (Linq support, engine optimization , index, RU Cost, Order By ...) ?

[2022-07-11 19:28] koushikchitta opened #3336 "Parameterize server ssl cert name override in direct connectivity mode"
**Context** - In scenarios where the client service cannot take a dependency on Dns (i.e connecting to cosmosDb server using IP).
The ssl handshake with direct connectivity fails since url doesn't match the SN/SAN of the server certificate.

**Ask** - Can we parameterize "servercerthostnameoverride" (probably with clientoptions.cs or cosmosclientbuilder) so that it can be appropriately passed to d

[2022-07-12 03:35] RetYn opened #3339 "Use DefaultAzureCredential with serviceconnection to init cosmos client in ado pipeline receive 401"
3.28.0
**Describe the bug**
I use DefaultAzureCredential to init CosmosClient
new CosmosClient(endpoint, new DefaultAzureCredential(), options)
in a c# console app, and run the app in ado pipeline with a service connection.
Sometimes it will get 401 error with the following error message:
Provided AAD token was issued by the authority [72f988bf-86f1-41af-91ab-2d7cd011db47] which is not trusted by

[2022-07-12 07:59] crackalak opened #3340 "Release Notes for 3.29.0 has duplicate PR link"
The release notes for https://github.com/Azure/azure-cosmos-dotnet-v3/releases/tag/3.29.0 and https://github.com/Azure/azure-cosmos-dotnet-v3/releases/tag/3.29.0-preview are showing an incorrect PR link that has been duplicated from the line above.

### Current

### Expected

[2022-07-12 08:11] FabianMeiswinkel commented on #3340
Fixed

[2022-07-12 08:11] #3340 closed

[2022-07-12 14:23] ealsur commented on #3339
Are you targeting a real account or the emulator? DefaultAzureCredential is not a construct / class from the Cosmos SDK, but from the Azure SDKs: https://github.com/Azure/azure-sdk-for-net/

[2022-07-12 14:24] ealsur commented on #3339
Is the App Id `72f988bf-86f1-41af-91ab-2d7cd011db47` or the Tenant `975f013f-7f24-47e8-a7d3-abc4752bf346` incorrect? Are you creating the roles/permissions as part of your flow?

[2022-07-12 15:03] aelij opened #3341 "Use different serializer settings with the same client instance"
**Is your feature request related to a problem? Please describe.**
Currently specifying a custom serializer (or serialization settings) is only possible at the `CosmosClient` level.
However, we have many scenarios where we need to use different serialization settings for each request.
It's highly encouraged to use single instance clients:

While it is possible to use `Stream` based APIs for some u

[2022-07-12 17:01] #3272 closed

[2022-07-13 04:52] aaronpowell opened #3343 "ClientOptions can't be changed after CosmosClient is created, despite settable members"
I'm working on creating a devcontainer that loads the Docker-based emulator side-by-side with the devcontainer to do development against.

Since the emulator is not accessible via `localhost` (it's `cosmos` in my case), the certificate provided isn't valid, and as a result, I need to disable SSL validation. The repo for it can be found here: https://github.com/aaronpowell/FSharp.CosmosDb/tree/emul

[2022-07-13 04:54] aaronpowell commented on #3343
Here's a branch that has the test in it: https://github.com/aaronpowell/azure-cosmos-dotnet-v3/tree/aaronpowell/issue-3343

[2022-07-13 05:53] Xplz3d opened #3344 "response.Diagnostics.GetClientElapsedTime() ==> TimeStamp null returned"
**Describe the bug**
Trying to get the E2E latency when writing on CosmosDB (https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-dot-net-sdk-slow-request?tabs=cpu-new#capture-diagnostics).

**To Reproduce**
[code]

**Expected behavior**
Getting the ClientElapsedTime in ms

**Actual behavior**
Elapsedtime returned by GetClientElapsedTime() is null as shown below:
<img width="353" alt=

[2022-07-13 15:35] ealsur commented on #3344
Can you please share the content of response.Diagnostics.ToString()?

[2022-07-13 15:38] ealsur commented on #3343
This is by design. Once built the ClientOptions are readonly because they are cloned. All the configuration that needs to be set should be passed to the constructor and not modified afterwards. Modifications after a client is created can lead to unexpected behavior.

Already reported on https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1008

And making the APIs read-only is something that can

[2022-07-13 15:43] Xplz3d commented on #3344
@ealsur , please find the content of response.Diagnostics.ToString() below:
<img width="435" alt="image" src="https://user-images.githubusercontent.com/63337188/178774740-27fe666e-6a3e-4487-aa0a-cccde75f2987.png">
<img width="387" alt="image" src="https://user-images.githubusercontent.com/63337188/178774866-35f395c6-c988-45fe-a5f0-b34b9f372bce.png">

And the content in string (extracted from debug

[2022-07-14 05:19] Xplz3d commented on #3344
Dear,

IT seems that it's working now ...don't know what happened, by the way, everythings seems ok.
<img width="388" alt="image" src="https://user-images.githubusercontent.com/63337188/178905110-4e30153c-5e70-4313-b4b2-9a9830f04920.png">

Thanks for your investigation.

Regards,

[2022-07-14 05:19] #3344 closed

[2022-07-14 15:22] cazac9 opened #3346 "Conversion error: ToString CosmosDb SQL function should be used"
**Describe the bug**
This is simplified example
I have a next document structure:

{"paymentData": {"paymentSummary": {"total": 77}}}

and corresponding c# class

public class PaymentDocument
{
	[JsonProperty("paymentData")]
	public JToken ExtraData { get; set; }
}
I have a simple code:

_container.GetItemLinqQueryable<PaymentDocument>().Where(t => t.ExtraData["paymentSummary"]["total"].ToString()

[2022-07-15 16:41] oatsoda opened #3347 "Possible mistake in System.Text.Json example Serialiser?"
I think maybe in the `Serialize<T>` [method](
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/ca8d48f88451edd657fa4c91dd96f9a58fb69c6d/Microsoft.Azure.Cosmos.Samples/Usage/SystemTextJson/CosmosSystemTextJsonSerializer.cs#L43):

[code]

It should probably be

[code]

So that it uses the actual runtime type, rather than the Generic T?  I would think in most cases you want to serialise as the ac

[2022-07-15 19:02] ealsur commented on #3347
That will depend on how the SDK APIs are consumed, sure. If you call for example, `ReadItemAsync<MyType>` then `typeof(T)` and `input.GetType()` should be the same.

If you start doing inheritance or dynamic typing probably want to use `input.GetType()` instead.

From the performance point of view though, they are not the same: https://stackoverflow.com/questions/353342/performance-of-object-getty

[2022-07-15 19:04] ealsur commented on #3347
Having said that, we can certainly update the sample with a legend stating the alternatives. Probably defaulting to `input.GetType()` would be better, feel free to send a PR with the change for sure.

[2022-07-19 14:06] ealsur commented on #3339
Closing due to inactivity, please reopen and share the required information

[2022-07-19 17:45] neildsh commented on #3129
Fixed by [Query: Adds aggressive prefetching for scalar aggregates #3168](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3168)

[2022-07-19 17:45] #3129 closed

[2022-07-20 08:17] qsdfplkj opened #3354 "CosmosException when using QueryDefinition.WithParameter on ORDER BY"
Microsoft.Azure.Cosmos.CosmosException : Response status code does not indicate success: BadRequest (400); Substatus: 0; ActivityId: ; Reason: ({"errors":[{"severity":"Error","location":{"start":64,"end":72},"code":"SC1001","message":"Syntax error, incorrect syntax near '@orderBy'."}]});
 ---> Microsoft.Azure.Cosmos.Query.Core.Exceptions.ExpectedQueryPartitionProviderException: {"errors":[{"severi

[2022-07-20 10:00] adeliab opened #3355 "First insert/ read takes a much longer time"
**Describe the bug**
I'm running some tests to compare insert/ read/ update durations in cosmos db. I noticed this weird behavior that the first insert/ read takes much longer time than subsequent inserts/ reads. See image below.
The methods used are: CreateItemAsync and ReadItemAsync.
UpsertItemAsync doesn't have the same problem.

![image](https://user-images.githubusercontent.com/7829826/179953

[2022-07-20 13:28] bartelink commented on #3355
Are you using [`CreateAndInitializeAsync`](https://devblogs.microsoft.com/cosmosdb/improve-net-sdk-initialization/) ?

[2022-07-20 14:54] ealsur commented on #3355
This is by design, please see: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-sdk-connection-modes#routing and https://youtu.be/McZIQhZpvew?t=820

[2022-07-20 14:54] #3355 closed, assigned to nobody

[2022-07-20 14:56] ealsur commented on #3355
Also, for your own sake, don't block async operations. Don't do this:

[code]

Use `await` and make your methods be `async`. Even on a console application, you can make the main method `async`.

Reference: https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md#avoid-using-taskresult-and-taskwait

[2022-07-20 15:07] ealsur commented on #3354
This exception is a query format error: `Syntax error, incorrect syntax near '@orderby'.`

You cannot dynamically modify the ORDER BY statement through parametrized querying, parametrized queries are for values, not column names or order values: https://docs.microsoft.com/azure/cosmos-db/sql/sql-query-parameterized-queries.

[code]

If you had `where` clauses you could parametrized the value you a

[2022-07-20 15:22] qsdfplkj commented on #3354
Ok am I missing something when I will just use string interpolation:  `QueryDefinition queryDefinition = new QueryDefinition($"SELECT * FROM c ORDER BY {orderBy} {sortDirection}"); `
Or should I prepare a querydefinitions for each (orderby, sortdirection) combination and use one of those? Does it perform better when having seperate predefined querydefinitions when compared to the interpolated appr

[2022-07-20 15:29] ealsur commented on #3354
There is no performance difference other than in your application space reducing string allocations

[2022-07-20 15:53] thomasread99 commented on #893
For the `.Returns(...)` in the testing, what should the return value be? I can do `myObject.AsQueryable().ToFeedIterator<>();` but that just throws the same as the original error

[2022-07-20 20:42] #3354 closed

[2022-07-20 23:07] neildsh commented on #3166
Hello @admo-1, my apologies for the late response here. GROUP BY does not guarantee any ordering on the results. Hence, I am closing this issue.

We are looking into supporting ORDER BY in the presence of GROUP BY to allow ordering group by results. This will be mentioned in the release notes once it is implemented.

[2022-07-20 23:07] #3166 closed

[2022-07-20 23:10] neildsh commented on #3207
Thanks for raising this issue @BrandonWilliamsCS. This issue is accepted and assigned to a dev to be fixed.

[2022-07-20 23:12] neildsh commented on #3346
Thank you for raising this issue @cazac9 . This issue has been accepted and is assigned to a  dev to be fixed.

[2022-07-20 23:20] neildsh commented on #3316
Hello @divega the continuation token is an opaque blob. A `null` continuation token on the response signifies that all results have been returned. This is also reflected in the `FeedIterator.HasMoreResults` returning `false`. Any continuation token passed into the API must either be `null` or exactly the same string that was returned by the API earlier. Specifically, you cannot modify said token.

[2022-07-20 23:20] #3316 closed

[2022-07-21 07:59] adeliab commented on #3355
No, i didn't. Good to know, thanks!

[2022-07-21 08:00] adeliab commented on #3355
I will have a look, thank you

[2022-07-21 08:50] adeliab commented on #3355
I changed my code to use `CreateAndInitializeAsync` but because I delete the container on application start, I support I need to re-initialize the CosmosClient after the containers are re-created.

So now the code does the following:

1. Initialize CosmosClient with `new CosmosClient(connectionString)`
2. Assign database and container variables
3. Delete containers
4. Create containers
5. Re-initi

[2022-07-21 08:59] bartelink commented on #3355
I would say cold start behavior on any freshly created Container is not something to depend on for tonnes of reasons
In fact, I'd be concerned if anyone on the server side spent the slightest bit of time even thinking about optimizing that.
In line with general benchmarking approaches, I'd be throwing away a warmup pass before even looking at any results (Note that I'm not saying that you can/shou

[2022-07-21 09:05] adeliab commented on #3355
Understandable with the cold start. But these spikes that now happen in the middle of operations are not cold start anymore I suppose? Just trying to understand the cause

[2022-07-21 09:18] bartelink commented on #3355
Just saying that the system behavior for the first inserts in a fresh container may not be something that's reliably consistent

So I'd suggest in general eliminating this possible source of variance before attempting to identify such variance

In other words, make the container, add some items, wait minutes to attempt to flush out one-off server-side effects

Just because you observe variance doe

[2022-07-21 17:18] ealsur commented on #3355
@adeliab Latency analysis is always on P99/hour (for example, 200K requests in an hour), running an application with 20 requests is not really a representation of P99.

Then you have a lot of other variables:

* Where are you running this code? Is this a production machine? Is the application built as release?
* Are there any issues with your test code? The initial example showed you were blocking

[2022-07-21 21:17] LastTribunal opened #3356 "Memory Leak in Comsos .net client"
What a POS this .net cosmos client is (new and old).. The only way to run this this thing is as a singleton. Constant Instantiation will guarantee memory leak disasters in Prod, as I learned the hard way.
GC will not lean up, it will linger in Gen2 heap forever, till it blows up your server.

MS needs to either un'f the client and make it garbage collectable, or put a disclaimer about its use and

[2022-07-21 21:27] ealsur commented on #3356
Hi, thanks for your feedback. Could you please describe what is the intent of this Issue?

Once a client is Disposed, the objects related to it are Disposed. If you are not Disposing the client instances and instead de-referencing them, that's a different case. The CosmosClient implements `IDisposable`, any class that implements `IDisposable` should be disposed once not used anymore.

Is your stat

[2022-07-21 21:33] emzatos opened #3357 "Exposing QueryMetrics"
**Is your feature request related to a problem? Please describe.**
In SDK V2, the query response contained the actual QueryMetrics object which allowed us to aggregate the metrics of multiple calls for more relevant logging, especially on things like paged queries. Now, the only way to get QueryMetrics information is through the ToString() method of CosmosDiagnostics. This unfortunately removes th

[2022-07-21 22:08] LastTribunal commented on #3356
@ealsur looks like  somehow I wasnt disposing it correctly, even though I was using the `using()` statement.  Running with dispose() in a test console app, I could not replicate..
So I take back all the harsh words and stand corrected.

[2022-07-21 22:23] #3356 closed

[2022-07-22 06:18] bartelink commented on #3356
Well I hope the lesson learned is (beyond the fact that SELECT is normally not broken and that this repo would fill with issues and dups of issues pretty quick if there was such a leak), is that you're best of practicing your nice voice in GitHub issues. If there is a particular documentation area you found insufficient that led you into this state, calling out a particular section and/or suggesti

[2022-07-22 14:58] ealsur commented on #3356
@LastTribunal Thanks for closing the loop, glad you found the culprit!

As @bartelink points out, if you did follow some documentation or sample that put you in that situation, please let us know so we can fix it and avoid this problem for future users, your feedback is highly appreciated.

[2022-07-22 15:14] jcoqueret opened #3358 "ArgumentException in DiagnosticsHandler with external retry mechanism"
**Describe the bug**
I use Polly as a retry mechanism and use the CircuitBreaker to wrap call to CosmosDb.
When a request is retried, I got an ArgumentException in the DiagnosticsHandler. It try to add again a "System Info" key in the request's trace.

**Expected behavior**
Do not throw exception, replace the item in the dictionary.

**Actual behavior**
Code throw an ArgumentException.

**Environm

[2022-07-22 15:39] ealsur commented on #3358
Could you share some way of reproducing the scenario? How are you doing the retry with Polly? Are you using a custom Handler in the pipeline?

[2022-07-22 16:47] jcoqueret commented on #3358
It will be tricky to extract the code to reproduce right now but I can give you some information.

Yes I use a custom handler to support the retry. It is registered that way :
[code]

And this is what the handler looks like :
[code]

I just remark that I call directly the InnerHandler which is the DiagnosticsHandler. Should I call the base instead ?

[2022-07-22 16:51] ealsur commented on #3358
Based on our examples: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/Handlers/ThrottlingHandler.cs

It should be `base.SendAsync`.

I am not entirely sure why InnerHandler is public 😞

[2022-07-22 16:56] jcoqueret commented on #3358
Oh, I missed that sample.
Thank you to answer so fast !

[2022-07-22 16:56] #3358 closed

[2022-07-22 17:00] ealsur commented on #3358
Did using `base.SendAsync` fix the error you were seeing?

[2022-07-25 15:16] jgcordel opened #3360 "Extremely High CPU When Querying Cosmos DB"
We've been noticing extremely High CPU when using Container.GetItemQueryIterator(QueryDefinition queryDef) and FeedIterator.ReadNextAsync() with our CosmosDB account in our API and on our local machines when testing. specifically, the issue is encountered when running the queries concurrently. when running 7 concurrent queries, I am experiencing upwards of 66% CPU utilization on a fairly beefy i7-

[2022-07-25 16:59] ealsur commented on #3360
Could you please share why you consider this an issue on the SDK? CPU usage will obviously scale based on volume of operations, and that would not be something inherently wrong on the SDK.

Is this a Production scenario?

[2022-07-25 17:38] #3324 closed

[2022-07-25 17:54] jgcordel commented on #3360
@ealsur, thank you for the quick response, and we agree that CPU usage will scale with volume.
First: yes, this is a production Scenario. We have been noticing random CPU spikes in our Azure app service that controls our Cosmos DB interaction. We started running test in localized solutions to see where the problem might be coming from when we noticed the extremely high CPU percentage when running

[2022-07-25 18:03] ealsur commented on #3360
Could you attach the diagnostics for these queries? A single query, if it's a cross-partition query, can span hundreds of network calls.

[2022-07-25 18:45] jgcordel commented on #3360
@ealsur, here is the Diagnostics for 1 query:

[code]

[2022-07-25 18:54] ealsur commented on #3360
This is an initialization call (first request):

* There is a COLLECTION GET request through HTTP
* There is a PartitionKeyRange GET request through HTTP
* There is an Address GET request through HTTP
* You are opening connections:
[code]

This will not happen on subsequent requests as explained in: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-sdk-connection-modes#routing

So if you ar

[2022-07-25 19:24] jgcordel commented on #3360
Here are the diagnostics for the 7th concurrent query. I made sure to run an initial query before running the concurrent queries to give the client an opportunity to open any connections. in our API, we are running a Singleton Client and I am also running a singleton client in this test.

[code]

[2022-07-25 20:48] ealsur commented on #3360
Your biggest time spent is trying to get the Query Plan still, your application is doing HTTP requests because it is **not built as x64** (reference https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips-query-sdk?tabs=v3&pivots=programming-language-csharp#use-local-query-plan-generation) as I mentioned in my previous answer. That is where most of your latency is. Try building as x6

[2022-07-26 15:25] jcocchi opened #3363 "Move MaxIntegratedCacheStaleness to the GA package"
We will need to move MaxIntegratedCacheStaleness to the GA SDK package for when the dedicated gateway goes GA.

[2022-07-26 17:40] #3363 closed

[2022-07-27 18:15] onionhammer opened #3367 "Low hanging fruit in LINQ to SQL translation"
There are some very easy low-hanging fruit options that should be implemented;

## 1 - Missing CosmosLinqExtensions functions
All functions should be available here, including: IS_OBJECT, IS_STRING, IS_NUMBER etc.

Listed here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-string-functions

The only ones available are: IsDefined and IsPrimitive, IsNull, etc.

## 2 - Cast / OfType

[2022-07-28 07:35] udit0802 commented on #1063
I am also facing the issue with azure cosmos 3 with .Net6 core where System.text.json is the serializer library recommened.
Is there a way to make that work?

[2022-07-29 15:15] ViconiaDeVier opened #3369 "System.ArgumentException in CosmosJsonDotNetSerializer"
**Describe the bug**
After upgrading Microsoft.Azure.Cosmos library from 3.23.0-preview to 3.28.0-preview and Microsoft.Azure.Cosmos.Encryption.Custom library from 1.0.0-preview02 to 1.0.0-preview03 we started to see a lot of System.ArgumentException on our PROD env:
unhandled exception System.ArgumentException: Stream was not readable.
   at System.IO.StreamReader..ctor(Stream stream, Encoding en

[2022-08-02 01:02] thed24 opened #3371 "The addition of ConfigurationManager 6.0 is a breaking change for Azure Function Apps 3"
**Describe the bug**
The dependency on System.Configuration.ConfigurationManager 6.0.0 introduced in the latest version of Azure.Cosmos (3.29.0) conflicts with the pinned version bundled with Azure Function App 3.

**To Reproduce**

1. Create a new Azure Function App on version 3 of the SDK
2. Install Azure.Cosmos 3.29.0
3. Try to use the dependency in any manner, such as initializing a client

**

[2022-08-02 17:09] sourabh1007 opened #3372 "Client Telemetry : Hash Process Id and VM id"
Procees Id and Vm id needs to be hashed for privacy concerns.

[2022-08-03 21:40] kirankumarkolli commented on #3185
@SchintaMicrosoft please take a look.

[2022-08-05 08:52] decodingahmed opened #3374 "Make `PatchOperation<T>` public to allow easier mocking of `container.PatchItemAsync`"
### Problem
When mocking the `container.PatchItemAsync` method, we need to access the values set in the `patchOperations` parameter to know what operations have been passed into the mocked method.

Consider this scenario:
[code]

I would like to be able to validate the list of operations passed into the `PatchItemAsync` method have the expected values.  For example (using Moq):
[code]

### Propose

[2022-08-07 16:09] onionhammer commented on #3032
This happens quite frequently on my system running on Linux as well.

Is microsoft going to address this windows/linux inconsistency at some point or are we all just satisfied with the "Run on windows x64 for best performance" advice?

[2022-08-07 20:34] onionhammer commented on #2139
This gap has existed long enough, I think. Time to re-address. Where are the PMs on cosmos at?

[2022-08-08 15:54] NoahStahl commented on #2139
The [docs](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips-query-sdk?tabs=v3&pivots=programming-language-csharp) *seem* to suggest that 64-bit Windows hosting is not the only way to prevent the query plan calls:

`There are two ways to remove this request and reduce the latency of the query operation`
...
(assuming the following sections are the "two ways")
1. Use local Query

[2022-08-08 16:17] onionhammer commented on #2139
@NoahStahl that's exactly what it means. The optimal way to use Cosmos is not supported in Azure's latest managed hosting solution; Azure Container Apps.. and scenarios where hosting on Windows x64 is going to become rarer and rarer, but I see microsoft making no moves to address this discrepancy.

[2022-08-08 22:14] rmt2021 opened #3378 "Why only retry for 503 ServiceUnavailable when there are multiple regions?"
I notice that Cosmos DB will only retry for error 503 (ServiceUnavailable) when there are multiple regions:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/b713ce4cb3e482175a8a6a9b8fc7051d9c7b5e91/Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs#L373-L378

Shouldn't it also retry when there is single region since the service may be back?

**Describe the solution you'd like**
Also retry on the

[2022-08-09 17:15] HNeukermans commented on #3371
experienced the same issue

[2022-08-09 18:07] pbiasotti commented on #3032
We are seeing kind of the same behavior with an Azure function hosted in windows. The function and the Comos DB instance are in the same region and we are using the NuGet Microsoft.Azure.Cosmos 3.27.1.

The parent call looks like finishing correctly returning the status code 200 but seems there is an internal call being cancelled which is generating noise in our monitoring.

By looking at the code

[2022-08-09 23:14] levimatheri opened #3379 "LeaseLostException still bubbled up"
**Describe the bug**
We have implemented ChangeFeedProcessor with multiple instances. Since we don't have enough data yet to distribute the load across the instances, we are occasionally getting `LeaseLostException`s. Error message just says `Lease was lost`. From my understanding and based on [this PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3124), this should be caught and handled b

[2022-08-10 08:27] kr-santosh commented on #3369
ResponseMessage responseMessage = await this.feedIterator.ReadNextAsync(cancellationToken);
seems to return a closed stream.  Need the Cosmos Core team to have a look at this. @sourabh1007

[2022-08-10 09:45] Yleisnero commented on #1732
I have a similar problem. When comparing two DateTimeOffset objects in a LINQ query as a part of a a cosmos queryable the DateTimeOffset objects are compared without using the time zones. Which means that Cosmos does not note the offset.
[code]
When using the upper code and changesSince is not a UTC time the query is wrong.

Workaround:
[code]

Seems like there are still problems in Microsoft.Azur

[2022-08-10 18:45] xinlian12 opened #3381 "Enable ContinuationToken traces in ChangeFeedProcessor"
Recently, there have been few cases customer facing "Change feed token format is invalid" exception caused by continuationToken being in guid format.

Enable continuationToken traces to help investigation such issues in the future.

[2022-08-11 15:30] adrianagdi commented on #2030
We recently encountered this issue using Microsoft.Azure.Cosmos 3.29.0: queries with Partition.None worked correctly on local development environment and failed with this error when deployed in Azure.
Turns out the App Service we were running this code on had Platform = 32 Bit, while on local we were running on 64 Bit.

We solved the problem by setting the Azure App Service Platform to 64 Bit.

(T

[2022-08-11 21:50] xinlian12 opened #3383 "System.ArgumentException for getFeedRangeAsync"
Customer reported that they are getting the following exception for getFeedRangeAsync:
System.ArgumentException: An item with the same key has already been added.
   at System.ThrowHelper.ThrowArgumentException(ExceptionResource resource)
   at System.Collections.Generic.Dictionary`2.Insert(TKey key, TValue value, Boolean add)
   at Microsoft.Azure.Cosmos.Tracing.Trace.AddDatum(String key, TraceDa

[2022-08-11 21:53] xinlian12 opened #3384 "Add retry for requests failed due to sendLockTimeout"
when request failed due to sendLockTimeout, then it means SDK did not send the request on the wire, so it should be safe to retry: even for write operations.

[2022-08-15 17:18] ealsur commented on #3379
There are still scenarios where LeaseLost will get reported that are related to this stack trace and not covered by the linked PR:

1. If the lease is not found (the document was deleted, which would indicate an invalid state): https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseUpdaterCosmos.cs#L66-L70
2. I

[2022-08-15 18:08] ealsur commented on #3378
The SDK already retries on the region multiple times before generating the 503. Think of it like an onion. The ClientRetryPolicy is at the outer part.

References:

* https://docs.microsoft.com/en-us/azure/cosmos-db/sql/conceptual-resilient-sdk-applications#timeouts-and-connectivity-related-failures-http-408503
* https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-sdk-availability#tr

[2022-08-15 18:08] #3378 closed

[2022-08-15 19:05] rmt2021 commented on #3378
Thanks for your reply @ealsur !

So where can I find the transport layer retry implementation?
I tried to find some clues in the repo, but didn't make it.

Could you please share some more details about the transport retry mechanism?

[2022-08-15 19:37] rmt2021 commented on #3378
Hi @ealsur, is the code below related to the transport layer retry?

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/b713ce4cb3e482175a8a6a9b8fc7051d9c7b5e91/Microsoft.Azure.Cosmos/src/WebExceptionRetryPolicy.cs#L38-L43

However, I cannot find the `WebExceptionUtility.IsWebExceptionRetriable` in this repo or in another open-source .NET project, but I can find a Java implementation online:

ht

[2022-08-15 21:01] ealsur commented on #3378
The code for the .NET TCP stack is not in this repo, it comes from `Microsoft.Azure.Cosmos.Direct` nuget dependency.

For Java, it would be:

* https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ReplicatedResourceClient.java#L163-L170
* https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-

[2022-08-15 21:02] ealsur commented on #3378
It retries TCP connectivity problems for read requests up to 30 seconds before bubbling the 503. For write requests there are no retries because write timeouts are not idempotent.

[2022-08-15 21:07] ealsur commented on #3360
Closing due to inactivity

[2022-08-15 21:07] #3360 closed

[2022-08-15 21:10] ealsur commented on #3371
@thed24 Based on https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=azure-cli%2Cin-process%2Cv4&pivots=programming-language-csharp, it looks like the Azure Functions Version 4 is the one recommended for all languages and that contains compatibility with .NET 6 (which is now the LTS). There is a deprecation notice on V3 and below.

[2022-08-15 21:14] rmt2021 commented on #3378
I see. I will take a deeper look at these.
Thanks a lot!!

[2022-08-15 21:53] ealsur commented on #3381
@xilian12 there are already traces that show the CT being saved:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/b713ce4cb3e482175a8a6a9b8fc7051d9c7b5e91/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/FeedManagement/PartitionCheckpointerCore.cs#L25

[2022-08-16 08:42] Last8Exile commented on #3191
Also on systems with russian language decimal numbers in diagnostics produced with ',' as decimal separator.
It is not valid in JSON and should always be '.'

[2022-08-16 15:19] qinqingxu opened #3387 "The Connection Mode is not work as the Code's setting."
**Describe the bug**
I set the CosmosDB client to use the "Direct" mode.
But when I try to print the diagnostic log, I found it is still using the Gateway mode.

**To Reproduce**
Here is my code:
![image](https://user-images.githubusercontent.com/93512957/184916249-9be78c54-c3f4-4f02-bd49-95f64c3773dd.png)
And you can find the Diagnostic log show like:
![image](https://user-images.githubuserconten

[2022-08-16 15:37] ealsur commented on #3387
@imanvt could you take a look? This sounds related to https://github.com/Azure/azure-cosmos-dotnet-v3/pull/3231

[2022-08-17 03:50] #3372 closed

[2022-08-17 04:11] kr-santosh commented on #3369
Hi @sboshra  can the query team have a look at this issue.

[2022-08-17 14:38] hkusulja commented on #2533
Hello, any progress on this? We want to avoid Newtonsoft JSON and move to System.Text.Json ...

[2022-08-17 16:30] erich-wang opened #3388 "Grant AAD group data plane reader permission does not work"
**Describe the bug**
I'm following the doc https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac to grant data reader permission to AAD group, then I use one user principal belonging to the AAD group to read container items, however error happens:
Forbidden (403); Substatus: 5301; ActivityId: 3e1f99ac-458c-43ac-b557-b1eadd77fc4e; Reason: (Request blocked by Auth *** : Request is block

[2022-08-17 20:14] imanvt commented on #3387
Hi @qinqingxu,

Setting the connection mode in the CosmosClientOptions to Direct mode will use Direct mode when possible. However, even when Direct mode is set, some operations will be performed using Gateway mode. I was only able to reproduce this behavior when performing an operation that requires HTTP calls, which are done in Gateway mode, rather than TCP (direct mode). I believe that the opera

[2022-08-18 01:56] qinqingxu commented on #3387
@imanvt So this is expected result, right?

[2022-08-18 08:03] lstorka commented on #2706
@davidguidali  I am also struggling with this issue, but my setup is a bit different as I have Docker on Ubuntu on WSL2 and started the emulator according to the documentation [link](https://localhost:8081/_explorer/index.html)
Now, when I try to open `https://localhost:8081/_explorer/index.html` on Windows - I get the Cosmos DB explorer and I am able to create db, container etc.
When I try to run

[2022-08-18 15:48] qinqingxu commented on #3387
@imanvt Many thanks for your reply. Looking forward to your good news.  :)

[2022-08-19 11:49] josdeweger commented on #3240
FYI: created a public repo for this initiative: https://github.com/josdeweger/CosmosDb.Migrator

[2022-08-19 13:46] benjzh opened #3392 "CosmosClient initialization (BuildAndInitializeAsync/CreateAndInitializeAsync) with TokenCredential doesn't respect cancellation token"
The following code (or it's alternative without the builder with CosmosClient/CreateAndInitializeAsync) doesn't respect the cancellation token:
[code]

In order to reproduce you can use DefaultAzureCredential locally as it takes some time to find a working credential.

Expected behavior: immediate cancelation
Actual behavior: cancelation after first token is returned or GetTokenAsync threw an exce

[2022-08-19 14:41] ealsur commented on #3392
What is the CancellationToken expiration you are using? Also, the principle of CancellationToken is that libraries check its state when it's safe to do so and won't cause an invalid state that is not recoverable, this does not mean that the CT needs to be checked everywhere or passed to every async call.

[2022-08-19 15:21] benjzh commented on #3392
@***@***.***>, there is no expiration. The cancellation token is coming from Service Fabric when it calls to
StatelessService.RunAsync(CancellationToken cancellationToken), which started the service in the first place and still running. Basically Service Fabric is asking to stop the initialization ASAP and we have about 15sec to do just that. After that the service is marked as unhealthy, and any

[2022-08-19 15:44] ealsur commented on #3392
The code you point out is not used only on CreateAndInitialize, it is the TokenCredentialCache, used for all operations. If you look closely, the function it is used on does not receive your CancellationToken:

![image](https://user-images.githubusercontent.com/1633401/185655469-21791030-48bd-4287-a469-d96114e64c86.png)

The reason is this is a Refresh method, used to periodically (on the backgrou

[2022-08-19 15:49] ealsur commented on #3388
@erich-wang Is the principal Id in the error correct? Is it for an AAD App, user, or a the group?

[2022-08-19 15:51] ealsur commented on #3388
Also `InteractiveBrowserCredential` doesn't look like it would be what you'd do when this code is deployed, right? What is the type of credential the code would use to identify the Group otherwise?

[2022-08-19 17:00] #3387 closed

[2022-08-19 17:26] kundadebdatta opened #3393 "Re-name TimeToLiveExpired variable to IsTimeToLiveExpired in ChangeFeedMetadata contract"
Update the `ChangeFeedMetadata` contract to re-name `TimeToLiveExpired` variable to `IsTimeToLiveExpired`.

[2022-08-19 19:52] #3393 closed

[2022-08-19 21:28] #3381 closed

[2022-08-19 22:44] rmt2021 commented on #3378
Hi @ealsur, thanks again for offering these links. May I ask other questions related to the error code?

You mentioned that:

So I am wondering where the status code 503 is generated. Is it generated on the client side (e.g., in the SDK code)?
Or on the server-side?
I think normally the status code 503 (service unavailable) should be returned from the server, right? Like the when the server is bus

[2022-08-19 23:14] ealsur commented on #3378
From your perspective, you only see 503 and 408, and should follow https://docs.microsoft.com/en-us/azure/cosmos-db/sql/conceptual-resilient-sdk-applications#timeouts-and-connectivity-related-failures-http-408503

Your application will never receive an exception with 410s in the newer (like this one) SDKs.

503s can be client-side generated (SDK on Direct mode facing connectivity errors due to bac

[2022-08-19 23:30] rmt2021 commented on #3378
BIG THANKS for your clarification!! @ealsur

Then another question is: will there be a retry request for 503 in SDK if I use the **Gateway** mode? I didn't notice the built-in SDK retry implementation for the Gateway mode in the SDK.

When using Gateway mode, I tried to use a HTTP proxy (like Fiddler) to block the request for a while (e.g., 5 mins) or modify the response status code to 503 and the

[2022-08-20 19:19] benjzh commented on #3392
@ealsur, the fact that the call to GetTokenAsync() is the very reason I opened this issue.

I agree that the CancellationToken is mostly respected through the calls however, "mostly" is not enough.

I could go into the details, but instead I created a small project that can demonstrate the issue and its root cause: [the link](https://onedrive.live.com/download?cid=7FDE45DC6972FF44&resid=7fde45dc69

[2022-08-21 03:47] faresamr opened #3395 "Set IndexKind for index path using DefineContainer"
**Describe the bug**
I'm trying to create container with index policy for a path of kind `Hash`  using [DefineContainer](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/Database/Database.cs#L979)

**To Reproduce**
[code]

**Expected behavior**
Cosmos container index policy:
[code]

**Actual behavior**
There is no method accept index kind value of [In

[2022-08-21 22:24] d4sein opened #3396 "Json Property Attributes being ignored when upserting to container"
**Describe the bug**
Hi, I'm having issues when setting System.Text.Json as the custom serializer. Some property attributes are ignored when serializing to container. Not 100% sure if it's a bug, hope you guys can help me figure it out.

An example of attribute that works when serializing to cosmos:
[code]
An example of attribute that doesn't work when serializing to cosmos:
[code]
Both work when

[2022-08-22 08:03] bengabayAtM opened #3397 "reshuffle leases among instances"
**Is your feature request related to a problem? Please describe.**
yes. we have a collection with 1920 physical partitions. sometimes when our traffics gets really high about ~600 of these partitions are getting a lot of changes while other partitions don't get as many. (We tried looking for hot partitions to try and see if we have some unequal distribution of data, but it doesn't seem like it, so

[2022-08-22 14:50] erich-wang commented on #3388
@ealsur, yes, the principal id is correct, it is principal id of my corp account, it is aad user and member of the AAD group. You could simply reproduce by:
1. You may use your team security group, find its object id from https://ms.portal.azure.com/#view/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/~/Overview, then grant data contributor to it using [cli](https://docs.microsoft.com/en-us/azure/cosm

[2022-08-22 15:01] ealsur commented on #3388
This question is outside of the SDK scope, please reach out to Azure Support. The SDK has no involvement in validating the access or configurations, it just sends the token representing the principal (which you validated is correct).

The service team that handles AAD/RBAC should investigate this scenario and confirm if it's supported or if it only supports individual identities.

[2022-08-22 16:16] ealsur commented on #3392
@benjzh We cannot pass the token to `RefreshCachedTokenWithRetryHelperAsync`, there is no link between the token you pass to `CreateAndInitializeAsync` and that piece of code. The place you are referring to is a background refresh, not related to any operation in particular.

I showed the source code pointers that explain what `CreateAndInitializeAsync` is actually doing, which would show any pote

[2022-08-22 16:26] ealsur commented on #3397
Reshuffling would not guarantee that the distribution does not create more hot spots, right? What if the problem is the machine state, not the partition?

As you mentioned, 1 lease maps to 1 partition. Once acquired, the Processor drains changes from that partition. A big backlog could mean:

1. That partition received a high number of Writes, generating a higher volume of Change Feed events than

[2022-08-22 16:31] ealsur commented on #3395
What you are asking is defining an Index on Paths, the IndexKind is not a property of the Path, it's a property of each index in the list of indexes for a path.

My understanding is that defining Indexes on Paths is no longer needed, @jcocchi Can you confirm?

[2022-08-22 16:44] kundadebdatta opened #3398 ".NET V3 SDK - Update Migration Guide to Reflect FeedRange API."
- Update Migration Guide to Reflect FeedRange API.

[2022-08-22 16:50] ealsur commented on #3378
As I mentioned, 503s can be client side generated (Direct mode TCP connectivity issues) or coming from the server side (SDK on Gateway mode).

The SDK retries transient connectivity issues that (first case) which would, if not resolved, generate the 503.

A 503 coming from Gateway is not a transient connectivity issue, it is a clear response from the service. In that case, the SDK would apply the

[2022-08-22 16:54] d4sein commented on #3396
I was working on other stuff while having this whole setup on and I noticed that, when the entity that I'm **upserting** already exists, it DOES consider the json attributes, it only ignores them when I'm creating a new entity, which is really weird.

[2022-08-22 16:58] ealsur commented on #3396
@d4sein Not sure I understand, the SDK does not perform conditional serialization, the `<T>` is serialized and sent to the server, so in your case, it doesn't matter if the entity existed or not, the serialization should be the same.

[2022-08-22 17:11] ealsur commented on #3396
I also verified your example, when putting the breakpoint in your line: `var y = Encoding.ASCII.GetString(streamPayload.ToArray());`

I see the serialization clearly showing:

[code]

When AfiliatedCode is set, and:

[code]

When it's not set.

When looking in the Portal at the container, I see:

![image](https://user-images.githubusercontent.com/1633401/185979712-c5d7e12f-25fb-420e-a0e4-5f7eda805

[2022-08-22 17:13] ealsur commented on #3398
MsDocs Documentation related workitems do not belong in this repo.

[2022-08-22 17:13] #3398 closed

[2022-08-22 18:45] neildsh commented on #3357
This request has been accepted and a dev is assigned.

[2022-08-22 19:00] benjzh commented on #3392
@ealsur, I will comment in reversed order. As I mentioned before, I already implemented a workaround similar to yours:
[code]
It is already deployed into production into several regions (~4 services in each) and it works well. I am continuing this discussion for the sake of the SDK, my own problem is kind of solved (it could be prettier though 😏and with more confidence).

You will soon see that I

[2022-08-22 19:22] neildsh commented on #3395
For v2 indexes, Index Kinds are not required. Hence, I am closing this issue.

[2022-08-22 19:22] #3395 closed

[2022-08-22 19:48] ealsur commented on #3392
@benjzh Thanks for the comments.

1. `InitializeContainerAsync` is `async`. Returning a `Task` or `await` ing it are two ways to deal with async operations, but the method is async regardless. `InitializeContainerAsync` is awaited: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/CosmosClient.cs#L390. As a side comment, returning the Task is not incorrect (in

[2022-08-22 21:55] ealsur commented on #3379
@levimatheri The linked PR should take care of these notifications, as I mentioned, we don't want to lose notifying these potential cases but the exception should not be a LeaseLost, but rather a CosmosException (our public type) with the related status code

[2022-08-22 22:02] benjzh commented on #3392
@ealsur Thank you for the quick reply.

1. Usually returning a task is not a bug, however when a method is not marked as async it executes without the async state machine. Therefore, in our case since we return the ```Task.WhenAll``` instead of awaiting on it, the cancellation will never be caught in the exception handler. This means - no disposal. Let's look again at the code of ```InitializeCont

[2022-08-22 23:39] brianwp3000 opened #3402 "Make CosmosOperationCanceledException Serializable"
My team just upgraded from 3.20.1 to 3.29.0 and we are now running into problems because `CosmosOperationCanceledException` no longer works  with the [Microsoft Orleans binary serializer](https://docs.microsoft.com/en-us/dotnet/orleans/host/configuration-guide/serialization#exception-serialization).

Azure-sdk-for-net ran into this [same issue](https://github.com/Azure/azure-sdk-for-net/issues/103

[2022-08-23 04:35] rmt2021 commented on #3378
This definitely solves my confusion! Thanks a lot! @ealsur

[2022-08-23 14:36] ealsur commented on #3402
@brianwp3000 `CosmosOperationCanceledException` inherits from `OperationCanceledException` (not from `CosmosException`). It was added so `OperationCanceledException`s thrown by cancellation tokens or the HttpClient included the Diagnostics.

Before, the SDK would throw `OperationCanceledException`.

Were you able to serialize `OperationCanceledException` before?

[2022-08-23 14:41] ealsur commented on #3392
Fair point on the try/catch, I completely missed it and you are right, the catch won't work if there is a failure.

Let's summarize this issue into 2 improvements:

1. Change the signature of this method to `async` and `await` the call to `Task.WhenAll`:
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/CosmosClient.cs#L1345-L1363

2. Make sure the calls to `th

[2022-08-23 14:47] benjzh commented on #3392
Yes @ealsur, perfectly summarized!

[2022-08-23 21:05] kirankumarkolli commented on #3369
Is the account strong/bounded-staleness?

[2022-08-24 08:23] ViconiaDeVier commented on #3369
@kirankumarkolli the account is bounded-staleness

[2022-08-24 08:33] sks4903440 commented on #1610
@j82w What is the correct way to do this if I want to do `CreateContainerIfNotExistsAsync` for n containers to prepare for tests ? I'm frequently getting 408 while doing this sequentially

[2022-08-24 11:24] mohamedeshiba commented on #2798
I had the same problem when I tried to connect to CosmosDb from a time triggered Azure Function.
Here what I did to solve the problem
1- downgraded the projecto to netcoreapp3.1
2- Used the Azure Function V3
3- used Microsoft.NET.Sdk.Functions version 3.1.1(any version 3)
4- Added <_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput> in the property Group tag in the .csproj

It worked for me

[2022-08-24 16:32] ealsur commented on #3388
@erich-wang I reached out to the service team, they confirmed that AAD Groups are not yet supported (the work is in progress) and will be available in the near future. I'm closing this issue because it is not related to the SDK.

[2022-08-24 16:32] #3388 closed

[2022-08-24 19:56] kirankumarkolli commented on #2848
New APIs as requested are merged now.
[code]

[2022-08-24 19:56] #2848 closed

[2022-08-24 20:09] bengabayAtM commented on #3397
Hi Matias and thank you for the fast answer. so, I did some more investigation and find out the machine state is mostly the issue. when traffic is getting bigger the CPU usage is getting higher and higher until it reaches a point of 100% usage, from that point forward handling changes time is getting a lot slower and therefore backlog is rising and so on... BUT
in general, this should not happen (

[2022-08-24 20:12] #2905 closed

[2022-08-24 20:27] kirankumarkolli commented on #3369
Related fix is released in 3.29-preview (discussed offline)

[2022-08-24 20:27] #3369 closed

[2022-08-24 20:35] #3229 closed

[2022-08-24 20:45] #3379 closed

[2022-08-24 20:46] brianwp3000 commented on #3402
Ok did some more investigation on my end:

We are running a service on Microsoft Orleans, which runs code on distributed processes called "grains". Anything passed between these grains has to be serialized, including Exceptions.

Back when we were running CosmosSDK 3.20.1 we were still running into CosmosOperationCanceledException that Orleans couldn't serialize. But, Orleans would throw a NullRef

[2022-08-24 20:56] kirankumarkolli commented on #3020
Cosmos ResourceTokens are the equivalent tokens

[2022-08-24 20:56] #3020 closed

[2022-08-24 20:58] #2992 closed

[2022-08-24 21:01] kirankumarkolli commented on #2964
So-far its a single ASK, we will revisit making it public contract later.

[2022-08-24 21:01] #2964 closed

[2022-08-24 21:05] kirankumarkolli commented on #2959
@NaluTripician can you please take a look?

[2022-08-24 21:06] kirankumarkolli commented on #2957
@ealsur what the remaining gaps?

[2022-08-24 21:22] ealsur commented on #3402
Got it. We can track making `CosmosOperationCanceled` Serializable if possible.

[2022-08-24 21:30] ealsur commented on #3397
Did you check your lease container? Did you see 429s/throttles on it. If yes, that could be one of the reasons.

The time on which the leases are evaluated to be "stolen" is based on the LeaseAcquireInterval, you seem to have increased it quite a bit (normally its https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/Configuration/ChangeFeedLeas

[2022-08-24 22:56] kirankumarkolli opened #3407 "DistributedTracing support"

[2022-08-24 22:59] kirankumarkolli opened #3408 "Meta-data write operation routing to hub region"
Meta data is about account/db/collection, its a system data NOT JSON documents that CX create.
Currently meta data is served by Routing-Gateway.

Meta data has reads and writes. Writes will always be served from the hub/primary region.
SDK supports automatic fail-over of region when it perceives region un-availability. In such scenarios the writes should be routed to the hub/primary region.

Refer

[2022-08-24 23:01] kirankumarkolli opened #3409 "Upgrade resiliency"
https://github.com/Azure/azure-sdk-for-java/issues/28266

[2022-08-24 23:06] kirankumarkolli opened #3410 "SubPartitioning: ChangeFeedProcessor support"

[2022-08-24 23:07] kirankumarkolli opened #3411 "FullFidelity-ChangeFeed: Follow-up's (TBD)"

[2022-08-24 23:08] kirankumarkolli opened #3412 "Connector: Power-platform connector"

[2022-08-24 23:10] kirankumarkolli opened #3413 "Track2 compliant .NET SDK"

[2022-08-24 23:12] kirankumarkolli opened #3414 "StoreResult lifecycle through RefCount"
https://dev.azure.com/msdata/CosmosDB/_git/CosmosDB/pullrequest/831633

PR comment: Clean alternative might be to model StoreResult with RefCount mechanism, Now every consumer access raises counter, and all consumers can blindly use it as IDispose.

[2022-08-24 23:19] kirankumarkolli opened #3415 "Collection CMK support"

[2022-08-25 04:02] erich-wang commented on #3388
@ealsur, thanks for follow-up. Based on document from https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#limits, it gives impression that Azure AD group has been supported for identities that belong to < 200 groups.

- Azure AD group resolution is not currently supported for identities that belong to more than 200 groups.

[2022-08-25 09:18] bengabayAtM commented on #3397
we didn't have any 429s errors in the lease collection at that time.
for the reason why we change those configurations is because we had 429 errors at first, so we tried reducing the number of times we are accessing the lease collection, and we (mistakenly) thought that every 2 min (because of the LeaseAcquireInterval). there will be fully redistribute of the leases evenly among the instances. but

[2022-08-25 14:33] ealsur commented on #3388
@erich-wang Yeah, the documentation seems unclear. Please feel free to send feedback on that page (at the bottom) so the team working on AAD can update it/polish it.

[2022-08-25 14:51] ealsur commented on #3397
When the AcquireInterval hits (https://github.com/Azure/azure-cosmos-dotnet-v3/blob/c8935ac2f864fb829f5d941dda07c74aec86a677/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/FeedManagement/PartitionLoadBalancerCore.cs#L102), this is what happens: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/c8935ac2f864fb829f5d941dda07c74aec86a677/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/FeedManagement

[2022-08-25 15:02] ealsur commented on #2957
All of them :) The linked PR was not to fix this issue, but to answer a question.

The initial problem is that the `IStoreModel` does not expose a way to pass the Trace in. So we would need to first extend that inteface to have the `ProcessMessageAsync` receive the Trace from the Handler layers. The Direct stack right now is using the ClientSideRequestStatistics to add info there for TCP requests,

[2022-08-25 15:25] #3374 closed

[2022-08-25 17:07] ealsur commented on #3402
@NaluTripician please see the above comment

[2022-08-25 17:09] ealsur commented on #2959
@kirankumarkolli Would this be a breaking change though? Any change in behavior should match also for `container.ReadThroughputAsync` right?

[2022-08-25 17:43] vit-svoboda opened #3416 "ToFeedIterator throws a non-specific exception when an invalid continuation token is passed in the query"
**Describe the bug**
`IQueryable<T>` extension method `ToFeedIterator` makes it impossible to write error handling for an invalid continuation token being  passed in the query. A general `JsonInvalidTokenException` wrapped in `ExceptionWithStackTraceException` is thrown instead of a descriptive `CosmosException`.

**To Reproduce**
[code]

**Expected behavior**
Either `ToFeedIterator` or `ReadNextA

[2022-08-25 18:22] ealsur commented on #3416
@leminh98 Could you take a look at this report?

[2022-08-25 19:38] ealsur commented on #3032
@onionhammer Thanks for the comment. Like I explained, the "Canceled" is something Application Insights is interpreting in their own way.

The SDK is issuing an HTTP call, the call is taking more than 500ms (this is the problem), the SDK is being proactive, cancelling that request and retrying. If the request would not be 500ms, it would not cancel and retry. The whole reason for the cancelling is

[2022-08-25 20:06] onionhammer commented on #3032
@ealsur It sounds like you're trying to convince us that constant random blocking HTTP 500ms timeouts driven by the Cosmos SDK running in a single azure datacenter alongside Cosmos is either

A) Our fault or
B) Not an issue at all

Is this right?

[2022-08-25 20:27] ealsur commented on #3032
@onionhammer I am not trying to convince you of anything, I am explaining how the SDK behaves.

The SDK is not the cause of the HTTP call on your environment to be taking 500ms, these are not "driven by the Cosmos SDK". This is an HTTP request done through the HttpClient, that is all the SDK is doing.

I agree the 500ms latency should be investigated, as I explained, the source of such latency is

[2022-08-25 20:30] onionhammer commented on #3032
@ealsur The SDK creates the request that blocks any awaiting code and is ultimately cancelled, that is what I mean by "driven by the SDK".

[2022-08-25 20:49] ealsur commented on #3032
Yes, the SDK creates the HTTP request, I explained the reason, it is needed to obtain the Query Plan (the query cannot be executed without it).

When the request completes and the Query Plan is obtained, the Cross-partition Query can be executed.

This is by design.

If the HTTP request to obtain the Query Plan takes 10ms, 5ms, 500ms or 20 seconds, that is outside of the SDK scope. The problem her

[2022-08-25 20:51] ealsur commented on #3032
If you believe that the design that requires the Query Plan to be obtained is at fault, that goes beyond the SDK and into the Query engine of the service. We can share that feedback with the service team for certain.

[2022-08-25 21:13] onionhammer commented on #3032
@ealsur this behavior does not happen on Windows, correct? So this is a limitation of the .NET SDK on Linux?

[2022-08-25 21:26] ealsur commented on #3032
The requirement for the Query Plan is always there (Windows or Linux), so obtaining the Query Plan is always a requirement for Cross-partition queries. If the Query is not cross-partition, then it is not needed.

For the .NET SDK (only .NET), the Query service team provides a native DLL that works on Windows/x64 (not x86) that allows for the Query Plan to be generated locally (https://docs.microso

[2022-08-25 21:51] #3392 closed

[2022-08-25 22:09] onionhammer commented on #3032
So to recap, you're saying that while there is a limitation of the SDK on linux (#2768), you're saying this could also happen on Windows (perhaps less frequently?)

If the issue is on the Cosmos service-side, you're saying there's nothing you can or should do because that's not your purview as someone who works solely on the SDK? There are no channels you could use to communicate this issue to the

[2022-08-25 22:15] dnolan commented on #3032
@onionhammer I need to check tomorrow (11pm here), but I'm following this thread as we have been getting this Cancelled issue in AppInsights, and we're running in Windows, so I think the Linux comments further above are perhaps a red herring.

[2022-08-25 22:22] ealsur commented on #3032
Yes, if you run on Windows/x86 you would also see the HTTP call for Query Plan. Both the application needs to be compiled as x64 and the environment should be set as x64 (for example, App Service has such a configuration).

What I'm saying is that the 500ms+ latency is not on the SDK scope. I cannot say it is on the Cosmos DB service. I can only say it is not in the SDK (not time spent on computat

[2022-08-26 02:30] petro2050 commented on #2067
@ealsur Do you think FF will be GA'ed this year? I've been waiting for this feature for so long.

[2022-08-26 08:19] aakonnikau commented on #1181
having same issue.

[2022-08-26 15:01] sourabh1007 opened #3420 "AI Integration: Operation Type to consider for different latency threshold"
Right now we have Query and non query default latency threshold defined.

Proposal is to identify query like operation e.g. ReadFeed, changeFeed and treat them as same as query operations.

[2022-08-26 18:14] ealsur commented on #2067
@petro2050 I don't have knowledge of the service GA dates, @jcocchi do we have any public roadmap dates?

[2022-08-26 18:25] ealsur commented on #3396
Please reopen with a repro we can use.

[2022-08-26 18:25] #3396 closed

[2022-08-26 22:30] petro2050 opened #3421 "Transaction support across multiple containers"
When can we expect support for transactions across multiple containers? The lack of this feature is seriously making me consider switching to MongoDB Atlas.

[2022-08-26 23:01] ealsur commented on #3421
This is a service feature you are asking. This repository is for the SQL API SDK, this feature does not exist in the product for the SQL API so there is nothing actionable in this repository.

Please follow up with service feature requests at https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d3a4f0858

[2022-08-26 23:01] #3421 closed

[2022-08-29 14:38] ealsur commented on #3185
Call should be wrapped similarly to: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/8913c29ffb68606a5b771d1c10fa81243d6894eb/Microsoft.Azure.Cosmos/src/DocumentClient.cs#L926

[2022-08-29 14:40] ealsur commented on #3185
Another place to wrap the task around `TaskHelper.InlineIfPossible<bool>`:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/8913c29ffb68606a5b771d1c10fa81243d6894eb/Microsoft.Azure.Cosmos/src/DocumentClient.cs#L1453

[2022-08-29 16:54] ealsur commented on #3383
After further investigation, the root cause seems to be on the following scenario: Doing a GetFeedRanges call on a container that has not been interacted with before (first time).

It all starts with https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.cs#L272-L276, it has a parameter called "forceRefresh" as true.

Looking at http

[2022-08-30 05:12] Socolin opened #3426 "Support ARRAY_SLICE when doing LINQ request"
Hello,

Could it be possible to support `ARRAY_SLICE` when doing linq query, more specifically I'm looking for a way to test the last value of an array: `ARRAY_SLICE(array, -1)`
https://docs.microsoft.com/th-th/azure/cosmos-db/sql/sql-query-array-slice?view=azureservicebus-4.1.1

I would expect the following to work

[code]

[2022-08-30 05:30] shibayan commented on #3371
This is due to the version 6.0.0 update of `System.Configuration.ConfigurationManager` package from Cosmos DB SDK v3.29 and the assembly optimization process in Azure Functions.

You may need to add `_FunctionsSkipCleanOutput` or `FunctionsPreservedDependencies` to csproj to resolve this.

[code]

or

[code]

[2022-08-30 14:36] ealsur commented on #3371
@shibayan I am guessing this is only happening on Functions V3 and not V4?

[2022-08-30 15:13] kirankumarkolli opened #3427 "Cosmos account: Telemetry context (endpoint, enabled/disabled)"

[2022-08-30 15:14] kirankumarkolli opened #3428 "Client Telemetry: new data model"

[2022-08-30 17:17] kirankumarkolli opened #3429 "Materialized views CRUD"

[2022-08-31 15:49] hari4147 commented on #692
Is there any implementation to check the data exist in the database without sending the whole data. like simply return a Boolean. This kind of feature really helpful, if there is lots business scenarios only required the existence of the data in the data base, To fulfill the requirements we currently bring the stream of data from the database. This will reduce the application performance.

[2022-08-31 18:24] #3383 closed

[2022-08-31 18:51] ealsur opened #3432 "CI: Random failures on Microsoft.Azure.Cosmos.Encryption.EmulatorTests"
CI pipeline randomly fails with:

https://cosmos-db-sdk-public.visualstudio.com/cosmos-db-sdk-public/_build/results?buildId=43840&view=logs&j=fef5d8be-9ecf-5e7a-84d5-f2c0b04a2d13&t=29c9c104-7def-54b3-f016-d8bb3a0670a7&l=837

[code]

[2022-08-31 20:00] kundadebdatta commented on #3409
**Background of the Problem Statement:**

- Today, in the cosmos db .net sdk, we use fake/ dummy requests to check if the connection was made successfully to determine if a node is healthy vs unhealthy. Therefore, we only have two statuses of the nodes. When the service upgrade happens, the nodes forcefully closes all the open connections, and forces the SDK to re-establish the network connectivit

[2022-08-31 20:48] kirankumarkolli opened #3434 "Isolate telemetry HttpClient configuration (connection timeout, request timeout)"

[2022-08-31 21:51] neildsh opened #3435 "[Encryption] Preview Encryption Emulator Tests are flaky"
**Describe the bug**
The encryption emulator tests pipeline is flaky, and one or more tests tends to fail at random. Rerunning the pipeline will usually make it pass

**To Reproduce**
Any pull request runs this pipeline

**Expected behavior**
The pipeline should have deterministic behavior.

**Actual behavior**
The pipeline fails at random.

**Additional context**
Attaching build logs from one run

[2022-09-01 00:17] kirankumarkolli opened #3437 "Add retry support for CosmosDB Trigger for Functions"

[2022-09-01 07:29] bartelink commented on #692
@hari4147  Doing an `EXISTS` query is not likely to be more efficient RU wise than a point read for small items. Best way to verify that is by trying the query in your favorite query tool.
There is a flag to not return results in the request options (which does reduce network traffic and latency as you suggest), but you'll still pay the RUs to ready the body on a read item call with that flag - it

[2022-09-01 09:38] hari4147 commented on #692
Thank you for your response. Is there any way to stop 404 exceptions, when
the ReadItemAsync() is not found the document. This will leads high amount
exception logging in application insights.

On Thu, Sep 1, 2022 at 12:59 PM Ruben Bartelink ***@***.***>
wrote:

[2022-09-01 09:55] bartelink commented on #692
Yes; call `ReadItemStreamAsync`, which is a lower level API which does not have the same throwing semantics - there are links and snippets above

[2022-09-01 14:25] ealsur commented on #3437
@kirankumarkolli Should this be moved to the correct repo or do we want to keep this here for tracking purposes?

[2022-09-01 16:55] kundadebdatta opened #3442 "[Cosmos Service Upgrade - .NET] Design Document to utilize RNTBD Context Negotiation during `CosmosClient` initialization."
# Design Approach to utilize Rntbd Context Negotiation during Container Initialization in Direct Mode

## Table of Contents

* [Backgraound.]()
* [Proposed Solution.]()
* [Design Approach.]()
    * Outline.
    * Sequence Diagram for `CosmosClient` initialization.
    * Sequence Diagram when `Rntbd.TransportClient` is invoked from the `GatewayAddressCache`.
    * Sequence Diagram when `RntbdTransp

[2022-09-01 16:57] kundadebdatta opened #3443 "[Cosmos Service Upgrade - .NET] Use RNTBD Connection Model in Cosmos V3 for connection initialization."
- Use the RNTBD connection model in `Microsoft.Azure.Cosmos` (v3 sdk) package to establish initial convection to replica nodes, instead of dummy (real) requests.
- Make necessary code changes in `Microsoft.Azure.Cosmos` package.

[2022-09-01 17:19] kirankumarkolli commented on #3409
No dummy requests are sent. Part of connection creation context negotiation is different.

[2022-09-01 19:14] #3402 closed

[2022-09-02 18:23] kirankumarkolli commented on #3437
@ealsur using it for tracking purpose.

[2022-09-04 07:07] erich-wang opened #3447 "Collection has ClientEncryptionPolicy set, but the document to be written isn't encrypted"
**Describe the bug**
A clear and concise description of what the bug is.
After upgrading to Cosmos DB encryption sdk from 1.0.1 to 2.0.0, the error happens "Collection has ClientEncryptionPolicy set, but the document to be written isn't encrypted".

Is there any breaking change between 1.0.1 and 2.0.0?

**To Reproduce**
Steps to reproduce the behavior. If you can include code snippets or links to

[2022-09-06 13:33] ealsur commented on #3447
@abhijitpai / @kr-santosh Could you verify the scenario? I don't see any breaking changes indicated in the Encryption package changelog (https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Encryption/changelog.md)

[2022-09-06 14:43] kr-santosh commented on #3447
Can you please share the code which gets an encryption supported client via .WithEncryption()? Is the same client being used to get a database object and container object to create the item? This error usually happens when you try to create items using container objects which does not have encryption enabled on it (using a regular client)

[2022-09-08 18:52] ealsur commented on #3442
![image](https://user-images.githubusercontent.com/1633401/189202518-7115b353-5d29-42b8-ad89-fe35164792ab.png)

Diagram seems to point that the IConnection is returned across all levels, but in reality it only goes up to the RntbdTransportClient, right?

[2022-09-08 19:36] ealsur commented on #3442
OpenAsync flow:

1. Read the Account Information through EnsureValidClient -> This reads from Global endpoint, and falls back to PreferredRegions if it cannot reach to Global
2. Fetch the list of partitions of desired containers, this will use the 1st available PreferredRegion
3. If we call the AddressResolver.OpenAsync (https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.C

[2022-09-08 23:39] kundadebdatta commented on #3442
I was thinking if we could return the `IConnection` object all the way back to the `CosmosClient`, so that it could be used in the future to know if the connection was opened successfully. Will add more details on this.

[2022-09-09 13:56] ealsur commented on #3447
@erich-wang does the scenario described apply to your case? Could you confirm?

[2022-09-09 19:22] ealsur commented on #2959
@abhijitpai Regarding this issue, wouldn't the change be a breaking change? Assuming users already have logic that reacts to the exception?

[2022-09-10 01:06] erich-wang commented on #3447
Thank you all for the quick response. Somehow I could not reproduce it, probably caused by mismatch version between cosmos sdk and cosmos encryption sdk. I'm closing this issue now.

[2022-09-10 01:06] #3447 closed

[2022-09-10 04:04] abhijitpai commented on #2959
We can fix the documentation of this and add another overload that doesn't throw the exception.

[2022-09-12 16:51] ealsur opened #3453 "Change Feed Processor - Missing potential errors on Notifications for Load Balancer"
During Load Balancing process, if there is a failure on:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/FeedManagement/PartitionLoadBalancerCore.cs#L80-L81

It is not registered on the Notifications API.

In order to include these failures, the `PartitionLoadBalancerCore` needs to receive in its constructor, the `ChangeFeedProcessorHealt

[2022-09-12 17:07] kundadebdatta opened #3454 "[Cosmos Service Upgrade - .NET] Utilize RNTBD Context Negotiation in the `Azure.Cosmos.Direct` package to open connections to backend replica."
### Goals of the Task.

- Use the RNTBD context negotiation in `Azure.Cosmos.Direct` package to establish initial connection to the backend replica nodes during the `CosmosClient` initialization, instead of dummy (real) requests.

- Practically there are two design choices to open the Rntbd connections to the backend replica nodes, **a)** let the connection creation run as a backend task, executin

[2022-09-12 19:04] #3347 closed

[2022-09-13 16:52] silvioguiso opened #3456 "ReadItemAsync and bulk execution throwing Bad Request (400) with special characters"
**Description**
When creating a `CosmosClient` and setting the option `AllowBulkExecution` to `true`, the client throws a Bad Request Exception with an empty Reason for specific ID / partitionKey values.

Example id value: `NE3cDI8BljAatTkAptI++kPrmDCa+S8j6wBG4Kc7W/A=`

**To Reproduce**
* Create a cosmos db with a container
* Set the id to be the partitionKey
* Create the cosmos client with the op

[2022-09-13 16:58] FabianMeiswinkel commented on #3456
This is expected because the id value contains invalid characters ('/')

The disallowed characters for the id field are documented here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.resource.id?view=azure-dotnet#remarks

[2022-09-13 16:58] #3456 closed

[2022-09-13 16:58] ealsur commented on #3456
Thanks for the report. `/` is reported as an unsupported character: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.resource.id?view=azure-dotnet#remarks

Bulk (or TransactionalBatch, you will probably face the same behavior) use a different network protocol. How they behave with this unsupported characters might differ.

In fact, if you attempt the ReadItem with AllowBulkExe

[2022-09-13 17:06] ealsur commented on #3437
To support retries you need to add [SupportsRetry] attribute in the CosmosDb extension:

[https://github.com/Azure/azure-sdk-for-net/pull/28267/files](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fazure-sdk-for-net%2Fpull%2F28267%2Ffiles&data=05%7C01%7Cmaquaran%40microsoft.com%7C2e017a3a2b384b04e21708da95a86883%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C6

[2022-09-13 17:51] bengabayAtM commented on #3397
Just updating here mainly for FYI.
I tried changing the configurations of LeaseAcquireInterval and LeaseExpirationInterval back to default and it helped solving the issue where the distribution of leases among new instances are being done too slow. after the change when a new instance was starting it took about 15 min to get the same number of leases as the other instances. This is good of course!

[2022-09-13 17:57] silvioguiso commented on #3456
Thanks for the feedback and the pointer to the documentation. I appreciate it! I think I am thrown off by the following inconsistencies:

I would not expect these two scenarios to work with `AllowBulkExecution` set to `true`, but they do insert correctly, or return a 404 correctly.
* `CreateItemAsync` with `AllowBulkExecution` set to `true` when an item is given this id: `NE3cDI8BljAatTkAptI++kPrm

[2022-09-13 18:35] ealsur commented on #3397
@bengabayAtM Thanks for sharing the update.

Did the provided formula help into estimating the desired RU? Yes, there could be 429s out of hot partitions (or leases being more frequently updated because they are processed more frequently). Lease container with 17 partitions seems like it has 170000 RU?  Following the formula `(2h + 28)P` where the hosts in your example are 6 and the partitions ~50

[2022-09-13 18:38] ealsur commented on #3456
The problem is that because of system design, Create operations send the Ids as part of the body. Read operations use the Id as part of the path/url, that is when the `/` character generates problems.

Ideally the service should reject these documents, but that behavior could be interpreted as a breaking change (some customers might be saving data and not using point reads, and it theory works).

[2022-09-13 19:01] silvioguiso commented on #3456
Gotcha, that makes sense. Thank you for your input!

[2022-09-13 19:03] bengabayAtM commented on #3397
so due to our service being a Production service we tested the increasing of RUs in the lease collection on a service that is not a part of our product yet and it is in testing stages.
The example above actually had 4 instances at start where each is responsible for around 500 partitions so that would be around 2000 partitions in our data collection, but we actually did the test on a different col

[2022-09-13 19:35] ealsur commented on #3397
It would be interesting to understand what are the operations that are driving the RU consumption up.

If the RU consumption is driven by Queries -> That is related to the Acquire Interval process.
If the RU consumption is from point Writes -> That is related to checkpoints and/or LeaseRenewInterval

[2022-09-13 19:47] NaluTripician commented on #3408
Attached are the http logs from the tests I ran regarding this issue:

First I created a new database in the eastus region. Then I initiated a manual failover to centralus and while that was happening I started to create another database using the same client. As failover was still happening, the database was created in eastus. Finally using the same client I again created a new database which was

[2022-09-13 20:12] bengabayAtM commented on #3397
I guess that you are referring to the lease collection RUs and not the data collection.
looking at total request metric split by operation type it seem like most of the operations are replace (meaning writes)
and very little are query

![image](https://user-images.githubusercontent.com/100282188/189999820-4814cfdf-d0f6-4cfb-9fd9-c076e31a1aa4.png)

[2022-09-13 20:48] ealsur commented on #3397
In that case, they are either checkpoints or lease updates. The lease updates are controlled by the LeaseRenewInterval, you can increase it as long as it is less than the Expiration Interval. The drawback is that if an instance crashes, then it takes up to the Expiration Interval time for other instances to discover those crashed leases and pick them up.

If that has an impact in RU on the lease c

[2022-09-14 07:23] t-bzhan opened #3458 "CosmosClient still uses the public IP after enabling the service endpoint for "Microsoft.AzureCosmosDB""
**Describe the bug**
We followed the [guideline ](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips-dotnet-sdk-v3-sql?tabs=trace-net-core)to use a singleton CosmosClient instance.

However during the process of configuring the access to Azure Cosmos DB from virtual networks, we found that the public IP address is still used to communicate with the backend even when the service

[2022-09-14 08:55] bengabayAtM commented on #3397
Thanks a lot for the tips, I will try some configurations tuning as you suggested maybe after we find a bit more info on what is exactly going on in the background with the partitions.

[2022-09-14 14:05] ealsur commented on #3458
There is no logic in the SDK to pick a particular network, the origin IP of your requests is defined by your Application environment and the network configuration.
Guiding network configurations for the VPN/Private Endpoints feature is not part of the scope of this repository, there are no SDK related configurations that would change the origin IP of a request. The guide you mention points at how

[2022-09-14 14:05] #3458 closed

[2022-09-14 20:06] philipthomas-MSFT opened #3459 "[Internal] Designing capabilities to support Distributed Tracing"
**Is your feature request related to a problem? Please describe.**
To be able to implement and deliver distributed tracing transactions downstream of the Cosmos DB SDK into the compute gateway, routing gateway, and/or the backend services.

**Describe the solution you'd like**
While conforming to the  OpenTelemetry Guidelines, Standards and Best Practices, we will build the following capabilities:

[2022-09-16 17:45] techmarki opened #3460 "Document class is not present in the package"
**Is your feature request related to a problem? Please describe.**
I am writing an Azure Function with CosmosDBTrigger. The function reads the documents that are of different types, with different fields, so I can't just do a binding to a certain class type, like this

[code]

I could just bind it to a `IReadOnlyList<object> input`

BUT

I really liked the support for such case in version 2 of the

[2022-09-16 20:05] ealsur commented on #3460
For V2 to V3 SDK migration see: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/migrate-dotnet-v3?tabs=dotnet-v3#classes-replaced-on-net-v3-sdk (particularly the area denoted in this link, which would answer your question).

There is no plan to include `Document` in the V3 SDK.

Azure Functions is outside of the scope of this repo. Please reach out to https://github.com/Azure/azure-webjobs-sd

[2022-09-16 20:05] #3460 closed

[2022-09-16 21:06] techmarki commented on #3460
Do you know if there's another way to get the document in the input and be able to read it's properties dynamically?

Instead of using object?

[2022-09-16 21:18] ealsur commented on #3460
The linked documentation explains the alternatives:  https://docs.microsoft.com/en-us/azure/cosmos-db/sql/migrate-dotnet-v3?tabs=dotnet-v3#classes-replaced-on-net-v3-sdk

You can use **JObject** and it allows exactly the same operations.

[2022-09-16 21:27] techmarki commented on #3460
Wow, can't believe I missed that part lol Thank you so much for your time!

[2022-09-16 21:52] dustensalinas commented on #2030
We have encounted this again on Azure Functions now v4.  The above work around, setting to 64 Bit, no longer has the issue when querying with Option: PartitionKey.None.

[2022-09-19 15:37] #3040 closed

[2022-09-19 16:17] kirankumarkolli opened #3461 "LogcApp connector GA"

[2022-09-19 16:25] kirankumarkolli opened #3462 "V3 SDK: Logging support"

[2022-09-20 14:23] drma-dev opened #3464 "RU count differences (data explorer vs c# code)"
this my query executed in data explorer shows a RU of 2.95.
[code]
The same query executed in my C# code, returns a different value: 1.05
[code]

is there a reason for this? am i doing something wrong?

[2022-09-20 16:58] ealsur commented on #3464
These are different operations.

The first one is a Query (Data Explorer). A Query can return any number of records.

The second one is a Point Read (C# SDK). A Point Read will always return 1 item or nothing (NotFound).

This is by design, they are simply different operations with different RU charges.

More information: https://devblogs.microsoft.com/cosmosdb/point-reads-versus-queries/

[2022-09-20 16:58] #3464 closed

[2022-09-20 17:15] drma-dev commented on #3464
@ealsur

thanks. now I get it. is there any way to do this point reads within the data explorer?

[2022-09-20 18:08] devlie opened #3465 "Emulator: Microsoft.Azure.Cosmos.Compute.Host.ServiceFabric.EntryPoint.exe crashes on startup"
Microsoft.Azure.Cosmos.Compute.Host.ServiceFabric.EntryPoint.exe crashes on Emulator startup, but Emulator seems to work just fine.

**To Reproduce**
Launch emulator normally.

**Expected behavior**
No crash.

**Actual behavior**
Microsoft.Azure.Cosmos.Compute.Host.ServiceFabric.EntryPoint.exe crashes.

**Environment summary**
OS Version: Windows 11 build 25201 (Dev External Channel) - crashes on

[2022-09-20 19:20] NaluTripician commented on #3408
In the issue, for multimaster accounts where the `LimitToEndpoint` flag is set to true and the endpoint is specified to the non-hub region, all metadata write operations will fail because we are trying to preform a write on a non-bub region that does not have access to the master partition.  The failure will be a 403.3 error and the current way the `ClientRetryPolicy` is set up, these metadata wri

[2022-09-20 20:02] ealsur commented on #3464
I don't know, that would be a question to the team that creates that UI. My hunch is that a Point Read happens when you click on a document on the list after opening a container, but I don't know, this repository is just for the C# SDK, not Data Explorer.

[2022-09-21 14:00] ealsur commented on #3465
Please report Emulator issues through the Emulator channels: https://learn.microsoft.com/en-us/azure/cosmos-db/troubleshoot-local-emulator, this repository is for the Cosmos DB .NET V3 SDK.

[2022-09-21 14:00] #3465 closed

[2022-09-21 16:59] kirankumarkolli opened #3467 "Cross region high availability (Partial Outages)"
Tracking progress based on design and links

- [x] .NET SDK support
- [x] Java SDK support
- [x] Python SDK support
- [x] Node SDK support

[2022-09-22 18:17] ealsur opened #3470 "Query: Performance issue on ParallelCrossPartitionQueryPipelineStage"
Reference:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CrossPartition/Parallel/ParallelCrossPartitionQueryPipelineStage.cs#L83-L86

[code]

Reported by internal performance team as being an expensive operation:

![image](https://user-images.githubusercontent.com/1633401/191821510-85d645da-ebd1-43d6-b9f8-b6e0abe6a9f2.png)

Better imple

[2022-09-24 14:56] xinlian12 opened #3471 "[Bug]Collecting endpoint info in clientTelemetry"
Collecting physical endpoint info in clientTelemetry (or parititonId/replicaId)

[2022-09-26 19:38] sourabh1007 opened #3472 "System Usage Task: Use Thread.Sleep Conditionally for netstandard 2.0 onwards"
**Describe the bug**
In SDK, we have a background job which collects system usage information. Its blocking in nature. We need to optimize it for netstandard2.0 version and above code.

**Fix**
Instead of `Task.Delay().Wait() ` we can use `Thread.Sleep ` for netstandard2.0 version onwards.

[2022-09-26 23:44] drma-dev opened #3474 "Cosmos / ReadItemAsync -> much longer response time than it should"
I'm not 100% sure if the problem is the code, some missing configuration, or whatever.

I have a very simple query:
`SELECT * FROM c where c.id = 'Profile:123'`
which processing in data explorer, has the following performance parameters:
[code]

but the response time of my api is very slow (it is far from this data explorer performance). I'm using azure functions, and I did several tests to try to

[2022-09-27 00:27] xinlian12 commented on #3454
Another concern for not wait is the concurrency control - during openConnections, we will not want to overloading the system so we should have a nob which can help us tuning how fast we allow to open new channels.

[2022-09-27 00:56] ashwinGokhale opened #3475 "Make SubStatusCodes public in Azure.Cosmos.Direct package"
**Is your feature request related to a problem? Please describe.**
When there is an error in a Transactional Batch, it is basically impossible to get any meaningful error response to understand why an error occurred. See #1162. The public properties in TransactionalBatchOperationResult only allow a user to see the status code, but if there is a BadRequest, the SubStatusCode is not public so we don

[2022-09-27 12:08] danielmarbach commented on #2316
@ealsur @hansmbakker I was trying to find traces back to the v4 version changes. It seems the development has stalled since preview 3 and the preview was removed from the docs website. Has the move to Azure.Cosmos under the SDK unification attempts been stopped, halted, or is it in any other state? Would be great to share some insights.

[2022-09-27 12:21] danielmarbach commented on #2316
FYI this is my research so far

- It looks like the development on the [v4 branch](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/v4) has stalled since November 2021
- [There was no update after the preview 3 on Nuget](https://www.nuget.org/packages/Azure.Cosmos/4.0.0-preview3)
- [Quickstart: Azure Cosmos DB SQL API client library for .NET](https://learn.microsoft.com/en-us/azure/cosmos-db/s

[2022-09-27 13:00] bartelink commented on #2316
Actually it was July/August 2020 - the last commit was only to put up the note.

TL;DR that V4 branch should be treated as a spike whose completion is not on the roadmap.

Do you have a particular aim in mind beyond not building new stuff on stuff that's about to be deprecated?

(I'm just a watcher - I sunk some time into targeting V4, and am sold on the general Azure.Core API design principles bu

[2022-09-27 14:32] FabianMeiswinkel commented on #2316
@bartelink is absolutely correct - we have stopped the work on the V4 SDK version because the goal to comply to the Azure.Core design principles would require breaking changes - and convincing customers to move to new SDK versions with breaking changes is a hard sell - especially when the previous major version is "good enough". The maintenance cost for any parallel major version is too high to ju

[2022-09-27 14:38] ealsur commented on #3474
Please follow the public guides for slow requests: https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-dot-net-sdk-slow-request

You need to collect and evaluate the Diagnostics.

[2022-09-27 14:38] #3474 closed

[2022-09-27 15:13] danielmarbach commented on #2316
Thanks @bartelink and @FabianMeiswinkel for chiming in.

No, the question was more coming from the angle that we want to track changes in the ecosystem and make sure we follow them, do early experiments so that we can adjust our offerings to the new clients within reasonable time frames ideally before all our customers are asking us "when do you support new client X" ;)

:100: aligned.

That is a

[2022-09-27 15:39] ealsur commented on #3474
@drma-dev Based on the article, when looking at latency, how are you measuring it? Are you measuring 1 operation or the P99 (99 percentile) over an hour?

Troubleshooting 1 operation is not worth it, as the service has a P99 latency guarantee, not 100%. How many operations in an hour have high latency versus how many have acceptable latency? If the volume is high, we can help if you share some dia

[2022-09-27 15:41] drma-dev commented on #3474
@ealsur
I'm still developing, that is, only I'm accessing it. there is no way to reach any limit.

It's not a structure problem either. I made a project from scratch, just to call this method exclusively.

[2022-09-27 15:47] ealsur commented on #3474
Can you clarify then what is the scope of this Issue? If you are running code from your machine to a database that is in the cloud, the latency will never be ideal, that is completely expected.

The metrics you are showing from the Portal are related to a Query and that is the time the Query took executing on the database (service), the time you are measuring in your code is the time that operatio

[2022-09-27 15:51] drma-dev commented on #3474
so I'm comparing it with data explorer. if it were for "being cold", it would be slow in both cases. I also know that they give an acceptable delay because I'm accessing an external api. but something that runs within 100 milliseconds would not take 2 seconds to respond. something is wrong.

[2022-09-27 16:03] drma-dev commented on #3474
I created an account without being serverless, just to test. that's not it. it took the same thing: 1.8 seconds.

[2022-09-27 16:06] drma-dev commented on #3474
[code]

[2022-09-27 19:33] drma-dev commented on #3474
[that solved it for me.](https://stackoverflow.com/questions/67943528/asp-net-core-3-application-slow-to-load-cosmos-db-query)

that solved it for me.

[2022-09-27 19:43] ealsur commented on #3474
You cannot compare with Data Explorer. How are you measuring the latency of your browser? The numbers you are seeing in Data Explorer are just the Backend Latency, not end to end (the time your browser took to start the request and get the response).

Your diagnostics show a cold client, we can see the client is initializing (https://learn.microsoft.com/en-us/azure/cosmos-db/sql/sql-sdk-connection

[2022-09-27 19:47] drma-dev commented on #3474
ok, I understand that it's only a problem with the first query (I'm almost sure it's for any query. I'll see if it's a problem with my architecture).

anyway, this instance initializer uses await, which I can't use in the class's constructor.