[2020-10-23 21:05] laultman opened #1959 "Documentation - Sample Correction"
Error in the sample: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/Program.cs#L203-L241

**Describe the bug**
The code at the very end of the file does not work. In this case "database" is a DatabaseResponse object not the Database.
`// Create with a throughput of 1000 RU/s
            container = await database.CreateContainerIfNot

[2020-10-23 21:29] j82w commented on #1958
Is there any reason [unique-keys](https://docs.microsoft.com/en-us/azure/cosmos-db/unique-keys) wouldn't solve the issue?

[2020-10-23 23:21] RichWK commented on #1958
@ealsur Hahah yes, when you put it like that... it doesn't sound great. 😄 The frontend has very low usage, so CosmosDB was attractive due to serverless billing recently having entered preview status.

So regardless, it seems like this is too much of an edge case to be supported in the .NET SDK.

@j82w There isn't actually more than a single record being created, ever — this is the entire database:

[2020-10-24 05:04] abhijitpai commented on #1958
If you have low concurrency for the requests trying to get these unique ids, just a read-increment-replace loop where the replace uses optimistic concurrency control as per https://docs.microsoft.com/en-us/azure/cosmos-db/database-transactions-optimistic-concurrency#optimistic-concurrency-control may suffice. The caller is only provided with the ids after the replace has succeeded.

For high concu

[2020-10-24 05:04] #1958 closed

[2020-10-24 05:12] #1846 closed

[2020-10-26 01:03] #1948 closed

[2020-10-26 14:17] onionhammer commented on #1513
Some sort of ETA would be extremely helpful as my team looks to transition to Cosmos DB

[2020-10-26 15:07] #1953 closed

[2020-10-26 15:55] kirankumarkolli commented on #1513
End of year is tentative for preview of patch feature.

[2020-10-26 18:13] RichWK commented on #1958
Thanks for the advice! Much appreciated. @abhijitpai

[2020-10-26 23:28] Marusyk opened #1964 "Shared offer Database create is forbidden as count of shared offer database has exceeded 5."
**Describe the bug**
Create database returns the following exceptions:

It works before, could you please suggest what does it mean? I can't find any info about that error
As I understand, I can't use more than 5 Databases with shared Throughput in this account, but in other, it works. Can be the reason that Free Tier Discount is Opted In for the account? Where I can find any docs?

**To Reproduce

[2020-10-27 15:18] ealsur commented on #1964
This is not an SDK issue, this is a response coming from the service. Please see the Service Limits: https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#free-tier-account-limits

[2020-10-27 15:18] #1964 closed

[2020-10-27 15:30] ealsur commented on #1959
@lautman CreateContainerIfNotExist returns a DatabaseResponse but DatabaseResponse has an [implicit Database operator](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/Database/DatabaseResponse.cs#L71).

![image](https://user-images.githubusercontent.com/1633401/97324041-a45c3280-182e-11eb-9b00-c529f03c9557.png)

[2020-10-27 18:31] ealsur commented on #1959
Closing. There is really no issue here, the project has no runtime or build errors. The type is correct as per the implicit operation.

Please reopen if you can share which is the error you are encountering while running the sample.

[2020-10-27 18:31] #1959 closed

[2020-10-27 18:55] mbhaskar opened #1966 "TaskCancelledException should be wrapped in a CosmosException for queries"
Queries fail with the exception TaskCanceledException and no further diagnostic information can be obtained for that.
Wrapping the TaskCanceledException it in a CosmosException with a proper error description will be helpful

[code]

[2020-10-27 20:52] ealsur commented on #1202
@khdang Do you have any updates on this request?

[2020-10-28 11:37] j82w commented on #1966
This should be fixed in PR: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1788 which was released in 3.13.0

[2020-10-28 12:27] #1966 closed

[2020-10-28 14:51] j82w opened #1968 "Flaky ChangeFeedIteratorCoreTests"
The following test appears to have a bug causing it occasionally fail in the gates.
Microsoft.Azure.Cosmos.Tests.FeedRange.ChangeFeedIteratorCoreTests.ChangeFeedIteratorCore_HandlesSplitsThroughPipelineazure-pipelines/ azure-cosmos-dotnet-v3-functionalMicrosoft.Azure.Cosmos.Tests.FeedRange.ChangeFeedIteratorCoreTests.ChangeFeedIteratorCore_HandlesSplitsThroughPipelineAssert.AreEqual failed. Expect

[2020-10-28 16:23] j82w commented on #1968
Microsoft.Azure.Cosmos.EmulatorTests.FeedRanges.ChangeFeedIteratorCoreTests.ChangeFeedIteratorCore_OfT_ReadAll
Test method Microsoft.Azure.Cosmos.EmulatorTests.FeedRanges.ChangeFeedIteratorCoreTests.ChangeFeedIteratorCore_OfT_ReadAll threw exception:
System.NullReferenceException: Object reference not set to an instance of an object.

[2020-10-28 18:20] #1929 closed

[2020-10-29 14:49] darthkurak opened #1969 "[Question] Intercepting operations"
Hi! We are working right now on improving our experience and monitoring around Azure Cosmos. We are using SQL api, with direct mode (with default settings - tcp).
I would like to achieve this using some intercepting technique, but both EventSource and CosmosHandler failed - none of them will get notifications (i assume this is due to TCP protocol?
I want to log few informations:
- Operation Name
-

[2020-10-29 16:10] darthkurak commented on #1969
Sorry for false question.
CosmosHandler working perfectly. This can be removed. I will ask other question in separate thread.

[2020-10-29 16:10] #1969 closed

[2020-10-29 16:15] darthkurak opened #1970 "[Question] Log executed query without parameters"
Hello. I would like to log and monitor queries executed by our platform.
I'm going to use CustomHandlers, which seems to have almost all information which i need.
I can get executed query from request.Content, but i wonder - is there any way to get that query without parameters values?
(We can't log full query with values due to privacy concern).

[2020-10-29 16:57] j82w commented on #1970
@bchong95 any suggestions?

[2020-10-29 17:55] ericsuhong commented on #1852
This issue seems to reprod 100% when there is a sudden stop in incoming traffic. I am pretty sure that this issue is being caused by IdleTcpConnectionTimeout because issue happens exactly after 20 minutes from traffic stop:
![tp](https://user-images.githubusercontent.com/3857851/97612700-fe96f800-19d4-11eb-9acd-9febf52bfead.png)

However, we also have seen a case where it recovers automatically ex

[2020-10-29 21:13] drdamour opened #1971 "support Azure.Identity in the client"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i have to copy paste secrets into my config/environment

**Describe the solution you'd like**
I'd like the CosmosClient (and any factory like things for making it) take a Azure.Identity.TokenCredential instance that fetches the secrets using the fall thru mech of Azure.Identity (which supports managed ide

[2020-10-30 10:47] darthkurak commented on #1970
Another thing is that there are a lot useful information like (operationName, adressResolved, whole DocumentServiceRequest, which are internal and i can't them without using reflection. There is possibility that you could make them public? :)

[2020-10-30 12:04] j82w commented on #1971
There is work in progress to for [Cosmos DB to support Azure Active Directory](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/18607447-integrate-with-azure-active-directory). There are plans to expose the TokenCredential interface on the CosmosClient, but the Azure Activity Directory needs to be at least in public preview first.

[2020-10-30 13:33] j82w commented on #1852
@ericsuhong how large is the databases and/or containers the client is connecting to?

[2020-10-30 21:07] bchong95 commented on #1970
You can parse the Content, since it's a Json Object with queryText and paramaters property. log only the queryText.

[2020-10-31 00:55] darthkurak commented on #1970
Yes, but the content for queries generated from linq or passed as pure string has query in whole version - without parameters. I don't want to force usage of SDK in my whole platform to API .WithParameters(). And there is always chance that someone put pure string query anyway.

[2020-10-31 09:22] drdamour commented on #1971
@j82w i hear you...but if the client can support TokenCredential already by getting the keys for us at runtime that's still a big win

[2020-10-31 10:48] gdalsnes commented on #1468
I have the same problem with SDK v2 and Newtonsoft Json. Both Newtonsoft and System.Text.Json remove trailing zeroes as default, making it unusable for CosmosDB (even if the docs says "it just works out of the box") https://docs.microsoft.com/en-us/azure/cosmos-db/working-with-dates
Everything below "Most applications can use the default string representation for DateTime" is simply not true.

[2020-11-03 03:07] bernarden opened #1979 "Combination of Distinct and Offset does not work in v3.14.0"
**Describe the bug**
After upgrading Cosmos DB SDK to the latest version, one of my queries stopped returning the data and now also causing an infinite loop. Removing `Distinct` or the `OFFSET 0 LIMIT 15` part from the query makes SDK return the data again. I also tried versions [3.6.0 - 3.13.0] and they worked fine.

**To Reproduce**
[code]

**Expected behavior**
`ReadNextAsync()` should return t

[2020-11-03 03:39] jaybo opened #1980 "Unseal GeoJson classes?"
The GeoJson specification (https://tools.ietf.org/html/rfc7946) allows for extensions and additional foreign members:

But since all of the GeoJson classes in the Spatial namespace are marked sealed, subclassing is not available, and hence foreign members are not possible.

What is the justification for the sealed modifier and why not remove it to make the Spatial namespace classes usable for a la

[2020-11-03 17:22] bchong95 commented on #1979
I was not able to reproduce the issue. Please provide a sample program that reproduces the issue. Something that inserts the required data set and runs the query with your exact query request options.

[2020-11-03 17:24] bchong95 commented on #1970
It sounds like you want to emit an obfuscated query. In which case I recommend parsing the query with this parser:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Query/Core/Parser/SqlQueryParser.cs

and use this obfuscator:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/SqlObjects/Visitors/SqlObjectObfuscator.cs

You

[2020-11-04 01:22] j82w commented on #1968
https://cosmos-db-sdk-public.visualstudio.com/cosmos-db-sdk-public/_build/results?buildId=24605&view=logs&jobId=7f33e5bd-7764-5d8a-ba2e-506e078b9c3f&j=7f33e5bd-7764-5d8a-ba2e-506e078b9c3f&t=9a2f41b1-a565-5286-ece2-d41341f47180

[2020-11-04 09:59] bernarden commented on #1979
Thanks for looking into this. Here is my Program.cs file:
[code]

And here is my csproj file:
[code]

[2020-11-04 10:03] bernarden commented on #1979
With this sample program I noticed that the more data I generate the longer SDK is going to keep looping and retrieving 0 records which is why it seems like an infinite loop in our environments that have millions of records. I tried 3.13.0 again and that SDK made only 1 request.

[2020-11-04 22:33] bchong95 commented on #1980
As the rfc mentions while geojsons MAY have foreign members, they are frowned upon and the RFC states that you lose interoperability if you have them.

As you have correctly brought up in a previous issue:

https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1854

The cleaner way to achieve this is to use composition with feature and feature collection.

For instead of:

[code]

You can model y

[2020-11-04 23:58] jaybo commented on #1980
Right, but CosmosDB requires that an "id" property at the root document level.  Hence, none of the Spatial data types can exist at the root document level in a container at present.  Simply making these classes unsealed allows for that possibility.

[2020-11-05 16:17] galvesribeiro opened #1985 "Performance issues with the SDK"
Hello folks!

I've noticed a weird performance behaviour using the .Net SDK.

The test code:

[code]

The output:
[code]

Ignoring the `Write`, I'm trying to make sure the performance is consistent across `Read`s but from this simple test, you can see that the first `Read` takes 3+ times longer than the second and then in the middle it jump in again.

The SQL query being issued agains the database

[2020-11-05 18:45] j82w commented on #1985
The SDK has several internal caches that get warmed up on the first call, and it requires establishing a new connection to that partition in the backend. That is why the [SDK performance guides](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-dotnet-sdk-v3-sql#sdk-usage) recommend using a singleton.

@bchong95 can you explain the unstable the performance after the first read?

[2020-11-05 19:00] galvesribeiro commented on #1985
I see... Indeed the type holding the Container object and the Comos client is registered as single on the DI.

Speaking of the performance Guides, the reason we were using the Stream based method, is so we don't rely on the SDK serialization and instead receive the raw stream from the response as mentioned in the guides.

However, I'm seeing [here](https://github.com/Azure/azure-cosmos-dotnet-v3/b

[2020-11-05 19:10] galvesribeiro commented on #1985
First request:

[code]

Second request:
[code]

Third:
[code]

[2020-11-06 18:28] jackbond commented on #1980
Unless I'm mistaken, future versions of the Cosmos libraries will not contain spatial classes at all. Instead, they'll be imported from a common Azure NuGet library. See...

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1535

I don't know for sure, but this MIGHT be it.

https://www.nuget.org/packages/Microsoft.Azure.Core.Spatial/1.0.0-beta.1

Bottom line, you might have better luck hitting

[2020-11-06 19:18] bchong95 commented on #1985
First query is taking a while since CreateQueryPipeline takes 6 seconds. only async work is getting the query plan and the partition key ranges. both those code paths are owned by transport / routing owners.

[2020-11-06 19:21] j82w commented on #1985
@galvesribeiro for the diagnostics is each request a page from the same query?

[2020-11-06 20:45] ealsur commented on #1985
@galvesribeiro How are you initializing the client? Are you using Gateway mode?

[2020-11-06 22:26] liquidsnk commented on #972
Hello @ealsur, how comes that PR closed this ticket? Isn't that just for the pull model? Or you've decided against working on an in-memory push model? I've got here because I have have a similar scenario as above for using the change-feed. I can work around using the pull model which is nice, but I think push would be cleaner.

[2020-11-07 03:01] ealsur commented on #972
@liquidsnk In-memory push scenarios are better served by the Change Feed pull model. Because In-memory has really no benefits (no load balancing nor distribution) over the Pull model. Pull gives more control on the frequency and even lets you store the state if you desire so (also in a controlled fashion, since you can store the continuation token anywhere you want). It is also easier if you are u

[2020-11-07 19:55] galvesribeiro commented on #1985
@j82w

[code]

Each line there is a whole call to `storage.ReadStream()`. However, it is doing only 1 iteration inside that method which mean a single call is rappening to `iterator.ReadNextAsync()` because `iterator.HasMoreResults` is always `false` so yeah, it is a single page for each line on the logs.

@ealsur

Yes, Gateway. This is the initialization code:

[code]

[2020-11-09 00:01] laultman opened #1990 "WithParameter in QueryDefinition Throws error using json nested dotted notation."
We are using automation to build queries from existing data and there are nested json objects. The automation resolves nested json objects as dotted notation nested parameters. It generates the replaceable @parameter part from the field parameter resolved. With this very limited parameter replacement method we have to write a considerable amount of code to manage this issue.
Our current workaround

[2020-11-09 12:01] liquidsnk commented on #972
Thanks for your answer!, my scenario is as above, updating an in-memory cache for a service with changes coming trough the change-feed. My plan is to do that from a hosted service as you mention. I can manage just fine with the pull model and as you say it does give me more control. My thinking was that using the push model would allow me to make the initial implementation/prototype much easier by

[2020-11-09 13:04] j82w commented on #1985
1. Why are you using gateway mode?
2. Is the application running in the same region as the Azure container?

[2020-11-09 13:49] galvesribeiro commented on #1985
Some versions ago, the `Direct` mode wasn't working on .Net Core on MacOS for reasons I don't remember now (there should be issues around where people where discussed it) so since then, I was using the Gateway mode. I've just switched to `Direct` and now it works! However, the timings are even more unstable as you may see from the logs bellow:

[code]

In production yes. While in development, we a

[2020-11-09 15:58] j82w commented on #1985
If it is not in the same Azure region then additional networking latency will occur, and it will not be as reliable which is why it is listed in the [performance guide](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-dotnet-sdk-v3-sql#networking). The backend logs don't show anything that would explain such long latencies. Any chance you can provide the diagnostics from your prod

[2020-11-09 16:05] galvesribeiro commented on #1985
Yes I understand that running from my machine will have a higher latency.

Yes, that is what I said before. The reports on the server side are ok. The problem is the client taking that long and with those variations.

We have other Azure services like storage and SQL and those latencies doesn't vary that much. We are in a dedicated fiber link which is extremely stable regardless to where we point

[2020-11-09 21:26] j82w opened #1991 "Readfeed: Initial page regression"
The performance testing with ReadFeed found that the pagination library has dropped throughput by roughly 1/3 (roughly 12,000 to 4,000 RPS). Can you please prioritize fixing this performance regression as it is blocking any future release. This will triple the latency of any customer that does a paging API with read feed.

  4aafe495fa80084c635ad6d14af2b4f9c2ee2c21 // Before pagination library

[2020-11-09 22:09] j82w commented on #1991
Please validate the full end to end scenario where the entire read feed is drained.

[2020-11-09 23:27] ealsur commented on #1985
@galvesribeiro if you see the variation on Direct mode, could you please attach the diagnostics?

For Gateway mode, there is no latency SLA, so latencies can vary. Having said that, the client-side latency can be an effect of something in the wire too.

I would advise to measure and capture performance on the production environment, on Direct mode, and see what are the numbers there. If you are ex

[2020-11-10 02:47] wwvlada commented on #1738
https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator-release-notes

version 2.11.8  fixes an issue TLS 1.3...

[2020-11-10 16:59] kirankumarkolli commented on #1706
Warn-up involves two parts:
- Meta-data initialization
- Connections creation: In direct mode connection's are practically dedicated. And based on the concurrency load more connections might need to be created.

Few possible options are
- Meta-data initialization only: Work around is to run one single cross partition order-by query
- Pre-create N connections per replica: It will result in lots of

[2020-11-10 17:17] ealsur commented on #1706
Initialization is scoped only to the Container/Partition that the data-plane operation is targeted for though, right? That means that if the client does a write, it won't ask for Addresses for ALL the Partitions, just the Partition the write is targeted to.
This means that the cold-start effect is over time, as operations start to spread other partitions, then the cache with the Addresses gets bui

[2020-11-10 17:22] j82w commented on #1706
I'm against the `OpenAsync()` API. Most customers did not know about it and it is difficult to discover.

What about the following model where customer can add a list of containers to initialize. If it is null then it will

[code]

[code]

[2020-11-10 18:52] kirankumarkolli commented on #1706
/cc: @moderakh , @milismsft , @kushagraThapar , @mbhaskar , @FabianMeiswinkel

[2020-11-10 19:27] milismsft commented on #1706
We already tell users to use OpenAsync() as one of the performance tips: https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips
The downside of it is where lots of containers (and respective partitions) are created for the particular account.
Correct me if I'm wrong but a ReadAsync() on the container itself, wouldn't that be enough to "warm" the connections?

[2020-11-10 20:10] j82w commented on #1706
There has been many CRIs and issues because customer's don't know about the OpenAsync(), and we still get customers with these questions.  OpenAsync() is very ambiguous in what it actually does, and the name does not convey that it is initializing all the caches.

The model I suggested is a standard design pattern for initializing objects that require async work. It's more discoverable than OpenAs

[2020-11-10 21:04] bernarden commented on #1979
@bchong95 were you able to replicate the issue with my sample program?

[2020-11-11 00:03] vsadams commented on #1364
@ealsur or @bchong95 any update?

[2020-11-11 00:23] ealsur commented on #1706
Another alternative would be an API on the Container itself?

[code]

@milismsft The ReadAsync on the container just reads the metadata of the container, through Gateway, it does not open TCP connections.

[2020-11-11 00:50] j82w commented on #1706
The problem with this design is we have some users that are calling it for ever single time they do an operation on the container. I think the client is still the best approach and avoids users calling it multiple times and consuming all the meta-data throughput.

One alternative would be this but from what I have seen in customer code most people are recreating the container which still results i

[2020-11-11 21:10] ealsur commented on #1706
But even if they do call it for every single call, since the caches are already populated, the subsequent calls would be a no-op?

[2020-11-11 23:54] ealsur commented on #1589
Closing as TaskCanceledExceptions as the SDK now wraps them with a request timeout https://github.com/Azure/azure-cosmos-dotnet-v3/blob/04db8518ef66c4052d934bbc0731801982a3281c/Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs#L425

[2020-11-12 23:38] Andrioden opened #1997 "CosmosClient WithBulkExecution(true) throw TooManyRequests using Cosmos DB Serverless (preview)"
**Describe the bug**
Sometimes a CosmosClient WithBulkExecution(true), throws `CosmosException Response status code does not indicate success: TooManyRequests (429); Substatus: 3200; ActivityId: ; Reason: ();` with partly created data. And this against a `Cosmos DB Serverless (preview)`. The stack indicate that CosmosClient are retrying a few times until it finally rethrows the error.

Admittedly,

[2020-11-12 23:45] ealsur commented on #972
The problem is that CFP adds a lot of threads/Tasks in the background for this simple scenario. It would start one parallel set of Tasks for each partition, where each set contains a Task to renew the in-memory leases, a Task to read the changes, and a Task to do cross partition synchronization. It's just a lot of things that won't yield any benefit and will potentially add overhead.

With the pul

[2020-11-13 00:32] ealsur commented on #1997
@ThomasWeiss Could you comment on the behavior for Serverless?

@Andrioden 429 from the client perspective it means the account is getting throttled, there is nothing on the client SDK particular to Serverless accounts and no semantics that are applying, if the service returns a 429, then we retry, and if the retries are exceeded, the error bubbles up. You can always increase the retries through t

[2020-11-13 00:39] ThomasWeiss commented on #1997
@Andrioden Currently in preview, Azure Cosmos DB serverless doesn't scale automatically. It provides a maximum throughput burstability of 5,000 RU/s, so you get throttled if you try to consume more than that. See [this page](https://docs.microsoft.com/en-us/azure/cosmos-db/throughput-serverless#detailed-comparison) for a detailed comparison between serverless and provisioned throughput.

[2020-11-13 01:42] Andrioden commented on #1997
ThomasWeiss: Thank you for pointing me to the 5000 RU/s limit, i feel silly for not investigating deeper.

With that knowledge, and the fact that RU cost for creation is [not easy to determine ahead of creation](https://docs.microsoft.com/en-us/azure/cosmos-db/request-units#estimating-throughput-needs) i have come to terms that this is my responsibility to deal with, either with:

A) WithThrottlin

[2020-11-13 01:42] #1997 closed

[2020-11-13 10:20] zbynek001 commented on #1680
Any news here? I'm interested in a simple scenario, where we want to end with one `FeedIterator` per physical partition. Currently we're missing some functionality to split the `FeedIterator` in case of partition split. Also some notification that the split happened would be nice, but not necessary.
Is there currently any workaround for splitting it?

[2020-11-13 16:18] onionhammer commented on #1202
This would be tremendous! Are the supported operations documented somewhere or do we just figure it out by trial and error at runtime?

[2020-11-13 17:07] johnstairs opened #2001 "CosmosException and CosmosOperationCanceledException do not include calling code in stack trace"
**Describe the bug**
When the SDK throws an exception, the ToString() behavior is different from the behavior of other exceptions, in that it does not include the stack trace of the calling code. This means that when CosmosExceptions show up in our telemetry, we are never able to see what code outside of the SDK was calling the SDK

**To Reproduce**
Given this code:
[code]
If I run it, I get the f

[2020-11-13 17:24] j82w commented on #1968
https://cosmos-db-sdk-public.visualstudio.com/cosmos-db-sdk-public/_build/results?buildId=24812&view=logs&jobId=fef5d8be-9ecf-5e7a-84d5-f2c0b04a2d13&j=fef5d8be-9ecf-5e7a-84d5-f2c0b04a2d13&t=29c9c104-7def-54b3-f016-d8bb3a0670a7

[2020-11-16 12:34] j82w commented on #2001
The [CosmosOperationCancelledException ](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosOperationCanceledException.cs)just wraps the original exception message and adds the diagnostics. This is likely being caused by a [Task.Yield in the backoff retry handler which was added because it was causing a stack overflow exception](h

[2020-11-16 14:47] sdg002 commented on #1808
@timsander1  Would you have any recent updates on this front ?

Thank you.

[2020-11-16 15:52] timsander1 commented on #1808
Thanks for checking in. Work on this feature is still in-progress. We will post updates here: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/38873458-delete-notifications-for-change-feed

[2020-11-16 18:24] planty commented on #1732
Hi, is there any update on when this will be fixed?

[2020-11-16 23:53] bchong95 commented on #1991
I ran the read feed benchmark that is checked into the performance project:

Before:
[code]
After:
[code]

So no significant regression.

[2020-11-16 23:53] #1991 closed

[2020-11-17 02:56] srchilu commented on #1732
Our team is also blocked on this issue. Can you share by when this will be fixed?

[2020-11-17 15:13] j82w commented on #1991
The benchmarks I provided originally are full end to end in production tests. The mocked benchmarks you posted completely bypass all transport logic, and will not show any issues caused by additional network calls.

[2020-11-17 16:12] ealsur commented on #1686
Closing as the related PRs were closed

[2020-11-17 16:12] #1686 closed

[2020-11-17 20:13] timsander1 commented on #1732
Apologies, I hadn't clicked through the Stackoverflow link and misunderstood the original issue. There's an improvement we are making for relaxing input for DateTime system functions handling trailing 0's which turns out to be unrelated to the question.

I'll investigate this and update in a couple of days with a timeline.

[2020-11-18 11:28] simonziegler opened #2014 "Fastest way to read all items with a single partition key"
**Is your feature request related to a problem? Please describe.**
I have a container where my data is organized by partition key such that my most common reads return all items with a matching partition key. Stress testing the database in a development environment I observe the following metrics:

- Once partition holds 200 documents totalling 155Kb. Using a V3 feed iterator from a call to `GetIt

[2020-11-18 12:33] j82w commented on #1991
This was fixed in PR: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2012 . The pagination library introduced a regression that caused read feed to go to every partition even when a single partition key was selected.

[2020-11-18 15:07] Dave76 opened #2015 "BatchTransactions in v4 SDK?"
I have been playing around with the latest preview of the v4 SDK - which is looking good by the way.  I tried porting some of my code using the v3 sdk and realized that v4 doesn't currently have support for container.CreateBatchTransaction().

Will this be supported in a future release of v4?

[2020-11-18 15:20] j82w commented on #2014
Please make sure you are following the [performance recommendations](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-dotnet-sdk-v3-sql) for the SDK. You are already following a few the more important suggestions like singleton and direct mode.

@bchong95 or @timsander1 can you please answer the above question.

[2020-11-18 15:55] ealsur commented on #2015
V4 currently is an experimental SDK, currently it does not have TransactionalBatch and we don't have any timelines for it to have it currently. The only rough estimate that we have for V4 is end of next year.

If you are building a greenfield application, please use V3.

[2020-11-18 15:55] #2015 closed

[2020-11-18 16:43] timsander1 commented on #2014
This sounds like reasonable latency between your local machine in the UK and UK South. Querying for data with an equality filter on the partition key will filter data to that specific partition.

An alternative to querying data is to use the change feed pull model to read all the data within a partition key: https://docs.microsoft.com/azure/cosmos-db/change-feed-pull-model#consuming-a-partition-ke

[2020-11-18 17:08] simonziegler commented on #2014
Thanks. I set the partition key in the feed options. I haven't heard of the change feed pull model so I'll take a look at that. The thing that slightly puzzles me is the time taken to get through the feed iterator as the dataset grows. This is out of proportion with any RU limits, and the same query executed directly on the azure portal executes within a handful of milliseconds, so I'm trying to w

[2020-11-18 17:23] timsander1 commented on #2014
If you are interesting in reading a substantial amount of data from a particular partition key (50 MB or more), then change feed pull model is preferred.

As your query has more results, the RU charge will increase. This is simply because we have to load more documents and there isn't a way to avoid this. You may find that reading using the change feed pull model is more efficient and faster than

[2020-11-18 17:30] simonziegler commented on #2014
Thanks @timsander1. I know that the RU will be whatever it needs to be and that doesn't bother me in the slightest. Realistically I expect a maximum real world single-partition dataset to be circa 1MB to 2MB. What I'm aiming for is a pace of read access that seems either imperceptible or negligible to my users. Imperceptible will be anything under 200ms (I have some client side animations that giv

[2020-11-18 17:44] timsander1 commented on #2014
Achieving < 200 ms latency is totally reasonable with an in-partition query. Just make sure you are testing from a VM in the same Azure region as Cosmos DB

[2020-11-18 18:31] simonziegler commented on #2014
That's excellent. I'll add some logging to my app for its Azure deployment. A dumb question: when you refer to latency, do you specifically mean network latency or the total round trip of a query of the magnitude I'm expecting (so between say 1k and 2k documents and 1MB and 2MB combined document size)? Thanks!

[2020-11-18 18:36] timsander1 commented on #2014
Both should be under 200ms

[2020-11-19 01:05] j82w commented on #1929
@ylabade please try the latest [3.15.0 release](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.15.0)

[2020-11-19 01:06] j82w commented on #1948
@stpetzinger  please try the latest [3.15.0 release](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.15.0)

[2020-11-19 01:06] j82w commented on #1953
@jirikopecky please try the latest [3.15.0 release](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.15.0)

[2020-11-19 02:00] Dave76 commented on #2015
Thanks @ealsur . Good to know.

[2020-11-19 02:09] Dave76 commented on #2015
You may want to consider hiding the v4 info from the main docs --- that's the only reason I knew about the v4 sdk.

![image](https://user-images.githubusercontent.com/584050/99611770-457b7a80-29e2-11eb-909d-e43240ec7c4c.png)

[2020-11-19 07:49] simonziegler commented on #2014
Excellent to know, so now I have a great handle on whether future performance is right, and if not I can go hunting for reasons in my code. I really appreciate your help on this and that you responded so swiftly!

[2020-11-19 11:43] bartelink commented on #1765
Sorry for pestering but.... bump ;)

Any signs of this getting prioritized in the medium term?

[2020-11-19 13:07] j82w commented on #1968
https://cosmos-db-sdk-public.visualstudio.com/cosmos-db-sdk-public/_build/results?buildId=24976&view=logs&j=7f33e5bd-7764-5d8a-ba2e-506e078b9c3f&t=9a2f41b1-a565-5286-ece2-d41341f47180&l=2046

[2020-11-19 19:03] timsander1 commented on #1732
Since Cosmos DB does not have a DateTime type (DateTimes are represented as strings), LINQ queries currently do not handle trailing zeros correctly. This is because LINQ has a DateTime type but Cosmos DB does not.

Our recommendation is to compare DateTimes as strings using CompareTo

For example:
var queryable = orderedQueryable.Where(x =>
                ((string)x["datetime"]).CompareTo(datetim

[2020-11-19 19:40] timsander1 commented on #1732
Also wanted to check, are you using V2 or V3 of the .NET SDK?

[2020-11-19 19:51] mywyb2 commented on #1732
As described in the SO post, the error occurs in all versions of the SDK. (But the workarounds are different depending on v2 or v3.)

 �

From: Tim Sander <notifications@github.com>
Sent: Thursday, November 19, 2020 8:41 PM
To: Azure/azure-cosmos-dotnet-v3 <azure-cosmos-dotnet-v3@noreply.github.com>
Cc: mywyb2 <moritz.becker@gatesscholar.org>; Mention <mention@noreply.github.com>
Subject: Re: [Azu

[2020-11-19 20:47] timsander1 commented on #1732
Yes, like the post mentions, you'll see the same behavior in both V2 and V3 SDK. The reason I asked which version you were using is because of the recommended solution in the Stackoverflow post (specify the JsonSerializerSettings as part of a CustomerSerializer). This is another possible solution but will only work for the V3 SDK.

[2020-11-19 21:16] aaron-0 commented on #1732
FYI we tried fixing this with CustomerSerializer but then ran into a whole bunch of issues around linq working with camel casing.
The current model of CosmosJsonDotNetSerializer being internally sealed makes it quite hard to change the json.net settings.
Recommend exposing things in a way that JsonSerializerSettings can be specified, that way DateTimes can be formatted retaining trailing 0's and o

[2020-11-20 01:32] JacksonHong opened #2023 "UpsertItem returns misleading error code and message"
Using the latest 3.14.0

**Describe the bug**
When upserting a document into a collection that does not have large partition key check box selected during creation, and if the collection already has a document that shares the same id and the first 100 bytes of the partitionKey, the upsert operation would fail with a misleading error code 403.

Example here:
"ResponseBody": "Message: {\"Errors\":[\

[2020-11-20 01:45] aarondcoleman commented on #651
@kirankumarkolli bumping this as well. We're in need of this functionality and opening and closing a `CosmosClient` is causing major connection issues in our application at scale.

[2020-11-20 10:51] varadahemeswari opened #2024 "System.NullReferenceException during container.GetFeedRangesAsync() call on recreating container with same name"
**Describe the bug**
Creating container after deleting a previous container with same name is causing null reference exception during GetFeedRangesAsync call as the rid of deleted container is used to get feed ranges.

**To Reproduce**

Database database = await CosmosClient.CreateDatabaseIfNotExistsAsync("db");

            for (int i = 0; i < 10; i++) // using a loop to repro because sometimes c

[2020-11-20 11:50] fvalentiner commented on #1202
It would be amazing! It's basically the only thing holding us from migrating to CosmosDB

[2020-11-20 12:52] j82w commented on #2024
I would recommend avoiding recreating containers with the same name whenever possible.

The issue is the following code. It it getting the cached RID value, but it does not properly handle if the RID value is stale.  Since it is a TryGetOverlappingRangesAsync it will return null instead of throwing the exception.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/d7a18ebb035160bfc9626cca28c0161

[2020-11-20 14:45] j82w commented on #2023
This exception is coming from the service. The SDK can not fix this issue. Can you please [contact support](https://aka.ms/azure-support) for help with this issue. You can also try leaving feed back [here](https://feedback.azure.com/forums/263030-azure-cosmos-db).

[2020-11-20 14:45] #2023 closed

[2020-11-20 17:06] JacksonHong commented on #2023
The feedback link does not look like the right place for this issue. This is a bug rather than a feature ask. Is there a place to report service bug?

[2020-11-20 19:43] #2024 closed

[2020-11-21 17:24] vibeeshan025 commented on #651
Why it's close. Cloud Providers should think of game changing multi tenancy features

[2020-11-22 18:22] eskaufel commented on #1193
So I ran into this bug today, and I got somewhat surprised. This bug is getting close to 1 year old, not patched, and a part of the vNext release.

What is going on? When is the vNext SDK to be released? Has your focus changed to some other product?

[2020-11-23 02:47] ealsur commented on #1193
@eskaufel I understand the concern, currently V4 is an experimental version, not meant for production usage, and the efforts are mainly put to harden and improve V3, which acts as a base of V4. There is no ETA for V4 GA.

Since V4 is only experimental and preview, why are you currently using it? Are you doing some POC? Why not use V3 SDK instead? What are the reasons you are currently using V4?

[2020-11-23 05:29] eskaufel commented on #1193
I was playing with an idea. I often use preview when I know the timeline is considerably into the future. I was also hoping to use just one serializer across the project.
In the end, the name preview3 made me think v4 was closer to a release than it is.

[2020-11-23 06:21] #685 closed

[2020-11-23 06:22] abhijitpai commented on #694
This is expected since it is a single server request.

[2020-11-23 06:22] #694 closed

[2020-11-23 12:28] j82w commented on #2023
@JacksonHong were you not able to file an issue with the [contact support](https://aka.ms/azure-support) link?

[2020-11-23 20:54] tillig commented on #893
Running into this exact thing now. I'm wondering if there'd be a way to support `ToFeedIterator()` on any queryable rather than throw an exception, where if it's not a special Cosmos DB queryable then it'd just get a sort of fixed/dummy value instead. Like, maybe the non-Cosmos iterator would just say, "There's just this one set of results." It isn't super awesome to have to break out of LINQ just

[2020-11-24 07:36] sanalkumarp opened #2029 "Can the Secret version in URI used in Azure key vault reference be optional?"
I wanted to use the Azure key vault reference in my azure app service app setting so that I can store my storage account connection string in key vault and refer that through key vault reference.
Looks like currently the secret version is required in the secret Uri, which will introduce a need to update each and every app service configuration in case of storage account key regeneration.

Is it po

[2020-11-24 09:22] srchilu commented on #1732
@timsander1  we have one more layer on top of iqueryable which is to build **Expression<Func<T, bool>> expression** which is converted to iqueryable.
One issue with this approach is we have to update all our models from datetime to string and deal with strings in our code.

expression.And(obj => obj.CreatedDateTime <= query.MaxCreatedDateTime);
to
expression.And(obj => ((string)obj.CreatedDateTime

[2020-11-24 09:24] srchilu commented on #1732
@aaron-0 are you able to use custom serializer and query correctly.
We are able to use custom serializer to format while writing but issue remains same while querying. Trailing zeroes are removed.
Can you confirm?

[2020-11-24 09:32] mywyb2 commented on #1732
@srchilu I'm the author of both the question and the workaround on StackOverflow and can confirm that the custom serializer works for LINQ queries in SDK v3, i.e., LINQ queries are correctly translated into SQL with trailing zeroes. For SDK v2 you have to configure the global JSON serializer settings.

[2020-11-24 09:50] tomasdeml commented on #1934
I think this has already been reported under #651.

[2020-11-24 09:55] tomasdeml commented on #651
If I am not mistaken, the situation with multiple `CosmosClient` instances is exacerbated by the fact that the client owns an instance of the `DocumentClient` class which in turn owns an `HttpClient`. The http client is [disposed](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/7a3fd9321518d448f16c48aff6cd636dbdd9d44e/Microsoft.Azure.Cosmos/src/DocumentClient.cs#L1181) with the `DocumentClien

[2020-11-24 09:57] srchilu commented on #1732
Thank you @mywyb2 for your reply. We are using v3 SDK.

I copied CosmosJsonDotnetSerializer from cosmosdb repo and initialized cosmosclient with below code snippet:

                cosmosClientOptions = new CosmosClientOptions()
                {
                    ConnectionMode = ConnectionMode.Gateway,
                    Serializer = new CosmosJsonDotNetSerializer(
                        ne

[2020-11-24 14:31] mywyb2 commented on #1732
@srchilu I think it's not sufficient to set the standard `JsonSerializerSettings` as you did above. You need to create a custom JsonConverter as described in my SO answer.

[2020-11-25 02:00] dustensalinas opened #2030 "PartitionKey has fewer components than defined the collection resource. - On Azure not Local"
**Describe the bug**
Performing a query similar to the below on a set of records.  Container's partition key is /pk .  Documents have been stored as having PartitionKey.None (its a very small container).  Query is performed using PartitionKey.None:
[code]
This code works in local debugging in Debug or Release modes.
When deployed to Azure Functions, the behavior changes and the following exception

[2020-11-25 04:37] #2029 closed

[2020-11-25 04:38] sanalkumarp commented on #2029
Posted under correct topic. closing this

[2020-11-26 14:37] RomanKreisel opened #2031 "Container.GetChangeFeedProcessorBuilder().WithStartTime() not working anymore with 3.15"
The Problem only occurrs with the latest version

**Describe the bug**
The changefeed processor always starts at the beginning, even when given a specific time

**To Reproduce**
* Use Library in Version 3.15.0
example code:
[code]

**Expected behavior**
The first dataset shouldn't be months before the given "startTime"

**Actual behavior**
The first dataset IS months before the given "startTime".

[2020-11-29 11:51] sslepova opened #2033 "REST from .NET - Sample for stored procedure executing"
Samples for REST API are put in [this azure-cosmod_dotnet-v2 repo](https://github.com/Azure/azure-cosmos-dotnet-v2) which seems to be abandoned. Couldn't find any other resource so I post my request here.
Could you please add to [this sample](https://github.com/Azure/azure-cosmos-dotnet-v2/blob/master/samples/rest-from-.net/Program.cs) an example for executing stored procedure?

[2020-11-30 00:09] aaron-0 commented on #1732
@srchilu I have not had a chance to be able to get back to this, however, I spoke to the developer in my team who did the work.
We were not able to Customer Serializer as when you set Serializer you can no longer set SerializerOptions. We use SerializerOptions to set CosmosPropertyNamingPolicy.CamelCase. So if we put in a customer serializer all our linq queries break due to camel case instead of

[2020-11-30 12:21] j82w commented on #2031
@bchong95 can you please take a look?

[2020-11-30 18:05] j82w commented on #2030
@dustensalinas does this only impact query operations?

[2020-11-30 19:09] dustensalinas commented on #2030
Yes, only query operations.  All other operations so far respect the PartitionKey.None

[2020-11-30 20:29] j82w commented on #2033
Hi @sslepova

The REST APIs are documented in [Azure docs](https://docs.microsoft.com/en-us/rest/api/cosmos-db/execute-a-stored-procedure) which has examples of the body

[2020-11-30 20:29] #2033 closed

[2020-12-01 12:13] MhAllan opened #2035 "[Feature Request] ChangeFeed to trigger by different operations and TTL"
That is it, ChangeFeed is not very useful without tracking all operations and especially Ttl because there is no workaround for Ttl

[2020-12-01 16:42] fuocor opened #2036 "Why is Microsoft.Azure.Cosmos.Headers.SubStatusCode internal?"
**Describe the bug**
Why is Microsoft.Azure.Cosmos.Headers.SubStatusCode internal?

**To Reproduce**
none required

**Expected behavior**
Using stored procedure call and would like the SubStatusCode to determine if a unique key violation was triggered.

**Actual behavior**
It's internal

**Environment summary**
SDK Version: Source
OS Version  Windows

[2020-12-01 19:26] j82w opened #2037 "Transport handler regression introduced in PR #1987"
ProcessUpsertAsync is reversed so it is now being called for all operations except upsert.

![image](https://user-images.githubusercontent.com/8868107/100787143-0c6edd00-33c8-11eb-8801-315123744773.png)

[2020-12-01 19:27] #2037 closed

[2020-12-01 19:53] j82w commented on #2035
Will this feature be enough? https://azure.microsoft.com/en-us/updates/change-feed-with-full-database-operations-for-azure-cosmos-db/

[2020-12-01 19:55] Scythen opened #2038 "CosmosClientBuilder.Build causing Method not found for GetUserAuthorizationToken"
**Describe the bug**
Developing a V3 Azure Functions app with netcoreapp3.1 target.
Attempting to use Cosmos DB .NET V4 SDK but unable build client.
Calling Build on the CosmosClientBuilder results in MissingMethodException for IAuthorizationTokenProvider.GetUserAuthorizationToken

This does not happen with a console app, just in the Functions App.

**To Reproduce**
Create a functions app.
Add Cos

[2020-12-01 20:01] WestCornfield opened #2039 "TransportException: RntbdServiceEndpoint closes"
**Describe the bug**
We have consistent, intermittent issues where we can read from our cosmos container, but when we attempt to upsert, we get an IllegalStateException null, under which is a TransportException where RntdServiceEndpoint is closed.

**To Reproduce**
This is the setup for our cosmos client. We set it up as a singleton client, one per container.

client = (new CosmosClientBuilder()).

[2020-12-01 20:34] Scythen commented on #2038
This appears to be some sort of interaction with `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` im using for JWT issue [397](https://github.com/Azure/azure-functions-vs-build-sdk/issues/397).
I removed legacy cosmos references, deleted all output folders and then readded the reference. This seems to have solved the issue.

[2020-12-02 03:54] MhAllan commented on #2035
@j82w   .. Thank you so much, that is what we are looking for

[2020-12-02 05:22] cfindlayvcs commented on #903
@ealsur , I just tried this with the latest version of the Cosmos DB API (3.15.0) on .NET Core 3.1 and `GetItemQueryIterator<>` does not return `IAsyncEnumerable`. I get this:

![image](https://user-images.githubusercontent.com/73087164/100831721-75368200-34ba-11eb-83a6-c13926c60ec5.png)

[2020-12-02 10:31] Kiril1512 commented on #1951
Any feedback about this?

[2020-12-02 12:40] j82w commented on #2039
@WestCornfield this appears to be for the [Cosmos DB Java SDK](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos). Can you please open an issue in the correct repository.

[2020-12-02 12:40] #2039 closed

[2020-12-02 12:46] j82w commented on #2038
@Scythen it's recommended to use the v3 SDK currently. The v4 SDK is a early preview version, and is waiting on some new features from the Cosmos DB service.

The issue itself sounds like the Direct dll was a newer version from the v3 SDK. That is why removing the v3 reference and cleaning the output folders fixed the issue.

[2020-12-02 12:46] #2038 closed

[2020-12-02 12:48] j82w commented on #2036
@kirankumarkolli do you see an issue of exposing an int for the substatuscode?

[2020-12-02 14:37] j82w commented on #1968
https://cosmos-db-sdk-public.visualstudio.com/cosmos-db-sdk-public/_build/results?buildId=25369&view=logs&jobId=fef5d8be-9ecf-5e7a-84d5-f2c0b04a2d13&j=fef5d8be-9ecf-5e7a-84d5-f2c0b04a2d13&t=29c9c104-7def-54b3-f016-d8bb3a0670a7

[2020-12-02 21:53] ealsur commented on #2031
The bug is that `ChangeFeedStartFromRequestOptionPopulator` is now using a different format for the date.

On 3.13.0 it was using `PopulateStartFromRequestOptionVisitor` that was using:

[code]

Which yields, for example `Wed, 02 Dec 2020 21:27:36 GMT`

On 3.15.0 it is using

[code]

Which yields, for example `2020-12-02T21:29:29.6812357Z`

The backend seems to be discarding the header due to the

[2020-12-03 13:27] j82w commented on #2030
@dustensalinas can you please provide the full exception.ToString()? Does this work in version 3.13.0?

[2020-12-03 18:02] #2031 closed

[2020-12-04 17:51] lorenpaulsen commented on #903
The 4.0 preview package can be found here: https://www.nuget.org/packages/Azure.Cosmos

[2020-12-04 21:31] thomaslevesque commented on #903
Indeed. Honestly, I'm not sure how we're supposed to guess that.
- The README says it's the repo for "Version 3", with no mention of a version 4
- The README still points to the old package and doesn't mention the new one
- The old package doesn't mention that it's been superseded by a new one
- The new package points to this repo, which doesn't seem to know anything about the new package

I think

[2020-12-04 23:35] ericsuhong commented on #1852
This is a very large database with ~10000 physical partitions. All our queries are cross-partition queries and our traffic is very large, so I can only assume that it maintains a huge number of TCP connections at any time.

[2020-12-07 13:36] j82w commented on #2035
I'm closing this issue since it is a service feature rather than a SDK. The SDK will add support once it is available.

[2020-12-07 13:36] #2035 closed

[2020-12-07 15:28] j82w commented on #2036
@fucor you can actually access the SubStatusCode currently through the headers.
`response.Headers.GetHeaderValue<string>("x-ms-substatus")`

What scenario requires you to use stored procedure now that there is [TransactionalBatch support](https://devblogs.microsoft.com/cosmosdb/introducing-transactionalbatch-in-the-net-sdk/)?

[2020-12-07 16:09] ankku opened #2046 "How do you handle Task.Delay() in this function"
Below is the changeFeedprocessor which i am calling from a powershell cmdlet. My question is how do you handle task.Delay(). My below code works fine when task.Delay(500000) but it doesnt work when task.Delay(5000). How should i handle this? I am looking to get the list of all documents where changes happened.

` protected override void ProcessRecord()
        {

            Task.Run(async () =>

[2020-12-07 18:14] fuocor commented on #2036
My scenario is simple. I have high frequency inserts and I don't want the document returned in the result. Just true/false.

[2020-12-07 19:46] j82w commented on #2036
You can use the [EnableContentResponseOnWrite ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.itemrequestoptions.enablecontentresponseonwrite?view=azure-dotnet) so it will only return the Headers. It will not return the response body. This will be faster than using a StoredProcedure.
https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-dotnet-sdk-v3-sql#sdk-usage

[2020-12-07 20:30] j82w commented on #2046
I would recommend using `await Task.Delay(TimeSpan.FromSeconods(5));` to avoid any errors when converting it to Milliseconds.

What is the reason for the `Task.Delay`? If you are just looking for documents changed over the last 5 minutes is there any reason you can't just do the delay in PowerShell then have the `WithStartTime` go back 5 minutes?

[2020-12-07 23:41] ankku commented on #2046
I am looking to get the list of changed documents for a particular time where I passed the TimeSpan argument MaxAge from powershell. Now my changedfeed might return 100 records say for last 2 days , now in this second Task.Delay(5000) is not working and it do not call the delegate, while Task.Delay(500000) is able to process the changes and hit the delegate. I hope i made myself clear here. Questi

[2020-12-08 00:25] fuocor commented on #2036
Thanks for the hint...

[2020-12-08 01:53] j82w commented on #2046
The best solution I can think of is using the Preview SDK with [ChangeFeed pull model](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/01c36b2b2c5e3e0eec8388f00c98b97edc8b990e/Microsoft.Azure.Cosmos/src/Resource/Container/Container.cs#L1247).

@ealsur and @FabianMeiswinkel do you have any other suggestions?

[2020-12-08 08:23] ankku commented on #2046
I am posting my code here , just to understand what approach should be taken to handle this Task.Delay(), also since I am calling this via powershell cmdlet , it will require me to call WriteObject() from Processrecord() method only and not in the delegate method. let say I would like to return list of all Ids coming in the change feed, how should I achieve that.right now I have WriteObject comman

[2020-12-08 12:31] j82w commented on #2036
I'm closing this issue since there is a way to access the SubStatusCode value. This a corner case so there isn't a need to expose a API for easier access.

[2020-12-08 12:31] #2036 closed

[2020-12-08 15:45] mdbill opened #2049 "CosmosClient exception when compiling with .NET native toolchain"
**Describe the bug**
CosmosClient instantiation fails on UWP, only in Release build with checked 'compile with .NET native toolchain'
Debug is fine.  Works if uncheck .NET native.
works on iOS and Android

**To Reproduce**
Release build, check 'compile with .NET native toolchain'
var c = new CosmosClient(endpoint, key);

**Actual behavior**
throws exception

System.Configuration.ConfigurationError

[2020-12-08 18:53] fuocor commented on #2036
Quick question, is there a corresponding request header for `EnableContentResponseOnWrite`? I have a rest implementation that can benefit from it

[2020-12-08 20:27] j82w commented on #2036
Key: "Prefer", Value: "return=minimal" https://github.com/Azure/azure-cosmos-dotnet-v3/blob/768c0cfdbaa51206b2b360a424b6599ac87bed85/Microsoft.Azure.Cosmos/src/RequestOptions/ItemRequestOptions.cs#L172

[2020-12-08 20:55] fuocor commented on #2036
thanks

[2020-12-09 09:57] To-Marshall opened #2051 "Version 3.15.0 of the SDK does not return results when calling feedIterator.ReadNextAsync with larger volumnes of data"
**Describe the bug**
While running version 3.15.0, when calling await feedIterator.ReadNextAsync on a set of data (in our case was 25,000 documents),  the code will not progress from the feeIterator, seemingly never receiving a task completion. Running of 3.13.0 does not produce this problem and the results are returned successfully.

**To Reproduce**
Call  await feedIterator.ReadNextAsync on a qu

[2020-12-09 19:33] j82w commented on #2049
You installed `System.Configuration.ConfigurationManager 5.0` but if you noticed the exception message is expecting `System.Configuration.ConfigurationManager, Version=4.0.1.0`. Can you please try using version 4.0.1.0? It likely the version 5 has breaking changes that are not compatible with version 4.

[2020-12-09 19:56] mdbill commented on #2049
My app doesn't use ConfigurationManger, so above I showed the error I get with no nuget and then how the error changes if I install 5.0.
The only available versions are 4.4 and up.

[2020-12-09 20:00] j82w commented on #2049
The version is actually 4.5.0. https://github.com/Azure/azure-cosmos-dotnet-v3/blob/edf3e77838e260ef84691d0d490376afc2a9c3b2/Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj#L130

[2020-12-09 20:45] mdbill commented on #2049
With no nuget or explicitly installing 4.5.0, I get the same error (the 1st ones):

System.Configuration.ConfigurationErrorsException: 'An error occurred creating the configuration section handler for appSettings: The type 'System.Configuration.AppSettingsSection' cannot be found in assembly 'System.Configuration.ConfigurationManager, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd

[2020-12-10 01:38] ealsur commented on #2046
As @j82w mentioned, for this scenario, you should be using Change Feed Pull Model, not Change Feed processor.

[2020-12-10 01:41] ealsur commented on #2049
Is this a .NET Framework application or NET Core or NET 5?
Do you have multiple projects that depend one on the other that might have different package versions?

It sounds like you might be having a dependency redirection issue? Can you provide a CSPROJ that can help repro the issue?

[2020-12-10 02:46] #2014 closed

[2020-12-10 03:48] mdbill commented on #2049
To Reproduce, I created a new Xamarin.Forms mobile app (Blank app) from the template in VS 16.8.2 and added cosmos 3.15.0.
Then, using cosmos, in MainPage.xaml.cs, add....
var c = new CosmosClient(endpoint, key);
Run Release x64 and you get the exception.

[2020-12-10 12:13] laultman opened #2057 "InsertTableRowAsync Method Cause Unrecoverable Corruption in Table"
**Describe the bug**
Creating a data migration tool for government customer. There are >100 databases and data tables collected over many years. Many were created by Microsoft Access.  The "id" fields are unreliable due to duplications.  The plan is to bring them into Cosmos DB Tables and the post import scrub the data.
We are attempting to preserve all the existing records (government retention p

[2020-12-10 12:31] danielthomaswoodplc opened #2058 "JsonIgnore attribute not honoured when used within child object"
**Describe the bug**
I am using the Azure Cosmos Emulator and I am finding that if I write a class it will indeed not write any properties that have [JsonIgnore] attribute on them, however my ICollection that the class contains within that type has a [JsonIgnore] attribute on one of its inner properties but they are still being written.

**Environment summary**
SDK Version: 3.15.0
OS Version Windo

[2020-12-10 17:45] ealsur commented on #2001
Task.Yield does not remove stack trace, it was one of the things the .NET team assured us.

[2020-12-10 17:54] ealsur commented on #2057
@laultman This repo is not for the Table API SDK, there is no InsertTableRowAsync in the SQL API SDK.

[2020-12-10 17:57] ealsur commented on #1985
Closing as we have not received any responses nor activity. Please reopen with the results after the configuration change or the Diagnostics.

[2020-12-10 17:57] #1985 closed

[2020-12-10 19:02] j82w commented on #2001
@johnstairs does this reproduce for point operations like ReadItemAsync? Does this reproduce in 3.15.0? There was several major changes in the query path since 3.12.0. https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/changelog.md

[2020-12-10 19:53] #2057 closed

[2020-12-10 19:54] j82w commented on #2058
Does it work if you serialize it just using Newtonsoft? This should be using the default newtonsoft behavior.

[2020-12-10 20:35] laultman commented on #2057
@ealsur Corrected the Method name.

[2020-12-10 20:36] laultman commented on #2057
@j82w

[2020-12-10 20:42] laultman commented on #2057
Bluntly, if you insert into a Cosmos DB table any JSON records from a service where those records contain their own "id" property Cosmos DB throws a hard server 500 error when trying to enumerate the table. The records are written but the table is corrupt. I need to maintain the id for backward linking to external databases and I need a new unique id on the record. Cosmos does not properly handle

[2020-12-10 20:45] laultman commented on #2057
This is the Insert:
`        internal static async Task<TableResult> InsertTableRowAsync(this CloudTable table, DynamicTableEntity dynamicTableEntity)
        {
            if (dynamicTableEntity == null || dynamicTableEntity.Properties.Count == 0) return null;

            var tableOperation = TableOperation.Insert(dynamicTableEntity);
            return await table.ExecuteAsync(tableOperation);

[2020-12-10 20:47] laultman commented on #2057
This is the retrieve that fails after the above Insert.
`        internal static async Task<TableResult> RetrieveTableRowAsync(this CloudTable table, string partitionKey, string rowKey, List<string> columnNames = null)
        {
            if (string.IsNullOrEmpty(partitionKey) || string.IsNullOrEmpty(rowKey)) return null;

            var tableOperation = TableOperation.Retrieve(partitionKey, ro

[2020-12-10 22:23] ealsur commented on #2057
@laultman This is the wrong repo for your issue, the SDK you are using is not the SQL API SDK (Microsoft.Azure.Cosmos), but the Table API SDK: https://github.com/Azure/azure-cosmos-table-dotnet/issues

[2020-12-12 15:37] ealsur commented on #2049
Cannot repro, I used a new blank Xamarin.Forms app with Android. It builds on Release/x64 without issues:

![image](https://user-images.githubusercontent.com/1633401/101988128-b3673a80-3c4c-11eb-8aeb-0be3cc21a351.png)

Using SDK 3.15.0, here is the CSPROJ:

[code]

I only added the SDK package to the base project (the one that contains the MainPage.xaml.cs file).

Please provide a CSPROJ or projec

[2020-12-12 15:50] mdbill commented on #2049
Oops, you missed from line #1 of the OP.. "fails on UWP"
and line #3 "works on iOS and Android"

[2020-12-12 16:33] mdbill commented on #2049
And just in case it matters, I use the latest, stable Xamarin.Forms (4.8.0.1687)

[2020-12-12 21:20] sdg002 opened #2062 "Does the method DeleteItemAsync of the Container class attempt a retry?"
**Is your feature request related to a problem? Please describe.**
Does the method `DeleteItemAsync` of the `Container` class , internally attempt a retry or do I as the consumer code need to put in some retry logic.

**Describe the solution you'd like**
Two things
- The documentation on the method `DeleteItemAsync` should be clear whether or not retry is required?
- Guidance on what should we ret

[2020-12-13 20:01] ankku commented on #2046
I am still not clear how I should be approaching that with Pull model, Below id the code I have where Now I have defined the ChangeProcessor, but since I am trying to call this from PowerShell cmdlet, its not allowing me to pass it in process record and giving an async issue. How should I be calling this change feed service from PowerShell cmdlet>

[code]

[2020-12-14 17:12] scottluskcis commented on #1813
Created discussion [2064](https://github.com/Azure/azure-cosmos-dotnet-v3/discussions/2064) in hopes to generate some new discussion on this topic

[2020-12-15 14:43] j82w opened #2065 "Query converts TaskCanceledException to InternalServerError"
There is a bug in the query code where it is converting the TaskCanceledException into a InternalServerError. The conversion is also not include the CosmosDiagnostics so it is not possible to see what is causing the TaskCanceledException.

Example exception:
[code]

[2020-12-15 18:53] mdbill commented on #2049
This issue seems similar...
https://docs.microsoft.com/en-us/answers/questions/180208/uwp-app-does-not-work-in-release-x64-build-but-in.html

[2020-12-15 21:19] j82w opened #2066 "ChangeFeed Diagnostics broken in PR #1933"
The ChangeFeed diagnostic tests were ignored in the following PR. The tests still fail. This has already shipped in the latest SDK. If the diagnostics is completely broken then troubleshooting ChangeFeed issues will not be possible.

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1933/files#r508043182

[2020-12-15 21:51] ealsur opened #2067 "Change Feed mode design"
Change Feed is introducing in preview shortly the Full Fidelity Change Feed.

The way to enable the retention on a container is defined in PR https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2020.

Once retention has been enabled on a container, the user can consume the change feed in Full Fidelity mode, exposing deletes (within the retention period configured in the container).

The user can

[2020-12-16 01:48] bchong95 commented on #2051
Can you provide a console app that reproduces the issue.

[2020-12-16 07:00] TimPosey2 commented on #1852
Is it possible to re-model (even if it requires you to duplicate your data) to reduce cross-partition querying?

[2020-12-16 09:50] bartelink commented on #1765
Is there any roadmap and/or indicative information of any kind available?

The absence of this feature is a major blocker for adopting the V3 SDK, which is causing significant concern for multiple projects.

[2020-12-16 16:19] ealsur commented on #1765
@bartelink I am terribly sorry for the delay, priorities shifted in this past year and I still have to follow up and get approval of this API. We are tracking this, but the work to enable higher scale (you might have seen the PRs about it) took higher priority.

[2020-12-16 17:32] bartelink commented on #1765
Thanks @ealsur - definitely not trying to pin this on you; its abundantly clear you're a) snowed under b) but still doing great work !

My main concern is that this remain on the agenda - while its theoretically possible to rewrite our consumer loops in terms of the CFP Pull Model, that's a disaster scenario from the point of view of upgrading our systems with any degree of confidence. i.e. while

[2020-12-16 17:34] ealsur commented on #1765
I whole heartily agree, and I am keeping this one on my mind, and working on it every time I have some free time. It is being tracked in our agenda, so it won't be forgotten.

[2020-12-16 17:43] j82w commented on #2067
I would suggest promoting this to a method member like start from. This is something have every user should be aware of.

[code]

Is there any reason this is not just a Enum?
[code]

[2020-12-16 18:20] ealsur commented on #2067
We could use an enum, thought it would be cleaner to have an abstract class, like :

[code]

So if we need to add more modes, we touch nothing else other than implementing a new type, instead of fishing where the value is and having a switch over an enum.

[2020-12-16 18:42] dannythomas13 commented on #2058
Please give me a moment and I'll pass on the code we are using to store data in case there is something obviously wrong

[2020-12-16 23:19] manish-jain-1 commented on #1610
FYI We are running into similar issues with Azure Function. I will open a separate issue.

[2020-12-16 23:52] manish-jain-1 opened #2073 "Large import failing mysteriously"
Using .NET Core 3.1 + Microsoft.Azure.Cosmos 3.15.0
Azure Function > with BlobTrigger
Function listens to a blob size 0.5GB and imports around 2M documents to cosmosDB
Azure Function running under Premium plan > No timeout - always running
App insights integrated with Azure Function.

This is not a static Azure function. There is a known issues with DI with Azure Function V3. So I am using my cust

[2020-12-17 09:24] LiDamon opened #2075 "CosmosDiagnostics throws IndexOutOfRangeException"
We want get count about all partition with special filter, but have an error
Message:System.AggregateException: One or more errors occurred. ---> System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at Microsoft.Azure.Cosmos.CosmosDiagnosticsContextCore.<GetEnumerator>d__42.MoveNext()
   at System.Collections.Generic.List`1.InsertRange(Int32 index, IEnumerable`1 collectio

[2020-12-17 13:10] j82w commented on #2075
@LiDamon any chance you can provide a simple console app that reproduce the issue? If not can you please provide the query, query request options, and any other custom settings you have configured for the SDK?

[2020-12-17 14:33] j82w commented on #2031
@RomanKreisel please try the [3.15.1](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/changelog.md#-3151---2020-12-16) which contains the fix.

[2020-12-17 14:41] j82w commented on #2073
@manish-jain-1 can you please try using the 3.15.1 which was just released which contains a [fix for bulk](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/changelog.md#-3151---2020-12-16)?

@ealsur  do you have any suggestions?

[2020-12-17 16:45] ealsur commented on #2073
Have you contacted Azure Functions support? The fact that the environment shuts down should be investigated. What I have seen, depending on the Functions tier you are on, is that if you violate any of the [limits](https://docs.microsoft.com/azure/azure-functions/functions-scale#service-limits), the execution is terminated.

A couple of things wrong with the code:

1. Why are you only setting to re

[2020-12-17 17:17] obautista opened #2078 "ReplaceItemAsync returning Response status code does not indicate success: NotFound (404)"
We recently upgraded from v3.5.1 to v3.15.0.  We were able to call ReplaceItemAsync passing in a new PartitionKey value.  The call is now failing.  When calling ReplaceItemAsync id value is not changing, but PartitionKey value is.  Is that expected behavior?

code snippet:

`var result = await container.ReplaceItemAsync(
                    item: entity,
                    id: entity.Id.ToString(

[2020-12-17 18:11] #2078 closed

[2020-12-17 18:11] obautista commented on #2078
non issue

[2020-12-17 19:15] manish-jain-1 commented on #2073
Thanks @j82w I am upgrading to 3.15.1. Thanks @ealsur for your detailed response.
1. I misunderstood this setting. Don't want to overload the server with default 9 retries, also, wanted to wait a little so don't run out RU's/sec. Default 30 sec seems too quick. With this, I am thinking set `WithThrottlingRetryOptions(TimeSpan.FromMinutes(5),3)`
2. Yes, I am aware of that, I need to `lock` my resou

[2020-12-17 19:34] ealsur commented on #2073
Retry on Throttling is governed by the service. When the SDK receives a 429, we also receive a header set by the service that tells us how much to wait. You can see the logic here: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ResourceThrottleRetryPolicy.cs#L94

Regarding number 2. Adding a lock will potentially cause CPU bottleneck (what if a high number o

[2020-12-17 21:09] manish-jain-1 commented on #2073
I increased max RUs to 30K but recent import failed again after importing 516K records (out of 2M). No logs in app-insights. If you look at the below graph, there are 600K 429's but the max consumed is well under 20K.

![image](https://user-images.githubusercontent.com/1090670/102543167-bfe1fd80-4067-11eb-94f2-49e98587ee97.png)

[2020-12-17 21:52] ealsur commented on #2067
Taking the good idea from Jake, the public API would look something like:

[code]

Promoting the Mode selection for the user to make a conscious choice.

While using the abstract class, but instead of methods, the `ChangeFeedMode.FullFidelity` and `ChangeFeedMode.Incremental` will have property accessors.

[2020-12-17 22:31] #1872 closed

[2020-12-17 23:16] bchong95 commented on #2067
I don't agree with the object model pattern for a field that could be an enum. By having a class we need to check for null throughout the code, which is something we wouldn't have to worry about if it were an enum.

Setting the request header should probably be done in a single place, so I don't see the need for a full visitor pattern.

[2020-12-17 23:22] ealsur commented on #2067
My concern with the enum is that it might not work with the Incremental Full Fidelity mode (which will not be initially available).
Incremental Full Fidelity could allow the customer to define a particular point in time (that gets passed as a different header) on which the backend will stop being Incremental and begin being Full Fidelity (used for migration scenarios).

The object model allows for

[2020-12-17 23:54] ealsur commented on #2073
AppInsight won't log TCP requests as far as I know, it only automatically logs HTTP requests.

The reason you are getting 429s is something I cannot know from the SDK perspective, from the library perspective we don't generate these 429s, we are just receiving it from the service. If they are there in the metrics, it means the client is receiving it, and retrying based on your configuration. The c

[2020-12-18 01:17] j82w commented on #2062
@sdg002 I sent out a PR https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2076 which will add the documentation to the [exception documentation](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Exceptions.md).

[2020-12-18 03:09] LiDamon commented on #2075
This is my code
`public int GetCount()
        {
            Stopwatch sw = new Stopwatch();
            sw.Start();
            try
            {
                var queryText = @"SELECT value count(1) FROM c where c.schema=10 and c.type=128 and c.module=2
                    and c.inherittype=1 and c.dorid='42dd7df6-e706-44b1-ba4f-5f9a9bf6342d'";
                var query = new QueryDefinition(q

[2020-12-18 11:31] To-Marshall commented on #2051
Hi,

So trying to recreate this in a console app has shown that there seems to be something with our data/database and 3.15.0 that causes it to fail while still working on 3.13.0. I have been given permission for you to access this test enviroments data but obviously there still needs to be a degree of confidenciality so is there a best way for me to privately send the console app to you with the

[2020-12-18 12:32] nijasbrawther123 opened #2083 "Cosmos DB throwing Microsoft.Azure.Documents.GoneException with a 503"
**Describe the bug**
We are seeing instances of Cosmos DB throwing **Microsoft.Azure.Documents.GoneException** on high load.

**Actual behavior**
 Cosmos DB throwing Microsoft.Azure.Documents.GoneException on high load.

**Environment summary**
SDK Version: **3.15**
OS Version (e.g. Windows, Linux, MacOSX): Windows

**Additional context**
**Stack Trace:
Response status code does not indicate succe

[2020-12-18 13:05] nijasbrawther123 opened #2081 "Cosmos DB throwing Microsoft.Azure.Documents.GoneException with a 503"
**Describe the bug**
We are seeing instances of Cosmos DB throwing **Microsoft.Azure.Documents.GoneException** on high load.

**Environment summary**
SDK Version: 3.15
OS Version (e.g. Windows, Linux, MacOSX): Windows

**Additional context**
**Stack Trace:
Response status code does not indicate success: ServiceUnavailable (503)%3b Substatus: 0%3b ActivityId: 4eeb0d5e-d406-409f-94e1-fd354238c483%3b

[2020-12-18 17:34] ealsur commented on #2083
Duplicate of https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2081

[2020-12-18 17:34] #2083 closed

[2020-12-18 17:35] ealsur commented on #2081
Did you follow the link that appears in the exception? What are the findings?

[2020-12-18 17:37] ealsur commented on #2081
Where it says "Please see CosmosDiagnostics" are you capturing the Diagnostics in the exception or capturing the ToString / serialization of the exception?

[2020-12-18 19:51] donald-hanson opened #2086 "case-insenstive CONTAINS on .net framework"
**Is your feature request related to a problem? Please describe.**
We are unable to use the case-insensitive CONTAINS call on .net framework because `string.Contains(String, StringComparison)` was not implemented until .net standard 2.1.

**Describe the solution you'd like**
Open to any alternative CONTAINS approach compatible with .net framework. One idea includes providing a built-in extension i

[2020-12-19 01:28] manish-jain-1 commented on #2073
We were able to get App Insights logging working. Now with 50K RUs allocation, it's still failing. Azure function getting 408s after around 700K records and eventually crashes(?). CPU is high on Function App no matter how much I scale up (currently on P3V2). It keeps using all the available CPU. I tried to scale out but it's giving some other AF concurrency issues likely because of running the sam

[2020-12-19 20:56] mdbill commented on #2049
I was able to instantiate DocumentClient from the V2 SDK (using the blank sample app), but I have 5 apps (4 in production) that use V3.  Please help!

[2020-12-21 07:51] RomanKreisel commented on #2031
@j82w :Thank you for the update! I added a story to our product backlog, but it'll take at least another 2-4 weeks until it's processed.
Since you were able to reproduce the issue, I'm pretty sure it'll work for us, if it works for you now :)

[2020-12-21 18:20] #2062 closed

[2020-12-21 19:19] abranaugh opened #2087 "Change Feed Pull Model Memory Issues"
**Describe the bug**
We are trying to update our SDK version from 3.9.1 - preview to the latest preview version.  We use the change feed pull model.  We noticed when we updated our version to 3.15.2 - preview and deployed, our machines quickly ran out of RAM.  Looking at the logs, we got up to about 23gb of RAM in use and then crashed.  I was able to reproduce locally and noticed that the RAM on m

[2020-12-21 22:27] bchong95 commented on #1979
Can you try increasing the page size to see if that speeds up the execution?

[2020-12-21 23:38] bernarden commented on #1979
I updated the sample a bit to include the extra console outputs. Here are the sample program runs with page sizes 5, 50 and 500.
![cosmos-query-with-different-page-sizes](https://user-images.githubusercontent.com/12289537/102832112-5d677380-4452-11eb-9c58-bd0634445dfb.jpg)

[2020-12-21 23:58] MhAllan opened #2088 "ContinuationToken not understood"
I am getting FeedResponse.ContinuationToken as a json string of complex object when I am expecting a simple string that I can pass it to the next request. Please example as there is no example for this in V3 in the whole internet and the returned object is too weird to be right

[code]

[2020-12-22 01:31] bchong95 opened #2089 "Cancellation Token is not being set on the lazy async path."
Cancellation Token is not being set on the lazy async path.

Check that prefetch in parallel is getting the user's cancellation token.

[2020-12-22 07:54] tubli opened #2090 "CosmosException on ReadNextAsync() in version 3.7 through 3.15.1 using .NET Core 3.1"
**Brief Description**
When using .NET Core 3.1 and Cosmos SDK version >=3.7...
calling queryResultSetIterator.ReadNextAsync() results in an error message

**Attempted Action**

      var sqlQueryText = "SELECT * FROM c WHERE c.LastName = 'Andersen'";

      Console.WriteLine("Running query: {0}\n", sqlQueryText);

      QueryDefinition queryDefinition = new QueryDefinition(sqlQueryText);
      Fee

[2020-12-22 12:45] j82w opened #2091 "Preview nuget with improved client retry logic"
[Microsoft.Azure.Cosmos.3.16.550-preview.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/5729901/Microsoft.Azure.Cosmos.3.16.550-preview.zip)

[2020-12-22 12:45] #2091 closed

[2020-12-22 13:24] j82w commented on #2090
@tubli can you provide the csproj file? The nuget contains a ServiceInterop.dll which should be getting copied to the applications output directory. It seems that the file is not getting copied.

[2020-12-22 13:32] j82w commented on #2088
@MhAllan the continuation token should be treated as an opaque string. The SDK appends additional information required by the SDK to resume the previous state.  Are you trying to take the continuation token from the .NET SDK and use it somewhere else?

[2020-12-22 13:36] j82w commented on #2087
Likely caused by https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1933

[2020-12-22 14:12] j82w commented on #2087
@abranaugh please [contact support](https://aka.ms/azure-support) if this is impacting your production so a support ticket is created and will ensure the issue is properly prioritized.

[2020-12-22 14:17] j82w commented on #2087
@abranaugh any chance you can provide a memory dump or perf trace to help root cause the issue?

[2020-12-22 17:12] abranaugh commented on #2087
@j82w I can provide a memory dump, how would you like me to provide that to you?  When I dumped out the version running 3.15.2 - preview, it was about 1.8gb.  I don't want to post it publicly on github due to potentially exposing our connection strings and whatnot.  I can open up a support ticket and attach it to that if that is easiest.

[2020-12-22 17:24] j82w commented on #2087
Please open a support ticket and attach the memory dump as it is the easiest way.

[2020-12-22 23:05] MhAllan commented on #2088
The token, when returned by ASP.Net core within a json object, the quotations are escaped, so when you receive that token again it is not a valid token for Cosmos db. so I had to convert it into base64 every time I return it and convert it back every time I received it.

[2020-12-23 02:14] LiDamon commented on #2075
I add retry  logic, Won't show up exception the second time.

[2020-12-23 04:28] tubli commented on #2090
@j82w Thanks for responding.

I thought the same, but the .csproj for the one that works is pretty much the same as the csproj for the version thtat doesn't work.

Here is the .csproj and screenshot of the bin folder for verison 3.15.1 (has error):
[CosmosDbDemo_3_15_1_csproj.txt](https://github.com/Azure/azure-cosmos-dotnet-v3/files/5733253/CosmosDbDemo_3_15_1_csproj.txt)
![bin_dir_3_6](https://u

[2020-12-23 13:56] j82w commented on #2090
@tubli can you provide the properties -> details of the ServiceInterop.dll? Then can you do a clean and verify the bin folder is empty and then do a build. The service interop changes with each release of the SDK. It's possible the service interop version is not getting updated when the SDK version is changed.

[2020-12-23 14:02] acn-sbuad commented on #1001
@Jubast you probably figured it out by now, but commenting in case someone else comes across this issue. Regarding query 3.
We have solved this by checking ``` documentQuery.HasMoreResults```
If there are more results, we use the continuation token, although doesn't seem to hold any value, and we send the request again. It will then retrieve the matches from the second partition.

[2020-12-23 15:07] FabianMeiswinkel opened #2093 "SDK retry policy should retry on HttpRequestException"
**Describe the bug**
Built-in SDK retry policy should handle transient connectivity issues - for example via HttpRequestException/SocketException

**To Reproduce**
See callstack below

**Expected behavior**
SDK should automatically retry

**Actual behavior**
HttpRequestException is thrown to the application without even getting wrapped in a CosmosException or being retried

** Callstack **
** Call

[2020-12-23 17:40] manish-jain-1 commented on #2073
I would like to report this issue is now resolved. We are using around 60K RU's for this import. Also, we separated this Azure function into a new function app/app service plan that took care of high CPU issues. I still see some 429's in the logs but that is not a major issue. The only suggestion I have for this SDK is to go a little bit less aggressive for the bulk import. Thanks for your help!

[2020-12-23 17:40] #2073 closed

[2020-12-24 05:06] mdbill commented on #2049
Also tried the blank UWP app template (no Xamarin forms) Still the same runtime exception.
Seems hard to believe that no UWP store app can connect to Cosmos DB (using sdk V3,) but that's how it looks.
Can anyone confirm this?

[2020-12-28 12:32] j82w commented on #2093
The SDK will retry on HttpRequestExceptions for get operations since it is safe to retry in the next SDK release from https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1954. The above exception can not be retried on non-idempotent operations because it is ambiguous if the service received the request or not.

[2020-12-28 15:42] petro2050 commented on #2067
+1 for properties because `ChangeFeedMode.Incremental()` and `ChangeFeedMode.FullFidelity()` are methods and method names should start with a verb.

- What are the minimum and maximum timespans one can set in the full fidelity mode?
- Are there any price or performance implications to setting a very high retention period?

[2020-12-28 17:36] ealsur commented on #2093
Are we sure the SDK didn't retry? The ClientRetryPolicy has a retry marking the region unavailable https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs#L71

[2020-12-28 20:06] j82w commented on #2093
I'm resolving this since the logic to retry in this scenario is already added.

[2020-12-28 20:07] #2093 closed

[2020-12-29 17:26] ealsur commented on #2090
@tubli Are you running on Windows 7? Please see https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-dot-net-sdk#common-query-issues

![image](https://user-images.githubusercontent.com/1633401/103302139-c2254f80-49b7-11eb-8639-752e13c07f7e.png)

Please use a newer Windows version or if that is not possible, remove the ServiceInterop.dll file from the project output, this would make the SD

[2020-12-29 17:26] ealsur commented on #2090
Closing as by-design when using an older Windows version, please reopen if you are using a newer Windows version and still experiencing the issue.

[2020-12-29 17:26] #2090 closed

[2020-12-29 20:36] j82w commented on #2067
I agree with @ealsur that class model is more extensible. The null exceptions can be avoided by enabling the new nullable flag for all the logic that is being added. The one benefit of using the class model is it avoid not implemented run time exception caused by a switch statement not getting updated to handle the new enum type.

[2020-12-29 20:39] j82w commented on #2075
@LiDamon what is the reason for doing the Task.Run? Why not just use a cancellation token with a timeout?

[2020-12-29 23:33] j82w commented on #2091
Adds fix for diagnostics
[Microsoft.Azure.Cosmos.3.16.600.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/5752542/Microsoft.Azure.Cosmos.3.16.600.zip)

[2020-12-30 02:39] solid-computing commented on #1865
Is there workaround to get the HmacSha256 working such as using JavaScript? I need it to connect to AWS cognito Identity.

[2020-12-30 12:44] mkeravica commented on #993
Can this issue be re-opened? The last activity on the PR was over 7 months ago. The issue should not be considered "done" or "closed" if the code is not yet merged.
This is still an issue for anyone who is trying to use UDF from LINQ.

[2020-12-30 22:32] ealsur commented on #1865
@solid-computing I think you are in the wrong repo, this is for the Azure Cosmos DB SDK.

[2020-12-31 21:43] dennis-yemelyanov commented on #1221
@ealsur , is there an example of integrating `CosmosTextJsonSerializer.cs` with V3? Looks like has a dependency on `TextJsonPartitionKeyInternalConverter`, which is internal in V3.

Has anyone actually done this before?

It would be great to be able to use both `System.Text.Json` serializer and transaction support.

[2020-12-31 23:24] xperiandri commented on #1221
I use it since March 2020

[2021-01-01 01:50] LiDamon commented on #2075
The main reason is here:
https://stackoverflow.com/questions/14526377/why-does-this-async-action-hang

[2021-01-01 02:24] LiDamon commented on #2051
[Thread 28.txt](https://github.com/Azure/azure-cosmos-dotnet-v3/files/5758577/Thread.28.txt)
I have same issue, the attachment is dump file

[2021-01-01 19:25] skurik opened #2100 "Timeout for LINQ queries"
**Describe the bug**
Request timeout set on `CosmosClientBuilder` using `WithRequestTimeout` is not respected by `Container.GetItemLinqQueryable`. When I run a heavy query, it does not return nor throw after the request timeout of 1 second passes.

I am aware that this request timeout is interpreted as a network request timeout, not an operation timeout. However, in this case, the client does not

[2021-01-01 23:23] tubli commented on #2090
For anyone having the same problem, here's what I found:

Removing the ServiceInterop.dll from the project output didn't fix the issue for .NET 5 or Core 3.1. However, everything works fine on windows 7 if you use .NET Framework 4.7.2 (no modifications needed), so I just switched to that since I didn't have strong cross-platform requirements for this part of the code.

[2021-01-04 09:10] dannythomas13 commented on #2058
@j82w We have not configured any options as you will see below, where exactly should I do the serialization, is it what I would send to the upsert?

`
database = await _cosmosClient.CreateDatabaseIfNotExistsAsync(_cosmosOptions.DatabaseName);

_container = await _database.CreateContainerIfNotExistsAsync(_cosmosOptions.CollectionName, "/ShardKey", 400);

await container.UpsertItemAsync(savedSearch)

[2021-01-04 12:20] j82w commented on #2058
This seems like a [newtonsoft](https://www.newtonsoft.com/json) issue and not related to the Cosmos DB SDK logic. It might be related to [this stack overflow post](https://stackoverflow.com/questions/2954050/jsonignore-attributes-not-working-in-asp-net).

Does it work with [JsonConvert](https://www.newtonsoft.com/json/help/html/SerializeObject.htm)? Can you provide an example of your document?

[2021-01-04 12:29] j82w commented on #2100
The [request timeout](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/3172a1af13b3738a79c2eb8db234e84a76d5cf1d/Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs#L151) that is set is only per a request to the Cosmos DB service.  Depending on the query the SDK may send multiple requests to the Cosmos DB service. `localFeedIterator.ReadNextAsync` takes in a cancellation token and can be used to

[2021-01-04 12:32] j82w commented on #2088
@sboshra what are the recommendations on how to serialize the continuation token?

[2021-01-04 12:45] skurik commented on #2100
@j82w But we are not calling `localFeedIterator.ReadNextAsync`. We simply use `GetItemLinqQueryable<T>(allowSynchronousQueryExecution: true)`. In that case, it sends `CancellationToken.None` to `ReadNextAsync`.

I will try to replicate it with 3.13.0.

[2021-01-04 16:14] #2075 closed

[2021-01-04 16:58] Daniel-Guenter opened #2101 "feedIterator.HasMoreResults always returns false in Azure"
I am trying to get the pull model of the change feed working as described here.

https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-pull-model

[code]

I am using version 3.15.2-preview of the .net sdk.  When I use this code against my local emulator everything works fine.  HasMoreResults is always true as described in the documentation.  However when I use a cosmos DB hosted in azure, t

[2021-01-04 17:03] skurik commented on #2100
I tried now with 3.13.0 and with 3.15.1

__3.15.1__
Behaves the same as __3.15.0__, hangs on `localFeedIterator.ReadNextAsync`. In particular, these are the two call stacks of Cosmos-related threads when I pause it:

This is the thread on which `GetItemLinqQueryable<T>().ToList()` is called:

![image](https://user-images.githubusercontent.com/951352/103558503-1008ee80-4eb5-11eb-8ed1-08662544e0cf.p

[2021-01-04 17:27] j82w commented on #2101
@Daniel-Guenter does it work with SDK version 3.13.0-preview?

[2021-01-04 18:41] Daniel-Guenter commented on #2101
Hi, the problem turned out to be multi region writes.

![image](https://user-images.githubusercontent.com/7799355/103567832-bc30e200-4e81-11eb-8129-ec72c138d400.png)

Once disabled I was able to read the feed iterator.

[2021-01-04 18:41] #2101 closed

[2021-01-04 19:11] j82w commented on #2101
@Daniel-Guenter did 3.13.0-preview throw an exception? It should be throwing a CosmosException with a bad request for this scenario.

[2021-01-04 19:17] Daniel-Guenter commented on #2101
Yes, the ReadNextAsync did throw an exception with the following details.

Response status code does not indicate success: BadRequest (400); Substatus: 0; ActivityId: ; Reason: (Message: {"Errors":["StartTime\/IfMofifiedSince is not currently supported when EnableMultipleWriteLocations is set."]}

The reason I did not initially catch this is because of the blind try/catch suggested in the document

[2021-01-04 19:20] ealsur commented on #2101
The problem is that the blind try/catch in the documentation is assuming customer is with version 3.14 where Not Modified threw exceptions. It should not be blind catching them but rather filter the status code.

On 3.15.2, do you get an exception on ReadNextAsync or it never gets there?

[2021-01-04 19:38] ealsur commented on #2101
Verified 3.15.2 also throws the excepted exception, the problem are the docs, so I sent https://github.com/MicrosoftDocs/azure-docs-pr/pull/142108

[2021-01-04 21:21] ealsur commented on #2101
Docs were updated, should be deployed live in the next 24hs

[2021-01-05 00:49] ealsur commented on #1221
I have used System.Text.Json with customer serializer but only for point operations, not transactional batch. For example, https://github.com/ealsur/ondotnet-cosmosdb/blob/master/src/episode1/customserializer/TextJsonSerializer.cs on https://github.com/ealsur/ondotnet-cosmosdb/tree/master/src/episode1/customserializer

[2021-01-05 15:36] mdbill commented on #2049
Have you seen the updates over the past 3 weeks which explain how to reproduce the problem?

[2021-01-05 20:51] bchong95 commented on #733
@wahyuen You can track this PR which adds the fix for continuation token support on ORDER BY undefined:

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2103

[2021-01-05 21:17] ealsur commented on #2049
@mdbill You mentioned the DocumentClient works, which Nuget package and version are you using? Is it Microsoft.Azure.DocumentDB or Microsoft.Azure.DocumentDB.Core?

Are you using Resource Tokens in your UWP applications or using the account keys? If using the account keys, how do you account for key rotations or potential access to those keys by someone decompiling the app?

Normally the pattern w

[2021-01-05 22:29] j82w commented on #2049
Is the ServiceInterop.dll being included? The SDK assumes that the dll is always available even if it is not on a supported platform.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/bfb3d8f588a70cf6072284dc9e17045cacb9ae6c/Microsoft.Azure.Cosmos/src/CosmosClient.cs#L109

[2021-01-05 23:43] mdbill commented on #2049
Microsoft.Azure.Cosmos.ServiceInterop.dll is in the /bin/x64/Release directory

[2021-01-05 23:56] mdbill commented on #2049
I used the lastest with '.Core' 2.13.1.  And I simply got past that one instantiation, just to confirm it's a V3 problem.
I rely on changefeed in V3 and I don't know that I could even use V2 if I was forced to.

I don't keep any data longer than 1 day. Cosmos is used as a realtime game server.  So I had no concern for securing access. But thanks for reminding me! My 5th app (in beta) will need tha

[2021-01-06 02:06] railstolearn commented on #2081
Any update on this?

[2021-01-06 09:18] #2089 closed

[2021-01-06 15:14] j82w commented on #2100
@skurik if this impacting any production scenarios [contact support](https://aka.ms/azure-support) so a support ticket is created and will ensure the issue is properly prioritized.

[2021-01-06 17:11] disambiguationuk commented on #2088
That's weird, my continuation tokens looks similar but not the same. I don't have the inner token within Continuation and have state instead:

`{
    "V": 2,
    "Rid": "sJU0AI4T7B8=",
    "Continuation": [
        {
            "FeedRange": {
                "type": "Effective Partition Key Range",
                "value": {
                    "min": "",
                    "max": "FF"

[2021-01-06 17:29] disambiguationuk opened #2106 "Continuation token for partition is changing when changes are made to another partition"
**Describe the bug**
When I request a continuation token for a partitionKey1 and I then make a change to partitionKey2 in the same container the continuation token for partitionKey1 changes.

Example of first continuation token:

[code]

Example of second continuation token:
[code]

**To Reproduce**
Code to generate continuation token:

[code]

Code to check if there have been changes:
[code]

**E

[2021-01-06 17:51] disambiguationuk commented on #2106
Could be related to #1796

[2021-01-06 19:40] davidobrien1985 commented on #1732
@timsander1 any update on this one? You mentioned that this would be addressed in an update, potentially October, but we're still seeing this issue. Thanks.

[2021-01-06 23:17] ealsur commented on #2081
@railstolearn There was no response from the original author, so I will close this issue. If the original author has extra information, it can be reopened, otherwise I don't see any actionable information.

[2021-01-06 23:17] #2081 closed

[2021-01-07 10:37] skurik commented on #2100
@j82w Done.

[2021-01-07 16:52] simplynaveen20 opened #2108 "Session time out 404/100, requests are retrying twice on same region"
**Describe the bug**
(In case of preferred region set) User have region A, B, C, their call sequence (5 sec Retry on A, 5 Sec Retry on A, 5 Sec Retry on B, 5 Sec Retry on C) . Which will increase unnecessary latency

**Expected behavior**
Their call sequence should be (5 sec Retry on A, 5 Sec Retry on B, 5 Sec Retry on C)

[2021-01-08 04:49] brasky commented on #1724
I'm having this same problem running BinSkim in my devops pipeline it cannot find symbols for Microsoft.Azure.Cosmos.ServiceInterop.dll or Cosmos.CRTCompat.dll

What's the appropriate fix for this? Is this something that I can configure in the devops build task?

[2021-01-08 07:56] ImrePyhvel commented on #796
@thomaslevesque Any chance to get the conflicts resolved and get your solution merged? Found myself writing some ugly reflection code again.

[2021-01-08 08:36] nakah opened #2183 "[Cosmos] Example incorrect"
The first example on this page is incorrect, please fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5102137-887d-0c3e-fe52-ff5c78f16121
* Version Independent ID: 02210ea2-4cd6-5ceb-7638-567d32a65a9e
* Content: [Scripts.GetStoredProcedureQueryIterator Method (Microsoft.Azure.Cosmos.Scripts) - Azure for .NET Deve

[2021-01-08 09:52] alexeymarkov commented on #1202
Any news there?
Requesting all entities to the client and doing GROUP BY and COUNT operations at the client results in a significant higher RUs...

[2021-01-08 14:14] kirankumarkolli commented on #1935
@FabianMeiswinkel what are the next steps?

What scenarios are impacted?

[2021-01-08 14:14] #1389 closed

[2021-01-08 14:16] kirankumarkolli commented on #1364
@sboshra please share the update.

[2021-01-08 14:20] kirankumarkolli commented on #588
Its already addressed in V3 SDK.

[2021-01-08 14:20] #588 closed

[2021-01-08 14:21] #813 closed

[2021-01-08 14:22] #342 closed

[2021-01-08 14:24] #536 closed

[2021-01-08 14:28] kirankumarkolli commented on #1935
One more to consider here is CT abstraction relationship as well.

[2021-01-08 14:39] #1443 closed

[2021-01-08 15:05] abhijitpai commented on #1316
Encryption uses Azure.Identity that is the currently recommended solution superceeding the above.

[2021-01-08 15:05] #1316 closed

[2021-01-08 15:09] abhijitpai commented on #1129
In the new model, the wrap provider is external to the encryption package.

[2021-01-08 15:09] #1129 closed

[2021-01-08 15:27] j82w commented on #2091
Adds additional tracing to capture the index issue.
[Microsoft.Azure.Cosmos.3.16.700.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/5787939/Microsoft.Azure.Cosmos.3.16.700.zip)

[2021-01-10 06:09] MhAllan commented on #2088
@disambiguationuk yours looks cleaner. I don't know what is the reason, I was using emulator and V3 library

[2021-01-10 13:25] chetankashetti opened #2111 "Transport and Gone Exceptions are occurring continuously"
**Describe the bug**
I have 2 issues.
1. TransportExceptions are logged around 15 mins every day at the same time from the past seven days. at this moment we have analyzed our logs, the CPU and RU usage is under 30%. no problems with resource utilization. Is this because of IdleTcpConnectionTimeout (24 hours) ? since it's occurring every 24 hours
2. GoneExceptions are occurring consistently withou

[2021-01-11 08:42] mikanyg commented on #1782
I have a similiar issue where my queries using linq provider works when just setting the CosmosSerializationOptions and stops working when setting a CustomSerializer instead.
I setup up the custom CosmosSerializer using the fluent CosmosClientBuilder API, where a CosmosClient is registered in the IServiceCollection.
I tried adding a serializer with an exact copy of the code from `CosmosJsonDotNetS

[2021-01-11 12:37] j82w commented on #2111
@chetankashetti can you please provide the full exception `ToString()` which includes the [CosmosDiagnostics](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/0e338b7cc683290de4e978080ad457a2bcd7c7b9/Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosException.cs#L122)?

[2021-01-11 13:07] RomanKreisel commented on #2031
ok, finally the promised update:
Had the chance to update the library in our product and tested the replay from a specific date - works fine now! :)

Thanks for fixing this so quickly!

[2021-01-11 13:55] MichalLechowski opened #2114 "Group by when my document has array property?"
Hello guys,

I'm glad group by is finally available to use but I have a 'small' problem with it. My document looks like this for instance:
[code]

So what I'm trying to do is to get the latest document for every device I have. This work just fine:

[code]

returns for instance:

[code]

But I need properties object which is an array so I get the values from a particular device. So I need something

[2021-01-11 22:23] j82w commented on #2091
Fixes concurrent add operations to diagnostics
[Microsoft.Azure.Cosmos.3.16.800.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/5798603/Microsoft.Azure.Cosmos.3.16.800.zip)

[2021-01-11 22:45] ealsur opened #2117 "Account consistency not refreshed in all places"
The SDK refreshes the account information every 5 minutes as a background task.

When this happens, information is updated on several internal caches, like the LocationCache that updates the available regional endpoints.

But the Default consistency is not refreshed on the CosmosClient as it is currently cached:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/0e338b7cc683290de4e978080ad457a2

[2021-01-11 22:56] j82w commented on #2117
The HA and networking stack might have similar logic. It's [publicly documented](https://docs.microsoft.com/azure/cosmos-db/consistency-levels#configure-the-default-consistency-level) that a restart is always required if the consistency level is changed.

[2021-01-12 10:20] lwlwalker opened #2118 "Codeless Application Insights is broken after adding Microsoft.Azure.Cosmos Nuget package to my solution"
**Describe the bug**
We have a WebAPI in our team deployed in Azure Web App. We had Application Insights configured (using Azure UI, so no code) and working fine.

As an improvement to the API we moved our data from SQL Server to CosmosDB. So we need to add this package to our solution: Microsoft.Azure.Cosmos

This package adds Azure.Core.1.8.0 package too, that depends on System.Diagnostics.Diagn

[2021-01-12 13:16] skurik commented on #2100
@j82w As for 3.15.x hanging in `CosmosLinqQuery<T>.GetEnumerator()`, it seems like the same issue as https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2051.

[2021-01-12 13:38] lwlwalker commented on #2118
This issue is documented here by MS: https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps?tabs=net#troubleshooting
From the page: "Confirm that there are no entries for AppAlreadyInstrumented, AppContainsDiagnosticSourceAssembly, and AppContainsAspNetTelemetryCorrelationAssembly."

In this case AppContainsDiagnosticSourceAssembly is happening.

[2021-01-12 14:39] j82w commented on #2118
@lwlwalker can you open an issue against the [Azure .NET SDK team](https://github.com/Azure/azure-sdk-for-net) who owns this dependency?

This dependency is needed because we are working on adding Azure Active directory support this package provides the necessary interfaces. This dependency will also be required for future SDK version to follow the [Azure .NET SDK teams guidelines](https://azure.g

[2021-01-12 14:55] j82w commented on #2100
@skurik it is possible that the issues are related, but my guess without investigating is that some change introduced a deadlock for the synchronized execution. If you can provide a sample that reproduces the issues that always helps investigation.

@sboshra owns the incidents and is doing the investigation.

[2021-01-12 15:55] onionhammer commented on #1468
Looks like Cosmos can't handle ISO 8601-1:2019 which system text json serializes to.. so in order to serialize it you should strip out the timezone info from datetimeoffsets (boo) and store as UTC ala `myDateTimeOffset.UtcDateTime`

This is a massive pain in the ass. Will this be fixed on the cosmos side at some point?

[2021-01-12 21:20] atobrandon opened #2119 "Incorrect Release Date"
I believe there is a typo on the release date for 3.16.0 in the changelog.  It has 2020-01-12 rather than 2021-01-12.

[2021-01-13 02:53] mdbill commented on #2049
I spent (another) 10 hours trying different things.  Narrowed it down to this.
I tried a blank app and added the nuget for ConfigurationManager,  and an app.config file.
then just...

using System.Configuration;

and...
           string sAttr= ConfigurationManager.AppSettings.Get("Key0");

Again, works in Debug mode.  Not Release (with .net native toolchain)
Crashes at runtime.
So it appears that

[2021-01-13 07:05] lwlwalker commented on #2118
@j82w
Done! https://github.com/Azure/azure-sdk-for-net/issues/17936
Thank you very much for the suggestion!

Luis

[2021-01-13 07:46] skurik commented on #2100
@j82w @sboshra To reproduce:

1. Have a moderately sized database (we have 670 million records now).
2. `Container.GetItemLinqQueryable<T>().ToList()` or other query which forces it to go through every partition.

[2021-01-13 14:45] #2119 closed

[2021-01-13 20:07] chwarr opened #2121 "Include docs retrieved, docs output, and server time in FeedResponse diagnostics"
**Is your feature request related to a problem? Please describe.**

Our application would like to be able to log and emit metrics about the Cosmos DB queries it executes. We want to log/emit

* the client observed latency,
* the service observed latency,
* the number of documents the query retrieved, and
* the number of documents the query output.

We want to log/emit these per "page" of the query

[2021-01-13 22:14] #2067 closed

[2021-01-14 12:53] j82w commented on #2121
What is your goal in recording just those specific values? If you are just looking for indices usage on a query I believe that is a different value.

The entire CosmosDiagnostics is needed to troubleshoot latency in the SDK which is why individual values are not exposed. In v2 SDK many users were just recording a specific field or set of fields, and when an issue was hit it was not possible for th

[2021-01-14 18:16] #2108 closed

[2021-01-14 20:02] chwarr commented on #2121
Our larger goal is to make sure that the RU charge of the queries we execute are reasonable and haven't changed unexpectedly when we deploy new versions of our app or adjust the container's index policy. If a query's RU charge jumps up, we want to be able to make sure that is because of a required logic change, and not because we, say, accidentally changed a `WHERE` predicate from an indexed colum

[2021-01-15 15:39] jtrinidadS opened #2125 "Losing records on bulk inserts"
**Describe the bug**

We are currently developing a .NetCore 3.1 + Azure AppService + CosmosDB (serverless mode) solution. One of the features of this app is to insert a large amount of data in a short period of time. To reach this we are using Bulk Insert available in Azure.Cosmos 3.15.1 package.
We tested this approach in three different scenarios with these results:

1.**Localhost in developer

[2021-01-15 17:42] ealsur commented on #2125
429 or throttling is independent of Bulk. Bulk is a optimized mode that will reduce the client-side bottleneck of having to do individual network requests to save the volume of data you want to save. It will **not reduce the number of 429s**. What it does (ref https://devblogs.microsoft.com/cosmosdb/introducing-bulk-support-in-the-net-sdk/) is pack the data into less network requests, which makes

[2021-01-15 21:24] Mortana89 commented on #2125
You should take a look at Polly.
 (https://github.com/App-vNext/Polly)
With Polly you should be able to gracefully catch 429s and indefinitely keep retrying, potentially with an exponential backoff policy.

[2021-01-15 21:44] ealsur commented on #2125
While Polly is a great library, this can be achieved also by increasing the SDK retries on 429s through:

* CosmosClientOptions.MaxRetryAttemptsOnRateLimitedRequests

You can increase it to a higher value, it will make the whole bulk operation take much longer and eventually complete.

But the root cause is that the volume of data you are trying to send is higher than your capacity to process oper

[2021-01-17 15:40] chetankashetti commented on #2111
@j82w  Thank you for the response.
I will be upgrading to the above-mentioned version. unfortunately, we're not logging cosmosDiagnostics. we're planning to do it.

With Direct mode adding retries to transient exceptions that cause 503, 410, 408. there will definitely be a performance impact? since we're adding the retry count as 3. it'll block the thread for completing those counts.

If there's a

[2021-01-19 09:57] rmaziarka opened #2127 "FeedPollDelay in ChangeFeedProcessorOptions is not respected"
Hello everybody,

**Describe the bug**
When FeedPollDelay in CosmosDBTrigger is used (which uses [ChangeFeedProcessorOptions](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/aa4eeafdcf1120358fef2df9fe87c46d2872d4a1/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerAttributeBindingProvider.cs#L281)) delay is not respected by the change feed mechanism. Calls to the `leases` collectio

[2021-01-19 12:21] jtrinidadS commented on #2125
@ealsur
Apparently the best solution was to pack the requests with ten inserts each, just like the link example.

However, it is not possible to read or modify the provisioned performance since I am working with serverless, when trying to read or modify the API it returns an error, as indicated by the documentation in this regard. Is there any other way to know my provisioned performance when usin

[2021-01-19 16:06] jonnekleijer opened #2128 "GetValue Linq support"
I implemented a dynamic solution for sorting of entities in the CosmosDb, which uses property reflection to get the property on which to sort based on a queryParameter.

[code]

This could be used like so:

[code]

I did get far in the implementation, only the Cosmos SDK does not support the Linq `GetValue`-method:

[code]

As an alternative I can use switch statements to support certain orderings

[2021-01-19 16:23] ealsur commented on #2127
@rmaziarka This is the wrong repo, don't you mean to send this to the Functions repo? https://github.com/Azure/azure-webjobs-sdk-extensions

In any case, this is not a bug and that setting does not measure the calls to the Leases collection.

The leases collection is used to store state. State is updated frequently, whenever your code finishes processing some changes, and periodically to refresh o

[2021-01-19 16:23] #2127 closed

[2021-01-19 16:48] rmaziarka commented on #2127
Thanks @ealsur for that explanation.

But in that case which class / component / library is responsible for contacting with Lease collection? In a second image that you referred to in the comment, there is information **update the lease store**. So I would assume that it is something in azure-cosmos-dotnet library contacts my Lease collection every few seconds.

[2021-01-19 18:31] ealsur commented on #2125
@jtrinidadS I'm not sure how Serverless works with throttles, @ThomasWeiss do we have any information on that?

[2021-01-19 18:33] ThomasWeiss commented on #2125
Serverless containers currently deliver up to 5,000 RU/s of throughput. We plan to increase this limit and provide a way to read the current deliverable throughput.

[2021-01-19 18:34] ealsur opened #2130 "Support for Patch on Bulk with retries on response size"
Currently, Batch API returns an HTTP 413 as pre-emptive measure of the response is going to be bigger than 4Mb for some items.

For Patch calls leveraging Bulk, that 413 does not let us tell apart a real 413 (customer is actually making the document larger than 2Mb) from a Batch API pre-emption.

Backend team will add a new substatus code to help tell the difference, and once that is done, we can

[2021-01-19 20:41] xinlian12 opened #2131 "The error date and the CPU history dates different in the error message"
Example:
"Message": "A client transport error occurred: The request timed out while waiting for a server response. (Time: 2021-01-08T12:24:41.1481571Z, activity ID: 65bbcc61-524f-4d4e-81c2-9a737c544a01, error code: ReceiveTimeout [0x0010], base error: HRESULT 0x80131500, URI: rntbd://cdb-ms-prod-northeurope1-fd11.documents.azure.com:14096/apps/002caddb-0601-40f1-89fc-43002376ce6f/services/cafd379f

[2021-01-19 21:48] ealsur commented on #2127
@rmaziarka The Change Feed Processor contacts the lease store, like I mentioned, to checkpoint or to renew the leases ownership. The lease store usage (or the reason for it) is explained in https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-processor#components-of-the-change-feed-processor

Checkpoints happen every time your handler finishes processing a set of changes, there is no contr

[2021-01-20 00:34] hassanarteaga opened #2133 "About subquery"
I'm trying to execute query with subquery with QueryItemsAsync function from C# API
SELECT VALUE COUNT(Products) FROM
  (SELECT c.ProductCode, Max(c.ProductPrice)  Maximo, Min(c.ProductPrice) as Minimo
GROUP BY c.ProductCode) Products

Result is always  0
I'm using Cosmos DB SDK NET 3.16.

If I execute the same query in Azure Portal (Data Explorer) I got the correct value.
Any idea what's going on

[2021-01-20 09:16] rmaziarka commented on #2127
@ealsur Let's start from the end. I was misled by the class [ChangeFeedProcessorOptions](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/Configuration/ChangeFeedProcessorOptions.cs) in this repo so I thought that this repo is a proper one to ask this question. Do you find it required to move the discussion to the [azure-documentdb-changefe

[2021-01-20 09:25] rmaziarka commented on #2127
And a few more info about the request to the Leases itself:
![image](https://user-images.githubusercontent.com/5219374/105154113-7c1c6100-5b09-11eb-8c12-6eec5aa49081.png)
Unfortunately, CosmosDB obfuscated the param value, but if needed I can try to get it.

[2021-01-20 15:40] ealsur commented on #2127
I understand now the context. Sadly the Change Feed Processor (and the Trigger for instance) have a heavy dependency on the leases collection and there is no way to remove it.

The query you see being executed is the Change Feed Processor renewing the leases it owns.

You can potentially reduce the frequency of these queries/activities on the lease collection (all except the Checkpoint happening a

[2021-01-20 16:55] Scythen opened #2137 "System function RegexMatch is not recognized in v4 preview3"
Executing the following query results in the error **"'RegexMatch' is not a recognized built-in function name."**
`"SELECT * FROM c WHERE RegexMatch(c.attachment, 's...')"`

**To Reproduce**
Execute a query that uses the system function RegexMatch.

**Expected behavior**
The query should execute with no errors and return a set of records.

**Actual behavior**
Provide a description of the actual be

[2021-01-20 17:11] ealsur commented on #2137
V4 does not have the required changes to support RegEx, are you doing some experiment and that is the reason you are using V4?

If this is an app that will need to go on production, please use V3.

[2021-01-20 19:20] rmaziarka commented on #2127
Thanks @ealsur for that.

Unfortunately I tried these settings and nothing changed:
![image](https://user-images.githubusercontent.com/5219374/105221966-1e643500-5b5a-11eb-9ca7-04e626868c24.png)

![image](https://user-images.githubusercontent.com/5219374/105222128-579ca500-5b5a-11eb-9b37-2411cf8f2150.png)

![image](https://user-images.githubusercontent.com/5219374/105221897-05f41a80-5b5a-11eb-9a18

[2021-01-20 22:10] Scythen commented on #2137
Yes, the app will eventually go to production but not for a while. It would be nice to continue using V4 as the API is significantly better.

What is the roadmap for v4?

[2021-01-20 22:43] ealsur commented on #2137
Not as far as I know.

Which API did you find better, the AsyncEnumerable support?

[2021-01-20 22:51] ealsur commented on #2127
@rmaziarka Try raising the LeaseAcquireInterval also, to a similar value than the LeaseRenewInterval, 2 minutes maybe. That was the other parameter I mentioned on the screen capture.

[2021-01-20 23:00] timsander1 commented on #2133
Hi @hassanarteaga , queries with a subquery with GROUP BY and an aggregate system function are not currently supported. Learn more here: https://docs.microsoft.com/azure/cosmos-db/sql-query-group-by#remarks

The very fact that you are able to run this query without hitting an error is a bug so you should not use this type of query. We plan to support these types  of queries (DISTINCT/GROUP BY in a

[2021-01-21 00:29] Scythen commented on #2137
Yes, AsyncEnumerable is one of the biggest improvements.
Also cleaning up naming CosmosDatabas vs Database for example.
The AsyncPageable also simplifies so much when implementing pagination in the API.
Better support for System.Text.Json too.
Lots of reasons to like V4. I may just use a UDF in place of the system function for now,

[2021-01-21 00:36] Scythen commented on #2137
Just looked at the V4 history and I don't see any activity, is this actually dead? If so, I will obviously have to switch to V3.
If it is dead, the documentation should be removed from the ms documentation site.

[2021-01-21 02:04] khdang commented on #2100
@skurik can you please share if it happens with other collections? does it happen with other query or only happens when you do .ToList()?

[2021-01-21 02:09] mdbill commented on #2049
For the record, switching to the V2 SDK  also has (different) problems with Release mode (I reported it to that team as well).

So, no UWP apps are capable of using Cosmos?!?....unless someone disagrees?  Is anyone working on this?
Am I reporting this in the right place? It seems like this should get more attention.

[2021-01-21 07:36] khdang commented on #2100
@skurik in your scenario (```Container.GetItemLinqQueryable<T>().ToList()``` on a 670M records collection), isn't the amout of data very large and it would take a long time to complete that synchronous call? could you please elaborate more on the hang behavior: is there any network activity? how did you confirm no progress is being made?
I've tried with the following code with 3.15.0 on a 9-partit

[2021-01-21 09:21] rmaziarka commented on #2127
Ehh, I could assume that I should do it as well 😕

Unfortunately, still no changes:
![image](https://user-images.githubusercontent.com/5219374/105330199-5018e280-5bd2-11eb-94b9-a198b246212d.png)

![image](https://user-images.githubusercontent.com/5219374/105330064-22cc3480-5bd2-11eb-9cc9-66fb3d205cdd.png)

[2021-01-21 09:21] skurik commented on #2100
@khdang

As I checked now, it's not an entirely empty query. The SQL (the result of `query.ToString()`) is

[code]

I made it artificially heavy by not putting a partition key predicate there. This query matches over 8 million documents.

How do I know there is no progress? I put a breakpoint to `CosmosLinqQuery.GetEnumerator()` on this line:

[code]

and with 3.15.0 and 3.15.1, it hits the breakp

[2021-01-21 09:35] skurik commented on #2100
@khdang And as I already mentioned, with 3.15.0, when after a while of waiting I pause the process, this is always on top of the stack:

![image](https://user-images.githubusercontent.com/951352/105331946-5740f000-5bd4-11eb-809d-f58322032d7c.png)

[2021-01-21 10:40] skurik commented on #2100
Update: The same query does __not__ hang in 3.16.0.

[2021-01-21 13:54] skurik commented on #2051
@To-Marshall Hey, could you please try with 3.16.0? I think we hit the [same issue](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2100) and 3.16.0 seems to work.

[2021-01-21 14:16] davemanton commented on #920
We were looking at using eTags to speed up queries to cosmos.  We were interested in using this to return a not modified 304 response if someone sent a request with an eTag If-None-Match header to our api.

We found that using the ReadItemStreamAsync actually returned a slower response with a not modified response for the eTag than it did just to pull the whole object back using the same method.

[2021-01-21 14:30] bartelink commented on #920
[My current workaround code](https://github.com/jet/equinox/blob/master/src/Equinox.CosmosStore/CosmosStore.fs#L398), in case it helps @davemanton

[2021-01-21 16:03] ealsur commented on #2127
@rmaziarka Is this running on Consumption Plan? Azure Functions in Consumption Plan has an external component that takes care of the scaling, this external component measures the pending number of documents to be read and decides how to scale. They use the Change Feed Processor Estimator API, which reads all leases, checks the current saved point and compares it with the latest state to calculate

[2021-01-21 16:20] ealsur commented on #2137
Not dead, just not prioritized currently, focus currently is to stabilize V3

[2021-01-21 16:35] NoahStahl opened #2139 "Linux performance roadmap?"
It's [clearly documented](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-dotnet-sdk-v3-sql) that the SDK has a performance preference for Windows x64:

Given that .NET Core on Linux seems to provide better performance in general, and that hosting on Linux is significantly less expensive, it would be nice if the Cosmos SDK performed well on both. I'm just curious if there are pla

[2021-01-21 22:47] petro2050 opened #2142 "Full fidelity: Find out which properties have mutated"
Hello,

I have a question about the upcoming full fidelity feature. If I'm monitoring changes to an item, how would I go about deciding exactly which property has changed? I need to take different actions for different properties. For every mutation, I'd like to know exactly what has mutated. Is this information going to be available to us?

So, if I have a stream coming in that looks like:

1) In

[2021-01-22 10:41] kirankumarkolli commented on #1917
Boolean as argument vs explicit method names (like WithNoContect...). Thoghts?

[2021-01-22 12:10] asketagarwal commented on #1917
Currently, JAVA has boolean as an argument for this property.
https://docs.microsoft.com/en-us/java/api/com.azure.cosmos.cosmosclientbuilder.contentresponseonwriteenabled?view=azure-java-stable

[2021-01-22 15:18] j82w opened #2146 "Optimize gateway session token logic"
Currently the .NET SDK is sending the entire session token to the gateway.

1. This adds unnecessary overhead to compute the entire session token.
2. It causes the headers to grow to large and the service will throw a [400 bad request](https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-dot-net-sdk-request-header-too-large) and will prevent users from completing requests.

Java SDK imple

[2021-01-22 15:41] To-Marshall commented on #2051
@skurik Hi, I did a quick test with 3.16 and that seems to work while 3.15 still fails so seems that yeah these are similair or the same issue.

[2021-01-22 15:57] rmaziarka commented on #2127
@ealsur yes, I use Consumption Plan for my function app.

There is such information in logs:
![image](https://user-images.githubusercontent.com/5219374/105513545-be44ce80-5cd2-11eb-88cc-6773d0872ea7.png)
I hope it'll help.

[2021-01-22 16:16] ealsur commented on #2125
Closing as the reason was identified as requests being throttled and exceeding the retry iterations. Workarounds were provided in the thread (increasing the retry times for example).

[2021-01-22 16:16] #2125 closed

[2021-01-22 16:20] kirankumarkolli commented on #2146
@moderakh please share the earlier PR versions also.

[2021-01-22 17:18] moderakh commented on #2146
https://msdata.visualstudio.com/CosmosDB/_git/document-sql-java/pullrequest/110740

[2021-01-22 19:15] ealsur commented on #2142
Change Feed Full Fidelity is still in preview so this might change.

Current contract based on my tests show that for replace operations, the Change Feed record contains the previous image.

The item would have a "_metadata" property with an "operationType" property with the value "replace" and another property called "previousImage" containing the document before the replace.

For example:

[code

[2021-01-22 19:15] #2142 closed

[2021-01-22 19:34] petro2050 commented on #2142
@ealsur Thanks. This is great. How can I get my hands on the preview?

[2021-01-22 19:49] ealsur commented on #2142
@timsander1 do you know what is the roadmap for FF public preview? @petro2050 I don't think the preview is public yet.

[2021-01-22 20:04] timsander1 commented on #2142
Hi @petro2050, we don't have a preview available yet. This is still in progress.

[2021-01-24 21:48] justinbhopper opened #2149 "How to implement consistent paging properly?"
Is it possible to use the feed iterators to paginate with a **consistent** count returned in each page?

Take this snippet as an example:
[code]

1. Assuming there are over 1000 items of `Foo`, is it true that `page` may have returned less than 20 items (and perhaps even zero)?  I have read that it is recommended to continue draining the feed until I have obtained my desired result count.
2. If th

[2021-01-25 14:22] rmaziarka commented on #2127
@ealsur I tried to understand and apply this Change Feed Process Estimator in the project but I don't see any entry point when you use CosmosDBTrigger.
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-use-change-feed-estimator
Is it something configurable from the function side?

[2021-01-25 16:03] ealsur commented on #2127
@rmaziarka

I do not have access to the Consumption Plan details and internal workings, what I am saying is that, if you are on Consumption Plan, then I know the Functions runtime checks the estimation and know if they need to scale up/down. If there are no more events in your Change Feed for more than 5-10 minutes, [Consumption Plan](https://docs.microsoft.com/en-us/azure/azure-functions/consumpt

[2021-01-25 16:11] j82w opened #2150 ".NET 3.1 upgrades"
All the tests, benchmarks, and sample projects should be updated to use the latest [.NET 5 version](https://dotnet.microsoft.com/platform/support/policy/dotnet-core).

[2021-01-25 20:42] rmaziarka commented on #2127
@ealsur you are right - queries from my application has a different useragent:
![image](https://user-images.githubusercontent.com/5219374/105763437-13dcdd80-5f56-11eb-924a-87db24738726.png)
Thanks for your time, I'll try to find some people from AF to get some details 😊

[2021-01-25 23:15] ealsur commented on #2127
From the sound of it, it looks like the scaling component of Azure Functions does not work fantastically well with the Serverless offering, and the reason seems to be the fact that they do some queries on the leases collection periodically to check if there is anything new on the Change Feed to decide whether to wake up or scale up instances. cc @ThomasWeiss

[2021-01-26 16:11] stymee opened #2182 "Cosmos: Example 2 should reference UserProperties type instead of ContainerProperties in GetUserQueryIterator"
I think the section 2 example using statement is referencing the wrong type.
[code]
should be
[code]

Original snippet:
[code]

Corrected snippet:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 154c3009-f311-227c-fb2b-da52df5984b3
* Version Independent ID: b8a681ea-f9d4-45cc-9c49-450aa43fead5
* Content: [Databas

[2021-01-26 16:48] ealsur commented on #1845
Closing as duplicate of https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1496

[2021-01-26 16:48] #1845 closed

[2021-01-26 19:04] Mortana89 commented on #2137
The inactivity is indeed painful. Last known date was GTM in May, 2020 that is. Because of the underlying work for the Azure.Core stuff.
It looks like it will take a while longer, well, we're all in IT, we know deadlines 😂
Our biggest reason to chose for V4 was the STJ support indeed, using our custom converters as well. We did this change when we went from 2.2 to 3.1.
We're looking forward to get

[2021-01-26 22:01] onionhammer opened #2153 "Enums as strings in Queryable"
It would be great if queryable -> query translator could optionally render enums as strings rather than ints for cases when enums are not stored as ints in the documents..

For example;

[code]

will generate the following SQL:

[code]

but this will always be false if the user record in cosmos looks like this:

[code]

[2021-01-26 22:01] onionhammer commented on #2153
Also... why not open source the query generator code?

[2021-01-26 22:07] j82w opened #2154 "Query diagnostics empty after first page."
On query operations the Diagnostics only returns the user agent and summary output after the first page read. The context list is always empty on future ReadNextAsync operations.

[2021-01-26 22:07] mdbill commented on #2049
Am I in the right place with this bug report? This is a critical issue for me -- seems like for everyone since no one has disagreed that the blank sample crashes.

[2021-01-26 22:24] onionhammer commented on #2153
Workaround:

This can be done by decorating your enums with
[Newtonsoft.Json.JsonConverter(typeof(Newtonsoft.Json.Converters.StringEnumConverter))]

[2021-01-27 01:23] ealsur commented on #2049
@mdbill I understand the frustration. I don't think we can remove a dependency like ConfigurationManager, it might be considered a breaking change.

Like you said, this sounds like it's a problem with that package, which in theory should work, as it is marked as NetStandard 2.0. If it was not meant to work on some platform, the NetStandard documentation says it should throw a PlatformNotSupportedE

[2021-01-27 03:55] mdbill commented on #2049
Thx for the detailed response.

Microsoft's official word is that the Microsoft Cosmos DB is not supported on Microsoft's Universal Windows platform.
It has never worked on UWP, so there is no rolling back to another version.
Nor is anyone actively trying to fix support for UWP.

Shouldn't CosmosDB throw PlatformNotSupportedException and the documentation be updated to reflect this?

It seems so c

[2021-01-27 09:06] shibayan opened #2155 "Migrate continuation token from CosmosDBTrigger format"
**Is your feature request related to a problem? Please describe.**

Difficult to migrate applications that used `CosmosDBTrigger` to Cosmos DB v3 SDK's Change Feed pull model due to the different format of the continuation token.

**Describe the solution you'd like**

Feature: automatically migrate legacy-style continuation token.

[2021-01-27 14:26] MariaCobretti opened #2156 "creating items with negative double properties are quoted in the db"
when creating an item with a double property that has a negative value, that value is being quoted in the database.
when the value is positive it is not.

I dont think this is intended.

[2021-01-27 17:04] hassanarteaga commented on #2133
Thanks guys for the feedback.

[2021-01-27 17:41] ealsur commented on #2155
That is not possible, these are 2 separate libraries with 2 separate models.

CosmosDBTrigger is an extension of Azure Functions that uses the Change Feed Processor library (not SDK) which stores state through a dedicated lease collection and lease documents. That cannot be mapped to the V2 SDK Change Feed pull model.

You can migrate to the Change Feed Processor in the V3 SDK by pointing it to th

[2021-01-27 17:41] #2155 closed

[2021-01-27 17:50] j82w commented on #2156
@MariaCobretti can you provide an example? I just did a quick tests and was not able to reproduce this behavior.

[code]

[code]

[2021-01-27 17:54] shibayan commented on #2155
Thanks for the reply.

After examining the values in the Lease container, the stored LSNs themselves seemed to be compatible, so I thought it would be possible to convert them to the format (JSON) required by the Pull Model.

I would like to write a conversion code to solve this problem.

[2021-01-27 18:00] ealsur commented on #2155
While LSNs might be there, these are opaque continuation, not any sort of strict contract, and it can change at any point, making any conversion code you might generate fallible if any of the continuation formats change (leases in Trigger or the Change Feed pull model).

[2021-01-27 18:13] shibayan commented on #2155
Thanks for the detailed information. I hadn't completely thought about the relationship with physical partitions.

I don't think it is possible to migrate with physical partitions in mind, as you say, so I would like to change the migration procedure. (Specifically, stop writing to Cosmos, and switch to the pull model after the Change Feed is empty.

Thank you again.

[2021-01-27 20:32] j82w commented on #42
Just in case anyone finds this issue it was fixed in [3.12.0](https://github.com/Azure/azure-cosmos-dotnet-v3/releases/tag/3.12.0).

Here are examples on how to configure it:
[code]

Or if you are using a NET Standard 2.1 project:

[code]

[2021-01-27 21:15] j82w opened #2158 "CosmosException.Message should include CosmosDiagnostics"
Currently the CosmosDiagnostics is only included in the CosmosException.ToString(). The issue is most customer are only recording the Exception.Message and Exception.StackTrace causing the important CosmosDiagnostics information to be missing.

[2021-01-27 23:00] danielwcr commented on #893
Same old issue with ms sdks. I wonder if ms will ever be able to provide a testable client.

[2021-01-28 00:38] MariaCobretti commented on #2156
wasn't able to reproduce it either today.. well nvm then.. no idea how those quotes got there
thanks you anyways

[2021-01-28 00:38] #2156 closed

[2021-01-28 16:00] mdbill commented on #2049
I was able to remove the offending lines and successfully connected (call to CosmosClient)
However, it still crashes eventually I assume due to the cosmos.direct.dll depending on ConfigurationManager too.

There are 4 places in the code that look like below.  Every access to ConfigurationManager.AppSettings crashes and they are all wrapped in these #if NETSTANDARD conditional flags.

#if !(NETSTAN

[2021-01-28 20:13] onionhammer commented on #1513
It's past end of year @kirankumarkolli any update?

[2021-01-29 16:28] shibayan commented on #2087
I also encountered this problem using the latest preview version (`3.15.2-preview`). Based on the findings of this issue, I decided to use `3.14.0-preview`, but now I've encountered the issue #1918 and have a difficult version to choose.

[2021-01-29 19:58] j82w commented on #2149
@timsander1 any suggestions?

[2021-01-30 02:21] MhAllan opened #2167 "Support Linq SelectMany with access to parent"
Need support for this overload of Linq's SelectMany  : `SelectMany(p => p.Children, (p, c) => new { p.Name, c.Name })`

[2021-01-30 02:35] MhAllan commented on #2167
Can be solved by `SelectMany(p =>  p.Children.Select ... `

[2021-01-30 02:35] #2167 closed

[2021-01-30 04:58] bchong95 commented on #2149
There are a couple of options for this.

The first is changing the max item count through each iteration (similar to the linux read API)

[code]

The second is to perform a take operation with keyset pagination (https://blog.jooq.org/2013/11/18/faster-sql-pagination-with-keysets-continued/):

[code]

[2021-01-30 11:38] martijnburgers commented on #810
We really need this. It's insane that this is still open.

[2021-01-30 16:22] justinbhopper commented on #2149
@bchong95 Thanks for the suggestions.  It didn't occur to me to re-create the feed iterator between loops.  Thank you!

[2021-01-30 16:22] #2149 closed

[2021-01-31 14:25] gbulicanu opened #2185 "Code snippet errors in example code for Microsoft.Azure.Cosmos.ContainerProperties Class"
The code snippets contains some errors:
i.e. `Container container = client.GetDatabase("dbName"].Containers["MyCollection"];`

correct code should be:

`Container container = client.GetDatabase("dbName").Containers["MyCollection"];`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f964235-aaba-8830-b04f-5e0743a3a88b
* V

[2021-02-01 18:22] drma-dev opened #2169 "system.text.json + azure functios + cosmos db"
I'm not sure if it's really an issue or normal behavior. But I have the following situations:

[code]
And it is saving as follows in the cosmos:
[code]
I'm trying to use the date functions of the cosmos (DateTimeDiff), but it only accepts the last format.

Shouldn't the cosmos save exclusively in the last format, which is what it accepts?

[2021-02-01 18:26] drma-dev commented on #2169
I'm using the following settings

[code]
[code]

[2021-02-01 20:00] j82w commented on #2169
This should be a Cosmos DB service feature request. The SDK is just serializing the string. The query function should understand the different formats.

@timsander1 is there a reason query only supports the last format?

[2021-02-01 20:00] ealsur commented on #2169
What do you mean by accept? Are you getting errors with the other formats?

This is part of Newtonsoft.Json serialization of datetimes: https://www.newtonsoft.com/json/help/html/DatesInJSON.htm

You could configure the default settings to use a particular format, decorate the class to use a custom converter. From the SDK perspective, this is a string field and it is sent on the wire to the backend

[2021-02-01 20:10] drma-dev commented on #2169
I chose not to do any customization and make it as simple as possible.
[code]
[code]
[code]

[2021-02-01 20:11] timsander1 commented on #2169
To use DateTimeDiff (or any of the other date and time system functions), the date must be in a certain format. For DateTimeDiff, we specify it as: UTC date and time ISO 8601 string value in the format YYYY-MM-DDThh:mm:ss.fffffffZ.

Dates and times can also be represented in [ticks or a timestamp value](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-date-time-functions#functions-to-obt

[2021-02-01 20:12] drma-dev commented on #2169
@ealsur
Cosmos doesn't even perform the function if it's not in the correct format
![image](https://user-images.githubusercontent.com/12803050/106512584-90207500-64b0-11eb-93a5-2d21b43977f5.png)

[2021-02-01 20:16] drma-dev commented on #2169
[code]

Is there any way to resolve this similar to the above code? (this specific code does not work on core 3)

[2021-02-01 20:26] #2133 closed

[2021-02-01 20:31] timsander1 commented on #2114
For GROUP BY, you can only project properties in the GROUP BY clause or aggregates. There are a few alternatives for this scenario:

1. Once you've obtained the DeviceId, query for the properties in a separate request
2. Run individual queries for each DeviceId (basically grab each DeviceId individually, looking for the max timestamp. Something like:

SELECT * FROM c
FROM c
WHERE c.deviceId = "val

[2021-02-01 20:33] timsander1 commented on #2114
For #3, here's a video on that materialized views in Cosmos DB - https://www.youtube.com/watch?v=faXkCccz5eA&t=1733s

[2021-02-01 21:08] ealsur commented on #2169
@drma-dev I understand that DateTimeDiff might not work, and that is because it has certain requirements like Tim mentioned. For DateTimeDiff to work, the date should be in that particular format.

But that is in the case where you are using DateTimeDiff. It wouldn't make sense for the Cosmos DB service to reject other formats, after all, it's just a string and it cannot know how you will consume

[2021-02-01 21:20] drma-dev commented on #2169
Thank you. Anyway, I'm using the example that works:
`public DateTime Date4 {get; set; } = DateTime.UtcNow`

[2021-02-01 21:20] #2169 closed

[2021-02-02 01:35] #1979 closed

[2021-02-02 13:58] #1917 closed

[2021-02-02 14:11] j82w commented on #2139
@timsander1 can you help answer this? There was already some [improvements](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/changelog.md#-3130---2020-09-21) to help in the linux scenario.

[2021-02-02 18:26] j82w opened #2172 "ITrace nuget"
This is a unsigned nuget created from branch: `users/brchon/TracingRemoveCosmosDiagnostics`
The custom nuget version is avoid conflicts when the official version gets released.

[Microsoft.Azure.Cosmos.3.17.500.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/5913536/Microsoft.Azure.Cosmos.3.17.500.zip)

[2021-02-02 18:26] #2172 closed

[2021-02-02 18:45] timsander1 commented on #2139
For implementing the ServiceInterop equivalent on Linux, there are no upcoming plans. In these cases, we'll go to the gateway to parse and optimize queries. There are no short-term plans to change this but if you are facing any issues with query latency, I'd be happy to help.

[2021-02-02 22:11] NoahStahl commented on #2139
Thanks for the reply. I understand the gateway approach is the fallback, but since this requires extra round trip it's not a very desirable alternative. My interest comes mainly from seeing this as a hole in the Cosmos performance story, where the low-latency SLA is a major selling point and rightfully so, but has this big asterisk of *only for Windows x64. Given that .NET on Linux is emerging as

[2021-02-03 12:41] YohanSciubukgian commented on #2150
Will we still be able to use the SDK using .Net core 3.1 which is LTS until December 3, 2022 ?
https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2021-02-03 13:57] twentytwokhz opened #2181 "Wrong sample for LINQ query generation and asynchronous execution with FeedIterator"
Shows
`
// LINQ query generation
using (FeedIterator setIterator = container.GetItemLinqQueryable<Book>()
                     .Where(b => b.Title == "War and Peace")
                     .ToFeedIterator())
{
    //Asynchronous query execution
    while (setIterator.HasMoreResults)
    {
        foreach(var item in await feedIterator.ReadNextAsync()){
        {
            Console.WriteLine(item.c

[2021-02-03 17:30] justinbhopper opened #2175 "High RU cost for case insensitive string functions"
**Describe the bug**
I'm not sure if this is the appropriate repository to report to.  I have a container with a million documents, and it seems enabling the case insensitive flag in any string function causes a huge spike in request charge costs.

According to a blog released July, 2020, string functions now support case insensitivity and are supposed to be low cost:
https://devblogs.microsoft.co

[2021-02-03 18:33] j82w commented on #2175
@sboshra or @timsander1 do you have any suggestions?

[2021-02-03 19:19] timsander1 commented on #2175
Is name a pretty high cardinality property? If it is, you can improve system function execution using [this step in our troubleshooting guide](https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-query-performance#improve-string-system-function-execution).

**Rewrite the query to:**
SELECT * FROM c
where
c.partitionKey = 'Allergy'
and StringEquals(c.Patient.Name, 'John Smith', true)
ORDER

[2021-02-03 19:47] justinbhopper commented on #2175
@timsander1 Yes it is a high cardinality.  My example above is a simplified one.  In the real world scenario, the data we are searching is in a nested array.  It was my understanding that composite indexes do not support properties found within nested arrays.  Is this correct?

So am I to understand that case insensitive searches do not utilize the index?

[2021-02-03 20:00] timsander1 commented on #2175
Case insensitive searches utilize the index but for StartsWith and StringEquals, do so less efficiently than case sensitive searches. The RU charge will increase as the cardinality of the property in the string system functions increases. However, 18,000 RUs seems abnormally high. Are you able to file a support ticket for this issue?

And yes, that's correct about using composite indexes with arra

[2021-02-03 20:11] justinbhopper commented on #2175
@timsander1 Yes along with this github issue, I filed a support ticket and they are helping investigate too.

The biggest challenge with this is the fact that we chose to normalize our searchable data within a nested array.  We got [the idea](https://github.com/microsoft/fhir-server/blob/main/docs/SearchArchitecture.md#serializing-stringsearchvalue) from Microsoft's FHIR Server, which utilizes Cos

[2021-02-03 21:36] sumantbhardvaj opened #2177 "Cosmos Sql parser : IN / NOT IN operator parsing fails for array of values"
Parsing fails for - Select * from f WHERE f.zipcode IN (2, 3, 4)
Parser does not parse (2,3,4) as array but a single string token.

Another example: this query is also not getting parsed correctly.
queryText = "SELECT * FROM c WHERE f.state NOT IN ('WA', 'CA')";
After parsing, its parsed as : {​​SELECT * FROM c WHERE ((f.state NOT IN ("WA', 'CA"))}​​
No that "WA','CA" is being treated as single st

[2021-02-03 21:43] sumantbhardvaj opened #2178 "Cosmos Sql parser : Parsing fails for ARRAY_CONTAINS when single quotes values are being looked up"
both of the below query should parse correctly.

"select f.familyName from c JOIN f IN c.children where ARRAY_CONTAINS(f.pets, {​​​​​​​​\"givenName\": \"Goofy\"}​​​​​​​​, true)",
"select f.familyName from c JOIN f IN c.children where ARRAY_CONTAINS(f.pets, {​​​​​​​​'givenName': 'Goofy'}​​​​​​​​, true)",

[2021-02-04 05:45] hochean opened #2179 "Unknown reason for OperationCanceledException in feedIterator.ReadNextAsync(token)"
**Describe the bug**
I am querying cosmos db by **page** using `FeedIterator.HasMoreResults` and `FeedIterator.ReadNextAsync(token)`. I set the page size as **1k** and **60s** delay of CancellationToken. When calling `FeedIterator.ReadNextAsync(token)`, the first page can be fetched successfully but the following `ReadNextAsync` will throw **CosmosException** with a **`System.OperationCanceledExce

[2021-02-04 16:18] timsander1 commented on #2121
Hi @chwarr, would something like this help?

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2097

[2021-02-04 16:27] j82w commented on #2178
@timsander1 any suggestions?

[2021-02-04 16:28] j82w commented on #2177
@timsander1 or @sboshra any suggestions?

[2021-02-04 17:59] #2185 closed

[2021-02-04 18:58] bchong95 commented on #2121
I think the ask here is for strong contracts / a type system on our diagnostics story. For this scenario we will need to make the following types public:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Tracing/ITrace.cs
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Tracing/TraceData/QueryMetricsTraceDatum.cs
https://g

[2021-02-04 19:50] #2181 closed

[2021-02-04 19:50] #2182 closed

[2021-02-04 19:50] #2183 closed

[2021-02-04 20:16] bchong95 opened #2187 "ITrace Perf Optimizations"
# ITrace Perf Optimizations
*  object pooling
* lazy allocation for lists of size greater than or equal to 2
* Keep reference to StoreResult without response Stream to avoid .ToString() allocation.

[2021-02-04 20:26] chwarr commented on #2121
@timsander1, skimming #2097, I came to a similar conclusion as @bchong95.

Without the strongly-typed objects exposed, it looks like the "structured" way to consume metrics after #2097 would be to serialize them to JSON and then parse that. If the JSON is specified somewhere, that's better than the unspecified key-value pairs that exist today.

[2021-02-04 21:43] timsander1 commented on #2177
This is not an issue with an unreleased feature and not the public SDK version. Thanks for creating this for tracking purposes!

[2021-02-04 21:43] timsander1 commented on #2178
This is not an issue with an unreleased feature and not the public SDK version. Thanks for creating this for tracking purposes!

[2021-02-04 22:04] tomkuijsten opened #2188 "Spatial index is not being used when using COUNT in combination with ST_WITHIN"
**Describe the bug**
I created a new collection to test spatial indexes, but when using the COUNT in combination with ST_WITHIN, it's not using the index.

**To Reproduce**

I'm using geography index with a spatial index path on "/*" as mentioned in the docs. The test documents I create are in the following format:

[code]

When using the ST_WITHIN function in a query, it's very fast and using the

[2021-02-05 00:31] j82w commented on #2188
@timsander1 or @sboshra any suggestions?

[2021-02-05 14:36] timsander1 commented on #2188
Hi @tomkuijsten, your observation is correct. If your query has a spatial system function, we will use the index for most queries. but not aggregates.

[2021-02-05 15:01] tomkuijsten commented on #2188
@timsander1 thanks for the quick reply and the clear answer! Any suggestions how to implement this kind of summarized counts? My first idea would be a materialized view with counters per region/polygon, but that requires a lot of management.

[2021-02-05 15:09] timsander1 commented on #2188
That's my recommendation as well. You could build this with an Azure Function [reading from the change feed](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-design-patterns). This solution will work well if you have a read-heavy scenario (>80% reads) but if there are a lot of writes, it might be expensive and complex to continuously update the materialized view.

[2021-02-05 15:11] j82w opened #2191 "Expose Query Parameters"
Here is the proposed API changes to make it where user can access the query parameters.  This is a follow up to PR https://github.com/Azure/azure-cosmos-dotnet-v3/pull/802#issuecomment-773663109

Option 1:
`public IEnumerable<(string key, object value)> GetQueryParamters();`

Option2:
`public IReadOnlyList<(string key, object value)> GetQueryParamters();`

Option 3: Does it give a snapshot or a ma

[2021-02-05 15:27] Pompeoar opened #2226 "ReadBodyAsync does not exist?"
Am I crazy or does this method just not exist? It's on several documentation pages though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af570359-76d3-6f17-e383-e9485fad148a
* Version Independent ID: a4e5dc96-8412-2d0e-b84e-ad80a133b8bf
* Content: [Container.UpsertItemStreamAsync(Stream, PartitionKey, ItemRequestOptio

[2021-02-05 15:39] FabianMeiswinkel commented on #2191
My intuition tells me most developers would find it easiest to think about parameters as a Dictionary so I would prefer Option 3. But I would also sign-off on Option 2 or 1 because ultimately they allow accessing individual parameter values as well.

Snapshot vs. mapping: IMO a mapping is sufficient. A snapshot would provide better performance if the GetQueryParameters would be called frequently -

[2021-02-05 15:58] thomaslevesque commented on #2191
Option 1 and 2 are fine, and are the easiest to do. Option 2 is probably slightly better, since it provides the number of parameters.

Option 3 is OK, as long as the documentation makes it clear that the method returns a snapshot at the time of the call. However, it allocates a new dictionary every time...

Directly exposing the parameters as a dictionary would be ideal, but since the underlying s

[2021-02-05 18:34] j82w commented on #2179
This is a regression in 3.14 from change https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1812.

First regression: No diagnostics and returning a 500 instead of operation cancelled exception
This only occurs if the operation cancelled exception occurs in side the query code. The [tests that were added](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/tests/Mic

[2021-02-05 19:42] bchong95 commented on #1364
We no longer use Newtonsoft to deserialize tokens, so any changes to the default serializer won't impact the query code in SDK:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CrossPartition/Parallel/ParallelContinuationToken.cs#L38

[2021-02-05 19:42] #1364 closed

[2021-02-05 21:35] tomkuijsten commented on #2188
It's read heavy, but not 80%. Each location has some properties which change quite often, these are the properties that are used to filter locations as well. What would be the alternative for a write-heavy scenario?

[2021-02-05 23:33] timsander1 commented on #2188
With the materialized view approach, you'll pay more for updating the container with the materialized view. In other words, one write would result in two charges - the new write as well as an update to the materialized view. This will be much less expensive than the query unless it is a write-heavy scenario.

If there's a mix or writes and reads- I recommend doing the math on which is cheaper - ha

[2021-02-06 00:36] zishanfu333 opened #2194 "[Track] Enable emulator test after release."
SDK PR: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2193
I will make an update here when released.

[2021-02-06 18:33] j82w commented on #2172
This is a unsigned nuget created from branch: `users/brchon/TracingRemoveCosmosDiagnostics` using commit `eb1883d8`. This contains several fixes to the tracing library.

[Microsoft.Azure.Cosmos.3.17.600.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/5937407/Microsoft.Azure.Cosmos.3.17.600.zip)

[2021-02-06 20:28] ImrePyhvel commented on #2191
**Option 1** would make the most sense since it is the simplest. It allows to stop enumerating once the interesting piece is found while still being open to consuming the full set.

Not anyone wants to know the number of parameters or consume them as dictionary, and if they do, it is one trivial LINQ command away. IMHO API should not try to be clever in advance and do extra work before it is being

[2021-02-07 17:09] V4A001 commented on #1971
I totally agree something easier with Azure.Identity could be in place. This takes too much time to accomplish. Secondly, the cost of azure cosmos db is too much if you have limited to no data or limited to no throughput :-(.

This is my code based on different samples around. We use it in a AKS cluster with aadpodidentities.

`    public class DatabaseAccountListKeysResult
    {
        [JsonProp

[2021-02-07 18:36] drdamour commented on #1971
@V4A001 have you tried the serverless/consumption cosmos? i'm in same boat with low volume and been wondering if that takes me from $1 to pennies

[2021-02-07 19:05] V4A001 commented on #1971
@drdamour : thank you. I saw the preview in portal indeed. Nice! I will check so I can join the boat instead of swimming :-). I believe for azure cli no options are present yet. Need to check it. Also all the security things would be nice to have azure cli sample.

[2021-02-08 02:10] Matthewsre commented on #810
I just ran into this problem where the string values would come back correctly, but not the Guid or DateTime values. The where filters on Guid values would still work even though it wouldn't return the values.

I ended up adding [JsonObject(NamingStrategyType = typeof(CamelCaseNamingStrategy))] to the models as a workaround, which I was trying to avoid.

[2021-02-08 09:04] martijnburgers commented on #810
I can confirm that `[JsonObject(NamingStrategyType = typeof(CamelCaseNamingStrategy))]` is not working.

[2021-02-08 09:59] thomaslevesque commented on #2191
@ImrePyhvel Option 2 isn't really more expensive, so we might as well do it. It's trivial to expose a list that's just a wrapper for the actual parameters.

[2021-02-08 10:03] thomaslevesque commented on #2191
The tuple members would be named. But yes, it's probably better to return a specific `QueryParameter` type; it's already been discussed in the PR.

[2021-02-08 11:59] IshamMohamed opened #2196 "System.ArgumentException thrown when calling CreateDatabaseIfNotExistAsync with CosmosClientOption configured with ConsistentPrefix consistency"
The problem exists in: https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.16.0 (the latest version of v3 client) and does not exist in https://www.nuget.org/packages/Azure.Cosmos/4.0.0-preview3 (latest v4 preview client)

**Describe the bug**
A cosmosdb instance was created in SouthEastAsia region with "Session" default consistency. The following C# code was used to create a DB if not exist:

[2021-02-08 13:19] j82w commented on #2196
@IshamMohamed I was able to reproduce this. It seems to not show up when testing against the local emulator.

[2021-02-08 13:34] j82w commented on #2196
@IshamMohamed I found the bug. It's incorrectly converting the consistency levels. I'll send out a fix. This seems to have existed since 3.1.0. The fix will be released in the next few weeks.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/776af4be89a6ececda78f5454c40fda95336e9db/Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs#L723

[2021-02-08 13:36] IshamMohamed commented on #2196
Great!

[2021-02-08 15:49] j82w commented on #2087
Fix in PR https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2129

[2021-02-08 15:49] #2087 closed

[2021-02-08 17:11] Romfos opened #2199 "Support custom ContractResolver in GetItemLinqQueryable"
According to this comment

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/776af4be89a6ececda78f5454c40fda95336e9db/Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs#L502

"There are two ways to specify a custom attribute", but it is not true.

**There is a third way to do that:**
I can create custom DefaultContractResolver and override CreateProperty method and then return JsonProperty with

[2021-02-08 19:35] #2196 closed

[2021-02-08 19:45] j82w commented on #2130
Fixed in https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2124

[2021-02-08 19:45] kalavany opened #2201 "Querying for fields with non-trailing numbers in the property names throws exception"
When I try to retrieve the results for "select c.props.new_data.field2f from c" using ExecuteQueryAsync, I get an exception with message "cannot recover" from sqlParser.program(). This has to do with the "2f" that's in the property name that i'm querying for in the select clause.

The same query can be used successfully to retrieve the results from azure cosmos db emulator.

[2021-02-08 20:22] j82w commented on #2187
8.85385% drop in throughput from ITrace library based on the perf runner (12915 Rps to 11820 Rps).
22.3778% increase in latency from ITrace library based on the perf runner (8.67ms to 10.5ms)
![itracelatency](https://user-images.githubusercontent.com/8868107/107276701-441d8500-6a08-11eb-974a-f9539df7b0cb.jpg)
![itracerps](https://user-images.githubusercontent.com/8868107/107276702-44b61b80-6a08-11

[2021-02-08 20:22] xyious opened #2230 "inconsistent brackets"
There's inconsistent brackets in the examples. the open are all parentheses and there's a closing bracket and a closing brace without opening bracket/brace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f964235-aaba-8830-b04f-5e0743a3a88b
* Version Independent ID: 96c44125-4277-d75e-3268-047b9e530cb2
* Content: [Conta

[2021-02-08 21:56] j82w commented on #2201
@timsander1 and @sboshra any suggestions?

[2021-02-08 22:01] timsander1 commented on #2201
+ @bchong95

[2021-02-09 16:46] j82w commented on #2191
@thomaslevesque we are good with any of the implementations. We would prefer a tuple to avoid exposing a new type just for this scenario. It can be a named tuple. If you send another PR with your preferred API we will get it merged.

[2021-02-09 16:48] thomaslevesque commented on #2191
@j82w That works for me. I'll send a new PR, the original one is too messed up now...

[2021-02-10 00:01] ealsur commented on #2111
@chetankashetti Gateway mode has no SLAs backing latency so normally Direct is always more performant, see https://docs.microsoft.com/en-us/azure/cosmos-db/sql-sdk-connection-modes.

Closing, please reopen if more information is available for troubleshooting

[2021-02-10 00:01] #2111 closed

[2021-02-10 00:05] ealsur commented on #2046
For Change Feed pull model you can take a look at the documentation here: https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-pull-model, it should be easy to wire that into your current code as you can control the flow of changes and control when you want to read more or when to pause.

Unfortunately, how to wire up Powershell is beyond my expertise, I would not be able to recommend/help

[2021-02-10 00:05] #2046 closed

[2021-02-10 00:58] #1611 closed

[2021-02-10 02:46] LiDamon opened #2207 "CosmosDiagnostics throws ArgumentNullException"
System.ArgumentNullException: Value cannot be null.
Parameter name: diagnostics
   at Microsoft.Azure.Cosmos.ResponseMessage..ctor(HttpStatusCode statusCode, RequestMessage requestMessage, Headers headers, CosmosException cosmosException, CosmosDiagnosticsContext diagnostics)
   at Microsoft.Azure.Cosmos.QueryResponse.CreateSuccess(IReadOnlyList`1 result, Int32 count, Int64 responseLengthBytes, Co

[2021-02-10 16:41] j82w commented on #2150
The SDK still is targeting .net standard 2.0. You bring up a good point about using .NET core 3.1 until the next LTS version is released.

[2021-02-10 17:47] yogsgit opened #2209 "Microsoft.Azure.Cosmos v3.16.0 ReplaceStoredProcedureAsync not working"
Hello,

I have a piece of C# code that creates or updates a stored procedure.

The code to create a stored procedure with CreateStoredProcedureAsync works as expected.

But ReplaceStoredProcedureAsync is not working. More importantly the method does return a success status code, but the stored procedure body in the container is not updated.

The code is quite straight forward:

StoredProcedureProp

[2021-02-10 17:51] j82w commented on #2209
@yogsgit please provide the full exception message.

[2021-02-10 17:52] yogsgit commented on #2209
@j82w  There is no exception. The SDK returns a success status code.

[2021-02-10 17:54] j82w commented on #2209
@yogsgit if you do a read after the replace does it show the correct version?

[2021-02-10 17:56] yogsgit commented on #2209
Closing the issue as it seems the issue was with the browser cache not updating properly thus showing the stored procedure body as not updated.

Thanks.

[2021-02-10 17:56] #2209 closed

[2021-02-10 19:00] stuartleeks commented on #1785
What is the ETA for this feature being publicly available?

[2021-02-10 23:24] thomaslevesque commented on #2191
Here it is: #2210

[2021-02-11 15:12] #993 closed

[2021-02-11 17:47] V4A001 commented on #1438
I have the same issue I believe. Ethical hackers are concerned about "SELECT * from ".. stuff and LINQ takes care of proper formatting. For that reason (and strong typed) I prefer linq. However, I run in similar issue when trying next:

`public async Task<Company> GetCompanyBycompanyNumberAsync(string companyNumber)
        {
            try
            {
                IOrderedQueryable<Company>

[2021-02-11 20:48] #796 closed

[2021-02-11 20:48] #2191 closed

[2021-02-11 21:34] j82w commented on #2051
This is likely fixed by : https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2060

[2021-02-11 21:34] #2051 closed

[2021-02-12 10:33] yar-shukan opened #2211 "Availability: Adds cross-region retry mechanism on 500 issues"
**Describe the bug**
When CosmosDB region is down (e.g. like with NOA region issue happened at 1:00 AM UTC February 2021 (Azure Cosmos DB - North America - Mitigated (Tracking ID CVTV-R80) ) it responds with 500 error code:

![image](https://user-images.githubusercontent.com/2014175/107756769-c0300980-6d35-11eb-8966-616171e927dd.png)

And it looks like it continues to make requests to region that

[2021-02-12 10:38] yar-shukan commented on #2211
Hi @ealsur, thank you for original #1715 improvement. But we do see that SDK is not resilient when 500 happens, and during last 3 weeks we observe the same pattern: CosmosDB backend starts to respond with 429 or 500 (this ticket case) when region is down.

- I'm wondering if there was any reason why you've added only 503 handling, but not any 5xx response code?
- Can you please confirm that your f

[2021-02-12 14:04] asketagarwal opened #2212 "Setting both Custom Serializer and SerializationOptions in CosmosClientOptions"
## Current Model
Currently only one of the options, Serializer or SerializerOptions can be set in CosmosClientOptions while creating the CosmosClient.  This is not allowed and throws a BadRequest (400)
[code]

* LINQ query generation only uses SerializerOptions. This creates a problem when the user wants to specify a Custom Serializer.

## Option 1

* Allow user to set both SerializerOptions and S

[2021-02-12 16:06] j82w commented on #2212
Do it at a request level. Add a overload to the. https://github.com/Azure/azure-cosmos-dotnet-v3/blob/87674f12e289f45cd8e6a140f98b66999393ebb3/Microsoft.Azure.Cosmos/src/Linq/CosmosLinqExtensions.cs#L165

`public static FeedIterator<T> ToFeedIterator<T>(this IQueryable<T> query, bool camelCasePropertiesName)`
        {

[2021-02-12 16:46] ealsur commented on #2211
SDK won't retry on 500. HTTP 500 implies an error on the backend, there is no semantics that tells the client that it is a retriable state.

503 is a temporary state and thus retried. So no, we won't retry blindly on 5XX.

Regarding the semantics, it is request level based. So 1 request failure and retry does not affect other requests. Because 503 is a temporary state, it does not affect all reque

[2021-02-12 19:01] #1567 closed

[2021-02-12 21:25] bchong95 opened #2214 "IAsyncEnumerable Support Instead of FeedIterators."
We need to support IAsyncEnumerable instead of FeedIterators, since c# has already decided on how async streams should be supported.

We have AsyncEnumerables staged for ReadFeed and ChangeFeed:

* ReadFeed: #1998
* ChangeFeed: #1978

Query will come up next. It's just going to take a bit longer, since we are also trying to remove the old string continuation token, since it doesn't allow for users

[2021-02-12 22:01] #2188 closed

[2021-02-12 22:02] #2139 closed

[2021-02-14 16:51] bchong95 commented on #2201
It looks like an exception leaked from the parser. We need to either fix the grammar file or we can wrap the code in a try catch as a stop gap.

[2021-02-14 16:53] bchong95 commented on #2154
This does not appear to be an issue anymore after the ITrace refactor:

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2097

[2021-02-14 16:53] #2154 closed

[2021-02-14 16:56] bchong95 commented on #2114
Looks like the question has gotten answered. Please reopen the ticket if there are further questions.

[2021-02-14 16:56] #2114 closed

[2021-02-14 17:00] bchong95 commented on #2106
The continuation token is an ETag generated from the server on a per physical partition level. If the two logical partitions are located on the same physical partition then one's write will affect the other's token. As long as the iterator does not show the changes for the other logical partition key, then the contract is honored (it's a logical partition key filter).

[2021-02-14 17:00] #2106 closed

[2021-02-14 17:04] bchong95 commented on #2088
@MhAllan Continuation Tokens are opaque strings and should be treated as such (no need to try and understand the format). If you have additional contracts like putting them into an HTTP header, then these things need to be honored in your application layer. Like you said base64 encoding the string is one way of going about this.

@disambiguationuk Your token is using a new format which is why it's

[2021-02-14 17:04] #2088 closed

[2021-02-14 17:05] bchong95 commented on #2066
This looks to be resolved with the ITrace PR:

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2097

[2021-02-14 17:05] #2066 closed

[2021-02-14 17:08] bchong95 commented on #1990
The grammar for parameter does not accept dots, since it would conflict with PropertyReferences. A workaround is to PascalCase your parameter names so:

[code]

becomes

[code]

[2021-02-14 17:08] #1990 closed

[2021-02-14 17:09] bchong95 commented on #1968
I haven't seen this test fail in recent history.

[2021-02-14 17:09] #1968 closed

[2021-02-14 17:14] bchong95 commented on #1867
429s should surface as a retryable exception. After the pagination library:

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1669

You should be able to retry on a 429 by just calling ReadNextAsync one more time on the iterator:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/770ee191bb2cfcef83d4d1bb3798de66776ada34/Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Pagination/Pa

[2021-02-14 17:14] #1867 closed

[2021-02-14 17:14] bchong95 commented on #1970
Please reopen the issue if there are further questions.

[2021-02-14 17:14] #1970 closed

[2021-02-14 17:15] bchong95 commented on #1823
@timsander1 Can give feedback on ETAs.

[2021-02-14 17:18] bchong95 commented on #1680
This has been solved with ChangeFeedCrossFeedRangeState:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ChangeFeed/ChangeFeedCrossFeedRangeState.cs

And the PR has documentation (refer to "Feed Range Scale Out")

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1978

[2021-02-14 17:19] bchong95 commented on #1847
As discussed requestoptions will not be unsealed unless we have a strong reason for it.

[2021-02-14 17:19] #1847 closed

[2021-02-14 19:03] bchong95 commented on #2214
For query continuation tokens we have two options.

1) Don't allow users to split and merge the FeedRangeStates if the query has non parallelizable operations (SKIP TAKE, AGGREGATES, DISTINCT, GROUP BY).
2) Have two APIs. 1 for simple queries (SELECT * with filters), 1 for complex queries.

[2021-02-14 21:26] zbynek001 commented on #1680
How do you use the `ChangeFeedCrossFeedRangeState.TrySplit`, when it's all internal?
Am I missing something?

[2021-02-14 21:41] bchong95 commented on #1680
The code uses the following macro pattern:

[code]

You can build your project with the following:

[code]

And you should access to all these types. Note that the type isn't actually GA'd, so you may encounter build breaks in the future, but you should be able to use it as a decent stop gap solution.

[2021-02-15 08:16] yar-shukan commented on #2211
@ealsur if you say _HTTP 500 implies an error on the backend_ I don't really understand why SDK shouldn't act on it and why SDK continues to make requests to region that constantly responds with 500? the problem with current retry design is that SDK not resilient at all all to backend issues when backend responds with 500 due to internal issue that makes region unavailable for requests for lot of

[2021-02-15 11:31] pentp opened #2215 "EncryptionContainerExtensions.WithEncryptor fails on v3.16.0"
`Attempt by method 'Microsoft.Azure.Cosmos.Encryption.Custom.EncryptionContainer..ctor(Microsoft.Azure.Cosmos.Container, Microsoft.Azure.Cosmos.Encryption.Custom.Encryptor)' to access method 'Microsoft.Azure.Cosmos.CosmosClient.get_ResponseFactory()' failed.`

#1809 removed the `InternalsVisibleTo` attributes for encryption package, [CosmosClient.ResponseFactory](https://github.com/Azure/azure-cos

[2021-02-15 12:38] j82w commented on #1680
This needs to be part of the public API before it can be resolved. Asking user to do a custom build to access an internal API is not a reasonable ask. Also internal APIs are can have breaking changes in the future making it not a sustainable path for customers.

[2021-02-15 12:42] j82w commented on #2215
3.16 preview was never release because of this issue: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2087. There is a 3.17-preview release currently in progress: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2200 which should be released in the next few days.

[2021-02-15 13:08] j82w opened #2217 "CosmosDiagnostics user agent string"
The user agent string needs to be moved to the top level and should be required on creating the parent Trace object. The current implementation can cause the user agent to be missing if the request never made it to the transport layer. It also causes the user agent string to get duplicated multiple times if there is retries or multiple requests for a single user operation.

[2021-02-15 18:36] ealsur commented on #2211
@yar-shukan The problem is that you are assuming that a retry would fix the HTTP 500 situation, what if the issue is related to a problem that is spanning multiple regions? Why would it be safe to retry a read request with HTTP 500? There are no guarantees based on the server response. We can take actions when the scenario is clear that there is a path forward that will resolve the situation and t

[2021-02-15 20:15] j82w commented on #2196
@IshamMohamed please try the 3.17.0-preview release

[2021-02-15 20:17] j82w commented on #2215
Please try the 3.17.0-preview: https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.17.0-preview

[2021-02-15 22:05] pentp commented on #2215
Probably need a new version of `Microsoft.Azure.Cosmos.Encryption` also because `1.0.0-previewV10` fails with `System.TypeLoadException: Method 'GetChangeFeedStreamIterator' in type 'Microsoft.Azure.Cosmos.Encryption.Custom.EncryptionContainer' from assembly 'Microsoft.Azure.Cosmos.Encryption, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' does not have an implementation.`

[2021-02-16 02:11] Jeremywhiteley commented on #2137
Another vote for v4

[2021-02-16 08:11] yar-shukan commented on #2211
@ealsur I understand your point that retries or automatic failover to another region on HTTP 500 can lead to the same 500 on another region. But there's also a chance that another region will be successful, we simply don't know.

For example, there's a code in ClientRetryPolicy [here](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/540070c96cc50bd9e655e6d0e7bb5cf10e4f8f2a/Microsoft.Azure.Cosm

[2021-02-16 12:28] #2215 closed

[2021-02-16 14:35] j82w commented on #2215
@pentp please try the [latest encryption nuget](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Encryption/1.0.0-previewV11) with the 3.17.0-preview.

[2021-02-16 15:02] timsander1 commented on #1823
Hi @petro2050. This is on our long-term roadmap but not planned in the upcoming 6 months.

[2021-02-16 15:05] timsander1 commented on #2207
@bchong95 , could you take a look?

[2021-02-16 15:07] timsander1 commented on #2175
Here is some new documentation for improving system function index utilization : https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-query-performance#improve-string-system-function-execution

[2021-02-16 18:12] bchong95 commented on #2207
This code path does not exist anymore in master. Please see if it still reproduces in 3.17.

[2021-02-16 18:14] bchong95 commented on #2100
Issue does not seems to reproduce in the latest SDK verison.

[2021-02-16 18:14] #2100 closed

[2021-02-16 18:18] #1815 closed

[2021-02-16 18:19] timsander1 commented on #2207
3.17 has not been released yet (release coming soon), so I'll make a note to check back in a few days

[2021-02-16 18:22] bchong95 commented on #1172
We expose `FeedIterator` that has a `HasMoreResults` the contract is to drain it while `HasMoreResults` is true and the pages itself may be empty. Empty pages should be treated just like any other pages. If you require a non empty page for your application, then you can drain until you receive a non empty page and aggregate some the headers like RU in your application.

This article also has some

[2021-02-16 18:22] #1172 closed

[2021-02-16 18:26] bchong95 commented on #1654
This nuget and soon the 3.17 release will have the tracing we need to investigate issues like this:

https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2172

Please reopen this issue with the latest diagnostics if the issue is persistent.

[2021-02-16 18:26] #1654 closed

[2021-02-16 18:29] bchong95 commented on #1749
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-stringequals

Case insensitive search is not going to be as performant as a case sensitive search.

You can write the query as:

`SELECT * FROM c WHERE (STRINGEQUALS(c.id, 'd2f545f1-2dee-483a-8f5a-e15cfde8c9b5', false))`

or

`SELECT * FROM c WHERE (STRINGEQUALS(c.id, 'd2f545f1-2dee-483a-8f5a-e15cfde8c9b5'))`

to make it an apples to apple

[2021-02-16 18:29] #1749 closed

[2021-02-16 19:03] ealsur commented on #2211
Reopening pending discussion and investigation of the root cause of those HTTP 500.

[2021-02-16 23:56] j82w opened #2221 "Client resiliency to slow replicas part 1"
### Problem:
The current replica selection is always doing a random selection then waiting for all the results. This means that if a replica is slow the SDK will wait until it get's a response or timeouts.

For example strong consistency:
1. Send 2 requests in parallel and wait for both requests to complete
2. If one the request is slow it waits until it gets a response or timeouts (default 5 seco

[2021-02-17 00:27] scottluskcis commented on #1513
Any update on this @kirankumarkolli, this functionality is really needed, thanks for any update

[2021-02-17 03:11] mdbill commented on #2049
If I use Gateway mode, then cosmos.direct.dll doesn't get used and doesn't crash.  So that, combined with re-building my own CosmosDB with offending code removed (above).  I think I have it working.  Score +1 for open source.
This workaround doesn't close this bug report.

[2021-02-17 04:29] ealsur commented on #2221
We need to keep in mind if any solution that prioritizes latency might cause an RU increase because of extra requests being sent when the original one, albeit slow, succeeds.

[2021-02-17 10:35] Ppiwow commented on #2030
Hi,

I vahe exaclty same issue, all works fine locally but on env same error.

Outer message:

Response status code does not indicate success: InternalServerError (500); Substatus: 0; ActivityId: 00000000-0000-0000-0000-000000000000; Reason: (PartitionKey has fewer components than defined the collection resource.);
--

innermost message:

PartitionKey has fewer components than defined the collecti

[2021-02-17 12:12] j82w commented on #2187
This was mostly fixed in https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2204. The new runs shows roughly 2% regression.

[2021-02-17 12:12] #2187 closed

[2021-02-17 12:17] j82w commented on #2221
That's a good point. We can add a feature flag to allow user to control it. This should be minimized with part 2 by avoiding the slow partitions. @kirankumarkolli  and @FabianMeiswinkel what are your thoughts?

[2021-02-17 12:36] j82w commented on #2030
@Ppiwow can you try the 3.17.0-preview and provide the CosmosException.Diagnostics.ToString() or CosmosException.ToString()?

[2021-02-17 13:02] pentp commented on #2215
Tried it and it works now, got at least MMK encryption working E2E.

[2021-02-17 13:09] yar-shukan commented on #2211
@ealsur, I've rechecked the fact that you didn't observe 500s during that outage on the CosmosDB side and I do confirm that my initial observation was wrong: we use wrapper library and it this library logged `TaskCanceledException` with 500 status code and definitely it's not from CosmosDB backend. Sorry for misleading.

The stack trace that we did observe during the outage are the following:

[co

[2021-02-17 13:14] kr-santosh opened #2223 "TraceWriterBaselineTests.TraceData.xml changes with different machine configured CultureInfo"
**Describe the bug**
Executing .\UpdateContracts.ps1 results in changes to TraceWriterBaselineTests.TraceData.xml causing test cases to fail.

**To Reproduce**
execute  .\UpdateContracts.ps1, probably with a different culture setting on your machine. I see here the xml changes
mm/dd/yyyy to dd-mm-yyyy

 ┌──────────────────────┬──────────────────────┬────────────────────────────────────┐

[2021-02-17 14:32] j82w commented on #2223
@sboshra and @bchong95 please take a look.

[2021-02-17 15:09] j82w commented on #2199
@timsander1 can you please take a look?

[2021-02-17 15:28] #1706 closed

[2021-02-17 16:16] ealsur commented on #2211
The stack trace looks like V2 SDK, not V3 (mainly because of `Microsoft.Azure.Documents.Linq.DocumentQuery`1.<ExecuteNextPrivateAsync>d__36`1.MoveNext()`, V3 SDK's namespace is Microsoft.Azure.Cosmos).

`TaskCanceledException` sounds like an HTTP timeout, in this case, trying to get Addresses for the target partitions.

[Newer V2 SDKs](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-d

[2021-02-17 16:16] #2211 closed

[2021-02-17 16:38] hora7ce commented on #1615
Hm.. the problem seems to still be present within the SDK 3.16

`Error: Response status code does not indicate success: BadRequest (400); Substatus: 0; ActivityId: ; Reason: (Microsoft.Azure.Cosmos.Query.Core.Monads.ExceptionWithStackTraceException: TryCatch resulted in an exception. ---> Microsoft.Azure.Cosmos.Query.Core.Monads.ExceptionWithStackTraceException: TryCatch resulted in an exception.

[2021-02-17 17:30] j82w opened #2224 "ITrace missing information on query operations"
This is an example of query Diagnostics you ITrace. The overall duration is 109.8 Ms, but the children shows 2.4Ms and 66.5Ms totaling 68.9Ms. There is a total of 42.9Ms that is not explained in the ITrace output.

[code]

[2021-02-17 18:34] justinbhopper commented on #2175
@timsander1 Thank you for the documentation.

Something that isn't explained well is - what determines which properties should be placed in the ORDER BY and composite indexes in order to receive this performance improvement?

We often perform queries with expressions on a wide variety of properties, some of which are basic binary expressions and others are string functions.  The example in the doc

[2021-02-17 18:37] timsander1 commented on #2175
You would want to include it if it were an equality filter (you can have up to 8 in a composite index) but you can only have a maximum of 1 range filter (which would be your string system function)

[2021-02-17 18:46] justinbhopper commented on #2175
@timesander1

Can cosmos internal indexing store a normalized version of the text along with the natural version?  This way, case-insensitive string functions can use the normalized index.

e.g.
[code]

We are already doing this manually ourselves in our Cosmos database, as we had to come up with case insensitive support on our own when we started using Cosmos 2 years ago.  It worked well for us a

[2021-02-17 18:50] timsander1 commented on #2175
For now, you could do this manually. In the future (rough ETA is Q32021), we plan to add the ability to index system function so you could index UPPER() or LOWER(). You'd still have to explicitly index UPPER() or LOWER(), though

[2021-02-17 19:11] j82w commented on #1765
Why not just pass in a FeedResponse? This will give access to all the headers, and diagnostics.

[code]

[2021-02-17 20:17] ealsur commented on #1765
@j82w we would still need the LeaseToken too, that's why I thought about the Context as grouping mechanism for all that information, but your proposal is also interesting.
One question though, what is the `Exception` parameter?

[2021-02-17 20:44] j82w commented on #1765
It was an attempt to fix the following issue: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1780.  The user would either get the FeedResponse or an Exception. This way users could logs and handle different failure cases.

 public delegate Task ChangesHandler<T>(
            FeedResponse<T> feedResponse,
            ChangeFeedProcessorContext context,
            CancellationToken cancella

[2021-02-17 20:51] j82w commented on #1615
@hora7ce please create a new github issue.

[2021-02-17 21:18] ealsur commented on #1765
The problem with injecting the Exception into the handler is that Exceptions on user area (a custom serializer for instance) should abort the current Lease Observer. Passing the Exception (if any) inside could prevent this mechanism.

For exception monitoring it is better to go with a Monitor injection (which is another workitem). V2 CFP has a `WithHealthMonitor` that lets users hook into any inte

[2021-02-17 21:20] j82w commented on #1765
That makes since. Then I would propose:

[code]

[2021-02-17 22:24] j82w opened #2227 "Client resiliency to slow replicas part 2"
## Problem
Currently by Cosmos DB normally has 4 replicas per a partition with 1 being the primary. Currently writes can only go to the primary. For reads a random replica is selected. The issue is if 1 replica is having an issue it will result in 25% of all request to be slow or error.

## Solution:
Record the latency and error rate per a replica. Then make the replica selection random but weight

[2021-02-17 23:11] j82w opened #2228 "ITrace missing store information"
The ITrace implementation for CosmosDiagnostics does not include the StoreResult information. The StoreResult contains the status code, substatus code, and other critical information to root cause issues.

[code]

[2021-02-17 23:22] ealsur commented on #2228
Confirmed by this small repro:

[code]

**3.15.2-preview** diagnostics (check the `StoreResponseStatistics`):

[code]

**3.17.0-preview** diagnostics (no Store information):

[code]

[2021-02-18 00:12] jackbond opened #2229 "Excessive FeedIterator looping"
**Describe the bug**
A query that takes 1 round trip to execute at https://cosmos.azure.com/ is taking 16 round trips when using the Microsoft.Azure.Cosmos NuGet library. The database I am running this against has Read and Write Locations in North Central US
and South Central US.

**To Reproduce**
Solution attached.

**Expected behavior**
1 round trip.

**Actual behavior**
16 round trips.

**Envir

[2021-02-18 01:25] j82w commented on #2229
@timsander1 or @bchong95 can you please take a look?

[2021-02-18 07:42] sanchez opened #2231 "Document DB and Gremlin, broken compatibility"
**Describe the bug**
Previously I have been using Cosmos with the Gremlin API to read and write data. My typical workflow has consisted with using Gremlin and Gremlin libraries to interface through the Gremlin endpoint and query/read data, and then use the Document Library to upload data. Following a couple of articles and my own exploration I have been able to successfully upload data through the

[2021-02-18 12:15] j82w commented on #2231
@sanchez this appears to be an issue with the service, and not the SDK. Please [contact support](https://aka.ms/azure-support).

[2021-02-18 12:15] #2231 closed

[2021-02-18 15:27] j82w opened #2233 "Diagnostics improvements part 1 - Client configuration"
The goals of these improvements are to improve debuggability and reduce loops for investigating customer reported issues. Currently Java v4 SDK contains several improvements over the .NET version.

Example of the Java v4 client information. Related Java PR: https://github.com/Azure/azure-sdk-for-java/pull/15738
[code]
Currently the .NET SDK only has the user agent string which contains client inst

[2021-02-18 15:38] shaazsiddiqui opened #2234 "Need to find all partitions that have been inactive for 18 months every month"
I'm wondering what is the best way to find all inactive partitions in a container programmatically every month so that I could clean up/archive the data without it being expensive and inefficient. Can change feed be leveraged for something like this?

[2021-02-18 17:18] bchong95 commented on #2229
Hi @jackbond

We were able to reproduce your issue. In the more recent SDKs versions we added more preemption points in the query iteration logic. The FeedIterator yields a page of result for every page it gets from the service. Before we used to batch these pages as much as possible for the caller and return a single large page. This led to two issues. The first is that the query was less respons

[2021-02-18 18:55] bchong95 commented on #2224
Please provide a reproduce along with what the diagnostics looked like before ITrace.

[2021-02-18 19:33] bchong95 commented on #2224
The missing time was POCO deserialization (easy to find, since the trace is so much more readable), which exists in the old CosmosDiagnostics model also. This isn't a regression on ITrace. ITrace just happens to be much more readable with the nesting so it's clear when time is unaccounted for.

[2021-02-18 19:40] bchong95 commented on #1504
Resolved by https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2097

1) Opentelemetry would require a dependency approval and doesn't provide the customization flexiblity (like components and source file).
2) Nesting was a first class design of the TraceTree approach
3) ITrace is a object model with schema and schema free components
4) Transport time is clearly marked out with a component enum
5

[2021-02-18 19:40] #1504 closed

[2021-02-18 19:41] bchong95 commented on #1224
This would just require making ITrace a public type and users can log based on the TraceLevel enum

[2021-02-18 19:42] j82w commented on #2224
I won't bother attaching a way to reproduce it since you already sent a fix. I never said it was a regression. It's just a gap I found while trying to root cause a latency issue, and wanted to make sure it was tracked so it could be fixed.

[2021-02-18 19:43] bchong95 commented on #1276
Resolved by https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2097

[2021-02-18 19:43] #1276 closed

[2021-02-18 19:45] bchong95 commented on #1701
Once ITrace and the corresponding TraceDatums are public then users can navigate to StoreResponseStatistics to get this information.

[2021-02-18 21:31] j82w opened #2238 "Remove DefaultTraceListener"
DefaultTraceListener causes lock contention and unnecessary overhead for production environments in most cases. This issue is to track removing it by default for the v3 SDK. The CosmosDiagnostics includes most of the necessary information. Testing should be done to verify that customer can enable it if necessary and to document the process.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/fca

[2021-02-18 22:09] ealsur commented on #2234
Can you define partition? You mean a partition key value?

[2021-02-18 22:12] shaazsiddiqui commented on #2234
Yes! a partition key value

[2021-02-18 22:15] ealsur commented on #2238
DefaultTraceListener is not enabled by the SDK, it is enabled by default to all NETFX applications.

Also it's enabled when running in Debug in VS (https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.defaulttracelistener?view=netframework-4.8#remarks).

NET 5 might also have this (not sure as I have not used it).

We can advise in our perf guides to disable it, but we cannot forcefully

[2021-02-18 22:16] jackbond commented on #2229
Hi @bchong95

Thank you for your quick response. Something seems VERY WRONG here. Setting aside potential workarounds for a second, when I run one of my queries locally, it's taking 10 seconds to return 11 documents from a collection with 966 total documents. I think a lot of people would be surprised for that to be the default behavior from the code below. I'm also not sure what you mean by "from

[2021-02-18 22:21] sanchez commented on #2231
Hi thanks for the reply, I managed to do some more troubleshooting and I believe the issue was occuring because of a MITM HTTPS cert manager installed in our company internet. Not sure if it would be possible to detect that sort of thing and provide a better error message within the library or not. Thanks

[2021-02-18 23:05] ealsur commented on #2234
You could use Change Feed with the Partition Key filter, with a Start Time of now - 1 months, and see if you get any documents. If you get any document at all, it means there was activity. If you get a 304, it means there was no activity.
Change Feed pull model is currently in preview: https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-pull-model

[2021-02-18 23:17] #2238 closed

[2021-02-18 23:27] j82w opened #2239 "Diagnostics improvement part 2 - Direct + TCP"
The current .NET SDK only has StoreResult, and Address resolution for Rntbd connections. This makes is very difficult to troubleshoot latency issue in the Rntbd stack.

Here is a full example of the Java v4 diagnostics:
[JavaDirectDiagnostics.txt](https://github.com/Azure/azure-cosmos-dotnet-v3/files/6006491/JavaDirectDiagnostics.txt)

The goals for .NET is replicate the following information:
[co

[2021-02-18 23:42] ealsur opened #2240 "Traces - Options to customize trace listeners"
Adding options to customize Trace listeners for our traces when running on NET Core environment would be great, and also, to disable all trace listeners (including DefaultTraceListener).

If users want to send traces to a particular sink, in NET Core, today it's extremely complex. When running in NETFX, this can be achieved by web.config/app.config.

It requires some weird hack like:

[code]

Idea

[2021-02-18 23:47] shaazsiddiqui commented on #2234
Is there a way to do this for all partition key values that exist in the container at the same time?

Any idea when this will become generally available?

Thanks for your input!

[2021-02-18 23:54] bchong95 commented on #2229
It's hard to tell where the time is being spent. Can you provided CosmosDiagnostics traces with this nuget package?

https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2172

Or you can wait till SDK 3.17 is out, which has the needed details.

[2021-02-18 23:57] bchong95 commented on #2240
This is similar to this issue:
https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1224

[2021-02-19 00:05] #2228 closed

[2021-02-19 00:08] jackbond commented on #2229
Would the 3.17 preview work?

[2021-02-19 00:13] bchong95 commented on #2229
Yeah preview works :)

[2021-02-19 00:15] jackbond commented on #2229
I've updated to the preview, the debug output looks pretty much the same. Do I have to change a setting to get additional information?

[2021-02-19 00:19] bchong95 commented on #2229
oh make sure you are logging items.CosmosDiagnostics

[2021-02-19 00:28] jackbond commented on #2229
Hopefully you'll be able to make some sense of this... :)

[diagnostics.json.txt](https://github.com/Azure/azure-cosmos-dotnet-v3/files/6006774/diagnostics.json.txt)

[2021-02-19 01:34] bchong95 commented on #2239
Please provide the perf numbers for this change when it happens. It's going to add a lot of stopwatches to perf sensitive code path point read.

[2021-02-19 01:38] j82w commented on #2240
I think there is confusion. This is not related to CosmosDiagnostics. This is only referring to the DefaultTrace inside the SDK. CosmosDiagnostic levels will need to be handled separately. I think the naming will need to be clear to avoid confusion.

[2021-02-19 01:44] j82w commented on #2239
Performance testing will be done, and included in the PR. There are several optimizations that can be done to avoid a lot of the overhead with the diagnostics.

[2021-02-19 01:48] j82w commented on #2224
I don't know why you assigned this to me. You already sent the fix for the issue, so you should be the owner.

[2021-02-19 02:00] bchong95 commented on #2229
From the diagnostics it looks like your client is spend most of the time on the network. Please rerun this on a machine that is collocated with your data and also set the max degree of parallelism + max buffered item count to a high value.

[2021-02-19 02:09] bchong95 commented on #2234
You can run change feed without the partition key filter and start from the appropriate time. From there you can client side aggregate the set of distinct partition keys. At this point you have the list of active partition key values.

You can get the complete list of partition key values by running the following query:

`SELECT DISTINCT VALUE c.pk FROM c`

[2021-02-19 02:57] jackbond commented on #2229
Previously I had set {MaxBufferedItemCount = int.MaxValue} and didn't see any change. I just updated QueryRequestOptions to  {MaxConcurrency = 16} and the total duration of the while loop went down to 1.5 seconds, pretty much on par with what I've been seeing when running through the portal. I then changed to {MaxConcurrency = -1} and also saw 1.5 seconds. Am I correct in concluding that not setti

[2021-02-19 08:50] Ppiwow commented on #2030
It wont be easy, as this issue is only reproducible on test/dev/prod envs.

What is strange i fiugre out that:

when i use:

[code]

it fail even if like you see there is still null. it seems that there is some onChangeEvent or somwehere comparision to null not works as expected.

maybe code

if(PartitionKey == null) is not working in some setups and should be
if(PartionKey.HasValue) or simillar.

[2021-02-19 12:58] j82w commented on #2229
@southpolesteve can you help answer the question about query in the portal?

[2021-02-19 16:01] southpolesteve commented on #2229
@jackbond. The portal uses the JavaScript SDK to make queries directly to the service via gateway mode. It also has some special configuration that is designed to provide the best experience for browser users and restrictions of that environment, so it may not exactly match the behavior of another SDK.

You are correct the round trip count is calculated on the client from how many times the query