[2019-09-10 15:57] arunmannengal-zz opened #789 "Can the SDK itself take "Primary" and "Secondary" auth keys and silently use either? This avoids client to have a policy based on exception to create new clients."
**Is your feature request related to a problem? Please describe.**
Can the SDK itself take "Primary" and "Secondary" auth keys and silently use either? This avoids client to have a policy based on exception to create new clients.

It could be an overload to CosmosClient( ,,,,) so that customers wanting to use it can use it

**Describe the solution you'd like**
The CosmosClient creation should take

[2019-09-10 16:18] kirankumarkolli commented on #786
@simplynaveen20  can you please take a look?

[2019-09-10 17:11] #696 closed

[2019-09-10 17:11] #728 closed

[2019-09-10 17:40] #784 closed

[2019-09-11 12:37] j82w commented on #789
The problem with that approach is that it will only ever allow a single key rotation. It might be better to add a new method like `client.UpdateKey("newKey");` which would allow the client to switch to the secondary key and then to the new primary key.

[2019-09-11 13:42] bartsokol commented on #786
Seems like the issue is related with the Cosmos emulator version; I had 2.2.x version installed, after updating to 2.5.6 demo started working, so did the reading and writing items using the new SDK with PK set to `PartitionKey.None`. Maybe some update of the docs indicating the minimal emulator version would be useful?

[2019-09-11 20:25] meechy79 opened #793 "ReadNextAsync and ActivityId"
Is there any reason why the ActivityId is not returning from a call to ReadNextAsync?

[code]

[2019-09-11 20:26] meechy79 commented on #793
Could it be fixed by passing the CorrelatedActivityId in CosmosCrossPArtitionQueryExecutionContext

[code]

[2019-09-11 21:27] j82w commented on #793
Why do you want the activity id?

The reason it doesn't return an activity id is there is no way to combine an activity id for aggregate queries. The correlated activity might be useful for client side traces, but it is not sent to Cosmos DB. Which makes it useless for trying to troubleshoot any issues with the Cosmos DB service. The next release will have the Diagnostics which will have all the m

[2019-09-11 22:05] simplynaveen20 commented on #643
I just pop this item from our priority list , and stared investigating.
Can you please provide your code snippet of V2 version where you are using sql and linq together.

[2019-09-11 22:31] j82w commented on #788
I don't have any example or experience using it but there is [Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/overview).

Another alternative is to add Azure App insights or a custom monitor that records the RU's of every request. You can use the [handler pipeline](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/Handlers/LoggingH

[2019-09-12 03:26] SeanFeldman opened #794 "IndexManagement project is missing?"
The samples make [reference](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/bec2d8160d7423572cf8eeecb3eadb345e6cb19f/Microsoft.Azure.Cosmos.Samples/CodeSamples/ContainerManagement/Program.cs#L114) to a project called `IndexManagement` for indexing, but it's not found in the samples repo.

[2019-09-12 05:49] adstep commented on #551
Is there support for customer converts with the current setup? I am looking to add a stringtoenumconverter.

[2019-09-12 09:25] Postlagerkarte opened #795 "Misleading parameter PartitionKey in methods ReadItemStreamAsync and ReadItemAsync?"
Hi there,

`ReadItemStreamAsync `and `ReadItemAsync `both expect a parameter `PartitionKey partitionKey`.

It requires to provide the value of the partition key, not the name of the the partition key.

I find this confusing because e.g. on the storage explorer and data explorer the term partionkey refers to the name of the key and not the value.

Maybe the name of the parameter can be adjusted to

[2019-09-12 10:10] thomaslevesque opened #796 "Expose QueryDefinition parameters"
**Is your feature request related to a problem? Please describe.**
With the current API the parameters on `QueryDefinition` are write-only (can only be added with `WithParameter`). There's no way to access the parameters already added to the query definition.

On the other hand, the `QueryText` is read-only, so I can't change it.

This means there's no way I can't change query definition by modify

[2019-09-12 19:51] simplynaveen20 opened #797 "Revisit ReadThroughput api for single return type"
We have two public api for throughput, one return nullable int and other return ThroughputResponse, they are getting differentiate  based on requestOptions.
We did this for simple use case where user will just need call ReadThroughputAsync without requestOption , and if user need the whole response which have other properties in it ,they can pass the requestOption
and it will be in line with our o

[2019-09-13 07:44] CodeRevver commented on #570
@buyckkdelaware  It's released now in Preview 2.  Works for me!  Thanks guys, this came just in time 🥇

[2019-09-13 21:47] mark-manticore opened #803 "GetItemQueryStreamIterator not making concurrent requests"
**Describe the bug**
We have a database provisioned with 1100 RU's and we scaled it up to 25000 and then eventually back down (for load testing). We noticed that queries (without a specified partition key) made with GetItemQueryStreamIterator and QueryRequestOptions.MaxConcurrency = 10 would return a json result with "_count" of 0 and no documents in the array. The feed iterator would say there is

[2019-09-14 20:06] apulliam opened #804 "API's throw exceptions instead of setting StatusCode property on ItemResponse"
With Cosmos SDK v3, all API's return a response object containing an StatusCode property along with data.  However, the API's (CreateItemAsync and ReadItemAsync) are throwing CosmosDbException's instead of returning errors in the StatusCode of ItemResponse.  CosmosDbException has its own StatusCode property which contains the error code.  What's the point of the StatusCode in the responses if its

[2019-09-15 04:20] kevinding0218 commented on #788
@j82w , thank you for sharing your thoughts! Instead of just monitoring from Azure Monitor or App insight, we're thinking if there is anyway that can increase the throughput at run-time to improve the performance. In our case, we have no idea when our data request might need a large throughput to avoid less Http 429 response (_e.g, we may have only 1,000 items came at 8:00 - 8:14 am but could rece

[2019-09-15 15:00] Dave76 opened #805 "Samples for Batch operations?"
Hey,

I have been playing with the new Batch class, but for some reason my response keeps coming back null.  Are there any samples available for Batch?  Here's my code:

[code]

[2019-09-15 15:20] Dave76 commented on #805
Sorry, had a little issue with my debugger, I was getting a proper response, but still doesn't seem correct:

[code]

[2019-09-16 11:49] j82w commented on #803
The SDK does send and receive request concurrently, but it does not batch the results. This allows the user to get the RUs and diagnostics for each request. It likely after the first page the following pages are already cached.

[2019-09-16 11:50] #795 closed

[2019-09-16 12:52] j82w commented on #804
The reason ItemResponse has a status code is for upsert scenarios. Users gave feedback during the preview that they need to tell if it was a create or not. There is no error message or other exception info on ItemResponse. During the preview there was a lot of debates on if the SDK should throw or not. It came down to that the .NET guidelines say that it should throw, and that it matched the v2 be

[2019-09-16 12:52] #804 closed

[2019-09-16 12:54] j82w commented on #805
@abhijitpai can you please take a look?

[2019-09-16 12:56] j82w commented on #793
@meechy79 can you please respond to the above question?

[2019-09-16 16:49] mark-manticore commented on #803
Thanks for the clarification. I think I would have come to that conclusion if I received an IEnumerable or some collection of response objects. This does raise some more questions.

1. Is there a way for me to know whether a result from `ReadNextAsync()` was batch requested or not?
2. Should I assume the SDK will attempt to maximize concurrency and I only need to set it lower when desired?
3. If I

[2019-09-16 18:01] j82w commented on #803
1. This should be possible after the next release where the diagnostics are being exposed.
2. Yes, the SDK will always attempt to maximize the concurrency. You can just set maxConcurrency to int.Max to be on the safe side.
3. MaxItemCount will always return 0 or 1 item per a ReadNextAsync as the MaxItemCount is 1. More then 1 item per a physical partition might be buffered. For example a distinct

[2019-09-16 18:22] mark-manticore commented on #803
Thanks for the fast response. I will close this issue as it sounds like it's working. Its good know the cosmos SDK is handling the complexities of questions 3 & 4. I was worried that because I wasn't receiving a batched result that I was getting raw responses from the partitions.

[2019-09-16 18:22] #803 closed

[2019-09-17 11:40] Liversage opened #810 "Combining custom camel case serializer with LINQ"
The SDK supports a custom serializer by deriving from `CosmosSerializer` but using a serializer that converts idiomatic C# pascal case property names to JSON camel case names break LINQ queries.

Version 3.2.0-preview2 now supports `CosmosPropertyNamingPolicy.CamelCase` which fixes the camel case problem. Thanks!

However, it is impossible to both have a custom serializer and also a LINQ provider

[2019-09-17 12:54] j82w commented on #810
The only issue I see with support both is the ambiguity of when the custom serializer is used vs the settings. Would having an option to set it directly on linq operation be better? That way the local linq setting always override the client level settings.

[2019-09-17 13:42] Liversage commented on #810
A local LINQ setting would also work. It does seem a bit asymmetrical that the custom serializer is configured when the client is created while the camel case LINQ override is provided on each query.

[2019-09-17 17:03] zhusulai opened #812 "Default Connection Mode Inconsistent with Documentation"
**Describe the bug**
When a new CosmosClient is created, the ConnectionMode defaults to `Direct` instead of `Gateway` as described in various documentations.

**To Reproduce**
Create a new CoismosClinet by calling `new CosmosClient(endpointUrl, primaryKey)` and inspect the `ConnectionMode` property of the connection.

**Expected behavior**
ConnectionMode should be `Gateway`.

**Actual behavior**
C

[2019-09-17 21:04] j82w commented on #812
Hi @zhusulai ,

In the v3 SDK the default changed from Gateway mode to Direct. Direct mode has better performance. Can you share a link of the documentation so it can be updated?

[2019-09-17 21:53] ausfeldt opened #813 "Add AppDomain.CurrentDomain.BaseDirectory check to ServiceInteropWrapper.AssembliesExist"
**Describe the bug**
Add AppDomain.CurrentDomain.BaseDirectory as an additional check to the existing logic before failing back to Gateway

[2019-09-18 02:26] ahesami opened #815 "Auto generation of id when creating document is not working"
**Describe the bug**
Auto generation of id when creating an item does not work as previous version. We are trying to upgrade to 3.x and previously we had the practice to leave id generation to database to make sure its one entity that is generating ids, but all the parts of the code which we were creating documents (items) is now throwing the following exception:

CosmosException;StatusCode=BadReq

[2019-09-18 12:06] SeanFeldman opened #817 "AllowBulkExecution is internal for stable builds"
`CosmosClientOptions.AllowBulkExecution` is public for the preview build `3.2.0-preview2`, but internalized for the final version `3.2.0`. I'd like to avoid using preview. What is the reason for this conditional compilation?

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/b045e33824760d3fa4d4a16268501f8efff98e44/Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs#L355-L360

[2019-09-18 12:10] j82w commented on #815
In the v2 SDK it was checking each object. Then creating an id if it did not exist and inserting into the document. The problem with doing this is it takes a rather large performance hit, and it also caused confusion for some new users. In the v3 SDK we removed a lot of the work that was being done behind the scene to make users more aware of the performance impact.  Is there any reason you are no

[2019-09-18 12:16] j82w commented on #817
Bulk and Batch are still in preview because they are brand new features. We want to get more customer feedback and validation before making them part of the official build. This way if we get a lot of feedback that a breaking change needs to happen it can be done without doing a v4 SDK.

[2019-09-18 14:49] #817 closed

[2019-09-18 14:50] #793 closed

[2019-09-18 15:16] SeanFeldman commented on #817
So for someone who wants to use it, they would not be able to use the latest release with fixes? Or will be a 3.x.y-preview?

[2019-09-18 18:10] FluentGuru commented on #717
@kirankumarkolli @ReubenBond @ealsur
All, tested the upgrade to preview 2 and it worked. Already implemented on my prod. Thank you very much and nice work :)

[2019-09-18 19:06] j82w commented on #717
@FluentGuru  [3.2.0](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.2.0) is released

[2019-09-18 19:06] #717 closed

[2019-09-18 20:39] j82w commented on #817
The plan is to always do a preview release when a new official release is ready. For example there will be a 3.3.0 and a 3.3.0-preview package.

[2019-09-18 23:07] ahesami commented on #815
Thanks for the comment, yes we want to have one entity issuing the ids so we reduce the possibility of getting duplicates. Now we have to make big changes, we have more than one instance for our servers and this would make each server requiring to issue ids which defeats the purpose of having one entity, which used to be cosmos db core, to generate ids.

[2019-09-18 23:44] SeanFeldman commented on #817
Got it. So `3.2.0-preview2` would be an equivalent to `3.2.0` that includes bulk option. Is that assumption correct?

[2019-09-19 03:57] Dave76 commented on #817
Hello,

I have been using the Bulk feature for the past week, and have some great results to share.  Would be happy to do so, but not sure who to direct them to.

And to answer SeanFeldman's question, I am using the `3.2.0-preview2` version of the package.

Dave

[2019-09-19 06:51] pkaushik23 opened #828 "Blazor app with cosmos sdk goes non responsive"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1) Following this url for blazor setup : https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio
2) Create a Blazor Client project
3) Install nuget package - Install-Package Microsoft.Azure.Cosmos -Version 3.2.0
4) Run following code snippet in any btn handler c

[2019-09-19 11:47] j82w commented on #815
If you are using Guid to generate the id you shouldn't be getting collisions. The [v2 SDK](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/b5eee576104aa399951e6ab774d9527b851202a9/Microsoft.Azure.Cosmos/src/DocumentClient.cs#L1897) just uses Guid.NewGuid() to generate the ids. If you want to do something similar in [v3 SDK with an extension method](https://github.com/Azure/azure-cosmos-dotnet

[2019-09-19 12:03] #815 closed

[2019-09-19 12:20] j82w commented on #828
Hi @pkaushik23 ,

Any chance you can test it against the 3.1.1 release? I'm interesting if this is a recent regression or a bug that has always existed.

[2019-09-19 13:41] j82w commented on #817
The preview features will not be included in the official release of the same version. A lot of the features in the SDK have changes in the Cosmos DB service. The changes to the service need to be ran for a while to verify the performance and stability of the new feature. We need to ship the SDK faster than the features are ready. To better explain how the versioning is currently working here is a

[2019-09-19 14:43] liquidsnk opened #829 "Guideline/recommendation for ASP.NET injection of different Container instances"
Hi!, I'm starting out with the SDK and would like any recommendations for my scenario.
I have an ASP.NET Core application and was thinking on injecting the appropriate Container instance into my repositories.
The problem comes from ASP.NET injection not having a way to distinguish the different Container registrations I want to make (no named registrations), for example:
[code]

And as I don't con

[2019-09-19 14:53] j82w commented on #817
@SeanFeldman please take a look at this [PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/830) to update the changelog to make it a little bit clearer on how the preview versions work.

[2019-09-19 20:56] mark-manticore opened #831 "Allow consumption of Change Feed as a pull model"
**Is your feature request related to a problem? Please describe.**
We are using the ChangeFeedProcessorBuilder in our WebAPI to update an in-memory cache with recent changes to a container as outlined in the change feed use cases documentation. We have multiple instances of our WebAPI that each have their own cache so each instance is working on a single processor and doesn't need to share updates

[2019-09-20 07:32] pkaushik23 commented on #828
Hello @j82w i tested against 3.0.0, 3.1.1 and 3.2.0. All of them had the same behaviour. Thanks.

[2019-09-20 08:05] kweebtronic opened #833 ""sortedRanges" exception when querying Unique Key IN list"
**Describe the bug**
Query for documents where the string property "objectKey" appears in a list of strings
objectKey is defined as partition key AND unique key for the collection
Cosmos DB is returning "sortedRanges" exception.

**To Reproduce**
Run attached test harness below
Then query the offending rows directly using data explorer - same error

[code]

**Expected behavior**
Data retrieved

**

[2019-09-20 08:16] kweebtronic commented on #833
*Seems* that keys longer than 100 characters are causing the failures. If I filter for keys less than 100 characters in length, I don't receive the exception

[2019-09-20 12:40] j82w commented on #833
Hi @kweebtronic ,

Thanks for repo. For some reason it's getting overlapping ranges which causes the validation to fail. It doesn't seem to necessarily be just string length either. If you set objectKey to RandomString(108) the test passes. I'll update this issue once I have a root cause and fix.

[2019-09-20 14:04] j82w commented on #833
@bchong95 can you take a look? I created a branch with a simple [test ](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/8efa0382d02a61b843af728eabafe5a7ff9a432b/Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosBasicQueryTests.cs#L623) of the repo.

[2019-09-20 14:25] pistotniks opened #834 "Queries throw exception when connecting to cosmos emulator from linux docker containers"
**Describe the bug**
Queries fail against emulator when running in not win x64 environments (e.g. docker linux containers) due to failure to generate a query plan.

**To Reproduce**
Create a database and collection using the cosmos db emulator
Write some code using the sdk to try and read from the collection using something like :

        public async Task<SomeResponse> ReadDocumentAsync(string s

[2019-09-20 14:34] j82w commented on #834
It should be working with the latest emulator. The older emulators should throw since they don't have the new endpoint to get the query plan. @pistotniks can you please add the exception for both emulator versions?

[2019-09-20 14:44] ealsur commented on #828
@pkaushik23 Can you share a snippet of how you are newing the CosmosClient during startup?

[2019-09-20 14:52] NickSevens commented on #169
Hi @j82w is this still being considered?
I'm currently looking for a solution to retrieve `_etag` and `_ts` when using `GetItemLinqQueryable().ToFeedIterator()`.

[2019-09-20 15:18] ealsur commented on #829
@liquidsnk My take on DI and Singletons is that you would mainly use it to store objects that are reusable and expensive to create, or where (like the CosmosClient) it is recommended to maintain a single instance to benefit from how the object behaves (caching request routing like the CosmosClient).

In the case of the Container, the Container has no cost, so using DI doesn't make much sense. It w

[2019-09-20 16:00] ealsur commented on #831
The option to provide a Continuation Token to the Change Feed Processor would not work. The Continuation Token would be limited to a particular lease, while the CFP process all leases in parallel.

Would something like https://github.com/Azure/azure-cosmos-dotnet-v3/pull/105 (a pull model) work? Or is your CFP working as a BackgroundWorker? How are you maintaining the CFP within the Web API?

[2019-09-20 16:02] ealsur commented on #812
@zhusulai All the existing documentation (for example, https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips) talks about the DocumentClient (V2 SDK), not V3.

It makes sense that we should update the documentation to reflect the difference.

[2019-09-20 16:06] ealsur commented on #794
This is a failure when the sample was ported to V3, the reference is to https://github.com/Azure/azure-cosmos-dotnet-v2/tree/master/samples/code-samples/IndexManagement

[2019-09-20 16:08] liquidsnk commented on #829
Thanks you for your answer!. Is good to know that Container is currently a lightweight construct.
I like the option of being able to provide instances with what they need to work and no more, they don't even need to be aware of the lifetime of Container as long as it's equal to or exceeds their own.
This might be very dependent on how these repositories are designed however (one per container), an

[2019-09-20 16:08] #829 closed

[2019-09-20 16:22] j82w commented on #169
It's still a possibility, but there hasn't been any request for it yet. I think most users have found it easy enough to add the _etag and _ts property to their own objects. We don't want to make sure that the demand is worth the possible future issues that will come from it.

[2019-09-20 16:56] SeanFeldman commented on #794
Thank you @ealsur for the confirmation.
Will it be ported?

[2019-09-20 17:39] mark-manticore commented on #831
A direct pull model would definitely work for my use case and my 2nd suggestion above. Right now the CFP is initialized and started in service initialization (not a background worker). With a direct pulling method we could put it in an IHostedService (background worker) and have it read from the feed at a defined interval.

Our cache is of documents in a container that have a short TTL so starting

[2019-09-20 18:51] j82w opened #836 "Refactor AsyncCollection in query core"
AsyncCollection right now is only used by a PriorityQueue and ConcurrentQueue as the underlying data structure. The internal type doesn't have access to try peak which causes the AsyncCollection to use a delegate to get access to the try peak. This should be refactored to avoid the delegate and use inheritance to avoid the type casting.

[2019-09-23 09:48] NickSevens commented on #733
@j82w revisiting this issue, I keep wondering why I keep receiving the error mentioned above.
The issue occurs because the types `null` and `string` for example do not match, which doesn't make much sense to me... I believe this is a common use-case to order by a nullable field.
Also, the error mentions a **cross-partition** query, but even when passing the `PartitionKey` in the `QueryRequestOptio

[2019-09-23 14:05] j82w commented on #733
@bchong95 can you take a look?

[2019-09-23 15:01] ealsur commented on #332
Fixed by https://github.com/Azure/azure-cosmos-dotnet-v3/pull/281

[2019-09-23 15:01] #332 closed

[2019-09-23 16:08] #812 closed

[2019-09-23 17:05] bchong95 opened #840 "CosmosNumber needs + and - defined."
**Is your feature request related to a problem? Please describe.**
Right now the CosmosNumber only defines a conversion to double or long. So addition doesn't uphold precision.

**Describe the solution you'd like**
`+` and `-` needs to be defined that will honor the precision.

ex. int + int should be an int with overflow.

**Describe alternatives you've considered**
let the caller worry about it.

[2019-09-23 19:49] ealsur commented on #794
@SeanFeldman Working on it, expect the PR today

[2019-09-23 20:04] j82w commented on #833
@kweebtronic you can use the partition key definition to [v2 type](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/db498055d332d1928d5078baa9aea3464bab4b9a/Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerProperties.cs#L96). The v2 implementation handles larger partition key [values](https://docs.microsoft.com/en-us/azure/cosmos-db/large-partition-keys). This can be a workaround until th

[2019-09-23 23:57] ibreault opened #842 "Introduce Interfaces"
### The problem

V3 of the SDK brings a Fluent interface to the end users but makes it difficult for them to build on top of it in a Fluent way.

Consider the following example use case where I might want to react to a 404 in a specific way, it might be by creating a new object, returning a different object or else.

I currently would have to write something like this:
[code]
That could be used th

[2019-09-24 04:20] SeanFeldman commented on #794
Thank you @ealsur.

[2019-09-24 04:22] ahesami commented on #815
We ended up using a stored procedure to create documents. We can still keep the id generation in each collection.

[2019-09-24 08:33] kweebtronic commented on #833
Thanks @j82w - is this possible in the v3 SDK? You've given a link for v2

[2019-09-24 11:37] j82w commented on #833
The article needs to be updated to show v3 SDK. The sample you provided looks correct to me. There is a gap in the define container builder. I'll try to get out PRs for both of these today.

[2019-09-24 12:02] ibreault commented on #842
If I read you well, you mean something like the following:

[code]

[2019-09-24 14:08] j82w commented on #833
Updating documentation: https://github.com/MicrosoftDocs/azure-docs-pr/pull/89526

[2019-09-24 16:56] ealsur opened #845 "Statistics not getting populated correctly on CosmosException"
**Describe the bug**
When a CosmosException is generated, the statistics information is missing from the Message.

**To Reproduce**string invalidSessionToken = "0:-1#20";

            try
            {
                ItemResponse<ToDoActivity> readResponse = await this.Container.ReadItemAsync<ToDoActivity>(temp.id, new Cosmos.PartitionKey(temp.status), new ItemRequestOptions() { SessionToken = in

[2019-09-24 17:28] #833 closed

[2019-09-24 17:56] #794 closed

[2019-09-24 19:12] bricelam opened #847 "Unauthorized after 3.2.0 upgrade on Linux and macOS"
We (the Entity Framework team) tried updating to version 3.2.0 and our CI started failing with the following exception on Linux and macOS.

Version 3.1.1 works fine.

[code]

cc @Pilchie @ajcvickers @AndriySvyryd

[2019-09-24 21:05] j82w commented on #847
@bricelam is this against the emulator or production?

[2019-09-24 21:28] smitpatel commented on #847
Production. Our library depends on netstandard2.1 so we cannot target netstandard1.3.

[2019-09-24 21:43] j82w commented on #847
Is this consistently happening on every request?

[2019-09-24 21:48] bricelam commented on #847
Three times in a row on the first call of the test suite. (which caused the rest of the suite to not run)

[2019-09-24 22:11] j82w commented on #847
Did you verify going back to 3.1.1 worked? This exception normally means the key is not correct or the machine has clock skew which is causing the time stamp to be wrong.

[2019-09-24 22:19] milismsft commented on #847
also can you please confirm if the collections/containers get created every time the test is run?

[2019-09-24 22:21] milismsft commented on #847
It will be great if we can get the name of the account, the database and the regions used to further help with the investigation.

[2019-09-24 22:28] smitpatel commented on #847
Reverting back to 3.1.1 worked.
Collections/Containters/Database are recreated for each test suite (or test run for assembly).
Azure Cosmos Db account: ef-nightly-test
Region: West US
Database: NonExistent appended by a random guid.

[2019-09-24 22:30] smitpatel commented on #847
Also the database actually does not exist on server. We just try to delete it.

[2019-09-25 14:48] SeanFeldman opened #850 "API documentation"
**Is your feature request related to a problem? Please describe.**
V3 API currently has almost no inlined documentation. When using the API, one either has to have some pre-existing knowledge or find the information elsewhere.

For example, what's the difference between `DeleteContainerStreamAsync()` and `DeleteContainerAsync()`? There's no [XML Doc](https://docs.microsoft.com/en-us/dotnet/csharp/

[2019-09-25 21:08] j82w commented on #847
Any chance you can provide a basic repo of the issue?

[2019-09-26 01:55] bchong95 opened #854 "Version Query Continuation Token"
It just makes it easier to let the user know that the continuation token is no longer valid across some versions of the SDK.

[2019-09-26 17:27] j82w commented on #847
We verified that 3.2.0 works on a Mac connecting to prod. Can you please provide a repo?

[2019-09-26 18:10] AndriySvyryd commented on #847
It doesn't repro anymore for me, perhaps it was an Azure issue.

[2019-09-26 19:40] j82w commented on #847
I'm going to close the issue then. If it happens again feel free to re-open it.

[2019-09-26 19:40] #847 closed

[2019-09-27 15:02] sehcheese opened #856 "Queries not working in emulator"
**Describe the bug**
When I run the CosmosDb emulator for local development and attempt to query, I get this error when reading results from a query using [`GetItemQueryIterator`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.container.getitemqueryiterator?view=azure-dotnet)

Other methods like `CreateItemAsync` and `ReadItemStreamAsync` work. Furthermore, this error is isolat

[2019-09-27 21:33] #845 closed

[2019-09-30 14:27] j82w commented on #856
@sehcheese can you please go the emulator icon in the bottom try. Right click and the about and verify you are running against the lastest 2.5.6.0? I just did a quick test with a similar query and completed successfully.

[2019-09-30 15:25] j82w commented on #856
@bchong95 do you have any ideas on what would cause this?

[2019-09-30 16:12] j82w commented on #856
@sehcheese are you running the application on windows 64bit?

[2019-09-30 16:17] sehcheese commented on #856
@j82w I am on Windows 64 bit, and "Azure Cosmos DB Emulator" appears in folder "C:\Program Files", not "C:\Program Files (x86)". Is there a setting somewhere I need to change to target the local dll, or should that happen automatically in the x64 Cosmos DB Emulator?

[2019-09-30 16:36] j82w commented on #856
It's not about the emulator. It's about the application. Most .NET framework application default targeting to x32 bit, and the service interop dll only works on x64 application running on Windows.

[2019-09-30 17:12] j82w commented on #856
I was able to get a repo of the issue. I'm still figuring out the root cause. You can switch your application to target x64 to get around the issue for now.
![image](https://user-images.githubusercontent.com/8868107/65899687-18e14b00-e369-11e9-8cdd-14607393e4ea.png)

[2019-09-30 19:35] MrMint commented on #733
With both the portals data explorer and docs leading us to believe sorting nullable strings was possible, we built out a sorting feature and have run into this same issue in the V2 client. Any plans to resolve this issue in V3?

[2019-10-01 09:47] pkaushik23 commented on #828
Hello @ealsur, please following:
https://github.com/pkaushik23/mycodeshares/blob/checkcosmosissue/CheckRefreshBlazor/Pages/Index.razor

`void InitClient()
    {
        var cosmosClient = new CosmosClient("AccountEndpoint=your string");
    }`

[2019-10-01 12:43] pseudoramble opened #863 "Emulator not using Generated Key and only shows default key"
I just want to start by saying thanks for the effort and work you all do. It's highly appreciated! I think I'm just missing a step in the setup honestly, but I don't see a good place to chat and ask for help. So I'm starting here.

**Describe the bug**
When starting up the Cosmos DB Emulator following these instructions (https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator) it seems lik

[2019-10-01 13:46] j82w commented on #863
@milismsft can you take a look?

[2019-10-01 14:05] j82w commented on #863
@pseudoramble I just did a quick test with using a custom key, and I think I figured out your issue. You need to use / on the settings not \.  Try setting the DisableRateLimiting to verify the setting are getting applied.

`CosmosDB.Emulator.exe /DisableRateLimiting /EnableMongoDbEndpoint /AllowNetworkAccess /Key="MySuperSecretKey"
`
There does seem to be a bug in the data explorer. It always show

[2019-10-01 14:15] pseudoramble commented on #863
Ah shoot. I made a mistake in my description write-up. I am using `/` and not `\`. Sorry about that.

To verify I did try adding in `/DisableRateLimiting` and it does appear that setting took effect as far as I can see.

[2019-10-01 14:15] pseudoramble commented on #863
@j82w - One thing I did notice is that you have the secret key quoted in the argument. That's one thing I am not doing. Does it need to be?

[2019-10-01 14:41] j82w commented on #863
As long as the key doesn't have any spaces then the quotes should be optional.  The fact that both the default key and new key aren't working means that it's likely something else. Did you update the [connection string to include ssl](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#azure-cosmos-dbs-api-for-mongodb)?

[2019-10-01 14:43] pseudoramble commented on #863
Yes. The connection string I have is`mongodb://192.168.99.100:{KeyWithoutCurlyBraces}@192.168.99.100:10255/admin?ssl=true`

[2019-10-01 16:08] j82w commented on #863
Does it work if you use the default key for everything?

[2019-10-01 16:42] pseudoramble commented on #863
It just dawned on me what the issue is. I was supplying the wrong username, of course! 🤦‍♂

The connection string was originally `mongodb://192.168.99.100:{KeyWithoutCurlyBraces}@192.168.99.100:10255/admin?ssl=true`. That's saying the username is 192.168.99.100 and the password is whatever the key is. I switched the connection string to `mongodb://localhost:{KeyWithoutCurlyBraces}@192.168.99.100:1

[2019-10-01 16:49] pseudoramble commented on #863
I suppose also the key not showing up in the UI is problematic. The generated key I've specified appears to work just fine but it's confusing since it's not in the connection string fields.

[2019-10-01 17:39] milismsft commented on #863
@pseudoramble The UI shows the default key more or less as an example of how the connection string is built. We cannot show the private key because the Data Explore page does not have any authentication and it is accessible from any web client that knows the computer name or the IP of it; showing the user's private key if one set, it will defeat the whole purpose of securing the connection to the

[2019-10-01 18:01] pseudoramble commented on #863
Those reasons make sense to me. Thanks for clarifying!

[2019-10-01 18:02] #863 closed

[2019-10-01 18:03] j82w commented on #856
@sehcheese I verified that the issue is the client has new feature that the emulator doesn't currently have. We are working on publishing a new emulator that will fix this issue.

[2019-10-01 18:35] ylibrach opened #864 "Request Latency is missing in v3 responses"
**Is your feature request related to a problem? Please describe.**
In v2 of the library, responses had a `RequestLatency` field which showed the latency of the raw request against Cosmos DB. In v3, it seems that this field is no longer available. I see that internally, the library is storing this value within the specific `CosmosDiagnostics` class for each response type, but it's not publicly acce

[2019-10-01 19:14] j82w commented on #864
What's the use case for just needing the request latency? In v3 the diagnostics are rather generic so it can easily be modified to add or remove values based on feedback and real world troubleshooting that is done so it easier to root cause issues in the future. There has also been a lot of scenarios where user will only record the activity id and the latency or other partial information. Without

[2019-10-01 19:23] ylibrach commented on #864
We use request latency for multiple purposes, most important of which are:
1. Monitor query performances against Cosmos DB and be alerted to spikes
2. We have our own autoscaler that automatically scales both a) the Cosmos collection's throughput; and b) maximum thread parallelization for each of our microservices. The autoscaling logic relies heavily on understanding request latencies - in additi

[2019-10-02 01:17] fuocor opened #865 "Allow ChangeFeedProcessor to work with streams"
**Is your feature request related to a problem?**
I have a messaging application exclusively using streams for Cosmos document management. There are numerous instances where none or only partial (de)serialization is required, With the ChangeFeedProcessor you require a typed delegate which flows through the serializer, something I do not want because all I am doing with document is a block blob cop

[2019-10-02 12:18] j82w commented on #864
@kirankumarkolli what are your thought on exposing the request latency?

Based on the description it sounds like the application is doing the scaling. The better design here is to log the information and have a separate application relying on telemetry to do the scaling. This way the container can be scaled with multiple application instances.

[2019-10-02 14:10] ylibrach commented on #864
We actually have both:
1. The individual microservices are throttling themselves (max parallelization) based on their own single-thread RU/s consumed over the past several minutes (this is where Request Latency comes into play), compared to total RU consumed by all microservices against a specific collection.
2. There is a separate dedicated autoscaler microservice which monitors the total aggrega

[2019-10-02 14:57] fuocor opened #869 "FeedIterator<T>.ReadNextAsync throws NullReferenceException with custom serializer"
**Describe the bug**
When using a custom serializer ```FeedIterator<T>.ReadNextAsync``` will throw a ```NullReferenceException```
```UpsertItemAsync``` and ```GetItemQueryStreamIterator``` work fine with the custom serializer as well as when using the default serializer.

The stream passed to the custom serializer in the ```ReadNextAsync``` is empty.

**To Reproduce**
[code]

**Expected behavior**

[2019-10-02 15:28] fuocor opened #871 "FeedIterator<T>.ReadNextAsync throws NullReferenceException with custom serializer"
**Describe the bug**
FeedIterator<T>.ReadNextAsync throws NullReferenceException with custom serializer.
The stream sent to the serializer is empty. `All the other Cosmos methos serialize fine and ```GetItemQueryStreamIterator``` works as does the default serializer.

**To Reproduce**
[code]
**Expected behavior**
Deserialized object.

**Actual behavior**
NullReferenceException

**Environment summa

[2019-10-02 15:30] #869 closed

[2019-10-02 16:05] j82w commented on #871
Can you please provide the full exception message?

Query does return empty pages. If you have a custom serializer it should be able to handle this.

[2019-10-02 16:09] j82w commented on #834
@pistotniks I'm closing this issue since you haven't responded. If you are still hitting please re-open the issue.

[2019-10-02 16:09] #834 closed

[2019-10-02 16:14] fuocor commented on #871
I tracked it down, The FeedIterator wraps the result inside a response with a "Documents" element. The default serializer seems to address it whereas a custom serializer needs to drill into the response

[2019-10-02 16:19] j82w commented on #871
Here is what the [contract ](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/345b91d51c6010eda52dc6c8ca42b145082bf1a3/Microsoft.Azure.Cosmos/src/CosmosElements/CosmosElementSerializer.cs#L118)should look like.

[code]

[2019-10-02 16:28] j82w commented on #871
@fuocor I'm closing this issue since you figured out the issue. Please re-open it the issue isn't fixed.

[2019-10-02 16:30] fuocor commented on #871
It makes writing a custom serializer nearly impossible. The type requested from the serializer is ```CosmosFeedResponseUtil<T>```. How do you expect a custom serializer to instantiate that?

[2019-10-02 16:31] j82w commented on #865
@ealsur what do you think?

[2019-10-02 16:40] j82w commented on #871
That's a good point. The test have access to the internals which is why it's not having an issue with this.

The only option I see is to make `CosmosFeedResponseUtil<T>` public. Do you see any other alternatives?

[2019-10-02 16:47] fuocor commented on #871
Ask for an interface or abstract base class.

[2019-10-02 17:06] Liversage commented on #810
Here are some additional thoughts on how to handle this issue which may be relevant to users of the Cosmos SDK (people like me, not the developers of the SDK).

I'm building my system in C# and I use the type system to assist me in doing that which includes using inheritance and combatting primitive obsession with dedicated value types.

Unfortunately, there is some impedance mismatch between C# t

[2019-10-02 17:26] fuocor commented on #871
You have similar problems with ChangeFeed Processing.
[code]

[2019-10-02 17:28] j82w commented on #871
ResponseMessage and ItemResponse<T> are public. It shouldn't have any issue creating an instance of these.

[2019-10-02 17:41] fuocor commented on #871
It's the content of the response that is the problem ```DocumentServiceLeaseCore``` and ```LockDocument```

[2019-10-02 17:51] ealsur commented on #865
What about a delegate with IReadOnlyCollection<Stream>, have you tried that? Or you want the Stream for the entire batch?

[2019-10-02 18:52] fuocor commented on #865
If you look at [871](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/871) you'll see that there are a number of internal Cosmos types that are inaccessible to a custom serializer making it unlikely in the near term.

 Trying the Stream delegate resulted in
[code]

[2019-10-02 19:22] nhwilly commented on #810
@Liversage Really happy to see someone took the same path as me, albeit with a lot more thought.

My clients are Dart and that means there's all kinds of issues with casing.

I, too ended up with a DTO layer and doing my own mapping.  In the end, it's just less voodoo and more predictable.  I finally ended up writing a code generator that takes the C# DTO and turns it into a Dart-friendly DTO, whi

[2019-10-02 19:31] fuocor commented on #865
I would like the stream from the entire batch.

[2019-10-02 19:33] ealsur commented on #865
Yeah, I guess it would try to unpack and send it as individual items, when it's not possible.

We initially did not think about Stream support as this was trying to match the CFP V2 API, but we'll discuss it and see what comes up.

[2019-10-02 22:21] kevinding0218 commented on #605
Hello, just curious if PR 741 has been fully tested and merged to any recent stable branch? Currently for the Batch API we're still restricted the batch size to be 100 but we're looking forward to any progress made now or in the future, thank you very much for your help!

[2019-10-03 00:06] ealsur commented on #605
Batch and Bulk are still in preview, they are both merged in master, but only available on the preview packages: https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.2.0-preview2

[2019-10-03 01:27] kevinding0218 commented on #605
@ealsur Thank you Matias and I will test it out!

[2019-10-03 11:33] j82w commented on #871
DocumentServiceLeaseCore and LockDocument shouldn't be using the custom serializer. It should be using the property serializer. That's definitely a bug. Fixing that seems like it's going to be interesting.

[2019-10-04 00:24] bartelink commented on #722
Any ideas as to how this could happen ? I showed the before and after code and nothing springs to mind for me. Surely a regression costing RUs like this of interest given it likely has an impact on scalabilty for real apps (assuming its not some parsing anomaly etc)

[2019-10-04 00:26] bartelink commented on #616
I really want to stretch the V3 SDK. I really can't use it as it is. Is there any rough roadmap re when there'll be space to consider this?

[2019-10-04 00:52] ealsur commented on #616
The CheckpointAsync method I'm not sure there will be a point if we move forward with enabling a higher degree of parallelization beyond the partition (ie, multiple threads can be reading the same partition, each thread with a different range of partition key values within the same partition).  Won't this higher degree of processing solve the need for buffering?

Exposing the partition information

[2019-10-04 11:28] j82w commented on #856
@sehcheese the latest emulator is released with the fix. Please download it and let me know if there is any issues.

[2019-10-04 11:28] #856 closed

[2019-10-04 18:03] ealsur commented on #864
@ylibrach You can get the required statistics for Autoscale from Azure Monitor: https://docs.microsoft.com/en-us/azure/cosmos-db/logging#interpret which can be read programmatically to generate an autoscale logic.

I have trouble understanding point #1. RequestLatency is the time it takes for the request to go from the origin and get back, if there is a network blip or your connections/sockets are

[2019-10-05 01:34] bartelink commented on #616
That depends on exactly what you have up your sleeves ;) The benefits of being able to decouple checkpointing from read/process/write cycle include:
- not waiting for roundtrips to (what can be a highly contended) aux container
- being able to overlap transmitting, parsing and filtering of data with processing
- being able to maintain balanced throughput in the face of an item early in a sequence

[2019-10-05 18:26] vpaulino commented on #777
Did not realized it was only about sql. I have asked this because i have observed diferent behaviour on the mongodb driver when comunicating with cosmosdb vs a real mongodb database.

[2019-10-05 18:28] vpaulino commented on #777
The examples could be use to show that all features are compatible using the .net mongodb driver against mongodb database and cosmosdb.

[2019-10-06 20:22] nhwilly commented on #810
What really ended up helping me was combining
[code]
at the top of my models (instead of every property).  And using:
[code]
Now things seem to get serialized properly at all levels.

I also make use of inherited classes and the `JsonConverter` works.

My parent class is an abstract, custom  `DocumentEntity`.  Then I have another abstract parent class that holds the common information and then I h

[2019-10-07 16:29] j82w commented on #722
Are both clients running in direct + tcp mode? v2 default to gateway mode + https. V3 defaults to direct + tcp. Direct + tcp is faster, but it's possible it might cost additional RUs if the application is not x64 running on windows because it will need to go to gateway to get the query plan.

[2019-10-08 05:59] bchong95 commented on #429
Happening in #825

[2019-10-08 06:01] bchong95 commented on #192
@j82w  I think you have already done this at some point. Can the issue be closed?

[2019-10-08 06:02] bchong95 commented on #185
You can only protect a user so much from using a continuation token on a different container.

[2019-10-08 06:04] bchong95 commented on #75
@kirankumarkolli and @j82w  This information is already in the PointOperationDiagnostics right?

[2019-10-08 06:05] bchong95 commented on #71
At really possible. Also not needed anymore since `CosmosElements` is the preferred abstraction layer.

[2019-10-08 06:05] #71 closed

[2019-10-08 09:37] Simon-Bru opened #879 "Impossible to delete a Document with empty partition key"
**Description**
Using the SDK, it is impossible to delete a document which has no partition key. In my collection some documents will have no partition keys, and those will be removed and replaced by another document with a good partition key later in the workflow. However, the SDK doesn't allow me to delete the empty partition key's document.

**Reproduce**
To reproduce, create any document with

[2019-10-08 11:34] j82w commented on #879
There is a few different items to cover here.
1. This is not the v3 SDK. The exception shows version 2.2.0. v2 issues should be posted to the [v2 repo](https://github.com/Azure/azure-cosmos-dotnet-v2). The v3 SDK also doesn't have any methods named in the example.
2. If you are starting a new application I would strongly recommend using the v3 SDK. It's far more user friendly.
3. A document or ite

[2019-10-08 11:35] j82w commented on #879
I'm closing this issue since it's not related to the v3 SDK.

[2019-10-08 11:35] #879 closed

[2019-10-08 11:56] #192 closed

[2019-10-08 11:59] j82w commented on #429
@bchong95 if you put closes #issue number it will get closed automatically when the PR gets merged.

[2019-10-08 12:14] j82w commented on #75
It does have contacted regions, but it's not just the region. Is this good enough or do we need an explicit region name field?

For example:
URL from data explorer:
`https://myAccountTemp.documents.azure.com:443/`

String from diagnostics:
`{https://myAccountTemp-eastus2.documents.azure.com/}`

[2019-10-08 12:55] Simon-Bru commented on #879
Ah yes I'm sorry about that I'm using v2 indeed as I use the Azure function binders.
Thank you for your help

[2019-10-08 14:02] StefanSchoof opened #880 "Allow to set the JSON Serializer to DateTimeOffset"
**Is your feature request related to a problem? Please describe.**
I want to store my Date Time values in a `DateTimeOffset`. I have a place where is it convent to get the `JObject` from the cosmos DB and work with the `DateTimeOffset`. I found no easy way to set Json parser to `DateTimeOffset`.
(in v2 I had
[code]
)

**Describe the solution you'd like**
I want to configure this in a similar way a

[2019-10-08 14:29] RaulGonzalezA opened #881 "azure v3 Unable to load DLL 'Microsoft.Azure.Cosmos.ServiceInterop.dll': Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))"
I'm trying to do an container.GetItemLinqQueryable<PartnerLog>(true).Where(x => x.Error == errorType).ToList();
where PartnerLog is a class to save log. and I've recieved azure v3 Unable to load DLL 'Microsoft.Azure.Cosmos.ServiceInterop.dll': Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED)) exception.

Te Error field is an Enum field. to add more info for the Issue.

[2019-10-08 14:47] ealsur commented on #881
Can you specify which SDK version and what is the environment you are running on?

[2019-10-08 14:52] RaulGonzalezA commented on #881
The SDK is NetCore.App 2.0 and I'm ussing the Azure.Cosmos 3.2.0. The environment is an API using the azure cosmos emulator in local.

[2019-10-08 15:04] kirankumarkolli commented on #75
Explicit will make it quite useful if it needs programmatic logic.
For queries, should it be a collection of regions?

[2019-10-08 15:18] j82w commented on #881
In the bin folder does the Microsoft.Azure.Cosmos.ServiceInterop.dll exist? Is there any other application that could be taking a lock on it?

[2019-10-08 15:20] RaulGonzalezA commented on #881
I don't have this dll in my team. Maybe could be this.

[2019-10-08 15:28] ealsur commented on #881
Are you debugging from inside VS? From the command line with `dotnet run`? Is the folder mapped to a an IIS website?

[2019-10-08 15:30] RaulGonzalezA commented on #881
Yes, I'm debugging inside VS. And yes is mapped to an IIS website

[2019-10-08 15:37] ealsur commented on #881
If it's mapped to an IIS website, IIS might be locking the files. Can you try copying the project files to another folder, open VS there, and starting the debug session?

[2019-10-08 20:37] fuocor commented on #865
I have a running version of Stream support for the ChangeFeedProcessor.
Do you have a policy for outside collaboration & PRs?

[2019-10-08 20:38] j82w commented on #880
The best option is to do a custom class like you linked to. The v3 SDK tried to reduce has many Newtonsoft dependencies as possible to make it easier to convert to use the newer System.Text.Json serializer. The current features in `CosmosSerializationOptions` are the same in both serializer so it's easy to map between the to serializer.

[2019-10-08 20:51] ealsur commented on #865
@fuocor Sure, it's here https://github.com/Azure/azure-cosmos-dotnet-v3#contributing when you open a PR, you will be prompted for any requirement

[2019-10-09 07:21] RaulGonzalezA commented on #881
Ok... I'll try with IIS Expres and works. I've got administrator account, how I must procceed to solve this, because I need to have it in IIS.

[2019-10-09 09:06] StefanSchoof commented on #880
Sounds reasonable. I had hopped this is only a option that simply needs to add. Is there an issue to track for the System.Text.Json convertion? System.Text.Json solves the DateTime vs DateTimeOffset in a nicer way for me and than I no longer need my Custom Serializer.

[2019-10-09 09:06] #880 closed

[2019-10-09 12:40] j82w commented on #880
We don't currently have a time frame. We are working towards becoming complaint with the [Azure SDK for NET](https://github.com/Azure/azure-sdk-for-net) repo.

[2019-10-09 13:33] ealsur commented on #881
You can have the web app running in IIS and IIS Express. But when you debug inside VS, if the web app is running in IIS, you need to use Attach To Process to debug it. If you press F5, VS will try and run it in another IIS Express instance and that is when the conflict happens.

[2019-10-09 13:50] RaulGonzalezA commented on #881
I've launch the debug in IIS, without attach to process, pressing F5, but doesn't work, and when I try to debug in IIS Expres works properly.

[2019-10-09 14:05] ealsur commented on #881
When you work with IIS Express, with the project in another folder, it works because there is no other web server accessing the files.
When you open the project in the folder that is mapped to IIS, and you launch VS with F5, it won't work because VS will launch another webserver that won't be able to access the locked file that IIS is locking.

You need to open a VS instance as Admiinstrator (this

[2019-10-09 15:05] RaulGonzalezA commented on #881
I always open my VS as Administrator. I don't have w3wp process running in my machine, so can't attach it to my VS. When I launch as usual my VS to debug doesn't appears this process neither.

[2019-10-09 15:13] RaulGonzalezA commented on #881
I'll do as here is explained:
[https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/debugger/how-to-enable-debugging-for-aspnet-applications.md](url) how-to-enable-debugging-for-aspnet-applications

[2019-10-09 16:50] fuocor opened #886 "ChangeFeedProcessorBuilder.WithLeaseContainer requires a non-partitioned Container"
**Describe the bug**
ChangeFeedProcessorBuilder.WithLeaseContainer requires a non-partitioned Container that exists, with no means in the sdk to create one

**To Reproduce**
[code]

**Expected behavior**
Either provide a method to create a non-partitioned container or modify ```ChangeFeedProcessorCore<T>.InitializeLeaseStoreManagerAsync``` so that is creates one if none exists.

**Actual behavior*

[2019-10-09 16:52] j82w commented on #833
@kweebtronic [3.3.0](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/) was just released. It contains the partition key fix and the builder definition updates.

[2019-10-09 17:57] j82w commented on #886
I recommend taking a look at the [samples](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/06b961a6c181995590097f764b296403169974f8/Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeed/Program.cs#L143).

[2019-10-09 18:46] fuocor commented on #886
The sample assumes that the lease container exists and the SDK V3 does not allow me to create one.
The unit tests in the repo use an internal method to post a REST call to create the lease container.

All I'm trying to point out is the fact that the SDK V3 does not seem to have a clear cut method to allocate a lease container.

[2019-10-09 19:27] bartelink commented on #886
@fuocor [you need to nominate `"id"` as the partition key](https://github.com/jet/equinox/blob/master/src/Equinox.Cosmos/Cosmos.fs#L550)

[2019-10-09 19:48] ealsur commented on #886
@fuocor our tests create the lease collection: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/BaseChangeFeedClientHelper.cs#L19, https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/SmokeTests.cs#L15 with the `/id` as PK for t

[2019-10-09 20:09] fuocor commented on #886
Sorry I seem to have missed the obvious. I had found a helper that was making a rest call

[2019-10-09 20:09] #886 closed

[2019-10-09 21:02] ealsur commented on #886
It's not a problem, that helper can throw people off. But we needed to do it in order to verify people migrating from V2 could still use CFP in V3 and not lose their current progress/data.

[2019-10-09 21:11] thomaslevesque commented on #551
To be honest, I'm not very happy with the current solution. `CosmosSerializationOptions` only lets us control a very small subset of JSON.NET's `JsonSerializerSettings`. For instance, I really need to be able to add converters, and the only way to do that now is by reimplementing a complete serializer (which isn't very hard, since I can just copy and modify `CosmosJsonDotNetSerializer`, but it's n

[2019-10-10 06:33] bartelink commented on #551
@thomaslevesque 's suggestion will also lead to a thriving STJ implementation sitting alongside it in a matter of days, methinks.

[2019-10-10 06:58] RaulGonzalezA commented on #881
Is not a Web application. Is an API.

[2019-10-10 09:54] gorillapower opened #889 "Batch API: Change RequestEntityTooLargeException from Internal to Public"
We are trying to handle 413 requests (PayloadTooLarge) when executing Batch requests. We encountered scenarios where the batch was over the 2mb limit, but instead of checking the size of each batch on each request, we thought to handle the error optimistically by catching the `DocumentClientException` or similar when it occurs.

It seems that for Batch operations, the SDK throws `Microsoft.Azure.D

[2019-10-10 09:56] Zheltov opened #890 "error MSB4018: System.ArgumentException: Invalid input specification: Found multiple entries with the same BundleRelativePath"
I was creating new .net core console application with just one nuget reference "Microsoft.Azure.Cosmos" and tried publish single file. And i was getting error when published:
The "GenerateBundle" task failed unexpectedly. System.ArgumentException: Invalid input specification: Found multiple entries with the same BundleRelativePath.

`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputT

[2019-10-10 09:57] patrickdoodyIRL opened #891 "Unable to create CosmosClient instance when using version 3.3.0 - dotnetcore 2.2 console app"
**Describe the bug**
When creating an instance of Microsoft.Azure.Cosmos.CosmosClient in a dotnetcore 2.2 console application an exception is thrown from the CosmosClient constructor. This is only an issue with Microsoft.Azure.Cosmos version 3.3.0, version 3.2.0 works as expected.

[code]
Stack Trace shows an FormatException being thrown from the DocumentClient.Initialize method when configuring s

[2019-10-10 10:19] grassgit opened #892 "Option to disable trace logging for .NET Core"
**Is your feature request related to a problem? Please describe.**
The cosmos client generates large amount of log enter to the debug log (debugger attached to the process) making it very difficult to find important messages.

**Describe the solution you'd like**
Any option to disable it for .NET Core . If it already exists some documentation would be nice.

**Describe alternatives you've consider

[2019-10-10 11:35] j82w commented on #891
@patrickdoodyIRL thank you for the detailed report. This looks like a bug caused by the additional user agent information that was recently added. My current theory is Mac and other non-Windows platform have special characters that need to be escaped and are not currently getting escaped. Windows does not have these special characters which is why we didn't see this.

[2019-10-10 12:28] pseudoramble opened #893 "Workaround for unit testing and CosmosLinqQuery<T>"
**Is your feature request related to a problem? Please describe.**
I've written a method to obtain some values using a `LinqQueryable` and then converting that via the extension method `ToFeedIterator()` so it can be run asynchronously. It looks roughly like this:

[code]

Then in the unit test I make a mocked container return an `EnumerableQuery<T>` when `GetItemLinqQueryable<T>()` is called. Thi

[2019-10-10 12:49] j82w commented on #889
@gorillapower can you not catch a CosmosException with status code 413? The v3 SDK should not be throwing DocumentClientExceptions anywhere.

[2019-10-10 13:05] gorillapower commented on #889
Hi @j82w, I saw the base type of the `Exception` was `DocumentClientException` when I was debugging, which is why i mentioned DocumentClientException - they type was 'Microsoft.Azure.Documents.RequestEntityTooLargeException'.

I just tested with trying to catch `CosmosException` and nothing was caught.

If i look at the class, it seems to be coming from `Assembly Microsoft.Azure.DocumentDB.Core, V

[2019-10-10 13:08] bartelink commented on #722
@j82w Thanks for the response

My port actually implements mirroring of the V2 default; therefore
a) the pass on V2 is Gateway mode
b) the fail on V3 is Gateway mode - it is taking more RUs than V2 [in gateway mode]

For fun, [I switched the test suite to run in Direct mode](https://github.com/jet/equinox/pull/144/commits/88f77c56214cbcb786349cb9a159dfc70ed2478d) against V3
a) it continues to fail

[2019-10-10 13:23] ealsur commented on #881
What is still not working? You don't see any `w3wp` process after you do a request to the API that is hosted by IIS? Does the API respond to that request with a correct response?

If API responds, then it must be running in a `w3wp` process and you should see it in the list of processes in Visual Studio if you opened the Debug window after doing the request (otherwise IIS tends to kill the `w3wp`

[2019-10-10 13:27] RaulGonzalezA commented on #881
I've seen w3wp, I've attach the debugger to the process and still having the same error.

[2019-10-10 13:56] ealsur commented on #881
Are the breakpoints you set in VS being hit? Is the IIS Application Pool set with the default identity?

Go to the folder in a CMD / command prompt where the `Microsoft.Azure.Cosmos.ServiceInterop.dll` is and run `tasklist /m Microsoft.Azure.Cosmos.ServiceInterop.dll`.

Check the Permissions on the file, do they include the IIS application identity and the user under which VS is running?

Are the

[2019-10-10 14:11] j82w commented on #891
I have a repo and working on a fix now.

[2019-10-10 14:56] bartelink commented on #722
Hm, some light is appearing. I've [extended another test regarding how responses are batched](https://github.com/jet/equinox/pull/144/commits/37dfe5f9ac6f953c61acb51d6d9a928d7a4f7f9e), which has shown that [QueryRequestOptions.MaxItemCount setting](https://github.com/jet/equinox/blob/cosmossdk3/src/Equinox.Cosmos/Cosmos.fs#L597) is not being honored; I'm requesting:

[code]

But am seeing many mor

[2019-10-10 14:57] fuocor opened #894 "Could not load file or assembly 'Microsoft.Azure.Cosmos.Direct, Version=3.3.0.0"
**Describe the bug**
I am using a project reference to ```Microsoft.Azure.Cosmos``` due to code changes related to my pull request. Everything works fine locally but when I publish my unit tests to the azure build pipeline i'm getting ```Could not load file or assembly 'Microsoft.Azure.Cosmos.Direct, Version=3.3.0.0```

I noticed some funky project includes in the SDK project. I was wondering what

[2019-10-10 16:35] j82w commented on #890
What operating system are you using?

[2019-10-10 19:45] jackbond commented on #624
This issue occurs when the Cosmos reference is a transitive reference.

[reproduce.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/3714333/reproduce.zip)

[2019-10-10 19:47] kirankumarkolli commented on #624
@ausfeldt can u please take a look?

[2019-10-10 20:47] ausfeldt commented on #890
I know what the issues is. It will be fixed in the next release of the SDK. As a workaround you can delete the build folder in "packages\microsoft.azure.cosmos\3.3.0". If you are using SDK Direct Mode and not Gateway Mode, and you run into an error that say it can not find Microsoft.Azure.Cosmos.ServiceInterop.dll, set DisableSkipInterop = 0 in either your app.config or environment variable.

[2019-10-10 21:03] ausfeldt commented on #892
Because you can't use the app.config you have to do it in code. Also because the TraceSource is internal, reflection will have to be used.

var defaultTrace = Type.GetType("Microsoft.Azure.Documents.DefaultTrace,Microsoft.Azure.Cosmos.Core.Trace");
var traceSource = ((TraceSource)defaultTrace.GetProperty("TraceSource").GetValue(null));

[2019-10-11 00:47] ealsur commented on #894
Do you mean the unit tests in this repo or a unit test project that you created that targets the SDK?

[2019-10-11 07:17] kirankumarkolli commented on #890
Isn't "GenerateBundle" task part of project system (or build time)?
ServiceInterop loop-up is runtime, how are these two related?

[2019-10-11 09:55] coffeymatt opened #899 ""Compositions of aggregates and other expressions are not allowed." when using 'Any'"
**Describe the bug**

I've got a Cosmos db linq query, and if I call 'Any()' on that query, it gives me the following exception:

But if I use 'Count() > 0' it does what I need. I thought 'any' was supported now?

**To Reproduce**
Execute a linq expression with a where clause and 'Any()'.

**Expected behavior**
Same behaviour as I get with 'Count() > 0'.

**Actual behavior**
Throws 400: Compositio

[2019-10-11 11:41] j82w commented on #893
This is a problem with the overall linq design with everything being an extension method. It makes it not possible to mock the response.

I do like your idea of exposing `CosmosLinqQuery`, but it would need to be converted to an abstract class so it works like an interface.

@kirankumarkolli what are your thoughts on doing this?

[2019-10-11 12:36] fuocor commented on #894
A unit test I created...

[2019-10-11 15:23] kirankumarkolli commented on #893
@khdang thoughts?

[2019-10-11 15:39] #42 closed

[2019-10-11 16:29] ealsur commented on #889
@abhijitpai Are we throwing RequestEntityTooLargeException somewhere in Batch?

[2019-10-11 18:44] #891 closed

[2019-10-11 19:27] ausfeldt commented on #890
The targets in the package copy the native DLLs in runtimes to the output directory. When using single file publish in .NET Core 3.0, it also copies the DLLs to the output directory, by copying the whole runtimes folder to the output directory. GenerateBundle fails because it has 2 path to the native DLLs and does not know what to do, or what to pick, and throws. So it is either you fix GenerateBu

[2019-10-11 20:50] kevinding0218 commented on #605
@ealsur , Hello looks like the batch size limit is still 100? Well 100 is really too narrow with processing the data,  as on the otherside the CosmosTrigger also triggered as 100 items being updated, so for the case of 5,000 items that we're processing, it split into 50 batches and our CosmosTriggered Function also triggered 50 time...Is there any plan to increase the limit?

[2019-10-11 20:52] ealsur commented on #605
@abhijitpai can probably answer Batch related questions and that max. Bulk (non-transactional) does not have a limit. https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/Usage/BulkSupport, but if you need Transactional support, you will need to use Batch.

[2019-10-11 21:12] j82w commented on #891
@patrickdoodyIRL 3.3.1 is released. Please let me know if you still have an issue.

[2019-10-11 21:18] j82w commented on #894
@fuocor since its a project reference you have to add a reference to nuget [Microsoft.Azure.Cosmos.Direct](https://www.nuget.org/packages/Microsoft.Azure.Cosmos.Direct/).

@ausfeldt please correct me if I'm wrong.

[2019-10-11 21:23] ausfeldt commented on #894
@j82w correct

[2019-10-11 21:40] kevinding0218 commented on #605
@ealsur Thank you for your reply! We did noticed the bulk (non-transactional) in the sample code, however, that seems like doing a parallel tasks where  each task is performing an insert action, considering the performance aspect regarding bulk vs batch, which one would be better to use for large amount of data (~5,000 docs) ?

[2019-10-11 23:15] ealsur commented on #605
@kevinding0218 my apologies, we don't have official documentation yet because were are still in preview, but Bulk works through the `AllowBulkExecution` flag in the `CosmosClientOptions`:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/BulkSupport/Program.cs#L91

When that flag is `true`, then concurrent point operations (such as a List of Tasks) w

[2019-10-12 00:46] ausfeldt commented on #624
@jackbond Thanks for the repro!

@PKYADAV The issue is .NET Standard project is the new project format that supports PackageReferences and the Android project is the old project format, which uses packages.config. This caused package dependencies of the .NET Standard project fomat to not flow to the Android project, which is the old format. The work around is add the following to your Android proj

[2019-10-12 15:45] thomaslevesque opened #903 "Add support for IAsyncEnumerable<T>"
**Is your feature request related to a problem? Please describe.**

The API for enumerating query results isn't great, because it forces the user to be aware of the fact that the results are fetched page by page:
[code]

**Describe the solution you'd like**

The `FeedIterator<T>` API is useful, because it gives you more information (e.g. request charge), but in most cases the user just wants the r

[2019-10-13 12:19] fuocor commented on #894
great... I had it in the wrong project

[2019-10-13 15:14] IvanMijailovic commented on #605
HI @ealsur, Should I have one instance of DocumentClient and share between all BulkExecutors instances in multi-thread application, or have one instance of DocumentClient per each BulkExecutor? Thanks in advance!

[2019-10-13 19:46] Ceridan opened #904 "Support multiple ChangeFeed handlers for a single container"
**Is your feature request related to a problem? Please describe.**
In situations when you keep different types of documents in a single container you have a problem with change feed processor builder. Let me explain. Currently, you can build change feed processor like this:
[code]
where `HandleChangesAsync` has a type of `ChangesHandler<T>`. Here I have a problem. The type `T` here should be a typ

[2019-10-14 06:16] shibayan opened #905 "LINQ Provider does not accept PropertyNamingPolicy setting"
**Describe the bug**

`CosmosPropertyNamingPolicy.CamelCase` is set to `PropertyNamingPolicy`, the class property name is not converted to camel case in the query generated by LINQ Provider.

**To Reproduce**

1. Code snippet
[code]

**Expected behavior**

Property name is converted to camel case.

[code]

**Actual behavior**

Property name is not actually converted to camel case.

[code]

**Envir

[2019-10-14 07:25] #687 closed

[2019-10-14 12:37] #894 closed

[2019-10-14 13:21] j82w commented on #624
We should add a sample project for this since other users will likely hit this same issue.

[2019-10-14 13:59] ealsur commented on #605
@IvanMijailovic Yes, you certainly can share one instance of DocumentClient across multiple BulkExecutors.

[2019-10-14 14:04] kirankumarkolli commented on #624
Also any thoughts on anyways to make the work-around discoverable?

[2019-10-14 16:40] shibayan opened #908 "LINQ error occurs depending on calling order of Skip and Take"
**Describe the bug**

LINQ Provider generates SQL that cannot be executed depending on calling order of `Skip` and `Take`.

**To Reproduce**

[code]

**Expected behavior**

[code]

**Actual behavior**

[code]

**Environment summary**

SDK Version: 3.3.1
OS Version: Windows

**Additional context**

Exception message

[code]

Workaround - Swap the order of `Take` and `Skip`

[code]

[2019-10-14 18:34] jameswhollister commented on #624
@ausfeldt I'm on Jack's team. Tried your suggestion but doesn't appear to have any impact. The project didn't have a packages.config file though before that change all of it's references were in it's csproj file. Here's a new copy of the repro with that change.

[reproduce.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/3725903/reproduce.zip)

[2019-10-14 18:35] j82w commented on #905
@shibayan I figured out the root cause. I'm working on a fix and will do a 3.3.2 hot fix for this. It turns out the test validating this wasn't properly tagged so it wasn't running.

[2019-10-14 18:38] Ceridan commented on #904
Another possible solution could be extension of API that accepts array of handlers in the `GetChangeFeedProcessorBuilder` method like this:
[code]

[2019-10-14 18:52] j82w commented on #908
@khdang can you please take a look?

[2019-10-14 18:53] j82w commented on #899
@khdang can you please take a look?

[2019-10-14 19:08] ausfeldt commented on #624
@jameswhollister Interesting, depending on the order I build the project is succeeds or fails. Instead adding below to "XamarinAndCosmosNoLike" project, also will fix the issue, but consistently.

[code]

Apparently this is a known issue that has been open for a while: https://github.com/xamarin/xamarin-macios/issues/3949

[2019-10-14 19:25] khdang commented on #908
This is the right behavior. The order of Skip and Take matters.

The two statements are not equivalent.

The first one would take 10 items and then skip 10 items on the 10 items from the take clause, which would return an empty list. Whereas the second statement would skip 10 items and take the next 10 items.
[code]

[2019-10-14 19:25] #908 closed

[2019-10-14 19:33] khdang commented on #899
Any() is supported when it is nested in another operator, such as Where in this expression: collection.Where(item => item.subItems.Any(subItem => subItem.property1 > 0))

This is a known issue only in the SDK for Any() on the top level expression. for example in this expression: collection.Any(). For such expression, the LINQ provider translates to the closest SQL query which is SELECT VALUE COUNT

[2019-10-14 20:40] jameswhollister commented on #624
@ausfeldt that did it. Thank you!

[2019-10-14 22:24] kevinding0218 commented on #605
@ealsur , Thank you for your input! We've tried with using bulk operation by setting the flag "AllowBulkExecution" to true to insert 200 items, it looks like it'll group the 200 items into **5 items per group of tasks**, because in our CosmosDBTrigger Functions, we always receive/triggerred 5 items at a time, so for total 200 items we received/triggered for exact 40 times, is this number of bulk o

[2019-10-14 23:33] ealsur commented on #605
@kevinding0218 The grouping is based on partitions, just like the Bulk Executor. Are you creating all 200 Tasks in a list and each Task is a CreateItem call?

[2019-10-14 23:39] ealsur commented on #904
I'm not sure I follow the requirement, why can't your HandleChangesAsync1 call HandleChangesAsync2? They are all inside the same process.

[2019-10-14 23:40] ealsur commented on #904
If you could attach multiple delegates, you would still get changes across all of them, there is no way to apply a filter based on the class you map to T.

[2019-10-14 23:41] ealsur commented on #903
We are working on this at the moment 😄

[2019-10-14 23:43] ealsur commented on #881
Please reopen if you have any more information for the scenario following the last questions.

[2019-10-14 23:43] #881 closed

[2019-10-15 00:23] kevinding0218 commented on #605
@ealsur You're right. We're actually just following the sample code by create 200 tasks in a list and each would be an UpsertItemAsync call, **all of our 200 items would have one single common partition key** just like the sample code as well, if the grouping is based on partitions, our 200 items should be considered as only one group, correct?

[2019-10-15 00:37] ealsur commented on #605
Yes. How do you know that the Bulk is doing batches of 5? Based on what you see on the Change Feed Triggers? Bulk is not transactional, so it's hard to correlate your Change Feed triggers with the backend requests coming from Bulk. Are you setting the AllowBulkExecution flag in the CosmosClientOptions before creating the client or switching it after?

[2019-10-15 10:31] coffeymatt opened #910 "SelectMany linq query on dictionary property"
**Describe the bug**

I think this may be a bug, but I'm not sure if what I'm doing is supported or if there is another work around.

I'm trying to query a dictionary property on an object using a 'SelectMany'. I know this works on child arrays/lists on objects, but with my dictionary it's just returning zero results.

**To Reproduce**

I have an object cosmosDb with a dictionary property:

`publi

[2019-10-15 11:21] j82w commented on #910
@coffeymatt can you provide an example of the JSON document?

[2019-10-15 12:37] j82w commented on #910
@khdang is this supported?

[2019-10-15 12:48] j82w commented on #75
This only works for direct + TCP mode where the client side request diagnostics exists. There is a PR adding the clients side request statistics to the query diagnostics which will return each page as a JSON object with the query metrics, client side request statistics, and some other info required for debugging.

[2019-10-15 13:07] coffeymatt commented on #910
Sure, I've trimmed some properties out, but you can see the responses dictionary:

[code]

[2019-10-15 13:37] khdang commented on #910
For dictionary, can you access the element using the key instead of filtering by a Where clause?
ie.
query.Select(q => q.Responses[questionId]);

This is due to there is no direct SQL equivalent for the LINQ expression semantics (i.e. SelectMany and filter on a dictionary) and the support for relative equivalent translation is not supported yet.

[2019-10-15 14:32] kevinding0218 commented on #605
@ealsur We're using CosmosDBTrigger Function here so we set the AllowBulkExecution flag in the Options before creating the CosmosClient in Startup.cs. You're right we're monitoring the input count from Change Feed Triggers that we saw every incoming documents are number of 5, therefore we assume the bulk operation was grouping one transaction at 5 as well. Based on your explanation,  this seems so

[2019-10-15 15:09] coffeymatt commented on #910
Thanks @khdang , what you've suggested works using the key instead of the clause.

What you've said makes sense, I guess this is more a feature request than a bug. Shall I close this issue?

[2019-10-15 18:26] #624 closed

[2019-10-15 18:45] ylibrach opened #912 "ResourceId on DatabaseProperties and ContainerProperties should be made public"
**Is your feature request related to a problem? Please describe.**
The `ResourceId` property on `DatabaseProperties` and `ContainerProperties` is currently marked as internal. However, this value is necessary for a lot of scenarios, such as requests to the Azure REST API.

**Describe the solution you'd like**
The property on these two classes should be made public.

[2019-10-15 19:20] #905 closed

[2019-10-15 19:34] khdang commented on #910
@coffeymatt Sure, I'm glad that it works for you. I'm closing the issue and will take a note to revisit it. Thanks.

[2019-10-15 19:34] #910 closed

[2019-10-15 20:26] Ceridan commented on #904
Yes, I can call HandleChangesAsync2 from HandleChangesAsync1, but I will lost data. For example:

[code]

In this case inside the handler `HandleChangesAsync1` I will already obtain changes collection typed as `DocumentType1` and if I even call the `HandleChangesAsync2` from  `HandleChangesAsync1` the value of `YetAnotherData` property will be lost.

You are right. I thought about this problem. Yo

[2019-10-15 20:41] thomaslevesque commented on #903
Awesome!

[2019-10-16 16:28] j82w commented on #912
If you are using the SDK what reason do you have for calling the Azure REST API?

[2019-10-16 19:13] sivethe opened #917 "CosmosException should add StackTrace to ToString() override"
**Is your feature request related to a problem? Please describe.**
We cannot track the source of the exception in the SDK without the stack trace

**Describe the solution you'd like**
CosmosException should add StackTrace to ToString() override
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/cefef1ec418b7c92c23b6354aa1081b57998e2e0/Microsoft.Azure.Cosmos/src/Resource/CosmosException.cs

**Des

[2019-10-16 19:48] ealsur commented on #904
Ideally for this scenario, from a performance point of view, the filtering should be on the server side, but this is not currently possible.

Sadly, doing this client-side filtering is the only option for scenarios where you use a Type pattern (different schemas in the same container).

[2019-10-16 20:06] Ceridan commented on #904
From your experience how often do you meet Type pattern in practice? Should CosmosClient support ChangeFeeds in situation like this or not?

[2019-10-16 20:25] ealsur commented on #904
In order to support the Type pattern effectively and without a compute bottle beck, this would need to work as a backend filter, where you could just read the Change Feed for a particular subsets of documents (for example, where Type = Something). That is not possible currently and I'm not aware of any roadmap for it.

If it's a feature that would need to be implemented in the client SDK, then it

[2019-10-16 20:31] Ceridan commented on #904
Yes, sounds fair. I think we may close this issue, you answered to all my questions. Thank you for the explanation and for your time.

[2019-10-16 20:34] #904 closed

[2019-10-17 08:44] visridha opened #919 "Request signing with strong consistency does not work"
**Describe the bug**
A read request with strong consistency with request signing enabled does not work - the head request isn't signed with the key

**To Reproduce**
Enable gateway signing, do a concurrent read/write workload with strong consistency. You'll see 403 in the internal sdk calls.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**

[2019-10-17 11:25] kirankumarkolli commented on #750
Batch is transactional in semantics & split can;t guarantee it. For applications which doesn't need transactional semantics use our Bulk API.

[2019-10-17 11:25] #750 closed

[2019-10-17 11:30] kirankumarkolli commented on #690
Currently only client side buffering is serial per key-range, where as processing the batch is parallel.
And the serial part doesn't include T -> Stream conversion which is a significant part. With-out it its worth validating the requirements once.

[2019-10-17 13:32] christothes opened #920 "container.ReadItemAsync<T> with matching IfNoneMatchEtag throws CosmosException (client v 3.3.2)"
**Describe the bug**
Inconsistent behavior between ReadItemAsync and ReadItemStreamAsync when calling with an ItemRequestOptions containing a matching etag in IfNoneMatchEtag. ReadItemAsync  throws a CosmosException and ReadItemStreamAsync returns a ResponseMessage with appropriate StatusCode set.

**To Reproduce**
- call container.ReadItemAsync<T> with matching IfNoneMatchEtag
- call container.Re

[2019-10-17 14:05] ealsur commented on #920
I guess the question here would be, is Not Modified (304) a failed status code? It all boils down to `EnsureSuccessStatusCode` which throws if the Status Code > 299.

[2019-10-17 14:44] ealsur commented on #690
What is not yet clear is if we want a Rate limiting based on RU/s (which would need to be across all key-ranges) or at the request-per-key-range level.

[2019-10-17 14:45] christothes commented on #920
I'd argue that semantically the scenario described is a success - at minimum we should consistently return a result rather than throw. I'd consider a 304 read scenario as a performance optimization and throwing is more expensive.

[2019-10-17 14:47] kirankumarkolli commented on #690
Got it. I mis-interpreted it.

[2019-10-17 15:21] ylibrach commented on #912
The Rest API provides additional information such as metrics that the SDK doesn't provide. We could theoretically also get the ResourceId by querying the Rest API using the database & container name, but these are extra calls in code that already has the database and container objects from the SDK.

Tangentially, the RID is not exactly a secret or internal value, so what's the benefit in having th

[2019-10-17 16:22] j82w commented on #912
What metrics is the SDK missing? If you can give a specific list we can go over it and see if it should be added to the SDK so all users get the information. Also all the headers should be accessible on a response.

@kirankumarkolli can you explain the reason for not making the RID public?

[2019-10-17 18:41] j82w commented on #905
@shibayan  [3.3.2](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/) was released with the fix.

[2019-10-17 21:53] ylibrach commented on #912
Is the SDK able to produce metrics such as Max RUs Per Second for Physical Partition Key Range? From what I can tell, it doesn't. Are you saying that the SDK *should* provide these types of metrics?

[2019-10-17 21:57] j82w commented on #912
The SDK does not track that. What's the reasoning for tracking Max RUs Per Second for Physical Partition Key Range?

[2019-10-18 13:25] ylibrach commented on #912
This metric is one of the ones we use for programmatically tracking the throughput we are sending against the collection/container.

[2019-10-21 12:48] #889 closed

[2019-10-21 13:50] #429 closed

[2019-10-21 14:51] pkaushik23 commented on #828
@ealsur were you able to repro the issue ? thanks

[2019-10-21 15:05] ctrlaltdan commented on #891
@j82w Sorry to reopen this ticket but using build `3.3.2` I get the following exception (which looks very similar to the above).

[code]

Hosted in docker, using Ubuntu 16.04 machines with netcoreapp3.0/netstandard2.1.

[2019-10-22 11:36] j82w commented on #912
If you are only tracking it based on the collection/container what's the point of having the physical partition key range?

[2019-10-22 14:57] ibreault commented on #842
Wondering if there are any updates on this feature request?

[2019-10-22 20:20] j82w commented on #891
@ctrlaltdan are you sure you updated to 3.3.2? Can you try deleting the bin and obj folders and making sure you aren't using a cached version. The user agent string in the error message says it's version 3.3.0

[2019-10-23 07:47] ctrlaltdan commented on #891
🤦‍♂️ my bad! Everything works fine. Just for the record - it was also an issue on Ubuntu :D

[2019-10-23 11:50] j82w commented on #891
Yeah, that's why the [change log](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/changelog.md) specifies non-windows.

[2019-10-23 12:17] pseudoramble opened #929 "Running emulator as a service or in the background"
We have been looking and brainstorming ideas about running the Cosmos emulator as a Windows service or in the background. We would like this so we can perform our integration tests in our CI/CD environment which has very limited access to the internet. Any success with this kind of a setup? Any other ideas we haven't thought of yet?

So far we have tried the following:

- Wrap the emulator with a

[2019-10-23 14:43] milismsft commented on #929
We (Microsoft) have the emulator running in our CI/CD such as executing tests for PRs against this particular repo. The current process is to install/start the emulator before any tests are scheduled to execute, wait for it to initialize properly, then start the tests. You can use either the emulator from an MSI installation (see "msiexec /quiet /passive" for a prompt-less installation), as a Dock

[2019-10-23 15:09] pseudoramble commented on #929
Thanks! Do you happen to know if there's a way to start and run either the Docker container or the emulator without having an interactive login session? We may be misunderstanding the documentation, but it seems like the Docker container runs in an interactive-only mode.

[2019-10-23 16:58] j82w opened #930 "Query refactor to handle query plan parameter"
Refactor query to have an interface that can accept query plan as a parameter. This will allow the query plan to be cached to avoid the service interop or gateway call to parse the query.

[2019-10-23 20:14] afscrome opened #931 "Specifying ApplicationRegion results in significantly longer timeouts"
**Describe the bug**

If `ApplicationRegion` is specified on `CosmosClientOptions` and you forget to start the emulator, the SDK takes about 2 minutes before timing out.  If you remove the `ApplicationRegion`, it only takes 10 seconds or so to fail.

**To Reproduce**

Run the following code, making sure the cosmos emulator is **NOT** started, and note the elapsed time.  Remove `ApplicationRegion =

[2019-10-23 23:26] ealsur commented on #931
The timeout is due to the fact that the SDK is trying to resolve the DNS for the region and such a DNS is impossible to resolve when you use the Emulator.

There is no way for the SDK to detect that you are using the Emulator, since the URI could be masked, a redirection, or a local DNS record that points to a running emulator, so it cannot add some `if` logic to not try and reach the desired regi

[2019-10-24 08:24] brudnyhenry commented on #543
Hi,
Is there any update on this ? I don't see this feature being enabled and it's already October

[2019-10-24 11:02] KhuongNtrd opened #932 "AllowBulkExecution property is missing in 3.3.x SDK"
**Describe the bug**
Latest version 3.3.2 SDK with public Bulk Execution but the AllowBulkExecution property can not found while using in netstandard project (included samples)

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/a10e41103639c2ef037cd2cab140fceb059faa8d/Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs#L365

[2019-10-24 11:31] pseudoramble commented on #893
@CaioCavalcanti - I ended up rewriting the code to use string-based Cosmos queries by swapping out to use `GetItemQueryIterator<T>(QueryDefiniton)`. That will at least let you work around this specific issue if you're in a time crunch.

[2019-10-24 11:51] j82w commented on #932
The bulk feature is only in preview for version 3.3.2 and lower. The next [release](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/changelog.md) will make it public.

[2019-10-24 11:51] #932 closed

[2019-10-24 12:18] j82w commented on #893
I did some testing and exposing a CosmosLinqQuery that implements IOrderedQueryable is not that easy to unit test against. The problem is IOrderedQueryable is a rather complex interface. Setting up mocks to use the List properties for the IOrderedQueryable interface works if you immediately call the ToFeedIterator, but if any query operation is done the provider converts it to a List. So it's no l

[2019-10-24 13:35] j82w commented on #842
@kirankumarkolli what do you think?

[2019-10-24 14:29] #695 closed

[2019-10-24 19:22] ryazan05 commented on #893
I faced the same issue. I ended up creating a wrapper around `ToFeedIterator()` extension method.
[code]
So instead of calling `.ToFeedIterator()` directly I would call `ICosmosLinqQuery` implementation with cosmos query. In unit tests I can then mock calls to `ICosmosLinqQuery` and assert on actual linq query by checking query argument in `GetFeedIterator` call (using Moq Callback).

[2019-10-24 23:27] pseudoramble commented on #893
@j82w trying to think of some ideas for this. It does seem hard to try and modify the existing `CosmosLinqQuery` class directly. So far there are only two ideas I can think of:

1. Something like what @ryazan05 has done where another separate method is invoked on another interface. That's relatively easy, but the extension methods have the convenience of looking like a fluent interface.
2. Split t

[2019-10-25 08:47] kirankumarkolli commented on #919
Simple test case validation showed that signinghandler is called as expected for both write and reads.

[2019-10-25 12:23] kirankumarkolli commented on #919
Head/HeadFeed for Collection/Database are the ones having issues.
One suspicion is BarrierReqeustHelper.

@ausfeldt can you please look into it further?

[2019-10-25 12:24] kirankumarkolli commented on #892
@ausfeldt is it debugger attached listeners?

[2019-10-25 13:21] #931 closed

[2019-10-25 21:01] j82w opened #937 "Investigate the ExecutePartitionKeyRangeReadChangeFeedAsync block"
**Describe the bug**
Validate that this block is not breaking any scenarios.

ExecutePartitionKeyRangeReadChangeFeedAsync

// User doesn't have rid based resource token. Maybe he has name based.
throw new NotSupportedException("Resoruce tokens are not supported");

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/b5eee576104aa399951e6ab774d9527b851202a9/Microsoft.Azure.Cosmos/src/Routing/Parti

[2019-10-25 21:31] CMihalcik opened #938 "Change feed processor cannot read from the beginning"
**Describe the bug**
A `ChangeFeedProcessor` configured to read from the beginner per [this page](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-change-feed-start-time#reading-from-the-beginning) is never fed any  records.

**To Reproduce**
Clone https://github.com/CMihalcik/cosmosdb-change-feed-from-beginning, add Cosmos credentials and run.

**Expected behavior**
The processor

[2019-10-25 23:26] bartelink commented on #938
Are you starting from an empty aux collection? ([Link to some troubleshooting info](https://github.com/Azure/azure-documentdb-changefeedprocessor-dotnet/issues/84#issuecomment-454850472))

[2019-10-28 11:46] CMihalcik commented on #938
I'm not familiar with the term aux, but if it's the same as a lease collection, then yes, I'm starting with an empty one.

The linked project deletes both the lease and source collections (if they exist) and then recreates them.

[2019-10-28 11:51] CMihalcik commented on #938
I think I'm seeing he same issue when running the [ChangeFeed Usage sample](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeed). Sections 2 and 3 don't seem to produce any output.

[ChangeFeed-Usage-Output.txt](https://github.com/Azure/azure-cosmos-dotnet-v3/files/3778511/ChangeFeed-Usage-Output.txt)

[2019-10-28 14:54] mhabibal13 opened #939 "Any way of querying an item by multiple partition keys?"
I couldn't find any way running such queries. The class ResourceFeedReaderClientExtensions is internal

[2019-10-28 15:52] bartelink commented on #938
I haven't looked at your example, was only trying to rule out stupid stuff ;) (I'm still using V2 as [some critical features I rely on are missing in the V3 rendition so far](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/616)); perhaps the team will respond in due course.

[2019-10-28 17:11] CMihalcik commented on #938
I'm seeing the same output from the ChangeFeed Usage sample running on Windows 10.

[ChangeFeed-Usage-Output.windows.txt](https://github.com/Azure/azure-cosmos-dotnet-v3/files/3779492/ChangeFeed-Usage-Output.windows.txt)

[2019-10-28 19:45] ealsur commented on #938
@CMihalcik Can you try deleting the content of the Leases Container, and then starting the Processor?

StartFromBeginning is meant to pickup items that were created before the Processor was ever created.

Are you running against the Emulator or a live Cosmos DB account?

[2019-10-28 19:59] ealsur commented on #938
The problem on the "Usages" project is that the Processor's initialization is not a set time, it really depends on the size of the monitored container, so those times are merely trying to linearize work that is happening in other threads.

Having said that, I ran the Usages against the Emulator and I see the expected output:

![image](https://user-images.githubusercontent.com/1633401/67713176-8e4d

[2019-10-28 20:04] ealsur commented on #912
@ylibrach You can get those metrics (partitionId and RU consumed) from the Cosmos DB metrics in Azure Monitor/Diagnostics: https://docs.microsoft.com/en-us/azure/cosmos-db/logging#interpret

SDK is not exposing the partition routing or partition information at this point.

[2019-10-28 20:04] #912 closed

[2019-10-28 20:22] ylibrach commented on #912
@ealsur this ticket wasn't about exposing the metrics or any partition information, it was about exposing `ResourceId` (rid) for collections/databases. I don't think you should close this issue.

[2019-10-28 21:23] ealsur commented on #912
@ylibrach The request is to include information that is not needed nor used in the SDK. There is no usage anywhere for the `ResourceId` within the SDK,

You mentioned that you needed `ResourceId` to use it on the REST API because the REST API gives you Metrics that the SDK does not. But if what you need are metrics, then that information is already available in Azure Monitor / Diagnostics without

[2019-10-29 11:35] j82w commented on #939
I'm a little confused by the question as ResourceFeedReaderClientExtensions has FeedOptions which only supports a single partition key value.

The [samples](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/0eb41935fbe80a4d52ce4a71397d53c3c0f998ed/Microsoft.Azure.Cosmos.Samples/Usage/Queries/Program.cs#L189) show how to do a query in the v3 SDK.

If you want to do a query with multiple partitio

[2019-10-29 11:41] CMihalcik commented on #938
@ealsur Thanks for taking a look at this.

Both the source and lease containers are deleted and then recreated each time the script is run.

https://github.com/CMihalcik/cosmosdb-change-feed-from-beginning/blob/c9db374e8016ff08eb46cc382fd25a11def50be9/Program.cs#L34-L47
https://github.com/CMihalcik/cosmosdb-change-feed-from-beginning/blob/c9db374e8016ff08eb46cc382fd25a11def50be9/Program.cs#L51-L64

[2019-10-29 11:45] mhabibal13 commented on #939
Okay. I was looking for a way without writing SQL Queries directly (Lambda for instance)

[2019-10-29 11:49] j82w commented on #939
There is [LINQ](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/0eb41935fbe80a4d52ce4a71397d53c3c0f998ed/Microsoft.Azure.Cosmos/src/Resource/Container/Container.cs#L1021) support for items.

[2019-10-29 12:27] mhabibal13 commented on #939
So there is no ddirect way like defining a list of PartitionKey objects (new PartitionKey("somevalue"))?

[2019-10-29 13:30] ealsur commented on #938
@CMihalcik I cloned your repo and ran it, only adding my account credentials, and I see this output:

![image](https://user-images.githubusercontent.com/1633401/67771501-a4580580-fa15-11e9-94a6-2d5d6c6a4d22.png)

[2019-10-29 13:33] ealsur commented on #938
Second run also works, same logs except the `No container to delete`:

![image](https://user-images.githubusercontent.com/1633401/67771732-14668b80-fa16-11e9-8854-0a535c321222.png)

[2019-10-29 14:03] j82w commented on #939
A single partition key is supported through [QueryRequestOptions](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/0eb41935fbe80a4d52ce4a71397d53c3c0f998ed/Microsoft.Azure.Cosmos/src/RequestOptions/QueryRequestOptions.cs#L90). For multiple partition keys the only way is through a query.

[2019-10-29 15:00] CMihalcik commented on #938
Here's what I get on macOS 10.13.6. I let each run got for a minute before killing the process.
<img width="938" alt="Screen Shot 2019-10-29 at 9 56 46 AM" src="https://user-images.githubusercontent.com/223162/67779504-bc8a4d80-fa32-11e9-9628-ef18ec3e9472.png">

I wonder if this is an OS specific issue, perhaps with date formatting.

[2019-10-29 17:51] ealsur commented on #938
If you remove the `WithStartTime`, do you at least see the second item? Are you connecting to the Emulator or a real account? If the later, are you using a read/write key?

[2019-10-29 20:57] fecalemos opened #945 "Microsoft.Azure.Cosmos.CosmosException"
When I am trying to run a console and trying to create using,
Database database = await client.CreateDatabaseIfNotExistsAsync(databaseId);
in InitializeCosmosClientInstanceAsync, I am getting the below exception

[2019-10-29 21:02] j82w commented on #945
1. Are you using the local emulator or a real cosmos db account?
2. Did you verify the account name and password are correct?

[2019-10-29 21:03] #939 closed

[2019-10-29 21:22] fecalemos commented on #945
1. I am using real cosmos db account.
2. Yes, I have azure portal account.

[2019-10-30 08:47] AndreasHassing commented on #831
Just chiming in to say that this is sorely needed for our team as well. Identically to @mark-manticore, we want to update in-memory caches using CFP and would like to avoid polluting the leases declared in Cosmos. The in-memory lease container would allow for this (per my understanding).

@ealsur any insights into why `WithInMemoryLeaseContainer` and `GetStandByFeedIterator` are internal and not p

[2019-10-30 11:47] j82w commented on #945
Did you verify that the Cosmos DB account name and key are correct when passing it into the CosmosClient?  The other possibility is a firewall is blocking the [required ports](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#networking).

<img width="561" alt="accountInfo" src="https://user-images.githubusercontent.com/8868107/67855636-070dd780-fad0-11e9-8cbc-3cd71efa6ed4.PNG">

[2019-10-30 14:32] AndreasHassing commented on #831
@ealsur does the in-memory processor add entries to the leases collection in Cosmos? If so, what happens when the in-memory processor restarts? Is a new entry added, or does it re-use the `ContinuationToken`? (Am I understanding the in-memory processor correctly, even?).

Push is more ideal than polling, I'd say. But if the in-memory push mechanism does not work like I think it does, then we'd set

[2019-10-30 16:53] Blackbaud-JonathanBell opened #949 "Retries to 429 never succeed under certain configurations"
**Describe the bug**
Under specific configuration, the Cosmos V3 client will fail to succeed on any number of retries to a 429 response.

**To Reproduce**
All of the following configurations must be true to reproduce:
- Use V3 Cosmos Client
- Use ConnectionMode of Direct / TCP (this is the default)
- Configure Cosmos account to use multiple regions
- Configure Cosmos account for strong consistency

[2019-10-30 18:23] ealsur commented on #831
The in-memory processor maintains leases in-memory. It's a push model where the state (Continuation Tokens and so on) is stored in memory. It allows a push model to run in a single instance without needing a lease container, but if the instance is restarted, all the state is obviously lost, since it is not stored anywhere and the Push model doesn't provide any sort of continuation (there is no nee

[2019-10-30 18:45] AndreasHassing commented on #831
@ealsur it sounds like the in-memory processor is exactly what we need. Is there a reason for it being internal only?

[2019-10-30 19:47] j82w opened #950 "VNext convert stream API to Memory<byte[]>"
The VNext SDK should use `Memory<byte[]>` instead of `Stream` as the contract for the following reasons.

1. No more `Using` statements. Far better user experience. Less error prone.
2. Performance improvements from new Memory object
3. The SDK already converts almost everything to `MemoryStream` for retry logic. Avoids the unnecessary copy.
4. Can still be easily converted to a `MemoryStream` whe

[2019-10-30 20:28] j82w commented on #949
What setting are you using for the v2 client?

[2019-10-30 21:21] j82w commented on #949
Can you also provide the full exception you are getting back? I did a quick test and I did not get any exceptions with a 429 status code, but I did get several 408 request timeouts.

[2019-10-30 21:29] Blackbaud-JonathanBell commented on #949
For V2 client, I am using:

[code]

[2019-10-30 21:33] Blackbaud-JonathanBell commented on #949
Here is the exception:

[2019-10-30 22:58] DanielLarsenNZ commented on #202
When using the Cosmos SDK in ASP.NET Core 3.0 and .NET Core 3.0 today, we have to use `Newtonsoft.Json`, for its `JsonPropertyAttribute` to rename `Id` to `id`. Using `System.Text.Json.Serialization` attributes does not work. For example:

[code]

IMO we should be able to use the native `System.Text.Json.Serialization.JsonPropertyNameAttribute` to rename properties for serialization. Same goes for

[2019-10-31 01:01] DanielLarsenNZ opened #951 "Renaming Document Id property in .NET Core 3.0 requires Newtonsoft.Json"
**Describe the bug**
Several Microsoft samples for Cosmos DB and .NET Core use `Newtonsoft.Json.JsonPropertyAttribute` to rename the `Id` property on a model to `id`. In .NET Core and ASP.NET Core, [`Newtonsoft.Json` has been replaced by `System.Text.Json`](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#jsonnet-support). If I use `System.Text

[2019-10-31 01:02] DanielLarsenNZ commented on #951
See also #202

[2019-10-31 01:33] wahyuen commented on #733
Looks like still an issue in the v3.3.3.

Is there any indication this might be looked at in the short/near term future? We are at a stage where we are looking at relatively large workarounds to arbitrarily populate `null` fields with a value just so sorting works and would like to assess if its worth us investing the time for this or not.

[2019-10-31 02:50] bchong95 commented on #733
The fix is in this PR: #952

[2019-10-31 11:38] j82w commented on #951
This is a goal in the VNext SDK. The current v3 has hard dependencies on Newtonsoft. We also ran into a few blockers trying to do the conversion that the System.Text.Json library should address in the next release.

[2019-10-31 13:47] j82w commented on #949
How many request are you doing? Is it the same request rate for both v2 and v3? V3 has a lot of optimizations and should be able to handle a higher request rate than the v2.

I did 4000 upserts of new documents and did not get any 429s on a 400 RU container. Please take a look at my [test](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/ca004d1343ae8886105a0c1660b50ab5c7ba125c/Microsoft.Azure

[2019-10-31 13:50] j82w commented on #129
This was changed to throw in the GA version.

[2019-10-31 13:50] #129 closed

[2019-10-31 13:50] #727 closed

[2019-10-31 13:51] j82w commented on #719
Fixed in 3.3.0

[2019-10-31 13:51] #719 closed

[2019-10-31 13:53] #163 closed

[2019-10-31 16:09] ealsur commented on #831
It was an experiment and we didn't receive any scenario request that needed until now, that was mainly the reason.

[2019-10-31 17:14] CMihalcik commented on #938
Yes

A real cosmos instance

Yes, I'm using a read/write key

[2019-10-31 17:15] CMihalcik commented on #938
I think the issue may be that `WithStartTime` depends on the HTTP request header `If-Modified-Since` and that Cosmos isn't supporting `If-Modified-Since` when the Cosmos account is configured for Multi-region writes.

If I debug and break on this line:

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/3.3.2/Microsoft.Azure.Cosmos/src/Resource/QueryResponses/ChangeFeedPartitionKeyResultSetItera

[2019-10-31 17:27] Blackbaud-JonathanBell commented on #949
@j82w  Is this test connecting to an emulator or a real cosmos instance?

If a real one, is it configured with multiple regions and strong consistency?  If not, then I wouldn't expect this to throw the exception because it would successfully complete within the generous retries your allowing it to handle internally (up to 5 minutes, up to 400 retries for each upsert request).

[2019-10-31 17:34] CMihalcik commented on #938
One more thing, it looks like the client API logs an error when this happens, but I wasn't seeing it because I've been running from the command line. On macOS, setting the environment variable `COMPlus_DebugWriteToStdErr=1`

[code]

sends that message to stderr where it looks like this:

[code]

[2019-10-31 17:36] fecalemos commented on #945
Yes, I verify that the CosmosDB account name and key are correct.
the new cosmos db instance is being created below:

![image](https://user-images.githubusercontent.com/4366391/67971465-93f98380-fbeb-11e9-8ddf-d6883c1b0b1c.png)

error output result:

I am seeing firewall on my azure portal that allows access from **all networks**

[2019-10-31 17:55] AndreasHassing commented on #831
Do I/we need to file a formal scenario request to get this API publicized? 😊

[2019-10-31 17:56] ealsur commented on #938
@CMihalcik good catch, I was actually not aware of the lack of documentation. I'll try and bring this up in our existing Change Feed docs, thanks for the investigation!

[2019-10-31 17:58] ealsur commented on #831
Could you create a separate Issue for tracking? This one seems to focus on a Pull model request.

[2019-10-31 18:05] Blackbaud-JonathanBell commented on #949
@j82w

I've tweaked the code in your example and was able to reproduce it when I use a Cosmos instance that is multi-region, strong consistency.

https://gist.github.com/Blackbaud-JonathanBell/e54b184d7d7c9cccfd3cfe98f9696561

[2019-10-31 19:39] kirankumarkolli opened #955 "LINQ named parameter proposal"
LINQ named parameter proposal: Use an generic extension based model to generate parameters.

ex:
[code]

[2019-10-31 19:40] kirankumarkolli commented on #955
/cc: @khdang , @simplynaveen20 , @sboshra , @bchong95

[2019-10-31 20:12] j82w commented on #949
I tested against a real Cosmos DB instance. I verified the test did hit 429, and all succeeded on the retries.  I did not try strong consistency or multiple regions.

![image](https://user-images.githubusercontent.com/8868107/67982318-b4bbdc00-fbdf-11e9-8fc7-55f3059382bc.png)

[2019-10-31 20:15] Blackbaud-JonathanBell commented on #949
I also do not reproduce this unless I have enabled both strong consistency and multiple regions.  I think the issue only surfaces under those conditions.

[2019-10-31 20:33] j82w commented on #949
Having a strong consistency and multiple regions it might be exceeding the 5 minute timeout at that point. Each write is going to take significantly longer because it has to verify that it was replicated to all the other regions.

[2019-11-01 10:21] AndreasHassing commented on #831
@ealsur before I create it: can the in-memory CFP start at the end of the feed? Or will it always start at the beginning? I'm asking because you said:

And that seems to imply that the in-memory CFP cannot start at any point other than the beginning of the change feed. If that is the case, we'll need to use the pull model instead and won't need to create a new bug :).

[2019-11-01 12:01] j82w commented on #945
Can you try using Gateway mode in the CosmosClientOptions?

[2019-11-01 12:04] Blackbaud-JonathanBell commented on #949
I'm not sure what to say.  I don't think the potential delays in a multi-region write means that there isn't a clear bug here:

- Multi-region, strong works if you use Gateway mode instead of Direct.
- Multi-region, strong works if you use Direct and the 2.0 client instead of 3.0 client.
- Multi-region, strong works with the 3.0 client --- the only problem is if you have a 429 response, then an un

[2019-11-01 12:51] Blackbaud-JonathanBell commented on #949
To illustrate this further, I've updated my gist with a different test.  It uses Polly to retry 429 errors every 10 seconds, for up to 20 minutes.

The test attempts 50 requests to Cosmos, and logs successes or failures for each retry -- including the retry count that it was one.

I ran the test and included the output in the gist as well (link below).  Almost immediately, 47 requests completed su

[2019-11-01 13:04] afscrome opened #958 "Unclear error when RequestTimeout set to below 1 second"
**Describe the bug**
If setting the `RequestTimeout` on `CosmosClientOptions` to less than 1 second, attempts to call cosmos fail with unclear errors.

**To Reproduce**
If you try the below code with a `999`ms timeout, it fails with the exception below.  Bump it to `1000` and it starts working as expected.
[code]

**Expected behaviour**
Given that Cosmos provides it's SLA for certain operations at

[2019-11-01 13:50] j82w commented on #949
Thanks for the repo, and clarification. I'm able to repo it using the code you provided, but I'm having issues getting it repo against the current master. It seems to be throwing 408 exception instead now. I'm still investigating.

[2019-11-01 14:40] afscrome opened #959 "Request Timeout not honoured under network connectivity issues."
**Describe the bug**
When experiencing a network failure, the Cosmos SDK seems to ignore the `RequestTimeout` when calling `ReadItemAsync`, instead taking about 120secs before timing out

**To Reproduce**
Below is a console app that spins up a number of concurrent task, each of which tries to hit cosmos.  When it successfully calls cosmos, it writes the task id to the console.  When a failure happ

[2019-11-01 20:03] joshlang opened #961 "Batch - an update?"
Hi!

I was hoping for some insight into *Batching*.  If it's a committed upcoming feature (looks to be!) and when it'll be public (it's internal right now).

We started using it with 3.2.0-preview before you hid it under "internal" flags.  It's awesome!  We previously had our own custom workaround solution where we deployed a server-side javascript stored procedure in order to do batch operations.

[2019-11-01 20:37] j82w commented on #961
The current plan is to make Batch part of the next SDK release which should happen sometime next week. It might get delayed if some major issue discovered before then.

[2019-11-01 20:51] joshlang commented on #961
Thanks for the speedy answer.

The answer itself couldn't have been more awesome, too.  Thanks!

Will leave this issue open until the release just so others can see your answer.

[2019-11-01 22:17] #670 closed

[2019-11-02 09:51] kirankumarkolli commented on #959
@afscrome thanks for sharing full context.

It’s a trade-off of responsiveness and availability. SDK is trying to trying out others regions for availability extensively.

RequestTimeout is low level and is applicable to each NW/service interactions.
Application can define a CancellationToken and use it as preemption point for responsiveness.

[2019-11-04 10:43] j82w commented on #961
Please take a look at this [PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/965).

[2019-11-04 11:08] j82w commented on #951
I'm closing this as a duplicate of [#202](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/202)

[2019-11-04 11:08] #951 closed

[2019-11-04 16:40] philwade opened #969 "Support for mac use of emulator"
I would like to be able to use the cosmos emulator (running in a virtual machine) when developing on my mac. As far as I can tell, this workflow is only supported when using v2 of the SDK. The solution there is to create a custom `HttpClientHandler` that ignores the "bad" SSL cert used by the emulator. I would prefer to use v3 (the api is much nicer imo) but I cannot find a way to make it work.

P

[2019-11-04 17:03] ealsur commented on #831
In-memory would work like the current CFP, either start from the beginning, or start at some point in time, or from now on. No way to pass any other state.

[2019-11-04 20:45] joshlang commented on #961
Fantastic.  We've migrated to using the new TransactionalBatch (previously called Batch), and everything seem good.  Thanks!

[2019-11-04 20:45] #961 closed

[2019-11-04 22:12] AndreasHassing opened #972 "Allow consumption of Change Feed as a in-memory push model"
**Is your feature request related to a problem? Please describe.**
We're using ChangeFeedProcessor to update in-memory caches. When an instance of the application dies, a new one takes its place (either via rolling upgrade or failures) and the CFP lease is orphaned (requiring cleanup, sooner or later).

**Describe the solution you'd like**
Allow us to bypass the need for a lease container to read

[2019-11-05 00:28] wahyuen commented on #733
@bchong95 Just tested this on v3.4.0 which should have #952 in it....unfortunately I still think this is an issue?

Ran the same code as above...while it now does not exception out, it still seems to remove results from the result set depending on the order of items. Please see screenshot below where we expect to always return 5 results...but in test case 2 it seems to have only returned the `unde

[2019-11-05 09:35] dpgregory opened #973 "Retrieve multiple documents with Session Token"
**Is your feature request related to a problem? Please describe.**
When using GetItemQueryIterator I cannot see a way to pass in the session token.

**Describe the solution you'd like**
A way to retrieve multiple documents passing in a session token. One way would be to add session token to QueryRequestOptions and use it.

**Describe alternatives you've considered**
I can retrieve a single item us

[2019-11-05 13:12] TheOnlyBryan opened #974 "Group by queries not parsing on non-windows machines, or 32-bit processes - sends to gateway but errors"
**Describe the bug**
When processing a group by query, the call to CustomTypeExtensions.ByPassQueryParsing() returns a true for all non-windows machines, which then sends the query off to the gateway.  The gateway then reports an error: System.ArgumentNullException: Value cannot be null. Parameter name: orderedAliases

**To Reproduce**
Run a CosmosDB query on a non-windows machine, or a process th

[2019-11-05 16:07] j82w commented on #973
@bchong95 is there any reason to block making this property public?

[2019-11-05 16:08] j82w commented on #969
You should be able to configure it via the web proxy on the cosmos client configuration. It was added in version 3.2.0. Take a look at this [PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/743).

[2019-11-05 16:10] j82w commented on #974
@bchong95 is this a known issue?

[2019-11-05 16:20] bchong95 commented on #974
I think it's just waiting for a gateway deployment.

[2019-11-05 19:26] philwade commented on #969
@j82w per this comment: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/743#pullrequestreview-283833083 and the actual diff, it appears the disabling of SSL verification was removed from the pull request. I've tried to figure out if there is a way to use the WebProxy to disable it, but I haven't been able to find any examples. The API it provides doesn't present an obvious way. Could you poin

[2019-11-05 21:41] bchong95 commented on #733
If you are draining through continuation tokens then you are going to face issues with any form of mixed type ORDER BY (UNDEFINED and STRING in this case). This because ORDER BY undefined is defined but range filters on undefined are not. The backend will need to support key set continuation tokens for this to happen, which is further out.

You add IS_DEFINED to your filter to work around this.

[2019-11-05 22:02] ankitvijay opened #976 "Cosmos DB Automatic indexing"
I had originally posted this issue in `StackOverflow`. But have not received any responses there.
Here is the link of the issue: https://stackoverflow.com/questions/58703586/automatic-indexing-in-comos-db

**Describe the bug**
I'm trying to define indexing on few properties in Comos but having some issues with automatic indexing. As per the Cosmos DB [documentation](https://docs.microsoft.com/en-u

[2019-11-06 00:07] ausfeldt commented on #919
The workaround is the add the header the same way as ComputeTransportHandler.cs in Microsoft.Azure.Cosmos.Friends for Direct Mode. For Gateway the header will have to be added using "internal HttpMessageHandler httpMessageHandler" on DocumentClient

[2019-11-06 00:07] #919 closed

[2019-11-06 00:27] ealsur commented on #976
Question answered in SO.

[2019-11-06 00:27] #976 closed

[2019-11-06 00:37] hovsepm opened #977 "What is the point to declare internal abstract methods in the public abstract class that no-one will be able to use?"
**Describe the bug**
We use Cosmos SDK v3.2 and want to upgrade to v3.4 but since new version introduces internal abstract method in `public abstract class FeedIterator<T>` there is no way to compile the code anymore. We do implement FeedIterator class in our Mock infrastructure for testing purposes but now the new version throws `'MockCosmosQuery<T>' does not implement inherited abstract member '

[2019-11-06 01:43] j82w commented on #977
This is a bug the internal method should not be on the public type. We missed this on the PR. I'll work on a fix.

[2019-11-06 02:00] j82w commented on #977
The [PR ](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/978) is out. I'll try to get a hotfix out tomorrow. We are have a work item to include public samples as part of the test projects to prevent this in the future.

[2019-11-06 02:26] TheOnlyBryan commented on #974
Is there an ETA on gateway deployment?

[2019-11-06 15:18] fecalemos commented on #945
@j82w you are right because that is gateway mode but I tested two different ways:
1. .Net Core with console app are OK, when CosmosDB read the item with id and partitionKey successfully.
2. .Net Core with web api are NOT OK, can't postman access the endpoint? I got the error message (_Object reference not set to an instance of an object_) when CosmosDB tries to read the item using ReadItemAsync wi

[2019-11-06 15:28] Splaxi commented on #974
I'm building a Azure App Function and trying to debug it from Visual Studio. It fails just like mentioned by @TheOnlyBryan

I was however able to download the x64 version of the azure function core tools and use that while debugging and now things are running like expected.

https://stackoverflow.com/questions/50853396/debugging-x64-azure-functions-in-visual-studio

[2019-11-06 15:36] lisardggY opened #980 "Support per-request serializer/serialization settings"
**Is your feature request related to a problem? Please describe.**
Using the v2 SDK, we would pass customs serialization settings as part of a specific request's options - for instance, `CreateDocumentQuery` got passed in a `FeedOptions` instance with its own `JsonSerializerSettings`. This allowed us to have custom serialization settings for different calls, while still retaining a single `IDocume

[2019-11-06 17:39] j82w commented on #977
The reason there is internal is the SDK is used by internal parts of the service that have custom requirements. The internal projects have internal visible to so it can access the internal methods. The internal types should not impact the public types. There is now a unit test to avoid this type of breaking change in the future.

[2019-11-06 18:24] hovsepm commented on #977
Thanks for quick fix.

[2019-11-06 18:48] j82w commented on #980
If you want per request serialize settings you can use the stream APIs. Then you can control the entire serialization process this way.

[2019-11-06 20:28] #977 closed

[2019-11-06 22:01] bchong95 commented on #955
There exists some alternative:

[code]

But if `LinqExtenson.CreateNamedParameter<T>("@orgName", "Value1" )`

[2019-11-06 23:17] ealsur commented on #828
Sorry for the delay @pkaushik23.

I believe your approach is incorrect. You need to be doing the same thing as the `StringService`.

Go to your `Startup.cs`, register the `CosmosClient` as Singleton, and then inject it and use it.

Creating the `CosmosClient` in a button handler is not really following any of the Performance Tips and potentially can create a lot of instances in memory.

See https:

[2019-11-07 00:07] #980 closed

[2019-11-07 00:24] j82w commented on #977
@hovsepm the [3.4.1](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.4.1) is out. Please let me know if there is any issues.

[2019-11-07 07:39] pkaushik23 commented on #828
Thanks @ealsur  for the example code and your adivce.

Howevere there are few thing where in I am not sure if advised approach will help me. Please check following:

- I have a requirement where in I want to work with multiple accounts in the same application. So injecting a client which can work with a single endpoint may not help me. You can think of a use case where in you have a button, on cli

[2019-11-07 08:59] lisardggY commented on #980
While this is simple enough when replacing `ReadItemAsync<T>` with `ReadStreamAsync`, it gets more complicated when trying to replace `query.ToFeedIterator<T>` with `query.ToStreamIterator` and parsing the response message stream as a stream of documents.

[2019-11-07 15:29] ealsur commented on #828
If you need a service that generates instances of the CosmosClient based on some condition, then create such a service and register it as Singleton during Startup. Our recommendation is that instances should be kept and reused (https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#sdk-usage).

Even if you wrap the CosmosClient in a using, which will Dispose of the memory, the other pro

[2019-11-07 16:30] mpaul31 opened #982 "Question - Using ItemRequestOptions to Override Consistency"
If our database is configured for session level consistency and I would like to override that on a per read (query) using the `ItemRequestOptions`, am I able to go up to *strong*?

Or am I forced to create a stored procedure to do the read?

Thanks,

[2019-11-07 17:01] ealsur commented on #903
@thomaslevesque See the V4 (preview) package https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-dotnet-v4#query-the-items

[2019-11-07 17:01] #903 closed

[2019-11-07 17:10] j82w commented on #980
I don't think it that different to support query. There is a [sample ](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/23f3d1c30e509541ec71d2937ebb01c4e9b4ed32/Microsoft.Azure.Cosmos.Samples/Usage/Queries/Program.cs#L166) showing how to do it.

[2019-11-07 17:30] ealsur commented on #982
All reads and reads happening inside a Stored Procedure will, by default, use the account consistency https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels#configure-the-default-consistency-level

Are you getting some error while trying to do the read with Strong?

[2019-11-07 19:40] thomaslevesque commented on #903
Cool, thanks!

[2019-11-07 20:14] fecalemos commented on #945
@j82w Sorry, that mistake was bullshit for lack of my attention.. The problem. was already solved.
Thank you very much!

[2019-11-07 20:14] #945 closed

[2019-11-07 21:17] mpaul31 commented on #982
sorry, i should have clarified more. I am trying not to use a stored procedure and just instead call `container.ReadItemAsync` (or query) and pass in an `ItemRequestOptions` with a consistency set to strong.

so i'm wondering if i can go from *session* to *strong* on a per-read (query) basis *without* using stored procedure.

[2019-11-07 21:43] ealsur commented on #982
Yes you can, ItemRequestOptions has a Consistency property to override the account one.

What I don't understand though is the Stored Procedure mention. If your account is Strong, executing a Stored Procedure will also use Strong Consistency as per the link I shared.

Stored Procedures are meant to be used when you want a transactional scope, a group of operations that you want to either succeed o

[2019-11-07 21:49] mpaul31 commented on #982
that's the thing, our account is `session` *not* `strong`.

so we want to execute a read that is more restrictive without calling a procedure.

does that help?

[2019-11-07 22:01] hovsepm commented on #977
@j82w already referenced and confirming that it works. Thank for the fix!

[2019-11-07 22:13] ealsur commented on #982
You can then execute the ReadItem operation with Strong as the Consistency in the ItemRequestOptions.

[2019-11-07 22:49] mpaul31 commented on #982
It was a question from one of my team members so i will try myself and let you know.

i know you mentioned above all stored procedures use the specified account consistency but is this really true? i have to find where i read it but the doc mentioned stored procs always execute on the primary replica and are thus strong consistency.

[2019-11-07 23:05] milismsft commented on #929
This question will probably more appropriate to a Docker specific forum, in particular you would like to search for what's the difference between "docker run" versus "docker create" & "docker start"(https://docs.docker.com/engine/reference/commandline/create/)

Try the following:

set containerName=azure-cosmosdb-emulator
set hostDirectory=C:\emulator\bind-mount
mkdir %hostDirectory%
docker create

[2019-11-08 00:16] #929 closed

[2019-11-08 04:53] eddadjei commented on #974
Any update on this? Spent 8 hours today chasing down this issue. I noticed in the Microsoft.Azure.Cosmos.Query.QueryInfo class, the following is coming out as null.

 [JsonProperty("groupByAliases")]
        public string[] GroupByAliases
        {
            get;
            set;
        }
<img width="947" alt="Screen Shot 2019-11-07 at 10 52 06 PM" src="https://user-images.githubusercontent.com

[2019-11-08 14:23] mpaul31 commented on #982
to the top :)

[2019-11-08 15:50] fuocor opened #984 "Error in Microsoft.Azure.Cosmos.csproj"
There is an error in the csproj file that prevents the propagation of the ```DefinedConstants```

[code]

[2019-11-08 17:04] ealsur commented on #982
Sorry, I left this open and never clicked to send it.

I think this is going beyond the SDK and onto the conceptual ground.

From https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels#scope-of-the-read-consistency,

So doing the read from inside the stored procedure would have the same effect as doing the read from the SDK. It will apply either the account consistency or the request

[2019-11-08 17:24] mpaul31 commented on #982
here is the document i was talking about regarding stored procedures use strong consistency for reads.

Data consistency section below
https://docs.microsoft.com/en-us/azure/cosmos-db/stored-procedures-triggers-udfs

[2019-11-08 18:22] ealsur commented on #982
Interesting, they kind of contradict themselves.

@markjbrown Do you have any insights?

In any case, I believe that your original question regarding how to change the per-request consistency level can be marked as answered?

[2019-11-08 18:36] #671 closed

[2019-11-08 18:47] markjbrown commented on #982
It is not possible to set a stronger level of consistency than what is set in the account at the session level, it can only be relaxed.

Users should generally avoid using stored procedures for read operations because they only operate on the primary replica. This can become a bottleneck in very heavy read scenarios. The passage referred to above regarding strong consistency is intended for write-

[2019-11-08 19:19] #982 closed

[2019-11-08 19:42] mpaul31 commented on #982
thank you both!

[2019-11-08 19:43] mpaul31 commented on #982
@markjbrown is there any way i can send you a question offline via email?

[2019-11-08 19:53] markjbrown commented on #982
you bet. mjbrown <at> microsoft <dot> com

[2019-11-11 09:36] pkaushik23 commented on #828
Thanks again @ealsur for your answers, I will try to excute the ideas you advised. Mine was a blazor application hosted on client (Web Assembly), i assume the advise would be same for that hosting model too.

About having a singleton instance of service that gives me CosmosClient, the same should be followed as well used, when I have a api project? (this is an additonal question).

Thanks in advan

[2019-11-11 12:37] BharathPalanivelu commented on #974
Any resolution to this issue? Same code works in local machine but once pushed to Azure app service fails with this error message "cosmos System.ArgumentNullException: Value cannot be null. Parameter name: orderedAliases"

[2019-11-11 14:47] j82w commented on #974
We are working on the fix. If you run it as 64bit app on Windows you will not hit this issue. Hopefully we can give a timeframe later today.

[2019-11-11 16:57] ealsur commented on #828
The approach for a Web API would be the same, I have recently answered a similar question here with some sample code 😄

https://stackoverflow.com/a/58774933/5641598

[2019-11-11 17:57] j82w commented on #974
Can you please email at askcosmosdb@microsoft.com regarding this issue. This is a service issue, and we only work on the SDK.

[2019-11-11 18:53] Splaxi commented on #974
I believe you need to share a bit more in regards on the comment on the "This is a service issue, and we only work on the SDK".

Should we translate that into that the SDK is getting a bad request back from the CosmosDB service, but the error handling inside the SD, is unable to provide us with that information?

[2019-11-11 21:30] j82w commented on #974
Yes, that is how you should translate it. Here is a more detailed description.

In order to support group by queries several changes and information was added to the query plan. On Windows x64 machine there is a ServiceInterop.dll that can create the query plan locally, and has all the required changes. If you are on a platform that is not supported by the ServiceInterop.dll like Windows x32 appli

[2019-11-12 06:06] BharathPalanivelu commented on #974
App service is already running in 64-bit mode

**Following is the error log we receive.**

System.ArgumentNullException: Value cannot be null.
Parameter name: orderedAliases
   at Microsoft.Azure.Cosmos.Query.SingleGroupAggregator.SelectListAggregateValues..ctor(IReadOnlyDictionary`2 aliasToValue, IReadOnlyList`1 orderedAliases)
   at Microsoft.Azure.Cosmos.Query.SingleGroupAggregator.SelectListAg

[2019-11-12 06:13] Splaxi commented on #974
@BharathPalanivelu

Are you sure that your App Service is really running x64? 🤔 All my testing and everyone else that have reported this issue confirms that x64 works.

Even Microsoft officials confirm that they are aware of the issue with x86 and that x64 is not affected.

Could you try and follow the guide that I posted earlier in this thread and see if you can make it work?

[2019-11-12 06:37] BharathPalanivelu commented on #974
@Splaxi  let me try the guide and reply back...

i see my app service is 64-Bit

How i checked...
went to my App Service --> "Configuration" -> "General Settings" --> "Platform Settings"--> "Platform" --> "64-Bit"

Following is KUDU Environment details for my app service
System info
System up time: 3.00:44:58.6560000
OS version: Microsoft Windows NT 10.0.14393.0
64 bit system: True
64 bit process:

[2019-11-12 09:45] pkaushik23 commented on #828
I am trying to implement a service(to be registered as singleton) which generates instances of the CosmosClient.  but that also would involve overrriding the existing client everytime. following is a sketch of the class i am thinking.  How this would be different from directly instatiating a new object without a singleton registered  class? I feel, i am missing something but not sure what.

[code]

[2019-11-12 09:57] pkaushik23 commented on #828
@ealsur i think, i now understand what you meant, perhaps you meant registering a singleton service which has a collection (thread safe) which will maintain CosmosClient for each of the account I am trying to handle within my application (`` I want to work with multiple accounts in the same application``  my use case ).  Please feel free to close the bug , if you think my interpretation is correct

[2019-11-12 17:27] pkaushik23 commented on #828
Is problem of connections not releasing immediately, is relevant in .net core  ?
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.0&fbclid=IwAR1pALyvWdaHUZCF5tv2-J_zLq94OxroJk_OBOSc6XAaRDq7ZQH6ldF5fQU#httpclient-and-lifetime-management

[2019-11-12 18:07] ealsur commented on #828
It is, because that link only points at cases where you use `IHttpClientFactory`. If the code does a `new HttpClient`, then it can hit the connections issue, whether it runs on NET Core or NET Framework.

[2019-11-12 18:07] #828 closed

[2019-11-12 18:57] j82w commented on #974
@BharathPalanivelu the issue is the ServiceInterop.dll is not getting loaded in the App Service so it is falling back to the gateway to get the query plan. Please make sure the ServiceInterop.dll is in the same folder as the application. Please create a new issue if you want to further debug so we keep the discussion focused on the original issue.

[2019-11-12 23:20] kirankumarkolli opened #989 "[FEATURE] Expose SelfLink from *Properties"
Expose SelfLink from *Properties

In-cases or scenarios where SelfLink is required (ex: metrics of RU;s as of today), consumers of V3 have no simple way of correlating them.

Feedback: Are there are SDK API;s which are dependent on SelfLink's?
Any other context we should be aware of?

[2019-11-12 23:44] ealsur commented on #989
I am not aware of any features that require selflinks publicly.

Metrics can be obtained from [Azure Monitor](https://docs.microsoft.com/en-us/azure/cosmos-db/logging#interpret), and that is actually how the Portal renders them. For container metrics, you need the name of database and container, not the selflink.

[2019-11-13 00:00] kirankumarkolli commented on #989
@ealsur What are side-affects of exposing SelfLink from *Properties types?
Are there other RID/SelfLink gaps which will get exposed?

[2019-11-13 00:55] ealsur commented on #989
Not that I can think of, but besides metrics (which can be done without exposing SelfLinks), which is the requirement that needs them out there?

[2019-11-13 04:35] justinbhopper opened #990 "FeedIterator unexpectedly pre-fetches next page"
**Describe the bug**
The `FeedIterator<T>` fetches a page of results before it is requested.  A single call of `ReadNextAsync()` causes two POSTs to the cosmos API, rather one.

**To Reproduce**
Here is a [sample application](https://github.com/justinbhopper/cosmos-feed-issue/blob/master/Program.cs) that illustrates the problem.  Note `ReadNextAsync()` is only called once, but the console logs two

[2019-11-13 10:54] tedvanderveen opened #991 "[Gremlin API] Add support for Bytecode"
(When) will Gremlin bytecode be supported for CosmosDb Graph API?
Please refer to the [Existing issue in the V2 repo](https://github.com/Azure/azure-documentdb-dotnet/issues/439)
The MS docs state Bytecode support is not **[yet](https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-compatibility#unsupported-features)** available.
Any information/guidance on planning/availability is very much ap

[2019-11-13 13:17] j82w commented on #990
This is an optimization in the query code. The query code will buffer pages in parallel in the background to reduce the latency to the caller. You can set the [MaxBufferedItemCount](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/fad3d38ec594dcb1e0e97a22022a47c3079aaf05/Microsoft.Azure.Cosmos/src/RequestOptions/QueryRequestOptions.cs#L57) to 0 and the MaxConcurrency to 0 in the QueryRequestOp

[2019-11-13 13:20] j82w commented on #991
This is not related to the .NET SQL SDK and is more of a Cosmos DB Service question. Please email askcosmosdb@microsoft.com .

[2019-11-13 13:20] #991 closed

[2019-11-13 13:21] j82w commented on #989
@ealsur how does metrics works for recreated resources that have the same name? Is there any way for the user to correlate it?

[2019-11-13 14:18] bartelink commented on #990
I am observing a not dissimilar change in behavior in the 2.0 sdk (will check later which exact one - I suspect it got revved to 2.2 recently but)  in recent times...

I have 4 items and ask for max 2 items but get a response with 4 items (versus expecting to only get them when I ask for next page of results)

Is there a recent change in server behavior, or (as I assume is the case), is this absol

[2019-11-13 14:23] justinbhopper commented on #990
@j82w I have set MaxBufferedItemCount to 0 and MaxConcurrency to 0, but the output remains the same.  Please see my updated [sample application](https://github.com/justinbhopper/cosmos-feed-issue/blob/master/Program.cs#L50) to confirm I did this correctly.

Can we please reopen this issue?

[2019-11-13 14:25] bartelink commented on #990
Note I have [also been observing this behavior on the V3 SDK for some time](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/722#issuecomment-540626782**)**

[2019-11-13 14:33] j82w opened #992 "Add session token to diagnostics"
Add session token from the request and response to the diagnostics to better support troubleshooting session token issues.

[2019-11-13 15:00] j82w commented on #990
@bchong95 is this by design?

[2019-11-13 15:36] cipryd opened #993 "Question: Is there a way to invoke an UDF?"
In v2 there was UserDefinedFunctionProvider.Invoke to invoke an UDF and could use it in a LINQ query.

Is there a way to do this in v3 besides using it directly in an SQL query?

[2019-11-13 15:45] ealsur commented on #989
That, I don't know.

[2019-11-13 19:29] j82w commented on #990
This seems to be a bug in the way query is buffering the pages. Assigned to @bchong95 for the fix.

[2019-11-13 19:55] j82w commented on #990
The bug is in the [CosmosParallelItemQueryExecutionContext](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/fad3d38ec594dcb1e0e97a22022a47c3079aaf05/Microsoft.Azure.Cosmos/src/Query/Core/ExecutionContext/CosmosParallelItemQueryExecutionContext.cs#L155). The last iteration on the for loop causes it to move next which causes it to load another page. There is some other higher priority bugs bein

[2019-11-13 20:00] justinbhopper commented on #990
Not to question your team's priorities, but I want to note that this is causing all of our queries to double in RU cost because every query we make is requesting twice as many documents as was asked for.

This may very well explain many of the reports in other issues here where SDK v3 has worse performance than v2.

[2019-11-13 20:26] j82w commented on #990
This bug is a priority to get fixed. There is currently another [bug](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/988) where query is completely broken and is blocking a customer so it is taking priority. This bug where an extra page load is bad, but it doesn't impact any user draining the entire query. This should get prioritized next. If you want the fix faster please feel free to submi

[2019-11-13 20:31] justinbhopper commented on #990
I apologize for my wording - I was trying to add impact info without seeming to suggest that this bug's priority be increased.  The wording I chose didn't achieve that.  Of course performance issues would not be prioritized higher than functionality issues.

[2019-11-13 20:52] j82w commented on #990
No need to apologize. I should have been more clear that we had functional bug that is taking priority, and that this will get prioritized next. I'm just trying to be as transparent as possible with the reasoning behind the prioritization of fixes. We really appreciate the detailed bug report with the sample. We'll try to get the issue fixed as soon as we can.

[2019-11-14 07:30] wahyuen opened #994 "Question: Advice on setting AllowBulkExecution"
We are currently looking for some guidance into setting the new `AllowBulkExecution=true` flag for `CosmosClient`. We have a scenario in our WebAPI where we wish for a certain request to utilise this new feature, however, since we currently resolve in DI the same instance of `CosmosClient` per web request, we note that when we set the `AllowBulkExecution` flag it will also remain set (as expected)

[2019-11-14 13:22] j82w commented on #993
This appears to be a gap in the v3 SDK. The [class](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Linq/UserDefinedFunctionProvider.cs) is internal currently. There is some other extensions that need to be exposed to. It might need to be refactored into a `CosmosLinqExtensions` class.

[2019-11-14 13:55] j82w commented on #955
The issue with the alternative is param1 can be any type of object, and each param can be a different type. I think the inline method would be the better user experience has it makes it easy to see what the parameter name and value will be in the same line.

[2019-11-14 17:20] cipryd opened #996 "CosmosException Response status code 404: query '$resolveFor' is invalid"
I get the databaseId and collectionId from parsing a DocumentCollectionUri from v2 and try to use them as such in v3:

`GetContainer("RZwRAA==", "RZwRAPxiyBg=")`
For operations like _CreateItemAsync_ or get queries this works but for _ReadItemAsync_ and _DeleteItemAsync_ it throws this exception:
`Response status code does not indicate success: 404 Substatus: 0 Reason: (The value 'dbs/RZwRAA==/col

[2019-11-14 17:37] j82w commented on #996
V3 is named based. You need to use the container name and database name rather than the resource id.

[2019-11-14 17:37] #996 closed

[2019-11-14 18:13] ealsur commented on #994
Recommendation is to have a separate client for Bulk. You can use a Proxy class that contains one CosmosClient instance for Bulk and one not for Bulk, and use it in DI and pick the one you need for each scenario.

The AllowBulkExecution flag is set and remains set on CosmosClient creation, it cannot be changed.

[2019-11-14 21:02] j82w opened #997 "Fail fast and retry for get query plan"
On non-windows x64 systems that are dependent on the get query plan from the gateway it should fail fast and retry the request to decrease transient exceptions thrown to the user.

1. Pass a custom cancellation token that cancels after 5sec (still need to verify via telemetry on the time)
2. Catch the cancellation exception and retry the request.

Still need to investigate.
1. How to still honor t

[2019-11-15 00:45] kirankumarkolli commented on #989
How can they correlate for older container version metrics? (Unless version mapping are stored offline).

How about exposing this property now. We will have a choice to revisit in V4.
@ealsur , @j82w ?

[2019-11-15 00:47] kirankumarkolli commented on #686
These will get reviews part of V4 API review.

[2019-11-15 00:47] #686 closed

[2019-11-15 00:53] ealsur commented on #989
The question is, how can they obtain the metrics with the SelfLink if we expose it? Through the Resource Provider?

[2019-11-15 01:02] kirankumarkolli commented on #989
Yup. Its not this SDK issue.

[2019-11-15 02:03] #992 closed

[2019-11-15 05:11] #994 closed

[2019-11-15 07:51] kellyprankin commented on #977
Where are you finding this MockCosmosQuery? I need something like this.

[2019-11-15 09:15] cipryd commented on #996
Then why it works for _CreateItemAsync_ and _GetItemLinqQueryable_ with the id?

[2019-11-15 12:04] Jubast opened #1001 "Azure CosmosDB Unexpected Pagination Behaviour"
We are using CosmosDb C# SDK
We tried both: "Microsoft.Azure.Cosmos 3.4.1", "Microsoft.Azure.DocumentDB.Core 2.9.1 and 2.4.2"
We are getting invalid results and the main problems is the ResponseContinuation

This started showing in one of our smaller service with only 14 documents.

In all queryes we use the folowing headers:

 - "x-ms-documentdb-query-enablecrosspartition" = true
 - "x-ms-max-ite

[2019-11-15 18:48] joshlang opened #1004 "NullReferenceException in FeedIterator.ReadNextAsync"
Using 3.4.1

I'm aware of this: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/871 ... but this doesn't seem to be related to a serializer (although we do also use a custom serializer).

Our code is essentially:
[code]

Adding some debugging statements let us discover:  `query.ToString()` yields `{"query":"SELECT VALUE root FROM root WHERE ((root[\"Type\"] = \"Blockchain\") AND (NOT root[\

[2019-11-15 19:02] joshlang commented on #1004
By the way, `CreateFromPartitionedQuerExecutionInfoAsync` is spelled wrong in your internal class :D

[2019-11-15 19:09] joshlang commented on #1004
This touched the code and renamed it to TryCreateXXX instead of CreateXXX.  No idea if it fixed it, but just saying the 3.4.1 I'm using isn't the latest code: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/943

[2019-11-15 19:21] jdaaboul opened #1005 "Change feed processor name when using azure function"
I am using a cosmos db trigger which uses the change feed mechanism to listen for updates on the collection. In a different "codebase" I would like to be able to have an update on how much work is left for the change feed to finish processing all queue documents.

I was able to find this method which can help me : Container.GetChangeFeedEstimatorBuilder

However it takes a "processorName" by input

[2019-11-15 19:31] galvesribeiro commented on #969
@j82w do you have any clues on how to bypass the certificate issue?

I'm on the same boat as @philwade running the emulator on a VM on Mac OSX and right now I'm unable to do the use it.

I have a requirement on the batch transactions that is only available on SDK 3.x so I _must_ migrate to it but without tests, things get difficult...

[2019-11-15 19:49] galvesribeiro commented on #42
Folks, how is that PR fixing the SSL bypass issue? I don't see how to set the `HttpClientHandler` or other way to ignore the SSL cert. I'm on OSX with the same issue on the emulator...

Can someone shed a light on this? Thanks!

[2019-11-15 21:04] fuocor opened #1006 "TypeSystem.GetMemberName incorrectly applies naming policy when JsonProperty is supplied"
the naming policy is applied to member names even when they are lifted from JsonProperty. If the default policy is camel case but I want to force a property pascal then it will always fail to map correctly.

```...\src\Linq\TypeSystem.cs Line: 30```

[code]

additionally if you changed the method to the following you can support  ```System.Tesxt.Json.Serialization.JsonPropertyNameAttribute```

[co

[2019-11-15 21:09] fuocor commented on #1006
PS - you may want to do the same for the ```DataContractAttribute```...

[2019-11-17 06:39] bchong95 commented on #990
Resolved with #999

[2019-11-17 06:39] bchong95 commented on #974
Gateway hotfix is deployed.

[2019-11-17 06:39] #974 closed

[2019-11-17 06:41] bchong95 commented on #854
This is done in #839

[2019-11-17 06:41] #854 closed

[2019-11-17 06:43] bchong95 commented on #628
There are just too many of these too check for. Whitespaces is another example.

[2019-11-17 06:43] #628 closed

[2019-11-17 06:44] bchong95 commented on #417
This has been resolved. I just don't remember where.

[2019-11-17 06:44] #417 closed

[2019-11-17 06:45] #733 closed

[2019-11-17 06:48] #899 closed

[2019-11-17 07:44] wahyuen commented on #733
@bchong95 is there another ticket to track the work you mentioned regarding the range filters? this is still going to cause anyone who requires filtering on nullable columns with any sort of pagination to implement arbitrary work arounds (setting default values). Simply filtering out values without a value defined isn't really a viable solution for us (and one might assume other customers) given t

[2019-11-18 10:50] rangp opened #1008 "CreateAsync() does not honor connection mode gateway"
**Bug Description**
When calling `CreateAsync()` on a container I noticed via `netstat` that a lot of tcp connections to different endpoints in the port range 14000-14999 are opened to the server, although I set `ConnectionMode` in my CosmosClient to `ConnectionMode.Gateway`.

From the documentation [here](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips) I gathered that gateway m

[2019-11-18 13:11] fuocor opened #1009 "Microsoft.Azure.Cosmos.Response<T> should be refactored to enable response handling independent of resource type."
Microsoft.Azure.Cosmos.Response<T> should be refactored to in order to enable normalized handling of responses independent of resource type

[code]

[2019-11-18 13:12] j82w commented on #1008
You have to pass in the client options in the client constructor. Any changes made to the client options after the client is created will be ignored in most cases. Updating a client options after creating an instance should be blocked to avoid this confusion.

[code]

@kirankumarkolli and @ealsur should we make client options have a read only class that is used after an instance is created to avoi

[2019-11-18 13:15] j82w commented on #1004
@joshlang any chance you can provide a simple console app with a repo?

@bchong95 any suggestions?

[2019-11-18 13:19] j82w commented on #1009
This seems like a duplicate of this [issue](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/842). Please feel free to submit a PR.

@kirankumarkolli do you see any issues with this?

[2019-11-18 13:30] rangp commented on #1008
@j82w Ah, yes, thank you! I did not realize it would make a difference. But I can confirm that it works as expected, if I pass it in the constructor.

[2019-11-18 14:03] j82w commented on #996
Are you talking about the document rid or the document id?

[2019-11-18 14:06] j82w commented on #977
`FeedIterator<T>` is an abstract class. You can extend it to do testing or use it to create a Mock.  MockCosmosQuery is hovsepm custom class they created.

[2019-11-18 14:45] j82w commented on #989
I don't see any issue with exposing it in v3. We should create a separate issue to track v4 so it's not forgotten.

[2019-11-18 14:45] fuocor commented on #73
I did an analysis of the impact to remove Json.Net from the core libraries while continuing to provide backward compatibility.
The approach I would consider is removing all the strongly typed classes and methods from the core functionality and replace Stream with Memory<byte>.

From there is would use dependency injection in the client builder to layer in the typed classes and methods. This way Sy

[2019-11-18 16:43] bchong95 opened #1014 "And to end query mock"
We should add end to end query mocks at some point. That way it would be easy to inject 429s and see how the whole system reacts.

[2019-11-18 20:23] joshlang commented on #1004
Well this was annoying to debug.  Ok, so here's what I've found so far.

It *is* related to the use of a serializer, but it still seems to be a SDK bug.

If I construct my client like this, everything works fine:
[code]

If I construct my client with a serializer like this, everything works fine **FOR WINDOWS** but crashes with a NotImplementedException in **LINUX**
[code]

The test query I'm doin

[2019-11-18 20:39] joshlang commented on #1004
Here's a minimal repo:

[code]

This is a .Net core 3.1 console app.  With `<LangVersion>8.0</LangVersion>` in the csproj file.  Add the default `Dockerfile` (Linux).

F5-debugging works, and outputs `I'm alive!`.

Build & run in linux docker container and It'll explode.

[2019-11-18 21:00] bchong95 opened #1019 "Nested LazyCosmosElement should cache results."
CosmosArray.Count is very inefficient, since it re-enumerates all the items. We should add a cacheing layer to avoid this.

[2019-11-18 22:56] ealsur commented on #984
@ausfeldt What do you think about this one?

[2019-11-19 00:24] joshlang commented on #1004
Deepening the mystery... It *does* crash in windows when I'm running code in an XUnit test project, but not in an identical console app project.  Both netcoreapp3.1.

But I'm not sure that helps with this fix.

[2019-11-19 00:47] joshlang commented on #1004
Shallowifying the mystery...

The problem occurrs in **x86** mode only.  **NOT x64**.

This is why it runs in a console app (x64) but not in XUnit (x86).

This is why it runs in our local dev environment on windows (x64) but not when deployed on linux in kubernetes (x86).

While the mystery factor is now reduced, the WTF factor has increased.

[2019-11-19 01:32] ausfeldt commented on #984
this was already merged in PR #1011

[2019-11-19 03:41] wahyuen opened #1024 "ThroughputResponse reads wrong header for IsReplacePending"
**Describe the bug**
`ThroughputResponse.IsReplacePending` currently evaluates to a `FormatException` as it reads from the `WFConstants.BackendHeaders.MinimumRUsForOffer` header

**To Reproduce**
Scale the database to a value that requires more allocation at the backend, attempt to read `ThroughputResponse.IsReplacePending` flag

**Expected behavior**
`True` or `False` value to be returned

**Actu

[2019-11-19 08:28] stzhmsfttest commented on #458
I would like this feature as well.
We want to have the usage of custom handlers to be able to integrate with our web api flow as well which it will be convenient to pass custom parameters in Properties for handlers to deal with.

[2019-11-19 14:27] j82w opened #1025 "VNext SDK should make CosmosClientOptions readonly"
**Is your feature request related to a problem?
The CosmosClientOptions are currently exposed as a property on the CosmosClient. The CosmosClientOptions has both set and gets. The set methods are not supported once a client is created. This leads to user confusion like issue #1008.

**Describe the solution you'd like**
Make a builder pattern where the client options are cloned to a read only objec

[2019-11-19 14:27] #1008 closed

[2019-11-19 16:44] joshlang commented on #871
FYI:  Using cosmos change feed is completely blocked for us until this is fixed.  We can't deserialize CosmosFeedResponseUtil.

[2019-11-19 17:02] j82w commented on #1004
It's likely something similar to #974.  It seems like the gateway is giving some response the client is not correctly handling. @bchong95 will be investigating the issue.

[2019-11-19 21:55] fuocor opened #1026 "ReadItemStreamAsync with ResourceToken throws UnauthorizedException"
**Describe the bug**
When using ReadItemStreamAsync and a ResourceToken, if the token does not have access to the resource DocumentClient is throwing an exception
[code]
given that a Stream is being used my expectation is for the failure to be in the HTTP status code and not have do deal with the exception.

Additionally, given that UnauthorizedException is internal to Microsoft.Azure.Cosmos.Direc

[2019-11-19 22:43] j82w commented on #1026
This is a bug. This exception should have been converted to a ResponseMessage somewhere higher in the stack. The caches have not been converted to be exception-less yet. The current workaround around is the code should catch the exception and convert it. It looks like during the lazy client initialization that loads the caches there is path that is not correctly handling it.

[2019-11-19 22:57] fuocor opened #1028 "GetItemLinqQueryable and ResourceToken does not work with cross partition query"
**Describe the bug**
If you create Partition Permission  and create a cross-partition  Query on the container, it will throw an ```UnauthorizedException``` from ```IAuthorizationTokenProvider.GetUserAuthorizationToken```

**To Reproduce**
[code]

**Expected behavior**
return empty result. The caller should not need Read permission on the container to execute the statement.

**Actual behavior**
```

[2019-11-20 07:31] kenewbie opened #1030 "Weird results for .tail() in Gremlin API"
**Describe the bug**

.tail() does not return entries from the end of a list of vertices

**To Reproduce**

Create an empty graph partitioned on 'a' and seed with the following:

[code]

I expected .tail() to return from the end of the list
Whats weird is that when i select just a property it works just as I expected:

[code]

I have also managed to get it to work by doing a .fold().unfold() befor

[2019-11-20 12:43] fuocor opened #1031 "DocumentClient cannot resolve resource tokens that do not end with a slash"
**Describe the bug**
```IAuthorizationTokenProvider.GetUserAuthorizationToken``` cannot resolve resource tokens that do not end with a slash

[code]
**Environment summary**
SDK Version: Source
OS Version Windows10

[2019-11-20 12:51] j82w commented on #1028
Does it work if you set the QueryRequestOptions.PartitionKey to the Partition you gave it permission to?

[2019-11-20 12:56] j82w commented on #1030
Please email askcosmosdb@microsoft.com for help. I'm not aware of any github repos for Gremiln API. You can also post on StackOverflow, but the email will get the fastest response.

[2019-11-20 12:56] #1030 closed

[2019-11-20 12:57] j82w commented on #1031
@ausfeldt any ideas?

[2019-11-20 14:26] j82w commented on #871
@ealsur  does PR #944  fix this issue?

[2019-11-20 15:16] #1024 closed

[2019-11-20 15:41] ealsur commented on #871
Yes, it fixes using a custom serializer with Change Feed, as it will only used for the Delegate changes.

[2019-11-20 15:52] j82w commented on #871
We should be doing a release later this week or early next week. Just waiting on a few more PRs to get merged first.

[2019-11-20 15:54] joshlang commented on #871
That timeline will work for us.  Thanks!

[2019-11-20 16:41] TestUserAz opened #1032 "CosmosDB returns 500 while querying document by documentId which has a trailing space to it, 404 expected"
I am using cosmosdb sql sdk in my application while querying document by using its id mistakenly left trailing space along with id value, cosmos returns error 500 with below error message,

"The input authorization token can't serve the request. Please check that the expected payload is built as per the protocol, and check the key being used. Server used the following payload to sign:"

The above

[2019-11-20 16:57] ausfeldt commented on #1031
looking into it.

[2019-11-20 17:12] j82w commented on #1032
This is the v2 SDK. Please post the issue on the [v2 repo.](https://github.com/Azure/azure-cosmos-dotnet-v2)

[2019-11-20 17:12] #1032 closed

[2019-11-20 19:49] fuocor opened #1034 "FeedIterator.ReadNextAsync() returns ErrorMessage with expired resourceToken"
**Describe the bug**
I am not sure this is a bug but...
When calling ```FeedIterator.ReadNextAsync()``` with an expired/used ResourceToken the ```StatusCode == HttrpStatusCode.Forbidden``` and the content has
[code]
and an ErrorMessage of:
[code]

My question is that just about everywhere else in the SDK the messages seem to get pushed into the response content and headers. Is this by design?

**E

[2019-11-20 20:28] fuocor opened #1035 "TransportHandler.ProcessMessageAsync overwrites Authorization provided by a custom RequestHandler"
**Describe the bug**
When using ResourceTokens that may expire, I have a custom ```RequestHandler``` that will pull an updated token and write it to the ```RequestMessage.Headers```. The ```TransportHandler.ProcessMessageAsync``` does not check for an existing  header before overwriting it with the expired value.

[code]
**Environment summary**
SDK Version: Source
OS Version (e.g. Windows, Linux,

[2019-11-20 20:39] j82w commented on #1035
If the authorization token supplied to the client is expired you need to create a new client. There currently isn't any way to rotate keys once a client is created. The authorization token is used in a few other places for updating caches. By not updating the token everywhere it will cause the SDK to eventually fail in unexpected ways.

[2019-11-20 21:07] fuocor commented on #1035
That make the use of a token broken particularly inefficient...

[2019-11-20 21:23] j82w commented on #1004
After further investigation I'll be working on a fix for this.

[2019-11-20 22:10] #938 closed

[2019-11-21 12:51] j82w commented on #1035
I agree that it's not very efficient. There should be an API to rotate the key on the client.

@kirankumarkolli any suggetions?

[2019-11-21 13:39] j82w commented on #1034
This is a bug. I have a PR out with the fix. The content will be null on failure.

[2019-11-21 15:12] kirankumarkolli commented on #1035
Its a different scenario then multi-tenant scenario discussed in #651. Later might be a possible work-around for this scenario.

But ideally IMO what this scenario requires is a first class support to "Swap credentials" at client level. Any changes deep in the stack are non-trivial to test and validate across.

@ealsur V4 should definitely have this capability. Thoughts on in-corporating it in V3?

[2019-11-21 16:25] j82w commented on #1035
@ausfeldt will implementing a swap credentials be easier once the work is done for the auth fix you are working on?

I don't see any reason to not support it in v3. It's not a breaking change.

[2019-11-21 17:33] lukasz-pyrzyk opened #1039 "How to migrate from thread-safe DocumentClient`?"
I work on the migration from `SDK v2` to `SDK 3` in the performance-critical application.
In SDK v2, the recommendation was to use single `DocumentClient` across for all queries, even in parallel, since this class is thread-safe.

What is the recommendation for `SDK v3`? In the past we had `DocumentClient`, but now we have `CosmosClient`, `Database` and `Container`. From the [samples ](https://git

[2019-11-21 17:45] j82w commented on #1039
CosmosClient, database, and container are thread safe. For the best performance use the same Container for all the operations. Creating a new Container for each call will cause unnecessary overhead.

[2019-11-21 17:52] lukasz-pyrzyk commented on #1039
Thanks. I think it would be worth to clarify it somewhere, for example in https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips. For me, it sounds correct, but I wasn't sure.

[2019-11-21 18:00] j82w commented on #1039
@ausfeldt can you do the documentation update?

[2019-11-21 18:47] #917 closed

[2019-11-21 19:38] ausfeldt commented on #1031
There is a work item to fix this issue in the backend. Until backend is fixed, as a workaround we can handle the slash in the SDK.

[2019-11-21 19:43] ausfeldt commented on #1035
I think it should be both v3 and v4.

[2019-11-21 21:23] #1034 closed

[2019-11-22 07:45] lukasz-pyrzyk opened #1043 "Queries with sync-over-async hang"
**Describe the bug**
I work on the migration from SDK v2 to SDK v3 in the ASP.NET web project which runs on the .NET Framework 4.6.1. Because of the contract of the 3rd party library, I'm forced to do sync-over-async calls.

After migrating to SDK v3, I notice that my app hangs on communication to the database. First query to the database completes, but any other hangs.

I was thinking that some `

[2019-11-22 12:15] j82w commented on #1043
Is it just query or do point operations also get stuck?

[2019-11-22 12:49] lukasz-pyrzyk commented on #1043
Yes. It gets stuck on point operation with `ReadItemAsync` and Stored Procedure execution.

Both cases got stuck on the `LoadBalancingPartition.RequestAsync`. Parallel stacks below

ReadItemAsync:
![parallelStack](https://user-images.githubusercontent.com/5083018/69426806-6311f780-0d2e-11ea-8fb6-2b0bfb6f92ee.PNG)

Stored Procedure:
![parallelStackSp](https://user-images.githubusercontent.com/50830

[2019-11-22 13:32] #973 closed

[2019-11-22 17:13] Masood10 opened #1046 "Cosmos DB: Gremlin API Request too large exception."
I have a Throughput of 1000 RU/s in my Azure Cosmos DB and I have around 290 queries to be executed. I keep getting request too large exception.

Each query have 12 properties and 1 Partition key but I still think with 1000 RU/s the queries should be executed properly.

I have a gremlinClient

        public static GremlinClient GetGremlinClient()
        {
            var gremlinServer = new Grem

[2019-11-22 17:18] j82w opened #1047 "Create unit test for substatus code"
Create tests for the following scenarios:

1. Validate new sub-status codes work correctly
2. Validate the sub-status code is not lost and returned in the headers

[2019-11-22 18:37] j82w commented on #1046
This repo is only for the .NET SQL API. Please email askcosmosdb@microsoft.com

[2019-11-22 18:37] #1046 closed

[2019-11-22 21:16] j82w commented on #1043
Are you using the latest 3.4.1 .NET SDK? There was a bug in version before 3.2.0 that was fixed in PR #761

[2019-11-23 00:27] joshlang opened #1048 "TransactionalBatchOperationResult is missing a mocking constructor."
TransactionalBatchOperationResult has a private parameterless constructor.  Please make it protected instead of private.  This will let us mock it so we can unit test batch code.

[2019-11-23 00:50] joshlang commented on #1048
...Tried to push this to a new branch & create a pull request to save you guys time, but I have no access.  Doh.

[2019-11-25 08:11] Jubast commented on #1001
Any progress on this?

[2019-11-25 08:30] perkops opened #1052 "Minor spelling issue in argument exception message for ContainerCore.Items.cs"
**Description**
In the file "https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.Items.cs"

The line

"throw new ArgumentException("Stream is needs to be seekable", nameof(stream));"

needs to be changed to

"throw new ArgumentException("Stream needs to be seekable", nameof(stream));"

[2019-11-25 13:03] j82w commented on #1048
Thanks for the PR.

[2019-11-25 13:06] lukasz-pyrzyk commented on #1043
Yes, I use the latest SDK.  @j82w, the smallest repro is in https://github.com/lukasz-pyrzyk/CosmosDbSyncOverAsync . You need to setup environment variables to connect to the database, I've added notes to the readme.

[2019-11-25 13:17] j82w commented on #1001
@bchong95 can you take a look at query 2 and 3?

For Query 1 it looks like you hit a common issue which is people misunderstand the max item count. The max item count is a maximum. There is no minimum. Empty pages are possible. For your scenario it looks like you have at least 2 partitions in Cosmos DB. The SDK went to the first partition and got 7 results and the other 7 results are on the second

[2019-11-25 16:19] ealsur opened #1054 "CosmosClientOptions should set DefaultApplicationId"
`CosmosClientOptions` contains `ApplicationName`, but Core SDK contains `ClientOptions.DiagnosticsOptions.ApplicationId` for the same reason.

To avoid duplication, we can remove `ApplicationName` in favor of `ClientOptions.DiagnosticsOptions.ApplicationId`

[2019-11-25 17:04] j82w commented on #1054
The user agent string should be added to every diagnostics.

[2019-11-25 18:17] ealsur commented on #1043
Are you using IHttpHandler in the real solution or was that only for the repro?

[2019-11-25 18:41] lukasz-pyrzyk commented on #1043
It's taken from the real app

[2019-11-25 18:45] ealsur commented on #1043
Have you consider IHttpAsyncHandler? Since this involves an async operation?

You mention that you were using V2 SDK, could you share how were the queries being executed?

For example, What was the V2 version of :

    var dbClient =  _containerFactory;
    var partitionKey = new PartitionKey(clientId.ToString());
    var query = dbClient
        .GetItemLinqQueryable<ClientEntity>(requestOptions:

[2019-11-25 18:56] ealsur commented on #1043
I also managed to get the same deadlock using the V2 SDK client on the Repro project, calling `DocumentClient.ReadDatabaseAsync` from within the `HeartbeatRouteHandler` locks in the same way.

[2019-11-25 19:26] lukasz-pyrzyk commented on #1043
I did, unfortunately I cannot move. I'm reusing 3rd party handlers and injecting my `CosmosDBRepository` to them with a strictly coupled synchronous interface. That's why I did ugly sync-over-async.

Sure. I've added new branch called `v2` to the repository, https://github.com/lukasz-pyrzyk/CosmosDbSyncOverAsync/tree/v2

Can you show me the code? In the branch, I've committed a code which works co

[2019-11-25 19:40] ealsur commented on #1043
To rule out anything about Queries, I added a method on the Repository:

    public async Task<bool> CheckIfDatabaseExistsV2()
    {
        try
        {
            await _oldClient.ReadDatabaseAsync(UriFactory.CreateDatabaseUri("Test"));
            return true;
        }
        catch (DocumentClientException ex) when (ex.StatusCode == HttpStatusCode.NotFound)
        {
            return fals

[2019-11-25 20:10] ealsur commented on #1043
It looks like the issue is, when running async over sync, the Synchronization Context.

If I put the V2 ReadDatabaseAsync call inside the Repository class and call it with GetAwaiter from the Handler, it locks (the Repository class has an `await`).
But, if I call the V2 ReadDatabaseAsync call from the Handler, with GetAwaiter, it works. (leaving the Repository class out of the picture).

One easy

[2019-11-25 21:14] lukasz-pyrzyk commented on #1043
Thanks @ealsur for digging in! The issue is definitely related to the Synchronization Context. I tried to reproduce the issue with xunit tests and it doesn't occur, only with ASP.NET which has a synchronization context.

According to your sample, I would like to point out one thing. You have a hang on V2 SDK because you don't have `ConfigureAwait(false)` on the async call inside repository. When y

[2019-11-25 21:24] ealsur commented on #1043
Thanks for the catch!
If you wrap your call in the RouteHandler in Task.Run, does it work correctly in your real project?

[2019-11-25 21:54] lukasz-pyrzyk commented on #1043
Well, in real app I have some kind of dynamic injecting and abstraction, but I quickly checked - With `Task.Run` it doesn't hang

[2019-11-27 01:21] daxfohl opened #1055 "Can we infer the id in ReplaceItemAsync?"
ReplaceItemAsync requires an explicit id field as an argument.

The id field will always be present on the data object, so this seems redundant and it seems the SDK should be able to infer it.

The SDK does infer the partition key if none is passed in explicitly, so inferring the id would also make the API more consistent.

[2019-11-27 05:58] Smoovsky opened #1056 "[4.0.0-preview]GetItemQueryStreamIterator returns only the first response value"
**Describe the bug**
GetItemQueryStreamIterator returns only the first response value.
If I use await foreach or while...MoveNextAsync(), iteration will only occur once, while the result surely should return more than one entry.
If I use await ...ToListAsync() from System.Linq.Async, the result yields list with correct length(matching the number of items it should return), but with the first item

[2019-11-27 10:37] #1056 closed

[2019-11-27 10:38] Smoovsky commented on #1056
Dumb me, all items are returned in one response

[2019-11-27 12:36] j82w commented on #1055
ReplaceItemAsync supports changing the item's id field. Which is why the id value is required. It could be optional and extracted as you pointed out. The down side to this is the performance hit of extracting the id. I do agree that this would make the API easier to use.

@kirankumarkolli what is your opinion?

[2019-11-27 14:14] daxfohl commented on #1055
I didn't know changing the ID was possible. The docs state

idString <https://docs.microsoft.com/en-us/dotnet/api/system.string>

The cosmos item id, which is expected to match the value within T.

So if it is possible, the docs need corrected. Either way I'd still vote
for making the id field inferred where possible, unless the perf cost is
greater than I'm imagining. (and if it is then consider

[2019-11-27 16:17] #1048 closed

[2019-11-27 16:59] joshlang opened #1057 "Gotcha: Max 100 items per batch!?!"
I tried to create 101 documents in a batch and received a `400 (Bad Request)` result from the server with the error `Batch request has more operations than what is supported.`

Creating 100 documents works fine.  Clearly, there is a **limit of 100 operations per batch**.

This is consistent with the table storage API.  But ...really... who's ever heard of that, even :D

There's no documentation I

[2019-11-27 18:04] ashwini-mnnit opened #1058 "CosmosException with throttling status code."
We have recently observed  in our telemetry that the V3 sdk is throwing exception on 429 error.

CosmosException;StatusCode=429;SubStatusCode=3200;ActivityId=88d1420d-9345-4510-bf1b-c4943d23ace9;RequestCharge=0.76;Message=Response status code does not indicate success: 429 Substatus: 3200 Reason: ().;

[2019-11-27 18:27] ealsur commented on #1058
This is expected, SDK will retry on 429 but if the amount of retries exceeds the configured retries, it will throw. It's the same behavior as the V2 SDK.

Are you using the Stream APIs?

[2019-11-27 19:53] joshlang opened #1059 "ExecuteStoredProcedureStreamAsync is only half-Stream"
tldr: I would like an overload of `ExecuteStoredProcedureStreamAsync` which takes a `Stream` as a parameter.

Scripts.`ExecuteStoredProcedureStreamAsync` returns a ResponseMessage (aka Stream) so we can handle it however we wish.  Streams are handy because we can control serialization (and other reasons).

However, it takes `dynamic[]` as a parameter representing the parameters to the stored proce

[2019-11-27 20:17] joshlang commented on #1059
This would also bring `ExecuteStoredProcedureStreamAsync` into line with other stream methods like `CreateItemStreamAsync`, `UpsertItemStreamAsync`, and `ReplaceItemStreamAsync`, which all accept a stream payload and return a `ResponseMessage`.

[2019-11-27 20:45] j82w commented on #1055
The only operation that infers the id is the `CreateItemAsync<T>` . Read, Delete, and Replace all require the id. The `CreateItemAsync<T>` does a post operation so the URL to the service does not need the id. The service extracts the id value from the body. For the other operation the id is part of the URL that is used to access the item. The SDK needs the id before it can send the request to the

[2019-11-27 21:55] daxfohl commented on #1055
`UpsertItemAsync<T>` infers the `id` too.  I imagine that as a PUT with the id in the URI, same as `ReplaceItemAsync<T>`, but with different header?  Or is that a POST like `CreateItemAsync<T>`?  Anyway yeah I can see the issue here, with `CreateItemAsync<T>` there's no need to extract the `id` before sending the request, whereas `UpdateItemAsync<T>` needs to know the `id` value in order to determ

[2019-11-28 10:55] TechWatching opened #1063 "Enum cannot be serialized as string in CosmosDb"
I have an object that I wan't to save as a document in a CosmosDb container. This object contains some Enum properties. I did not find a way to serialize these properties as string in CosmosDb. They are serialized as their int value. I looked at CosmosSerializerOptions but I did not see a way to configure that.

Moreover, on my object the id of my document is also an ennum property so when I try t

[2019-11-28 12:56] PrzemekGawron opened #1064 "Queries does not return results from more than one physical partition"
**Describe the bug**
Due to the fact we are approaching to maximum allowed size for single partition we've decided to migrate documents to partitioned collections using yyyy_MM as partition key. All looked good until probably cosmos db decided to use second physical partition. Then all the queries started to ignore all documents that are sitting in new partitions. The only way to get these documen

[2019-11-28 13:46] j82w commented on #1064
Please take a look at the [query samples](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/94d517b69245fd75185d8e364c721cb3fe42da74/Microsoft.Azure.Cosmos.Samples/Usage/Queries/Program.cs#L199). ReadNextAsync is doing a single page to a single partition. This allows the query to be cancelled more frequently, and allows you to process a single page at a time for scenario when all results will n

[2019-11-28 13:46] #1064 closed

[2019-11-28 13:55] j82w commented on #1063
The SDK is using newtonsoft as the [default serializer](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Serializer/CosmosJsonDotNetSerializer.cs). The CosmosSerializationOptions are setting that we found most users were setting and added to reduce friction. There hasn't been any other request for enums to string. You can specify a custom serializer on the [Co

[2019-11-28 13:58] j82w commented on #1058
This [exception](https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-dot-net-sdk#request-rate-too-large) means that you need to scale the container throughput up. The request are getting throttled.

[2019-11-28 13:58] #1058 closed

[2019-11-28 14:06] TechWatching commented on #1063
If the default serializer is newtonsoft shouldn't the attribute `[JsonConverter(typeof(StringEnumConverter))]`allow me to do what I want witout having to change settings ?
When you say that I can specify a custom serializer on the CosmosClientOptions you mean I have to dupplicate the `CosmosJsonDotNetSerializer` and only change my settings, that's right ? Just for a setting on enum, it's seems wei

[2019-11-28 16:16] j82w commented on #1063
I did some testing and putting `[JsonConverter(typeof(StringEnumConverter))]` on the enum class or the property correctly serialized it to a string instead of a number.

[2019-11-28 16:21] TechWatching commented on #1063
🤔, I have to check my code. I have been trying without success to do that. Maybe I misplaced the attribute. I check and let you know.

[2019-11-28 16:33] j82w commented on #1063
Here is a PR #1065 of what I did.

[2019-11-28 16:47] TechWatching commented on #1063
Strange, I checked my code and everything seems fine. I have similar code than your PR and can't make it work... I always end up with a number in my document. I will check your PR more thoroughly to check for differences with what I have done. Thanks for the PR anyway.

[2019-11-28 17:16] TechWatching commented on #1063
I took your code and executed it in a new console app querying a real cosmos db and I got the same error that I had :
`Response status code does not indicate success: 400 Substatus: 0 Reason: (Message: {"Errors":["The input name '3' is invalid. Ensure to provide a unique non-empty string less than '1024' characters."]} `

[2019-11-28 19:12] j82w commented on #1063
By any chance do you have `using system.text.json` in your project? Is it a .net core 3.0 app? My only thought is that the `[JsonConverter(typeof(StringEnumConverter))]` is from the wrong package and that's why it's getting ignored.

[2019-11-28 19:27] j82w commented on #1063
Here is a simple console app that I tested and verified it worked.
[v3EnumTest.zip](https://github.com/Azure/azure-cosmos-dotnet-v3/files/3902882/v3EnumTest.zip)

[2019-11-28 21:26] joshlang opened #1066 "AsyncCacheTests test fails (locally)"
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/94d517b69245fd75185d8e364c721cb3fe42da74/Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/AsyncCacheTest.cs#L168

This assertion is what fails the test when I run it locally.

The assertion doesn't seem to make sense - it's a race condition at best. After the cancellationTokenSource is .Cancel()'ed, getTask1 can complete at any time, in

[2019-11-28 21:40] TechWatching commented on #1063
I succeeded to make it work. Thank you so much for your help @j82w !
What is weird is that I did the same thing that I was doing before but from another laptop. I wonder what was causing the issue ... but nevermind it works now, I will check my work laptop tomorrow.
I close the issue but I think it would make sense to add a setting for enum in the `CosmosSerializerOptions` in a future version of t

[2019-11-28 21:40] #1063 closed

[2019-11-29 08:00] TechWatching commented on #1063
By the way, you were right @j82w, on my console app where I tested, the JsonConverter attribute was the one from system.text.json and the StringEnumConverter from NewtonSoft. That was probably the same issue in my project. Quite easy to get lost 😃, I was lucky you were there to guide me in the right direction, thanks.

[2019-11-29 11:26] lukasz-pyrzyk opened #1067 "Hang on calling database from Lazy<T> initialization by multiple threads"
Looks closely related to the #1043

**Describe the bug**
I've migrated two projects from SDK v2 to V3. After migration I noticed that tests are dramatically slower and they hang randomly. They all pass only when parallel execution is disabled.

**To Reproduce**
I've submitted repro to the https://github.com/lukasz-pyrzyk/CosmosDbHangWithParallelTests. It has also branch with SDK V2, which works co

[2019-11-29 11:31] TechWatching commented on #893
@ryazan05  Would you have a more complete sample by any chance? I have trouble to see how to apply your solution in my context.

[code]

[2019-11-29 14:11] AlanMacdonald opened #1068 "Diagnostics string incorrect retrievedDocumentCount"
**Describe the bug**
Queries with where clauses end up with a diasgnostics QueryMeticText with a retrievedDocumentCountvalue that appears to ignore the where clauses

**To Reproduce**

1. Insert an item to a CosmosDB with a property called Key1 set to "Value 1"
2. Insert another item to a CosmosDB with a property called Key1 set to "Value 1"
3. Insert an item to a CosmosDB with a property called K

[2019-11-29 23:27] joshlang commented on #1057
FYI: While testing, I was able to create ~8400 documents (empty-ish) with a single call to a stored procedure on a collection with only 400 RU/s allocated.  Results are variable, of course.

[2019-11-29 23:48] joshlang commented on #1068
So, in this case, you're probably scanning every document because your query is CONTAINS(LOWER(c.key1).  The engine can't use an index to speed that up.

Also fyi:  A document with `key1 = value111111111` would also match

`retrievedDocumentCount` is the number of documents cosmos had to load to consider your query.  Some are excluded (by your `WHERE` clause), and `outputDocumentCount` is the numb

[2019-12-01 14:27] KristianJakubik opened #1069 "Support SourceLink"
**Is your feature request related to a problem? Please describe.**
I think it would be helpful to be able to debug the sdk. It will speed up the integration within the projects in general and gives you a better understanding what's going on under the hood.

[2019-12-02 08:52] AlanMacdonald commented on #1068
@joshlang thanks for the response and the suggestion of storing the transformed key. We want to support substring searches, so even if we stored the value lower we still need the CONTAINS which will mean retrievedDocumentCount will not be what we want / expect based on what you are saying. It sounds like we have to persevere with a separate COUNT query to get the total number of items across all p

[2019-12-02 12:47] j82w commented on #1069
This looks really interesting. @kirankumarkolli do you see any issue with adding [SourceLink](https://github.com/dotnet/sourcelink) support?

[2019-12-02 12:48] j82w commented on #1068
@bchong95 do you have any suggestions?

[2019-12-02 13:36] j82w commented on #1067
Calling async code from sync code is known to cause deadlocks. Is there any reason you are not using an AsynLazy to avoid sync code?

[2019-12-02 13:48] j82w commented on #1066
The test `TestCancelOnOneThreadCancelsOtherTaskIfCanceled` also failed for me, but for some reason it seems to be passing in the gates.

[2019-12-02 15:35] ealsur commented on #805
Closed by #941

[2019-12-02 15:35] #805 closed

[2019-12-02 15:40] ealsur commented on #1057
@abhijitpai Do we have the differences between Stored Procedures and Batch documented somewhere?

[2019-12-02 16:02] joshlang commented on #1068
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/36142468-make-count-aware-of-indexes

[2019-12-02 16:16] ealsur commented on #1069
Sounds doable, we already have the symbols if I am not mistaken.

[2019-12-02 16:52] kirankumarkolli commented on #1059
Stream API's are scenarios where the payload is given to the middle tiers and they are just streamed to Cosmos service (no serialization/de-serialization in SDK/service except for indexing).

With SPROC the stream payload do need to be de-serialized at-least once by SPROC on service and then process those operations. So there does exist some de-serialization and serialization still.

In 3.4.0 Cosm

[2019-12-02 17:01] #1052 closed

[2019-12-02 17:10] j82w opened #1071 "Update documentation about 304"
**Describe the bug**
Related PR: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/964

[2019-12-02 17:34] joshlang commented on #1059
I am a little bit confused...

My goal:  Execute a stored procedure without the SDK needing to serialize or deserialize the payload.

The `ExecuteStoredProcedureStreamAsync` overload I added in `ScriptsCore` accepts a stream and it returns a `ResponseMessage` (with a stream).  This fits my needs (and seems to fit with the goal of the SDK when it comes to streams).

The existing overload didn't acc

[2019-12-02 17:56] joshlang commented on #1059
Regarding use cases other than our own.  While it's true that often parameters are scalar, they're often documents.  Example: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-write-stored-procedures-triggers-udfs#stored-procedures (second example) ... The control over serialization/deserialization for things like this would still be useful.

[2019-12-02 19:16] kirankumarkolli commented on #1059
Stream API's makes fully sense if the required payload comes to application layer (WebAPI etc...) already as stream. If the application is preparing the stream then serialization is happening at-least once on client (with SDK or application).

We are not against having a stream input API for SPROC. But best is to address #1057.

/cc: @ealsur, @abhijitpai

[2019-12-02 20:04] joshlang commented on #1059
I would *love* for #1057 to be addressed

But I do think that without this issue being fixed, the SDK is inconsistent.

Everywhere a document might be sent as part of the payload, the methods take a stream:

[code]

[code]

**Except** here.  `parameters`:

[code]

Adding this would bring it in line with the rest.

[code]

[2019-12-02 22:50] ryazan05 commented on #893
@TechWatching Yes.
You will need to implement `ICosmosLinqQuery` mentioned above. Implementation is just a call to return FeedIterator:
[code]

Then in your code instead of calling ToFeedIterator directly, inject ICosmosLinqQuery implementation and use that to get feedIterator:
[code]

In unit tests you can assert on linq query. Moq example:
[code]

[2019-12-03 09:22] BenLuts opened #1073 "Issue with where clause when using a client restricted to a partition key"
We are experiencing an issue in the following scenario.
We have a container with a partitionkey defined. We create users with permissions specific to a single partitionkey. We create a client specific for this user, based on his token. When we query a single item like this:
`container.ReadItemAsync<T>(itemId, PartitionKey)`
Everything works as expected, the item is correctly retreived.

However wh

[2019-12-03 10:27] lukasz-pyrzyk commented on #1067
Yes, the project can benefit from using AsyncLazy here. However, I've submitted the issue because it looks like there is some issue with the synchronization context in SDK 3, which is quite difficult to find out and investigate during the migration.

[2019-12-03 13:23] j82w commented on #1073
Are you running your app as x64?

[2019-12-03 13:53] RomanKreisel commented on #972
Exactly same issue here - we don't need to have our leases, because we use the changefeed only to update an internal in-memory cache.

Right now, we stick with v2 of the SDK for the ChangefeedProcessor just because of this issue.

[2019-12-03 14:15] j82w commented on #1067
I forked the repository, and the tests are passing for me. I'm using vs2019 with run all tests in parallel. VS shows one test per a class running in parallel. It also seems to be creating a new client and lazy database for each test.

[2019-12-03 14:21] j82w commented on #1073
@bchong95 any suggestions?

[2019-12-03 14:41] BenLuts commented on #1073
Our Azure App Service is currently running x86

[2019-12-03 15:05] j82w commented on #1073
My theory on why this is failing is the SDK needs to go to the gateway to get the query plan. The call to get the query plan is failing with the 403. @bchong95 can you confirm this and if so what is the fix?

[2019-12-03 15:15] lukasz-pyrzyk commented on #1067
Interesting. I've tested running tests on VS Test explorer, Resharper and `dotnet test`. In all cases, it hangs without any test passed. U use .NET Core `3.0.100`.
![vs](https://user-images.githubusercontent.com/5083018/70063382-f5947f80-15e7-11ea-87d0-0708037917df.PNG)
![resharper](https://user-images.githubusercontent.com/5083018/70063385-f62d1600-15e7-11ea-89bd-e75b7397cbbe.PNG)
![cmd](https://

[2019-12-03 17:23] RufusJWB commented on #892
Running your code, I receive the following exception:

[code]

[2019-12-03 17:51] ealsur commented on #1005
You have several options.

1. Use Azure Functions to monitor for changes, see https://medium.com/microsoftazure/azure-cosmos-db-functions-cookbook-monitoring-trigger-pending-work-800b24589235
2. Create an estimator with V3 SDK following this migration guide https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-migrate-from-change-feed-library. The processorName is basically what you set as Lease

[2019-12-03 17:51] #1005 closed

[2019-12-03 17:51] ealsur commented on #984
Closing as PR with fix is already merged

[2019-12-03 17:51] #984 closed

[2019-12-03 17:53] ealsur commented on #657
Closing as Permissions and Users are already available.

[2019-12-03 17:53] #657 closed

[2019-12-03 18:18] j82w commented on #1067
The only difference is I hard coded the the setting as string instead of using environment variables. What's weird is it seems to be creating a new CosmosClient for every test. If that is the case there shouldn't be any difference in running the tests in parallel since every run has it's own CosmosClient instance.
![image](https://user-images.githubusercontent.com/8868107/70077532-dd0b7180-15b5-11

[2019-12-03 19:03] j82w commented on #1048
[3.5.0](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.5.0) is released.

[2019-12-03 19:04] j82w commented on #1024
[3.5.0](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.5.0) is released.

[2019-12-03 23:14] lukasz-pyrzyk commented on #1067
This is very weird. I've checked with my second laptop and another one from my colleague, it hanged in both cases. I've updated to 3.5.0 and .NET Core 3.1, results are the same, hang.

In theory, each test should have a different instance of the CosmosDB repository. However, xunit reuses process and for example, static data might be shared between test fixtures. I thought it might be the issue.

I

[2019-12-04 15:13] j82w commented on #1067
This seems very similar to #1043 . @ealsur is working on a fix that will hopefully fix this issue too.

[2019-12-05 00:21] ealsur commented on #1043
The linked PR was tested on the repro Github and it fixes the reported issue.

[2019-12-05 08:12] BenLuts commented on #1073
Note that the issue did not occur with sdk V2.

[2019-12-05 09:59] abhijitpai commented on #1059
@joshlang - what is the processBatch.js you wrote intended for - are you trying to get higher throughput by trading off latency of individual calls? We have bulk functionality in the SDK (blog here: https://medium.com/@Ealsur/azure-cosmos-db-net-sql-sdk-bulk-support-9dea1d0ee023) which automatically groups operations into server requests and attempts to achieve the same.

If you are instead trying

[2019-12-05 13:03] j82w commented on #1073
@sboshra any suggestions?

[2019-12-05 15:42] joshlang commented on #1059
@abhijitpai Transactions.

The bounds are the 2MB payload limit.

What I'd like is predictability in transactions.  It's one of the reasons I was so excited to see `TransactionalBatch` and why I was so disappointed to run into #1057 the 100 document limit.

I *suppose* that 100 documents is... well, predictable.

The way I see it is that stored procedures have an unpredictable ability to do work b

[2019-12-05 17:14] nathansoz opened #1079 "NullReferenceExceptions during serialization on Reads/Queries under load"
**Describe the bug**
After switching from v2 to v3 of the SDK, we observed sporadic NREs deep in Cosmos/Newtonsoft.Json call stacks. These exceptions did not occur in v2 and we didn't change anything about our data model that would have caused serialization issues. Additionally, subsequent and prior reads/queries to the same document (without modifications in between) would succeed.

The issue did

[2019-12-05 17:16] nathansoz commented on #1079
FWIW we also found that creating a custom serializer that does not share a JsonSerializer instance unblocked us. This is the code we used:

[code]

[2019-12-05 22:15] lukasz-pyrzyk commented on #1043
@ealsur thank you very much! If you have some kind of night builds, I will be happy to test it in the real app.

[2019-12-06 09:45] thomaslevesque opened #1084 "Cannot enumerate response headers of a DISTINCT query"
**Describe the bug**
If I make a query using the `DISTINCT` keyword, I cannot enumerate the response headers. An exception is thrown.

**To Reproduce**
Execute this code:
[code]

**Expected behavior**
It should print the names of the response headers

**Actual behavior**
It prints the first headers (just `x-ms-request-charge` in my case), then throws an exception:

**Environment summary**
SDK Vers

[2019-12-06 12:10] zhengwia opened #1085 "QueryMetricText => indexLookupTimeInMs and documentLoadTimeInMs not populated"
I'm using sdk 3.5 trying to gather some stats, indexLookupTimeInMs and documentLoadTimeInMs seems to be always 0 whereas i can see some value populated via azure portal.

Full QueryMetricText attached below:
totalExecutionTimeInMs=1.44;queryCompileTimeInMs=0.32;queryLogicalPlanBuildTimeInMs=0.09;queryPhysicalPlanBuildTimeInMs=0.00;queryOptimizationTimeInMs=0.02;VMExecutionTimeInMs=0.00;indexLookup

[2019-12-06 12:50] j82w commented on #1085
@bchong95 or @sboshra can you please take a look?

[2019-12-06 15:54] IvanMijailovic commented on #605
@ealsur Should we create DocumentBulkExecutor instance by using a builder per each delete/import/update request and close it when the request is done? Or, create one instance of DocumentBulkExecutor when the application starts and close it on application shutdown? Thanks!

[2019-12-06 17:06] ealsur commented on #605
Treat the BulkExecutor instance as a singleton, as per https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net#performance-tips

[2019-12-06 18:11] ealsur commented on #1079
Do your data models use JsonConverter? Did the Newtonsoft.Json dependency change versions as part of the migration process?

[2019-12-07 00:46] ealsur opened #1088 "Bulk API - Null reference when no PK"
When an item is sent through Bulk using the Type API and the object does not contain the PartitionKey, the process fails with a Null Reference due to the BulkExecutor failing to correctly resolve the Partition.

For example, a container with PK /Status and a JObject that represents a JSON without the Status attribute.

    SerializationSystem.NullReferenceException: Object reference not set to an

[2019-12-08 11:49] KristianJakubik commented on #1069
Can I submit PR for this then? Or is it still being discussed?