[2021-02-19 17:07] #2224 closed

[2021-02-19 18:11] timsander1 commented on #2199
Hi @Romfos, thanks for bringing this up! I can confirm this is not supported now, but it's something we can look into supporting in the future

[2021-02-19 19:25] #2223 closed

[2021-02-19 19:26] ealsur commented on #2240
Yes, this has no relationship with Diagnostics in the operations, but rather the SDK usage of DefaultTrace across the code.

[2021-02-19 20:09] j82w commented on #2240
I think it needs to be renamed to `CosmosClientOptions.TraceOptions` to avoid confusion with CosmosDiagnostics.

[2021-02-19 21:58] scottluskcis commented on #1513
went to Twitter to try and get an answer
https://twitter.com/scottluskcis/status/1362853538188189696

[2021-02-21 08:37] bernarden commented on #1979
@bchong95 I just tried the latest SDK version (3.17.0-preview) that was supposed to fix this issue but I'm still seeing unexpected behavior (although this version of the SDK makes less calls to the database to retrieve the same data). Let me know if you are unable to reproduce the issue.

![image](https://user-images.githubusercontent.com/12289537/108619811-364a1400-748c-11eb-93b6-bcf4a1e1e842.png

[2021-02-22 11:25] refractivSteve opened #2244 "Inconsistent count between Azure Cosmos DB and Emulator"
Apologies if this is not the right place to log this bug.

**Describe the bug**
When performing a count query with an order by on documents which may have an undefined property, I get different counts between the emulator (v2.11.10.0) and that in the cloud.

**To Reproduce**
Add the following two documents into both Azure Cosmos DB and the emulator :

`{"id": "missing-property-1",
    "ResponseIte

[2021-02-22 22:41] ealsur commented on #1979
@bchong95  @neildsh  Any comments on @bernarden findings on 3.17.0-preview?

[2021-02-23 13:12] j82w commented on #2244
@timsander1 or @sboshra or @bchong95 was there a fix done to the service to cause this difference? If so can you please work on getting a new emulator released that contains the changes.

[2021-02-23 14:20] timsander1 commented on #2244
Hi @refractivSteve. What is the indexing policy of each container? If you've used a /* vs explicitly including paths, the results for ORDER BY with missing items may be different. Learn more: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-order-by#documents-with-missing-fields

[2021-02-23 14:46] refractivSteve commented on #2244
Hi @timsander1.  The index policies on both are identical, as per the below. The NextPollDueAt is unrelated to this ticket, but thought it best to copy the policy verbatim.

The paths aren't explicitly set as the ResponseItemsData object properties are schema-less and defined as part of user input (in the real application).  I have already structured the application code in a way that deals with m

[2021-02-23 17:42] Ettores88 opened #2248 "HasValue LINQ translated as IS_DEFINED instead of IS_DEFINED AND NOT IS_NULL"
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/df040f31ad69da38eafab3076025e4cad92e129d/Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs#L751-L755

Shouldn't be translated as "IS_DEFINED(<property>) AND NOT IS_NULL(<property>)" ?
The behaviour in code change if I use the "NullValueHandling = NullValueHandling.Ignore" or the "NullValueHandling = NullValueHandling.Include" but from an object

[2021-02-23 17:57] j82w commented on #2248
@timsander1 or @sboshra can you take a look?

[2021-02-23 18:06] gorygregory opened #2257 "Link for "Azure Cosmos DB .NET SDK samples" leads to 404"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11b09a3d-8b60-5590-3949-c5d7e7764c9b
* Version Independent ID: bfe684ec-f914-751a-8644-c51616eeb24c
* Content: [Azure Cosmos DB libraries for .NET - Azure for .NET Developers](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/cosmosdb?view=az

[2021-02-23 18:19] timsander1 commented on #2248
This is the correct behavior. Null is a valid JSON value.

[2021-02-23 20:53] Ettores88 commented on #2248
Sorry @timsander1 but I haven't understood.

Let's make an example. Given the following Class for documents stored in Cosmos:

[code]

In this case the following LINQ query will get all the data where FooData is null:
[code]

This LINQ will be translated as "SELECT * FROM c WHERE NOT IS_DEFINED(c.fooData)" and this will match all my documents because them are translated as:
[code]

But if I change

[2021-02-24 14:04] #1782 closed

[2021-02-24 16:45] timsander1 commented on #2244
Thanks for sharing this! We will try to repro the issue an reply back here with an update

[2021-02-24 17:18] timsander1 commented on #2248
That makes sense and this is the desired behavior (not a bug).  If you want null values to be omitted from the item, can you set NullValueHandling.Ignore, like you mentioned? Is that reasonable?

[2021-02-24 18:44] neildsh commented on #1979
Hi @bernarden, this is expected behavior based on the interface:
`public override async ValueTask<bool> MoveNextAsync(ITrace trace)`

This returns `true` if there are any results and `false` otherwise. So you cannot return false on the last page, because then the last page would not be read. This results in one extra call to `MoveNextAsync` that returns immediately.

[2021-02-24 18:44] Ettores88 commented on #2248
My point is different.

My app created a series of documents (in production) with a serialized property that in some cases could have **NULL** value. In a new version of the same application I decide to change the serialization of that property and add the decorator NullValueHandling.Ignore. **Am I now responsible to remember that the meaning of HasValue for the Cosmos SDK doesn't manage the defin

[2021-02-24 19:02] timsander1 commented on #2248
Null and undefined are different in JSON. This is an attribute of JSON, more than Cosmos DB specifically. Like you mentioned, this is important to remember. Here's a doc that walks through the differences between null and undefined in queries: https://devblogs.microsoft.com/cosmosdb/difference-between-null-and-undefined/

A property can be defined and have a null value. In this case, it has a valu

[2021-02-24 19:08] Ettores88 commented on #2248
At Cosmos level it's fine, I thinked about this possibility. But at SDK level it is a strange behaviour.

[2021-02-24 19:13] j82w commented on #2248
The issue is c# doesn't have a concept of undefined like JSON does. Using the [linq extension](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/ecce6cfb71a44a1883bb24979e881c6a6a17587a/Microsoft.Azure.Cosmos/src/Linq/CosmosLinqExtensions.cs#L36) might help with readability.
[code]

[2021-02-24 19:16] Ettores88 commented on #2248
Yes, this will definitely help. But 'HasValue' is supported from the SDK and its translation is misleading in this specific case.

[2021-02-24 19:57] bernarden commented on #1979
Hi @neildsh,
These are the issues that I see with the image above:
1) Why does SDK make the first 4 calls that return no data back but still cost 74.16 RUs.
2) The query attempt that actually returns the data back costs 0 RUs.
3) I haven't looked at the internals of this SDK but my expectation is that the iterator should know that it already returned the required number of documents based on the l

[2021-02-24 20:28] timsander1 commented on #2248
Hi @ettores88, I agree with that! The mapping of C# -> JSON concepts is confusing here. This great feedback to have when we plan the next major SDK release and can make significant changes.

[2021-02-25 00:19] kalavany opened #2253 "IN operator in WHERE clause is not parsed properly when SqlQueryParser.Parse is used."
**Describe the bug**
IN operator in WHERE clause is not parsed properly when SqlQueryParser.Parse is used.

**To Reproduce**
SqlQueryParser.Parse(" SELECT * FROM c WHERE c.orgId = "de24f6d1-9971-40ed-9373-834b999af6d1"  AND c.ac IN (64,65,2) ORDER BY c.props.crtdon ASC ");

The above gives a SqlQuery with text {SELECT * FROM c WHERE (((c.orgId = "de24f6d1-9971-40ed-9373-834b999af6d1") AND c.ac) IN

[2021-02-25 09:50] LiDamon opened #2254 "Frequent page queries cause memory leaks"
I used JMeter test my site and there are 10 users on my site, which are query every 2 seconds .The memory always increase .

![Memory Leak](https://user-images.githubusercontent.com/3748285/109135234-d0ae9e00-7791-11eb-8fb5-f4766dea8df7.png)

**Environment summary**
SDK Version:3.16.0
OS Version Windows
.NET Version:4.7.2

[2021-02-25 12:10] j82w commented on #2254
@LiDamon can you share the code on how you are draining the query? Are you disposing of the FeedIterator? Does this reproduce with 3.17.0-preview?

[2021-02-25 12:14] j82w opened #2255 "Error Message containing JSON"
The error message sometimes contain JSON formatted strings. This causes links and URIs to be escaped. The formatting should be changed to avoid the JSON formatting.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/661f72c07e4ff0b12d2e7ec3d192a5e96fe4987c/Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosExceptionFactory.cs#L183

Example exception:
`Microsoft.Azure.Cosmos.CosmosExcept

[2021-02-25 15:50] kamilzzz opened #2256 "Automatic failover with multi region in case of region failure"
We are using CosmosDb with multi-region writes and SDK is configured to connect in `Direct` mode (default value).

Is SDK going to auto failover to another region in case of region failure?
The `EnableTcpConnectionEndpointRediscovery` is set to `false` (`false` is a default value).

Today I've noticed that after configuring private endpoint my application failed to connect to Cosmos Db until I res

[2021-02-25 19:36] ealsur commented on #2256
@kamilzzz Are you setting the ApplicationRegion or ApplicationPreferredRegions? See https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-sdk-availability for the details on how the SDK behaves.

[2021-02-25 21:16] kamilzzz commented on #2256
@ealsur I'm setting ApplicationRegion.
From the documentation I understand that with multi write regions SDK will failover automatically both for read & write operations.

So looks like creating a Private Endpoint when application is running is a specific case and unavailability is expected?

[2021-02-25 21:25] ealsur commented on #2256
I am not aware of the semantics of private endpoint in this case. Can you share which was the error you got?

[2021-02-25 21:44] ealsur commented on #2257
@SnehaGunda Do you know where does this document live?

[2021-02-25 21:45] j82w commented on #810
This is should be fixed in 3.17.0 which should be released soon by PR: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2220

[2021-02-25 21:45] #810 closed

[2021-02-26 00:27] briandunnington opened #2259 "Allow Azure region 'short names' when setting ApplicationRegion and ApplicationPreferredRegions"
When setting either of these properties, you have to provide a string name of the Azure region(s). But they only accept the 'full' names. So it will accept 'West US' but not 'westus'. We set these values via config setting set by ARM template in a `copy` loop for the different regions that our app is deployed in, and the ARM template allows either the 'short' or 'full' region name. Also, the Azure

[2021-02-26 00:52] LiDamon commented on #2254
This is my code
![Cosmos code](https://user-images.githubusercontent.com/3748285/109239177-d2b74200-780f-11eb-8fe8-6aa586154dca.png)

I will test 3.17.0-preview

[2021-02-26 13:01] j82w commented on #2254
1.  ResponseMessage is disposable, but based on the current code it is never disposed of.
2. What is the reason for using the Task.Run? It shouldn't be necessary.
3. Is there any reason you don't use a CancellationToken instead of doing a Task.Wait?

[code]

[2021-02-26 18:21] ealsur opened #2261 "CosmosDiagnostics regressions: ITrace currently lose all information on exceptions"
On the latest master state, 408 exceptions coming from TaskCanceledException, have no traces/diagnotics.

## With nuget 3.16.0

Stack trace:
[code]

Diagnostics:

[code]

## With current master

Stacktrace:

[code]

Diagnostics

[code]

[2021-02-26 18:58] kamilzzz commented on #2256
The error was:
`Response status code does not indicate success: Forbidden (403); Substatus: 0; ActivityId: 3b311ace-eeb3-429b-bd9c-7614932ace3f; Reason: (Message: {"Errors":["Request is blocked. Please check your authorization token and Cosmos DB account firewall settings."]}`

[2021-02-26 20:58] ealsur commented on #2256
This is not a normal failover scenario. A 403 with substatus 0 means the request is being blocked by the backend directly, there is no action the client can take and failover is not expected to work. Either the keys you are using are incorrect or as the error says, there is a firewall/VPN configuration blocking the request. It could be related to Private endpoints being enabled while the client wa

[2021-02-27 22:55] rjygraham opened #2264 "The type 'PartitionKeyInternal' is defined in an assembly that is not referenced."
**Describe the bug**
Receive the compiler error when trying to build netstandard 2.1 library referencing Azure.Cosmos  version 4.0.0-preview3:

Error CS0012 The type 'PartitionKeyInternal' is defined in an assembly that is not referenced. You must add a reference to assembly 'Microsoft.Azure.Cosmos.Direct, Version=3.4.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

**To Reproduce**
1. Cre

[2021-03-01 03:00] ealsur commented on #2264
`Azure.Cosmos` is a NET Standard 2.0 library, I'm assuming that means it can also be used on NET Standard 2.1? Not sure what are the rules for 2.1 and compatibility.

Could you provide a repro CSPROJ?

I created this CSPROJ:

[code]

Which contains just a single class that does this:

[code]

And it builds:

![image](https://user-images.githubusercontent.com/1633401/109446691-fe485100-79f6-11eb-92

[2021-03-01 04:02] rjygraham commented on #2264
Ok, this is a good one... It appears creating an instance of `Azure.Cosmos.PartitionKey` is not enough. The instance of `Azure.Cosmos.PartitionKey` must be in an `async` method:

[code]

I verified the `async` keyword is the trigger and not `Task`. For example, the below code compiles fine:

[code]

Additionally, my .csproj is pretty bare:

[code]

Let me know if you need any more details.

[2021-03-01 09:18] ealsur commented on #2264
I fear this might be related to .NET 5.

If you add a global.json file to the folder and force to use NET Core 3.1 for example, there is no problem:

With NET 5 as default

![image](https://user-images.githubusercontent.com/1633401/109476649-fe167880-7a2b-11eb-9a32-18c819519c35.png)

With a global.json file with the following content:

[code]

![image](https://user-images.githubusercontent.com/163

[2021-03-01 12:31] j82w opened #2265 "RequestOptions Add Header method"
The Encryption SDK, internal compute services, and even customers may want to add customer headers so they can correlate their request to Cosmos operations. The `RequestOptions.Properties` is meant for the client context and is not meant for adding headers.

The suggested public API
[code]

[2021-03-01 12:44] j82w opened #2266 "PermissionProperties: Takes a invalid dependency on internal objects"
PermissionProperties takes a decency on the inline core. This will prevent mocking and it also causes issues for the encryption SDK.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/f7b7b0a37c49d8ed00a5201c8a297dbbd969bcf1/Microsoft.Azure.Cosmos/src/Resource/Settings/PermissionProperties.cs#L31

The fix should remove the ContainerInline dependency just generate the link URI using the `Contain

[2021-03-01 16:04] dpiessens opened #2270 "Query performance issues between 3.9.0 and 3.17.0"
**Describe the bug**
We're upgrading from 3.9.0 to 3.17.0-preview on a performance intensive product. We've noticed a 23 ms per call increase in query times between the 2 SDKs.

**To Reproduce**
Upgraded from 3.9.0 to 3.17.0-preview. Read the release notes on all releases to follow the upgrade notes. Added the following client performance items:
`
   .WithConnectionModeDirect()

   options.PortReu

[2021-03-01 16:37] ealsur commented on #2264
What is also weird, is that if you remove the `async` keyword and return a Task and have another method consume that Task with `await`, there is no build issue:

[code]

But it's particularly related to having an `async` keyword in the method:

[code]

Again, this only happens on .NET 5, not NET Core 3.1.

I am no expert in the framework, but this really seems like an issue with `async` keywords i

[2021-03-01 17:11] rjygraham commented on #2264
Wondering if this should go to fx repo or Roslyn?

[2021-03-01 17:49] j82w commented on #2270
@sboshra and/or @bchong95 can you please take a look?

[2021-03-01 20:31] j82w commented on #2255
One solution is to treat the Error object as a JObect. Then have a string builder and iterate over the JObject print each property name and value as a new line.

[2021-03-01 21:08] jaredpar commented on #2264
This behavior is "By Design" in the compiler.

The types in Azure.Cosmos.dll can’t be fully understood without looking at the Microsoft.Azure.Cosmos.Direct.dll reference which is not provided to the compiler. In particular in this case the compiler can't understand if `PartitionKey` is is an `unmanaged` or `managed` type without knowing more details about `PartitionKeyInternal`. That's due to it b

[2021-03-01 22:09] timsander1 commented on #2270
Thanks for creating this issue @dpiessens! Could you include the diagnostics for a slow query for both 3.8 and 3.17-preview?

[2021-03-01 22:30] ealsur commented on #2264
I believe this was fixed in V3 SDK (https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1922) but never ported to V4 SDK (there were no new previews).

If we compare the Nuget package of V3 from before and after the fix:

Before:
![image](https://user-images.githubusercontent.com/1633401/109567705-a4996280-7a9a-11eb-954b-013bfaa16409.png)

After:
![image](https://user-images.githubusercontent.com

[2021-03-01 22:55] brianrichins opened #2272 "DocumentClient Class docs - broken sample code block"
Typo in the 'Remarks' section is breaking the code blocks in the published docs.

![image](https://user-images.githubusercontent.com/8572302/109569499-c64c1700-7aa5-11eb-8a08-eafaeb4fd0b7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76704596-4890-d949-e4bb-e98345cb3258
* Version Independent ID: fe52c0b4-01af-f21

[2021-03-01 23:02] ealsur commented on #2264
Also, if you try to use any V3 SDK previous to this fix, like `3.6.0`, it throws the same error, but any SDK after the fix, like `3.16.0` does not.

[2021-03-01 23:03] ealsur commented on #2264
We don't have any new preview release slated to be released at this point, I'll update this thread if this can be fixed soon.

[2021-03-02 05:21] bernarden commented on #1979
@bchong95 @ealsur @neildsh @sboshra Why was this issue closed?

[2021-03-02 08:52] andrew-tevent opened #2273 "Question: Approx SDK v4 release schedule"
Hi

Should I be using the v4 SDK for new projects - what's an approximate timeline for it coming out of preview?   Is it aligned with the .Net 6 release in November, or will it be sooner?  (apologies to be re-asking #1370)

It would be useful to know so that I can choose between v4 and v3.   I will go with v4 if it is shortly to come out of preview, but if there is any doubt and the v3 is better s

[2021-03-02 13:55] j82w commented on #2270
@dpiessens if you can also provide a way to reproduce the issue it would be very helpful to root cause the issue.

[2021-03-02 13:58] j82w commented on #2272
This is the v3 SDK repo. DocumentClient is the v2 SDK. It's repo: https://github.com/Azure/azure-cosmos-dotnet-v2

[2021-03-02 14:08] j82w commented on #2272
I sent a PR out to remove the para tags wrapping the code blocks.

[2021-03-02 14:08] #2272 closed

[2021-03-02 14:36] dpiessens commented on #2270
Apologies it was 3.9.0 not 3.8.0. Here's an example of the baseline diagnostics, I did redact URLs and container names.

Here's a trace from 3.9.0
`
{
    "DiagnosticVersion": "2",
    "Summary": {
        "StartUtc": "2021-03-02T14:06:20.4003215Z",
        "TotalElapsedTimeInMs": 11.7576,
        "UserAgent": "cosmos-netstandard-sdk/3.9.0|3.9.0|30681|X64|Linux 5.4.0-1031-azure 32 18.|.NET 5.0.3|"

[2021-03-02 15:19] #2266 closed

[2021-03-02 15:46] dpiessens commented on #2270
I was still able to get overall client elapsed time and it's between 22 and 27 ms for 3.17.0

[2021-03-02 16:19] dpiessens commented on #2270
I'd like to try to get traces from both first. This code is at the core of a lot of moving parts and would be a multi-day project to create an example that replicates what it does. If the traces don't point to the issue then I'll be happy to create one.

[2021-03-02 16:28] j82w commented on #2270
I'm working on a 3.17 release which should be done today. This new releases will contain the fix for the ArgumentNullException.

[2021-03-02 17:31] j82w opened #2274 "CosmosDiagnostics: Wire ITrace through caches"
All code paths need to pass the ITrace through the caches. There are several places where a NoOpTrace is being passed instead or ITrace was not wired through at all. This causes necessary information to root cause latency issues and to track retries.

Examples:
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/295df879803ce69d5d6eb7d6e9e25d1c941d0853/Microsoft.Azure.Cosmos/src/Handler/Partition

[2021-03-02 18:33] j82w commented on #2273
Please use the v3 SDK for all new development. The v4 is still does not have any hard dates.

[2021-03-02 19:34] j82w commented on #2270
@dpiessens [3.17.0-preview1](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.17.0-preview1) is released.

[2021-03-02 19:56] j82w commented on #1782
Please try using [3.17.0](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.17.0) nuget.

[2021-03-02 19:56] j82w commented on #1936
Please try the [3.17.0 nuget](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.17.0).

[2021-03-02 19:58] #2212 closed

[2021-03-02 22:33] dpiessens commented on #2270
Thanks @j82w, I updated to preview 1 and got a trace. This trace executed the same query, but on a different ID so it hit a different server side partition.  Let me know if anything obvious stands out that I should tweak:

[code]

[2021-03-03 01:37] j82w commented on #1936
Sorry for closing this. I got the issues number mixed up. This could be address with a new linq serialization option.

[2021-03-03 02:06] j82w commented on #2270
@timsander1 can you please take a look? Just taking a quick look it seems like 3.17 is doing 2 page read requests while 3.9 is only doing 1 page read request.

@dpiessens are you doing a paging API? Can you share the code on how you are draining the query.

[2021-03-03 02:21] dpiessens commented on #2270
Sure here's the code we're using:
[code]

One note on this the `await Execute` line simply allows us to wrap the call in our metrics and extract your client metadata consistently for all operations. Also, we're using a direct serializer to date since we always have lists of results for queries and to date serialize methods have done objects one at a time which is slower.

We didn't change that par

[2021-03-03 07:59] #2273 closed

[2021-03-03 10:11] MhAllan opened #2277 "Add CosmosClient.IsEmulator property"
We need to be able to tell if the client is working against the emulator or not, especially consistency level of the emulator is usually "session" which makes all "strong" consistencies fail. with CosmosClient.IsEmulator we can do things properly

[2021-03-03 12:42] j82w commented on #2277
Hi @MhAllan ,

The SDK team as looked doing this before, and it's not something easy to implement. There is no way for the SDK to determine if it is an emulator or production. The emulator allows users to change passwords, set the endpoint, and run on remote machines. The responses are the same as production. It would require modifying the emulator to add a new header or something to the account,

[2021-03-03 21:37] timsander1 commented on #1979
Hi @bernarden ,

This is expected. Sometimes query results will be split over multiple pages. Each page's results is generated by a separate query execution. When query results cannot be returned in one single execution, Azure Cosmos DB will automatically split results into multiple pages. Each of these pages would have a separate RU charge, even if no records are returned.

Here are some examples

[2021-03-03 22:54] bernarden commented on #1979
Fine. Let's call them features.

[2021-03-03 22:59] bchong95 commented on #1979
One thing I want to recommend is rewriting the query to `SELECT DISTINCT VALUE c.Metadata FROM c ORDER BY c.Metadata OFFSET 0 LIMIT 5`. You might see better results, since we can stream results out.

[2021-03-03 23:06] bchong95 commented on #1979
In general the empty pages are to satisfy your sort order on _ts. The client needs to grab one page of records from each partition and then sort the results client side. Until then it's forced to pass back empty pages to give you a preemption point for the query. On the 5th page we finally have one page from each of the 4 partitions and we can serve the ORDER BY condition and that's when we return

[2021-03-04 00:54] j82w opened #2280 "CosmosDiagnostics: ITrace uses base handler for all nesting"
ITrace uses the same name for all the handlers. This makes it not possible to determine which handlers are in the pipeline or which one is causing the latency.

The output for all the handlers
[code]

Full example:
[code]

Here is an example of the previous 3.9 diagnostics

[code]

[2021-03-04 01:02] timsander1 commented on #2270
Hi @dpiessens

Would it be possible to send two traces for the same query with the same filter? The query metrics are different enough that it's hard to rule this out as a possible reason for the difference.

Thanks!

[2021-03-04 02:11] LiDamon commented on #2254
Use Task.Run because  Asp.Net Framework call async method may be hang.
https://stackoverflow.com/questions/14526377/why-does-this-async-action-hang

I upgrade sdk to 3.17 and memory leak issue always exists.

I changed my code below to:
[code]

BTW, we also have performance issue, slowly position is "Get Container Properties". the diagnostics file :

[json.zip](https://github.com/Azure/azure-cosmo

[2021-03-04 13:18] j82w commented on #2254
The CosmosClient needs to be a [singleton](https://docs.microsoft.com/azure/cosmos-db/performance-tips-dotnet-sdk-v3-sql#sdk-usage). The client has several caches that get warmed up on the first operation which includes getting the container properties. You can use the new [CosmosClient.CreateAndInitialize](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/73b5da22400c4fc58e76ff08751c4f6e283c22

[2021-03-04 15:11] j82w commented on #2265
ItemRequestOptions other = (ItemRequestOptions )this.MemberwiseClone();

Func<Header> originalHeaderFunc = other.AddHeaders;
other.AddHeaders = (header) =>
{
      originalHeader(header);
      AddEncryptionHeader(header);
};

[2021-03-04 17:06] j82w commented on #1671
Closed by #2197

[2021-03-04 17:06] #1671 closed

[2021-03-04 17:41] dpiessens commented on #2270
Yup, will get that to you later today.

On Wed, Mar 3, 2021, 7:02 PM Tim Sander <notifications@github.com> wrote:

[2021-03-04 22:43] j82w commented on #2207
Closing this since 3.17 is now released.

[2021-03-04 22:43] #2207 closed

[2021-03-05 02:26] luisoncu opened #2296 "Error de tipeo"
[Enter feedback here]
Hay un error de tipeo en vez de feedIterator debe ser setIterator, es en la línea 4

 1 // LINQ query generation
 2 using (FeedIterator setIterator = container.GetItemLinqQueryable<Book>()
 3                      .Where(b => b.Title == "War and Peace")
 4                     .ToFeedIterator())
 5{
 6   //Asynchronous query execution
 7   while (setIterator.HasMoreResults)
 8

[2021-03-05 07:31] MhAllan commented on #2277
Thank you for answering @j82w

[2021-03-05 14:33] j82w commented on #2257
PR with the fix: https://github.com/Azure/azure-docs-sdk-dotnet/pull/1874

[2021-03-05 14:44] j82w commented on #2229
Closing this since the question has been answered, and there has been no updates. Please feel free to reopen if there is additional questions.

[2021-03-05 14:44] #2229 closed

[2021-03-05 15:45] YohanSciubukgian commented on #2229
Do you have any documentation or details related to "we added more preemption points in the query iteration logic" ? Does it implies more latency or cost (RU) due to multiple calls done on the background ? Does it have the same behavior on gateway mode and direct mode ? I would like to understand SDK configuration impact. ;)

[2021-03-05 15:57] j82w commented on #2229
@YohanSciubukgian can you please open a new issue for your question.

[2021-03-06 03:59] roboz0r opened #2295 "Cosmos: "throughputProperties" Parameter is incorrectly described as optional"
"throughputProperties" Parameter  is incorrectly described as optional

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e96ea8-0b8f-fde0-77a0-743baefcd6c3
* Version Independent ID: 01c62957-c210-85c7-3260-e81328d20a1d
* Content: [Database.CreateContainerIfNotExistsAsync Method (Microsoft.Azure.Cosmos) - Azure for .NET

[2021-03-07 14:55] dpiessens commented on #2270
OK so I ran two full runs and wrote something to compare items down to the query. The result is that query calls on average increased 15 ms. This query was at the average:

Baseline
Elapsed Time: 29.3056 ms
Client Elapsed Time: 29.2932 ms
Diagnostics:
[code]

Latest
Elapsed Time: 44.9036 ms
Client Elapsed Time: 44.3216 ms
Diagnostics:
[code]

It does appear the new version is doing a double read.

[2021-03-07 22:08] Marusyk opened #2294 "Cosmos: Examples section needs code formatting"
Examples section needs code formatting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 714097f3-a9b0-1cb9-cc40-b0eba00ac7ce
* Version Independent ID: 8c705a51-5ec7-c04f-bd9e-18882c5e3127
* Content: [CosmosClientOptions.SerializerOptions Property (Microsoft.Azure.Cosmos) - Azure for .NET Developers](https://docs.microsof

[2021-03-08 01:52] LiDamon commented on #2254
@j82w   thank you very much , I fixed the issue .

[2021-03-08 12:16] #2254 closed

[2021-03-08 22:13] j82w commented on #2270
@timsander1 here is a formatted version:
[code]

[2021-03-08 22:19] bchong95 commented on #2270
Looks like 90 percent of the time is spent over the network:

`Microsoft.Azure.Documents.ServerStoreModel Transport Request|40.3399`

So moving to the transport team to investigate.

[2021-03-08 22:30] j82w commented on #2270
@bchong95 please verify that the queries are the same and that same amount of data is being sent over the wire.

[2021-03-08 22:33] dpiessens commented on #2270
For background we are running through AKS with a virtual endpoint on that VNET to cosmos. The environment, files etc. between the calls were as identical as networking can be, The only difference between the two calls is the client library used.

[2021-03-08 23:03] chwarr opened #2297 "Cosmos: Consider linking to/documenting the paramaterized query syntax from QueryDefinition"
I need to know how to construct a parameterized query for the "query" argument. It would be nice if this documentation linked to [the documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query#parameterized-sql-queries) for parameterized queries.

This is the v3 SDK version of [Consider linking to/documenting the paramaterized query syntax from SqlQuerySpec](https://github.c

[2021-03-08 23:04] timsander1 commented on #2270
The queries are different but the output doc size is about the same:

3.9:  Query had OutputDocumentCount=18;outputDocumentSize=11511
3.17: Query had Output Document Count =16, Output Document Size: 10, 238 bytes

[2021-03-08 23:07] j82w commented on #2270
@dpiessens just to confirm the following questions
1. Are both using the exact same AKS container? We have seen some latency issues based on the AKS container that was being used.
2. Are both running in the same region as the cosmos container?
3. Is there any way to provide multiple diagnostics?

[2021-03-09 01:27] dpiessens commented on #2270
@timsander1

The query is actually the same, the results have to do with the process it's embedded in and the comparison. 3.17 ran first so it was loading the data. When it ran the query the record it was working on wasn't in the DB yet so not in the results. The target being loaded also had another record after this one so that was loaded.  3.9 was then run so it was re-loading the results. This

[2021-03-09 14:22] j82w opened #2285 "CosmosDiagnostics: Missing activity id"
CosmosDiagnostics should always include the activity id. Here are examples where in both gateway and direct mode it is missing.

[code]

and

[code]

[2021-03-09 15:39] j82w commented on #1253
@timsander1 can you take a look?

[2021-03-09 17:02] ealsur commented on #2277
As @j82w mentioned, there is no easy way to identify the emulator, users can deploy it on VMs, have different routing, the connection can be anything, so we cannot detect it.

[2021-03-09 22:46] #2285 closed

[2021-03-09 23:20] johnstairs opened #2290 "Unexpected behavior of MaxConcurrency and MaxBufferedItemCount"
**Background**

We run a REST API that accepts arbitrary queries (similar to OData) that we translate into Cosmos DB queries. Each response has a maximum page size, after which we provide a link to the next page of results. The Cosmos DB container could have a large number of physical partitions (one customer has 2068). All queries need to be cross-partition.

Some queries will be very selective (

[2021-03-09 23:58] CPrashanth opened #2291 "On Gremlin accounts, changefeed collection creation fails with Partition key path /id is invalid for Gremlin API."
This is an issue even for V2 Changefeed library.
scenario-
1) create a gremlin cosmosdb account
2) create a graph collection
3) create a sql collection and write data into it (Cosmosdb allows it)
4) setup changefeed for sql collection created in step 3

expected: changefeed to work
actual: changefeed fails because changefeed collection partition key path is set as /id and gremlin cosmosdb account

[2021-03-10 00:22] ealsur commented on #2291
CFP uses `/id` as lease store partition key path. In Graph accounts `/id` is not allowed.

The only problem with this scenario is that the point 3:

Collections are not SQL, in a Graph account, all containers are Graphs, you cannot select a container not to be considered a Graph from the service perspective.

Cosmos DB allows Graph accounts to use the SQL API for querying purposes, but these are s

[2021-03-10 00:34] CPrashanth commented on #2291
if you can do CRUD using Sql in a graph account, isn't it for all practical purpose from customer point of view a sql collection. shouldnt changefeed which is also part of the same Sql api be supported in the graph account. Why is changefeed alone special cased out?

2nd problem- how to write UT/CTs if a microservice targets scenario using graph api for one collection, sql api for another collecti

[2021-03-10 01:54] timsander1 commented on #2290
Hi @johnstairs, thanks for all that detail! You should think of MaxConcurrency as the maximum amount of parallelism that you want to allow for cross-partition queries. It is strictly a maximum though, and there aren't any guarantees beyond that.

For the scenario that you've mentioned, this would require some custom code. What kind of latency are you looking for with this query? In other words, if

[2021-03-10 02:11] timsander1 commented on #1253
Thanks for flagging this! I can confirm that this is a bug. For now, could you try this workaround?

original code: query = query.Where(foo => new[]{​​​​​​FooStatus.StatusA}​​​​​​.Contains(foo.Status));
workaround: query = query.Where(foo => new[]{​​​​​​FooStatus.StatusA.ToString()}​​​​​​.Contains(foo.Status));

[2021-03-10 04:35] rajeevramadugu opened #2292 "Setting AllowBulkExecution to true is throwing error"
**Describe the bug**
Setting AllowBulkExecution to true in CosmosClientOptions is throwing "**_DocDBTrace Error: 0 : Exception during BatchAsyncBatcher: System.MissingMethodException: Method not found: 'System.Threading.Tasks.Task`1<Microsoft.Azure.Cosmos.Serialization.HybridRow.Result>_** "

**To Reproduce**
[code]

**Error log**

_DocDBTrace Error: 0 : 'Test.Api.exe' (CoreCLR: clrhost): Loaded '

[2021-03-10 10:36] NeilWBruce commented on #1253
Yep that works.  Was trying something similar myself yesterday but was just testing out the performance.  All looks good.  Thanks!

[2021-03-10 14:29] johnstairs commented on #2290
Hi @timsander1, thanks for your reply. I think there are a couple of issues and gaps here:
- MaxConcurrency also implies prefetching, which is not going to be desirable in all cases (for example, when we get a full page of results from one partition, why keep prefetching from other partitions before returning)
- MaxBufferedItemCount doesn't seem to do anything
- This really breaks down when you ha

[2021-03-10 16:56] andrew-tevent opened #2293 "OperationCancelledException on first call(s) to Cosmos from Azure App Service"
I've got a strange issue in an Azure App Service connecting to Cosmos DB.

When I start the App Service up afresh (after deploying or manual restart) then I'm finding that I get the following error on the first call(s) to Cosmos:

   at System.Threading.CancellationToken.ThrowOperationCanceledException()
   at Microsoft.Azure.Cosmos.Query.Core.ExecutionContext.CosmosQueryExecutionContextFactory.Tr

[2021-03-10 17:51] ealsur commented on #2293
Also, are you passing cancellation tokens to the operations? If so, which is the time defined in it?

[2021-03-10 18:39] andrew-tevent commented on #2293
@ealsur Well, yep, looks like you've nailed it.

It seems that higher up the call stack the cancellation token is created with a 1second limit.

And I think probably my init code has a mistake in that I'm not waiting on the call to ReadItemStreamAsync...

[2021-03-10 19:20] Marusyk opened #2298 "Request is blocked. Please check your authorization token and Cosmos DB account firewall settings"
**Describe the bug**
I have a Cosmos DB account with configured IP firewall.
I added my current IP to the allowed list.
Got error "Request is blocked." on adding data to a container.

**To Reproduce**
 - Configure IP firewall
 - Add current IP
 - Use Cosmos SDK to `CreateItem`

**Expected behavior**
The response should be successful.

**Actual behavior**
This code can create a database, can create

[2021-03-10 19:32] timsander1 commented on #2290
Based on the query continuation token, the SDK can tell if the FeedResponse is empty vs expensive query/throttling. This is not easily human readable though and would be tough to take a dependency on in your code.

The workaround you've described (cache the number of results for different queries to decide the MaxConcurrency) seems like it could work but, like you mentioned, would result in high l

[2021-03-10 19:34] ealsur commented on #2298
This is not related to the SDK, the SDK is simply surfacing the failure happening on the service.

Please see https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-forbidden#solution

[2021-03-10 19:34] #2298 closed

[2021-03-10 19:45] rajeevramadugu commented on #2292
@ealsur ,
I cleaned up bin folder and rebuild solution. Getting same error. Please advise.

[2021-03-10 19:46] Marusyk commented on #2298
@ealsur but it works well using the Portal. 403 only from SDK

[2021-03-10 20:36] ealsur commented on #2292
Can you provide a CSPROJ that can repro the scenario? We run the SDK in our continuous integration tests, using NET Core 3.1 LTS, and we are not seeing this issue.

The only difference might be NET 5.0.4.

[2021-03-10 20:37] ealsur commented on #2293
Based on the stack trace, it sounds like that is the case `at System.Threading.CancellationToken.ThrowOperationCanceledException()`. A 1 second cancellation token would cause this.

[2021-03-10 20:37] #2293 closed

[2021-03-10 21:04] rajeevramadugu commented on #2292
I was able to fix issue using this procedure. In Console app with AllowBulkExecution to true, it worked. I was getting this error in API. I copied "Microsoft.Azure.Cosmos.Serialization.HybridRow.dll" from bin directory of console app and replaced in bin directory of WebApi, then it worked. Looks like some older version of "Microsoft.Azure.Cosmos.Serialization.HybridRow.dll" is getting copied in We

[2021-03-10 22:44] CPrashanth commented on #2291
isnt the problem simple as adding another JsonProperty where LeaseId=>this.Id in the class and enable PartitionKey support on this LeaseId property name. I believe rest of the code can still operate out of the this.Id field?

[2021-03-11 09:13] andrew-tevent commented on #2293
Thanks @ealsur.  I'm still seeing slow first usage even with the "warm up" code having completed.   Is there anything else I need to warm up?

Could it be because I'm warming up with the non-generic ReadItemStreamAsync whereas in actual application code I am using ReadItem<T> - i.e. a serialisation warmup thing?

[2021-03-11 09:28] Marusyk commented on #2298
@ealsur any comments? I follow all steps from the docs, added my IP. it works well using the Portal. 403 only from SDK

[2021-03-11 10:01] bartelink commented on #2298
@Marusyk ealsur is a very helpful engineer based in Seattle who has a day job. He works on the .NET SDK team and as such is well placed to explain and fix _SDK issues_. The SDK produces HTTP requests etc, as do all the other SDKs. He has no control over the permissioning issues.

Are you sure the client ip you're running from when you run the code "from SDK" is correct and/or whitelisted?

This re

[2021-03-11 10:04] bartelink commented on #2293
[3.17](https://github.com/Azure/azure-cosmos-dotnet-v3/releases/tag/3.17.0) has a new `CreateAndInitializeAsync` API which is tailored for this purpose

[2021-03-11 10:23] andrew-tevent commented on #2293
Thanks @bartelink - do you know if it can be used with `CosmosClientBuilder` ?

[2021-03-11 11:03] bartelink commented on #2293
I'm thinking no - it's an async operation, i.e. `Task<T>`, which you want to do separate to the construction of the client, i.e. you create the Client, stash it / register it somewhere as the singleton for your app and then trigger that single initialisation call (which could fail - e.g. a typo in a container name will likely manifest as an issue in the way that the running of the synchronous oper

[2021-03-11 11:07] andrew-tevent commented on #2293
It seems to be a [static method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.cosmosclient.createandinitializeasync?view=azure-dotnet) on `CosmosClient` though - implying this is a factory method with which to create that singleton instance in the first place.

[2021-03-11 11:10] Marusyk commented on #2298
@bartelink
I don't know who is ealsur, but he closed my issue and I need some explaining

of course, as you can see below, it works from Azure Portal and it created a new container and event a new database.
The problem only with adding data into the container.

[2021-03-11 11:17] bartelink commented on #2293
Yes, you're right of course - it is a replacement for calling Create on the builder (I [knew that](https://github.com/jet/equinox/pull/279/files) but had forgotten!).

My general comments about doing this in a controlled fashion during app startup remain though.

There's a series of very good blog posts where [Andrew Lock walks through ways to structure this within an app](https://andrewlock.net/r

[2021-03-11 11:19] andrew-tevent commented on #2293
Thanks @bartelink, much appreciate.  I will take a look.

[2021-03-11 11:21] bartelink commented on #2298
This project is open source. It's a SDK. I watch the repo.

While I "just want to share my thoughts", my point was and is:
a) the SDK is just code
b) the issue was closed as the code in the SDK can't influence the service denying the request - it's just the messenger
c) you're going to resolve the answer quicker by approaching this as a general troubleshooting problem with the service, rather than

[2021-03-11 13:18] j82w commented on #2298
If you are still having issues please [contact support](https://aka.ms/azure-support).

One common issue that I'm aware of is if you double click the key in the portal it doesn't select the entire key and usually causes a few missing characters at the end of the key. Which then results in auth failures.

[2021-03-11 16:43] ealsur commented on #2298
@Marusyk As explained, this is not an SDK issue. One potential aspect based on experience, is that the IP you believe the request is originating from (and thus you used to add to your firewall configuration) might not be the actual IP (in cases where you use proxies for example). The Azure Portal has independent configurations to allow requests to go through:

![image](https://user-images.githubus

[2021-03-11 16:48] ealsur commented on #2293
@andrew-tevent the reason a ReadItem call might not completely warm up all connections is because it is targeted to a particular partition, not all.

When the SDK initializes, it does a couple of things:

* Fetch the account information (HTTP request) and cache it
* Fetch the collection information (HTTP request) for which the request is going to and cache it
* Fetch the routing information (HTTP

[2021-03-11 17:01] Marusyk commented on #2298
My Cosmos Configuration is:
![image](https://user-images.githubusercontent.com/9221694/110824909-2740cf80-829c-11eb-8bad-0e7cbafd230b.png)
![image](https://user-images.githubusercontent.com/9221694/110824925-2b6ced00-829c-11eb-9761-d58a3fbc2676.png)

[2021-03-11 17:01] ealsur commented on #2291
Not saying the problem's complexity is extreme, but when modifying the public API of the SDK to add any configuration setting that would be exposed to all users, the use cases need to be understood, the API names should be clear enough so that a user on a SQL API account (which is the vast majority) understand that they do not need to change it for example.

I added the `feature` tag to mark this

[2021-03-11 17:05] ealsur commented on #2292
Could your web api project depend on another project/library that might have an older version dependency?

Based on your comment, this sounds more like a .NET build dependency resolution issue, not particularly related to the SDK itself (as you verified with a simple console application).

[2021-03-11 18:04] j82w commented on #2270
Just to update the issue based on the email thread. I’ve looked through a several of the diagnostics, and noticed that the call to get the query plans from gateway was taking longer on average on 3.17. Can you try making the following changes and let us know if you see any improvement?

1.	Set the CosmosClientOptions.GatewayModeMaxConnectionLimit to int.MaxValue https://github.com/Azure/azure-cosm

[2021-03-11 18:27] ealsur commented on #2298
The blocking of the request is not generated by the SDK, the SDK is just materializing the service response, it's the service the one blocking the request, so we cannot know the reason from the SDK perspective.

There could be a service side that is only affecting point operations (CreateItem call) and not metadata operations (CreateDatabase), but we cannot answer that here, this is not a Cosmos D

[2021-03-11 21:17] rajeevramadugu commented on #2292
Looks like some dependency issue.

[2021-03-11 21:17] #2292 closed

[2021-03-11 21:54] Marusyk commented on #2298
Thank you very much for this great explanation. It was exactly what I need. Thanks again.

[2021-03-12 19:31] dpiessens commented on #2270
So I updated our code with the two performance items you listed, and the lag is reduced. The average delta went from 15ms to 10ms so that is an improvement. I'm sending over the new traces so you can see the difference. This did leave to one question:

Given that many of the queries access a single partition and specify that in the query, is there a way for you to add that into the Cosmos methods?

[2021-03-13 20:34] kirk-marple commented on #1867
Just ran across this again, and it may only happen when making parallel queries via ICosmosDbContainer.

Is it thread-safe to call GetItemLinqQueryable on same ICosmosDbContainer in parallel from multiple-threads?

In this case, I'm running 3 queries in parallel, within a parallel foreach (using System.Threading.Tasks.Dataflow).

Here's how I query and evaluate the feed iterator.  Each call is a '

[2021-03-13 20:40] kirk-marple opened #2302 "Still seeing #1867; no errors, just no results in FeedIterator"
Just ran across [this closed issue](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1867) again, and it may only happen when making parallel queries via ICosmosDbContainer. @bchong95 @ealsur

Is it thread-safe to call GetItemLinqQueryable on same ICosmosDbContainer in parallel from multiple-threads?

In this case, I'm running 3 queries in parallel, within a parallel foreach (using System.Th

[2021-03-13 21:15] kirk-marple commented on #2302
Also, it's not consistent, sometimes it gets all the models, sometimes it doesn't.

Is 5sec a reasonable time to expect models to be ready for querying?  Can't tell if this is just a session consistency problem or something more.

[2021-03-14 10:12] kirk-marple commented on #2302
I was re-reading about [session tokens](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-consistency?tabs=portal%2Cdotnetv3%2Capi-async#utilize-session-tokens), and we actually aren't handling this correctly, so I think this is latency in reading my own writes.  Closing this issue.

[2021-03-14 10:12] #2302 closed

[2021-03-14 20:18] PunzunLtd opened #2304 "Spatial.Converters throws null reference exception when data serialized with System.Text.Json.JsonSerializer class"
**Description**
When attempting to load data with spatial data from CosmosDB, the `Microsoft.Azure.Cosmos.Spatial.Converters.GeometryJsonConverter` throws a `NullReferenceException` in `ReadJson` when the spatial data was stored using `System.Text.Json.JsonSerializer.SerializeAsync(Stream, object)`. This is because the Microsoft serializer writes spatial data in a different format than the Newtons

[2021-03-15 05:02] jayantacs opened #2305 "Annotation to indexing policy doesn't roundtrip"
**Describe the bug**
A clear and concise description of what the bug is.

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2252/files

Due to the change the annotation doesn't roundtrip well. If you read ContainerProperties of container (whose annotation is null) and use to replace another container's property -- the backend call fails.

A fix could be to not serialize the annotation if it's n

[2021-03-15 11:34] j82w commented on #2305
@jayantacs that has the INTERNAL preprocessor flag which is only set for internal project that are using the SDK. The property won't be included in any public SDK nugets.

@bemill can you please take a look at this?

[2021-03-15 18:47] ealsur commented on #2304
Is your Model using any of the Spatial types?

[2021-03-15 18:58] PunzunLtd commented on #2304
1. Yes, the model has a Point member.
2. Yes, _that is the problem_. The sample code for bulk inserts uses `System.Text.Json` but the SDK still uses `Newtonsoft.Json`. You're right that one workaround would be to create a custom serializer or deserializer. Other options might be (in no particular order): refactoring the SDK to use `System.Text.Json` or fixing the line of code I identified in the S

[2021-03-15 19:38] ealsur commented on #2304
@PunzunLtd Changing the SDK to use `System.Text.Json` is something that is slated for the next SDK version as it would be considered a breaking change (the V4 preview uses it).

The V3 SDK has no compatibility with `System.Text.Json` and none is planned. It offers a serialization model where you can customize the serializer if you want to replace it entirely.

Spatial types, provided by the SDK, a

[2021-03-15 19:50] PunzunLtd commented on #2304
The change will be important, because any spatial data serialized with one will break when deserialized with the other, it looks like. I hope that's on the roadmap.

Again, this isn't _my_ code using `System.Text.Json` to serialize; it's the _official sample code_ for this SDK at https://github.com/Azure-Samples/cosmos-dotnet-bulk-import-throughput-optimizer/blob/main/src/Program.cs. See line 67,

[2021-03-15 20:39] ealsur commented on #2304
I understand, but that is just an example that shows one scenario, you are not forced to follow it. The idea is to guide in a generic scenario to help understanding the concepts, in this case, that Bulk mode leverages concurrent tasks.
Just like the example contains a way to setup the Indexing Policy, but might not be applicable to all cases, or you are not using the same `Item` type but rather a

[2021-03-15 20:47] ealsur commented on #2304
If you do not use System.Text.Json to save your documents and instead use the default Newtonsoft.Json as the above snippet shows, that would solve the problem, correct?

[2021-03-15 21:00] #2274 closed

[2021-03-15 22:17] PunzunLtd commented on #2304
OK. I appreciate what you're saying. But there's still a bug here, even if it's only a usability bug. Specifically, your statement "Spatial types, provided by the SDK, are Newtonsoft.Json compatible" is generally true but does not remain true when you use `System.Text.Json.JsonSerializer.SerializeAsync(Stream, object)` to serialize a `Point` object.

I filed this report because tracking down what

[2021-03-15 22:34] ealsur commented on #2304
I will follow up on the documentation with your feedback for sure.

Potentially, the `NullReferenceException` is because `Point` is being used to deserialize Json that was not generated with Newtonsoft.Json. It does make sense for the error to be more descriptive though, do you have the stack trace of the exception so we can see which line it might be? I do see several checks on the GeometryJsonCo

[2021-03-15 23:04] PunzunLtd commented on #2304
@ealsur , I believe the `GeometryJsonConverter` throws the NRE at line 64:
[code]
...because I believe `token["type"]` returns null in that case.

I'm still concerned that the mismatch between Newtonsoft and Microsoft on the `Point` class means existing data may cause the SDK to fail in future releases.

[2021-03-15 23:20] ealsur commented on #2304
Thanks for the pointer, will try to repro.

I understand the concern, but in my humble opinion, the issue is arising due to a mix of types that are not meant to work together. `Point` is only meant to be used with the default SDK serialization (Newtonsoft). It is correct that it is possible for a user to use it with their own custom serialization and see unexpected results, in that case, it would

[2021-03-15 23:42] PunzunLtd commented on #2304
So, what class should I use instead of `Microsoft.Azure.Cosmos.Spatial.Point`?

[2021-03-16 11:45] darthkurak opened #2313 "ReadNextAsync goes crazy and load all documents from collection, against executing query."
Hi everyone.
I have nasty case for you, which we observe on our production code. It's random, it's crazy and we are out of ideas why this happening. We need help from you as it seems to have source inside SDK itself.
Take a seat and enjoy.

1. Executed query:
`SELECT TOP 10 VALUE root FROM root WHERE ((true OR (root["User"]["IsDeleted"] = false)) AND StringEquals(root["User"]["AllegroData"]["Email

[2021-03-16 12:09] #2305 closed

[2021-03-16 12:30] j82w commented on #2313
Hi @darthkurak , can you try upgrading to 3.17? There is the following [fix ](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2168)which I believe will address your problem.

If you still see the issue can you please capture the `page.Diagnostics.ToString()`. It has all the necessary information to root cause different latency and query issues.

[2021-03-16 15:08] ealsur commented on #2304
The SDK does not have any alternatives for System.Text.Json serialization of GeoJSON data because that is not the serialization engine used by default.

You can either:

1. Use `Point` but use Newtonsoft.Json (default serialization). In your write flow code, you can use `CreateItemAsync` directly instead of serializing to Stream with System.Text.Json. That would also let your read/query flow work.

[2021-03-16 16:14] #2304 closed

[2021-03-16 16:21] PunzunLtd commented on #2304
OK, I'll try the CreateItemAsync flow, but I'm still very worried what happens when the SDK switches to `System.Text.Json` and all those point locations break. It seems like the prevention would be to create a point model class with just latitude, longitude, and elevation, and bypass the geometry classes entirely. As long as CosmosDB sees a field called "location" it seems to accept a lot of diffe

[2021-03-16 16:35] ealsur commented on #2304
If you are using V3 SDK, the SDK won't ever switch to `System.Text.Json`. In the code you pointed at, it is the user code decision to utilize `System.Text.Json` to create Streams, that is outside of the SDK scope. If your user code makes the decision of using System.Text.Json to serialize data and pass it as Streams to the SDK, it is your user code responsibility to handle also the deserialization

[2021-03-16 21:03] darthkurak commented on #2313
We did page.Diagnostics.ToString and it blowed up our production 🗡️

`Operations that change non-concurrent collections must have exclusive access. A concurrent update was performed on this collection and corrupted its state. The collection's state is no longer correct.` - probably something for separate thread ;)

Will let you know about SDK update.

[2021-03-16 21:06] j82w commented on #2313
This PR seems to fix the concurrent bug. https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2314

[2021-03-16 21:09] darthkurak commented on #2313
Looks like it. We made the change at the same time. We bumped up the SDK and added diagnostics to the logs.

[2021-03-16 21:10] darthkurak commented on #2313
Even on this PR it looks like it wasn't completed.

[2021-03-16 21:15] ealsur commented on #2313
@bchong95 Could you comment on the concurrency issue on the query diagnostics? Based on https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2097#discussion_r571185998 it looks like this is not behaving as expected?

[2021-03-16 22:02] jackbond opened #2315 "Read only connection string"
Do read only connection strings provide a performance boost, or do they simply manage access?

For example, if I have a Cosmos account setup in multiple read and write locations (e.g. North and South Central US) would a client created with a read-only connection string perform faster because it would access the read-only replicas?

Or put another way, is there a benefit to creating two CosmosClien

[2021-03-16 22:59] ealsur commented on #2315
Not that I'm aware, there is no performance benefit of using read-only keys, it is only to manage access.

[2021-03-16 23:15] j82w commented on #2315
Having multiple client instances on the same machine can lead to performance issues since the client instances do not share connections. That's why it's recommended to use a [singleton](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-dotnet-sdk-v3-sql#sdk-usage). I'm also not aware of any performance benefit from using read-only keys.

[2021-03-17 00:56] j82w commented on #2261
The regression causes all client side request stats to be excluded on exceptions.

The CosmosClientSideRequestStats is created here, but it is only added the trace if it is a success operation.
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/da197a56b765a1db62517ed6f07077eadc23c2e1/Microsoft.Azure.Cosmos/src/Handler/TransportHandler.cs#L73

It is added to the Trace for success/exceptionless o

[2021-03-17 12:30] vithal-wadje opened #2316 "Difference Between Azure.Cosmos 4.0.0 preview and Microsoft.Azure.Cosmos v3 SDK"
I seen there are two SDK's  for cosmos DB which are mentioned in the title but I observed both the SDK's source code redirected to the same GitHub repository and both SDK has same methods to perform the operations on cosmos DB, Then my question is what is the difference between these two SDK's . there is no proper documentation on same. same copy paste v3 example for v4 just difference in document

[2021-03-17 13:34] j82w commented on #2316
V3 SDK is the current code in the master branch on github. This is the current primary SDK that all development and feature work is being done. This is the recommended SDK for all development.

V4 SDK is in the [v4 branch](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/v4). The v4 SDK public surface area is based off the [Azure Core teams guidelines](https://github.com/Azure/azure-sdk-for-ne

[2021-03-17 14:40] vithal-wadje commented on #2316
Thanks for clarifying the my doubt . Hope new SDK will not be have just name changes of classes and methods , it should have some value additions such as Bulk insert etc.

Again thanks for your time

[2021-03-17 15:06] ealsur commented on #2316
@vithal-wadje V4 is currently in experimental phase, but ideally it would have the same features as V3, plus new ones (like AsyncEnumerable support). The [README of V4](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/v4#query-items) has some feature examples.

[2021-03-17 15:06] #2316 closed

[2021-03-17 15:06] ealsur commented on #2315
Closing as question has been answered.

[2021-03-17 15:06] #2315 closed

[2021-03-17 15:08] kendaleiv opened #2317 "Difficulty specifying CosmosPropertyNamingPolicy.CamelCase with 3.17.0"
I'm confused trying to set `CosmosPropertyNamingPolicy.CamelCase` with Microsoft.Azure.Cosmos 3.17.0. I don't see a path forward for specifying `CosmosPropertyNamingPolicy.CamelCase`.

---

[code]

[code]

[code]

Not sure how to resolve the situation. There's no custom serializer being set.

[2021-03-17 15:14] kendaleiv commented on #2317
Discovered this works:

[code]

[2021-03-17 15:14] #2317 closed

[2021-03-17 18:49] #703 closed

[2021-03-17 19:17] #2255 closed

[2021-03-17 20:53] ealsur commented on #2313
@darthkurak If you have the full stack trace of the concurrency error, it would greatly help to debug or try to reproduce it.

[2021-03-18 04:40] pmcilreavy commented on #810
I am using 3.17.0 and this appears to still be an issue.

[2021-03-18 07:50] darthkurak commented on #2313
[code]
@j82w We did update to 3.17, but still observe the same issue.
From last 7 days, we have 36 occurrences. 1129 requests where made total which could lead to this problematic query (we can't be sure how many exactly execution of this particular query were, because we are logging only problematic queries)
Of course, we have confirmation that exactly same query executed later by user, or later

[2021-03-18 10:29] Mortana89 opened #2319 "[VNext] NotImplementedException in TryGetOverlappingRangesAsync"
Using the latest v4 preview (yes, I know, preview, but we've been using it for more than a year already).
Sometimes (and recently more and more) we get 500 errors on some of our APIs.
After investigation in the application insights, we see the following error:

"The method or operation is not implemented."
"   at Azure.Cosmos.Query.CosmosQueryClientCore.TryGetOverlappingRangesAsync(String collecti

[2021-03-18 12:44] #1701 closed

[2021-03-18 13:55] j82w commented on #2313
@darthkurak can you please [contact support](https://aka.ms/azure-support) so a support ticket is created and will ensure the issue is properly prioritized.

[2021-03-18 14:04] j82w commented on #2319
This seems to have been fixed in the following PR: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1091. It's recommend to use the v3 SDK for all production scenarios. The .NET v4 SDK is still experimental preview so it should not be used for production scenarios.

@kirankumarkolli do you have any update on the v4 SDK estimate?

[2021-03-18 14:10] Mortana89 commented on #2319
Appreciate your response, but the first communication we received about the VNext release date was in around May 2020, and we had to do a major upgrade from .NET 2.2 STS to a LTS version (3.1) and as such decided to take the risk to go for the new preview SDK as it would be released in a few months.
But this date has been shifted more than once due to valid reasons, but I hope this clarifies the s

[2021-03-18 20:52] grantborthwick opened #2336 "Example syntax error - Database db = cosmosClient.GetDatabase("myDatabaseId"];"
The code example on the page has a syntax error:

[code]

The method call should be closed with a ) instead of a ].

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.cosmosclient.getdatabase?view=azure-dotnet#examples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 440cc9dd-9e0b-44f8-f31a-36cdd97d5bbd

[2021-03-19 06:51] sourabh1007 opened #2323 "[Internal] Adding Client Telemetry"
**Is your feature request related to a problem? Please describe.**
Client requested for request charge API for CosmosException (ref. https://github.com/Azure/azure-sdk-for-java/issues/13488)

**Describe the solution you'd like**
Develop a telemetry module which collects and save certain kind of metrics periodically. It is already developed for Java SDK (ref. https://github.com/Azure/azure-sdk-for-

[2021-03-19 07:31] bartelink commented on #2313
Anecdotal: I don't have any analytics at that level to hand but am seeing similar dramatic over-reading behavior for simpler cases too when using 3.17.0. More significantly, calls start to freeze after about 2.5h of running within an app that has 2 V3 clients (pointed at different containers) and a V2 CFP client
I've deployed `3.18.0-preview` and it doesn't fix it.
I've good confidence this hang a

[2021-03-19 11:20] j82w commented on #2323
Can you provide an example with values for the information being sent back?

TIMESTAMP
HostEnvInfo // What information is  included in this?
AcceleratedNetworking // How can this be detected?
GreaterThan1Kb // Is this a percentage? Count? Bool? Is it for both request and responses?
Consistency // Is the SDK consistency? Is it null if they just use the account default?

// Is this all for latency?

[2021-03-19 12:08] j82w commented on #2313
@darthkurak I was able to find the ticket. Can you try using 3.18.0-preview and capture the CosmosDiagnostics? It fixes the dictionary concurrency issue.

@bartelink you are correct about the fixes. Here is the [PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2321) to update the changelog. Is there any way you can share a repro of the issue? Is it a memory leak?

[2021-03-19 12:11] sourabh1007 commented on #2323
I have updated the schema in the main issue along with sample JSON.

[2021-03-19 16:58] kirankumarkolli commented on #2323
Few clarifications on the wire format
1. Nesting percentiles: Why are they nested?
2. Greaterthan1KB: won't making it a text-histogram be more useful? Or in other words what scenarios would boolean address.
3. RegionsContacted: will per region be a better alternative? (Like what % requests routed to other regions)

Eventually do client expected to post metrics to the current one in PreferredList c

[2021-03-19 21:55] j82w commented on #2270
The latest diagnostics provided shows a 2 to 3x increase in 3.17 SDK networking time vs 3.9 SDK time. Testing the SDK versions in an Azure VM showed they were roughly the same networking latency. Can you try running both SDK versions in the same container against the same Cosmos DB endpoint? At this point it seems likely the difference is caused by something in the environment.

[2021-03-19 22:23] YohanSciubukgian opened #2325 "Documentation related to SDK detailed implementation"
**Is your feature request related to a problem? Please describe.**
Do you have any documentation (with schemas?) that describe behaviors of the SDK regarding its detailed implementation ?

I would like to understand impact on the SDK logic when setting XX or YY configuration on clients in order to fine tune as much as possible the right client/query configuration.
I saw that there is already many

[2021-03-19 23:30] lzl124631x commented on #1679
In our case, we are using the cosmosDB to fetch the users' preferences on page load. To avoid making a long page load time, we want to have a Timeout for the entire query, say, 1 second. If the entire query times out, we want to cancel that query and do some failover. We don't care how many requests the query is actually using in this scenario.

And I feel that most of the people will interpret th

[2021-03-21 20:27] j82w commented on #2325
The current performance guidelines are here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-query-metrics

@timsander1 can you please take a look?

[2021-03-22 15:33] timsander1 commented on #2325
Sharing docs on query pagination here: https://docs.microsoft.com/azure/cosmos-db/sql-query-pagination.

There are a few reasons why query execution could be split across multiple pages:

- The container was throttled and there weren't available RUs to return more query results
- The query execution's response was too large
- The query execution's time was too long
- It was more efficient for the

[2021-03-22 16:15] j82w opened #2326 "ReadMany API"
This is port the ReadMany API implemented by Java SDK. This API allows users to efficiently read many items from the container. This can be done via query and/or batch currently but makes the process complex and is not user friendly.

Suggested APIs

### 1. Single page response
Pros: It's easier to use. No complex pulling model. No users forgetting to do the HasMoreResult loop.
Cons: Stream respon

[2021-03-22 16:21] ealsur commented on #2295
@roboz0r the parameter is optional, if you created a Database with provisional throughput, you can create containers without specifying their throughput

[2021-03-22 16:21] #2295 closed

[2021-03-22 16:32] bartelink commented on #2313
@j82w Thanks. Just to be clear: my 'report' should be considered wild speculation for now.

I'm not currently running the ingestion process so can't even chart memory growth atm.

The other thing that's impeding my progress toward doing proper issue reporting is that I'm having to mix V2 CFP usage with usage of the V3 client as we wait on https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1765

[2021-03-22 23:04] mxavierciandt commented on #2292
I'm facing the same issue. I have some methods on my base repository to do some batch operations on Cosmos DB, they are like that:

       public async Task AddRangeAsync(List<T> entities)
        {
            var container = _cosmosDbClientFactory.GetContainer(CollectionName);
            var entitiesList = entities.Split(_maxItemsPerBatch).ToList();

            foreach (var items in entitiesLi

[2021-03-22 23:08] MatheusXavier commented on #2292
I'm facing the same issue. I have some methods on my base repository to do some batch operations on Cosmos DB, they are like that:

       public async Task AddRangeAsync(List<T> entities)
        {
            var container = _cosmosDbClientFactory.GetContainer(CollectionName);
            var entitiesList = entities.Split(_maxItemsPerBatch).ToList();

            foreach (var items in entitiesLi

[2021-03-22 23:42] j82w commented on #2292
@MatheusXavier it might be better to create a new issue.

1. Do a clean and build. Verify that the bin and obj folders are clean. It's possible that some old file is not getting updated..
2. If you have multiple projects are they all referencing the same version of the SDK?

[2021-03-22 23:56] ealsur commented on #2292
@MatheusXavier the OP confirmed the issue was related to DLL mismatch (basically project references with different SDK versions generating a deployment where versions mismatched).

Please go through the same points discussed in this thread.

[2021-03-23 00:10] rajeevramadugu commented on #2292
@MatheusXavier ,
I had similar issue when I was using Microsoft.Azure.Cosmos 3.17 and AspNetCore.HealthChecks.CosmosDb 5.0.3. I had to downgrade AspNetCore.HealthChecks.CosmosDb to 3.x, and bin folder has now correct Microsoft.Azure.Cosmos.Serialization.HybridRow.dll version. You might be having conflicting dll issue too.
cc: @ealsur

[2021-03-23 08:38] bartelink opened #2328 "Expose a connection string parsing API"
**Is your feature request related to a problem? Please describe.**
I want to log the endpoint Uri (but not the key of course), but all I have is a connection string

**Describe the solution you'd like**
`var (uri,key) = CosmosClient.ParseConnectionString(connectionString)`

**Describe alternatives you've considered**
https://stackoverflow.com/a/66746588/11635

**Additional context**
I've previousl

[2021-03-23 11:45] j82w commented on #2328
What is the use case for needing to parse the connection string without the SDK? The CosmosClient does expose the Endpoint.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/3eebc5f1446bfae631dfab752f0ad6fd68c5bb39/Microsoft.Azure.Cosmos/src/CosmosClient.cs#L470

[2021-03-23 11:46] MatheusXavier commented on #2292
I've checked all my projects and they are referecing the same sdk version, so I cleaned my solution and deleted all obj and bin folders and tried again but it didn't work.
Then I tried @rajeevramadugu solution. Because I was using **Microsoft.Azure.Cosmos 3.17.0** with **AspNetCore.HealthChecks.CosmosDb 5.0.3**, so I downgraded **AspNetCore.HealthChecks.CosmosDb** to version **3.1.2** and it worke

[2021-03-23 12:01] bartelink commented on #2328
That's referenced in the SO question.

The aim is to:
1. Log: `"about to connect to {uri}"`
2. Then attempt the connection (using `ConnectAndInitializeAsync`)

[2021-03-23 12:55] dpiessens commented on #2270
I attempted to put both version in the same container, but while possible it proved to be more of a challenge than the outcome is worth. At this point we will accept the timing for what it is and scale out to return to our previous throughput.

[2021-03-23 12:55] #2270 closed

[2021-03-23 14:45] sebader opened #2330 "ApplicationRegion parameter does not work with output from ARM"
**Describe the bug**
I have a compute resource in Azure, lets say an AKS cluster. Doesn't really matter which one since the problem is the same across multiple services:

In my deployment pipeline I run a CLI command to retrieve the region, for instance:
`az aks show --resource-group my-rg -n mycluster --query "location" --output tsv`

This outputs something like `northeurope` or `eastus2`. This s

[2021-03-23 15:44] j82w commented on #2328
What is the reason for needing to log it before the client initialization instead of just logging it after the client is initialized?

[2021-03-23 15:52] bartelink commented on #2328
To convey configuration of the client in instances where it hangs, 429s, 503s, 500s or otherwise takes a long time to initialize. Obviously in the case where one has done a lazy init of a `CosmosClient`, it doesn't arise, but it definitely does if you're going to warm it up.

I happen to emit it to the console and into the log; typically the endpoints come from Consul or Vault; the endpoint being

[2021-03-23 15:56] ealsur commented on #2328
@bartelink you can use `System.Data.Common.DbConnectionStringBuilder`

[code]

[2021-03-23 16:28] bartelink commented on #2328
@ealsur I know I can (and thanks for trying to help) - [I actually _have_, *for now*](https://github.com/jet/equinox/issues/284#issuecomment-804734605). I happen even to be able to squirrel it away in a wrapper lib without too much junk leaking into normal apps.

My point, and the reason for this issue, is that the SDK should provide an affordance that lets me naturally emit the Endpoint Uri for d

[2021-03-23 16:56] j82w commented on #75
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2312

[2021-03-23 16:56] #75 closed

[2021-03-23 16:58] j82w commented on #175
Closing this since there has been no updates. Please reopen if it still an issue.

[2021-03-23 16:58] #175 closed

[2021-03-23 16:59] #313 closed

[2021-03-23 17:00] #284 closed

[2021-03-23 17:01] #679 closed

[2021-03-23 17:10] ealsur commented on #2330
@sebader Locations have a Name and a DisplayName property, you should be able to use the DisplayName property without issues.

[2021-03-23 17:21] #1912 closed

[2021-03-23 17:27] #1814 closed

[2021-03-23 17:28] j82w commented on #1796
This should be fixed now. Please re-open if it still an issue.

[2021-03-23 17:28] #1796 closed

[2021-03-23 18:11] YohanSciubukgian commented on #2325
@j82w, @timsander1 Thanks for your quick answers.
It's also about having tradeoffs highlighted in the documentation.

AFAIU, some issues raised are talking about limitations/workarounds based on the behavior of the 'SDK/Cosmos Server' but there is no documentation that highlight these tradeoffs, such as when choosing parallelism vs sequential for each query.
ex: if parallelism is being chosen for

[2021-03-24 09:36] sebader commented on #2330
@ealsur where do you mean? The CLI output only has one field. and `WithApplicationRegion()` expects only one string which seems to be the DisplayName

[2021-03-24 15:13] abhijitpai commented on #2326
Shouldn't this follow a FeedIterator based model to get paginated results if too many items are requested for?

[2021-03-24 15:19] sebader opened #2333 "Get endpoint that was used in a query/operation"
**Is your feature request related to a problem? Please describe.**
I'm using DirectMode to connect to a multi-master Cosmos DB and am using `ApplicationRegion` to connect to the closest instance. That works well.
However, as DirectMode has very limited automatic tracing with ApplicationInsights, I'm adding my own instrumentation like this:

[code]

The problem is that `_dbClient.Endpoint.Host` wil

[2021-03-24 15:26] ealsur commented on #2330
Azure CLI modules differ from resource type to resource type, so maybe the aks implementation is different, but ARM locations have Name, DisplayName and other attributes.

If you run `az account list-locations`, it will list all regions available in that cloud, for example:

[code]

That is the ARM location information. And the `displayName` property matches what is expected on the SDK input.

[2021-03-24 15:34] sebader commented on #2330
Well, I have worked around it by now using a different way, but for future reference, you can make it like this from AKS...

[code]

sample ==> `East US`

Do I really like that? TBH, no. That's why I would like to have it as a feature inside the SDK to ideally take either as input: name or displayName

[2021-03-24 15:44] ealsur commented on #2330
@sebader I agree, and personally I thought all Azure services used the same Location information, after all, it's ARM data. The fact that aks is just returning the `name` is unexpected.

Supporting the `name` and `displayName` sounds valid as a feature thought.

[2021-03-24 15:48] sebader commented on #2330
It actually seems like every service/RP is doing it differently. Probably not even ARM doing it

Just a few examples:
![image](https://user-images.githubusercontent.com/11445087/112340366-c1ebd600-8cc0-11eb-9132-bf7e880585c9.png)

[2021-03-24 15:53] ealsur commented on #2330
@sebader the beautiful land of Resource Provider independent implementations

[2021-03-24 15:55] sebader commented on #2330
so I guess the feature should actually be "support name or displayName in all-lowercase" :D

[2021-03-24 16:18] j82w commented on #2326
Good point, I'll update it to be an iterator.

[2021-03-24 19:03] j82w commented on #2333
@sebader can you try the latest [3.18.0-preview](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/changelog.md#added) which contains a new API `GetContactedRegions` on the CosmosDiagnostics that will return the contacted regions?

[2021-03-24 19:09] j82w commented on #2330
@ealsur do you see any reason why we shouldn't add a normalization logic to the locations names to prevent this issue?

[2021-03-24 21:37] sebader commented on #2333
That looks exactly like what I’m looking for :) will give it a try tomorrow

[2021-03-24 22:52] ealsur commented on #2330
Nope, assuming all regions can be normalized the same way.

When listing the Azure regions in the public cloud, there are cases where a "remove spaces, lowercase" does not apply, for example:

[code]

We can see the Display Name here is `United Kingdom` but the Name is `uk`. Which is different than, for example:

[code]

Where Display Name is `United States` and name is `unitedstates`.

I don't se

[2021-03-24 23:12] j82w commented on #2330
I wonder if this is still necessary if we added the feature to get the region from the Azure VM API. I was really hoping that just doing lower case + removing space would fix it.

[2021-03-24 23:21] ealsur commented on #2330
Me too, but sadly the inconsistency kills any possible algorithm

[2021-03-25 06:48] darthkurak commented on #2313
Hi. We have used 3.17.1 and gathered logs.

FeedIterator.ToListAsync more than one page: PageCount: "1", RuUsage: "15191.44", PageNumber: 0
--
FeedIterator.ToListAsync more than one page: PageDiagnostics 0: "{\"name\":\"Typed FeedIterator ReadNextAsync\",\"id\":\"e5ba9312-74cc-4f4e-8beb-30c529bdf5ff\",\"component\":\"Transport\",\"caller info\":{\"member\":\"OperationHelperWithRootTraceAsync\",\"f

[2021-03-25 08:44] sebader commented on #2330
@ealsur your example is a `"regionType": "Logical"`, I think you can disregard those. Looking at the output I would say only `"regionType": "Physical"` is important as those are actual regions

[2021-03-25 12:55] j82w commented on #2326
@kirankumarkolli, @asketagarwal, @ealsur, @FabianMeiswinkel  what are your opinions of the two models?

[2021-03-25 14:41] onionhammer opened #2334 "'Replace container' doesnt actually work to re-enable indexes"
Using the latest version of the SDK against a 'serverless' account, executing 'ReplaceContainerStreamAsync' on the container with properties to enable  the indexing returns an 'OK' result but then the indexing remains disabled in the actual container

![image](https://user-images.githubusercontent.com/969938/112491307-30c34080-8d4e-11eb-8d11-69bee4265bdd.png)

results in

![image](https://user-ima

[2021-03-25 15:11] ealsur commented on #2330
Great point, didn't see the difference on the regionType!

[2021-03-25 15:13] ealsur commented on #2334
@onionhammer This doesn't seem like an SDK issue, as you pointed out, the SDK is receiving an `OK` from the service, whether or not that materializes is out of what the SDK can or should do.

@ThomasWeiss Is this an expected behavior on serverless?

[2021-03-25 17:20] ThomasWeiss commented on #2334
@ealsur It is not. I tried to disable, then re-enable indexing on a serverless container from the portal, and it succeeded.

[2021-03-25 17:23] ealsur commented on #2334
@onionhammer Have you tried changing it from the Portal and it works? Did you try refreshing the portal webpage after you executed the SDK operation?

[2021-03-25 17:38] onionhammer commented on #2334
Yes, it works via the portal, just not the SDK

[2021-03-25 18:27] ealsur commented on #2334
@onionhammer Can you provide a code repro (not screenshots) that we can use to verify?

[2021-03-25 18:42] chwarr opened #2337 "Document behavior of Resouce.GetPropertyValue<T>(string) when property does not exist"
The documentation for `Microsoft.Azure.Documents.Resource.GetPropertyValue<T>(string)` needs to have explicit documentation about what the behavior is when the property doesn't exist.

Decompiling "microsoft.azure.documentdb.core\1.9.1\lib\netstandard1.6\Microsoft.Azure.DocumentDB.Core.dll" it looks like `default(T)` is returned.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-03-25 18:55] j82w commented on #2313
Here is the diagnostics formatted.
[code]

[code]

[2021-03-25 19:38] pouyapalmerbet opened #2338 "sample code is not formatted correctly."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36cebcef-3027-3652-3eac-921f3269c648
* Version Independent ID: c8eb417a-06c3-7454-9dc6-c099458707dc
* Content: [UniqueKeyPolicy Class (Microsoft.Azure.Documents) - Azure for .NET Developers](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.

[2021-03-25 19:39] onionhammer commented on #2334
Hmm, I think the issue is that the progress notification was not showing and the table I was enabling indexing on was somewhat large?

![image](https://user-images.githubusercontent.com/969938/112532965-70525280-8d77-11eb-8b0d-125c3e1d873b.png)

I'm not able to reproduce this now. I guess the only issue is that clicking the 'refresh' icon does not reload the indexing policy, you have to actually r

[2021-03-25 19:39] #2334 closed

[2021-03-25 20:37] YohanSciubukgian commented on #2313
Is it related to #1486 ?

[2021-03-25 20:55] neildsh commented on #2313
This should already be fixed by https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2168

[2021-03-25 21:35] ealsur commented on #2313
@neildsh The user is on 3.17.1, which already contains that PR, could this be then a different case?

[2021-03-25 21:39] neildsh commented on #2313
Hi @ealsur , the symptom of loading all documents was seen when the user was on 3.16. Then the user upgraded to 3.17.1 for which we see only two requests being sent out from the SDK. However, they ran into the concurrent modification of diagnostics issue, which led @j82w to recommend that they use the 3.18.0-preview

[2021-03-25 22:12] darthkurak commented on #2313
Sorry, but im bit confused with your conversation. What is the conclusion?
To be clear: We still observe behavior of loading all documents on 3.17.1 against the logic of executed query and HasMoreResults code. diagnostic logs as executed query was provided above. Our logging based on cosmos sdk request handler indicate 31 calls in summary for this particular query execution. It doesn’t happen alwa

[2021-03-25 22:23] neildsh commented on #2313
Hi @darthkurak, @ealsur , my bad... I overlooked the massive number of documents retrieved in the second request... looks like the prefetching logic is being over aggressive here.

[2021-03-25 22:34] neildsh commented on #2313
@darthkurak , for the 3.17.1 logs that you gave us, did you have the MaxItemCount set ? That seems like something which would help considerably.

[2021-03-25 23:06] neildsh commented on #2313
Hi @darthkurak , I think a few things are happening here:

The search performed is very expensive since it is case insensitive. Also, on the portal, it looks like we are loading only one document and not actually draining the continuation fully. That would explain why it is cheaper... it could be that the portal is getting "lucky" when it hits the partitions in sequence and the very first partitio

[2021-03-26 08:35] darthkurak commented on #2313
I know that search is very expensive. Normally it costs us around 800-900 RU. But there are few search (exactly the same) which costs 50K ru's. And from client sides SDK generates 31 calls to Cosmos. So, it doesn't looks like normal behavior.

[2021-03-26 10:52] sebader commented on #2333
thanks @j82w this works like a charm! :)

Can you maybe explain a bit more background when there would be more than one contacted region in the list? I assume that would that mean it has tried one region (how many times?) before it tried the next one?!

[2021-03-26 11:46] j82w commented on #2313
@darthkurak the diagnostics you provided only shows doing 2 network Direct + TCP calls.
1. Can you please change your application to use a singleton? From the diagnostics there is 3 instances so far. This will cause a lot of issues in the future include high latency because the SDK needs to warm up the caches.
2. Based on the code posted in this issue, and the output you shared it is missing the d

[2021-03-26 12:01] j82w commented on #2333
Please take a look at this documentation and make sure you have the client configured properly. By default it will only try the primary region.

https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-sdk-availability
https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-dot-net-sdk?tabs=diagnostics-v3#retry-logic-

There is a lot of different scenarios that can cause it to retry on

[2021-03-26 12:01] #2333 closed

[2021-03-26 12:06] j82w commented on #2319
There won't be a preview update to v4 until it is time to start working on the GA version. All the changes since 1/10/2020 in the v3 SDK need to be ported over which is not a trivial task.

[2021-03-26 12:08] #1540 closed

[2021-03-26 12:08] #1506 closed

[2021-03-26 12:09] #1449 closed

[2021-03-26 12:09] #1448 closed

[2021-03-26 13:50] #2256 closed

[2021-03-26 13:52] j82w commented on #371
This was fixed in #1550

[2021-03-26 13:52] #371 closed

[2021-03-26 13:53] #339 closed

[2021-03-26 13:56] j82w commented on #949
Please try upgrading the latest SDK. If the issue still repos capture the CosmosDiagnostics.ToString().

[2021-03-26 13:56] #949 closed

[2021-03-26 13:57] #836 closed

[2021-03-26 13:57] #747 closed

[2021-03-26 13:59] j82w commented on #722
Closing this since it is fixed in the latest SDK. V4 SDK will be updated once work to GA it starts.

[2021-03-26 13:59] #722 closed

[2021-03-26 14:00] #664 closed

[2021-03-26 14:02] #1071 closed

[2021-03-26 14:03] #1066 closed

[2021-03-26 14:03] #1047 closed

[2021-03-26 14:04] j82w commented on #1039
https://docs.microsoft.com/en-us/azure/cosmos-db/migrate-dotnet-v3?tabs=dotnet-v3

[2021-03-26 14:04] #1039 closed

[2021-03-26 14:04] #1014 closed

[2021-03-26 14:06] #1240 closed

[2021-03-26 14:07] j82w commented on #1200
Fixed in #1550

[2021-03-26 14:07] #1200 closed

[2021-03-26 14:08] #1326 closed

[2021-03-26 14:08] #1269 closed

[2021-03-26 14:34] #2058 closed

[2021-03-26 14:36] mwikstrom opened #2341 "Unconditional delete in transactional batch"
**Describe the bug**
I want to unconditionally delete an item in a transactional batch.

Conditional deletes are performed by setting either `IfMatchEtag` or `IfNoneMatchEtag` in `RequestOptions`. Therefore an unconditional delete should be one where those are left with `null` values.

**To Reproduce**

[code]

**Expected behavior**
When performing an unconditional delete in a transactional batch:

[2021-03-26 15:07] #1553 closed

[2021-03-26 15:08] #1418 closed

[2021-03-26 15:09] #1394 closed

[2021-03-26 15:09] #1318 closed

[2021-03-26 16:08] ealsur commented on #2341
@abhijitpai Is this a supported scenario?

[2021-03-26 16:36] abhijitpai commented on #2341
We can add a DeleteItemIfExistsAsync API - it can possibly return 204 vs 200 based on whether it deleted something, and so the transactional batch wouldn't fail in either case; as such the current behavior is expected.

[2021-03-26 18:05] neildsh commented on #2313
Hi @darthkurak , as @j82w suggested, can you please gather the full diagnostics for these requests that you mentioned? When you say the searches are "exactly the same", do mean that exactly the same query (including parameters) costs 800-900RU sometimes and 50k RUs at others ?

Did you consider my recommendation above for using an exact match instead of a case insensitive match ? That will help a

[2021-03-26 18:35] j82w commented on #745
Please create a new issue if this still reproduces. Several performance improvements have been made in the latest SDK.

[2021-03-26 18:35] #745 closed

[2021-03-26 18:36] #349 closed

[2021-03-26 18:37] #959 closed

[2021-03-26 18:40] #1348 closed

[2021-03-26 18:41] j82w commented on #1278
This is supported via a custom CosmosSerializer.

[2021-03-26 18:41] #1278 closed

[2021-03-26 18:45] j82w commented on #1273
Closing this since there has been no updates.

[2021-03-26 18:45] #1273 closed

[2021-03-26 18:49] #2257 closed

[2021-03-26 18:51] #2118 closed

[2021-03-26 18:58] j82w commented on #1908
This needs to be implemented by the service. The SDK should not be doing this validation. Please [contact support](https://aka.ms/azure-support) to have the Cosmos DB service add the required checks.

[2021-03-26 18:58] #1908 closed

[2021-03-26 18:59] #1856 closed

[2021-03-26 19:00] #1806 closed

[2021-03-26 20:10] Socolin commented on #1908
@j82w Already reported using the support last year, it took 3 weeks to the one in charge of our ticket to understand we wanterd to repot a bug and nothing has been done since, do you have a direct contact with the team in charge and let them know ?

[2021-03-26 20:29] #1673 closed

[2021-03-26 20:33] j82w opened #2344 "Add support xamarin"
The SDK does not currently support xamarin for the following issues. This issue is used to track adding support for it.

#1146
#1236
#1243
#1267
#83

[2021-03-26 20:34] #83 closed

[2021-03-26 20:34] #1146 closed

[2021-03-26 20:34] #1236 closed

[2021-03-26 20:34] #1243 closed

[2021-03-26 20:34] #1267 closed

[2021-03-26 20:42] #1396 closed

[2021-03-26 21:08] StefArroyo commented on #1908
@Socolin Can you fill out this short form w/ the details of the ticket https://forms.office.com/r/qpY2yZUVBq? I can follow up with the team in charge on the status of this ask and reach out to you!

[2021-03-26 21:13] darthkurak commented on #2313
@j82w We can't change to singleton right now. We have 3 instances per purpose as each of it manage separate resource. Maybe on of them is redundant, so we will fix this soon. Good to know, we will optimize it. But this is another case. I see no connection with reported problem.
I pasted diagnostics logs for both pages. You even formatted both of them :)
https://github.com/Azure/azure-cosmos-dotnet

[2021-03-26 21:52] darthkurak commented on #2313
You can see that ReadNextAsync for first page takes 72s, but actually prefetch takes 4.5 s and there is nothing more in diagnostics logs which would show where the rest of 68s s is spent. I think that your diagnostics logs somehow do not log this edge case, because our independent logging based on "https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.requesthandler?view=azure-dotnet"

[2021-03-27 00:48] Socolin commented on #1908
I'm getting the following error message on your link: "You don't have permission to view or respond to this form"

[2021-03-27 01:09] j82w commented on #2313
If they each have unique resources then it's not an issue if there is 3 clients. The scenario that is a problem is if the SDK client is getting re-created for the same resource. We seen users create a new client for each SDK operation which causes issues since the caches have to get warmed for each new instance.

Just to clarify the times in the diagnostics are in Milliseconds, not seconds.

[2021-03-27 01:15] StefArroyo commented on #1908
I've fixed the permission issue. Should be working now!

[2021-03-27 07:08] darthkurak commented on #2313
I know, but 59751.2997 ms give us 60 seconds, right? :)

[2021-03-27 10:52] sourabh1007 commented on #2323
1. It represents out of 100 requests, how many requests took under how much time. e.g.
99.9: 63.93
90.0: 39.18
95.0: 63.93
99.0: 63.93
It means, 99.9 requests took less 63.93 sec to get processed. 90.0 requests took less than 39.19 sec and so on.
That's why they are nested.
2. This particular field was requested from "Monitoring Team". They just wanted to know if response size was less than 1kb or

[2021-03-28 11:43] xperiandri commented on #1396
OK, but why do you seal containers?

[2021-03-28 17:00] abhijitpai commented on #1905
@j82w do we need #1911 and this or are they both the same? Am okay with 3 - any suggestions on how to expose OperationType?

[2021-03-29 11:40] j82w commented on #1905
This seems to be a duplicate of 1911. I'm closing it.

[2021-03-29 11:40] #1905 closed

[2021-03-29 13:35] #2294 closed

[2021-03-29 16:31] #2296 closed

[2021-03-29 18:04] ealsur commented on #1396
@xperiandri What do you mean? Container is not sealed https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/Container/Container.cs#L28

I still don't understand why the proposed code doesn't achieve what you need (build time checking). As explained before, Cosmos DB is schema-less, so adding any sort of `<T>` to the Container types would not make much sens

[2021-03-29 18:09] xperiandri commented on #1396
So the main flow is that you get Container from Database https://github.com/Azure/azure-cosmos-dotnet-v3/blob/94914c41aad9b1996599a515168fee3e710eb7fc/Microsoft.Azure.Cosmos/src/Resource/Database/Database.cs#L392

How do I need to achieve that in my case?

[2021-03-29 18:10] xperiandri commented on #1396
Imagine that I have a `CosmosClient` instance what code do I need to write to instantiate my derived `Database` and my derived `Container` classes?

[2021-03-29 18:21] ealsur commented on #1396
You'd have to inherit from Database, make your GetContainer call return an instance of your class instead I guess.

You can read the container information as a Stream and deserialize it to a custom class, which could be inheriting from `ContainerProperties` and have the extra methods you need.

I still don't understand why you need a custom Container type, if it's the reason explained before, the

[2021-03-29 19:59] #2146 closed

[2021-03-29 21:17] xperiandri commented on #1396
Because I already have an issue where I put one container where another is expected

[2021-03-29 21:17] xperiandri commented on #1396
I want to prevent that on compile time

[2021-03-29 22:04] adstep commented on #1202
Love to see this feature supported.

[2021-03-30 13:04] stpetzinger opened #2351 "Guidance on additional retry policies"
We are currently wrapping the Azure Cosmos SDK with our own SDK that adds an additional layer of resiliency over top of the Azure Cosmos retry policies. We are looking into revising the logic on how exceptions from the Azure Cosmos SDK should be retried. I've read in [Exceptions.md](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Exceptions.md) that "Cosmos DB SDK on any IO failure wil

[2021-03-30 15:57] darthkurak commented on #2313
Any update? :)

[2021-03-30 16:20] asketagarwal commented on #2326
As per latest discussion, we have decided to go ahead with the first option (Single Page response) as we think it will be easier for our customers to use. We need to optimize on joining multiple stream responses.

[code]

ReadManyRequestOptions is an overload of RequestOptions with sessiontoken and consistency options.

[2021-03-30 17:59] neildsh commented on #2313
Hi @darthkurak , thank you for following up. The backend logs will always show us all the requests. However, we do need the activityId to look them up. For these two activityIds that you shared initially:

[code]

[2021-03-30 18:41] YohanSciubukgian commented on #2313
@neildsh Where could we (community) track the fix/improvement done on backend side if it's not in this PR?

[2021-03-30 19:43] darthkurak commented on #2313
@neildsh yes, exactly the same query (with the same parameters) results most of the time with 700-800 rus and one call to backend. But sometimes it takes 50k rus and multiple calls to backend. It seems like here is still miss understanding of the problem. I have evident logs which tell exactly what calls were made. If this is on backend side - why I see in AppInsights logs 31 calls to Cosmos insta

[2021-03-30 20:55] #2217 closed

[2021-03-30 20:55] #2233 closed

[2021-03-31 15:25] j82w opened #2354 "CosmosDiagnostics Bug: ITrace on large number of retries causes JSON depth exception"
If there are hundreds of retries on an operation and a ToString() is done it will hit a JSON depth exception. Internal team hit it in the latest sync. The issue is the retry handler nests the ITrace instead of making all the retries at the same level.

To reproduce use the transport handler to inject a large number of 449s.

This is a regression that was introduced in 3.17.0 in PR #2097

There sho

[2021-03-31 16:57] jasontho-ms commented on #2354
I already have a fix for this; will submit once the latest sync is complete.

[2021-03-31 20:22] ccurrens opened #2356 "FeedResponse<T>.Headers empty for ordered, cross-partition queries"
Response headers are missing in `FeedReponse<T>` when the query executed contains an `OrderBy` statement and is cross-partition.

**To Reproduce**
Here's a simplified case:

[code]

**Expected behavior**
Headers from the response should be available in the `FeedResponse`

**Actual behavior**
There are no headers available in the `FeedResponse`

**Environment summary**
SDK Version: 3.17.1 (Also in

[2021-04-02 19:11] #616 closed

[2021-04-02 19:11] #1765 closed

[2021-04-02 19:11] #400 closed

[2021-04-02 19:11] #865 closed

[2021-04-02 19:11] #1122 closed

[2021-04-02 21:01] vivekr20 opened #2365 "DatabaseCore.ReadThroughputIfExistsAsync throws when database does not exist"
**Describe the bug**
DatabaseCore.ReadThroughputIfExistsAsync throws when database does not exist. The expectation is that this method would instead return a NotFound response, so that consumers of it can gracefully handle the scenario without needing to catch the exception.

**To Reproduce**
1. Database nonExistentDb = cosmosClient.GetDatabase("NonExistentDbName");
2. DatabaseCore databaseCore =

[2021-04-03 02:27] ajdust opened #2366 "Make Microsoft.Azure.Cosmos.ServiceInterop.dll native DLL loading optional again on Windows x64"
Hi, I am developing a feature for a .NET application that cannot use native DLLs such as "Microsoft.Azure.Cosmos.ServiceInterop.dll". We're piloting using Cosmos. All [documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#hosting-recommendations) I've found implies that this is OK, Cosmos works with Windows/Mac/Linux so loading native code is not necessary.

However the

[2021-04-04 10:55] bartelink commented on #1396
@xperiandri I wonder can you use [`FSharp.UMX`](https://github.com/fsprojects/fsharp.umx#usage) and/or the techniques therein to type-tag the containers the way you are seeking?

[2021-04-04 19:11] ealsur commented on #1396
The Repository<T> approach mentioned on the thread can address that without needing to override the Container or anything else, doesn't it?

[2021-04-04 19:39] xperiandri commented on #1396
Do you mean creating a decorator on top of the Container with the same API?
I don't use Repository pattern, it is not a functional way of doing things. I have a function that takes a Container.
I can only wrap a Container into a decorator with the same API.

Container has 46 abstract methods. This means that I need to write 93 lines of useless code just to create a decorator if possible.

[2021-04-04 20:05] bartelink commented on #1396
I mean that your logic will request a `Container<users>`, which uses units of measure to make it different from `Container<images>`

its a strong type alias. There is no decorator of any kind - you are wrapping the actual container in a type alias that makes it not be interchanbgeable without you doing an explict mapping.

Then you have
[code]

(obv you want to cache the container instance creatio

[2021-04-04 21:55] bartelink commented on #1396
@xperiandri you'll need [a line like this](https://github.com/fsprojects/FSharp.UMX/blob/master/src/FSharp.UMX.fs#L16-L17) to make `Container`s type-taggable in this way.

[2021-04-05 11:31] j82w commented on #2366
Hi @ajdust, what is the reason you can not use the native DLL? The change was made to always attempt to load the file because even if you are Linux or Mac where it currently is not supported the file should still exist.

[2021-04-05 16:08] ajdust commented on #2366
We have a plugin architecture wherein we provide .NET DLLs that are dynamically loaded into they system. Only .NET DLLs, and we do not control when and how the DLLs are loaded. The system ignores native DLLs.

[2021-04-05 18:27] kirankumarkolli commented on #2366
@j82w lets please create a backlog item to address it.

[2021-04-07 18:48] ealsur commented on #2351
Hi @stpetzinger

I am not sure who is the author of the "Retry guidance for Azure services", so I cannot comment on the wording there (which potentially can be improved), but on the SDK docs (https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-dot-net-sdk?tabs=diagnostics-v3#common-error-status-codes-) we document the different possible response codes.

Normally the SDK, if you use the `

[2021-04-07 19:08] colton-manville opened #2370 "Intermittent "System.InvalidOperationException: Collection was modified; enumeration operation may not execute." When Reading A Document With a Dictionary Property (SDK 3.17.1)"
**Describe the bug**
Intermittent InvalidOperationException when reading a document that has a Dictionary property.

Exception:
`System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
   at System.ThrowHelper.ThrowInvalidOperationException(ExceptionResource resource)
   at System.Collections.Generic.List.Enumerator.MoveNextRare()
   at System.String.Join(

[2021-04-07 19:39] PaulHuizer commented on #202
Any idea where we can find update on status and/or plans of Azure.Cosmos V4 package, since the latest package is in-preview ... I was wondering if it is a good choice to use it as is, or stay at V3.

[2021-04-07 20:05] onionhammer commented on #202
My guess is since the v4 preview is so old that it will change significantly before it comes out of preview (if it ever does...)

[2021-04-08 11:37] j82w commented on #2370
Hi @colton-manville,

What consistency are you using, and which operations is this being hit on?

[2021-04-08 11:57] j82w commented on #202
The current recommendation is to use v3 for all production scenarios. There currently isn't any update/release planned for v4 SDK.

[2021-04-08 13:37] Licho1 opened #2373 "Linq queries with nullable enum don't work, if enum uses StringEnumConverter"
It results in exception:
[code]

To replicate use classes like

[code]
Then use LINQ query like ``` .Where(x => x.NullableEnum == null) ```  on GetItemLinqQueryable

Nullable enum works fine, if the StringEnumConverter is not used.

[2021-04-08 13:58] stpetzinger commented on #2351
Thank you @ealsur.  That makes sense.  A couple questions, though.

1. Shouldn't we honor the user cancelling the operation by not retrying TaskCanceledExceptions?
2. You mention it is safe to retry 503's for Read operations.  Is there a property of the request or other way that we can tell that it is a Read operation?
3. We were considering retrying 500 errors.  What is your stance on that?
4. Th

[2021-04-08 15:42] ealsur opened #2374 "Session Token for write operations on Gateway mode with Multimaster"
When on Direct mode, and account being configured as Multi-master, the client sends the session token during write operations.

When on Gateway mode, the session token is not sent for write operations.

This logic should be aligned with Direct mode behavior for consistency.

[2021-04-08 16:15] colton-manville commented on #2370
Strong consistency.

We are doing a ReadItemAsync() call. I thought I copied the part of the call stack with the cosmos API we were calling. I will edit the bug report with the full call stack starting at the CosmosDB SDK API we called.

--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Run

[2021-04-08 17:11] ealsur commented on #2351
1. Correct, but that might be a business application level decision. That might not be a recommendation that applies to all cases, just like retrying on 429 might not also be something everyone might want to do. Worth evaluating in each case.
2. The operation you are executing is either a Write (Create, Replace, Upsert) or a Read (Read, Query), so you already know the intent based on the type of o

[2021-04-08 21:38] stpetzinger commented on #2351
Thank you.

1. Since like you said it could be an application level decision I think we would let that fall on the application consuming our SDK.
2. I was just seeing if there was a built-in property of the RequestMessage or any way to get it.  If not then we would just manually set it.
3. Those are good points.  Thanks.
4. Initially we were not going to retry Streaming operations because we are i

[2021-04-08 22:54] ealsur commented on #2351
This could cause Stream operations to throw exceptions, which is unexpected. If the caller of your SDK uses the Stream APIs, they do not expect exceptions, if your handler calls EnsureSuccessStatusCode, it will throw. Again I think if your concern is a custom retry policy, it is independent of Stream or Type APIs, and the Handler pipeline is made so you can put your logic regardless of Stream or T

[2021-04-09 13:37] stpetzinger commented on #2351
Yes. I forgot that some exceptions that wouldn't be retried and thus sent to the caller. Thanks.

I am coming to this conclusion as well.  The challenge I initially faced was that our current policy code only handles exceptions and is shared with other SDK's, and that didn't work with the new Request Handler model and Streaming.  It does seem now that the best way is to create a new policy impleme

[2021-04-09 17:37] ealsur commented on #2351
Closing as conclusion was reached in terms of the approach and questions answered.

[2021-04-09 17:37] #2351 closed

[2021-04-10 09:57] fhtino opened #2378 "Container methods create and upsert from stream with nullable PartitionKey"
I think that Container CreateItemStreamAsync and UpsertItemStreamAsync should allow nullable PartionKey parameter and default it to null. I see that the underlying methods all acceopt "PartitionKey?". Also the similar methods  UpsertItemAsync and CreateItemAsync accept nullable PartitionKey.  Obviously, when PartitionKey parameter is null, the key is extracted from the doc.

[2021-04-10 23:48] j82w commented on #2378
Is there any reason you can't use the PartitionKey.Null?

The partition key is a very important part of designing an application. Having a default value of null will allow developers to build a cosmos DB application without thinking about it. This leads to many issues in the future when the application needs to scale because a logical partition key has several limits such as a [maximum of 20 GB an

[2021-04-11 01:27] #2378 closed

[2021-04-11 07:01] fhtino commented on #2378
@j82w  I perfectly understand the importance of partition key an I want to and need to use it. Let me explain a bit more my suggestion. Perhaps I was not so clear.
I have a container with "mypartkey" as partition key. This works perfectly:
[code]
Now, I want to do the same using UpsertItemStreamAsync:
[code]
As you can see, I have to explicitly pass the partition key value "p1" whereas it's alread

[2021-04-11 10:37] abhijitpai commented on #1211
MemoryCache used within Microsoft Data Encryption clears out expired values, and we no longer own any cache with raw keys in the public model. We can verify for the internal model and close.

[2021-04-11 10:40] abhijitpai commented on #1131
Query support is available in the APIs, and should work as expected for the public model soon.

[2021-04-11 10:40] #1131 closed

[2021-04-11 18:09] j82w commented on #2378
What is the scenario for using the stream API? Does the additional overhead of having the SDK parse and extract the partition key from the stream not a concern?

[2021-04-11 18:28] gjvdkamp commented on #2038
I get the same error when trying to create a CosmosClient

[code]

throws:
[code]

I included the ldentityServer lines above as the error seems to have to do with jwt.

The package is in Preview 3 now, are we still not supposed to use it for greenfield stuff (going live in a month or so..)?

[2021-04-11 19:21] fhtino commented on #2378
Suppose I receive a json from another system. I know for sure the json is ready to be stored , i.e. it already contains the id field and the partition key field. For using UpsertItemStreamAsync, I must parse the json with NetwonsoftJson and extract the partition-key, only to send it alongside the json, already containing it. Not a big performance issue but useless.

[2021-04-12 04:40] anujtoshniwal commented on #1211
For the internal model (also integrated with Microsoft Data Encryption package), we are no longer caching any sensitive data (raw keys), we are only caching DataEncryptionKeyProperties (non-sensitive).

[2021-04-12 04:40] #1211 closed

[2021-04-12 11:35] j82w commented on #2261
Fixed in #2375

[2021-04-12 11:35] #2261 closed

[2021-04-12 11:44] j82w commented on #2378
Can the service that is sending the JSON payload not pass the partition key in the header? Just to be clear the SDK will still have to parse the json to get the partition key.

[2021-04-12 12:21] kirankumarkolli commented on #2378
Practically in many scenarios the PK is extracted from the context it-self (ex: end REST API addressing) and stream API's are tailed for those scenarios.

[2021-04-12 13:38] #2354 closed

[2021-04-12 13:40] j82w commented on #2280
Fixed in https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2376

[2021-04-12 13:40] #2280 closed

[2021-04-12 18:17] ctoph13 opened #2381 "Code example doesn't use continuation token"
hi there,

I believe there is a mistake in the code examples on this page.

there are two examples like the following:

[code]

the `response.ResponseContinuation` is checked in the `while`, but it's not used in the call anywhere. I believe the correct example would set `RequestContinuation = continuationToken` in the `FeedOptions`, like:

[code]

---
#### Document Details

⚠ *Do not edit this sec

[2021-04-12 23:28] ealsur commented on #2259
Closing as duplicate of https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2330

[2021-04-12 23:28] #2259 closed

[2021-04-12 23:29] #2234 closed

[2021-04-12 23:38] ealsur commented on #1855
Closing as the code is correctly rendered

[2021-04-12 23:38] #1855 closed

[2021-04-13 03:58] #2226 closed

[2021-04-13 03:58] #2230 closed

[2021-04-13 08:01] SzymonSmykala commented on #651
Any progress on that?

[2021-04-13 08:11] MikeNicholls commented on #651
Although it's currently only in preview, using the new [RBAC support](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac) is one way of achieving this if you're able to use AD identities and don't explicitly require resource tokens.

[2021-04-13 17:09] ivancavlek opened #2386 "StringEnumConverter in CosmosSerializer is ignored when making a LINQ query against an enum"
**Describe the bug**
When working with enum serialized as string in simple where clause, the expression is properly translated in SQL using the string value of the enum when StringEnumConverter is set as a C# attribute.
But it doesn't work when working with Fluent interface and inheriting from CosmosSerializer.

**To Reproduce**
[code]

[code]

**Expected behavior**
[code]

`SELECT VALUE root FROM

[2021-04-14 00:20] j-rewerts opened #2387 "Linq to SQL for string.Length doesn't use Cosmos LENGTH()"
**Describe the bug**
Linq to SQL for string.Length doesn't use Cosmos LENGTH().

**To Reproduce**
[code]

Imagine we want to find all of the users that have an email that isn't null or empty:

[code]

This will result in a SQL query like `user.Email.Length > 0`  rather than one that looks like `LENGTH(user.Email) > 0`.

**Expected behavior**
String.Length is converted into SQL LENGTH().

**Actual

[2021-04-14 11:26] jayman-dalal opened #2388 "Update to latest System.Text.Encodings.Web due to CVE-2021-26701 for Microsoft.Azure.Cosmos v3.17.x"
**Describe the bug**
Microsoft.Azure.Cosmos v3.17.x is dependent on System.Text.Encodings.Web which has https://msrc.microsoft.com/update-guide/en-US/vulnerability/CVE-2021-26701 as per Component Governance report. Requirement is to upgrade to version System.Text.Encodings.Web - 4.5.1,4.7.2,5.0.1. Can you please provide an ETA for it?

[2021-04-14 14:31] j82w commented on #2388
There is a plan to do a release late this week or early next week which should include the fix.

[2021-04-14 14:49] j82w commented on #2387
@timsander1 do you have any suggestions?

[2021-04-14 16:27] j82w commented on #2370
I believe I have the issue fixed. There was a background refresh that was reusing the same request object as the original task. The request object is not thread safe. The background refresh was modifying the headers at the same time the original task was leading to this issue. The fix should be included in the next release.

[2021-04-14 17:21] ealsur commented on #2388
[3.17.1](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.17.1) depends on Azure.Core :

![image](https://user-images.githubusercontent.com/1633401/114751101-92e9e280-9d09-11eb-94bc-f29a71c37709.png)

[Azure.Core 1.3.0](https://www.nuget.org/packages/Azure.Core/1.3.0) depends on:

![image](https://user-images.githubusercontent.com/1633401/114751203-b319a180-9d09-11eb-972c-4aa4737b5487.png)

[2021-04-14 17:21] #2388 closed

[2021-04-14 17:35] cacceres95 opened #2389 "ChangeFeed Estimator Instances fail with "NotFound" when running StopAsync()"
**Describe the bug**
We are seeing recurring CosmosExceptions thrown with the errors of "NotFound" and "TooManyRequests" when running StopAsync() on a changeFeedEstimator instance. These errors started showing up after we updated our SDK version from version 3.11.0 to 3.17.0

It is worth noting that when looking at the monitored container and the lease container we cannot correlate the 429's we ar

[2021-04-14 17:55] colton-manville commented on #2370
Great, thanks so much.

[2021-04-14 18:26] ealsur commented on #2389
From the stack trace, the exception is actually happening during the initialization, since the Stop just awaits on the initialization task to make sure no tasks are left running, that is when the exception raises, but the exception actually happened during the running: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorRunn

[2021-04-14 19:05] j82w opened #2391 "Query correlated activity id"
The query backend service can now handle correlated activity id. This will enable better troubleshooting of query issues as there currently isn't any way to correlate cross partition queries.

The change that need to be made:
1. New query should create a new correlated activity id. All the query request sent to the backend should include this property in the header with the key `"x-ms-cosmos-corre

[2021-04-14 21:02] #2389 closed

[2021-04-14 21:36] oscarcabrero opened #2393 "FeedIterator ReadNextAsync throws error on Trace.StartChild throws index was outside the bounds array"
.net framework
<package id="Microsoft.Azure.Cosmos" version="3.17.0"

InternalServerError (500); Substatus: 0; ActivityId: 00000000-0000-0000-0000-000000000000; Reason: (Index was outside the bounds of the array.);\nInnerExceptionStackTrace:    at System.Collections.Generic.List`1.Add(T item)\r\n   at Microsoft.Azure.Cosmos.Tracing.Trace.StartChild(String name, TraceComponent component, TraceLevel

[2021-04-14 23:01] timsander1 commented on #2313
Hi @YohanSciubukgian , backend improvements aren't tracked here but we'll blog about significant ones here: https://devblogs.microsoft.com/cosmosdb/

@darthkurak , if you're still seeing the 31 calls to Cosmos DB for that query, could you share an example diagnostics that show the 31 calls? Based on the diagnostics shared it above, I only see 2 calls. For improving string equals performance, have

[2021-04-15 04:21] SumiranAgg commented on #1971
Have been waiting for the feature and now trying it out. I gave an AAD identity DatabaseAccountContributor role from azure portal and /readMetadata and /container/* permissions as per RBAC control for dataplane operations (Referred this doc https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac). When trying to create a container using cosmos client initialized with this identity I see

[2021-04-15 04:31] SumiranAgg opened #2394 "Management operations using TokenCredential failing"
**Describe the bug**
I gave an AAD identity DatabaseAccountContributor role from azure portal and /readMetadata and /container/* permissions as per RBAC control for dataplane operations (Referred this doc https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac). When trying to create a container using cosmos client initialized with this identity I see below error:

"The given request [P

[2021-04-15 11:32] j82w commented on #2394
Currently the .NET and Java SDK do not support control plane operation via Azure Active Directory. Those [management operations](https://docs.microsoft.com/en-us/azure/cosmos-db/role-based-access-control) can be done via the via [ARM Templates](https://docs.microsoft.com/azure/cosmos-db/manage-with-templates), [PowerShell](https://docs.microsoft.com/azure/cosmos-db/manage-with-powershell), [Azure

[2021-04-15 17:24] SumiranAgg commented on #2394
Is the feature development on roadmap? Is yes do we have an ETA on when can we expect the support.

[2021-04-15 17:31] ccurrens commented on #2001
I can reproduce this in both 3.17.1 and in recent versions of master. It doesn't happen for point operations like `ReadItemAsync`, though.

When calling with `ReadItemAsync`, it throws `InvalidOperationException`. Because it's not a `CosmosException`, this works fine. When calling via `GetItemQueryIterator`, it wraps the `InvalidOperationException` inside of a `CosmosException`, which, for whateve

[2021-04-15 17:40] #2396 closed

[2021-04-15 20:15] andreslon commented on #2049
any solution on this error?? getting the same message from .NET 5.0 API

`
System.Configuration.ConfigurationErrorsException: 'Configuration system failed to initialize'

ConfigurationErrorsException: Unrecognized configuration section system.web. (.....API\bin\Debug\net5.0-windows\abc.API.dll.config line 3)`

[2021-04-15 21:17] ealsur commented on #2001
@ccurrens Can you provide a repro?

[2021-04-15 21:41] ccurrens commented on #2001
Sure, the code that OP posted still seems to fail, but you can reproduce it without any custom handler by running an OrderBy query with no indexed on the ordered property. So, this code easily reproduces it:

[code]

The outcome is an exception with the following `ToString()` message:

[code]

Note that there is no mention of the actual stack trace of the Main program. It seems to be due to the fa

[2021-04-15 22:16] timsander1 commented on #2387
Hi  @j-rewerts , could you try this? Using the COUNT() function will get the string length.

IQueryable<User> query = _db.Users
  .Where(user => user.Email != null && user.Email.Count() > 0);

[2021-04-16 12:55] #2356 closed

[2021-04-16 14:27] adamreed90 opened #2399 "Trouble with predicates"
We are trying to group together objects into groups to greater store objects in density inside single documents vs a document for each object, we are having trouble using predicates with this, as our document contains an array of objects which we would like to execute the predicate on. The predicate cannot use Where/Any/All, only Equals.

Any insight you could provide would be great.

        publ

[2021-04-16 16:21] #2399 closed

[2021-04-16 21:23] j82w commented on #2394
The feature is currently not being prioritized, because the control plane operations can be done via [Azure Management Library](https://github.com/Azure-Samples/cosmos-management-net) which has a c# nuget.

[2021-04-19 14:54] #2370 closed

[2021-04-20 06:48] vengi83644 commented on #1202
Must needed !!!

[2021-04-20 12:03] j82w commented on #1202
@timsander1 any update on this?

[2021-04-21 15:31] #2201 closed

[2021-04-21 19:39] ThomasVandenbon opened #2413 "Public access to SqlTranslator to UnitTest LINQ to SQL without a database"
**Is your feature request related to a problem? Please describe.**
I have some code that calls a Cosmos DB, but that I'm testing without a real database.
Within this code, LINQ to SQL is being used to fetch documents from Cosmos DB.

Occasionally someone on my team uses a LINQ-method that cannot be translated into a Cosmos-query ("All" for example).
I'd like to add an in-memory check in my unit te

[2021-04-22 11:19] j82w commented on #2413
Hi @ThomasVandenbon,

Can this be done already via the [ToQueryDefinition()](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/58a23c293080646ad904ece25cd3bc1760b106cb/Microsoft.Azure.Cosmos/src/Linq/CosmosLinqExtensions.cs#L137) extension method?

[2021-04-22 11:43] shantanuchaudhary24 opened #2419 "CreateContainerIfNotExistsAsync() method validates against container ID as well as partition key and not only container ID."
[Enter feedback here]
The documentation says that CreateContainerIfNotExistsAsync() validates whether the container exists or not against only the specified container ID. This is incorrect. The method also validates the container presence with the partition key set on container.

Test:
Create a container with name "testcontainer" on cosmos database with a partition key "/defaultpartitionkey"
Now c

[2021-04-22 13:03] ThomasVandenbon commented on #2413
Thank you for your response @j82w .

If I were to use [ToQueryDefinition()](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/58a23c293080646ad904ece25cd3bc1760b106cb/Microsoft.Azure.Cosmos/src/Linq/CosmosLinqExtensions.cs#L137) as you suggested, wouldn't I then run into the problem of not being able to construct `CosmosLinqQuery<T>`? (see #893).

[2021-04-22 13:20] j82w commented on #2413
Can you provide an example of what you would do if you had access to the SqlTranslator?

[2021-04-22 16:12] briangru opened #2420 "If a TableResult has HttpStatusCode.NoContent as a result, what does that mean?"
Say I have code like this:
[code]

What does it mean when the HttpStatusCode for the TableResult is NoContent (204)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dbb0a68-bef9-a416-9336-65cd598cb8b4
* Version Independent ID: 31128659-e37d-27ce-0db3-ee33803fd97d
* Content: [TableResult Class (Microsoft.Azure.Cosmos.Ta

[2021-04-22 16:45] ealsur commented on #2419
This comes from here: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/Database/DatabaseCore.cs#L213

The error is meant for the user to understand that their expectations are wrong. If your application issues a CreateIfNotExist with a certain PK that does not match with what current exists, your application code is also potentially assuming that the

[2021-04-22 19:27] zhilin-2011 opened #2421 "TransactionalBatch operation fails with 500 Internal Server Error in C#"
**Describe the bug**
When executing "PatchItem" in TransactionalBatch to replace/increment an item's value in my C# function app, the operation fails and I get 500 Internal Server Error.
Here are the NuGet packages we install.
Microsoft.NETCore.App: 3.1.0
Microsoft.Azure.Cosmos: 3.18.0-preview (3.17.1 latest release version does not include PatchItem API)
Here is the info of our Cosmos DB.
Resourc

[2021-04-22 20:05] ealsur commented on #2421
@zhilin-2011 please share the complete stack trace of the 500 error.

Are you executing on a real account or the emulator?

[2021-04-22 20:40] #2265 closed

[2021-04-22 21:47] #2393 closed

[2021-04-23 11:20] j82w commented on #2421
@zhilin-2011 patch is currently in private preview. There is a  service bug that is causing it to return a 500 instead of a 400 with a message saying it is not enabled for the account. A fix is being worked on to return the correct status and message.

[2021-04-23 11:20] #2421 closed

[2021-04-23 13:38] kirankumarkolli commented on #2419
The code doc https://github.com/Azure/azure-cosmos-dotnet-v3/blob/64cbee30073c4ff3983b320e16909656261d1aa2/Microsoft.Azure.Cosmos/src/Resource/Database/Database.cs#L222 here has gaps.

@shantanuchaudhary24 thanks for reporting it. We will fix the code docs for next release.

[2021-04-23 14:22] DannyvanderKraan opened #2423 "CosmosDB Table API serverless offering CreateIfNotExists() on table throws exception"
I am using CosmosDB with Table API and serverless offering. I try to call CreateIfNotExists() on CloudTable. If fails with the following exception:

[2021-04-23T14:11:34.163Z] Executed 'HandleAddressChanged' (Failed, Id=6b4c570a-3d23-4dd8-9643-58893e368efb, Duration=20123ms)
[2021-04-23T14:11:34.164Z] System.Private.CoreLib: Exception while executing function: HandleAddressChanged. Microsoft.Azure

[2021-04-23 17:39] ealsur commented on #2423
@DannyvanderKraan This is the repo for the .NET SQL API.

[2021-04-23 17:40] ealsur commented on #2423
Try with https://github.com/Azure/azure-cosmos-table-dotnet

[2021-04-23 17:40] #2423 closed

[2021-04-23 19:30] timsander1 commented on #1202
This is on our long-term roadmap but unplanned in the current 6 month semester. For now, we recommend using SQL queries instead of LINQ if you need to use GROUP BY.

[2021-04-23 20:15] jviau commented on #2387
@timsanders1 - `.Count()` does work, but I think `.Length` should work as well, as it is more intuitive to use. Also analyzers flag uses of `.Count()` on `string` and suggest the usage of `.Length`. Look at the code, it should be a very simple fix. [StringBuiltinFunctions](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/StringBuiltinFunc

[2021-04-23 20:18] jviau commented on #2341
@abhijitpai I may be wrong, but I believe the return codes for DELETE should be 200OK _if_ there is a response body, and 204NoContent otherwise (no response body). It is not based on if the item was deleted or not.

[2021-04-26 13:39] dan-matthews-takeda commented on #1202
Unfortunately, using SQL queries just isn't possible for us - and I suspect most people using LINQ queries. We build up a query using LINQ expressions, often using generics through a repository pattern or similar. To construct SQL queries would require an entire and extremely complex re-architecture of our entire solution. Not having GroupBy LINQ support is actually killing our Cosmos DB RUs - we'

[2021-04-26 13:45] vengi83644 commented on #1202
+100000

[2021-04-26 16:32] hhubik opened #2435 "Incorrect example code?"
This does not work for me:
`using(Stream stream = response.ReadBodyAsync())`

This does:
`using(Stream stream = response.Content)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae7cee2f-5d6b-ce0d-b133-8984d458764f
* Version Independent ID: 5d14af28-2d26-0ef8-212b-696ee7dcda32
* Content: [Container.ReadItemStreamAsync(

[2021-04-26 18:27] j82w commented on #2370
@xinlian12 please upgrade to the latest [3.18.0](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.18.0) release.

[2021-04-26 18:28] j82w commented on #2356
@ccurrens please upgrade to the latest [3.18.0](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.18.0) release.

[2021-04-27 16:38] j82w opened #2428 "ITrace perf improvements"
This issue is to track different performance improvements for the ITrace library.

1. Lazy Dictionary
2. Children list optimized for single child
3. Remove id to reduce the Guid creation
4. Remove/cache caller info object creation
5. Use static stop watch
6. ToString() logic should cache the serialized caller info

[2021-04-28 05:46] kr-santosh opened #2431 "Expose Http Header Constants for Public."
There is a need for Encryption Package to pass in additional cosmos headers and hence its a good idea to expose constants that can be used. These are required by Encryption Package to handle various encryption scenarios.

The header names include

1) x-ms-cosmos-intended-collection-rid
2) x-ms-cosmos-is-client-encrypted

[2021-04-28 14:43] petro2050 commented on #1204
Compression should not happen during HTTP calls only. We should also have the ability to store compressed data. I saw https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/19164487-compress-stored-data#{toggle_previous_statuses}. Any ETA on this? @j82w

[2021-04-28 19:20] ealsur opened #2432 "Encryption package with 3.19.0-preview"
Trying to leverage the Encryption package with the newly released 3.19.0-preview yields:

[code]

[2021-04-28 23:07] ealsur commented on #2291
Following up this request: we'll be porting the change that happened in the V2 CFP: https://github.com/Azure/azure-documentdb-changefeedprocessor-dotnet/pull/158

[2021-04-29 11:07] #2432 closed

[2021-04-29 20:40] ThomasVandenbon commented on #2413
@j82w thank you for your suggestion.

I'm srry, but I haven't had time yet to create an example.

As for your suggestion: what I'm strugling to understand is how you'd get the `container` without having an actual database?
Could you elaborate on that?

What I had in mind was that the input of the test would be nothing more than `.Where(b => b.Title == "War and Peace")` in your example, or even jus

[2021-04-30 09:38] kr-santosh opened #2438 "Client Encryption : Query Support on Encrypted Properties to support Non Primitive values as parameter value."
**Describe the bug**
Currently query support on Encrypted Properties just supports primitive types even though the encryption on the document supports non primitive type paths in encryption policy.

**To Reproduce**
Pass non-primitive type values in Query.

[2021-04-30 17:55] Matthewsre commented on #1438
I just hit this issue as well. Is there at least a way to easily check the IQueryable? I don't want to rely on try/catch for my logic on this.

[2021-05-01 17:56] mwikstrom commented on #2341
@abhijitpai: A `DeleteItemIfExists` would be great!

It wouldn't be async though as the transactional batch methods are just for registering operations that shall be executed when `ExecuteAsync` is invoked.

[2021-05-02 04:39] clement128 commented on #1162
The TransactionalBatchResponse really useless for beginners. there is not details of the error or clear error code.

BadRequest? FailedDependency?

[2021-05-02 10:24] fhtino commented on #1623
@ealsur  is there a way to get rid of these Application Insights entries? or a way to "disconnect"/divert them from the flow of data related to application insight operationid?
When I look into Application Insights, some runs are filled by those continuous checks.
As far as I understand, these 5-minutes checks are assigned by ApplicationInsights to the first run (i.e. operationid) of the function

[2021-05-03 03:44] eddadjei opened #2443 "CosmosDB bulk upsert extremly slow"
Below is how I am using the bulk upsert feature in ComosDB. This code is extremely slow even for 15 documents.

[code]

[2021-05-03 11:18] j82w commented on #2443
Please look at the following [bulk article](https://devblogs.microsoft.com/cosmosdb/introducing-bulk-support-in-the-net-sdk/#what-is-not-bulk). Bulk is designed for throughput not latency. 15 documents is small amount and it is probably having to wait for the timer delay rather then executing once there is enough documents.

Some suggestions:
1. Make sure you are using the latest SDK
2. The first

[2021-05-03 11:18] #2443 closed

[2021-05-03 11:54] j82w commented on #1438
@Matthewsre did you hit this running the latest 3.18.0 SDK?

[2021-05-03 13:45] j82w commented on #2413
The container can be created by creating a CosmosClient that uses a dummy endpoint and password. The linq conversion does not require any async methods so no network calls are being done.

[code]

[2021-05-03 13:58] ealsur commented on #1623
@fhtino That seems like a bug on App Insights. One thing you could do is (it really depends on your code), do the initialization in your Startup using maybe, using the new APIs (https://devblogs.microsoft.com/cosmosdb/improve-net-sdk-initialization/) to avoid that being always tagged to the first request.
It's weird that they are assigning that same operation because this happens in the background

[2021-05-03 14:50] jesperkristensen opened #2444 "Allow using CreateAndInitializeAsync without blocking configuration"
**Is your feature request related to a problem? Please describe.**
I just read about https://devblogs.microsoft.com/cosmosdb/improve-net-sdk-initialization/ and wanted to try it out. But it seems like CreateAndInitializeAsync tightly couples configuration and initialization of CosmosClient in a way that makes it too difficult to use in our setup.

We register CosmosClient as a singleton in IServic

[2021-05-03 19:10] fhtino commented on #1623
@ealsur I followed/adapted you suggestion. In Function Startup I create the static CosmosClient and execute a call for a document. The following real functions executions are no more polluted by GET every 5 minutes. Problem solved.
Interestingly, the cosmosdb call(s) executed in function startup is not traced by Application Insights. Bug? I looked for any signs of them, using kusto query in applic

[2021-05-03 21:11] ealsur commented on #1623
Glad you got it working. Sadly I cannot answer anything regarding App Insights, the SDK does not have any specific integration with it. Apparently App Insights injects itself on the HTTP pipeline and logs any HTTP call from within the application. Maybe they inject themselves when you register it? If in your Startup you have the registration/initialization of the Cosmos DB SDK before App Insights

[2021-05-04 01:59] eddadjei commented on #2443
So technically then there is no way to make an efficient batch request for 15 items if I want to reduce the number of network calls?

[2021-05-04 11:30] j82w commented on #2443
[Batch](https://devblogs.microsoft.com/cosmosdb/introducing-transactionalbatch-in-the-net-sdk/) allows you to do a single request for 15 items. Is there any reason this does not work for you?

[2021-05-04 23:03] eddadjei commented on #2443
it works but I am not sure if you have measured the time or use this in a real web-api project. it's super slow. Even gotten the azure team involved.

[2021-05-05 00:57] j82w commented on #2443
We have tested this and for point operations we have a runner that continuously monitors performance. More information is needed to investigate if there is a possible bug or some change to improve the performance.

1. How many items are in the batch?
2. How big are the items if it's create/update?
3. How long is it taking?
4. What is the response.CosmosDiagnostics.ToString() of the slow request?
5

[2021-05-05 09:45] bartelink commented on #2443
Is there a "TL;DR this is how the Batch support works" article anywhere? I'm thinking this might give the OP better context (and, as I have not read the code wrt that, I'd like to see it too)

i.e. if there are 15 requests using 10 unique partition keys with 6 in range 1 and 4 in range 2, how do the requests travel at a high level?

What does the server approximately look like (does it accept requ

[2021-05-05 11:10] j82w commented on #2443
Batch is always restricted to a single partition key which results in a single physical machine. Here is the Batch documentation: https://docs.microsoft.com/en-us/azure/cosmos-db/transactional-batch . If there is something missing or  if you have suggestions please leave feedback on the page.

Bulk is explained in the following article which clearly states the caveats: https://devblogs.microsoft.c

[2021-05-05 11:14] bartelink commented on #2443
Thanks for being patient, will do (and apologies for not reading the answers you provided in the thread distinguishing between and referencing docs for Batch vs Bulk).

[2021-05-05 11:25] j82w commented on #2444
Would using a [AsyncLazy ](https://devblogs.microsoft.com/pfxteam/asynclazyt/ )which can have retry logic to handle transient network issues solve your problem?

[2021-05-05 15:16] jesperkristensen commented on #2444
It would be a complex task to properly implement AsyncLazy with retry. It would also mean I would have to change from CosmosClient to Task<CosmosClient> everywhere I get that from the ServiceProvider, and add extra await statements. All in all, it is way too much work compared to the benefit. So I think I will just continue to use CosmosClient without this initialization. The difference in startup

[2021-05-05 16:00] ealsur commented on #2444
@jesperkristensen What if the initialization would not fail if there are any errors trying to initialize the caches for any of the parameter collections?

The only drawback is, you could assume everything was great, and then see a latency spike on the first request.

[2021-05-05 16:09] jesperkristensen commented on #2444
In that case I might use it for some of our services. It is a trade off between the small performance gain for a small fraction of requests, versus the added complexity.

[2021-05-06 00:00] eddadjei commented on #2443
Thanks for your response. I believe the issue was with the partitions. Say you have 100 documents each with different partition keys what would be the effective way to do inserts?

[2021-05-06 00:31] j82w commented on #2443
This is a good article explaining Cosmos DB partitioning: https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview

If it's only 100 documents then doing individual read items is the recommend way. The SDK is thread safe so you can send multiple requests in parallel. Once the SDK connects to a single physical machine it will reuse the connection for future requests. Using the [Benchm

[2021-05-06 11:32] j82w commented on #2326
closed with https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2352

[2021-05-06 11:32] #2326 closed

[2021-05-06 11:33] #2277 closed

[2021-05-06 11:35] #786 closed

[2021-05-06 11:36] j82w commented on #725
https://docs.microsoft.com/en-us/azure/cosmos-db/migrate-dotnet-v3?tabs=dotnet-v3

[2021-05-06 11:36] #725 closed

[2021-05-06 11:37] #573 closed

[2021-05-06 11:38] #485 closed

[2021-05-06 11:40] j82w commented on #203
This functionality needs to be done in the service. Closing this since only SDK features are tracked here.

[2021-05-06 11:40] #203 closed

[2021-05-06 11:42] j82w commented on #132
Closing this since there is no updates. The ideal model would have a service that is processing the Cosmos DB requests and the application connects to that service.

[2021-05-06 11:42] #132 closed

[2021-05-06 11:47] #1154 closed

[2021-05-06 11:52] kr-santosh commented on #1215
This also required a Gateway Cache fix which was done.

[2021-05-06 14:17] ealsur commented on #510
@bartelink Is this still needed?

[2021-05-06 14:50] #1215 closed

[2021-05-06 15:11] bartelink commented on #510
Yes, from my perspective there continues to be the same need to be able to ask the Change Feed Processor system to purge its state.

My reasoning for this is that:
- CFP logic in both CFP2 and Microsoft.Azure.Cosmos owns the writing, naming and the contract of the leases+checkpoints - it's a black box
- therefore that system should provide a mechanism to clean up its state

The only real workaroun

[2021-05-06 17:16] j82w commented on #1823
Closing this as it is a service side feature.

[2021-05-06 17:16] #1823 closed

[2021-05-06 17:18] #1726 closed

[2021-05-11 00:44] #2253 closed

[2021-05-12 07:27] anujtoshniwal opened #2457 "Expose the ITrace outside the SDK"
ITrace needs to be exposed so that we can add to it from outside the SDK, for example in the Encryption package.

[2021-05-12 13:05] j82w commented on #2457
ITrace will likely never be exposed through the public API. There isn't enough of a use case for users to expose it.

The recommendation would be have your own implementation of CosmosDiagnostics which combines any necessary information for encryption with the response from the public SDK.

[2021-05-12 13:05] #2444 closed

[2021-05-12 13:56] RotateAt60MPH opened #2458 "Cosmos.Samples.Usage solution does not build under VS2019"
**Describe the bug**
Cosmos.Samples.Usage solution does not build under VS2019

**To Reproduce**
Locate and load azure-cosmos-dotnet-v3\Microsoft.Azure.Cosmos.Samples\UsageCosmos.Samples.Usage .sln in VS2019.  Build it.

**Expected behavior**
The solution should build.

**Actual behavior**
Warnings and compile errors.

**Additional context**

[code]

[2021-05-13 13:02] #2438 closed

[2021-05-13 13:03] j82w commented on #2458
@RotateAt60MPH the fix was merged. Please sync to the latest.

[2021-05-13 13:03] #2458 closed

[2021-05-13 16:01] ShaydeNofziger opened #2462 "CosmosDB: The description for the 200 StatusCode response for the CreateContainerIfNotExistsAsync operation is confusing and should be made more clear"
Hello!

I was reading the documentation for the [CreateContainerIfNotExistsAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.database.createcontainerifnotexistsasync?view=azure-dotnet) method. The returned StatusCode for an existing container operation should be a 200 as stated by the docs, but in the description for that 200 value, the first word is "Accepted", which is a

[2021-05-13 16:03] SandraVanDijk opened #2463 "Missing setter in the documentation"
The example code misses a setter, which means the code does not work (I found out after half an hour).

Added a getter **and** a setter made it work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5a3b335-1f44-0652-a915-d04fbb8f9f2d
* Version Independent ID: 707cd3f6-b290-f7d4-5eed-6822c1eff727
* Content: [Resource.Ti

[2021-05-13 17:15] j82w commented on #2463
@SandraVanDijk the Resource TimeStamp does not have a public set. What do you mean by added a getter and setter to make it work?

[2021-05-13 23:46] zmarty commented on #588
@kirankumarkolli Some better description would be more helpful, not just saying "it's already addressed". By default it is not.

[2021-05-14 00:10] j82w opened #2464 "Add a custom CosmosDisposedException"
Create a custom ObjectDisposedException like CosmosOperationCancelledException.

The custom exception should include.
1. Diagnostics
2. If and when the client was disposed of

[2021-05-14 00:11] ealsur commented on #2464
3. Endpoint with which the client was initialized

[2021-05-14 00:21] j82w commented on #2464
@ealsur how about this as the string?

"The CosmosClient created at {createTime} has been disposed of at {time} for endpoint: {endpoint}. Please make sure to follow best practices and use a singleton instance of a CosmosClient."

[2021-05-14 19:10] ealsur opened #2466 "Change Feed Processor: Add time bound guard to feed processing"
When a lease is acquired, there are 2 Tasks initiated:

* A Lease Renewer
* A Lease Processor

They are bound to each other's lifetime, if one ends, the other will too, and the lease will get released.

There have been reported cases where the Processor enters a hung state, and the Renewer keeps working, so the lease cannot be acquired by any other machine but it's not progressing.

One particular

[2021-05-14 21:20] j82w opened #2469 "CosmosDiagnostics on unexpected exceptions"
This issue is to discuss on how to include the diagnostics on unexpected exceptions that are usually a result of the SDK itself having a bug like a null reference exception.

1. Create wrapper for each exception type. This is error prone and complex, but has no impact to users.
2. Create a CosmosClientException. This would wrap any exception that is not expected and include the traces.
    a. Shou

[2021-05-15 00:15] johngallardo opened #2471 "Memory leak due to caching container properties for SDK hosts which access unbounded number of containers"
**Describe the bug**
An SDK host that accesses a potentially unbounded set of containers experiences a memory leak due to caching ContainerName->ContainerProperty metadata within the SDK.

**To Reproduce**
[code]
**Expected behavior**
Steady memory consumption within the host process.

**Actual behavior**
Memory consumption grows unbounded.

**Environment summary**
SDK Version: 3.13 (although like

[2021-05-17 11:23] j82w commented on #2471
What is the use case for having a single SDK instance to do requests against an unbounded number of containers? I'm not aware of any production use cases for this. Even in the scenario where there are hundreds of containers the overhead of caching the container properties is worth the cost to avoid the additional network latency in the future requests.

[2021-05-17 14:53] #2464 closed

[2021-05-17 18:44] neildsh opened #2473 "[ChangeFeed] CrossPartitionChangeFeedAsyncEnumerator does not reset HasMoreResults on error"
**Describe the bug**
CrossPartitionChangeFeedAsyncEnumerator can recurse to state where it does not have a next page in case of some error / retry conditions like 429, and it does not reset the HasMoreResults, which ends up throwing InvalidOperationException. We should probably raise a more specific error if retries are exceeded etc.

**To Reproduce**
The problem is not specific to databases. We j

[2021-05-17 18:52] j82w commented on #2473
@neildsh shouldn't the fix be allowing retries on errors? What is the reason for needing to recreate the entire iterator to just retry on a single 429 or other transient failure?

[2021-05-17 23:35] johngallardo commented on #2471
The scenario I am aware of in a service I work on is we have host processes for Change Feed Processors, where the set of monitored containers dynamically changes over time. This cached metadata continues to grow over time. The impact seems disproportional in terms of memory utilization when the container does not exist as well.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Wi

[2021-05-18 13:52] azzimuth commented on #1501
But is the partition key required when using `GetItemLinqQueryable`? I get an NullPointerException when I don't include it in LINQ filters but the documentation doesn't specifically say that it's required.

[2021-05-18 19:19] ealsur opened #2478 "Change Feed - CancellationToken not flowing into the pipeline"
After the refactoring in #1933, the user CancellationToken on `ReadNexAsync` is not flowing into the pipeline.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ChangeFeed/ChangeFeedIteratorCore.cs#L250-L253

[code]

This means that if the CancellationToken cancels, it is not stopping any of the pipeline operations (like retries).

[2021-05-18 19:43] j82w commented on #1501
@azzimuth can you open a new issue with a sample or a way to reproduce the issue. The SDK should not be throwing a NullPointerException, and it should be considered a bug.

[2021-05-18 21:30] azzimuth opened #2479 "NullReferenceException when using GetItemLinqQueryable without partition key in LINQ filters"
**Describe the bug**
When I try to get items from the database using the GetItemLinqQueryable method without partition key in LINQ filters, I get `NullReferenceException` at `await cosmosQuery.CountAsync();`. As soon as I add the partition key to LINQ filters, everything works.

**To Reproduce**
Sample code [here](https://github.com/azzimuth/CosmosTest.git).

**Expected behavior**
Using GetItemLin

[2021-05-18 21:43] azzimuth commented on #1501
@j82w, #2479

[2021-05-18 22:09] j82w commented on #2479
@azzimuth can you add the exception.ToString() to the description?

[2021-05-19 05:38] azzimuth commented on #2479
@j82w, done

[2021-05-19 11:50] j82w commented on #2479
It seems to be incorrectly handling the scenario if a function is passed in for a binary comparison that is not from the passed in passed in delegate.

`queryable = queryable.Where(lead => lead.LeadRequest.CountryCode.ToUpper() == search.MarketCode.ToUpper());`

As a temporary workaround until a fix is deploy you can do the following.
[code]

[2021-05-19 14:51] azzimuth commented on #2479
Great, it works. Thanks!

[2021-05-19 15:40] j82w commented on #2479
I would always recommend passing the partition key in the request options when possible. It guarantees that the query is restricted to a single partition. Without the partition key it's possible it will do a cross partition query which will be significantly slower and cost more RUs.

[2021-05-19 20:26] #2473 closed

[2021-05-19 23:32] craigjensen opened #2485 "NullReferenceException in GoneAndRetryWithRequestRetryPolicy.TryHandleResponseSynchronously in SDK 3.18"
We're seeing a null ref exception occasionally in production code running in Azure on SDK 3.18.  It seems to happen intermittently in bursts (we saw ~1200 in a 1 min interval at 2021-05-19T15:55:00Z) across different operations (Read, Create, Query).

Stack:
"innermostType": System.NullReferenceException,
"innermostMessage": Object reference not set to an instance of an object.,
"details":    at M

[2021-05-19 23:48] ealsur commented on #2485
@craigjensen Is this on the Emulator or a live account? If it's on a live account, which consistency level are you using? Does the account have Firewall/VNET/Private Link enabled?

[2021-05-19 23:52] craigjensen commented on #2485
It's a live account.  The account is configured with Bounded Staleness but we're overriding with Session on each request.  No Firewall/VNET/PL enabled

[2021-05-20 00:08] ealsur commented on #2485
@craigjensen In which platform are you running? NET Framework? NET Core? Do you have traces enabled?

[2021-05-20 00:20] craigjensen commented on #2485
NetFx in an Azure WebApp so tracing not enabled

[2021-05-20 09:18] LiDamon opened #2486 "Hang about query multiple partition in SDK 3.17"
**Describe the bug**
Get three partition data in one query time, the query always hang.

**Code**
![Code](https://user-images.githubusercontent.com/3748285/118953944-de8a4e80-b98f-11eb-86ab-0b000f7fe193.png)

**Environment summary**
SDK Version: 3.17
OS Version: Linux ,Docker with netcore-runtime-base:3.1.12-alpine3.12

**Dump Stack**
OS Thread Id: 0xe24 (25)
        Child SP               IP Call

[2021-05-20 11:31] j82w commented on #2486
@LiDamon why do you have the request timeout configured to 10 minutes? That is the network timeout not an e2e timeout. https://github.com/Azure/azure-cosmos-dotnet-v3/blob/2af3a6dd719c232992abb8dbf3672bef724b226c/Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs#L153

How do you know it has three partitions?

[2021-05-20 14:02] j82w commented on #2485
@craigjensen does it reproduce with the latest 3.18.0?

[2021-05-20 14:03] craigjensen commented on #2485
Yes - It started with 3.18.0.  We didn't see it until we recently deployed 3.18.0

[2021-05-20 14:08] j82w commented on #2485
Any chance you can use a private nuget drop with additional telemetry?

[2021-05-20 14:12] craigjensen commented on #2485
This is a production service and we're in lockdown for //Build next week so not likely, at least not anytime soon.

[2021-05-20 14:13] ealsur commented on #2485
@craigjensen - Is your service running in EUAP?

[2021-05-20 14:14] j82w commented on #2485
Do you have any way to consistently reproduce the issue?

[2021-05-20 14:19] craigjensen commented on #2485
@ealsur Yes, we do run the service in eus2euap but there's very little traffic there and we haven't seen the exception in that region.  Most of the exceptions are coming from France Central but we have seen it in several US regions as well.

[2021-05-20 14:25] craigjensen commented on #2485
@j82w We don't have a consistent repo.  It happens in bursts - here's what we're seeing over the last day:

![image](https://user-images.githubusercontent.com/18585246/118996151-8b3ae080-b93c-11eb-9ce2-b1e4546be863.png)

[2021-05-20 14:27] craigjensen commented on #2485
Oh, and we haven't seen it in any of our test/integration environments

[2021-05-20 17:25] craigjensen commented on #2485
The spikes in exceptions are correlated with bursts of activity on our servers that caused the CPU to max out so they're likely an artifact of resource starvation on the client.  I would expect errors in this situation but not NullRefExceptions.

[2021-05-20 18:22] ealsur commented on #2486
Can you please remove the thread-blocking Wait? You are wrapping async code into a `public void` method, which is bound to deadlock.

When using `async` calls, make sure the stack is `async` and you are `await`ing them.

[2021-05-20 18:34] ealsur commented on #2486
Please correct the async code and remove locks. In case it reproes on a full async scenario, please share the updated code, environment, and stack trace.

[2021-05-20 18:34] #2486 closed

[2021-05-20 19:01] j82w commented on #2486
Please provide the query and token value or simple sample app that reproduces the issue. The type of query changes the SDK logic used to execute the query.

[2021-05-20 20:47] j82w commented on #2486
It did not reproduce with the following code:

[code]

[2021-05-21 01:31] LiDamon commented on #2486
This problem is not 100% reproducible. We PORD environment contains 20+ PODs per VM, and each POD has 10+ concurrent threads. We  have  total 300+ POD, about 20+ hang issue every day .

We haven't found this problem when using Windows image before, And this problem only appeared after switching to Linux image recently. I don't know if it has anything to do with this

BTW, The environment host in A

[2021-05-21 08:03] maryammadzadeh commented on #2478
I am currently investigating a similar issue. Would this also cause the cancellation tokens to change for the retries?

[2021-05-21 11:40] j82w commented on #2486
Make sure you are not having any resource governance issues. This is a common issue we have seen when running on AKS.

Remove the RequestTimeout override or at least reduce to 1 minute. If the network request is not done in 1 minute it will likely never complete anyways. It's not an end to end timeout.

[2021-05-21 13:36] ealsur commented on #2478
@maryammadzadeh  Since the CancellationToken does not flow through, if a particular ReadNextAsync call has retries (for example, the call hits 429s) and the CancellationToken cancels in-between, then the SDK will retry and the CancellationToken won't stop the retries, if any.

[2021-05-21 13:37] j82w opened #2489 "Region Failover logic improvements"
This issue is to discuss/design Partition level failover for read heavy or read-only workloads.

The current design for write operations is it will mark a single partition as unavailable.
- If it returns an exception that guarantees the write did not occur like a write forbidden the SDK will retry the request on the secondary regions until it finds the region where the request succeeds which means

[2021-05-21 15:25] adirh3 commented on #890
Any update on fixing this?
Still happening for - `dotnet publish -c release -r win-x64 --self-contained=true /p:PublishSingleFile=true`

[2021-05-21 16:59] azzimuth commented on #2479
@j82w, yes, we will consider changing the partition key to the other field.

[2021-05-24 10:53] abhaldar commented on #910
Need to query a nested dictionary with Enum as Key

example
{
 abc : {
 "Code": "x",
 "Name": "y"
}]
}

Now I need to query s => s.abc.Any(x => x.Key == SomeEnum.Code && x.Value == "SomeValue)

but this is failing as translation to SQL has keywords like s0["Key"] and s0["Value"] which doesn't exist in the data.

Need help with this as failing to do this query would considerably reduce our scope of

[2021-05-24 18:08] #2478 closed

[2021-05-24 19:30] #2130 closed

[2021-05-24 20:58] sourabh1007 opened #2494 "Discover the current region where application is hosted"
This issue is to discuss/design to identify current region for an application.

### Background/Problem Statement
In Cosmos DB SDK, Customer has an option to set _Preferred Region_ and _Application Region_ while creating a client and these options come into play in case of failover of global endpoint.
Since these configurations are optional, so it is up to user if he/she configured it or not, altho

[2021-05-25 00:47] oscarcabrero opened #2496 "wrong error when Aad access is unauthorized "The remote name could not be resolved myaccount-westus.documents.azure.com""
3.19-preview1
**Describe the bug**
when attempt to open a new connection using auth token credential provider i get
the remote name could not be resolved: 'myaccount-westus.documents.azure.com'

i have 2 regions only 1 is write, but both failed with same issue. when using preferredlocations.

**Expected behavior**
the cosmos client is returned

**Actual behavior**
an exception is thrown

**Environ

[2021-05-25 11:17] j82w commented on #2496
@oscarcabrero does it work without the preferred regions?

[2021-05-25 12:29] stvflowers opened #2503 "Code typo in cosmos getdatabase example"
In first example here:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.cosmosclient.getdatabase?view=azure-dotnet

There is a typo:
("myDatabaseId"];

Should be:
("myDatabaseId");

replace bracket with parenthesis.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 440cc9dd-9e0b-44f8-f31a-36cdd97d5bbd
*

[2021-05-25 14:05] ealsur commented on #2496
If you go to the machine experiencing this error, can you run `nslookup` or a similar tool to know if it can resolve DNS entries correctly?

[2021-05-25 16:15] rjmille2 commented on #2485
We are also seeing a very similar behavior.  It seems to be very intermittent and also appears to happen in "bursts".  Is there a version of the SDK that we can go back to that does not have this issue?

[2021-05-25 16:37] j82w commented on #2485
@rjimlle2 we are still in the process of root causing this issue so we don't know which version are impacted or even if it the bug is caused by some change in the service.

Can you use a private SDK drop with additional logging?

[2021-05-25 16:41] rjmille2 commented on #2485
We have not see this reproducible in our "testing" environments.  It seems to only be happening in production (higher loads) and I don't think we would be able to put a private SDK build into production, but I will ask.

[2021-05-25 16:43] rjmille2 commented on #2485
@j82w also wanted to let you know we did not see this issue at all until we went from 3.17.1 to 3.18.0.  So I think this was introduced with that build.

[2021-05-25 17:03] j82w commented on #2496
@oscarcabrero I wasn't able to reproduce the issue. Can you provide a sample program and/or more details on the CosmosClient configuration?

I created a CosmosClient with ApplicationPreferredRegions on an account with single master so only 1 write region that was replicated to 2 regions. I was able to connect, insert, and read data.

[code]

[2021-05-25 17:16] j82w commented on #2485
@rjmille2 what consistency is your account/sdk?

[2021-05-25 18:34] rjmille2 commented on #2485
@j82w it seems that we have EnableContentResponseOnWrite = false in the ItemRequestOptions.  Not sure if that could be causing the issue since it says "Setting the option to false will cause the response to have a null resource. This reduces networking and CPU load by not sending the resource back over the network and serializing it on the client."

[2021-05-25 18:43] j82w commented on #2485
@rjmille2 can you try upgrading to the 3.19.0 which was just released or enable tracing? It adds diagnostics to the null reference exception to help root cause these type of issues.

[2021-05-25 19:34] oscarcabrero commented on #2496
without the preferredregions i get a 401 access error
Request blocked by Auth myaccount : Request is blocked because principal [95b54b20-...] does not have required RBAC permissions to perform action [Microsoft.DocumentDB/databaseAccounts/readMetadata]

[2021-05-25 19:35] oscarcabrero commented on #2496
my machine cannot resolve those dns only the default non regional endpoint

[2021-05-25 20:09] craigjensen commented on #2485
@j82w We'll go ahead and update to 3.19.0 but it won't be fully released until sometime next week at the earliest

[2021-05-25 20:12] j82w commented on #1971
Closing this issue because the ask is for [Azure.Identity](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity) to be included in  [Azure.Core](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/core/Azure.Core). The Cosmos DB repo can not make that change. Please open an issue on the [Azure.Core](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/core/Azure.Core) r

[2021-05-25 20:12] #1971 closed

[2021-05-25 20:26] oscarcabrero commented on #2496
it works fine now, i think it was a permissions issue. but throws a different error when it attempts to fallback to a regional endpoint. which our account does not have for some reason? do you know if this can be a problem moving forward?

[2021-05-25 21:18] j82w commented on #2496
The first issue is in the [GlobalEndpointManager](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/dc4cc731cd63437bdc1c1641cfe1fd90fa651b31/Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs#L312). It only considers a 401 not authorized as a not retriable and it should also consider 403. It should just return the first exception which would clearly state it is a permission issue. I'll

[2021-05-25 21:23] oscarcabrero commented on #2496
@j

this account was created around 5 years ago. it is possible that the regional endpoints were never created? i just checked prod and neither of them resolve.

[2021-05-25 21:30] ealsur opened #2501 "Change Feed Processor: Health Monitoring"
## Summary

Change Feed Processor consists of 3 main components:

* The monitored container: The source of the events that is read through Change Feed
* The lease container: The storage of leases and state
* The CFP host application: The application that decides what to do with the changes (user logic).

Change Feed Processor works as a background service that spins up Tasks do interact with these

[2021-05-25 21:33] j82w commented on #2496
Can you provide the full exception message? The regional endpoints should exists as long as the account is on that region. I will have to test accessing the secondary region without the correct permissions to see if it reproduces.

[2021-05-25 23:01] drdamour commented on #1971
@j82w i'm not following, Azure.Idnetity is already in Azure.Core, the request is for the Cosmos client to make use of it.

[2021-05-26 01:27] j82w commented on #1971
@drdamour correct me if I misunderstanding something.

Azure.Identity has a dependency on Azure.Core.
Cosmos DB SDK has a dependency on Azure.Core.
Azure.Core provides a interface for authentication.
Azure Identity implements the authentication interface provided by Azure.Core.

The Azure.Core nuget does not have any dependency on Azure.Identity project. https://www.nuget.org/packages/Azure.Core/

[2021-05-26 01:33] galvesribeiro commented on #1971
I think there is a misunderstanding here...

The goal, if I understood correctly, is to allow Service Principals / Managed Identities to authenticate with CosmosDB.

If that is the case, all that CosmosDB SDK needs to use is the abstract Credentials Classe which is implemented both by Service Principal, Token Credentials, Managed Identities and all sorts of identity types that are offered thru Azu

[2021-05-26 02:12] Matthewsre commented on #1971
I started following this issue with the expectation that I would be able to provide a **Azure.Core.TokenCredential** to the **CosmosClient**.

I can provide this for

Azure.Security.KeyVault.Secrets.SecretClient:

![image](https://user-images.githubusercontent.com/2955659/119591320-3e676780-bd8b-11eb-8cd5-f488a60deb66.png)

Azure.Messaging.ServiceBus.ServiceBusClient:

![image](https://user-images

[2021-05-26 02:17] galvesribeiro commented on #1971
Yes, that is what I meant. Sorry, was on the phone so didnt wrote the correct type.

So, it all bail down to whether or not Cosmos DB support TokenCredentials (and managed identities) at the service level. If it doesn’t, the SDK should accept the TokenCredentials as you mentioned and internally do all the dance to acquire CosmosDB keys and use it.

It is quite bad that Cosmos is so different than

[2021-05-26 02:40] drdamour commented on #1971
@j82w exactly what @Matthewsre said, this is about having cosmos take core’s token credential, so i can pass in those from
azure.Identity like the other azure sdks.  Please reopen, ill update the description

[2021-05-26 06:12] MPapst commented on #1971
Do you guys mean this ctor for CosmosClient?
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/dc4cc731cd63437bdc1c1641cfe1fd90fa651b31/Microsoft.Azure.Cosmos/src/CosmosClient.cs#L238

[2021-05-26 11:32] j82w commented on #1971
@galvesribeiro, @Matthewsre, @galvesribeiro, @drdamour please check out the latest [3.19.0 ](https://github.com/Azure/azure-cosmos-dotnet-v3/releases/tag/3.19.0) which makes the TokenCredential part of the GA SDK as @MPapst pointed out.

The preview SDK has had this exposed for several months.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/dc4cc731cd63437bdc1c1641cfe1fd90fa651b31/Microsoft.

[2021-05-26 11:58] V4A001 commented on #1971
Is this preview also available as nuget?

[2021-05-26 12:42] MPapst commented on #1971
It is available as GA.

https://www.nuget.org/packages/Microsoft.Azure.Cosmos/

[2021-05-27 02:10] kr-santosh opened #2506 "Client Encryption : Executing query with AddParameterAsync value as null fails."
**Describe the bug**
When a property is part of Encryption Policy and has value as null, query on such property results in ArgumentNullException which is incorrect since null is a valid property value or passing a null value in  AddParameterAsync should execute the query without any issues.

**To Reproduce**
Run a query with Parameter value as null which is part of Client Encryption Policy.

**Exp

[2021-05-27 03:14] rjmille2 commented on #2485
@j82w & @craigjensen we were able to repro this issue in our pre-production environment and have a stack trace that seems to have more information in it.  Would you be able to get the information out of the support ticket (2105250010002841)

[2021-05-27 13:10] asketagarwal opened #2508 "Query/ChangeFeed : New IAsyncEnumerable Interface for public API's"
## Using interface similar to AsyncPageable<T> from Azure Core library
https://github.com/Azure/azure-sdk-for-net/blob/3b4937afb9978c6c7490f30b0730003f8b08e7c2/sdk/core/Azure.Core/src/AsyncPageable.cs
[code]

#Stream API
[code]
[code]

[2021-05-27 13:55] #2291 closed

[2021-05-27 17:12] rjmille2 commented on #2485
@j82w, @craigjensen were you able to retrieve the additional information from the support ticket?  There seems to be quite a bit of additional information in the exceptions and I'm not sure if any of it is "private" so I don't really want to post it in a public forum.  Could you let me know if you're able to retrieve it from the support ticket or give me another method to send it to you directly?

[2021-05-27 18:14] ealsur commented on #2508
They can't, unless the `<T>` used in IAsyncEnumerable exposes it, for example, `IAsyncEnumerable<FeedResponse>`.

V4 SDK follows the Azure.Core model where Diagnostics are not sent in the response object but sent to the Diagnostic pipeline configured by the user, in case logging is enabled. So it's kind of a deferred model.

[2021-05-27 18:37] j82w commented on #2508
How do you correlate a request from the diagnostic pipeline to the request that was slow?

[2021-05-27 19:13] ealsur commented on #2485
@rjmille2 Can you confirm what is the CPU usage during the times you are getting this error? Please check MAX CPU, not AVG, on the machine running the code. Do you see an increase in the MAX CPU during these times?

[2021-05-27 19:22] ealsur commented on #2508
🤷

[2021-05-27 23:59] rjmille2 commented on #2485
As you can see from this chart, here is the Max CPU for the machines that were seeing the most exceptions at the time.  Please let me know if there is anything else that we can try to provide you with additional information.
![image](https://user-images.githubusercontent.com/4739207/119910750-ab563b00-bf0c-11eb-8e8a-1bdcfd390806.png)

[2021-05-28 01:13] johngallardo commented on #2471
I'm not sure that this is a "Feature-Request."

What I am observing in my service is that collection cache continues to grow unbounded, and additionally the cache entries become polluted with exceptions. In these cases, (where the callback to  `public async Task<TValue> GetAsync` ) throws an exception, it seems that the cache entry goes unused anyways (the code will simply attempt to invoke the pr

[2021-05-28 15:43] ealsur commented on #2485
@rjmille2  Thanks. CPU is rather on the high end of the spectrum, which might cause TCP timeouts. I wonder if that is the case. Do you have any times when CPU goes lower and exceptions dissapears?

[2021-05-28 15:59] justinbhopper commented on #2175
@timsander1 Can you explain a bit further on the future enhancement of UPPER() and LOWER()?  Are you saying that we will be able to use UPPER() for comparisons without a performance hit?  Will this require explicitly defining an index on the property or will the auto-indexing support this?

[2021-05-28 20:28] ealsur commented on #2485
There is a custom built Nuget version `3.19.0-debug` available at https://1drv.ms/u/s!AlUdB2KlFJzvidAB7OABiHbiIi4wwg?e=o8RvAT that contains extra information on the source file of the NRE. If anyone can install an unsigned Nuget package and capture the error, it would give us more insight on the source of the issue.

[2021-05-28 23:10] timsander1 commented on #2175
That's correct - you'd be able index the UPPER() function's value so that you could do easy case insensitive comparisons and ORDER BY. We'll give you the ability to define a computed property and index it. This won't be by default, you'd have to specifically add it.

[2021-05-29 01:38] #2496 closed

[2021-05-29 04:10] rjmille2 commented on #2485
@ealsur I tried to build the project with the 3.19.0-debug nuget and now it is having a problem with the package or something.  This is a service fabric project and it utilizes fabutil during the build process.  If I use the 3.19.0 stable version I don't get this error.  I'm wondering if maybe your debug nuget doesn't dual target full FW and .NET Core?

Here is the error message:
11>C:\Users\xxxxx

[2021-05-30 17:03] Sti2nd opened #2520 "GetItemLinqQueryable example 2 doesn't compile"
In example 2 on [GetItemLinqQueryable](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.container.getitemlinqqueryable?view=azure-dotnet#examples) I believe the FeedIterator lacks the generic parameter for type, as it does not compile for me. [This Using Linq example](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-linq-to-sql#using-linq) on another Microsoft page incl

[2021-06-01 11:21] #2506 closed

[2021-06-01 12:50] shibayan opened #2513 "Integrated Cache: An error occurs when executing Point Read"
**Describe the bug**

When performing a read operation on a Cosmos DB account provisioned with Dedicated gateway, an error occurs and the operation does not work properly.

**To Reproduce**

Code used for testing.

[code]

**Expected behavior**

Items can be read correctly.

**Actual behavior**

Unable to load items due to `CosmosException`.

**Environment summary**
SDK Version: 3.19.0-preview1
OS

[2021-06-01 13:47] ealsur commented on #2513
@shibayan The stack trace is not from the SDK

System.ArgumentException: Cannot pass CancellationToken.None when requiresRealCancellationToken is true
at Microsoft.Azure.Cosmos.Compute.Core.InteropClient.InteropClient..ctor(CosmosClient cosmosClient, Boolean isServerlessEnabled, Boolean requiresRealCancellationToken, CancellationToken defaultCancellationToken)

Apparently your application type (In

[2021-06-01 14:34] ealsur commented on #2513
Re-opening, as it seems this error stack trace is not from your application, but it's not from the SDK either.

[2021-06-01 14:39] ealsur commented on #2513
@shibayan - Please file a support ticket or contact the person that enabled the cache preview account, this is not an SDK issue, but a service issue.

[2021-06-01 14:39] #2513 closed

[2021-06-01 15:06] shibayan commented on #2513
@ealsur Thanks for the reply. The same thing happened with the Node.js SDK, so it wasn't a problem with the SDK.
I just opened SR 2106010060004117.

[2021-06-01 16:25] rjmille2 commented on #2485
@ealsur it seems like even though I've updated to a "local" nuget package reference, the FabActUtil is still loading 3.19.0 signed version.  I'm not sure how we can get the FabActUtil to load a different version?  I got this data using fuslogvw to trace .net assembly bindings.

*** Assembly Binder Log Entry  (6/1/2021 @ 4:19:21 PM) ***

The operation was successful.
Bind result: hr = 0x0. The oper

[2021-06-01 17:15] ealsur commented on #2485
I don't know what "fabutil" is, but this is an unsigned local package, it is not published in Nuget. If "fabutil" relies on Nuget to resolve references, that might be the issue? Or do you have other components that are also referencing the SDK but not the custom built version but the Nuget package?

Unsigned, unpublished nugets might be only used locally, unless you are publishing the DLLs directl

[2021-06-01 18:15] j82w commented on #2489
Non-distinguished (example: read operation could be completed on any region)
Distinguished (example: write for single master must go to specific region)

Retriable operations (example: read operations)
Non-Retriable operation (example: write operations)

Retriable exception (example: 410 Gone)
Non-Retriable exception (example: 408 request timeout)

[2021-06-01 20:57] rjmille2 commented on #2485
@ealsur FabActUtil is part of a service fabric build process.  I think it is doing some magic to call assembly.load during the Service Fabric build process.  So I guess, if we can't get the SF team involved to try to figure out why it continues to load the signed version, then I'm not going to be able to try out your -debug version of the SDK.

[2021-06-01 23:36] johngallardo opened #2514 "CosmosClient's AsyncCache implementation unnecessarily retains exceptions"
**Describe the bug**
CosmosClient's AsyncCache implementation unnecessarily retains exceptions.

**To Reproduce**
See repro in https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2471.

**Expected behavior**
Steady memory usage.

**Actual behavior**
Slow accumulation of memory consumption due to caching exceptions within AsyncCache.

**Environment summary**
SDK Version:
OS Version (e.g. Windows

[2021-06-02 09:51] MhAllan opened #2515 "CosmosClient does not work properly with emulator unless we provide ConnecMode options"
This constructor will construct the object but the queries will throw exception

[code]

Exception: **Method not found: 'Void Microsoft.Azure.Documents.StoreClientFactory..ctor(Microsoft.Azure.Documents.Client.Protocol, Int32, Int32, Microsoft.Azure.Documents.UserAgentContainer, Microsoft.Azure.Documents.ICommunicationEventSource, System.String, Int32, Int32, Int32, Int32, Int32, Int32, Microsoft.

[2021-06-02 11:04] j82w commented on #2515
The issue is the SDK has 2 dlls and it seems that the one that contains most of the direct logic did not get updated. If you clean your solution and do a build it should work.

[2021-06-02 11:04] #2515 closed

[2021-06-02 15:08] #2514 closed

[2021-06-02 18:09] #2503 closed

[2021-06-02 18:13] darthsidpal opened #2517 "OFFSET LIMIT with WHERE clause with equality use indexes instead of loading documents from beginning"
**Is your feature request related to a problem? Please describe.**
I was playing around with Cosmos DB and noticed that a query using OFFSET LIMIT with a WHERE clause with equality doesn't use the index to fetch the data at a given offset. This is also documented [here](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-offset-limit)

Say my item's data structure is something like:
[code]

[2021-06-02 18:18] darthsidpal commented on #2517
oops wrong place to create this as this is the SDK.

[2021-06-02 18:18] #2517 closed

[2021-06-02 23:23] kavyako commented on #2513
@shibayan Did you enable DisableRatelimitingResponses on your account? If yes, could you please set it to false and the exception will go away. This property does not apply to SQL API.

[2021-06-03 02:59] shibayan commented on #2513
@kavyako Thank you. I don't know when `DisableRatelimitingResponses` was set, but it was indeed set, so I removed it.
However, the same error seems to continue to occur after deletion. Do I need to recreate the Dedicated gateway?

[2021-06-04 13:44] j82w opened #2518 "UserAgent is missing feature flags sometimes"
The user agent container has a bug where it is sometimes sending the feature flags and other times it is not. This is obvious when looking at the service logs. This needs to be root caused and fixed.

[2021-06-04 16:11] sebader commented on #1679
this looks a bit stale but I want to second what @lzl124631x said. I just came across another point where I have no idea what timeout is being used and how to change it:

We are using `WithApplicationRegion()` in the ClientBuilder. On first connection (e.g. first read), it obviously tries to connect to the first endpoint in a multi-region Cosmos DB account. It seems to use some timeout >60sec for

[2021-06-04 17:07] ealsur commented on #1679
@sebader Have you tried with the CancellationToken as mentioned earlier?

RequestTimeout is used for data-plane operations, like, creating a document. When the SDK initializes, it needs to obtain the account information as a metadata-plane operation contacting the account endpoint (HTTP GET `https://<youraccount>.documents.azure.com:443/`), that has a timeout that won't be affected by RequestTimeo

[2021-06-07 07:25] sebader commented on #1679
@ealsur: The metadata-plane operation works fine and returns in about a second. I did not block the DNS record for this. But the first endpoint it will return is, for example mycosmos-northeurope.documents.azure.com This one I manipulated the DNS record so that it wont be able to connect to it. And Yes, I already have a cancellation token with a TimeOut in place. The problem, as I observed it in d

[2021-06-07 14:01] ealsur commented on #1679
@sebader We have fixed some of these scenarios on #2383 but I do wonder how is your DNS blocking materializing exception-wise. What is the time in your CancellationToken? What is the exception happening when you block the DNS entry? Are you using the latest SDK?

[2021-06-07 17:12] sajeetharan commented on #2423
Just for reference https://github.com/Azure/azure-cosmos-table-dotnet/issues/71

[2021-06-07 19:50] ealsur commented on #1679
Had an offline conversation with @sebader. His experience with 3.19.0 is what is described in the linked PR, the first request will fail because the CancellationToken is blocking the retry after the regional DNS failure, but subsequent requests target the next region, which is expected.
Time required to detect the DNS failure depend on the failure nature itself and how long does HttpClient take to

[2021-06-07 22:26] ramondeklein opened #2523 "The return-type is misleading, because it implies that the response contains the delete item (and it doesn't)."
This call returns an `ItemResponse<T>` object that holds a `Resource` property that contains the affected documented for all read and write operations. But for the `DeleteItemAsync<T>` this property is always set to `null`. It would make much more sense to either:

1. Fill the `Resource` property unless [`EnableContentResponseOnWrite `](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.c

[2021-06-08 10:43] asketagarwal opened #2522 "Bulk API: New API not dependent on CosmosClient bulk execution flag"
## Motivation
To support workloads where Bulk is not always the requirement and it can be a mix of both Bulk and Non-Bulk operations.

## Requirements
- **P0** Connection sharing - Aligns with singleton recommendation
- **P0** Client sharing (including caches etc...) - Aligns with singleton recommendation
- **P0** Request response correlation - Needed for any non-dire-and-forget scenarios
- **P0**

[2021-06-08 15:45] sourabh1007 opened #2524 "[Internal] Add Preferred region and Time Interval information in telemetry payload"
It is an extension of #2385.

Add 2 new columns in telemetry Payload:
1. PreferredRegions
2. Time-interval-aggregation-in-seconds

**Background/Problem Statement**
In Cosmos DB SDK, Customer has an option to set Preferred Region and Application Region while creating a client and these options come into play in case of failover of global endpoint.
Since these configurations are optional, so it is u

[2021-06-08 17:54] kavyako commented on #2513
@shibayan There is a bug on our side where removing the capability DisableRatelimitingResponses does not propagate correctly.
We will address these bugs in the upcoming releases.

It looks like the property is no longer set on this account shibayantest and the issue is resolved now. Let me know if that is not the case.

[2021-06-08 20:03] john-soklaski opened #2525 "ChangeFeedProcessor behavior when failing first batch"
**Describe the bug**
We have a change feed processor with an `onChangesDelegate` that we expect to fail every so often with a transient error. In our tests, we simulate an error in the delegate in its first run, and unexpectedly, no further retries are attempted.

We use the change feed to perform actions based on any new/updated items in the db, and need at least once processing of items, so miss

[2021-06-08 20:44] edwinnswift opened #2526 "Continuation token with range returned by SDK causes paging of a single record"
We have an API in our microservices that retrieves an document from Cosmos SQL API by a specific resourceId property. The API generates a simple query similar to the following:

 SELECT
  Observation.resourceData,
  Observation.versionId,
  Observation.lastUpdated,
  Observation.partitionKey,
  Observation.id,
  Observation.isDeleted,
  Observation.resourceBase,
  Observation.request
 FROM
  Obser

[2021-06-09 03:30] shibayan commented on #2513
@kavyako Simply deleting the relevant properties resulted in an error, but the error was resolved when I recreated the Dedicated gateway afterwards.

Thank you very much for your help.

[2021-06-09 11:50] j82w commented on #2522
How about a call back design. It avoids the need to correlate request to response.

[code]

[2021-06-09 14:03] edwinnswift commented on #2526
Thank you @j82w!

[2021-06-09 14:53] ealsur commented on #2525
The reason the first batch cannot be retried is because the state (leases) do not have any previous value to use.

CFP can be started either from "Now on"  (default) or from some time (beginning or other).

When the processor is initialized, it creates the leases, these leases have no stored Continuation.

It then fetches the first batch of changes either from Now or from the time specified and se

[2021-06-09 17:26] john-soklaski commented on #2525
Thanks for the explanation! That all makes sense to me.

I am relatively new to CFP, and I found it to be a unexpected/surprising behavior based on my incomplete mental model. I do feel like it would be helpful to call out as a detail in the docs.

[2021-06-09 19:28] ealsur commented on #2525
Once it is in production and even getting new partitions won't be affected.

Assume you have 1 partition = 1 lease, and that lease has at least been saved once (it has a Continuation).
When you hit a split (new partitions) those new leases also have Continuation (the continuation of the parent).

So the only case where you can hit this issue is if you start CFP the first time ever, without any Sta

[2021-06-09 19:46] john-soklaski commented on #2525
Ah I see, that is good to know. Thanks again for the details/clarification

[2021-06-09 20:33] ealsur commented on #2525
The docs have been updated with a note for this scenario, thanks for calling it out.

[2021-06-09 20:33] #2525 closed

[2021-06-10 11:52] asketagarwal commented on #2522
With the callback method, how do we approach the Diagnostics, RequestCharge etc.

[2021-06-11 12:03] Pasukaru commented on #588
Currently experiencing this issue with 3.19.0.

A custom serializer is used to convert a `DateTime` to `double`. Writing works fine. Values are OK in cosmosdb.
But when constructing queries, it doesn't use the serializer and converts the `DateTime` to a `string`.

How can we tell the linq query to also use the custom serializer?

[2021-06-11 20:09] kirankumarkolli opened #2533 "[VNext] System.Text.Json as default serializer"
[VNext] System.Text.Json as default serializer

[2021-06-11 20:12] kirankumarkolli opened #2534 "[VNext] StreamEncoder abstraction"
[VNext] StreamEncoder abstraction (base line API for client encryption)

[2021-06-11 20:23] kirankumarkolli opened #2535 "[VNext] Reliable write OOB behavior"
Default write implementation supports reliable writes with ability for CX to exclude.

[2021-06-11 20:26] kirankumarkolli opened #2536 "[VNext] Remove client scope Bulk mode"

[2021-06-11 20:28] kirankumarkolli opened #2537 "[VNext] Ability to mix Bulk and non-bulk API's on same client"
[VNext] Ability to mix Bulk and non-bulk API's on same client

[2021-06-11 20:33] kirankumarkolli opened #2538 "[vNext] PreferredRegion part of client CTOR"
[vNext] PreferredRegion part of client CTOR

[2021-06-11 20:43] kirankumarkolli opened #2539 "[vNext] Query: revisit pagination semantics (Exact page/empty page)"

[2021-06-11 20:46] kirankumarkolli opened #2540 "[vNext] Feed pipeline separation from query pipeline?"
[vNext] Feed pipeline separation from query pipeline?

[2021-06-11 20:48] kirankumarkolli opened #2541 "[VNext] E2E request timeout"
NW level timeouts are limiting.

[2021-06-11 20:49] kirankumarkolli opened #2542 "[vNext] AAD move tokencredrefresh into Azure.Core"
[vNext] AAD move tokencredrefresh into Azure.Core

[2021-06-11 20:50] kirankumarkolli opened #2543 "[vNext] Patch support"

[2021-06-11 20:51] kirankumarkolli opened #2544 "[vnext] Client encryption library"
[vnext] Client encryption API

[2021-06-11 20:52] kirankumarkolli opened #2545 "[vNext] Azure functions migration to V4"
[vNext] Azure functions migration to V4

[2021-06-11 20:53] kirankumarkolli opened #2546 "[Vnext] CTL validation integration"
[Vnext] CTL validation integration

[2021-06-14 15:48] PaulHuizer opened #2549 "Status of GetChangeFeedIterator"
Could anyone explain the status of GetChangeFeedIterator in the .NET SDK
It was in preview in 3.17 as preview. Now it is no longer part of 3.19?
It works like a charm. Can we expect to have this pullmode on the change feed back? Or should we adopt another approach?

[2021-06-14 16:55] sourabh1007 opened #2551 "[Internal] Add Cache Refresh and Accelerating Networking information in telemetry payload."
It is an extension of #2385.

As part of telemetry, below information has to be collected:
1. Cache Refresh Information has to be collected
2. Accelerating Networking (enabled/disabled)

[2021-06-14 18:40] ealsur commented on #2549
It is there in [3.19.0-preview](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.19.0-preview). Being a preview feature, until it's GA, it remains in the preview package only.

FYI, it will GA in 3.20

[2021-06-14 18:40] #2549 closed

[2021-06-14 22:49] t-dalderman opened #2559 "Typo in Query Documents Page"
In the example the parameter is passed in as "tests", it should be "test". There is no "tests" in scope of the tutorial/example.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daeba9b9-e030-811f-7864-f498d9ec9f08
* Version Independent ID: e8b56ad8-9021-3028-bc10-c8a8c7779b0f
* Content: [Container

[2021-06-15 15:47] brendankowitz commented on #2290
@timsander1 there are some queries where the partitionkey is not known. Our data is using https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview#using-item-id-as-the-partition-key as the partitioning strategy, this means direct reads are always fast (when the ID is known). Each item can store history, so this scheme also allows the history to be inserted within a transaction. It al

[2021-06-15 18:37] namadabu opened #2556 "High value for MaxConcurrency leads to perf degradation"
**Describe the bug**
This is related to issue #2290  . We execute some of our queries with a `MaxConcurrency` value set to `int.MaxValue` because we want to execute in parallel across all partitions. But we are running into problems for accounts that have a large number of physical partitions (4000+). We get no response from the sdk even after 100 seconds (and we eventually timeout upstream).

We

[2021-06-15 19:18] ealsur commented on #2556
@namadabu Regarding

Does this mean the Portal is also having this issue of failing with a high degree of concurrency?

[2021-06-15 19:37] namadabu commented on #2556
@ealsur Yes, we tested it via Azure Portal and ran into the above issues for high degree of concurrency.

[2021-06-15 22:00] jcardena opened #2557 "MalformedContinuationTokenException. Could not find continuation token: OrderByContinuationToken"
**Describe the bug**
I am getting the error below

[Microsoft.Azure.Cosmos.Query.Core.Exceptions.MalformedContinuationTokenException]: Invalid Continuation Token - Could not find continuation token: Microsoft.Azure.Cosmos.Query.Core.ContinuationTokens.OrderByContinuationToken Response status code does not indicate success: BadRequest (400); Substatus: 0; ActivityId: ; Reason: (Response status code

[2021-06-15 23:51] craigjensen commented on #2485
We're still seeing these exceptions in 3.19.0.  Here's the latest exception message:

"outerType": Microsoft.Azure.Cosmos.CosmosNullReferenceException,
"outerAssembly": ,
"outerMethod": ,
"outerMessage": Object reference not set to an instance of an object.{"name":"ReadItemStreamAsync","id":"32ef07af-36ac-48c6-8075-5974a1002787","caller info":{"member":"OperationHelperWithRootTraceAsync","file":"C

[2021-06-16 00:27] j82w commented on #2485
@craigjensen can you also include the stack trace?

[2021-06-16 00:44] craigjensen commented on #2485
"innermostType": System.NullReferenceException,
"innermostMessage": Object reference not set to an instance of an object.,
"details":    at Microsoft.Azure.Documents.GoneAndRetryWithRequestRetryPolicy`1.TryHandleResponseSynchronously(DocumentServiceRequest request, TResponse response, Exception exception, ShouldRetryResult& shouldRetryResult)
   at Microsoft.Azure.Documents.RequestRetryUtility.<Pr

[2021-06-16 12:02] j82w commented on #2556
If you look at your CPU usage it is should be at 100%. You are trying to create 4000 tasks where each task is doing work to go communicate to the physical partition. The CPU is spending a lot of it time just switching between all of these tasks. Even on a 32 core machine that is 125 tasks per a core. This is simply over loading the machine. There is no way to optimize doing that many tasks in para

[2021-06-16 12:03] #2556 closed

[2021-06-16 12:44] j82w commented on #2557
@jcardena can you please add the stack trace of the exception.

[2021-06-16 14:27] EnenDaveyBoy opened #2560 "Incompatable with Azure.Storage"
**Describe the bug**
when i reference azure.cosmos and Azure.Storage.Common, Azure.Storage.File or Azure.Storage.Blob, there is a Json exception thrown

**To Reproduce**
Simply reference Azure.Cosmos and Azure.Storage.Common and try to upsert a document with Azure.Cosmos

**Expected behavior**
no exception

**Actual behavior**
it throws the following exception:

System.TypeInitializationException:

[2021-06-16 15:02] jcardena commented on #2557
This the the only stack I get:

EXCEPTION: [Microsoft.Azure.Cosmos.Query.Core.Exceptions.MalformedContinuationTokenException]: Invalid Continuation Token - Could not find continuation token: Microsoft.Azure.Cosmos.Query.Core.ContinuationTokens.OrderByContinuationToken
    Response status code does not indicate success: BadRequest (400); Substatus: 0; ActivityId: ; Reason: (Response status code doe

[2021-06-16 15:29] paulirwin commented on #903
Is there an anticipated release date for the v4 SDK? It looks like the last preview came out almost a year and a half ago. Thanks for any updates!

[2021-06-16 16:29] ealsur commented on #2485
Seems like timeouts induced by CPU exhaustion:

The data in those diagnostics show that CPU is going from 30 to 100% during the operation:

(2021-06-15T13:27:28.9806276Z 30.321), (2021-06-15T13:27:38.9733279Z 29.867), (2021-06-15T13:27:48.9807079Z 33.529), (2021-06-15T13:27:58.9843369Z 26.371), (2021-06-15T13:28:08.9789417Z 29.350), (2021-06-15T13:28:19.0090321Z 64.253),
(2021-06-15T13:28:29.00889

[2021-06-16 16:36] ealsur commented on #2560
Which are the nuget versions of the packages? It looks like the Azure Storage package you are using are bringing in an updated System.Text.Json that has different APIs (would be a breaking change on System.Text.Json).

Also, the Azure.Cosmos package right now it's experimental, not for production usage, are you building a POC?

[2021-06-16 17:09] craigjensen commented on #2485
Yes - these are related to high cpu on the client.  As I mentioned above, I would expect errors in this situation but not NullReferenceExceptions.

[2021-06-16 17:12] j82w commented on #2485
The exception is getting rethrown, and it's losing the original call stack. We are working on a fix to not lose the original call stack. The traces have the original exception stack trace and the info necessary to root cause the problem.

[2021-06-16 17:30] Blackbaud-TomRamsey commented on #2485
Here is another data point for yall to consider.

System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Azure.Documents.GoneAndRetryWithRequestRetryPolicy`1.TryHandleResponseSynchronously(DocumentServiceRequest request, TResponse response, Exception exception, ShouldRetryResult& shouldRetryResult)
   at Microsoft.Azure.Documents.RequestRetryUtility.Pr

[2021-06-16 17:30] j82w commented on #2485
We figured out the issue. It was introduced in the following PR.

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2312

The original RegionsContacted hashset is never getting set so it is always null. There are certain service unavailable code paths that check if multiple regions were contacted.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/867c8c86e4d90ea1ad87b347694d1fec192e5d14/Mic

[2021-06-16 17:38] mathieuisabel opened #2561 "Socket exhaustion issue gets logged as Faulted in App Insights"
**Describe the bug**
When a port exhaustion issue arises and the Cosmos DB client's calls are failing because of that, the only thing we can see in the App Insights telemetry is a status of Faulted for the dependency call.

**To Reproduce**
What happened in our scenario was we had an HttpClient leaking connection in a function app. We noticed some of the HttpClient calls to another API were failin

[2021-06-16 18:14] j82w commented on #2485
We are working on a fix. It will be included in the next SDK release which should be done in the next week or so.

The null reference exception should only happen in scenarios where it was going to be a service unavailable exception. Most likely cause by high CPU or port exhaustion. The null reference will not happen in other scenarios.