[2018-08-29 15:17] marcelmeijer opened #2396 "Value cannot be null error: Parameter name: key"
What does the exception "Value cannot be null error: Parameter name: key" mean? Which value was left empty? I have added a PartitionPath key to the collection.

Just curious.
Marcel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 221e793d-39a4-4dd3-1f7d-830a6c646efe
* Version Independent ID: 070897d8-50e4-5086-ce8c-d6d1

[2018-12-03 14:44] nulltoken opened #1 "Thanks!"
Thanks a lot for open sourcing this!

:heart:

[2018-12-03 16:27] nulltoken opened #2 "[RFC] Proxy support"
re: azure/azure-cosmos-dotnet-v2#434

I'd be willing to contribute a pull request to support that.

However, as there may potentially be various ways to put that in place, I'd like first to discuss about how you would prefer to see this implemented.

[Java][proxy-java] and [Node][proxy-node] versions of the SDK seem to expose the proxy address through a get/setter exposed by the `ConnectionPolicy`

[2018-12-03 17:16] southpolesteve commented on #2
@nulltoken 👋 Node SDK maintainer here. FWIW I'm advocating to change this in the next major release of the Node SDK as well. I would like to have proxy support by passing a custom agent such as https://github.com/TooTallNate/node-proxy-agent

[2018-12-03 19:58] nulltoken commented on #2
@southpolesteve Thanks a lot for the feedback!

⚠️ Full disclosure here: **Not a Node expert**. Although, from what I read from the doc, the `http.Agent` approach indeed looks very similar to what I had in mind.

Once again, thanks for sharing.

[2018-12-04 01:54] christopheranderson commented on #2
Hey @nulltoken, we're about to release this support in the 2.x version of the SDK (which can be found here: https://github.com/azure/azure-cosmos-dotnet-v2). This support will likely also be in 3.x, which is what this repo is here for.

[2018-12-04 17:30] phillipfisher commented on #1
Same here! Thanks for opening this project up!

What is the plan on open-sourcing Microsoft.Azure.Cosmos.Direct?  It appears that there is alot of functionality still buried in there.  Currently due the dependency on it I am unable to build the solution.

Thanks in advance!

[2018-12-04 18:46] k-miyake commented on #1
Lots of developers were waiting for Open sourced. It's a wonderful job.

[2018-12-04 19:25] #2 closed, assigned to nobody

[2018-12-04 19:37] Elfocrash opened #4 "No DocumentQuery Linq to SQL evaluation"
As far as I can see there is no equivalent of `CreateDocumentQuery` that supports a LINQ expression path which is converted to SQL behind the scenes but I can see that the evaluator is still in the code.

Are there plans to support this feature?

[2018-12-04 20:47] manigandham commented on #4
According to the 3.0 public preview blog post, the LINQ features are in development.

https://azure.microsoft.com/en-us/blog/azure-cosmos-dotnet-sdk-version-3-0-now-in-public-preview/

[2018-12-04 20:58] Elfocrash commented on #4
Gotcha thanks

[2018-12-04 20:58] #4 closed

[2018-12-04 21:00] matthewhancock opened #5 "Stop requiring partition key parameter in the typed create, replace, upsert methods, infer from the data"
When porting over to the new SDK from DocumentDB I came across needing to specify a Partition Key on an action (create, upsert, etc.) with a CosmosResource. However, the Partition Key Path is also specified on creating a Container.

Shouldn’t the Partition Key automatically be handled by the Container instead of having to specify it on every Resource action? Or will there now be a Partition Key pr

[2018-12-04 23:05] manigandham commented on #5
They mean different things:

When creating a container, you're specifying what field in the documents to use as the partition key for sharding the collection.

When manipulating the resources, you're specifying the actual value for the partition key (field) so that Cosmos DB knows which partition to route to.

[2018-12-04 23:53] christopheranderson commented on #5
Sorry this change wasn't super clear. We'll use this issue to track this change. (I'll change the title)

v3 currently only works with partitioned containers. We're working on a backend feature that will make non-partitioned containers able to act like partitioned containers (but you can just pass `null` as the partition key if you want to not think about it). You can expect that be out in Jan/Ear

[2018-12-05 01:04] matthewhancock commented on #5
But a Resource modification is done within the context of a Collection, so couldn't the Partition Key Path be mapped to the respective property on the Resource automatically based on the Collection it was going to?

[2018-12-05 01:33] kirillg commented on #1
Thank you guys! @phillipfisher, our intent is to open source as much as we can. There is some complexity to it because a lot of the code inside .NET SDK is shared between the SDK and the Cosmos DB service. Over time you should expect us to move more and more to the open source.

[2018-12-05 01:38] kirillg commented on #5
For the typed programming model, we will stop requiring partition key value in the method signature/infer it from the body. For the stream, we would like to avoid parsing the stream.

[2018-12-05 09:36] Elfocrash commented on #5
@kirillg Shouldn't this also be the case for the SQL execution path? I'm talking about `CreateItemQuery` and `CreateItemQueryAsStream` methods which also require the partition key. I thought the server would infer the partition key from the query anyway if the request is marked as a cross partition query (which currently is an internal property).

[2018-12-06 13:39] Ponant opened #6 "How the old OpenAsync has been handled"
Hi Team,
First of I back up what others have said that it is super super cool that you open source the project! :)
DocumentClien.OpenAsync() has been an important feature that needed to be handled properly when using dependency injection in .Net Core. But it seems to have disappeared. Could you explain a bit how that is handled now?

[2018-12-06 13:48] ajayraaviv opened #7 "AsItemQuery"
Hello,

  One of the examples has a note mentioning about using "AsItemQuery", if we do not want to enumerate through all the results. However I do not see any such method on the CreateItemQuery method or seem to figure out a way to do it. Any help is greatly appreciated.

Thanks,
Ajay

[2018-12-06 13:52] vip32 opened #8 "skip/take?"
will this new cosmos client support proper skip/take?

https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/6350987--documentdb-allow-paging-skip-take

[2018-12-06 14:29] Ponant opened #9 "Possible imporvements by comparison to a homemade API"
Hi Team,
I come to you because I have been struggling with similar issues around the object model of the old sdk when I first started using documentdb a year ago and I made a homemade api that resembles in some aspects the object model you now have. I said to myself I can now drop my api after reviewing this 3.0 preview, but I think there are a few things you might be interested to include in your

[2018-12-06 17:10] Jeremywhiteley opened #10 "Functions v2 sample"
Can you please publish Azure Functions V2 Sample showing the correct way to use it?

[2018-12-06 17:35] RockyBalboa2018 opened #11 "FormatException : Input string was not in a correct format."
i try this very simple code sample, but getting a FormatException : Input string was not in a correct format.
Database and collection are created, but exception occurs on container.Items.CreateItemAsync
**SDK :**
Microsoft.Azure.Cosmos 3.0.0.1-preview (via nuget)
**Emulator :**
Azure Cosmos DB Emulator 2.1.3.0

[code]

[2018-12-08 05:26] erickbp opened #12 "Why is index utilization 0.00 %?"
Hi,

Can you please help me figure out why index utilization is 0.00 %?

I'm including this path in the indexing policy:
[code]
and this is an example of my documents:
[code]

When I run the following query I get zero index utilization.
Notes:
1. It does not happen with any other property/path that I included in the indexing policy
2. UserId is the partition key

[code]
![image](https://user-image

[2018-12-10 14:59] j82w commented on #7
The samples were converted from v2 SDK samples. This is a bug were the comment did not get updated for the v3 SDK. The item query samples are here: [https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/CodeSamples/Queries/Program.cs ](url) . Here is how to extend the "QueryWithSqlParameters" example to set the max item count. Each FetchNextSetAsync will pull b

[2018-12-10 15:40] j82w commented on #11
I was not able to repro the issue using the below TodoItem in a .net core 2.1 console app. All items are required to have a "id" property and the matching partitionkey property. The properties are case sensitive.

[code]

1. What project and version are you using?
2. What version of Newtonsoft.Json?
3. Can you please add the full exception message? It has additional information that would make it

[2018-12-10 18:20] brijeshb opened #13 "Expose Quota / capacity information on every response"
Applications can  be designed to prioritize certain I/O over others and make optimum use of provisioned capacity if the current value of RUs consumed / available at the collection / database level would be returned on every request. (Even if this is slightly stale or an approximate measure). Some information is still better than no information.

[2018-12-12 18:56] j82w commented on #12
This is related to the v2 SDK, and there is already a duplicate question in that repo. https://github.com/Azure/azure-cosmos-dotnet-v2/issues/646

[2018-12-12 18:56] #12 closed

[2018-12-16 04:46] jackbond opened #15 "Please put spatial classes in separate Nuget"
Developers will reference the spatial classes in their own classes. It would be helpful if they didn't need to reference the entire Cosmos SDK.

It goes without saying that you'll need to remove the "internal" keyword from your spatial classes to make them useful.

[2018-12-16 04:49] jackbond opened #16 "Would it be possible to add [DataContract] to the spatial classes"
Service Fabric does not natively support Json serialization. It would be really helpful if the spatial classes were marked with DataContract so they could be more easily passed around by Service Fabric services and actors.

[2018-12-18 13:29] MaherJendoubi opened #18 "System.AggregateException"
**Describe the bug**
I described the bug in a blog post: [A strange bug in Azure Cosmos DB SQL API account (SDK Version 3 Preview)](https://www.maherjendoubi.io/strange-bug-azurecosmosdb-sdk/)

**To Reproduce**
Steps to reproduce the behavior. If you can include code snippets or links to repositories containing a repro of the issue that can help us in detecting the scenario it would speed up the r

[2018-12-20 00:59] ealsur commented on #18
@MaherJendoubi Is your application running dotnet Core or full framework? Which version?

[2018-12-20 07:16] MaherJendoubi commented on #18
@ealsur it's running .NET Core 3.0 Preview 1 version.

[2018-12-20 15:27] isaacabraham opened #19 "ItemQuery does not appear to use custom serializer"
I've created a custom JSON serializer and am able to get it to work when inserting data using `UpsertItemsAsync`. However, when I retrieve data back using `CreateItemQuery` and `FetchNextSetAsync` the custom serializer does not appear to get called.

As you can see from this stack trace, it looks like it's calling Newtonsoft.Json even though I've plugged a custom serializer in.

[code]

[2018-12-20 16:24] ealsur commented on #16
@jackbond Is this a blocker in your current project? We have this in the roadmap but if you are blocked we can take that into account to prioritize.

[2018-12-20 16:25] ealsur commented on #15
This is planned in the roadmap. Common classes will be on a separate package and open sourced for GA.

[2018-12-20 16:25] #15 closed

[2018-12-20 16:50] isaacabraham commented on #19
I'm applying my own serializer but haven't used the Stream version of the methods. Is there any way to perform custom deserialization without using the Stream version of methods - is there any reason why they would work and the other one wouldn't?

[2018-12-20 17:18] ealsur commented on #18
@MaherJendoubi I created a Net Core 3.0 project here https://github.com/ealsur/cosmosv3sample and it works using the credentials of a live account, I went through the tutorial as your post describes. Do you have a repo you can share that is experiencing the issue?

[2018-12-20 17:30] ealsur commented on #19
Could you share the code snippet for the CreateItemQuery call with the custom deserializer parameter? Trying to repro that on my side (Or if you have a repro repo that would help too).

[2018-12-20 18:51] MaherJendoubi commented on #18
@ealsur I run your sample. This is what I get :

-------------------------------------------------------------------
You may only use the Microsoft .NET Core Debugger (vsdbg) with
Visual Studio Code, Visual Studio or Visual Studio for Mac software
to help you develop and test your applications.
-------------------------------------------------------------------
Loaded 'C:\Program Files\dotnet\shar

[2018-12-20 19:10] ealsur commented on #18
@MaherJendoubi Is this to a live account or the Emulator?

[2018-12-20 19:15] MaherJendoubi commented on #18
@ealsur It is a live account.

[2018-12-20 19:22] MaherJendoubi commented on #18
@ealsur How can we troubleshoot this issue?

[2018-12-20 19:33] MaherJendoubi commented on #18
@ealsur I am switching to .NET Core 2.2

λ dotnet --list-sdks
2.1.200 [C:\Program Files\dotnet\sdk]
2.1.201 [C:\Program Files\dotnet\sdk]
2.1.202 [C:\Program Files\dotnet\sdk]
2.1.300 [C:\Program Files\dotnet\sdk]
2.1.400 [C:\Program Files\dotnet\sdk]
2.1.401 [C:\Program Files\dotnet\sdk]
2.1.402 [C:\Program Files\dotnet\sdk]
2.1.403 [C:\Program Files\dotnet\sdk]
2.1.500 [C:\Program Files\dotnet\s

[2018-12-20 19:37] jackbond commented on #16
Well I could say it was a blocker, but at this point it's really just an inconvenience. The reality is, the Service Fabric guys have provided a means to write custom serializers for their actor and service calls, but it's full of gotchyas. For example, we wrote one so that we could pass our objects that have a property of DocumentDb.Spatial.Point, but then that messed up the serialization of Excep

[2018-12-20 19:42] MaherJendoubi commented on #18
@ealsur same error with .NET Core 2.2

[2018-12-20 19:49] MaherJendoubi commented on #18
@ealsur it also repo with .NET Core 2.1

[2018-12-20 20:04] ealsur commented on #18
Could you share a Read-Only key for that account and account name to maquaran at microsoft.com? I want to test and see what is the response coming from the account that has an invalid request charge.

[2018-12-20 20:40] MaherJendoubi commented on #18
@ealsur done.

[2018-12-20 23:54] ealsur commented on #16
I agree. We'll keep it in the roadmap for GA to support this scenario :)

[2018-12-21 00:51] ealsur commented on #18
We synced and it seems its affecting only one machine, the same code runs in another VM.

[2018-12-21 10:35] MaherJendoubi commented on #18
The same code runs in the VM hosted in my machine but not does not on my machine. I keep investigations using Fiddler and Wireshark to know the root cause of this issue. With Fiddler, we notice the direct effect which is that the requests are missing headers.

[2018-12-21 17:31] isaacabraham commented on #19
@ealsur there is no custom deserializer parameter on the CreateItemQuery call that I could see. But here's repository that demonstrates the issue: https://github.com/isaacabraham/cosmosdbtest. It should just build and run out of the box as a console application.

The key point is that the custom serialization gets called on the upsert call (indeed, it also seems to immediately deserialize the obje

[2018-12-25 15:05] larserikfinholt commented on #18
I've got the same problem. Tried to run a few times, it crashed in different steps. After deleting the db, this is what I get (using emulator v2.1.3.0):

`Beginning operations...

Error: System.AggregateException: One or more errors occurred. (Exception has been thrown by the target of an invocation.) ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an i

[2018-12-26 15:56] ealsur commented on #18
@larserikfinholt @MaherJendoubi Could you confirm if in the environment you are facing the issue, the culture is set to use a different decimal separator? Trying to confirm if what I found is related to your scenario.

[2018-12-26 15:58] MaherJendoubi commented on #18
@ealsur How to know it?

[2018-12-26 16:01] MaherJendoubi commented on #18
@ealsur My Laptop is a French OS while my on-prem VM and my Azure VM are English OS.

[2018-12-26 16:07] ealsur commented on #18
Was able to repro when setting Region to France, thanks @MaherJendoubi

[2018-12-26 16:10] MaherJendoubi commented on #18
@ealsur That's great! Thanks Matias.

[2018-12-26 16:12] MaherJendoubi commented on #18
@ealsur How did you find out that it may be a Culture problem?

[2018-12-26 16:17] ealsur commented on #18
@MaherJendoubi Just thinking about the code path, the exception and the fact that it was working in a VM, I guess it just was an idea and I tried and was able to repro, but was not sure your case was the same 😄

[2018-12-26 19:03] ealsur commented on #18
@MaherJendoubi The fix was merged and will be included in the next preview release

[2018-12-26 19:03] #18 closed

[2018-12-26 19:10] MaherJendoubi commented on #18
@ealsur where can I see the fix code?

[2018-12-26 22:13] ealsur commented on #19
I was able to repro @isaacabraham, thanks for the details. We'll work on it.

[2018-12-27 17:43] hsavran opened #21 "RequestCharge not available for CosmosQueryResponse<T>"
I can not access **Resources.RequestCharge** in CosmosQueryResponse object.

To recreate
var resultSet = await querysetIterator.FetchNextSetAsync();

There is no way to get RequestCharge in resultSet. FeedResponse object is private.

[2019-01-08 22:38] operationslazlo326 commented on #16
Is there an estimate for GA? There doesn't appear to be a whole lot of activity in regards to the source.

[2019-01-09 21:09] j82w opened #22 "CosmosConfiguration should be immutable"
**Describe the bug**
The CosmosConfiguration that is passed to the CosmosClient constructor can be updated after the CosmosClient creation. The CosmosClient does not handle any updates to the CosmosConfiguration. This can cause unexpected behavior, and lead to confusion.

**To Reproduce**

1.  Create a CosmosClient with a CosmosConfiguration.
2. Add a new handler to the CosmosConfiguration.
3. The

[2019-01-10 20:46] codefactorydevelopment opened #23 "Any estimate when v.3 should go to production?"
I haven't seen this info anywhere and as i am starting new project, i'm trying to see best decision about should i go with 2.2.1. until v.3 goes production or maybe starting with it right away if its close.

So, any known plans?

thanks

[2019-01-11 07:32] codefactorydevelopment commented on #23
Found some info here:
https://azure.microsoft.com/en-us/blog/azure-cosmos-dotnet-sdk-version-3-0-now-in-public-preview/

so i guess this issue can be closed.

[2019-01-11 18:42] j82w commented on #23
Hi @codefactorydevelopment ,

We are planning to go GA in the first half of 2019. We can't give a specific date as the amount of work that will need to be done will change on the feedback, and feature requests we get during the preview.

[2019-01-11 18:42] #23 closed

[2019-01-15 15:00] #7 closed

[2019-01-15 21:18] Jeremywhiteley commented on #10
Thank you, this is a huge help!    Will you be merging this into the master?   It doesn't show up under the master yet.

[2019-01-18 20:42] AndriySvyryd opened #24 "Don't use exceptions for flow control"
On every cross partition query this exception is thrown and caught. This makes debugging much slower and probably degrades production performance.

  HResult=0x80131500
  Message=The provided cross partition query can not be directly served by the gateway. This is a first chance (internal) exception that all newer clients will know how to handle gracefully. This exception is traced, but unless you

[2019-01-22 16:55] devcrp opened #25 "Save document with diacritics"
**Describe the bug**
When inserting an item that contains diacritics using container.Items.CreateItemAsync it is being inserted like this:
![image](https://user-images.githubusercontent.com/46105751/51550816-708bf600-1e6d-11e9-92b0-d32dbe814f88.png)

I've been playing with the CosmosDefaultJsonSerializer, trying to change the Encoding of the StreamWriter with no luck.

I've also noticed that if I

[2019-01-23 15:19] j82w commented on #25
Hi devcrp,

I was not able to repo the issue. I created the item via the SDK and viewed it in the portal data explorer and it appears fine.
![image](https://user-images.githubusercontent.com/8868107/51616555-33604c00-1edf-11e9-8049-4ee7529d1ae3.png)

What are you using to view the inserted item? When you read the item back via the SDK is it still correct? Can you provide a link to a github reposit

[2019-01-23 16:09] devcrp commented on #25
Hi j82w,

Here's the test project where I can reproduce the issue: https://github.com/devcrp/CosmosDBvsDiacritics
In this case I'm using the emulator to test it, but the result is the same when using the CosmosDB in the Azure server.

Also, here's where I'm viewing the inserted item
![image](https://user-images.githubusercontent.com/46105751/51619882-85ca5880-1f31-11e9-9d9d-ff3ab9c9cfee.png)

And

[2019-01-23 22:06] j82w commented on #25
Hi devcrp,

Thanks for the repo code. I was able to reproduce the issue. I was using a .net core application and you were using .net framework. It works fine in .net core, but is broken in .net framework. The issue will be fixed in the next release which will hopefully happen soon., For now you can do the following workaround.

[code]

[2019-01-23 22:06] #25 closed

[2019-01-24 08:10] devcrp commented on #25
That did it, thank you!!

[2019-01-24 16:18] j82w commented on #24
Hi Andriy,

This exception will not occur if you follow the [performance tips](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips) and use Direct Mode TCP on x64 platform. We haven't prioritized improving the implementation since our recommended connection mode prevents it, and there are other customer requests that have will provide a better impact.

If you get a chance please try

[2019-01-24 19:11] AndriySvyryd commented on #24
I didn't specify it, but I am using Microsoft.Azure.Cosmos 3.0.0.1-preview

[2019-01-24 19:40] crhistianramirez opened #26 "Preserve some of the way creating a query worked in v2"
I liked how [CreateDocumentQuery](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.documentclient.createdocumentquery?view=azure-dotnet) worked in v2. It returned an `IQueryable` so you could have one function that built up part of the query and pass it on to some other function that added to that query before executing it. It also let us use linq methods to build up th

[2019-01-24 20:37] AndriySvyryd commented on #24
@j82w Can you reopen this?
I still get this when using the direct connection mode:
[code]

[2019-01-25 23:53] divega opened #27 "EF Core provider gap: CreateDatabaseIfNotExistsAsync call is required for getting CosmosDatabase"
In the new SDK, if you need to get `CosmosDatabase` you first need to call `CreateDatabaseIfNotExistsAsync()`.

For SDK customers in general, this means there is no way to get the `CosmosDatabase` object without creating a database as a side effect, even if that isn't the intent.

For EF Core it means that some existing APIs will have unexpected semantics.

This issue was found while adapting EF C

[2019-01-25 23:56] divega opened #28 "EF Core provider gap: CreateContainerIfNotExistsAsync call is required for getting CosmosItem"
In the new SDK, if you need to get `CosmosItems` you first need to call `CreateContainerIfNotExistsAsync()`.

For SDK customers in general, this means there is no way to get the `CosmosItems` object without creating a container as a side effect, even if that isn't the intent.

For EF Core it means that some existing APIs will have unexpected semantics.

This issue was found while adapting EF Core

[2019-01-26 00:00] divega opened #29 "EF Core provider gap: No way to know if CreateContainerIfNotExistsAsync actually created the container"
The method could return a bool indicating whether the container was actually created.

Without this some APIs in EF Core will have unexpected results.

This issue was found while adapting EF Core provider to work with [Cosmos SDK version 3.0.0.1-preview](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.0.0.1-preview).

cc @AndriySvyryd @ajcvickers @kirillg

[2019-01-26 00:06] divega opened #30 "ProcessItemAsync<>() should ensure requestOptions is not null before calling ValidatePartitionKey()"
This seems to be a bug in the implementation.

This issue was identified while adapting EF Core provider to work with [Cosmos SDK version 3.0.0.1-preview](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.0.0.1-preview).

cc @AndriySvyryd @ajcvickers @kirillg

[2019-01-26 00:11] divega opened #31 "EF Core provider gap: Provide proper synchronous version of various APIs"
The following methods don't have synchronous equivalents:
- CreateDatabaseIfNotExistsAsync()
- CosmosDatabase.DeleteAsync()
- CreateContainerIfNotExistsAsync()
- CosmosResultSetIterator<>.FetchNextSetAsync()
- CosmosQueryResponse<>.FetchNextSetAsync()
- CreateItemAsync<>()
- ReplaceItemAsync<>()
- DeleteItemAsync<>()

Since EF Core provides both synchronous and asynchronous APIs, in the EF Core pr

[2019-01-26 00:19] divega opened #32 "EF team feedback on various APIs"
The following improvements were identified while porting the EF Core provider to the [Cosmos SDK version 3.0.0.1-preview](https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.0.0.1-preview).

cc @AndriySvyryd @ajcvickers @kirillg

- [ ] Add a constructor to PartitionKeyDefinition that accepts an IEnumerable<string> of paths
- [ ] Remove the parameterless constructor from CosmosContainerSettings

[2019-01-26 09:21] davetheunissen opened #33 "CosmosQueryRequestOptions excludes old FeedOptions"
**Is your feature request related to a problem? Please describe.**
Not sure if this is a regression bug or feature request but the `PopulateQueryMetrics` feed option is not exposed as a member of the `CosmosQueryRequestOptions` class.

In fact there are a number of feed options which have been left out between the current client and this one. Have these options been left off for a reason or are th

[2019-01-27 07:50] TsuyoshiUshio opened #34 "Introducing testability"
When I write a unit testing with Moq, It can't be mocked.  It says Could not find a parameterless constructor.

Solution might be adding a parameterless constructor or interface. However, interface might be a good design as an API.

Another approach is using CosmosDB emulator and having some integration testing. We can do it. However, people might want to unit testing since it is very fast without

[2019-01-28 13:14] j82w commented on #27
Hi divega,

To get a CosmosDatabase object there is a index overload off of CosmosDatabases.

[code]
You can see the code [here ](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/Database/CosmosDatabases.cs) on how it works.

If this does not fix the scenario can you provide some sample code?

[2019-01-28 13:30] j82w commented on #27
I'm closing this as a duplicate of this issue since it the same design problem for both objects: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/28

[2019-01-28 13:56] j82w commented on #29
Hi Deigo,

All of the Async method with throw an exception if it get's an error while creating the container. The exception to this rule is Cosmos Item Stream APIs which only return the status. This is for performance reasons. Also to note that not found is not an exception. This is considered as part of a normal workflow, and will return null for the resource.

The responses are documented [here]

[2019-01-28 13:56] #29 closed

[2019-01-28 14:00] j82w commented on #30
Hi Diego,

You are correct this is bug, and it will be fixed in the next release which should hopefully be soon.

[2019-01-28 14:08] j82w commented on #34
Hi Tsuyoshi,

Can you please provide a list of objects that can not be mocked?

[2019-01-28 21:31] davetheunissen commented on #33
If there are no objections to adding `PopulateQueryMetrics` I will submit a PR with the change.

[2019-01-28 22:58] TsuyoshiUshio commented on #34
I also try to Mock the method, like this.

[code]

it causes

[code]

Seems lack of default constructor.

I'm a new to this API, so I might misunderstand the implementation. I'm ok if I can write unit testing. (I usually use TDD method). If my implementation is not proper, please let me know how can I write the unit testing using Moq.

[2019-01-29 15:35] TsuyoshiUshio commented on #34
Awesome! I appreciate you. I'm trying to understand the new API and how to write unit testing for it.
I'll write a blog what I learned and current workaround for unit testing.

[2019-01-29 16:19] j82w commented on #32
1. What's the use case for multiple paths?
2. Currently there are several dependencies that use this, but an issue can be created to track it..
3. This is a good idea.  Need to create an issue to track the feature request
4. The type is required to deserialize the response stream to the object.
5. I believe  the rename will be the best option. We moved it to a parameter to make sure developers are

[2019-01-29 19:12] AndriySvyryd commented on #28
@j82w That does enable our scenario, though this API has low discoverability.

[2019-01-29 19:42] AndriySvyryd commented on #32
The benefit of the constructor is the ability to create `CosmosContainerSettings` in one expression:
[code]
instead of
[code]

For bursty highly parallelized workloads a more aggressive delay strategy could be required:

1. Additional delay in the form of `c^n` where `c` is a user-specified value and `n` is the current number of failed retry attempts
1. Additional random delay up to the specified

[2019-01-29 20:02] AndriySvyryd commented on #32
In the case of `DeleteItemAsync<T>` `Resource` is always `null`

In cases where it isn't you can make deserialization lazy by changing `Resource` property to a method - `GetResource<T>()`

[2019-01-29 21:03] j82w commented on #34
Thanks for the feedback. If you find any other blockers or have any ideas on how to make it easier to unit test please let us know.

[2019-01-30 05:00] divega commented on #29
@j82w the issue was about being able to more easily distinguish between two different conditions when a call to CreateContainerIfNotExistsAsync succeeds:

- The container already exists and didn’t need to be created
- The container did not exist and was successfully created

I will let @AndriySvyryd comment if he still thinks there is an API usability or discoverability problem worth addressing.

[2019-01-30 13:56] j82w commented on #32
1. There is a constructor overload that takes in the path.
[code]
4. The reason the typed is not lazy is we wanted avoid having everything implement IDisposable. The original response back from Cosmos contains a Stream that needs to be disposed. If we did a lazy deserialization then all the responses would need to wrapped in using statements in the scenario that the objects are never deserialized.

[2019-01-30 16:58] kirankumarkolli commented on #31
Can you please more on how only async blocks/dead-locks but sync works?

[2019-01-30 17:02] kirankumarkolli commented on #26
@crhistianramirez we are exploring ways of enabling LINQ query generation. Its part of GA plan.

[2019-01-30 18:14] kirankumarkolli commented on #9
@Ponant currently we are focusing on having a single account client part of GA effort. Post that we can look into it based on such asks.

On limiting a type to a container/collection: Cosmos is a no-schema no-sql data store. It allows heterogeneous items. Application pattern limiting types is interesting and we will explore it post GA.

@j82w can you please explore on DI part?

[2019-01-30 18:16] kirankumarkolli commented on #22
@j82w lets move forward with PR and commit it.
Any feedback later we can incorporate it.

[2019-01-30 18:21] kirankumarkolli commented on #6
@Ponant in what scenarios are you using DocumentClient.OpenAsync()?

Doing any operation (Read any document etc...) on CosmosClient ensures OpenAsync(), so it can be leveraged as work-around meanwhile.

[2019-01-30 18:55] Ponant commented on #9
@kirankumarkolli , sorry your sentence is confusing, how can I help?

[2019-01-30 20:11] AndriySvyryd commented on #31
@kirankulkarni747 Calling an async method from a sync method requires some kind of blocking (like Task.Wait()) this goes against [best practices](https://msdn.microsoft.com/en-us/magazine/jj991977.aspx) as it can cause deadlocks. Using `ConfigureAwait(false)` to avoid deadlocks is brittle and can't be relied on.

[2019-01-30 20:11] j82w commented on #33
I don't see an issue with including it for now, but this will likely have some breaking changes when the diagnostics are updated.

[2019-01-30 20:15] j82w commented on #16
The current estimate for GA is the first half of 2019. This may change base on new feature requests.

[2019-01-30 20:21] j82w commented on #28
We can increase the documentation around this scenario, and add more samples to prevent this in the future.
@kirankumarkolli and @kirillg do you think it might be worth adding methods like GetDatabase to increase exposure on how to get the objects other than the index overload?

[2019-01-30 20:53] jackbond commented on #16
So I take it you guys aren't using this repository for your actual source control. It would be nice to be able to provide direct feedback based on ongoing code changes.

[2019-01-31 14:44] kirankumarkolli commented on #9
@j82w will explore DI part mentioned above.

Others we will explore post V3 SDK GA.

[2019-01-31 14:57] j82w commented on #29
@divega if that is the case you can do the read yourself, and if it is null do the create.

[2019-01-31 20:07] AndriySvyryd commented on #32
The stream APIs response needs to be disposed anyway. If you established that all responses need to be disposed it would actually make it less likely for a developer to forget to do it as it would be consistent across all of your API and shown in all samples.

[2019-01-31 22:14] AndriySvyryd opened #36 "Add a Stream overload for CosmosItems.CreateItemQueryAsStream"
Currently there are only overloads that accept a `string` or a `CosmosSqlQueryDefinition`.

[2019-01-31 22:54] AndriySvyryd opened #37 "Ship DefaultCosmosJsonSerializer in a separate package"
This would avoid having a transitive reference to `Newtonsoft.Json` from a project that doesn't need it.

`Microsoft.Azure.Cosmos` could become a meta-package to keep the simplicity of the common use case.

[2019-02-01 13:12] j82w commented on #37
@kirankumarkolli do you think it is possible to do this?

The other options is to follow asp.net core, and to use the new built in [JSON parser in .NET Core 3.0](https://github.com/dotnet/announcements/issues/90). Then convert everything to use it, but it would need to be in .net standard before we could take the dependency.

[2019-02-01 17:22] AndriySvyryd commented on #36
@j82w

1. Consistency with other API like `CreateItemStreamAsync`
2. Control over how the parameters are serialized without having to replace `CosmosJsonSerializer`

[2019-02-01 21:49] j82w commented on #24
Hi @AndriySvyryd ,

Sorry for the confusion. I thought the fix was in the initial release, but it has not been worked yet. I re-opened the issue until the fix is checked in.

[2019-02-02 18:46] jackbond commented on #16
Are you guys planning another preview? The lack of spatial support in the existing preview makes it rather difficult to experiment with. Thanks.

[2019-02-04 13:02] j82w commented on #16
Hi @jackbond ,

We are planning do to another release soon. After that release we will move to using this repository as the actual source control.

[2019-02-06 15:31] kirankumarkolli opened #39 "Avoid Custom serialzier on SDK OOB types (including spatial types)"
SDK uses custom given serializer for all types serialization including OOB types in SDK.
In some cases custom serialzier might result in un-intended behaviors

Broadly there are below types in SDK, which are ideal candidates
1.	REST types (Database, …)
2.	Spatial types

Repro:
Below settings on V2 SDK might result in spatial types serialization breaking the expectation.

JsonSerializerSettings jso

[2019-02-06 21:11] ealsur commented on #39
@kirankumarkolli We are also using the custom JSON serializer on metadata operations, should it be only used for operations with Documents?

[2019-02-07 18:56] ealsur commented on #32
@AndriySvyryd @divega  Re 7:  You can apply your custom retry policy as a Handler, in our samples, there is one that covers using Polly: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/CodeSamples/Handlers/ThrottlingHandler.cs

[2019-02-07 19:24] AndriySvyryd commented on #32
@ealsur Thanks, would that replace the built-in retry policy or would it run on top of it?

[2019-02-07 20:24] ealsur commented on #32
It would run on top of it. If the custom retry is covering a scenario the built-in retry handler already covers, then the default one will be applied first. V3 uses Retry handlers such as https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Handler/RetryHandler.cs to apply the default retry policy. If no default retry handler exists to cover that case, then your c

[2019-02-07 21:21] AndriySvyryd commented on #32
@ealsur I see, then we would still need a way of running the custom handler before the default one or removing it.

[2019-02-08 14:41] jackbond commented on #31
I think a better solution would be...

"Remove synchronous methods from EF Core"

[2019-02-08 15:43] AndriySvyryd commented on #31
@jackbond For local databases and scenarios without strict memory constraints synchronous methods are usually more performant.

[2019-02-08 19:45] jackbond commented on #31
@AndriySvyryd Dear Cosmos team, please supply an implementation of this SDK in machine language. Machine language is "usually more performant".

It's 2019, I'm dumbfounded that this is even a consideration.

[2019-02-08 19:48] ealsur commented on #32
Or expose the default one retry options, that would work too, just in the V2 SDK.

[2019-02-11 23:56] mpaul31 opened #40 "Items by Partition Key"
I’m sure this is obvious but how do I get all items by partiton key? do i still use MaxItems = -1 and does the concurrently option come into play?

thanks!

[2019-02-13 19:28] mdrichardson commented on #5
@christopheranderson How's this change coming along? I'm porting over from DocumentDB for the Bot Framework team and am running into this issue on the C# side. Node side is working great, though!

Regarding OP's issue, more specifically, I'm also running into this. If I'm using `await _container.Items.UpsertItemAsync...`, should it not infer the correct `partitionKey` from the `_container`? Simila

[2019-02-13 22:33] v-kydela opened #41 "acitivty typo in ContainerManagement sample"
A typo can be seen here where a partitionKey is set to "/acitivtyId" instead of "/activityId": https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/CodeSamples/ContainerManagement/Program.cs#L13

I'd submit a PR myself but I'm not sure what the repercussions are of changing the partitionKey.

[2019-02-15 17:29] ElasticCoder opened #42 "Allow a custom HttpMessageHandler to support overriding the verification of Self-Signed SSL certificates."
With the V2 client now using the latest framework it is possible to override the HttpMessageHandler and override self-signed certificate checking.

[code]
However with the V3 client, there is no ability to do this.
Can we look for a suitable way to do this?

Self-Signed certification verification overrides are required when running on Linux clients that wish to connect to the emulator. Despite all

[2019-02-15 18:55] ajayraaviv opened #43 "Is there a support for functions also similar to stored procedures"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-15 18:56] ajayraaviv commented on #43
The CosmosContianer class provides a managed way to work with storedprocedure it seems. Wondering if there is something similar for the function objects also.

[2019-02-15 21:14] RobinHSanner commented on #40
IDocumentQuery<T> query =
                DocumentClient.CreateDocumentQuery<T>(
                    UriFactory.CreateDocumentCollectionUri( dbName, collectionName),
                    options )
                    .AsDocumentQuery();

            List<T> results = new List<T>();
            while ( query.HasMoreResults )
            {
                // Accumulate results
            }

Where op

[2019-02-15 22:09] mpaul31 commented on #40
thank you however i am looking how to do the equivalent with the new API SDK 3.

[2019-02-16 20:27] ElasticCoder commented on #42
I'm having a look through the source code to see how this might be done.

Initially, it looks difficult. The example above uses the HttpClientHandler which derives from the abstract HttpMessageHandler. The Cosmos DB client framework uses a different derivative, HttpRequestMessageHandler which derives from a DelegatingHandler and the abstract HttpMessageHandler.

Unfortunately this chain does not h

[2019-02-17 19:32] ElasticCoder commented on #42
I've got a working solution. I'll start to prepare for a pull request.

[2019-02-18 07:03] kentcb opened #45 "Incorrect spelling in API: CreateStoredProceducreAsync"
FYI, the `CreateStoredProceducreAsync` API is spelt incorrectly.

[2019-02-18 07:09] kentcb opened #46 "How does one delete a sproc?"
**Is your feature request related to a problem? Please describe.**
I am creating a sproc programmatically. The first time it's created, the creation invocation works (`CreateStoredProceducreAsync`). The second time, I get a `409` with no explanation. I figured out that it's complaining because that sproc has been created already. By appending a random string on the name, it then worked.

I'd obvio

[2019-02-18 07:26] kentcb opened #47 "Script logs lose information (casing and new lines)"
**Is your feature request related to a problem? Please describe.**
Trying to debug a sproc. I've set `EnableScriptLogging` in the options, but can't find a way to pull the console output out using the Microsoft.Azure.Cosmos API.

**Describe the solution you'd like**
A way to get the console output.

**Describe alternatives you've considered**
The old way doesn't appear to work any more.

[2019-02-18 12:16] kentcb commented on #19
How is this going please? This is a blocking issue for me.

[2019-02-19 06:37] kentcb opened #48 "Getting sane errors out of sprocs"
**Is your feature request related to a problem? Please describe.**
I just want a sensible way/guidance to get errors out of procs. Throwing `Error` per the docs is fine and dandy, except now you've no practical way of switching on error codes or the likes from the client side. Throwing a JSON-formatted string and catching `BadRequestException` / `DocumentClientException` seemed promising, except b

[2019-02-19 13:40] j82w commented on #40
There are currently 2 overloads for the query. The first overload only queries a single partition. The second overload does cross partitions queries.  I haven't verified the following code, but this should return all the items for the selected partition key.

[code]

[2019-02-19 13:48] j82w commented on #39
@ealsur  if the metadata operations have stream methods exposed then I feel like the correct action is allow custom serializer for those operations or possibly have a different serializer for them. If the stream method for the metadata operations are not exposed then I  agree that we should always use the default JSON serializer for the metadata operations.  The only downside is this would prevent

[2019-02-19 14:08] j82w commented on #46
Hi @kentcb,

In the v3 SDK everything is reference via objects instead of ids and URLs. When you create a stored procedure you get that [reference object](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/StoredProcedure/CosmosStoredProcedure.cs). From that object you can delete the stored procedure. You can also read and replace the stored procedure w

[2019-02-19 14:08] #46 closed

[2019-02-19 14:11] j82w commented on #43
Hi @ajayraaviv,

There is currently no support for functions. What's your use case for functions?

[2019-02-19 16:26] ealsur commented on #39
Currently I don't see any stream related signatures for metadata (like `cosmosContainer.ReadAsync`). My line of thinking is that users can specify their own serializers for their data types and have control over that, but metadata operations is over SDK-defined types (like container or database reads), allowing a custom serializer into those calls can impact base operations if there is a performan

[2019-02-19 18:25] dantheman999301 commented on #43
I was about to raise an issue for this. I can see both triggers and functions are internal at the moment although there are methods further down which support creating both, is there any plan to make these public.

My personal use for them is that I'm building a migration tool and as they are part of Cosmos I wanted to support their management.

[2019-02-19 23:59] mpaul31 commented on #40
thank you that works great!

one more question, does the maxConcurrency only come into play when performing a cross-partition query?

[2019-02-20 13:38] j82w commented on #40
Yes, the max concurrency overload method is only needed when performing cross-partition queries.

[2019-02-20 13:38] #40 closed

[2019-02-22 16:58] kirankumarkolli commented on #47
EnableScriptLogging gets logs in a header named 'x-ms-documentdb-script-log-results', which can be access through CosmosItemResponse.Headers.

@kentcb are you not seeing 'x-ms-documentdb-script-log-results' header in the response?

[2019-02-22 17:00] kirankumarkolli commented on #48
@kentcb can you please sent a mail to askcosmosdb[AT]microsoft.com? I will compile and put the summary on this thread.

[2019-02-23 01:18] donghexu opened #49 "CosmosException constructor failed to set ActivityId"
**Describe the bug**
At this line: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/CosmosException.cs#L52
It should be this.ActivityId = activityId. Otherwise the ActivityId would never be set.

[2019-02-24 23:32] kentcb commented on #47
Ah, yes I do. Sorry, I missed that somehow. That said, it comes through as encoded (e.g. a space comes through as `%20`) which is probably fine and expected given that it's a header. However, being in a header also means that it comes through as lower case, which means that important information may be lost (e.g. generated IDs will lose casing).

[2019-02-25 00:14] kentcb commented on #47
It also loses line breaks between distinct `console.log` calls, which is a bit annoying.

[2019-02-25 00:24] kentcb opened #50 "Should CosmosResponse<T> have a non-generic base class?"
## Is your feature request related to a problem? Please describe.
Yes, generalized logging of Cosmos responses is made far more convoluted by key information being defined inside a generic class unnecessarily, rather than extracting that information to a non-generic base class. For my actual scenario, see [this stackoverflow question](https://stackoverflow.com/questions/54776232).

## Describe the

[2019-02-25 00:37] kentcb opened #51 "Request charge information missing for item queries?"
## Is your feature request related to a problem? Please describe.
Yes, just being able to get a sense of request charges for different queries.

## Describe the solution you'd like
The `CosmosQueryResponse<T>` type does not inherit from `CosmosResponse<T>`, so it is missing details like request charge. This is crucial for logging and understanding query costs.

## Describe alternatives you've cons

[2019-02-25 14:09] j82w commented on #50
If you are simply trying to log header information have you looked into using the [handlers](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/CodeSamples/Handlers)?

[2019-02-25 14:52] j82w commented on #36
The other APIs were done for performance reasons. With query the SDK does a lot of logic to figure out what partition to go to, and how to combine/sort the results for queries when the results are from multiple partitions. Since this logic is done in the SDK it would end up deserializing the stream that was just created, and would actually hurt the performance.

[2019-02-25 15:52] kirankumarkolli commented on #37
Cosmos being a JSON store, SDK/Client needs a JSON parser for intutive POCO typed API's. Currently JSON.net is the most widely used JSON parser in .NET world.

In 3.0+ SDK: JSON parsing API are abstracted by [CosmosJsonSerialzier](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/CosmosJsonSerializer.cs) and default implementation is based on JSON.net. Customer

[2019-02-25 15:56] kirankumarkolli commented on #47
@kentcb thanks for the feedback.

Some parts of the feedback (encoding etc..) can be handled by client abstraction but it doesn't cover the lower-casing part, this needs to be addressed by service.

@kentcb  can you please share this feedback over askcosmosdb[AtT]microsoft.com?

[2019-02-25 20:25] mkolt commented on #48
From inside sproc you can throw new Error(errorCode, "Error message"), where errorCode is a number (short int) like 1234. On client side you can get this code from DocumentClientException as SubStatusCode which can be obtained from DocumentClientException.ResponseHeaders (e.g. see [how to get it](https://github.com/Azure/azure-documentdb-changefeedprocessor-dotnet/blob/master/src/DocumentDB.Change

[2019-02-25 20:36] #48 closed

[2019-02-25 20:37] kirankumarkolli commented on #47
@mkolt thoughts on lower case issues in script logs?

[2019-02-25 20:39] mkolt commented on #47
+@balaperu

[2019-02-25 22:29] kentcb commented on #50
Oh, hell yes, this is _way_ better. Sorry, had no idea this hook existed. Thanks @j82w!

[2019-02-25 22:29] #50 closed

[2019-02-25 22:46] kentcb commented on #48
Thanks @mkolt - this is great.

Per my original request though, I don't think this issue should be closed until this information has been added to [the docs](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-write-stored-procedures-triggers-udfs). I just tried googling "Cosmos DB SubStatusCode errorCode" and can't find anything in the docs about this. Actually, one of the first results to co

[2019-02-25 23:16] kentcb commented on #51
In addition, item queries are not routed through registered `CosmosRequestHandler` instances.

This seems like a big deal to me...am I missing something?

[2019-02-26 13:08] ajayraaviv commented on #43
Sorry for the delayed response. Below is my use case for functions.
We are provisioning a new container in the database whenever a new client is on-boarded in the application. The application will perform some queries against the collection that rely on functions to simplify the sql. Since the functions is not supported yet I am deploying these functions(about 10) manually.  I would like to be abl

[2019-02-26 19:15] donghexu commented on #51
+1 for supporting this feature. Thank you,

[2019-02-27 21:22] darthmolen opened #52 "Sample v3 Solution missing resources"
**Describe the bug**
After doing a git clone, there are various projects that are "unavailable" and the solution is unable to run because of these missing project.

The missing projects are:
1. ContainerManagement
2. DatabaseManagement
3. ItemManagement
4. Microsoft.Azure.Cosmos.Direct
5. Shared

![image](https://user-images.githubusercontent.com/533340/53523820-7182f980-3aa3-11e9-868a-bb63d924452

[2019-02-27 21:38] darthmolen opened #53 "CosmosClient Unit Test Constructor marked internal"
**Describe the bug**
There is a constructor on CosmosClient that takes a DocumentClient for mocking purposes but it is marked internal. This needs to be public so that it can be used for mocking.

**To Reproduce**
Open the source code and navigate to Microsoft.Azure.Cosmos/Resource/Database/CosmosDatabase.cs and note that there is a constructor marked internal when it should not be as it is a stat

[2019-02-27 21:52] darthmolen commented on #34
This. Right Here. I also opened #53 with a similar problem (as you're asking for feedback but they're separate from what he's asking)

[2019-02-27 23:23] j82w commented on #53
Hi, the constructor is marked as internal because we are planning to remove all documentclient dependencies. We didn't want people taking dependency on something we know will be removed in the future. I'm working on adding a new abstraction layer to allow mocking the object without the need of creating the CosmosClient.

[2019-02-28 13:12] #53 closed

[2019-02-28 16:06] darthmolen commented on #53
@j82w can you make sure to also provide an example of mocking with this new abstraction layer? I know there are tons of different mock frameworks out there, just pick one (MOQ wink wink) to provide as an example.

[2019-02-28 16:17] j82w commented on #53
The current design is to refactor from CosmosDatabases down to CosmosContainer to an abstract base class. Then the implementation will be made internal. The base abstract class can then be mocked without needing to create the client.

[2019-03-01 17:43] ElasticCoder commented on #42
@j82w would you like to discuss this?

[2019-03-01 18:48] j82w commented on #42
I'm worried that there are other scenarios that will be blocked by not having the same access in v2. This will approach will not scale nicely if multiple other options need to be exposed.

@kirankumarkolli do you know if this is the only option that will be needed or do we need to find a better way to expose the different options?

[2019-03-01 19:22] ElasticCoder commented on #42
@j82w Thanks for replying. Can you clarify what do you mean by "options"?

Are you concerned that the DisableSslVerification property is too specific to HTTP Gateway connections and will cause property bloat? Should it be encapsulated within a connection abstraction?

[2019-03-01 19:34] j82w commented on #42
I am not to worried about the property bloat since Java and Python SDK have it.

I'm more interested in is if there are other scenarios that are being blocked by not having the ability to override the [HttpClientHandler](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler?view=netframework-4.7.2).  It exposes a lot of properties which the [HttpMessageHandler](https://docs

[2019-03-01 19:53] vladrai commented on #36
We did some testing on a fairly large data (ended up with 100+ physical partitions). Cross partition query parts de-serialized on a client for ORDER-BY merge purposes required a lot of CPU + garbage, causing as a result GC to not be able to clean all used JSON serialization primitives leading to filling all the memory in addition to high CPU. This feature supposed to allow ORDER-BY query parts to

[2019-03-02 17:49] jfoshee opened #55 "DocumentClient Linq to SQL"
I'm struggling to create a query...  I want to use Linq extension methods (e.g. `.Where()`, `.Select()`) but it seems this API was removed.  However documentation seems to not acknowledge this in a straightforward way, nor give an indication as to the plan...

If I look at docs for the v2 API it says it is deprecated.  v3 is in preview and obviously incomplete.  Where does that leave me?

[2019-03-04 14:35] j82w commented on #55
Where do you see that it is deprecated in the v2 API?

Adding linq support in V3 is a significant amount of work, and we are currently working on it. It is listed in the (GA project)[https://github.com/Azure/azure-cosmos-dotnet-v3/projects/2].  For the v3 API you can write a basic SQL query like in the (samples)[https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Sam

[2019-03-04 14:45] j82w commented on #49
https://github.com/Azure/azure-cosmos-dotnet-v3/commit/36e431ce1a0cca35f8a6b1d6aa5ffa705f848647

[2019-03-04 14:56] #45 closed

[2019-03-04 14:57] #49 closed

[2019-03-04 14:57] #41 closed

[2019-03-04 15:12] jfoshee commented on #55
Visiting <https://docs.microsoft.com/en-us/previous-versions/azure/dn850285(v=azure.100)> (linked to from [Cosmos .NET Samples]) I read the banner:

So, "deprecated" was an imprecise word on my part. The impression is that v2 is not a good choice for new development. Meanwhile v3 is in progress, and it is not clear what its state is.  (As you probably know the release notes are empty).

Thanks for

[2019-03-04 15:22] j82w commented on #22
https://github.com/Azure/azure-cosmos-dotnet-v3/commit/d08a9c305de8d37fc3b6a9b7ad1efeacd621662d

[2019-03-04 15:22] #22 closed

[2019-03-04 16:26] ealsur commented on #52
@darthmolen Please fork/clone the repo again or sync to the latest version 😄

This was fixed in a recent push.

![image](https://user-images.githubusercontent.com/1633401/53746976-224c1880-3e57-11e9-99c5-b72d7de9bba3.png)

[2019-03-04 16:26] #52 closed

[2019-03-04 16:48] j82w commented on #55
v2 is still fully supported with linq. That banner appears to be referencing the website where the documentation is hosted, and not the product.

For now use v2 SDK for production
Use the v3 SDK for providing feedback on the new API and features.

[2019-03-04 19:57] jackbond opened #56 "Next preview release time frame?"
Looks like there have been some updates to the source code here. Any hints as to the time frame for the next preview NuGet package?

[2019-03-05 15:54] j82w commented on #34
@TsuyoshiUshio and @dathmolen please take a look at the (PR)[https://github.com/Azure/azure-cosmos-dotnet-v3/pull/58]

[2019-03-05 15:56] j82w commented on #34
@TsuyoshiUshio and @darthmolen please take a look at the (PR)[https://github.com/Azure/azure-cosmos-dotnet-v3/pull/58]

[2019-03-05 20:34] jarrettv commented on #56
saw a recent video about this library and there are no new previews since november?

[2019-03-05 21:45] j82w commented on #56
We are actively working on releasing a new version. It's taking a while to move all of our build processes to GitHub.

[2019-03-05 21:46] #55 closed

[2019-03-05 22:24] ealsur commented on #56
@jackbond We are moving our dev process to GitHub as we speak and the source at this moment is updated, finishing up the required pipelining.

[2019-03-06 07:54] TsuyoshiUshio commented on #34
@j82 awesome!

[2019-03-06 20:24] jackbond commented on #15
Now that we can see the code, as it stands the spatial classes will be included in the same NuGet. Is the separation planned prior to the next GA release?

[2019-03-06 23:58] kentcb opened #65 "Query works in emulator portal, but not via client library"
## Describe the bug

Assume a document with structure:

[code]

The following query works fine in the portal:

[code]

However, the same query fails to execute with the v3 .NET client:

[code]

**SIDE NOTE:** there's also a typo in the error message: "distict"

## To Reproduce

1. Create the above document
2. Execute query in portal
3. Execute query via the code below

[code]

## Expected behavior

[2019-03-07 12:49] vip32 commented on #55
but will V3 get linq support?

[2019-03-07 12:58] j82w commented on #55
V3 will get linq support. It's listed in the notes of the [GA Project](https://github.com/Azure/azure-cosmos-dotnet-v3/projects/2). We are working on getting full query support with integration into the pipeline first.

[2019-03-07 16:33] vip32 opened #68 "insert issue UpsertItemAsync: what is invalid?"
When inserting a new item with a valid partitionKey value (and partitionKeyPath defined on database.Containers.CreateContainerIfNotExistsAsync). Db+collection is created correctly.

What could be the reason for the following error when using container.Items.**UpsertItemAsync**

Response status code does not indicate success: 400 Substatus: 0 Reason: (Message: {"Errors":["One of the specified input

[2019-03-07 18:50] ealsur commented on #68
Does your entity contain an `id` property?

[2019-03-07 22:07] vip32 commented on #68
yes, same entity works fine with cosmos client v2

however not the typical 'id' setup, but works fine with cosmos client v2 and EF core

![image](https://user-images.githubusercontent.com/164303/53992668-b951f280-412d-11e9-9b7a-180893828188.png)

[2019-03-07 22:15] vip32 commented on #68
just tried with a normal entity (string id)
however the same error appears.

![image](https://user-images.githubusercontent.com/164303/53993131-cd4a2400-412e-11e9-9044-1f32be8cad9b.png)

[2019-03-07 23:04] vip32 commented on #68
ok, never mind. my ID property did not have a value :( now it works fine

[2019-03-07 23:04] #68 closed

[2019-03-08 11:35] garethbbits opened #70 "MultiPolygon and MultiLineString spatial type support"
**The problem:**
When encountering MultiPolygon/MultiLineString GeoJSON data, there is no spatial type available for serialization.

**Desired solution:**
Stronger spatial type support and Microsoft.Azure.Documents.Spatial.Geometry types for MultiPolygon and MultiLineString, along the lines of existing Polygon/Point/LineString types

**Alternatives:**
Continue to use SQL Server or use an alternati

[2019-03-08 14:23] Schueh commented on #42
@ElasticCoder Our local development environment is behind a proxy. That's one scenario where we need to override the HttpClientHandler to set a proxy. We already do that for Azure Storage and Search client SDKs. But I couldn't find a way in the new Azure Cosmos SDK.

[2019-03-08 14:41] ElasticCoder commented on #42
Thank you, that is a good concrete example. I'll have a look at the code impact.

[2019-03-08 16:23] kirankumarkolli commented on #70
Spatial types will be covered in Microsoft.Azure.Cosomos.Spatial namespce. There are few types already, please check https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.spatial?view=azure-dotnet-preview

We will fill the missing types from DocumentClient (or V2.X SDK) in this namespace.
@simplynaveen20 can you please look into it?

[2019-03-08 16:43] bchong95 commented on #70
One thing to note is that we should only port over the data types that are supported on the backend. I think only MultiPolygon is a missing structure while MultiLineString is missing and not supported on the backend.

[2019-03-08 17:40] bchong95 opened #71 "Have IJsonNavigatorNode include a pointer to IJsonNavigator"
Right now we ship around the node and the navigator as two objects, but we can just have the node have a pointer to the navigator, since we shouldn't allow users to mix and match the two.

This requires moving the code from Direct to Open Source SDK @kirankumarkolli .

[2019-03-09 13:26] ElasticCoder commented on #42
I may have found a way to inject an HttpClientHandler into the DocumentClient which should satisfy the requirements that @Schueh and @j82w have raised. I will have a look at this next week.

[2019-03-11 18:27] kirankumarkolli opened #72 "Firstclass CamelCase support"
**Is your feature request related to a problem? Please describe.**
Support CamelCase as first class construct in CosmoClient.

**Describe the solution you'd like**

1. CamelCase as option in CosmosClientBuilder
2. CustomSerializer and CamelCase are exclusive and can't co-exist
3. Typed point operations will do CamelCase serialization
4. Stream API will just pass through the payload (no conversion

[2019-03-11 18:38] kirankumarkolli opened #73 "Use dotnet JSON in .NET Core 3.0"
**Is your feature request related to a problem? Please describe.**
dotnet FX is shipping JSON serializer, ref: https://github.com/dotnet/announcements/issues/90

**Describe the solution you'd like**
Leverage dotnet FX JSON serializer instead of JSON.net

**Describe alternatives you've considered**
Extend CosmosJsonSerializer with new serializer and leverage it.

**Additional context**

[2019-03-11 19:17] ElasticCoder commented on #42
I have addressed this requirement now with #74 which allows the consumer to specify a custom HttpMessageHandler.

[2019-03-12 12:15] j82w commented on #73
Do we have any requirements to support .NET Framework? Even if we target .NET standard 2.1 there is [no support for .NET Framework](https://devblogs.microsoft.com/dotnet/announcing-net-standard-2-1/).

[2019-03-12 18:10] kirankumarkolli opened #75 "Mechanism to detect the region from where request is served"
**Is your feature request related to a problem? Please describe.**
Mechanism to detect the region from where request is served

**Describe the solution you'd like**
*Response types expose a way to know the region which served the request.
Queries which are served from multiple regions also needs to be covered.

**Describe alternatives you've considered**
Currently this information is not available

[2019-03-18 12:40] evaneenwyk opened #81 "ReadItemStreamAsync Doesn't return content"
**Describe the bug**
When calling ReadItemStreamAsync, the status code is returned as 200 but no content is returned in the payload.

**To Reproduce**
Created a new .NET Core Web API app and updated the default GET function to the following:

[code]
**Expected behavior**
Was expecting the content property to be populated with JSON content from the Cosmos item.

**Actual behavior**
The following JS

[2019-03-18 17:11] kria commented on #18
I also just ran into this one. Any idea when the next preview release will be out, @ealsur ?

[2019-03-18 18:35] ajk2018 opened #82 "Cannot set an offer throughput on an existing container that uses the database shared throughput"
If a container has not had it's throughput set before (i.e. we are using the DB shared throughput), and you try to call CosmosContainer.ReplaceProvisionedThroughputAsync(int) to set a throughput on that container.  The method will throw saying

"ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: Throughput is not configured"

This looks like it wa

[2019-03-18 20:11] evaneenwyk commented on #81
I'm not sure this is the proper way to do it but I got it to work by replacing the HttpResponseMessage with IActionResult and ContentResult.

[code]

[2019-03-18 20:28] kirankumarkolli commented on #81
HttpContent is more than body, for just body @evaneenwyk sample should do.

[2019-03-18 20:29] #81 closed

[2019-03-18 20:30] kirankumarkolli commented on #82
@simplynaveen20 can you please look into it?

[2019-03-18 21:11] ajcvickers opened #83 "Cosmos: Using Sytem.Configuration.ConfigurationManager, Not compatible with Xamarin.Android"
Moving from https://github.com/aspnet/EntityFrameworkCore/issues/15053 originally filed by 	@mbordogna.

When deploying to the Android emulator...
03-17 20:55:28.057 D/Mono    ( 5436): Assembly Loader probing location: 'System.Configuration.ConfigurationManager'.
03-17 20:55:28.057 F/monodroid-assembly( 5436): Could not load assembly 'System.Configuration.ConfigurationManager' during startup regis

[2019-03-18 21:12] ajcvickers commented on #83
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/15053 since this dependency is brought in by the Cosmos SDK.

[2019-03-19 01:11] simplynaveen20 commented on #82
@ajk2018  Error is due to the reason there is no offer for the container  , offer is configured on Database .
The V2 code sample you provided also throwing exception on UpdateCollectionOffer(), have you able to run  sample successfully ?

[2019-03-19 18:04] ajk2018 commented on #82
I had not tried yet since we were working with the 3.x SDK.  I'll try it out on our side and get back to you

[2019-03-19 20:44] bchong95 commented on #19
@j82w @kirankumarkolli When do the streaming support wire up through the pipeline we should add tests for this API.

[2019-03-19 20:47] bchong95 commented on #24
@AndriySvyryd The exception is thrown from the gateway as a first chance exception. If you switch to Direct + TCP and have access to ServiceInterop.dll you should avoid that code path immediately. In the future we are reworking the contract so that an exception is never thrown.

[2019-03-21 15:05] ealsur commented on #83
Thanks @ajcvickers, we are already tracking this issue with `ConfigurationManager` and working on alternatives 😄

[2019-03-21 15:23] j82w commented on #82
@simplynaveen20 both a [database and a container](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#set-throughput-on-a-database-and-a-container) can have RU's specified. Can the container throughput only be specified on creation?

[2019-03-21 16:49] ajk2018 commented on #82
@simplynaveen20 , I verified the provided example does not work. The query for offer fails.  I think the question still stands though that @j82w mentions well.  We seem to be hearing different things from different teams.

[2019-03-21 18:13] simplynaveen20 commented on #82
We cant update throughput on collection which was created without throughput. Portal, V2, V3 all in sync with this .

[2019-03-21 18:13] #82 closed

[2019-03-21 23:21] mpaul31 opened #88 "Throttling Retries"
I saw in the examples how to use a custom handler to retry throttled requests. Do we have to manually do this or does the DocumentClient do this by default?

Thanks!

[2019-03-22 20:18] mpaul31 commented on #56
awesome can't wait!

[2019-03-23 04:51] kentcb commented on #56
I don't want to be "that guy", but can we have an update please? This seems to be taking quite a long time...

[2019-03-25 18:03] j82w commented on #56
A new version was published: https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.0.0.9-preview

[2019-03-25 18:07] j82w commented on #19
@kentcb  I'm currently working on supporting this.  I'm hoping to have a PR out by next week, but the time frame may change if I hit any major issues.

[2019-03-25 18:21] ealsur commented on #88
The CosmosClient does this automatically, see https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/CosmosClientBuilder.cs#L208. The sample is in case you want to add more retries on top of the SDK ones or if you want to retry on other StatusCode or custom logic.

Since you can now step in the pipeline, you could implement custom StatusCodes that define some partic

[2019-03-25 18:21] #88 closed

[2019-03-25 18:25] #56 closed

[2019-03-25 18:38] mpaul31 commented on #88
thank you!

[2019-03-26 17:44] lpunderscore opened #93 "Custom handlers not executed from CreateItemQuery<T>()"
**Describe the bug**
When using a custom "CosmosRequestHandler", the handler is not called when using CreateItemQuery<T>()

**To Reproduce**
Create a simple cosmosclient from the CosmosClientBuilder
Create a simple handler
Use the AddCustomHandlers() extension to add the handler

use ReadItemAsync<T> and see the handler execute.

var res = container.Items.CreateItemQuery<T>("query", "pk");

[2019-03-27 00:27] kentcb commented on #93
Duplicate of #19 (and no, this still isn't fixed in `3.0.0.9-preview`).

[2019-03-27 11:21] j82w commented on #30
This was fixed in 3.0.0.9 preview release

[2019-03-27 11:21] #30 closed

[2019-03-27 11:25] j82w commented on #93
Hi @lpunderscore,

This is a known issue. I'm currently working on integrating query into the v3 pipeline. This will be done over multiple PRs over the next few weeks.

[2019-03-27 17:02] #1 closed

[2019-04-01 21:03] j82w commented on #34
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/90

[2019-04-01 21:03] #34 closed

[2019-04-01 21:06] j82w commented on #93
Here is the first [PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/99) to update the test so I can verify my next PR does not cause any regressions.

[2019-04-02 21:00] simplynaveen20 commented on #70
MultiPolygon support added in 3.0.0.9-preview
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/79
MultiLineString is still not support in CosmosDB at this point .

[2019-04-02 21:00] #70 closed

[2019-04-03 16:31] kirankumarkolli commented on #18
New version with the fix is released https://www.nuget.org/packages/Microsoft.Azure.Cosmos/3.0.0.9-preview

[2019-04-03 17:32] MaherJendoubi commented on #18
@kirankumarkolli thanks a lot!

[2019-04-08 20:36] j82w opened #110 "Add support to get query plan from gateway"
The ServiceInterop.dll is a native dll that is only supported on Windows x64, and generates the query plan without a network call. If the ServiceInterop.dll is not supported:

Current Logic:
 A call is made to gateway to execute the query. If gateway can handle it will return the result. If it can not it will return a 400 bad request with the query plan in the body. The SDK will then parse the bod

[2019-04-09 15:42] ealsur opened #111 "Add ContainerRid as part of the StandByFeedContinuationToken"
StandByFeedContinuationToken was added as part of https://github.com/Azure/azure-cosmos-dotnet-v3/pull/105

Adding the ContainerRid as part of the StandByFeedContinuationToken will help identify stale ContainerRids that might happen due to renames.

[2019-04-10 00:06] rxharr6 commented on #65
Having same issue. Exception thrown on FetchNextSetAsynch call even though HasMoreResults is true, and there are in fact result. Exception thrown:

  | Name | Value | Type
-- | -- | -- | --
  | ex.Message | "One or more errors occurred. (Message: {\"Errors\":[\"Resource Not Found\"]}\r\nActivityId: 3811af57-460c-4823-ae3f-52c210ae0bbf, Request URI: /apps/4eaeaec7-bbaa-4f0b-8bff-461c1f3d9156/servic

[2019-04-10 18:27] j82w commented on #93
Here is the [PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/109) to update query to go to the handler pipeline.

[2019-04-10 18:28] j82w commented on #19
Here is the [PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/109) to update query to go to the handler pipeline.

[2019-04-11 15:06] j82w commented on #65
This is a bug that is hit by Distinct queries. In the current model we are just calling the v2 query methods. For distinct this throws when you try to access the continuation token. I have a [PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/109) out that will fix this.

[2019-04-15 12:20] j82w opened #120 "Make query pipeline exception-less"
To improve the performance, and to follow the current streaming standard the query pipeline should be made exception-less.

1. Create a new type to replace FeedResponse. This will need to contain any error information.
2. Update all the query objects and interfaces to use the new type.
3. Update all the query pipeline to check for exceptions and cancel the current operation
4. Add new tests to val

[2019-04-15 12:24] j82w commented on #65
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/109

[2019-04-15 12:24] #65 closed

[2019-04-15 12:26] j82w commented on #19
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/109

[2019-04-15 12:26] #19 closed

[2019-04-15 12:29] j82w commented on #93
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/109

[2019-04-15 12:29] #93 closed

[2019-04-15 16:48] bchong95 commented on #72
@khdang What are your thoughts on this?

[2019-04-15 16:51] bchong95 commented on #37
Any updates on this?

[2019-04-15 18:04] j82w commented on #36
@vladrai the original post was about taking a stream as a input. The issue you are reporting is around how the SDK handles responses which has recently been completely overhauled to improve this scenario.  The SDK now only lazily deserializes the fields that are need instead of the entire object. Please take a look at the following PRs for more information.

1. https://github.com/Azure/azure-cosmo

[2019-04-16 21:18] ealsur opened #121 "Make Change Feed Processor consume OM queries"
Current Change Feed processor implementation uses the old DocumentClient queries.

[2019-04-17 20:12] mpalumbo7 opened #122 "ReadItemAsync does not throw exception as in documentation"
**Describe the bug**
The MS docs state that when `ReadItemAsync` is ran on an entity that does not exist, a 404 exception should be returned. [Link to MS docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.cosmositems.readitemasync?view=azure-dotnet-preview).

In my testing, no exception is thrown but the `CosmosItemResponse<T>` is returned with an `Resource = null` and a `Sta

[2019-04-17 20:27] mpalumbo7 commented on #122
I just tested and the same behavior with `ReplaceItemAsync` and `GetItemAsync`.

[2019-04-17 20:44] mpalumbo7 commented on #122
Here is a screenshot showing the `CosmosItemResponse` with `StatusCode = 404` and yet no exception. Is the documentation just wrong?

![image](https://user-images.githubusercontent.com/20686457/56319593-1d55d680-6130-11e9-856e-262c1f473517.png)

[2019-04-18 13:27] j82w commented on #120
[PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/125)

[2019-04-18 13:45] j82w commented on #122
In v3 it was designed to not throw an exception for 404. Not finding an item is a valid scenario for most workloads. Throwing an exception is rather expensive, and can hurt performance. The documentation needs to be updated.

[2019-04-18 14:16] j82w commented on #122
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/126

[2019-04-18 16:31] mpalumbo7 commented on #122
I figured as much. I’ll close the issue since a PR is now opened to fix the documentation.

[2019-04-18 16:31] #122 closed

[2019-04-18 18:39] ealsur opened #128 "Change Feed Processor snapshot"
Some scenarios require that the Change Feed Processor is read starting from a particular, previously known, point in time that is not the Beginning, it is not a particular Time, and it's not the latest known saved state (checkpoint).

Ideally we could provide one API that would let the user, willingly, create a "Snapshot". The Snapshot would contain the state of the current leases (continuation to

[2019-04-19 12:45] mpaul31 opened #129 "ReplaceItemAsync no longer throws exception when document does not exist"
It looks like when you try to replace a document that does not exist it no longer throws an exception like it did with v2. Is this the desired behavior?

[2019-04-19 21:29] ealsur opened #130 "ReadFeed operations loop forever"
**Describe the bug**
Doing a ReadFeed operation with a MaxItemCount lower than the # of documents in the collection will loop on the same batch when FetchNextAsync is called forever. That is because the CosmosQueryRequestOptions is overwriting the request Continuation always, so if the request already contains a Continuation (previous FetchNextAsync) it gets overriden.

**To Reproduce**
Do a ReadF

[2019-04-21 07:14] AlfredBauer opened #132 "Can't pass AppContainerCheck for UWP certification"
**Describe the bug**
Firstly, after starting create a package for upload to store I see warnings in VS.
[Warnings in VS](https://imgur.com/77xolmc)
Then I can't pass the certification whis this error:
[AppContainerCheck Error](https://imgur.com/lb7b1Ib)

**Expected behavior**
Passed certification in MS Store.

**Actual behavior**
Error for AppContainerCheck test.

**Environment summary**
Microsoft

[2019-04-22 11:44] #130 closed

[2019-04-22 12:53] mpaul31 commented on #6
we also use this method to perform our health endpoints.

[2019-04-22 15:32] j82w commented on #129
Hi @mpaul31 ,

This is by design in v3 SDK. It was decided to not throw on 404 Not Found responses for the following reasons:

- Improved performance. Throwing and catching exceptions consumes a lot of resources.
- Improved user code. Most workflows consider not finding an item part of the normal workflow. This allows users to simply check for null rather than coding a try catch.

[2019-04-22 15:50] mpaul31 commented on #129
gotcha makes sense however not sure most would expect a call to ReplaceItemAsync to work this was when the intent is the resource is already there. Either way easy work around.

[2019-04-25 14:56] ealsur opened #143 "Conflict Resolution support"
Missing ConflictResolutionPolicy on Containers and Conflict feed

[2019-04-29 17:23] ealsur opened #150 "Fluent support for Settings"
# Adding Fluent support for Container creation

## Creation of a Container

    CosmosContainerResponse container = await db.Containers.DefineContainer("TestContainer", "partitionKeyPath")
        .WithUniqueKey()
            .Path("/path1")
            .Path("/path2")
            .Attach()
        .WithIndexingPolicy()
            .WithIndexingMode(IndexingMode.Consistent)
            .WithAutoma

[2019-04-30 12:10] xenalite opened #156 "CreateItemAsync hangs sending over 10K+ requests to Cosmos DB"
**Describe the bug**
I am using `Microsoft.Azure.Cosmos 3.0.0.9-preview`.
When inserting an entity using `CreateItemAsync` method, the method will hang and not insert the item. It will instead send thousands of identical requests:

[code]

This behaviour does not happen always, but quite frequently. When it does not happen, the insert goes through without a problem. When it does occur, it will sen

[2019-05-01 19:10] #121 closed

[2019-05-01 19:10] j82w opened #163 "Convert query pipeline to use ImmutableList instead of IEnumerable"
The query pipeline should be converted to use ImmutableList since the order of CosmosElements does matter. It's currently using IEnumerable.

[2019-05-02 06:06] dantheman999301 commented on #43
@j82w is there any more information you'd like about this? It's been a couple of months now, just wondering if this is planned to be changed.

[2019-05-02 13:26] j82w commented on #43
@kirankumarkolli what's the current plan?

[2019-05-02 13:28] happywisepaul opened #165 "Get ETag value for items returned by CreateItemQuery"
When getting an item using **ReadItemAsync** the result has ETag available from the **CosmosItemResponse** wrapper of the entity object [**SalesOrder**](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/CodeSamples/Shared/SalesOrder.cs):

[code]

But when getting an item using **CreateItemQuery** (passing a SQL), the result is put in **CosmosQueryResponse**

[2019-05-02 13:59] #143 closed

[2019-05-02 16:15] ealsur opened #167 "Scripts to be extensions in different namespace"
# Scripts namespace change

All Scripts (Stored Procedures, UDFs, Triggers) will move to the `Microsoft.Azure.Cosmos.Scripts` namespace and inlined.

Based on a Container, the Scripts can be accessed by calling the extension `GetScripts()`.

For example

    CosmosScripts cosmosScripts = container.GetScripts();
    CosmosStoredProcedureSettings storedProcedure = await cosmosScripts.CreateStoredPro

[2019-05-02 16:30] fuocor commented on #73
if you want to serialize through the Utf8JsonWriter then you can implement your own CosmosJsonSerializer.

JsonDocument supports parsing a stream and you can wrap an ```IBufferWriter<byte>``` into a Stream so you can write to it like follows.
The downside is the data is copied out of the stream rather than written directly to the output.

[code]

[2019-05-02 16:54] fuocor commented on #37
From a performance perspective the CosmosJsonSerialzier is not the best option because using a Stream forces a copy out of the serializing buffer into whatever buffer Cosmos is using.  the abstraction should use an ```IBufferWriter<byte>``` for writing and ```ReadOnlySequence``` or ```ReadOnlyMemory``` for reading and wrap the default JSON.net around it.

[2019-05-02 20:14] j82w opened #168 "Update Item query stream API to match service response format"
Cosmos Item Stream operations return just an array of objects currently. The service returns them in a contract where it has an inner variable like documents which then contains the array of results. All the read feed operations return the service contract format. Item stream operations should be updated to match that to avoid

[2019-05-02 20:48] bchong95 commented on #165
The `Family` class you are using does not have an Etag property, so when we take the response and deserialize it into a `List<Family>` the Etag property is lost. You can add an etag property with the correct serializer settings.

[2019-05-02 21:36] j82w commented on #167
@ealsur can you elaborate a little more on what this involves? I'm worried about how unit testing will be supported if it is converted to extension methods.

[2019-05-02 21:56] j82w opened #169 "Add a base item contract to get system properties like ETag"
In the v2 .NET SDK it contained a Document class that allowed users to access all the system properties like ETag. Should a contract be added in v3 .NET SDK to expose those same properties where the default JSON serializer will deserialize all the system properties.

Pros:
- It allows user easy access to the system properties
- Users get the new properties automatically on upgrading the SDK
- Prev

[2019-05-03 00:10] ealsur commented on #167
As per @kirankumarkolli suggestion, this is the idea:

    Microsoft.Azure.Cosmos.Script

    public static class ScriptsExtensions
    {
        public static CosmosResponse<StoredProcedureSettigns> CreateStoredProcedureAsync(this CosmosContainer ....)
        {

        }
    }

[2019-05-03 01:14] j82w commented on #167
C# doesn't support mocking static methods. How can this support user unit testing?

[2019-05-03 11:24] j82w opened #171 "Add QueryWithContinuationTokens back to CrossPartitionTest"
When the CrossPartitionTests were updates to the v3 model it excluded the QueryWithContinuationTokens logic. This adds a lot of test converge and needs to be added back to prevent regressions.

[2019-05-03 14:22] happywisepaul commented on #165
Thank you, that does it.  I made my entities to derive from a common Class:
[code]

[2019-05-03 14:22] #165 closed

[2019-05-03 17:31] j82w commented on #167
Why not keep scripts in it's own class and have an extension method to get a scripts class? That way scripts stays in it's own namespace, it prevents it from over crowding containers, and still allows it to be unit testable.

[code]

[2019-05-03 18:26] ealsur commented on #156
I wasn't able to repro sadly. I left a loop doing exactly what you showed (insert) against a Strong account. Creation succeeded every time, during 40 minutes.

When you invoke `InsertAsync` in your code, are you always awaiting it or calling `Wait()` or `Result`?

[2019-05-03 19:45] ealsur opened #172 "IReadOnlyCollection for delegates in CFP"
IReadOnlyList contains indexing operations that are not really used because the changes need to be read in order.

Change CFP delegate contract from IReadOnlyList to IReadOnlyCollection

[2019-05-03 19:47] ealsur opened #173 "Change Feed iterator for partition key value"
There might be a need to do Change Feed read iterations for a specific Partition Key Value, for example, in multi-tenant solutions where it would be interesting to get the Change Feed just for a particular PK Value.

[2019-05-03 20:00] fuocor opened #175 "CreateContainerIfNotExistsAsync Crashes without exception when running in xUnit"
**Describe the bug**
Using the local emulator or azure instance, CreateContainerIfNotExistsAsync crashes out the xUnit application without any exception. The offending line is in TransportHandler.cs line 87. The same code runs fine in a Console application

**To Reproduce**
[code]

**Expected behavior**
At a minimum some exception

**Actual behavior**
Blows out the application

**Environment summa

[2019-05-03 22:07] #172 closed

[2019-05-04 09:08] xenalite commented on #156
@ealsur We await all async calls.
I was able to narrow down what affects the behaviour - it has something to do with proxy settings.
This never happens on our deployed systems: AKS node -> Cosmos DB PaaS as they do not use a proxy.
We get this behaviour when running integration tests against Cosmos DB from our laptops on the corporate network.

I changed Internet Options and found this:
No proxy:

[2019-05-05 09:43] leixnj opened #180 "Failed to compile the Microsoft.Azure.Cosmos project"
After clone the zure-cosmos-dotnet-v3 project, VS2017 reports failure to compile the project,  without any definition for PartitionAddressInformation class. how do we solve that? or am I missing some library? I check the SDK folder, NETStadard 2.0.3 was installed.

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0738	'AddressResolver' does not implement interface member 'IAdd

[2019-05-06 13:56] simplynaveen20 commented on #180
Please check that your project downloaded library  "Microsoft.Azure.Cosmos.Direct" correctly .Try deleting it from your .nuget directory and build your sln again.

[2019-05-06 14:34] j82w opened #181 "Database.ReadProvisionedThroughputAsync throws if no container exists in the DB"
Database read throughput throws an exception if no container exists in the database. It should just return the 10,000RUs.
[code]

CosmosRequestException;StatusCode=BadRequest;SubStatusCode=0;ActivityId=0fef9c2b-d6ff-480c-8307-301b7eb89ad8;RequestCharge=0;Message=Message: {"Errors":["There are no collections using the shared database offer. Please retry the scale operation after creating a collecti

[2019-05-06 14:53] simplynaveen20 commented on #180
There is an issue , working on it , please wait for the update

[2019-05-06 14:58] j82w commented on #180
Here is a [PR ](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/182) fixing the issue.

[2019-05-06 15:19] leixnj commented on #180
cool,  j82w

[2019-05-06 15:55] kirankumarkolli commented on #180
#182

[2019-05-06 15:55] #180 closed

[2019-05-06 15:57] leixnj commented on #180
verified, bug was fixed.

[2019-05-06 16:12] j82w opened #183 "Invalid SDK version in error messages"
The SDK version is incorrect for exceptions/error message. This is the current version that is returned.

SDK: Microsoft.Azure.Documents.Common/2.2.0.0, Windows/10.0.18362 cosmos-netstandard-sdk/3.0.0;

[2019-05-06 16:13] j82w opened #184 "Update samples to use v3.0.0.10-Preview"
Update all the samples to the latest preview version.

[2019-05-06 16:15] ealsur opened #185 "Continuation Token to include Container RID"
Add Container RID to Continuation Token format in all Feed/Query operations.

[2019-05-06 16:17] ealsur opened #186 "Collection re-creation cache validation"
Re-creating a container after caches have been initialized and operations are flowing leaks a Gone status code.

[2019-05-06 16:43] #120 closed

[2019-05-06 17:13] j82w commented on #184
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/187

[2019-05-06 17:57] ealsur commented on #156
Tried with Fiddler, as that is the only scenario I can repro on my side, but it works as expected:

![Annotation 2019-05-06 105647](https://user-images.githubusercontent.com/1633401/57244628-a94f7580-6fed-11e9-92a6-4298dc5b375f.jpg)

[2019-05-06 22:31] #184 closed

[2019-05-06 22:39] j82w commented on #51
Fixed in [PR](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/125)

[2019-05-06 22:39] #51 closed

[2019-05-07 00:07] christopheranderson commented on #47
@mkolt - we need to triage this still. Since this is a backend limitation, my thought is that we should move this off the SDK repo. Did you make any progress on this?

[2019-05-07 01:17] mkolt commented on #47
The line breaks etc should be fixed a while ago. We URL-encode the value.

[2019-05-07 07:05] kirankumarkolli opened #191 "Expose default serializer"
**Is your feature request related to a problem? Please describe.**
Cosmos REST contracts are JSON.net annotated. For customers using streaming API a serialization implementation which can work with them is required.

**Describe the solution you'd like**
CosmosJsonSerializer.Default

**Describe alternatives you've considered**
Custom JSON.net code but it breaks once moved out of JSON.net FX.

[2019-05-07 11:39] j82w opened #192 "Add query unit test"
Add query unit test to validate ItemProducerTree correctly handles 429 errors.

[2019-05-07 12:26] fuocor commented on #73
the latest drop of the dotnet FX JSON serializer is netstandard2.0 compliant as well as supporting streams in the writer

[2019-05-07 17:12] fuocor opened #194 "Unable to load DLL 'Microsoft.Azure.Documents.ServiceInterop.dll' using 3.0.0.10-preview"
**Describe the bug**
Running a slightly modified version of the sample application (netcoreapp3.0) using 3.0.0.10-preview.
There is no exception with 3.0.0.9-preview.
[code]

the ```streamResultSet.FetchNextSetAsync()``` throws

[code]

**Expected behavior**
No exception

**Actual behavior**
CRASH and BOOM

**Environment summary**
[code]

**Additional context**
I'm not sure why it is trying to loa

[2019-05-07 18:40] kirankumarkolli commented on #194
@fuocor  can you please share the list of files in your bin/output directory

[2019-05-07 18:46] kirankumarkolli commented on #5
yes partitonkey and id (for replace) can be inferred. Marking it for GA.

[2019-05-07 23:08] JohnLTaylor opened #197 "Missing JsonSerialization parameter"
**Describe the bug**
If the DocumentClient is created with a JsonSerializerSettings with DateFormatHandling set to MicrosoftDateFormat, then calls to Create the document correctly encode the string, but upsert and replace do not correctly encode the date.

The problem is that the function UpsertDocumentPrivateAsync in the call to [DocumentServiceRequest.Create](https://github.com/Azure/azure-cosmo

[2019-05-08 01:43] JohnLTaylor commented on #197
Created fix in [pull request 199](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/199)

[2019-05-08 02:39] weng271190436 opened #200 "System.MissingMethodException BulkExecutor..ctor when referencing .NET Standard from .NET Framework"
**Describe the bug**
I am using Microsoft.Azure.CosmosDB.BulkExecutor 2.3.0-preview2.

If I call new BulkExecutor(DocumentClient, DocumentCollection) from a .NET Standard 2.0 library and I call the .NET Standard library from .NET Framework 4.7.2, a System.MissingMethodException: 'Method not found: 'Void Microsoft.Azure.CosmosDB.BulkExecutor.BulkExecutor..ctor(Microsoft.Azure.Documents.Client.Docum

[2019-05-08 02:40] weng271190436 commented on #200
I posted this issue in Azure/azure-cosmos-dotnet-v2 repository as well.
https://github.com/Azure/azure-cosmos-dotnet-v2/issues/701

Not sure where is the right place.

[2019-05-08 03:11] JohnLTaylor commented on #200
I saw this a long time ago.  Double check the version of DocumentDB vs the installed version of Service Fabric SDK.  I was running an old SDK with a newer DocumentDB version.  Updating the SDK fixed my problem.

It would be nice if there was a better error message :)

[2019-05-08 13:35] fuocor opened #201 "Support Stream on CosmosStoredProcedure.ExecuteAsync"
The ```CosmosStoredProcedure.ExecuteAsync``` does not have a stream equivalent.

**Describe the solution you'd like**
```CosmosStoredProcedureCore.ProcessAsync``` exposes the equivalent but is not accessible

**Describe alternatives you've considered**
Lot's of low level stuff I want to avoid

**Additional context**
I am using the ```Utf8JsonWriter``` to serialize my documents and batch the data i

[2019-05-08 14:35] fuocor opened #202 "Eliminate Newtonsoft.Json"
Your dependency on ```Newtonsoft.Json``` and use of ```Stream``` goes counter to everyone's use of ```System.Text.Json``` and ```IBufferWriter<>```

**Describe the solution you'd like**
Now that ```System.Text.Json``` is ```netstandard2.0``` you should get rid of ```Newtonsoft.Json```

**Additional context**
it creates dangling references that I do not want to carry around

The core cosmos API sho

[2019-05-08 15:04] weng271190436 commented on #200
Thanks for trying to help. However in my case I don't have Service Fabric SDK installed though. Are you saying that there is version conflict between Microsoft.Azure.CosmosDB.BulkExecutor 2.3.0-preview2 and some other packages that I am using?

[2019-05-08 15:25] JohnLTaylor commented on #200
This was just my experience and I was running locally.

[2019-05-08 15:36] ealsur commented on #200
Closing as this is not related to Cosmos DB SDK V3, please see linked Cosmos DB V2 SDK issue.

[2019-05-08 15:36] #200 closed

[2019-05-08 17:44] lpunderscore opened #203 "Typed OM Item create validate 'Id' for un-supported characters"
I have a collection with documents that have an MD5 hash as the id. The ReadItemAsync method does not find some of the documents with the specified id even if it exists in the collection if the id contains specific characters "/" for example. Using CreateItemQuery will work properly and return the document.

**To Reproduce**
Have a collection with documents that may have some specific characters i

[2019-05-08 18:01] ealsur opened #204 "Conflicts Feed fails with missing Partition Range"
Conflict Read Feed operations fail with a missing Partition Key check. Conflict Read Feed should be treated the same as Document Read Feed operations in the request pipeline.

[2019-05-08 22:34] ryancrawcour opened #206 "move maxConcurrency back to requestOptions"
moving maxConcurrency out of requestOptions in CreateItemQuery<>() now creates overloads that can cause a problem when your partition key is an int.

It's now really easy to pass in your partitionkey and have this accidentally be assigned to maxConcurrency and then the wrong overload is called.

[2019-05-08 23:13] simplynaveen20 opened #208 "Adding linq query to V2 SDK"
This will add the linq support to V3 SDK

[2019-05-09 02:11] kirankumarkolli opened #212 "Support LINQ query generation"
**Describe the solution you'd like**
Cosmos SQL query generation through LINQ over domain POCO types enables typed query generation. Its an awesome convenience feature requested through user-feed as well.

LINQ in .standard 2.0 does a blocking execution. SDK supports LINQ query generation and an optional opt-in execution.

**Task List**
- [ ] @simplynaveen20 new API which enabled LINQ composition

[2019-05-09 02:13] kirankumarkolli commented on #212
#208

[2019-05-09 02:16] #208 closed

[2019-05-09 02:23] kirankumarkolli commented on #202
System.Test.Json is not yet released. We will evaluate once its ready.
CosmosJsonSerializer implementation can be provided to CosmosClient to use even today to leverage the power of those libraries.

[2019-05-09 02:35] kirankumarkolli commented on #201
Stream support for StoredProcedure is a good improvement.

On custom CosmosJsonSerializer part:
Layer wise typed is always treated as on-top of stream. And Stream to T conversion is delegated to  CosmosJsonSerializer. Am not fully clear on two-serialization runs part, @fuocor  can you please elaborate more?

[2019-05-09 02:45] kirankumarkolli commented on #212
#26

[2019-05-09 12:27] fuocor commented on #202
It cannot be implicitly.

There is no public setter for the default serializer, and not all the methods have stream equivalents. See CosmosStoredProcedure.ExecuteAsync

[2019-05-09 12:34] fuocor commented on #201
**Without direct stream support**, if I ran a batch and wanted to keep it within a specific chunk size I would need to serialize once to calculate the batch chunks, and then send the corresponding object collection subset the ExecuteAsync method which would serialize it again.

**With direct stream**, I can serialize the individual items in the collection, determine where to chunk, and send the pa

[2019-05-09 13:32] j82w commented on #197
In v3 SDK you can implement a CosmosJsonSerializer.

`CosmosClient cosmosClient = new CosmosClientBuilder("http://localhost", "SuperSecretKey").UseCustomJsonSerializer(new CustomJsonSerializer).Build()`

[2019-05-09 13:35] j82w commented on #202
You can set the CosmosJsonSerializer via the CosmosClientBuilder.

`CosmosClient cosmosClient = new CosmosClientBuilder("http://localhost", "SuperSecretKey").UseCustomJsonSerializer(new CustomJsonSerializer).Build()`

[2019-05-09 13:52] JohnLTaylor commented on #197
Setting the serializer option isn't the problem.  The upsert/replace methods do not honor the serializer setting.

[2019-05-09 14:05] j82w commented on #197
I'm closing this issue since this is a v2 problem. Please create an [issue here](https://github.com/Azure/azure-cosmos-dotnet-v2) for it.

In the v3 SDK we removed serializer settings and converted everything to use a CosmosJsonSerializer. There is a default implementation, and users can implement their own version. All the methods in v3 go through this serializer so it doesn't have the same bug h

[2019-05-09 14:05] #197 closed

[2019-05-09 14:38] JohnLTaylor commented on #197
From reading the code I still see the problem.  In my PR I'm making UpsertDocumentPrivateAsync and ReplaceDocumentPrivateAsync match [CreateDocumentPrivateAsync](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/e76130550be20271390569de064abba906108d8c/Microsoft.Azure.Cosmos/src/DocumentClient.cs#L1841)

[2019-05-09 16:35] kirankumarkolli opened #218 "Enable PartitionedCRUDTest"

[2019-05-09 17:55] ealsur opened #219 "Custom conflict Retry policy support"
Support to customize the current retry policies within the pipeline.

[2019-05-09 18:14] j82w opened #220 "Cosmos prefix removal from *RequestOptions"
Based on customer feed back and naming standards we will remove Cosmos prefix from *RequestOptions & *Response

[2019-05-09 18:16] j82w opened #221 "Update naming standard for cancellation token"
Update all the Cancellation token parameters to use the following Azure standard
'CancellationToken cancellation=default'

[2019-05-09 18:18] j82w opened #222 "Rename SpatialSpec to SpatialType"
Rename SpatialSpec to SpatialType based on Azure naming standards and user feedback.

[2019-05-09 19:35] j82w opened #224 "Cosmos prefix removal from *Response"
Based on customer feed back and naming standards we will remove Cosmos prefix from  *Response

[2019-05-09 22:25] visridha opened #225 "Add Unit test for Query Routing with PKDefinition"
Add validation that PK Routing uses alternate PK definition.

[2019-05-10 07:59] kirankumarkolli opened #228 "Stream API for non-existing NP container should return status code as result"
**Describe the bug**
CreateItemStreamAsync targeting a NP collection with NonePartitionKeyValue should not throw exception. Expected to return status code.

Currently for partitioned collection its returning 404 and will return the same.
For GA we should make it 424 (Dependency failure) instead for dis-disambiguate it.

**To Reproduce**
[code]
**Expected behavior**
[code]
**Actual behavior**
Throw

[2019-05-10 08:05] kirankumarkolli opened #229 "Disambiguate 404 & 404 with (owner not found)"
**Describe the bug**
For non-existing containers or databases, even Item operations return 404 status code.
404 is ambiguous between if its real Item NotFound or parent not exists.

424 can be used to disambiguate it.

Please check #227 for correlated context

**To Reproduce**
[code]

**Expected behavior**
[code]

**Actual behavior**
[code]

**Environment summary**
SDK Version: 3.0.0.10-preview

-

[2019-05-10 08:29] #204 closed

[2019-05-10 11:59] j82w commented on #225
I added unit tests to PR #213

[2019-05-10 12:00] #225 closed

[2019-05-10 12:09] j82w commented on #224
@kirankumarkolli

There is already a FeedResponse that is used by the v2 implementation that cause a name conflict. I'm going to do the following for any conflicts I find. Rename old response FeedResponse->DocumentFeedResponse; CosmosFeedResponse -> FeedResponse.

[2019-05-10 13:28] kirankumarkolli opened #230 "Make PartitionKey an optional argument when possible [Create/Replace]"
**Is your feature request related to a problem? Please describe.**
[Create/Replace]ItemAsync  demand PartitonKey as arguments, not necessary.

**Describe the solution you'd like**
Change contracts to
[code]

Implementation will extract the required PartitionKey argument when necessary.
- Extraction PartitionKey from stream (covering custom serialization). Great convenience.
- Optional 'PartitionKe

[2019-05-10 13:50] kirankumarkolli opened #231 "ItemRequestOptions.PartitionKey as override"
**Describe the bug**
Provide an ability to PartitonKey as override to [Create|Replace]ItemAsync operations.

[2019-05-10 14:06] kirankumarkolli commented on #5
#230

[2019-05-10 14:07] kirankumarkolli commented on #5
#230

[2019-05-10 14:08] kirankumarkolli commented on #5
Duplicate of #230

[2019-05-10 14:30] kirankumarkolli commented on #212
#55 #4 #208

[2019-05-10 14:45] kirankumarkolli opened #233 "Exception-less Streaming API for non-existing NP container scenarios"

[2019-05-10 14:50] #233 closed

[2019-05-10 15:19] kirankumarkolli commented on #228
#233

[2019-05-10 20:36] ealsur opened #239 "CosmosConflicts re-introduction"
**Is your feature request related to a problem? Please describe.**
Currently, `CosmosConflicts` are inlined within `CosmosContainer` through a [partial class](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Resource/Conflict/CosmosContainer.Conflict.cs).

We need to re-introduce the `CosmosConflicts` through a `Conflicts` property in `CosmosContainer` for con

[2019-05-10 20:37] #224 closed

[2019-05-10 21:35] ausfeldt commented on #194
I have identified issue. There is a typo/bug in Microsoft.Azure.Cosmos.Direct.

[2019-05-11 11:32] fuocor opened #240 "Add support for managing Users and Resource Tokens"
**Describe the solution you'd like**
I think DocumentClient . should be made public so that operations such as managing Users and Resource Tokens is accessible.

**Describe alternatives you've considered**
Adding the DocumentDB assembly

[2019-05-11 11:40] fuocor commented on #191
I left my opinion in another thread. The core API should be serialization agnostic and implement "stream only" functionality. The serialization should then be implemented in extensions and abstractions in a manner similar to how aspnet mvc abstracted away JSON.Net.

[2019-05-11 13:22] simplynaveen20 opened #241 "Query failing with CosmosContainerSettings.NonePartitionKeyValue on non partitioned container"
Query failing with CosmosContainerSettings.NonePartitionKeyValue on non partitioned container

[2019-05-12 12:48] #220 closed

[2019-05-13 13:26] ealsur commented on #240
@fuocor DocumentClient will be dissapearing, your concern is to be able to manage users and resource tokens on the new V3 client?

[2019-05-13 14:44] Miggleness opened #247 "Namespace clash with Microsoft.Azure.Cosmos.Table"
**Describe the bug**
I've a project that references both Microsoft.Azure.Cosmos 3.0.0.9-preview and StreamStone 2.3.0 which in turn has a reference to Microsoft.Azure.Cosmos.Table 1.0.0.0.

One error I encountered is as follows `The type 'IndexingMode' exists in both 'Microsoft.Azure.Cosmos.Direct, Version=3.0.0.9, Culture=neutral, PublicKeyToken=31bf3856ad364e35' and 'Microsoft.Azure.Cosmos.Table

[2019-05-13 15:17] #241 closed

[2019-05-13 15:17] simplynaveen20 commented on #241
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/242 merged

[2019-05-13 15:26] j82w opened #248 "Rename CancellationToken cancellationToken -> CancellationToken cancellation"
Renaming all of the following to match the azure naming guidelines.

CancellationToken * -> CancellationToken cancellationToken

[2019-05-13 16:59] j82w commented on #24
Fixed in: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/141

[2019-05-13 16:59] #24 closed

[2019-05-14 10:01] vip32 commented on #212
please also support the newest OFFSET and LIMIT operators (skip/take)

[2019-05-14 12:14] j82w commented on #21
Request charge is now available: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/177

[2019-05-14 12:14] #21 closed

[2019-05-14 14:35] simplynaveen20 opened #254 "Minimum throughput support x-ms-cosmos-min-throughput"
Customer want to access the minimum throughput on container/database which comes in header value as x-ms-cosmos-min-throughput in V2 SDK.  V3 SDK onwards removed the support for offer class crud operation , we need to come up with a alternative way.

'Background
Database -> RID

Offer
RID | AssocisateRID | ....|

Query -> Associated-Offer (no min-throughput)
ReadOffer (with offer-RID) {RequestOpti

[2019-05-14 14:43] vip32 commented on #212
very nice!

[2019-05-14 17:04] j82w opened #256 "Fix not found exceptions"
**Describe the bug**
If the container does not exists and a query is done it will throw a not found exception. This should return a response with status code.

delete the container if it exists
create the container and insert a item
query the item (SELECT * from root WHERE true)
delete the container
throws (SELECT * from root WHERE true)

[2019-05-14 18:52] SiddheshV opened #257 "NullReference in CosmosDatabase.<>c.<GetRID> when the account is being deleted"
**Describe the bug**
If the account deletion is in progress, calling into ReadProvisionedThroughputIfExistsAsync can throw a NullReference exception

**To Reproduce**
Delete an account and keep calling ReadProvisionedThroughputIfExistsAsync in a loop

**Environment summary**
Windows

**Additional context**
System.AggregateException: One or more errors occurred. ---> System.NullReferenceException:

[2019-05-14 20:45] j82w opened #259 "Rename CosmosConsistencySettings to CosmosAccountConsistency"
Why empty default CTOR? Is it required for Mocks?

Make all sets as non-public

[2019-05-14 20:48] j82w opened #260 "CosmosContainerSettings.CreateWithResourceId internal"
Reducing public surface area.

CosmosContainerSettings.CreateWithResourceId should be internal instead of protected

[2019-05-14 20:50] j82w opened #261 "Inline CosmosItems into CosmosContainer"
Inline CosmosItems into CosmosContainer ({Verb}{ResourceType}[Stream]Async)

[2019-05-14 20:51] j82w opened #262 "Rename SpatialSpec to SpatialPath"
Rename SpatialSpec to SpatialType

[2019-05-14 20:52] j82w opened #263 "CosmosException as AggregateException"
CosmosException as AggregateException

[2019-05-14 20:53] j82w opened #264 "Rename UserAgent -> ApplicationName"
Rename UserAgent -> ApplicationName

[2019-05-14 20:54] j82w opened #265 "Rename CosmosClientConfiguration -> CosmosClientOptions"
Rename CosmosClientConfiguration -> CosmosClientOptions (if possible struct, check mockability)

[2019-05-14 20:56] j82w opened #266 "All builders moved to fluent namespace"
All builders (Client & ContainerSettings)
			Fluent namespace
			With* prefix for all composition
ContainerSettingsBuilder include conflict resolution policy

[2019-05-14 20:57] j82w opened #267 "Rename QueryOptions -> FeedOptions"
Rename QueryOptions -> FeedOptions. Need discussion since change feed, read feed, and query are all feed operations but have different options.

[2019-05-14 20:59] j82w opened #268 "Update stream APIs"
Stream API's

- Use [AsStream] instead of [stream]. Ex: ReadItemAsStreamAsync(…)

[2019-05-14 21:00] j82w opened #269 "Promote SessionToken to CosmosResponseMessageHeaders"
Promote SessionToken to CosmosResponseMessageHeaders

[2019-05-14 21:00] j82w opened #270 "Use Get{Resource}sIterator across"
Use Get{Resource}sIterator across

[2019-05-14 21:02] j82w opened #271 "Convert AccessCondition to IfMatchEtag"
- Remove AccessCondition and AccessConditionType
- Flat them as IfMatchEtag & IfNoneMatchEtag

[2019-05-14 21:07] #222 closed

[2019-05-14 21:10] j82w commented on #221
Duplicate

[2019-05-14 21:10] #221 closed

[2019-05-14 21:55] ealsur opened #272 "StyleCop validation"
As part of the GA process, we need to harden the current code with StyleCop validations to avoid future code style braking changes and good practices.

[2019-05-14 21:57] fuocor commented on #240
yes...

[2019-05-14 22:59] ealsur opened #274 "StyleCop validation for Async"
Add Async static analysis based on  https://www.nuget.org/packages/microsoft.visualstudio.threading.analyzers.

This will ensure future code hardening.

[2019-05-15 13:35] j82w commented on #229
While 424 does appear to be the correct http status code it is not supported by c# [HttpStatusCodes](https://docs.microsoft.com/en-us/dotnet/api/system.net.httpstatuscode?view=netframework-4.8).

1. Create a Cosmos status code type that extends HttpStatusCode
2. Continue using 404 and add a substatus code to differentiate

[2019-05-15 13:43] j82w opened #275 "Make collection cache exceptionless"
The collection cache currently throws if the collection was not found. This needs to be converted to an expressionless model for query and other operations when the container does not exist.

Related Change:
https://github.com/Azure/azure-cosmos-dotnet-v3/issues/229

[2019-05-15 14:32] j82w opened #277 "Adding CosmosSerializationOptions and partition key tests for query"
In v3.0.0.9-preview release there was a bug where the CosmosSerializationOptions was not honored on the response, and that setting the partition key for query always failed. These issues were already fixed in master by unrelated changes, but tests need to be added to prevent future regressions.

[2019-05-15 18:07] donghexu commented on #247
Hi @Miggleness, thanks for reporting this issue. The namespace conflict on IndexingMode is a known issue while depending on Microsoft.Azure.Cosmos and Microsoft.Azure.Cosmos.Table. We will fix it in future Table sdk. At the same time, you can use assembly alias to unblock you. Here is the link of it: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/extern-alias

Thanks,

[2019-05-15 18:35] ealsur commented on #274
Related: https://github.com/microsoft/vs-threading

[2019-05-16 14:27] SherifSK commented on #53
Hi, I am trying to mock the CosmosClient and facing the same issue.  Any progress on this since then? If yes, please provide an example or means to do it. I am using xUnit and NSubstitute.

[2019-05-16 14:38] j82w opened #284 "GetRid behavior with througphut operations"
**Describe the bug**
Should GetRid throw an exception or return null?

Database GetRid returns null
Container GetRid throws because the cache throws

This causes the throughput operations to behave differently based on if it is a database or container.

**To Reproduce**
[code]
**Expected behavior**
That the throughput operations throw same exception when a container or database does not exist.

**

[2019-05-16 14:39] j82w commented on #284
Initial bug report: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/257

[2019-05-16 20:08] ealsur commented on #284
The fix needs to take into consideration #255, `Task<ItemResponse<T>> ReadCurrentAsync<T>` in particular

[2019-05-16 22:23] j82w commented on #263
Why does this need to be an aggregate exception?

[2019-05-17 01:15] ausfeldt opened #287 "Don't use object for partition key"
**Is your feature request related to a problem? Please describe.**

object as partition key is ambiguous as only a small set of types is accepted. Also unboxing/boxing object is not performant.

**Describe the solution you'd like**

Use PartitionKey with constructor overloads or factory methods for each supported type

**Describe alternatives you've considered**

If we don't want make changes to P

[2019-05-17 07:31] Miggleness commented on #247
Thanks.  That's indeed my workaround to get around the conflict right away.

So, it seems that there will continue to be separate projects/packages for each database model.  Maybe the naming can be improved a bit.  Microsoft.Azure.Cosmos sounds like the core library that all else depends on when it's not.

[2019-05-17 11:22] j82w commented on #287
I agree with having a specific type instead of object. This will also make it easier for users to find on google and stackoverflow if they have issues.

We should also be able to get additional performance improvement by handling CosmosElement/ byte array to avoid converting the PK from the stream to c# object.

[2019-05-17 11:30] j82w commented on #263
Here is a good article on why we should remove all the continue with.
https://medium.com/@joni2nja/why-you-should-not-use-continuewith-in-your-async-code-c9eaf6087e64

[2019-05-17 11:42] j82w opened #288 "Convert ContinueWith to async await"
**Is your feature request related to a problem? Please describe.**
There are several places in code that use continue with instead of async/await. This makes it very difficult to debug, and is less performant for .net core. This also causes the original exception to be wrapped in an aggregate exception which causes developers more pain to unwrap it and more likely to cause bugs.

**Describe the so

[2019-05-17 11:54] j82w commented on #33
We are still working on the v3 diagnostics design. I will create a github issue once we have a design. We want query and point operations to have the same story. In v2 they are completely different which doesn't provide the best user experience.

These properties have been updated.
| Property | Status
| ----------- | -----------
| EnableCrossPartitionQuery |  Internally Set (no public access). Aut

[2019-05-17 12:04] j82w commented on #248
Using the following requires c# 7.1 which the project is not currently using.
`CancellationToken cancellation=default`

To avoid any impact from requiring c# 7.1  the PR will use the following:
`CancellationToken cancellation=default(CancellationToken)`

[2019-05-17 13:45] DibranMulder commented on #8
Skip and Take are now supported! https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query#OffsetLimitClause
Should definitely be part of the first major release, in my opinion :)

[2019-05-17 13:50] DibranMulder commented on #8
This issue can be closed with completing PR #249
Maybe RequiredForGa tag can be added?

[2019-05-17 13:50] vip32 commented on #8
very very nice. are the other linq operators supported now (where, firstordefeault,orderby)?

[2019-05-17 14:21] DibranMulder commented on #8
Those are already supported for quite a while, see the full list of supported operators here: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query#SupportedLinqOperators

[2019-05-17 15:27] vip32 commented on #8
really, in the new v3 client? can't find anything in the samples

[2019-05-17 17:15] j82w commented on #8
@simplynaveen20 is working on a [PR ](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/209) to add linq support to v3. The v3 SDK currently does not have any linq support.

[2019-05-17 17:35] vip32 commented on #8
exactly, we need proper linq in the **v3** client :)

[2019-05-17 17:42] ealsur commented on #288
All CFP code that was ported from CFP repo uses `ConfigureAwait`. I never saw it in V2 code, and always wondered the reason.

[2019-05-17 17:45] ealsur opened #289 "Re-enable TestReducePageSizeScenario"
`TestReducePageSizeScenario` was disabled in #290.

Once the Emulator issue is fixed, we need to re-enable it.

[2019-05-19 06:54] xenalite commented on #156
@ealsur I will try to build the SDK and try to repro on my end - maybe it will tell me how the code gets into that state.

[2019-05-19 20:04] Tadimsky opened #293 "Attachment support in v3?"
Is there currently a way to read attachments in the v3 SDK or is that still in progress?
I see there are a number of classes and functions related to attachment reading, but it doesn't look like they're accessible yet. Is that true or am I not discovering it correctly?

- https://github.com/Azure/azure-cosmos-dotnet-v3/blob/5ce792f507f3039b7d4d97c0c7909f53a4551635/Microsoft.Azure.Cosmos/src/MediaR

[2019-05-20 12:13] j82w opened #296 "CosmosContainerSettings.LastModified throws when null"
**Describe the bug**
CosmosContainerSettings.LastModified is nullable, but the UnixDateTimeConverter does not support null. This causes the UnixDateTimeConverter to throw when it is null.

[2019-05-20 15:07] j82w opened #297 "Fix Cosmos*Headers name to follow .NET standards"
**Describe the solution you'd like**
The following classes are collections of strings, but do not end with suffix Collection which is against [.NET standards](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1710-identifiers-should-have-correct-suffix?view=vs-2019).

Severity	Code	Description	Project	File	Line	Suppression State
Error	CA1710	Rename Microsoft.Azure.Cosmos.CosmosResponseM

[2019-05-21 17:14] donghexu commented on #247
Hi @Miggleness, Great to hear you are unblocked and thanks for the feedback. We will close this issue for now.

[2019-05-21 17:14] #247 closed

[2019-05-21 17:32] #270 closed

[2019-05-21 18:10] #265 closed

[2019-05-21 18:53] #277 closed

[2019-05-21 22:23] #272 closed

[2019-05-22 06:42] SiddheshV opened #300 "Do not return 410 for "The requested resource is no longer available at the server." error"
**Describe the bug**
When a collection is dropped and recreated with the same name, certain codepaths return 410 status code back to the caller, which is not expected

Error from the store: Status Code=410, ActivityID=69099556-7c56-4b05-9a54-a420eb53e30c, Additional Details='Message: {"Errors":["The requested resource is no longer available at the server."]}ActivityId: 69099556-7c56-4b05-9a54-a420

[2019-05-22 06:47] SiddheshV commented on #287
There was a specific reason for introducing PartitionKey as Object.  Please sync with @visridha

[2019-05-22 07:21] #239 closed

[2019-05-22 10:32] perkastman opened #301 "Unable to use other than default stream encoding in custom json serializer"
**Describe the bug**
When having a custom json serializer using some other encoding than Encoding.Default the payload gets corrupt. Changing Encoding.UTF8 to Encoding.Default will make the program work, but will not store the regional characters correctly encoded in Cosmos.

**To Reproduce**

Given a container with id as partition key.

[code]

**Expected behavior**
That an Item document should be

[2019-05-22 10:46] perkastman commented on #301
https://blogs.msdn.microsoft.com/shawnste/2005/03/15/dont-use-encoding-default/

[2019-05-22 10:59] #301 closed

[2019-05-22 14:46] j82w commented on #296
PR #294 merged

[2019-05-22 14:46] #296 closed

[2019-05-22 17:58] #248 closed

[2019-05-22 18:18] #150 closed

[2019-05-22 21:52] #167 closed

[2019-05-23 02:06] NateB2 opened #303 "Make CosmosClient mockable"
**Is your feature request related to a problem? Please describe.**
Currently, we can't mock the CosmosClient class, which is essential for our unit tests. The previous version provided an IDocumentClient interface which we were able to use.

**Describe the solution you'd like**
Provide an interface for the CosmosClient that we can use to mock the client.

**Describe alternatives you've considered*

[2019-05-23 09:59] #256 closed

[2019-05-23 15:05] kirankumarkolli commented on #303
@NateB2 CosmosDatabases is an abstract class and is fully mockable.
In practice most of the application will be centered around CosmosContainter which is an abstract class and fully mockable.

[2019-05-23 15:58] kirankumarkolli commented on #194
This is fixed and will be part of next SDK release.

[2019-05-23 15:58] #194 closed

[2019-05-23 16:08] ealsur commented on #274
Best course of action is to implement https://www.nuget.org/packages/microsoft.visualstudio.threading.analyzers

[2019-05-23 16:34] #260 closed

[2019-05-23 16:36] #271 closed

[2019-05-23 18:46] #191 closed

[2019-05-23 19:22] #274 closed

[2019-05-23 19:30] #262 closed

[2019-05-23 22:37] NateB2 commented on #303
So what you're saying is that instead of passing the CosmosClient object to the classes, I should be passing the CosmosDatabases object, like this?

[code]

And in the actual implementation, it would be something like this?
[code]

I updated my unit tests and was able to get everything working, but it would be great to have an example or two of unit tests that use this new pattern, either in the r

[2019-05-23 23:35] j82w commented on #303
@NateB2 we will work on more samples once we get closer to GA and the contract stop changing. Is there any reason to not pass the CosmosContainer around?

[2019-05-23 23:56] NateB2 commented on #303
That would be great - thanks!  Overall, the new SDK is definitely easier to use and looks cleaner - can't wait until it reaches GA.

The class I'm writing now is responsible for setting up Cosmos databases and containers. I want to be able to write unit tests against that class to make sure the databases/containers are named and configured appropriately.

[2019-05-24 04:52] #264 closed

[2019-05-24 04:52] #266 closed

[2019-05-24 06:14] kirankumarkolli commented on #288
Its implementation details only right.
@j82w can it be post GA?

[2019-05-24 06:17] kirankumarkolli commented on #287
Mian goal of Object is to avoid boiler plate new ParittionKey(value) application code.

[2019-05-24 14:51] kirankumarkolli opened #313 "Avoid partial classes"
Avoid partial classes as possible.
ex: CosmosContainer and CosmosItems are partial classes

[2019-05-24 15:18] kirankumarkolli opened #314 "CosmosClient creation through ComsosClientOptions"
Make client builder and optional feature and provide a first class support of creating through CosmosClientOptions.

**Describe the solution you'd like**
[code]

CosmosClientOptions will be snapped to the version provided at CTOR time.
Changes to options later will not be reflected by CosmosClient.

**Additional context**
CosmosClientOptions will expose setter for properties as well.

** Future no

[2019-05-24 15:21] kirankumarkolli opened #315 "Ensure no public types from direct package"
Ensure no public types from direct package

**To Reproduce**
[code]

[2019-05-24 15:35] kirankumarkolli opened #317 "Add UT coverage for CosmosAccountConsistency class serialization"
Add UT coverage for CosmosAccountConsistency class serialization

**Expected behavior**
JSOn de-serialization test coverage.

[2019-05-24 16:23] j82w opened #318 "Prevent ClientOptions updates after client creation"
CosmosClient has a clientOptions property that is mutable. This allows users to update value after the client is initialized. Most of these updated values will be ignored, and requires the client to be recreated to be updated. There needs to be a solution to prevent users from updating values the client is using.

[2019-05-24 16:29] #259 closed

[2019-05-24 16:31] #261 closed

[2019-05-24 16:36] kirankumarkolli commented on #318
Original issue: #314

[2019-05-24 16:45] kirankumarkolli commented on #297
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.headers.httpheaders?view=netframework-4.8

Its similar to HttpHeader.

[2019-05-24 16:45] #297 closed

[2019-05-24 17:05] kirankumarkolli commented on #284
(Container + shared-throughput) & (Database + shared-throughput) should have same behavior.

Throwing vs null:
Q: Are throughput API's typed or stream API's
Throughout is kind of typed API (not returning HttpResponseMessage)

Conflicts: Its a typed API -> Exception

PK extraction: scoped to only typed API -> Exception

[2019-05-24 17:06] kirankumarkolli commented on #284
Please check with Interop once.

[2019-05-24 17:14] #268 closed

[2019-05-24 17:18] kirankumarkolli commented on #267
Multi Item response is -> FeedIterator

Where as request options are specific to operation(CF, Feed, Query)
- Possible for feed to go Cross-partition as well in future
- Query semantics specifics: low precision, CTlimitinKB, query feature flag's etc...

[2019-05-24 17:20] #267 closed

[2019-05-24 17:30] kirankumarkolli commented on #231
Stream API's should always demand PK in parameters.
Assert that ReqeustOptions.PK should not be used/allowed for stream API's.

[2019-05-24 17:34] kirankumarkolli commented on #229
HttpsStatusCode vs CosmosStatusCode

[2019-05-24 18:44] #314 closed

[2019-05-24 18:50] kirankumarkolli opened #320 "Metadata {Create/Replace}AsStreamAsync updated to take settings as arguments"
Metadata {Create/Replace}AsStreamAsync updated to take settings as arguments.
This enables consistent validation, usable contract to end-users.

[2019-05-24 19:41] #320 closed

[2019-05-28 15:45] ealsur opened #322 "Estimator to provide detailed information"
**Is your feature request related to a problem? Please describe.**
Currently, the Change Feed Estimator returns a number representing the sum of pending work across all leases. This hides potential information to troubleshoot if a particular host might be stuck or having difficulties to process items (issues in the machine, resources, etc.).

**Describe the solution you'd like**
Make the Estimator

[2019-05-28 21:31] j82w commented on #287
I think the boiler plate is a necessary evil. It makes it clear to user what types are supported, and it allows us to make it easier to discover new supported types.

[2019-05-29 00:14] Priya91 opened #327 "Right way to use the v3 apis."
**Describe the bug**
This is not a bug, but a question on how to use these new APIs.

1. CosmosContainerSettings
The CosmosContainerSettings contructor has a overload that take a container id and a partition key string. The json spec for the partition key is an object that has a path array. How do we specify this path to the CosmosContainerSetting constructor? The API does not match the json spec.

[2019-05-29 00:17] Priya91 commented on #327
cc @srivatsn @DavidObando

[2019-05-29 11:23] j82w commented on #327
1.  Cosmos DB currently only supports a single partition key path. It was created as an array so it could eventually support multiple paths, but this normally confuses most users. We decided to have the [constructor](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/f9ff931005b5cd97689e7cffff0308af2f5b91ba/Microsoft.Azure.Cosmos/src/Resource/Settings/CosmosContainerSettings.cs#L80) take in the

[2019-05-29 16:23] martinsmith123456 commented on #33
Is this something that will be resolved before GA release?

In the meantime I guess a workaround would be using a handler to add the "x-ms-documentdb-populatequerymetrics" header to the request and read the "x-ms-documentdb-query-metrics" from the Response.

[2019-05-29 17:26] simplynaveen20 opened #330 "LINQ V3 Bug fixes"
There are some open issues and discussion which need to be close

1. Sub Query stack over flow in V3 pipeline
2. Sub Query rid missing in OrderByResult in V2 pipeline (Test case - TestSubquery())
3. Abs decimal is working when we are using Epsilon as 5 instead of 6 in LinqTestsCommon.ValidateResults()
4. Abs int is not getting auto converted from decimal values in V3 code FeedResponseBinder.Conver

[2019-05-29 17:27] kirankumarkolli commented on #231
PartionKey is not first class optional argument.
Hence this is not required.

[2019-05-29 17:27] #231 closed

[2019-05-29 17:29] kirankumarkolli opened #331 "Optional partitonKey for Create/Upsert/ReplaceItem<T>"
Optional partitonKey for Create/Upsert/ReplaceItem<T>

Related to #230

[2019-05-29 17:35] j82w opened #332 "Name cache retry handler not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
NamedCacheRetryHandler calls to refresh the cache, but the retry still fails. This causes a 410 gone to be returned to the user for iterator operations like GetItemStreamIterator

**Expected behavior**
container.DeleteAsync();
//Return 404 resource not found
container.GetItemStreamIterator();

**Actual behav

[2019-05-29 17:44] Priya91 commented on #327
@j82w Thanks for the clarification, closing the issue.

[2019-05-29 17:44] #327 closed

[2019-05-29 19:17] kirankumarkolli opened #333 "Remove plural types and [] acessor"
- [x] Flatten plural types (CosmosDatabases & CosmosContaiers).
- [x] Remove statefull dictionary for databases and containers
- [x] [] indexer replaced by GetDatabase and GetContainer
- [x] Shortcut in client with GetContainer(dbName, containerName)
- [ ] Conflicts to GetConflicts() method

[2019-05-29 19:19] kirankumarkolli opened #334 "Documentation: System properties (Json property documentation)"
Include in our code, documentation regarding system metadata attributes (ttl, _ts, _etag)

[2019-05-29 20:31] kirankumarkolli opened #335 "Extract partitionKey from stream"
Extract partitionKey information from stream.

related to #230

[2019-05-29 21:04] j82w opened #336 "Default Partition key path for container"
To reduce customer friction with on boarding a default pk path should be used for new containers

[2019-05-30 00:11] kirankumarkolli opened #338 "Indexer behavior in-consistent between LazyCosmosElement and EagerCosmosElement"
Indexer behavior in-consistent between LazyCosmosElement and EagerCosmosElement

**To Reproduce**
[code]
**Expected behavior**
Both Lazy and Eager and supposed to be consistent.

**Actual behavior**
Lazy return null where Eager not.

[2019-05-30 00:14] kirankumarkolli opened #339 "[Extract PK] Use the original serialized bytes"
[Extract PK] Use the original serialized bytes.

Re-extraction might make it in-consistent with custom serialization.

https://github.com/Azure/azure-cosmos-dotnet-v3/pull/325_

[2019-05-30 00:18] kirankumarkolli opened #340 "In-consistent resource addressing between hierarchy and HA layer"
In-consistent resource addressing between hierarchy and HA layer.

Hierarchy using /dbs/....
HA layer using dbs/....

Impact:
- Multiple meta-data calls
- In-consistent cache invalidation

_Originally posted by @kirankumarkolli in https://github.com/Azure/azure-cosmos-dotnet-v3/pull/325/review_comment/create_

[2019-05-30 00:21] kirankumarkolli opened #341 "[Stream PK extraction] Minimal allocations as possible"
[Stream PK extraction] Minimal allocations as possible

Input stream is copied twice for PK extraction.

_Originally posted by @kirankumarkolli in https://github.com/Azure/azure-cosmos-dotnet-v3/pull/325/review_comment/create_

[2019-05-30 00:22] kirankumarkolli opened #342 "[Collection cache] Default cache API-version"
[Collection cache] Default cache API-version

_Originally posted by @kirankumarkolli in https://github.com/Azure/azure-cosmos-dotnet-v3/pull/325/review_comment/create_

[2019-05-30 00:33] #303 closed

[2019-05-30 00:36] #269 closed

[2019-05-30 00:50] #5 closed

[2019-05-30 01:32] kirankumarkolli commented on #333
CosmosClient is non-abstract & CosmosDatabases is abstract.
CosmosClient needs to remain implementation to avoid Factory.
CosmosDatabase[Core] implementation type would be used.

[2019-05-30 07:10] dantheman999301 commented on #43
@j82w @kirankumarkolli Sorry to keep dragging this back up, but there hasn't really been much of a discussion here. Is the plan to make the methods for creating these public? I don't really see the harm in doing so, given you can create stored procedures already and I believe the old SDK supports it.

[2019-05-30 11:56] j82w commented on #333
To add more context on this change we have gotten user feedback that the indexers have the following issues.
1. Hard to discover, and cause a big learning curve that requires looking at documentation
2. Goes against .NET standards since it is creating an object as part of the indexer operation. Most developers assume it is only a lookup.

Based on the above reasoning the SDK will be making the fol

[2019-05-30 12:00] j82w commented on #28
@AndriySvyryd we are changing the API to make it easier to discover. I'm closing this issue please look at https://github.com/Azure/azure-cosmos-dotnet-v3/issues/333

[2019-05-30 12:00] #28 closed

[2019-05-30 12:01] j82w commented on #8
PR #249 is now merged.

[2019-05-30 12:01] #8 closed

[2019-05-30 12:03] j82w commented on #26
Closing this since it's a duplicate of #212

[2019-05-30 12:03] #26 closed

[2019-05-30 12:12] j82w commented on #263
It was decided that CosmosException should not extend AggregateException. It causes to much pain and confusion for users. If we need additional information to diagnose the issue a property can be added to CosmosException to have all the non-fatal exceptions.

[2019-05-30 12:12] #263 closed

[2019-05-30 12:18] j82w commented on #43
@dantheman999301 sorry for the delayed response.  I missed this issue when we updated our plans.  User defined functions is now supported. It will be available in the next release.

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/Scripts/CosmosScripts.cs

Related PRs.
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/196
https://github.com/Azure/azure-cosm

[2019-05-30 12:18] #43 closed

[2019-05-30 13:50] kirankumarkolli opened #344 "Use struct for data-contracts"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-30 14:18] j82w commented on #288
@kirankumarkolli while it is an implementation detail it causes all exceptions to be wrapped in an aggregate exception which will make it a contract change.

[2019-05-30 14:43] kirankumarkolli opened #345 "Constrain cosmos namespace to cosmos specific resource API's only"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-30 15:31] bchong95 commented on #338
Good catch! The eager one calls directly into a dictionary. We need to check if the key doesn't exist and return null instead. The same goes for Lazy vs Eager Array.

[2019-05-30 17:29] kirankumarkolli commented on #333
Also [] are not intellisense friendly

[2019-05-30 18:19] #331 closed

[2019-05-30 18:20] #335 closed

[2019-05-30 18:37] jriouxrandstadca opened #346 "Null values are ignored in 3.0.0.10-preview"
In version 3.0.0.9-preview we could create document with null values and they would be inserted as null in Cosmos DB.

Now in 3.0.0.10-preview those values are ignored, so queries that looks for these values are broken.

Ex: `Select * from c where c.Property = null` now returns no documents since `c.Property` is undefined and not null.

[2019-05-30 19:59] ealsur commented on #344
For this, I want to first point to: https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/choosing-between-class-and-struct

    It logically represents a single value, similar to primitive types (int, double, etc.).
    It has an instance size under 16 bytes.
    It is immutable.
    It will not have to be boxed frequently.

Since our "Settings" are also used for Update operations af

[2019-05-30 20:02] ealsur commented on #346
@jriouxrandstadca  The default json serializer has these options: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/CosmosJsonSerializerCore.cs#L17

It doesn't seem to have changed. Do you have a repro that we can use with 3.0.0.9-preview and 3.0.0.10-preview and compare results?

[2019-05-30 20:30] jriouxrandstadca commented on #346
Here is a really simple program that inserts a document in Cosmos.
[code]
When I run it with `3.0.0.10-preview`, I get the following in Cosmos
[code]
When I run it with `3.0.0.9-preview`, I get the following in Cosmos
[code]
As you can see `Prop1` is removed when using `3.0.0.10-preview`.

[2019-05-31 03:52] kirankumarkolli opened #349 "[Unit test] Write fallback to other regions"
[Unit test] Write fallback to other regions

[2019-05-31 11:46] j82w commented on #346
@simplynaveen20 can this be caused by the changes you made for default partition key?

[2019-05-31 11:53] j82w opened #350 "Add tests for correct null handling"
Need to add test coverage to ensure regression like [this ](https://github.com/Azure/azure-cosmos-dotnet-v3/issues/346) doesn't happen again.

[2019-05-31 15:04] j82w commented on #344
Structs can't be mocked. Users will still be able to mock the method call and create an instance to return to the caller. The downside is users won't be able to verify what properties are being accessed or set.

[2019-05-31 15:34] ealsur commented on #344
I kind of understand it if the goal is to avoid an instance being changed after first usage, but I think it doesn't pass the size test.

[2019-05-31 16:38] lpunderscore commented on #203
@kirankumarkolli

Just commenting here as I don't think this should be considered as an improvement, but rather as a bug.

Unless this is released with GA, this sdk will be unusable since, read, delete, replace operations will not work properly / consistently on documents with those characters in id. Upsert works but not replace for example, leading to major data integrity issues.

[2019-05-31 18:57] donghexu opened #351 "Can not set index kind, dataType and precision to IndexingPolicy IncludedPath"
**Describe the bug**
Before 3.0.0.10-preview, we can use the following code to construct the full indexing policy, especially the index kind, dataType, and precision:
    new IndexingPolicy(Index.Range(Microsoft.Azure.Cosmos.DataType.Number, -1), Index.Range(Microsoft.Azure.Cosmos.DataType.String, -1))

After 3.0.0.10-preview, the Indexes field inside IndexingPolicy->IncludedPath is internal visib

[2019-05-31 20:50] ealsur commented on #351
PR with extension to Fluent API is out

[2019-06-01 00:58] #334 closed

[2019-06-01 01:07] #212 closed

[2019-06-01 02:23] ealsur opened #354 "PartitionKey constructor for types"
Ref: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/348

Instead of using a constructor for PartitionKey as object, add one for each supported type.

[2019-06-01 02:24] ealsur opened #355 "PartitionKey implicit or explicit conversion"
Ref: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/348

Add an implicit conversion from object to a PartitionKey.

[2019-06-01 05:37] #287 closed

[2019-06-03 11:31] j82w commented on #354
I think this is necessary for usability. Partition key only support some primitive types and can't handle complex objects. The only way to figure this out currently is run time exceptions. I think this also causes confusion for new users because they don't know what a partition key is and what they should be passing in.

[2019-06-03 11:36] j82w commented on #355
I wouldn't do implicit for object. It's going to lead to much confusion and errors. This could cause any property set to be used as a partition key like request options which just leads to run time exceptions.

Can we support only doing explicit or implicit for the specific types that are supported? That way we it causes compile time errors instead of run time exceptions.

Should we provide an ite

[2019-06-03 14:47] kirankumarkolli opened #356 "Rename AccountEndPoint -> EndPoint"
Renaming: AccountEndPoint -> EndPoint

[2019-06-03 14:47] kirankumarkolli opened #357 "Rename: throughput parameter -> RequestUnits"
Rename: throughput parameter -> RequestUnits

[2019-06-03 14:48] kirankumarkolli opened #358 "Make documentation URI references culture neutral"
Make documentation URI references culture neutral

[2019-06-03 14:50] #356 closed

[2019-06-03 14:50] #357 closed

[2019-06-03 14:50] #358 closed

[2019-06-03 15:22] kirankumarkolli opened #359 "Data-contracts mocking alignment with Azure Guidelines"
Existing Cosmos API's leaned towards all virtual or mocking.

Investigate alignment with Azure mocking guidelines: https://azuresdkspecs.z5.web.core.windows.net/DotNetSpec.html#dotnet-mocking

[2019-06-03 15:24] kirankumarkolli opened #360 "ChangeFeedProcessor core API with-out Fluent/builder composition"
Builders/Fluent API's are consolidated into Fluent namespace and core API are expected to be complete with-out dependency on them.

[2019-06-03 15:27] kirankumarkolli opened #361 "[AsStream] in API names is confusing to non-read scenarios"
Simple [Stream] is better. Revert back to [Stream] only.

[2019-06-03 20:44] donghexu opened #362 "CosmosStoredProcedure.ExecuteAsync<object[], Stream> response is closed and not readable"
**Describe the bug**
I notice now the CosmosStoredProcedure could potentially response Stream as the TOutput, I tried it out and the responsed Stream is closed and not readable. I feel this could be a bug if you continue to support Stream type for TOutput.

**To Reproduce**
Make a stored procedure call with Stream as TOutput, something like this:
CosmosItemResponse<Stream> cosmosItemResponse = awa

[2019-06-03 23:34] ealsur commented on #362
@donghexu What was the Sproc script that you were using that has a stream as a result? Could you share a sample to repro?

[2019-06-03 23:41] ealsur commented on #359
The only difference I see with our current implementation of Settings is they say no public constructors, but instead use Factory:

[2019-06-03 23:55] ealsur commented on #350
@j82w It was a regression then? null values should be rendered as `null`?

[2019-06-04 00:08] ealsur commented on #350
@kirankumarkolli It seems like this PR changed the behavior https://github.com/Azure/azure-cosmos-dotnet-v3/pull/97

It added:

    private static readonly JsonSerializer Serializer = new JsonSerializer()
    {
        NullValueHandling = NullValueHandling.Ignore,
    };

Can you confirm if this new behavior (not storing null properties) is effectively what we want? If so, I can send a PR to cover

[2019-06-04 14:06] kirankumarkolli commented on #284
GetRID dependency is removed we are good with the plan.

[2019-06-04 14:21] Ozzian commented on #18
I just ran into this one my self. Very hard to debug. Exists on both versions 3.0.0.9 and .10

Workaround:
Setting culture info before calling FetchNextSetAsync() seems to work.

`System.Threading.Thread.CurrentThread.CurrentCulture = System.Globalization.CultureInfo.GetCultureInfo("en-gb");`

I am using azure functions v2.

[2019-06-04 17:03] ealsur commented on #362
Got a repro offline, will address this in a new PR

[2019-06-04 17:12] j82w commented on #359
Having a factory prevents people from extending the class. The downside of a factory is that it gets really ugly for large number of arguments.

[2019-06-04 17:16] ealsur commented on #359
Mocking should still be allowed with the Factory, since the properties are virtual. I agree that it gets ugly with multiple parameters though.
The fact that people cannot extend the class seems to be a desired effect.

[2019-06-04 17:35] j82w commented on #362
@ealsur should this even be supported? If the user wants a stream they should call the stream method.

[2019-06-04 17:55] ealsur commented on #362
@j82w There is no stream method currently, that is the problem

[2019-06-04 18:27] kirankumarkolli commented on #229
Needs investigation
- What does Cosmos Gateway return
- What are the patterns used by other popular data services (Azure & across).

[2019-06-04 20:04] jimmyca15 opened #371 "Cancellation with Cosmos DB Exception properties"
**Is your feature request related to a problem? Please describe.**
We sometimes experience long running requests to Cosmos DB. When collaborating with Cosmos DB support to diagnose the issue, the first piece of information that is requested is a stack trace for the exception. This gives information like Activity ID.

Unfortunately, we never have these stack traces because we limit our requests to

[2019-06-05 04:03] #289 closed

[2019-06-05 07:49] kirankumarkolli commented on #361
#268

[2019-06-05 12:36] #361 closed

[2019-06-05 13:25] j82w commented on #350
The default behavior in v2 is to not ignore. Ignoring null values is a regression and should be reverted.

[2019-06-05 13:36] ealsur commented on #350
@j82w I disagree, this issue was to track the existence of a unit test. The regression is tracked by #346 and @simplynaveen20 is working on that

[2019-06-05 13:36] #350 closed

[2019-06-05 13:45] j82w commented on #350
@ealsur good point, and that's great the fix is getting worked on.

[2019-06-05 15:09] j82w commented on #371
This is a rather interesting scenario. Here are the possible solutions that I can think of.
1. I think this is the best solution for your issue is to not cancel the operation. Instead start another task that does the same call. This way you can take which ever request returns the fastest. Then log the request diagnostics and other information of the long running request.

2. Look at the Trace logs

[2019-06-05 15:14] jimmyca15 commented on #371
1. We can't start another task if this is a write operation. It's not necessarily idempotent. Also if we spin up parallel requests we are sacrificing resources for no reason.

2. What trace logs do you mean?

[2019-06-05 17:56] j82w commented on #371
Here are the trace logs for the v2 SDK. https://github.com/Azure/azure-cosmos-dotnet-v2/blob/master/docs/documentdb-sdk_capture_etl.md

[2019-06-05 17:59] jimmyca15 commented on #371
@j82w we run on linux containers. Doesn't look like this is an option.

[2019-06-05 19:18] j82w commented on #371
The best fix for this issue is going to be a new feature to make sure this information is accessible.

You could try using [ConnectionPolicy.RequestTimeout](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.connectionpolicy.requesttimeout?view=azure-dotnet)  to cancel the process. The one downside to this is it applies to the entire SDK.

It's possible the SDK is doing r

[2019-06-05 19:27] jimmyca15 commented on #371
We have a hard 5 second request limit on all requests, so configuring that as the maximum on the SDK level may be fine. It isn't a complete solution though, since we need some requests to cancel even shorter. Does it apply to TCP/Direct connections?

We turn of all retries on the SDK and do retries ourselves using our own invoker implementation. In most incidents we don't see any errors in the por

[2019-06-05 21:45] PingPongSet opened #374 "Environment.CurrentDirectory on Azure Functions"
Does this code example works on Azure? Because it doesn't work for me:
`Environment.CurrentDirectory`

 private static IConfigurationRoot configuration = new ConfigurationBuilder()
                .SetBasePath(Environment.CurrentDirectory)
                .AddJsonFile("AppSettings.json", optional: true, reloadOnChange: true)
                .Build();

https://github.com/Azure/azure-cosmos-dotnet-v

[2019-06-05 22:28] simplynaveen20 opened #375 "RID missing for cross partition subquery with select clause."
RID missing in the response for cross partition subquery with select clause.
We are getting exception of null RID in OrderByQueryResult while running select subquery clause with orderby using LINQ

Code for repro
################################################
 public class ToDoActivity
        {
            public string id { get; set; }
            public int taskNum { get; set; }
            p

[2019-06-07 00:06] ealsur commented on #374
@PingPongSet Please see the code change in https://github.com/Azure/azure-cosmos-dotnet-v3/pull/383, that will make it work when deployed in Azure.

You just need to specify the settings (EndPointUrl and AuthorizationKey) as Application Settings in your Azure Function.

[2019-06-07 13:36] #374 closed

[2019-06-07 13:58] kirankumarkolli opened #386 "Revert: Rename requestUnitsPerSecond to throughput"
Rename requestUnits to requestUnitsPerSecond

[2019-06-07 13:59] kirankumarkolli opened #387 "CF renames: workflowName -> processorName, WithCosmosLeaseContainer -> WithLeaseContainer"
CF renames: workflowName -> processorName, WithCosmosLeaseContainer -> WithLeaseContainer

[2019-06-07 14:02] #201 closed

[2019-06-07 14:02] #362 closed

[2019-06-07 14:04] #333 closed

[2019-06-07 16:22] kirankumarkolli commented on #360
For now we will move forward with builder. And lets explore non-builder part later post GA.

Container only has builder based approach -> single way -> no ambiguity
ChangeFeedProcessorBuilder type in cosmos namespace
  1. Its  a single type only (not explosion of types)
  2. Also being the only way, moving to builder demands explicit 'using *.builder" always

We are good for GA and will explore no

[2019-06-07 18:15] #387 closed

[2019-06-07 18:40] #344 closed

[2019-06-07 18:48] #168 closed

[2019-06-07 21:35] j82w commented on #359
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/382

[2019-06-07 21:35] #359 closed

[2019-06-07 22:08] #340 closed

[2019-06-08 06:29] aRajeshKumar opened #397 "CosmosClient is not accepting SecureString for Authorization Key"
DocumentClient is accepitng the authorization key in SecureString format, but is not provided the same for CosmosClient

Reference: https://docs.microsoft.com/en-us/azure/cosmos-db/secure-access-to-data

[2019-06-10 12:59] j82w opened #399 "Cleanup file hierarchy"
Currently multiple partial classes are spread across multiple folders. This makes it very difficult to understand and does not represent the current class hierarchy. The files should be merged and restructured to match the current class hierarchy.

[2019-06-10 13:20] bartelink opened #400 "Provide partitionid to ChangeFeedObserverFactory.Create"
**Is your feature request related to a problem? Please describe.**

No - there's no problem; I have a workaround, but it involves boilerplate...

**Describe the solution you'd like**

I'd like an overload/duplicate of [`ChangeFeedObserverFactory`](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/FeedProcessing/ChangeFeedObserverFactory.cs)

[2019-06-10 19:53] #397 closed

[2019-06-10 19:59] j82w opened #403 "Account key secure string"
Need to investigate the performance and security of storing account key as secure string. The hash function seems to be recalculating the key byte array for each call.

[2019-06-10 22:38] AgSync-Aaron opened #405 "Exception in ChangeFeedProcessor is swallowed"
**Describe the bug**
When I have an exception in my onChangesDelegate on ChangeFeedProcessor it gets swallowed and the listener doesn't stop.

**To Reproduce**
Create a change feed listener with an explicit exception and run.

**Expected behavior**
I would expect the exception to break the listener.

**Actual behavior**
The exception is swalllowed.

**Environment summary**
SDK Version:3.0.0.17-pre

[2019-06-10 22:50] AgSync-Aaron commented on #405
In a related note, if I get 100 items (default) in my change notification and processing stops half way through, can I notify the lease that I've successfully processed some (update the ContinuationToken)?

[2019-06-10 23:22] AgSync-Aaron commented on #403
As an outsider just asking a question about SecureString, I thought they were [discouraged](https://github.com/dotnet/platform-compat/blob/master/docs/DE0001.md). Is that not necessarily the case internally?

[2019-06-10 23:32] #399 closed

[2019-06-11 14:13] j82w commented on #403
@AgSync-Aaron that's why this issue is marked as needs investigation. In the scope of the SDK it requires it to support the account keys to be able to communicate with Azure Cosmos DB. Based on the documentation you pointed to Azure Cosmos DB as a service will need to evaluate the different authentication protocols, and support different a protocol that does require string.

[2019-06-11 14:36] j82w opened #406 "Marshal.Release not supported on Linux and Mac"
Marshal.Release(IntPtr) isn't supported on Linux and macOS	Microsoft.Azure.Cosmos	C:\azure-cosmos-dotnet-v3\Microsoft.Azure.Cosmos\src\Query\QueryPartitionProvider.cs	293	Active

MarshalByRefObject.InitializeLifetimeService() isn't supported on Linux, macOS, and Windows	Microsoft.Azure.Cosmos	C:\azure-cosmos-dotnet-v3\Microsoft.Azure.Cosmos\src\MediaStream.cs	130	Active

[2019-06-11 16:00] ealsur commented on #405
@AgSync-Aaron Do you have a repro? We have tests covering the scenario of the current processor closing on exception (https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/PartitionSupervisorTests.cs#L119).

[2019-06-11 16:56] ealsur commented on #405
As a response to the question: No, the batch is either processed completely (delegate completes successfully), or not (exception happens). There is no way to notify for a partial success.

Basically the flow is:
1. FeedProcessor sends the next batch to your delegate
2. Your delegate processes changes successfully
3. Checkpoint happens, back to step 1

If you throw an exception in step 2, the lease

[2019-06-11 17:00] simplynaveen20 opened #408 "TrimStart/End not working for LINQ"
**Describe the bug**
Trim fuctionality not working on LINQ query

**To Reproduce**
Use Test case TestStringFunctions() in LinqTranslationBaselineTests.cs with Trim function un commented.

**Expected behavior**
All three methods TrimStart/End(), TrimStart/End(Char c),TrimStart/End(Char [] arr) should work

**Actual behavior**
none of above working

**Environment summary**
SDK Version: V3

[2019-06-11 17:36] ealsur commented on #400
CFP in V3 won't be exposing the Partition information and the code in this repo does not contain PartitionKeyRangeId nor Observer as part of the public contract.

What is the reason you need to log/access this information? Is it just for tracing purposes?

[2019-06-11 20:03] bartelink commented on #400
Interesting - in general I was logging assignments/revokes of partition assignments as high level info. After that, its useful for the purposes of correlating the progress per partition.

Aside from this, I use the partitionkeyid (and the fact that it's unique and unambiguous) to track events as I propagate them internally within my projection system. (when scheduling work, I optimize for achievin

[2019-06-11 21:05] AndriySvyryd opened #409 "Reduce PartitionKey allocations"
The current design of the API leads to 2 extra objects being allocated for every call that takes a partition key when using a non-string value:

1. A new instance of `PartitionKey`.
2. Boxing of the value.

One way of avoiding these would be by making `PartitionKey` a generic struct.
Alternatively the overloads that take a `string` instead of `PartitionKey` could be added back.

[2019-06-11 22:39] j82w commented on #409
The PartitionKey is about getting the correct public contract. We will optimize the operations once we are sure it won't change.

How do you feel about implicit conversions?
https://github.com/Azure/azure-cosmos-dotnet-v3/issues/355

[2019-06-11 22:43] j82w commented on #403
After further review we decided to [remove](https://github.com/Azure/azure-cosmos-dotnet-v3/pull/407) SecureString until we have a need for it based.

[2019-06-11 22:44] AndriySvyryd commented on #409
This problem is in the contract itself, so fixing it would require changing the contract.

Implicit conversions don't help.

Constructor overloads would mitigate the second point if you converted the value to a string before storing it.

[2019-06-12 09:43] kirankumarkolli opened #412 "Rename data-contracts to <T>Properties"
Rename data-contracts to <T>Properties

[2019-06-12 09:55] kirankumarkolli commented on #412
Commit #4f8500d0a9e727bc8a635390662d43a8ee1dba82

[2019-06-12 09:55] #412 closed

[2019-06-12 10:59] j82w opened #413 "Item query iterator should call item query stream iterator"
To avoid causing different behavior between the two iterators the typed iterator should just call the stream iterator to do the conversion.

[2019-06-12 15:36] AgSync-Aaron commented on #405
Thank you for the response.

I'm trying to get a change feed processor working in the new .net core 3.0 worker pattern based on the `BackgroundService` class.  When there is a failure in the change feed delegate I want to stop the worker.  If there is some kind of bug in my code I don't want it running in an infinite loop and repeatedly processing the other items in the batch that don't cause an e

[2019-06-12 16:20] bchong95 opened #417 "EagerCosmosObject does not serialize undefined objects"
If the value of a cosmos object is null, then we get a NRE. We should either disallow null elements, or skip them in the serializaiton. I suppose array suffers from the same issue.

[2019-06-12 16:46] AgSync-Aaron commented on #405
Here is a sample that just runs forever...
[code]
Console output:
[code]
Output window:
[code]

[2019-06-12 16:50] ealsur commented on #405
The idea of the Processor is to run forever until you manually shut it down and to be resilient to transient failures, it is by design.

If your exceptions are not transient or you want to stop everything if one happens, you could simply call the StopAsync from within the delegate by catching any possible exception:

    ChangeFeedProcessor processor = null;
    processor = this.Container

[2019-06-12 17:22] AgSync-Aaron commented on #405
The `processor.StopAsync()` worked in this simple example. I've tried doing that in the .Net core 3 worker process, but it didn't work. I'm now pretty sure that's my issue and not a bug. I need to figure out where I went wrong.

I figured, but thanks for the clarification.

After I stopped the processor, it continued to renew the lease. I'll assume that's as expected.
[code]

Closing issue as user

[2019-06-12 17:22] #405 closed

[2019-06-12 18:21] simplynaveen20 opened #419 "Porting TrimStart and TrimEnd V3 platform fix in V2 master branch"
Porting TrimStart and TrimEnd V3 platform fix (Supporting both .NET Core and .NET Standard)in V2 master branch

Change from class StringVisitTrimStart and StringVisitTrimEnd need to be ported

**Environment summary**
SDK Version: V2

[2019-06-12 18:52] ealsur commented on #405
Maybe it would be better to instead of shutting down from inside the delegate, just signal something, that will eventually stop the worker process and stop the processor? I'm not super familiar with NET Core 3 workers, so I'm not sure how is their life cycle.

[2019-06-12 18:57] AgSync-Aaron commented on #405
I'm learning more about them as I go. I found I am able to DI in a `IHostApplicationLifetime` and I can call `StopApplication()` 💥 to gracefully stop the service with the application.

[2019-06-12 19:16] AndriySvyryd opened #420 "Improve exception message for disposed CosmosClient"
Currently calling most methods on `CosmosClient` after `Dispose()` results in a `NullReferenceException`

[2019-06-12 21:57] kirankumarkolli opened #422 "Remove Cosmos prefix from public types Except (CosmosClient)"
Remove Cosmos prefix from public types Except (CosmosClient)

[x] [Cosmos][Resource]Properties -> [Resource]Properties
[x] Remove [Cosmos] from Hierarchy
[x] [CosmosSql]QueryDefinition -> QueryDefinition
[x] Remove CosmosPreffix from [Cosmos]Account*
[x] Remove [Cosmos] from builder API's
[x] Remove [Cosmos] from Cosmos[Resource]Core

Discussion needed on below
[ ] Remove [Cosmos] from stream cont

[2019-06-12 22:04] kirankumarkolli opened #423 "Query/Feed API’s GA Feedback"
Query/Feed API’s GA Feedback

[Create] other places means a call to service, [Get] means proxy -> Map those concepts to query
 [ ] CreateItemQuery[Stream] -> GetItemsQuery[Stream]
 [ ] CreateItemIterator -> GetItemsIterator
 [ ] CreateItemQuery -> GetItemsLinq
 [ ] FetchNextSetAsync -> ReadNextAsync() [Get collides with Proxy]

Remove PartitionKey as Argument
Move non-ContinuationToken parameters

[2019-06-12 22:41] ealsur commented on #386
@kirankumarkolli Should we change the title to rename to throughput?

[2019-06-12 23:58] dan-silver commented on #194
I'm still seeing this issue with the latest preview release: `Unable to load DLL 'Microsoft.Azure.Cosmos.ServiceInterop.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)`.  Can you confirm the fix mentioned above made it into the master branch?

[2019-06-13 00:41] kirillg commented on #423
GetItemsQuery somehow doesn't quite click. GetItemsQueryIterator may be? At that point, do we need Items suffix? GetQueryIterator?  (and GetLinq)...
But then I'm not sure if this is critical to address...

[2019-06-13 10:30] #386 closed

[2019-06-13 18:45] ealsur opened #428 "Parameter order in item operatoins"
Suggested parameter order would be:

CreateItemAsync        (Item, PK = null, Options = null)
UpsertItemAsync        (Item, PK = null, Options = null)
ReplaceItemAsync    (Item, Id, PK = null, options = null)

CreateItemStreamAsync    (Stream, PK, Options = null)
UpsertItemStreamAsync    (Stream, PK, Options = null)
ReplaceItemStreamAsync    (Stream, Id, PK, options = null)

ReadItemAsync        (

[2019-06-13 18:51] j82w opened #429 "JsonNavigator should use Memory<byte>"
The JsonNavigator and children should also be fixed to take Memory<byte> and not just byte[] so we can avoid array copies in a number of cases.

[2019-06-13 18:59] j82w opened #430 "Document that stream must be seekable"
Update all the stream API documentation to make sure that is noted that the stream must be seekable.

[2019-06-13 22:50] ealsur commented on #430
Could we check the CanRead property and throw if not?

[2019-06-13 22:52] ealsur opened #432 "Change Feed Processor public API name changes"
Based on feedback, we'll rename the public APIs for the Change Feed Processor and Estimator to:

    public delegate Task ChangesHandler<T>(
        IReadOnlyCollection<T> changes,
        CancellationToken cancellationToken);

    public delegate Task ChangesEstimationHandler(
        long estimatedPendingChanges,
        CancellationToken cancellationToken);

    public abstract ChangeFeedProces

[2019-06-14 00:49] #428 closed

[2019-06-14 00:50] #432 closed

[2019-06-14 08:03] bartelink commented on #432
00. Is there a tracking document or post that details what all this stuff is - is it going to be a v4 release? is there a stabilisation period? are we doing final changes circling the drain for a release?

0. The names are fine, but I don't like the indirection of having delegates - there are not enough parameters in the delegate to warrant this

1. Is this in addition to the existing APIs ? Is ha

[2019-06-14 12:51] j82w commented on #430
We do throw if it is not seekable, but we don't mention it anywhere in the documentation to let users know it is required.

[2019-06-14 13:37] j82w opened #440 "Remove GC.SuppressFinalize(this)"
GC.SuppressFinalize(this) is expensive and only needed if there is a finalizer. Remove this from CosmosResponseMessage and any other place in code that contains it.

[2019-06-14 14:37] ealsur commented on #432
0. The delegates were to replace the `Func` we were using. What do you mean with "there are not anough parameters?"
1. Which existing APIs? Do you mean the CFP V2 APIs? V3 APIs are somewhat different, the public surface has changed. In V3, the estimator is a push model, like the processor. In V2, you had the `IRemainingWorkEstimator` which had [a method](https://github.com/Azure/azure-documentdb-c

[2019-06-14 15:43] j82w opened #441 "Add Freeze/Clone support to request options"
Right now most request options are mutable. This can cause issue if users accidentally share them across multiple requests.

One solution is to add support for FreezeMethod that prevents any properties from getting updated.
https://docs.microsoft.com/en-us/dotnet/api/system.windows.freezable?view=netframework-4.8

MongoDB does something similar:
https://github.com/mongodb/mongo-csharp-driver/blob/

[2019-06-14 15:45] ealsur opened #442 "CosmosDatabase -> Rename to Database"
We should rename `CosmosDatabase` to `Database` based on API feedback.

[2019-06-14 16:09] bartelink commented on #432
Thanks for the detailed response. Apologies for the wall of text I'm about to subject you to in response ;)

0. by "not enough parameters", I mean that using a `delegate` to a) name a signature b) name the individual parameters has negligible value when the delegate only has 1-3 args, and they're all of different and/or obvious types
1. re existing APIs, as you inferred, I do mean "v2 style things

[2019-06-14 16:34] #442 closed

[2019-06-14 17:41] jackbond opened #444 "Hire some developers with more than 2 months experience"
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/17265707-mark-geography-types-as-serializable?tracking_code=a4f656185d06f0aa174d7c4ed42ff2f9

**Mark geography types as Serializable**
Currently geography types such as Microsoft.Azure.Documents.Spatial.Point are not marked as Serializable which prevents them, or classes containing them, from being passed as arguments to Service

[2019-06-14 18:06] ealsur opened #445 "Unifying Header classes"
We currently have 2 different classes for Headers: `RequestHeaders`, and `ResponseHeaders` that inherit from `HeadersBase` with our optimized dictionary implementation.

Unifying all into a `Headers` class would be preferred.

[2019-06-14 19:51] ealsur opened #448 "Builders Get contract"
To align with user intent and make the Builder discoverable, the methods in the Container to access the Change Feed Builders need to be changed to:

* `GetChangeFeedProcessorBuilder`
* `GetChangeFeedEstimatorBuilder`

For Container, changing `DefineContainer` to `GetContainerBuilder` and `CreateContainerDefinition` to `ContainerBuilder`.

[2019-06-14 19:59] bartelink commented on #444
While you may have a point, and you may be having a bad day, I'd ask you to please edit this to have a more respectful tone. There are people hard at work here. If you want to rant, Twitter and other channels are available.

Regarding the specific complaint re the v3 SDK release timeline, shouting loudly at people and forcing a premature ship doesn't help anyone - I would like to register, for the

[2019-06-14 20:01] simplynaveen20 opened #450 "Refactor read/replace offer on database and container"
ReadThroughputAsync/ReplaceThroughputAsync using same code on Database and Container, including older V2 pipeline for offer query result.

Option one is to move same code to some common place for re usability.
Second option is to use new V3 pipeline to get the result of offer query and than take care of refactoring.
This item is for tracking purpose that we will revisit read/replace offer code pos

[2019-06-14 20:05] bartelink commented on #450
if its worth making an issue, it's worth summarizing the thoughts in a bit more depth here, no?

[2019-06-14 20:10] bartelink commented on #444
Also is https://github.com/Azure/azure-cosmos-dotnet-v3/pull/447#discussion_r293955958 relevant ?

[2019-06-14 20:23] simplynaveen20 commented on #450
Thanks for your comment, please find details.

[2019-06-14 20:30] bartelink commented on #450
Perfect, thanks (I'm allergic to 'refactor' in issue text as I am to `Manager` in `class` names)!

(Some context: I'll be dogfooding the API in refactoring [this](https://github.com/jet/equinox/blob/86eba23866020ec252c23c877f0f2862c0b6bc1e/src/Equinox.Cosmos/Cosmos.fs#L474) to target V3 at some point))

[2019-06-14 20:42] simplynaveen20 commented on #408
V3 LINQ TrimStart/End() is fixed to support on .NET core and .NET Framework. We still wont be supporting TrimStart/End(Char c),TrimStart/End(Char [] arr)  as in V2

[2019-06-14 20:42] #408 closed

[2019-06-14 20:53] #448 closed

[2019-06-14 20:55] #445 closed

[2019-06-14 21:13] #16 closed

[2019-06-14 21:29] bartelink opened #453 "Keep A ChangeLog"
In order to provide a clearer sense of mission and as a by-product, produce a clear changelog with

a) intuitive intrinsic diffing support
b) good summaries for reviewers like me

I'd suggest using the excellent https://keepachangelog.com/en/1.0.0/ format.

I appreciate that this may seem like busywork at what is a busy time for you; I share this out of remembering how happy I personally was when

[2019-06-15 00:28] j82w commented on #453
We were looking at possibly trying to use a tool to auto generate the change log based off PRs and issues. I  like the format you recommended.

@kirankumarkolli since we don't have a tool yet to auto generate the change log should we start requiring updating the change log for each PR?

[2019-06-15 00:45] bartelink commented on #453
The benefit vs a machine generated thing is that it:

- it's dead simple to do manually (it feels cumbersome the for max 15 mins iff you don't have someone to show the ropes) - you get the odd conflict from adjacent appends but nothing else takes long or causes pain
- admits minor reorgs (you can fix a typo in the next PR and/or when merging)
- you can use a text editor to summarise from preview o

[2019-06-15 14:32] kirankumarkolli commented on #360
Lets re-active when its actionable.

[2019-06-15 14:32] #360 closed

[2019-06-15 14:37] #254 closed

[2019-06-15 14:39] kirankumarkolli commented on #230
Feature is ready to use, hence closing it.
Optimizations are tracked separately.

[2019-06-15 14:39] #230 closed

[2019-06-16 09:28] william-liebenberg opened #458 "Make RequestOptions.Properties public so that we can push info from application into CosmosRequestHandler"
**Is your feature request related to a problem? Please describe.**
I really want to prevent polluting my code with unnecessary logging and instrumentation code.

I love that there is a `CosmosRequestHandler` that I can use to intercept the `CosmosRequestMessage` and execute some code before and after calling `SendAsync()`

Currently, in the `CosmosRequestHandler:SendAsync()` method there is no way

[2019-06-17 10:13] j82w commented on #458
Would a single string property like "UserClientRequestId" be a better solution?

- Property will not be set in the headers
- Avoid creating dictionary for each request
- Avoid the dictionary insert and lookup performance hit

Is there a scenario where multiple values need to be stored?

[2019-06-17 10:20] j82w opened #459 "Merge Read Feed and Query"
Right now read feed and query are two separate operations. This is rather confusing concept since read feed is just a "select *" query. Instead of adding additional APIs for this operation the SDK implementation should handle the selection.

Convert all Get*Iterators -> Get*QueryIterators
QueryText == null will be converted to a read feed operation
Non-Item operations will be a stateless query tha

[2019-06-17 13:33] william-liebenberg commented on #458
Yes! that is a great suggestion. It will definitely solve the issue.

In my case right now I don't need multiple values... but if I ever did need multiple values, I could re-use this `UserClientRequestId` value to form a correlation between data that I store myself in my app and the request that gets handled in the `CosmosRequestHandler`.

:)

[2019-06-17 13:34] william-liebenberg commented on #458
Just to check, this `UserClientRequestId` would be a `public` property on the `RequestOptions` class?

[2019-06-17 18:47] simplynaveen20 opened #460 "Adding ToFeedIterator to LINQ"
This will add the extension method ToFeedIterator () on IQueryable which will give user the ability
to create LINQ query and execute it asynchronously via FeedIterator.

This is sub item of https://github.com/Azure/azure-cosmos-dotnet-v3/issues/212

[2019-06-17 19:07] j82w commented on #458
Yes, the UserClientRequestId would be public.

[2019-06-17 22:16] j82w commented on #458
Another way you can do this currently is extend the request option type, and add your custom field to it.

[2019-06-17 22:55] william-liebenberg commented on #458
OK that could work. I just need to then cast the 'RequestOptions' to my custom type and use it...

This solution will be fine for now but I would prefer your original suggestion of the 'UserClientRequestId' field on the base 'RequestOptions' more. It means I won't need to extend multiple classes like 'ItemRequestOptions', 'QueryRequestOptions', etc. And cast/check types in the RequestHandler.

[2019-06-18 01:32] NateB2 commented on #351
For us, this is particularly important because we have queries that do range searches against dates, which is not included in the default index.  As it currently exists, we would need to add a deploy step to our release pipeline to add in the index and a separate script to add the index to the local emulator for development work, which is not ideal.

[2019-06-18 14:50] j82w opened #463 "Iterator request options need to be standardized"
The iterator request options are not currently the same across the different types. New request options should be added to remove unnecessary options and updated to match across the SDK.

[2019-06-18 14:51] j82w commented on #423
#425

[2019-06-18 14:51] #423 closed

[2019-06-18 15:51] simplynaveen20 commented on #460
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/461 merged

[2019-06-18 15:51] #460 closed

[2019-06-18 21:49] d1820 opened #466 "How to unit test code that uses IsDefined() when the local instance throws Exception?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Try to use IsDefined() in a unit test.

**Expected behavior**
A clear and concise description of what you expected to happen.

IsDefined() to not be internal or default to return true when on the client

**Actual behavior**
IsDefined throws " throw new NotImplementedException();"

**Environment summary**
SDK

[2019-06-19 05:50] MovGP0 commented on #229
@j82w using a subcode like 404.1 would work, but is not normative. So 424 should be used.

Maybe it's best to expand the HttpStatusCodes Type in the ASP.NET project.

[2019-06-19 12:33] engbibi opened #469 "Could not load file or assembly Microsoft.Azure.Cosmos.Direct, Version=3.0.0.33"
**Describe the bug**
Self contained and docker build won't start throwing FileNotFoundException: Could not load file or assembly 'Microsoft.Azure.Cosmos.Direct, Version=3.0.0.33, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.
'

**Environment summary**
SDK Version: Microsoft.Azure.Cosmos 3.0.0.18-preview
Microsoft.NETCore 3.0.0-preview6

[2019-06-19 19:54] kirankumarkolli commented on #228
Closing the issues pending the other issue.

[2019-06-19 19:54] #228 closed

[2019-06-19 21:15] simplynaveen20 opened #471 "Item with null partition key throwing error on create"
**Expected behavior**
Should able to create and read with null partition key

**Actual behavior**
Item with null partition key throwing error on create

**Environment summary**
SDK Version: V3

[2019-06-19 23:50] kirankumarkolli commented on #346
@j82w & @simplynaveen20 is this addressed now?

[2019-06-19 23:54] kirankumarkolli commented on #346
Fix is shipped with 3.0.0.18-preview.

[2019-06-19 23:54] #346 closed

[2019-06-20 00:02] william-liebenberg commented on #458
Hi j82w,

I had a quick attempt to get your recent suggestion working, but it's not possible at this stage either.

If I extend the `ItemRequestOptions` class (or others) to add my own `UserClientRequestId` field, I won't be able to retrieve it from the `RequestMessage` given to the handler because the [RequestMessage.RequestOptions](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/b2893543c83

[2019-06-20 01:48] wilcobmsft opened #475 "Make CosmosClient creation non-blocking"
**Describe the bug**
One or more errors occurred. (A task was canceled.) ---> System.Threading.Tasks.TaskCanceledException: A task was canceled. --- End of inner exception stack trace --- at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken) at Microsoft.Azure.Cosmos.DocumentClient.get_ConsistencyLevel() at Microsoft.Azure.Cosmos.CosmosClient.Init(Cosm

[2019-06-20 07:42] hendriksteinhorst commented on #469
same here, got the error after updating from 3.0.0.17-preview to 3.0.0.18-preview on dev ops build agent (hosted Ubuntu 1604)

[2019-06-20 15:06] j82w commented on #475
@wilcobmsft there has been a lot of changes to the SDK recently. Are you still seeing issues in the latest 3.0.0.18-preview?

[2019-06-20 15:08] j82w commented on #471
The SDK was treating null as the same as undefined. This is not a true statement. They are both supported and are different values.

1. Exposed a PartitionKey.Null value to all users to set null in the request options
2. Fixed the partition key extraction to treat undefined and null correctly

[2019-06-20 15:12] j82w commented on #466
@d1820 can you provide an example scenario you are trying to test so we can better understand the scenario? We've done a lot to make the v3 unit testable.

[2019-06-20 16:27] kirankumarkolli commented on #315
3.0.0.34-preview solves it.

[2019-06-20 16:27] #315 closed

[2019-06-20 16:36] wilcobmsft commented on #475
We should be on 18-preview sometime next week. From inspecting the code though, I can still see a blocking call made from DocumentClient.get_ConsistencyLevel which is undesirable. At a minimum it'd be great if we could for example explicitly set DesiredConsistencyLevel, and have it skip the call to EnsureValidClientAsync() in that case.

[2019-06-20 18:46] j82w opened #477 "Update unit/mock testing"
C:\azure-cosmos-dotnet-v3\Microsoft.Azure.Cosmos\src\Resource\Response.cs
 - Convert all virtual to abstract to make it a pure interface
- Public empty constructor -> protected empty constructor

RequestOptions
Remove virtual from all request options. All the methods are public get/set. No need for virtual.

[2019-06-20 19:49] BrianVallelunga commented on #469
I'm seeing the same issue when trying to publish to Azure. I get a FileNotFoundException. This works fine locally however, so it was a surprise.

Using: netcoreapp2.2
SDK Version: Microsoft.Azure.Cosmos 3.0.0.18-preview

[2019-06-20 20:01] fuocor commented on #469
Same problem running in xunit

[2019-06-20 21:06] #354 closed

[2019-06-20 21:06] #471 closed

[2019-06-21 11:07] fuocor commented on #475
there are other problems with 3.0.0.18-preview preventing a move.
It deadlocks when creating more than one CosmosClient as well as calling CreateDatabaseIfNotExistsAsync more than once (even if the other calls have completed)

[2019-06-21 11:37] fuocor commented on #475
This morning's (June 21) build from source seems to fix the problem

[2019-06-21 11:56] fuocor opened #479 "CosmosClientOptions constructor fails"
**Describe the bug**
```new CosmosClientOptions()``` throws
```System.MethodAccessException```
on
```this.UserAgentContainer = new UserAgentContainer()```

**Expected behavior**
Really should work

**Environment summary**
Library: 3.0.0.18-preview
SDK Version: 3.0.100-preview6-011767
OS Version  Windows 10

[2019-06-21 14:40] j82w commented on #479
@fuocor what framework are you using? I just checked .net core 2.0 and 2.1 it worked for me.

[2019-06-21 14:49] j82w commented on #475
@kirankumarkolli do you have any suggestions on fix this deadlock issue?

@fuocor all of our tests are [here](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos/tests) on GitHub. They run on every check-in. If you see any scenarios that are missing feel free to create a PR to add them. Can you please create an issue for any other problems that are blocking you.

[2019-06-21 14:51] j82w commented on #463
This is no longer needed because of https://github.com/Azure/azure-cosmos-dotnet-v3/issues/459

[2019-06-21 14:51] #463 closed

[2019-06-24 13:45] fabianmeyer opened #482 "LINQ-constructed document queries ignore Json annotations based on type constraint"
**Describe the bug**
When using LINQ to create document queries in a generic function with a constraint on the document's type parameter, the query generator ignores annotations on the concrete type. Specifically, the generator ignores Json serialization annotations on the properties, leading to incorrect queries.

**To Reproduce**

[code]

**Expected behavior**

Query generator should consider an

[2019-06-24 14:51] j82w commented on #482
The examples you provided are for v2 SDK. This seems to be a duplicate of https://github.com/Azure/azure-cosmos-dotnet-v2/issues/700. If it's not a duplicate please create a new issue under the v2 SDK repo.

I believe this is still an issue for v3 SDK, Please create a new issue with a v3 SDK samples.

[2019-06-24 14:51] #482 closed

[2019-06-24 15:20] j82w commented on #409
Partition Key currently only supports string, double, bool, null, and undefined.

We got a lot of feedback from users that object caused them a lot of issues.
- Confusion on what types were actually supported
- Lots of run time exceptions (invalid types, accidentally having request options passed into PK)

Having a generic struct will just cause the same confusion as object did.

We decided to go

[2019-06-25 07:24] fabianmeyer opened #484 "LINQ-constructed document queries ignore Json annotations based on type constraint"
**Describe the bug**
When using LINQ to create queries in a generic function with a constraint on the document's type parameter, the query generator ignores annotations on the concrete type. Specifically, the generator ignores Json serialization annotations on the properties, leading to incorrect queries.

**To Reproduce**

[code]

**Expected behavior**

Query generator should consider annotation

[2019-06-25 11:38] j82w commented on #484
This is an interesting problem. In v3 we allow a custom serializer. A lot of people have shown interest in using .NET core 3.0 system.text.json serializer because of the performance increase it has over Json.NET. Only option I see is if we added some support for a custom serializer for the property names.

@simplynaveen20 If we just assume the user is always using the default Json.NET implementati

[2019-06-25 11:53] #330 closed

[2019-06-25 12:05] fabianmeyer commented on #484
What seems weird to me is that the query builder behaves differently depending on the constraint on T. When the concrete type is used as constraint, the annotations are considered correctly. When the interface is used, the annotations are not considered. Even though T is the same concrete type in both cases and the annotations are present on T in both functions per reflection.

[2019-06-25 13:20] j82w commented on #484
The reason this is happening is the constraint on T causes everything to be down cast to ITest as the type. Based on the code right now we don't check for derived types. You can see the code [here](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/7c6a2c0829de17dbf8102050d8dc6b36cfbe8f2e/Microsoft.Azure.Cosmos/src/Linq/TypeSystem.cs#L24).

[2019-06-25 14:10] simplynaveen20 commented on #484
Will have a look to this POST GA

[2019-06-25 16:58] j82w opened #485 "Block multiple CosmosClient instance creations"
Applications should only create a single CosmosClient instance per an account. Creating new instances of causes all the caches to be reloaded, and cause other various performance issues.

Purposed solution:
Add a static hashset of account names that have a CosmosClient. If the user attempts to create a new CosmosClient and it already exists in the hashset it will throw an exception to the user. We

[2019-06-25 18:40] #475 closed

[2019-06-25 19:07] AndriySvyryd commented on #409
It can be a non-generic struct. Eventually the key value will need to be converted to a string. So as long as it's stored as a string there would be no boxing.

The latter is implementation detail so it can be fixed post RTM. But making `PartitionKey` a struct would be a breaking change, so it's best to do ASAP.

[2019-06-25 20:31] j82w commented on #409
Is your only issue that it is a class instead of a struct? Can you possibly provide an example just to make sure there is no misunderstanding?

PartitionKey get's converted to different values depending on the connection. For Direct Mode it actually get's converted into a hash, and for Gateway Mode it is a JSON string.

[2019-06-25 20:45] AndriySvyryd commented on #409
As I said there are two issues. One of them is that `PartitionKey` parameter in the public API is not a struct. I don't know what example would you like to see. The usage wouldn't change if it's made into a struct.

The other issue is that the value passed to the `PartitionKey` constructor is boxed when it's stored. This is a smaller issue as it only affects the value type overloads. Also this and

[2019-06-25 20:50] j82w commented on #409
The only problem I see with using a struct is Partition key has a limit of [2048 bytes](https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-item-limits), and it's not recommended to use a struct if the size is over [16 bytes](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/choosing-between-class-and-struct)

[2019-06-25 20:54] AndriySvyryd commented on #409
Oh you can just declare it as `readonly` and use an [`in` modifier](https://docs.microsoft.com/en-us/dotnet/csharp/write-safe-efficient-code) on the parameter to avoid defensive copying.

[2019-06-26 00:24] AndriySvyryd opened #486 "Use the correct MemberInfo for collection include"
Usually this should be `navigation.GetMemberInfo(forConstruction: true, forSet: true)`

[2019-06-26 13:11] #477 closed

[2019-06-26 15:07] ealsur commented on #486
@AndriySvyryd Could you specify where would you apply this change?

[2019-06-26 15:40] kirankumarkolli commented on #409
@AndriySvyryd thanks for the feedback.

PartitionKey as struct makes sense, it enables non--breaking optimization later.
Current cosmos wire contract is we could only avoid one object heap allocation.

Generic struct vs overloaded CTOR: Usability is one concern that needs attention for generic structs. We could explore using generic's as optimization underneath with overloaded CTOR as contract.

[2019-06-26 15:49] BrianVallelunga commented on #469
Is there a workaround for this? I'm surprised that the preview was released without working at all when hosted in Azure. Or perhaps it's a configuration setting of some sort?

[2019-06-26 15:55] ealsur commented on #469
@BrianVallelunga What is your deployment method? Our test pipeline runs on Azure DevOps, so we do restores on a daily basis of the Direct package.
Do you run Nuget restore as part of that pipeline? What is the Nuget version being used?

[2019-06-26 16:35] BrianVallelunga commented on #469
Currently I'm just right-click deploying from VS to an App Service. I was thinking maybe it's something to do with the App Service configuration. My `csproj` looks like this:

[code]

[2019-06-26 19:33] AndriySvyryd commented on #486
Sorry, wrong repo

[2019-06-26 19:33] #486 closed

[2019-06-26 20:53] d1820 commented on #466
ill try and get some time tonight to send over a test.. thanks

[2019-06-26 22:39] ealsur commented on #469
@BrianVallelunga  Are you deploying on App Service that uses Linux instances?

[2019-06-26 23:47] ealsur commented on #469
I created a NET Core 2.2 Web App and published to a Linux App Service, but I cannot seem to run into the issue.

[2019-06-27 01:23] BrianVallelunga commented on #469
@ealsur No, Windows. I'll retry everything tomorrow and see what happens. I even fully deleted the contents of the App Service directory to ensure no conflicting files.

[2019-06-27 02:18] BrianVallelunga commented on #469
The files that are showing as being deployed (besides my app's dlls) are as follows:

![image](https://user-images.githubusercontent.com/351190/60227224-89edff80-985c-11e9-87cd-e1686c13356a.png)

And the Microsoft.Azure.Cosmos.Direct file properties (that I manually downloaded from the deployment) are:

![image](https://user-images.githubusercontent.com/351190/60227262-b73aad80-985c-11e9-9888-8cb4

[2019-06-27 14:32] j82w opened #489 "Refactor/clean up query path"
Public contracts will not change with these changes

- FeedStatelessIteratorCore  -> FeedIteratorCore
- QueryExecutionContext implements FeedIterator
- Add query examples to comments

[2019-06-27 16:23] j82w commented on #466
@d1820 any chance this is in the v2 SDK? I just noticed that this is internal for v3.

[2019-06-27 16:34] d1820 commented on #466
Ugh, correct it was v2 sorry i thought we had completed our upgrade.

[2019-06-27 16:34] #466 closed

[2019-06-27 16:43] BrianVallelunga commented on #469
@ealsur I've attached a reproducible sample of a basic ASP.NET Core 2.2 project that shows the behavior when deployed to an Azure App Service, but not when debugging locally. It's basically File -> New Project with an injected CosmosDbService. Hitting the URL at /api/values will show the issue, which seems to happen in the in the CosmosDbService constructor on line 26.

[Cosmos3Test.zip](https://g

[2019-06-27 16:44] christopheranderson commented on #469
@ausfeldt will take a look at this. Thank you for a full code repro.

[2019-06-27 17:09] #459 closed

[2019-06-27 21:28] ealsur opened #491 "CFP Processor does not work on fixed lease containers"
Current CFP V2 supports Lease container to be fixed. If a user on V2 migrates to V3, we need to also support the possibility of fixed lease containers. The code was meant to support it but since migrated Fixed containers now have a system PK, it is not behaving as it should.

[2019-06-27 21:33] bartelink commented on #491
Apologies for butting in, but is there a place where 'fixed' is defined ? I'm interested to know also what the prescription is wrt how to create a valid lease collection. It seems that creating a collection interactively and setting `id` as the 'Partition Key' (which is mandatory) - just works.
related: https://github.com/Azure/azure-documentdb-changefeedprocessor-dotnet/issues/142

[2019-06-27 21:35] ealsur commented on #491
V3 SDK only creates partitioned collections. This bugfix is for when someone that was using V2 SDK already had a lease container, and was using V2 CFP, if they decide to migrate to V3, we should be able to handle that.
But if they start on V3, then all collections should be partitioned, in the case of the Leases, the requirement is that the PK is /id as you mention.

[2019-06-27 21:37] bartelink commented on #491
Ah, I see `CreateNonPartitionedContainer` in the PR now and assume _Fixed_ is an alias for `NonPartitioned`. I guess that makes the answer that the official correct way to generate a lease collection is to set partition key = `id` as you say

[2019-06-27 21:40] ealsur commented on #491
`CreateNonPartitionedContainer` is a helper we have in the UTs to force creating a fixed container for testing purposes, see: https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs#L1371

[2019-06-27 22:39] ealsur commented on #469
@BrianVallelunga @engbibi Was it working before updating to the latest version? If so, which is the version you were using before?

[2019-06-27 22:59] ausfeldt commented on #469
Seems prior version worked. Looking into it now.

[2019-06-28 00:34] sivethe opened #493 "System.ArgumentOutOfRangeException: Count cannot be less than zero. exception thrown by ResolveAddressAndIdentityAsyn"
**Describe the bug**
Randomly hitting Aggregate exceptions while querying CosmosDB Backend resource

**To Reproduce**
Intermittent issue.  Stack trace is in additional information

**Expected behavior**
Does not throw exception

**Actual behavior**
Provide a description of the actual behavior observed.

**Environment summary**
SDK Version:  3.0.0.16-preview3 /  3.0.0.31-preview
OS Version (e.g. Wi

[2019-06-28 00:39] sivethe opened #494 "System.IndexOutOfRangeException: Probable I/O race condition detected while copying memory. The I/O package is not thread safe by default. In multithreaded applications, a stream must be accessed in a thread-safe way, such as a thread-safe wrapper returned by TextReader's or TextWriter's Synchronized methods. This also applies to classes like StreamWriter and StreamReader."
**Describe the bug**
AggregateException thrown in ResourceThrottleRetryPolicy

**To Reproduce**
Intermittent issue

**Expected behavior**
No exception should be thrown

**Actual behavior**
Provide a description of the actual behavior observed.

**Environment summary**
SDK Version: 3.0.0.16-preview3 / 3.0.0.31-preview
OS Version (e.g. Windows, Linux, MacOSX):  Windows

**Additional context**
System

[2019-06-28 00:51] sivethe commented on #494
Issue is understood and related to TraceListeners configured outside of SDK

[2019-06-28 00:51] #494 closed

[2019-06-28 00:51] sivethe commented on #493
Issue is understood and related to TraceListeners configured outside of SDK

[2019-06-28 00:51] #493 closed

[2019-06-28 14:29] #300 closed

[2019-06-28 15:27] #409 closed

[2019-06-28 18:49] #491 closed

[2019-06-28 19:50] AndriySvyryd commented on #409
Should I open an issue to track further optimizations or you are tracking them elsewhere?

[2019-06-28 22:16] ealsur opened #502 "StandByFeedIterator with no StartTime"
When creating a `StandByFeedIterator` with no StartTime specified, the ContinuationToken that is returned is `null` for the range that was read, making so, if there are inserts after the first read, a second read won't find them.

[2019-06-29 00:35] MikeyMCZ commented on #469
3.0.0.17 version is working for me. I haven't checked 3.0.0.19.
I've noticed that the dll is removed during publish phase. Even locally if you do `dotnet publish` then the file is not in the output folder.

[2019-06-30 17:01] paul-shell commented on #469
This seems to be working again on 19 😊

[2019-07-02 16:21] FrankGagnon commented on #194
I'm still seeing the same problem with the latest packages.
Microsoft.Azure.Cosmos (3.0.0.19-preview)
Microsoft.Azure.Cosmos.Direct (3.0.0.34-preview)
Any updates on this problem?

[2019-07-02 22:48] bartelink opened #509 "Most efficient way to call stored proc with >1 arg including a large object"
I'm attempting to port some code from V2 to 3.0.0-rc1 and thought I'd ask here in order to get the most efficient approach for what's a heavy throughput call in our system.

The v2 code is as follows:

[code]
where `req, ev.index, maxEvents` are respectively a json.net serializable doc, an int and an it. The `req`, being an array of events etc can often be very large (i.e. heading for 1MB), so app

[2019-07-02 23:31] bartelink opened #510 "Provide ability to delete and/or otherwise force complete reset of ChangeFeedProcessor checkpoint"
**Is your feature request related to a problem? Please describe.**

As detailed in https://github.com/Azure/azure-documentdb-changefeedprocessor-dotnet/issues/123 there's no programmatic way provided in the API to force a restart of a CFP projection's lease data

**Describe the solution you'd like**

V1 used to expose a delete leases API - that would work work for use cases I'm aware of.

**Descri

[2019-07-03 22:13] j82w commented on #509
Unfortunately we are still working on documentation and sample for performance scenarios. We don't currently have any performance numbers.

If you are looking for performance then the stream methods are the best option.
1. No throwing and catching exceptions which is rather resource intensive. The stream methods only throw argument exceptions. The error message information is returned inside the r

[2019-07-03 22:52] #502 closed

[2019-07-03 23:06] #440 closed

[2019-07-03 23:53] kirankumarkolli opened #513 "Typed API throw on 404"
Currently 404 is not treated as failure and returns status code. Its causing confusion with proxy objects + CRUD operations resulting in success.

With stream API's we have the choice of non-exception API. Typed API throwing exceptions on 404 will help with V2 customers migration and also eases get-started scenarios as well.